Repository e-south/dnadesign: changes, and which Codecov flags are due for each by the changed paths.
All: core, external_integration, usr, notify, densegen, infer, opal, cluster, billboard, libshuffle, nmf, latdna, cruncher, tfkdanalysis, aligner, baserender, permuter

Improve promoter workflow discoverability
  README.md
  docs/README.md
  src/dnadesign/ops/catalog.py
  src/dnadesign/ops/tests/test_catalog_cli.py
  src/dnadesign/usr/docs/README.md
  src/dnadesign/usr/docs/README.tool-source.yaml
  src/dnadesign/usr/docs/operations/README.md
  src/dnadesign/usr/docs/operations/promoter-characterization-feature-matrix.md
  src/dnadesign/usr/docs/operations/promoter-characterization-feature-matrix.registry.yaml
  src/dnadesign/usr/docs/operations/promoter-evo2-journey.md
  src/dnadesign/usr/tests/test_usr_docs_contract.py
Due: core, external_integration, usr

Harden OPAL progress status reporting
  src/dnadesign/ops/progress.py
  src/dnadesign/ops/tests/test_progress_cli.py
Due: core, external_integration

Ops: degrade missing qstat probes explicitly
  docs/operations/README.md
  docs/operations/orchestration-runbooks.md
  docs/runbooks/README.md
  src/dnadesign/ops/cli.py
  src/dnadesign/ops/orchestrator/gates.py
  src/dnadesign/ops/orchestrator/plan.py
  src/dnadesign/ops/progress.py
  src/dnadesign/ops/tests/test_progress_cli.py
  src/dnadesign/ops/tests/test_runbook_orchestrator.py
  src/dnadesign/ops/tests/test_sge_gates.py
Due: core, external_integration

Ops: add task-first discovery and progress explain
  README.md
  docs/README.md
  docs/installation.md
  docs/operations/README.md
  docs/runbooks/README.md
  src/dnadesign/ops/README.md
  src/dnadesign/ops/cli.py
  src/dnadesign/ops/docs/README.md
  src/dnadesign/ops/docs/how-to-use-ops.md
  src/dnadesign/ops/progress.py
  src/dnadesign/ops/tests/test_catalog_cli.py
  src/dnadesign/ops/tests/test_ops_docs_progressive_disclosure_contracts.py
  src/dnadesign/ops/tests/test_progress_cli.py
Due: core, external_integration

Clean up top-level docs routing
  README.md
  docs/README.md
  src/dnadesign/ops/README.md
  src/dnadesign/ops/tests/test_ops_docs_progressive_disclosure_contracts.py
Due: core, external_integration

Add Python support badge
  README.md
Due: none

Fix Ops active-job watcher gating
  src/dnadesign/ops/orchestrator/plan.py
  src/dnadesign/ops/orchestrator/state.py
  src/dnadesign/ops/tests/test_runbook_orchestrator.py
Due: core, external_integration

Preflight infer preset dry runs
  src/dnadesign/infer/src/cli/commands/run.py
  src/dnadesign/infer/src/workspace.py
  src/dnadesign/infer/tests/cli/test_run_command_config_inputs.py
  src/dnadesign/infer/tests/cli/test_workspace_command.py
Due: core, external_integration, infer

Harden workspace shorthands and construct seed roots
  src/dnadesign/_contracts/__init__.py
  src/dnadesign/_contracts/construct_workspace.py
  src/dnadesign/construct/src/cli/commands/seed.py
  src/dnadesign/construct/src/seed.py
  src/dnadesign/construct/src/workspace.py
  src/dnadesign/construct/tests/cli/test_seed_command.py
  src/dnadesign/notify/profiles/workspace.py
  src/dnadesign/notify/tests/test_workspace_source.py
Due: core, external_integration, notify

Harden notify workspace shorthand resolution
  src/dnadesign/notify/profiles/workspace.py
  src/dnadesign/notify/tests/test_workspace_source.py
Due: core, external_integration, notify

Tighten docs routing language
  README.md
  docs/README.md
  docs/notify/README.md
  docs/notify/usr-events.md
  docs/operations/README.md
  docs/runbooks/README.md
  src/dnadesign/cluster/README.md
  src/dnadesign/cluster/docs/README.md
  src/dnadesign/cluster/docs/workflows/exploratory-clustering.md
  src/dnadesign/construct/docs/README.md
  src/dnadesign/infer/README.md
  src/dnadesign/infer/docs/reference/README.md
  src/dnadesign/notify/README.md
  src/dnadesign/notify/docs/README.md
  src/dnadesign/notify/tests/test_notify_docs_progressive_disclosure_contracts.py
  src/dnadesign/opal/docs/index.md
  src/dnadesign/ops/README.md
  src/dnadesign/ops/catalog.py
  src/dnadesign/ops/cli.py
  src/dnadesign/ops/docs/README.md
  src/dnadesign/ops/docs/how-to-use-ops.md
  src/dnadesign/ops/tests/test_ops_docs_progressive_disclosure_contracts.py
  src/dnadesign/usr/docs/README.md
  src/dnadesign/usr/docs/operations/README.md
  src/dnadesign/usr/docs/operations/promoter-evo2-journey.md
  src/dnadesign/usr/tests/test_usr_docs_contract.py
Due: core, external_integration, usr, notify, infer, opal, cluster

Trim self-referential routing docs
  docs/dev/README.md
  docs/notify/README.md
  docs/operations/README.md
  docs/runbooks/README.md
  src/dnadesign/infer/docs/README.md
  src/dnadesign/infer/tests/docs/test_information_architecture_contracts.py
  src/dnadesign/notify/docs/README.md
  src/dnadesign/notify/tests/test_notify_docs_progressive_disclosure_contracts.py
  src/dnadesign/ops/README.md
  src/dnadesign/ops/docs/README.md
  src/dnadesign/ops/tests/test_ops_docs_progressive_disclosure_contracts.py
Due: core, external_integration, notify, infer

Harden shared workflow docs and examples
  docs/README.md
  docs/notify/usr-events.md
  src/dnadesign/construct/README.md
  src/dnadesign/construct/docs/README.md
  src/dnadesign/densegen/README.md
  src/dnadesign/opal/docs/index.md
  src/dnadesign/usr/docs/README.md
  src/dnadesign/usr/docs/operations/README.md
  src/dnadesign/usr/docs/operations/construct-infer-source-of-truth-runbook.md
  src/dnadesign/usr/docs/operations/multi-source-source-of-truth-assembly.md
  src/dnadesign/usr/docs/operations/promoter-characterization-feature-matrix.md
  src/dnadesign/usr/docs/operations/promoter-evo2-journey.md
  src/dnadesign/usr/docs/operations/sync.md
  src/dnadesign/usr/docs/operations/workflow-map.md
  src/dnadesign/usr/tests/test_usr_docs_contract.py
Due: core, external_integration, usr, densegen, opal

Add tool-scoped workspace inventory
  src/dnadesign/cluster/README.md
  src/dnadesign/cluster/src/cli/app.py
  src/dnadesign/cluster/src/cli/subapps.py
  src/dnadesign/cluster/src/workspaces/__init__.py
  src/dnadesign/cluster/src/workspaces/paths.py
  src/dnadesign/cluster/tests/test_docs_contract.py
  src/dnadesign/cluster/tests/test_workspace_cli.py
  src/dnadesign/cluster/workspaces/README.md
  src/dnadesign/construct/src/cli/commands/workspace.py
  src/dnadesign/construct/src/workspace.py
  src/dnadesign/construct/tests/cli/test_workspace_command.py
  src/dnadesign/construct/tests/test_docs_contract.py
  src/dnadesign/construct/workspaces/README.md
  src/dnadesign/densegen/README.md
  src/dnadesign/densegen/src/cli/workspace.py
  src/dnadesign/densegen/src/cli/workspace_sources.py
  src/dnadesign/densegen/tests/cli/test_cli_workspace_init.py
  src/dnadesign/densegen/tests/docs/test_densegen_docs_ia_contracts.py
  src/dnadesign/densegen/workspaces/README.md
  src/dnadesign/infer/src/cli/commands/workspace.py
  src/dnadesign/infer/src/workspace.py
  src/dnadesign/infer/tests/cli/test_workspace_command.py
  src/dnadesign/infer/tests/docs/test_information_architecture_contracts.py
  src/dnadesign/infer/workspaces/README.md
Due: core, external_integration, densegen, infer, cluster

Tighten docs routing and runbook contracts
  docs/README.md
  docs/dev/README.md
  docs/notify/README.md
  docs/operations/README.md
  docs/runbooks/README.md
  src/dnadesign/ops/README.md
  src/dnadesign/ops/tests/test_ops_docs_progressive_disclosure_contracts.py
  src/dnadesign/usr/docs/operations/chained-densegen-infer-sync-runbook.md
  src/dnadesign/usr/docs/operations/construct-infer-source-of-truth-runbook.md
  src/dnadesign/usr/docs/operations/sync-fidelity-drills.md
  src/dnadesign/usr/tests/test_usr_docs_contract.py
Due: core, external_integration, usr

Clarify top-level docs entrypoints
  README.md
  docs/README.md
  src/dnadesign/cluster/tests/test_docs_contract.py
  src/dnadesign/cluster/workspaces/README.md
  src/dnadesign/densegen/README.md
  src/dnadesign/infer/docs/README.md
  src/dnadesign/opal/docs/workflows/usr-infer-x-active-learning.md
  src/dnadesign/usr/docs/operations/README.md
Due: core, external_integration, usr, densegen, infer, opal, cluster

Simplify runbook catalog docs language
  docs/operations/README.md
  docs/runbooks/README.md
  src/dnadesign/devtools/docs_checks.py
  src/dnadesign/devtools/tests/test_docs_checks.py
  src/dnadesign/ops/catalog.py
  src/dnadesign/ops/docs/README.md
  src/dnadesign/ops/docs/README.tool-source.yaml
  src/dnadesign/ops/docs/how-to-use-ops.md
  src/dnadesign/ops/tests/test_catalog_cli.py
  src/dnadesign/ops/tests/test_ops_docs_progressive_disclosure_contracts.py
  src/dnadesign/usr/docs/README.tool-source.yaml
  src/dnadesign/usr/tests/test_usr_docs_contract.py
Due: core, external_integration, usr

Rename shared-dataset handoff runbooks
  docs/README.md
  docs/notify/README.md
  docs/notify/usr-events.md
  docs/operations/README.md
  docs/runbooks/README.md
  src/dnadesign/construct/README.md
  src/dnadesign/construct/docs/README.md
  src/dnadesign/construct/docs/getting-started.md
  src/dnadesign/construct/docs/reference/outputs.md
  src/dnadesign/construct/docs/reference/template-contexts.md
  src/dnadesign/construct/tests/test_docs_contract.py
  src/dnadesign/construct/workspaces/README.md
  src/dnadesign/construct/workspaces/demo_promoter_swap_pdual10_source_of_truth/README.md
  src/dnadesign/construct/workspaces/demo_promoter_swap_pdual10_source_of_truth/runbook.md
  src/dnadesign/densegen/README.md
  src/dnadesign/densegen/docs/README.md
  src/dnadesign/densegen/docs/index.md
  src/dnadesign/densegen/tests/docs/test_densegen_docs_progressive_disclosure_contracts.py
  src/dnadesign/devtools/docs_checks.py
  src/dnadesign/infer/docs/README.md
  src/dnadesign/infer/docs/index.md
  src/dnadesign/infer/docs/operations/README.md
  src/dnadesign/infer/tests/docs/test_information_architecture_contracts.py
  src/dnadesign/notify/tests/test_notify_docs_progressive_disclosure_contracts.py
  src/dnadesign/ops/tests/test_ops_docs_progressive_disclosure_contracts.py
  src/dnadesign/usr/docs/README.md
  src/dnadesign/usr/docs/operations/README.md
  src/dnadesign/usr/docs/operations/construct-infer-shared-dataset-runbook.md
  src/dnadesign/usr/docs/operations/construct-infer-shared-dataset-runbook.registry.yaml
  src/dnadesign/usr/docs/operations/multi-source-shared-dataset-assembly.md
  src/dnadesign/usr/docs/operations/multi-source-shared-dataset-assembly.registry.yaml
  src/dnadesign/usr/docs/operations/promoter-characterization-feature-matrix.md
  src/dnadesign/usr/docs/operations/promoter-evo2-journey.md
  src/dnadesign/usr/docs/operations/workflow-map.md
  src/dnadesign/usr/tests/test_usr_docs_contract.py
Due: core, external_integration, usr, notify, densegen, infer

Refresh promoter-study terminology in docs
  docs/operations/orchestration-runbooks.md
  src/dnadesign/cluster/docs/concepts/ownership-boundary.md
  src/dnadesign/infer/README.md
  src/dnadesign/infer/docs/README.tool-source.yaml
  src/dnadesign/infer/docs/operations/evo2-promoter-features.md
  src/dnadesign/opal/docs/workflows/usr-infer-x-active-learning.md
  src/dnadesign/ops/README.md
  src/dnadesign/ops/tests/test_catalog_cli.py
Due: core, external_integration, infer, opal, cluster

Harden infer dry-run and feature bundle contracts
  src/dnadesign/infer/src/config.py
  src/dnadesign/infer/src/features/execution.py
  src/dnadesign/infer/src/features/export.py
  src/dnadesign/infer/src/resource_contracts.py
  src/dnadesign/infer/tests/cli/test_run_command_config_inputs.py
  src/dnadesign/infer/tests/cli/test_validate_command.py
  src/dnadesign/infer/tests/package/test_wrapper_contracts.py
  src/dnadesign/infer/tests/runtime/test_feature_bundle_execution.py
Due: core, external_integration, infer

Harden ops runbook preflight and packaged templates
  docs/bu-scc/jobs/densegen-analysis.qsub
  docs/bu-scc/jobs/evo2-gpu-infer.qsub
  pyproject.toml
  src/dnadesign/ops/cli.py
  src/dnadesign/ops/orchestrator/execute.py
  src/dnadesign/ops/orchestrator/mode_tools.py
  src/dnadesign/ops/orchestrator/plan_tools.py
  src/dnadesign/ops/orchestrator/state.py
  src/dnadesign/ops/orchestrator/usr_overlay_inputs.py
  src/dnadesign/ops/runbooks/runbook_paths.py
  src/dnadesign/ops/tests/test_catalog_cli.py
  src/dnadesign/ops/tests/test_mode_tools.py
  src/dnadesign/ops/tests/test_runbook_orchestrator.py
  src/dnadesign/ops/tests/test_sge_gates.py
Due: core, external_integration

Restore notify and USR compatibility aliases
  src/dnadesign/notify/events/source_builtin.py
  src/dnadesign/notify/profiles/workspace.py
  src/dnadesign/notify/tests/test_events_source.py
  src/dnadesign/notify/tests/test_workspace_source.py
  src/dnadesign/usr/src/merge_overlay_carry.py
  src/dnadesign/usr/tests/test_merge_overlay_carry.py
Due: core, external_integration, usr, notify

Allow cluster CLI params to override presets
  src/dnadesign/cluster/src/cli/resolution.py
  src/dnadesign/cluster/tests/test_cli_resolution.py
Due: core, external_integration, cluster

Add sync-aware promoter study records
  .agents/skills/promoter-study-status/SKILL.md
  AGENTS.md
  docs/README.md
  docs/operations/README.md
  docs/runbooks/README.md
  docs/studies/README.md
  docs/templates/README.md
  docs/templates/promoter-study-datasets.yaml
  docs/templates/promoter-study-status.md
  src/dnadesign/usr/AGENTS.md
  src/dnadesign/usr/docs/README.md
  src/dnadesign/usr/docs/operations/README.md
  src/dnadesign/usr/docs/operations/promoter-characterization-feature-matrix.md
  src/dnadesign/usr/docs/operations/promoter-evo2-journey.md
  src/dnadesign/usr/docs/operations/promoter-study-status-contract.md
  src/dnadesign/usr/tests/test_usr_docs_contract.py
Due: core, external_integration, usr

Fix infer GPU preflight and packaged qsub defaults
  pyproject.toml
  src/dnadesign/infer/src/resource_contracts.py
  src/dnadesign/infer/src/runtime/capacity_planner.py
  src/dnadesign/infer/tests/package/test_wrapper_contracts.py
  src/dnadesign/ops/runbooks/runbook_paths.py
  src/dnadesign/ops/runbooks/templates/densegen-analysis.qsub
  src/dnadesign/ops/runbooks/templates/densegen-cpu.qsub
  src/dnadesign/ops/runbooks/templates/evo2-gpu-infer.qsub
  src/dnadesign/ops/runbooks/templates/notify-watch.qsub
  src/dnadesign/ops/tests/test_catalog_cli.py
  src/dnadesign/ops/tests/test_runbook_orchestrator.py
Due: core, external_integration, infer

Guard packaged qsub template drift
  src/dnadesign/ops/tests/test_runbook_orchestrator.py
Due: core, external_integration

Add promoter study registry and active record
  .agents/skills/promoter-study-status/SKILL.md
  AGENTS.md
  docs/studies/README.md
  docs/studies/promoter/README.md
  docs/studies/promoter/index.yaml
  docs/studies/promoter/stress_ethanol_cipro_growth/audits/.gitkeep
  docs/studies/promoter/stress_ethanol_cipro_growth/campaign.yaml
  docs/studies/promoter/stress_ethanol_cipro_growth/datasets.yaml
  docs/studies/promoter/stress_ethanol_cipro_growth/status.md
  docs/templates/README.md
  docs/templates/promoter-study-datasets.yaml
  docs/templates/promoter-study-index.yaml
  docs/templates/promoter-study-status.md
  src/dnadesign/usr/AGENTS.md
  src/dnadesign/usr/docs/operations/promoter-study-status-contract.md
  src/dnadesign/usr/tests/test_usr_docs_contract.py
Due: core, external_integration, usr

Harden USR remote auth and sync status
  ARCHITECTURE.md
  DESIGN.md
  docs/README.md
  src/dnadesign/construct/workspaces/README.md
  src/dnadesign/infer/workspaces/README.md
  src/dnadesign/usr/datasets/README.md
  src/dnadesign/usr/docs/operations/chained-densegen-infer-sync-runbook.md
  src/dnadesign/usr/docs/operations/construct-infer-shared-dataset-runbook.md
  src/dnadesign/usr/docs/operations/hpc-agent-sync-flow.md
  src/dnadesign/usr/docs/operations/multi-source-shared-dataset-assembly.md
  src/dnadesign/usr/docs/operations/promoter-characterization-feature-matrix.md
  src/dnadesign/usr/docs/operations/sync-modes.md
  src/dnadesign/usr/docs/operations/sync-quickstart.md
  src/dnadesign/usr/docs/operations/sync-setup.md
  src/dnadesign/usr/docs/operations/sync-troubleshooting.md
  src/dnadesign/usr/remotes.yaml
  src/dnadesign/usr/skills/bu-scc-usr-sync/SKILL.md
  src/dnadesign/usr/src/cli.py
  src/dnadesign/usr/src/cli_bindings.py
  src/dnadesign/usr/src/cli_commands/remotes.py
  src/dnadesign/usr/src/cli_commands/remotes_cli.py
  src/dnadesign/usr/src/remote.py
  src/dnadesign/usr/tests/test_cli_remotes_module_layout.py
  src/dnadesign/usr/tests/test_cli_remotes_wizard.py
  src/dnadesign/usr/tests/test_remote_control_session.py
  src/dnadesign/usr/tests/test_remote_transport_failures.py
  src/dnadesign/usr/tests/test_usr_docs_contract.py
Due: core, external_integration, usr, infer

Route DenseGen USR workspaces to shared root
  src/dnadesign/densegen/docs/concepts/outputs-and-metadata.md
  src/dnadesign/densegen/docs/concepts/pipeline-lifecycle.md
  src/dnadesign/densegen/docs/concepts/quick-checklist.md
  src/dnadesign/densegen/docs/reference/cli.md
  src/dnadesign/densegen/docs/reference/config.md
  src/dnadesign/densegen/docs/reference/outputs.md
  src/dnadesign/densegen/docs/tutorials/demo_sampling_baseline.md
  src/dnadesign/densegen/docs/tutorials/demo_usr_notify.md
  src/dnadesign/densegen/docs/tutorials/study_constitutive_sigma_panel.md
  src/dnadesign/densegen/docs/tutorials/study_stress_ethanol_cipro.md
  src/dnadesign/densegen/src/adapters/outputs/factory.py
  src/dnadesign/densegen/src/adapters/outputs/loader.py
  src/dnadesign/densegen/src/cli/inspect.py
  src/dnadesign/densegen/src/cli/notebook.py
  src/dnadesign/densegen/src/cli/run.py
  src/dnadesign/densegen/src/cli/workspace.py
  src/dnadesign/densegen/src/config/__init__.py
  src/dnadesign/densegen/src/config/base.py
  src/dnadesign/densegen/src/config/root.py
  src/dnadesign/densegen/src/core/pipeline/orchestrator.py
  src/dnadesign/densegen/src/core/reporting_data.py
  src/dnadesign/densegen/tests/cli/test_cli_inspect_run_paths.py
  src/dnadesign/densegen/tests/cli/test_cli_report_plots.py
  src/dnadesign/densegen/tests/cli/test_cli_run_modes.py
  src/dnadesign/densegen/tests/cli/test_cli_workspace_init.py
  src/dnadesign/densegen/tests/config/test_config_strict.py
  src/dnadesign/densegen/tests/config/test_demo_config.py
  src/dnadesign/densegen/tests/docs/test_workspace_runbook_contracts.py
  src/dnadesign/densegen/tests/plotting/test_plot_manifest.py
  src/dnadesign/densegen/tests/reporting/test_reporting_library_summary_outputs.py
  src/dnadesign/densegen/workspaces/README.md
  src/dnadesign/densegen/workspaces/_shared/workspace_runbook_flow.sh
  src/dnadesign/densegen/workspaces/demo_sampling_baseline/config.yaml
  src/dnadesign/densegen/workspaces/demo_sampling_baseline/runbook.md
  src/dnadesign/densegen/workspaces/study_constitutive_sigma_panel/config.yaml
  src/dnadesign/densegen/workspaces/study_constitutive_sigma_panel/runbook.md
  src/dnadesign/densegen/workspaces/study_stress_ethanol_cipro/README.md
  src/dnadesign/densegen/workspaces/study_stress_ethanol_cipro/config.yaml
  src/dnadesign/densegen/workspaces/study_stress_ethanol_cipro/runbook.md
Due: core, external_integration, densegen

Harden DenseGen shared USR root contracts
  src/dnadesign/_contracts/densegen_usr_output.py
  src/dnadesign/densegen/src/cli/workspace.py
  src/dnadesign/densegen/tests/cli/test_cli_workspace_init.py
  src/dnadesign/ops/orchestrator/usr_overlay_inputs.py
  src/dnadesign/ops/tests/test_densegen_usr_contract_sharing.py
Due: core, external_integration, densegen

Clean docs routing for study and remotes config
  docs/README.md
  src/dnadesign/densegen/README.md
  src/dnadesign/densegen/docs/reference/cli.md
  src/dnadesign/usr/AGENTS.md
  src/dnadesign/usr/docs/operations/sync-setup.md
  src/dnadesign/usr/skills/bu-scc-usr-sync/SKILL.md
  src/dnadesign/usr/tests/test_usr_docs_contract.py
Due: core, external_integration, usr, densegen

Tighten study and workflow docs language
  README.md
  docs/README.md
  docs/operations/README.md
  docs/runbooks/README.md
  docs/studies/README.md
  docs/studies/promoter/README.md
  docs/studies/promoter/index.yaml
  docs/templates/promoter-study-index.yaml
  docs/templates/promoter-study-status.md
  src/dnadesign/cluster/README.md
  src/dnadesign/cluster/docs/README.md
  src/dnadesign/cluster/docs/README.tool-source.yaml
  src/dnadesign/cluster/docs/concepts/ownership-boundary.md
  src/dnadesign/cluster/docs/reference/cli-contracts.md
  src/dnadesign/cluster/docs/workflows/exploratory-clustering.md
  src/dnadesign/cluster/docs/workflows/exploratory-clustering.registry.yaml
  src/dnadesign/construct/workspaces/README.md
  src/dnadesign/infer/docs/README.md
  src/dnadesign/usr/docs/README.md
  src/dnadesign/usr/docs/operations/README.md
  src/dnadesign/usr/docs/operations/chained-densegen-infer-sync-runbook.md
  src/dnadesign/usr/docs/operations/hpc-agent-sync-flow.md
  src/dnadesign/usr/docs/operations/promoter-evo2-journey.md
  src/dnadesign/usr/docs/operations/promoter-study-status-contract.md
Due: core, external_integration, usr, infer, cluster

Harden cluster workspace inventory and qsub env exports
  src/dnadesign/cluster/src/workspaces/paths.py
  src/dnadesign/cluster/tests/test_workspace_cli.py
  src/dnadesign/ops/orchestrator/plan.py
  src/dnadesign/ops/orchestrator/plan_tools.py
  src/dnadesign/ops/tests/test_runbook_orchestrator.py
Due: core, external_integration, cluster

Honor external DenseGen roots in notify shorthand
  src/dnadesign/notify/profiles/workspace.py
  src/dnadesign/notify/tests/test_workspace_source.py
Due: core, external_integration, notify

Fix CI regressions in docs and guard contracts
  src/dnadesign/cluster/README.md
  src/dnadesign/infer/docs/README.md
  src/dnadesign/infer/tests/cli/test_presets.py
  src/dnadesign/notify/tests/test_events_source.py
  src/dnadesign/ops/orchestrator/usr_overlay_inputs.py
  src/dnadesign/ops/tests/test_catalog_cli.py
Due: core, external_integration, notify, infer, cluster

Fix overlay catalog cache for reserved namespaces
  src/dnadesign/usr/src/dataset_overlay_catalog.py
  src/dnadesign/usr/tests/test_overlays.py
Due: core, external_integration, usr

Reject clipped construct anchor windows
  src/dnadesign/construct/docs/reference/outputs.md
  src/dnadesign/construct/docs/reference/template-contexts.md
  src/dnadesign/construct/src/runtime.py
  src/dnadesign/construct/tests/runtime/test_run_construct.py
Due: core, external_integration

Enforce cross-tool public API boundaries
  docs/bu-scc/jobs/densegen-analysis.qsub
  src/dnadesign/densegen/tests/docs/test_bu_scc_docs_contracts.py
  src/dnadesign/devtools/architecture_boundaries.py
  src/dnadesign/devtools/tests/test_architecture_boundaries.py
  src/dnadesign/ops/runbooks/templates/densegen-analysis.qsub
Due: core, external_integration, densegen

Respect DenseGen USR contracts in ops resume probes
  src/dnadesign/ops/orchestrator/mode_tools.py
  src/dnadesign/ops/orchestrator/state.py
  src/dnadesign/ops/tests/test_runbook_orchestrator.py
Due: core, external_integration

Path conditions:
  core: any of: src/dnadesign
  external_integration: any of: src/dnadesign
  usr: any of: src/dnadesign/usr/**
  notify: any of: src/dnadesign/notify/**
  densegen: any of: src/dnadesign/densegen/**
  infer: any of: src/dnadesign/infer/**
  opal: any of: src/dnadesign/opal/**
  cluster: any of: src/dnadesign/cluster/**
  billboard: any of: src/dnadesign/billboard/**
  libshuffle: any of: src/dnadesign/libshuffle/**
  nmf: any of: src/dnadesign/nmf/**
  latdna: any of: src/dnadesign/latdna/**
  cruncher: any of: src/dnadesign/cruncher/**
  tfkdanalysis: any of: src/dnadesign/tfkdanalysis/**
  aligner: any of: src/dnadesign/aligner/**
  baserender: any of: src/dnadesign/baserender/**
  permuter: any of: src/dnadesign/permuter/**
