Repository e-south/dnadesign: changes, and which Codecov flags are due for each by the changed paths.
All: core, external_integration, usr, notify, densegen, infer, opal, cluster, billboard, libshuffle, nmf, latdna, cruncher, tfkdanalysis, aligner, baserender, permuter

codecov.yml:

codecov:
  require_ci_to_pass: true

coverage:
  precision: 2
  round: down
  range: "0...100"
  status:
    project:
      default:
        target: auto
        threshold: 0.5%
        if_ci_failed: error
        if_not_found: failure
    patch:
      default:
        target: auto
        threshold: 0.5%
        if_ci_failed: error
        if_not_found: failure

flags:
  core:
    paths:
      - src/dnadesign
    carryforward: false
  external_integration:
    paths:
      - src/dnadesign
    carryforward: false

component_management:
  default_rules:
    statuses:
      - type: project
        target: auto
        threshold: 0.5%
        if_ci_failed: error
        if_not_found: failure
  individual_components:
    - component_id: usr
      name: usr
      paths:
        - src/dnadesign/usr/**
    - component_id: notify
      name: notify
      paths:
        - src/dnadesign/notify/**
    - component_id: densegen
      name: densegen
      paths:
        - src/dnadesign/densegen/**
    - component_id: infer
      name: infer
      paths:
        - src/dnadesign/infer/**
    - component_id: opal
      name: opal
      paths:
        - src/dnadesign/opal/**
    - component_id: cluster
      name: cluster
      paths:
        - src/dnadesign/cluster/**
    - component_id: billboard
      name: billboard
      paths:
        - src/dnadesign/billboard/**
    - component_id: libshuffle
      name: libshuffle
      paths:
        - src/dnadesign/libshuffle/**
    - component_id: nmf
      name: nmf
      paths:
        - src/dnadesign/nmf/**
    - component_id: latdna
      name: latdna
      paths:
        - src/dnadesign/latdna/**
    - component_id: cruncher
      name: cruncher
      paths:
        - src/dnadesign/cruncher/**
    - component_id: tfkdanalysis
      name: tfkdanalysis
      paths:
        - src/dnadesign/tfkdanalysis/**
    - component_id: aligner
      name: aligner
      paths:
        - src/dnadesign/aligner/**
    - component_id: baserender
      name: baserender
      paths:
        - src/dnadesign/baserender/**
    - component_id: permuter
      name: permuter
      paths:
        - src/dnadesign/permuter/**

comment:
  require_changes: true
  layout: "reach,diff,flags,components,files"

github_checks:
  annotations: true

Use deterministic DenseGen stall clocks
  src/dnadesign/densegen/tests/runtime/test_round_robin_chunk_cap.py
Due: core, external_integration, densegen

Close DenseGen Stage A test figures
  src/dnadesign/densegen/tests/stage_a/test_stage_a_strata_overview_plot.py
  src/dnadesign/densegen/tests/stage_a/test_stage_a_yield_bias_plot.py
Due: core, external_integration, densegen

Trim redundant DenseGen qsub replay
  src/dnadesign/densegen/tests/runtime/test_hpc_densegen_cpu_qsub.py
Due: core, external_integration, densegen

Speed up and harden Cruncher tests
  src/dnadesign/cruncher/tests/analysis/test_analysis_artifacts.py
  src/dnadesign/cruncher/tests/app/test_end_to_end_demo.py
  src/dnadesign/cruncher/tests/conftest.py
Due: core, external_integration, cruncher

Make documentation freshness change-aware
  src/dnadesign/devtools/docs/checks.py
  src/dnadesign/devtools/docs/freshness.py
  src/dnadesign/devtools/docs/metadata.py
  src/dnadesign/devtools/tests/docs/test_checks.py
  src/dnadesign/devtools/tests/docs/test_freshness.py
Due: core, external_integration

Reduce routine CI and entropy compute
  .github/workflows/ci.yaml
  .github/workflows/quality-entropy.yaml
  docs/quality/README.md
  src/dnadesign/devtools/quality/entropy.py
  src/dnadesign/devtools/tests/ci/test_workflow_contract.py
  src/dnadesign/devtools/tests/quality/test_entropy.py
Due: core, external_integration

Preserve coverage in scoped CI runs
  src/dnadesign/devtools/ci/changes.py
  src/dnadesign/devtools/ci/test_targets.py
  src/dnadesign/devtools/tests/ci/test_changes.py
  src/dnadesign/devtools/tests/ci/test_test_targets.py
Due: core, external_integration

Trim Cruncher grid test artifacts
  src/dnadesign/cruncher/tests/study/test_study_grid_and_preflight.py
Due: core, external_integration, cruncher

Merge duplicate Cruncher progress smoke runs
  src/dnadesign/cruncher/tests/study/test_study_run_smoke.py
Due: core, external_integration, cruncher

Limit redundant portfolio smoke plots
  src/dnadesign/cruncher/tests/portfolio/test_portfolio_run_smoke.py
Due: core, external_integration, cruncher

Use sysmon coverage tracing in CI
  .github/workflows/ci.yaml
  src/dnadesign/devtools/tests/ci/test_workflow_contract.py
Due: core, external_integration

Normalize OPAL and Thread module contracts
  src/dnadesign/opal/api/response_magnitude_feasibility.py
  src/dnadesign/opal/src/analysis/ledger/prediction_scope.py
  src/dnadesign/opal/src/analysis/notebook_components/reader_promoter_evidence.py
  src/dnadesign/opal/src/analysis/notebook_components/selection_batch.py
  src/dnadesign/opal/src/analysis/notebook_components/selection_batch_panel.py
  src/dnadesign/opal/src/analysis/notebook_components/selection_overlap_data.py
  src/dnadesign/opal/src/analysis/notebook_components/visual_panel_collection.py
  src/dnadesign/opal/src/analysis/notebook_set_template/visual_selector_cells.py
  src/dnadesign/opal/src/cli/commands/objective_meta.py
  src/dnadesign/opal/src/cli/commands/selection_batch.py
  src/dnadesign/opal/src/objectives/response_magnitude_feasibility_math.py
  src/dnadesign/opal/src/objectives/response_magnitude_feasibility_v1.py
  src/dnadesign/opal/src/plots/response_magnitude_feasibility.py
  src/dnadesign/opal/src/plots/response_magnitude_feasibility_data.py
  src/dnadesign/opal/src/reporting/selection_set.py
  src/dnadesign/opal/src/runtime/round/stages/selection.py
  src/dnadesign/opal/src/runtime/round/stages/selection_types.py
  src/dnadesign/opal/tests/analysis/test_analysis_ledger_setpoint.py
  src/dnadesign/opal/tests/analysis/test_reader_promoter_evidence.py
  src/dnadesign/opal/tests/analysis/test_selection_view_predictions.py
  src/dnadesign/opal/tests/cli/test_cli_selection_set.py
  src/dnadesign/opal/tests/cli/test_verify_outputs.py
  src/dnadesign/opal/tests/config/test_config_resolve.py
  src/dnadesign/opal/tests/config/test_config_selection_view_plugins.py
  src/dnadesign/opal/tests/config/test_config_selection_views_v3.py
  src/dnadesign/opal/tests/objectives/test_objective_response_magnitude_feasibility_v1.py
  src/dnadesign/opal/tests/objectives/test_sfxi_uncertainty_hardening.py
  src/dnadesign/opal/tests/plots/test_response_magnitude_feasibility_plots.py
  src/dnadesign/opal/tests/runtime/test_selection_views.py
  src/dnadesign/opal/tests/storage/test_ledger_dataset_writes.py
  src/dnadesign/thread/structure_views/nucleic_geometry.py
  src/dnadesign/thread/structure_views/styles.py
  src/dnadesign/thread/tests/test_package_layout.py
Due: core, external_integration, opal

Align status tests with current OPAL contracts
  src/dnadesign/latentdna/tests/test_docs_contract.py
  src/dnadesign/ops/tests/test_progress_cli.py
Due: core, external_integration

Align Eco1 package and test contracts
  src/dnadesign/studies/units/eco1_rt_repack/operations/materialization/review_deliverables/mask_structure_browser.py
  src/dnadesign/studies/units/eco1_rt_repack/operations/materialization/review_deliverables/pipeline.py
  src/dnadesign/studies/units/eco1_rt_repack/tests/architecture/test_materialization_package_layout.py
  src/dnadesign/studies/units/eco1_rt_repack/tests/architecture/test_package_layout.py
  src/dnadesign/studies/units/eco1_rt_repack/tests/architecture/test_review_deliverables_package_layout.py
  src/dnadesign/studies/units/eco1_rt_repack/tests/architecture/test_selection_materialization_layout.py
  src/dnadesign/studies/units/eco1_rt_repack/tests/materialization/review_deliverables/test_communication_design_space_map.py
  src/dnadesign/studies/units/eco1_rt_repack/tests/materialization/review_deliverables/test_communication_visuals.py
  src/dnadesign/studies/units/eco1_rt_repack/tests/materialization/review_deliverables/test_mask_structure_browser.py
  src/dnadesign/studies/units/eco1_rt_repack/tests/materialization/review_deliverables/test_mask_structure_browser_annotations.py
  src/dnadesign/studies/units/eco1_rt_repack/tests/materialization/review_deliverables/test_structure_story_chimerax.py
  src/dnadesign/studies/units/eco1_rt_repack/tests/materialization/review_deliverables/test_structure_story_chimerax_reuse.py
  src/dnadesign/studies/units/eco1_rt_repack/tests/materialization/selection_readiness/_candidate_fixtures.py
  src/dnadesign/studies/units/eco1_rt_repack/tests/materialization/selection_readiness/_fixtures.py
  src/dnadesign/studies/units/eco1_rt_repack/tests/materialization/selection_readiness/_selection_manifest_artifact_assertions.py
  src/dnadesign/studies/units/eco1_rt_repack/tests/materialization/selection_readiness/_selection_manifest_assertions.py
  src/dnadesign/studies/units/eco1_rt_repack/tests/materialization/selection_readiness/_selection_manifest_summary_assertions.py
  src/dnadesign/studies/units/eco1_rt_repack/tests/materialization/selection_readiness/test_sequence_export_contract.py
  src/dnadesign/studies/units/eco1_rt_repack/tests/materialization/twist_handoff/_fixtures.py
  src/dnadesign/studies/units/eco1_rt_repack/tests/materialization/twist_handoff/test_materialization.py
Due: core, external_integration

Make documentation verification change-aware
  QUALITY_SCORE.md
  docs/dev/README.md
  docs/dev/journal.md
  src/dnadesign/devtools/docs/checks.py
  src/dnadesign/devtools/tests/docs/test_checks.py
Due: core, external_integration

Align LatentDNA status assertions
  src/dnadesign/latentdna/tests/test_docs_contract.py
Due: core, external_integration

Extract Eco1 structure display fixtures
  src/dnadesign/studies/units/eco1_rt_repack/tests/materialization/review_deliverables/runtime_fixtures.py
  src/dnadesign/studies/units/eco1_rt_repack/tests/materialization/review_deliverables/test_notebook_dropdown_runtime.py
Due: core, external_integration

Use direct generation-policy terminology
  src/dnadesign/studies/units/eco1_rt_repack/operations/materialization/generation_policies/config.py
  src/dnadesign/studies/units/eco1_rt_repack/operations/materialization/generation_policies/manifest_io.py
  src/dnadesign/studies/units/eco1_rt_repack/operations/materialization/selection_readiness/selection_policy_context.py
  src/dnadesign/studies/units/eco1_rt_repack/tests/materialization/generation_policies/test_policy_manifests.py
  src/dnadesign/studies/units/eco1_rt_repack/tests/materialization/generation_policies/test_request_materialization.py
  src/dnadesign/studies/units/eco1_rt_repack/tests/materialization/selection_readiness/test_selection_policy_context.py
Due: core, external_integration

Remove self-referential evidence wording
  src/dnadesign/opal/docs/maintainers/journal.md
  src/dnadesign/studies/units/stress_ethanol_cipro_growth/tests/decision/opal/batch0/test_opal_batch0.py
Due: core, external_integration, opal

Load configured OPAL candidate metadata explicitly
  src/dnadesign/opal/docs/reference/configuration.md
  src/dnadesign/opal/src/cli/commands/run.py
  src/dnadesign/opal/src/cli/commands/validate.py
  src/dnadesign/opal/src/core/leakage.py
  src/dnadesign/opal/src/eligibility/restriction_sites.py
  src/dnadesign/opal/src/registries/eligibility.py
  src/dnadesign/opal/src/runtime/round_plan.py
  src/dnadesign/opal/src/storage/data_access.py
  src/dnadesign/opal/tests/cli/test_cli_workflows.py
  src/dnadesign/opal/tests/eligibility/test_restriction_site_eligibility.py
Due: core, external_integration, opal

Describe released-target defaults directly
  src/dnadesign/cruncher/src/cli/commands/snapback.py
Due: core, external_integration, cruncher

State stress-study contracts directly
  docs/studies/stress_ethanol_cipro_growth/contexts/opal/response-metastudy.md
  docs/studies/stress_ethanol_cipro_growth/operations/contract/readiness/checks/infer_batch_preparation/README.md
  docs/studies/stress_ethanol_cipro_growth/routes/compute/infer.md
  src/dnadesign/studies/units/stress_ethanol_cipro_growth/decision/opal/response_metastudy/README.md
  src/dnadesign/studies/units/stress_ethanol_cipro_growth/decision/opal/response_metastudy/reporting/report.py
  src/dnadesign/studies/units/stress_ethanol_cipro_growth/promoter_candidate_bindings/source_io.py
  src/dnadesign/studies/units/stress_ethanol_cipro_growth/tests/decision/opal/test_source_tree_contracts.py
  src/dnadesign/studies/units/stress_ethanol_cipro_growth/tests/promoter_candidate_bindings/test_architecture.py
Due: core, external_integration

Normalize styled OPAL CLI test output
  src/dnadesign/opal/tests/cli/test_cli_workflows.py
  src/dnadesign/opal/tests/cli/test_verify_outputs.py
Due: core, external_integration, opal

Gate unmaterialized SFXI repository smoke tests
  src/dnadesign/studies/units/stress_ethanol_cipro_growth/tests/decision/opal/response_metastudy/test_loading.py
Due: core, external_integration

Centralize stress promoter identity and source evidence
  .gitignore
  docs/exec-plans/active/2026-06-17-stress-opal-synthesis-handoff.md
  docs/studies/stress_ethanol_cipro_growth/contexts/opal/candidate-table.md
  docs/studies/stress_ethanol_cipro_growth/contexts/opal/sfxi-round0-source-evidence.md
  docs/studies/stress_ethanol_cipro_growth/record/synthesis_handoffs.yaml
  src/dnadesign/studies/units/stress_ethanol_cipro_growth/decision/opal/source_evidence.py
  src/dnadesign/studies/units/stress_ethanol_cipro_growth/decision/opal/synthesis_handoff/README.md
  src/dnadesign/studies/units/stress_ethanol_cipro_growth/decision/opal/synthesis_handoff/__init__.py
  src/dnadesign/studies/units/stress_ethanol_cipro_growth/decision/opal/synthesis_handoff/azenta.py
  src/dnadesign/studies/units/stress_ethanol_cipro_growth/decision/opal/synthesis_handoff/cli.py
  src/dnadesign/studies/units/stress_ethanol_cipro_growth/decision/opal/synthesis_handoff/exports.py
  src/dnadesign/studies/units/stress_ethanol_cipro_growth/decision/opal/synthesis_handoff/genbank.py
  src/dnadesign/studies/units/stress_ethanol_cipro_growth/promoter_candidate_bindings/README.md
  src/dnadesign/studies/units/stress_ethanol_cipro_growth/promoter_candidate_bindings/__init__.py
  src/dnadesign/studies/units/stress_ethanol_cipro_growth/promoter_candidate_bindings/loading.py
  src/dnadesign/studies/units/stress_ethanol_cipro_growth/tests/decision/opal/batch0/test_opal_batch0.py
  src/dnadesign/studies/units/stress_ethanol_cipro_growth/tests/decision/opal/synthesis_handoff/test_synthesis_handoff_contracts.py
  src/dnadesign/studies/units/stress_ethanol_cipro_growth/tests/decision/opal/test_source_tree_contracts.py
  src/dnadesign/studies/units/stress_ethanol_cipro_growth/tests/promoter_candidate_bindings/test_artifact.py
Due: core, external_integration

Harden RMF label promotion and exact selection
  docs/studies/stress_ethanol_cipro_growth/record/status.md
  docs/studies/stress_ethanol_cipro_growth/routes/decision/opal/README.md
  docs/studies/stress_ethanol_cipro_growth/routes/decision/opal/campaign-commands.md
  src/dnadesign/opal/campaigns/README.md
  src/dnadesign/opal/campaigns/secg_rmf_greedy/configs/campaign.yaml
  src/dnadesign/opal/docs/concepts/architecture.md
  src/dnadesign/opal/docs/plugins/objectives/README.md
  src/dnadesign/opal/docs/plugins/objectives/response-magnitude-feasibility.md
  src/dnadesign/opal/docs/plugins/objectives/sfxi.md
  src/dnadesign/opal/docs/plugins/selection/README.md
  src/dnadesign/opal/docs/reference/cli.md
  src/dnadesign/opal/docs/reference/configuration.md
  src/dnadesign/opal/docs/reference/data-contracts.md
  src/dnadesign/opal/src/cli/commands/validate.py
  src/dnadesign/opal/src/config/loader.py
  src/dnadesign/opal/src/config/plugin_schemas.py
  src/dnadesign/opal/src/config/types.py
  src/dnadesign/opal/src/core/selection_contracts.py
  src/dnadesign/opal/src/runtime/round/stages/selection.py
  src/dnadesign/opal/src/storage/label_sources.py
  src/dnadesign/opal/src/storage/observed_label_promotion.py
  src/dnadesign/opal/tests/cli/test_cli_ingest_shared_label_source.py
  src/dnadesign/opal/tests/config/test_config_manifest_pinned_labels.py
  src/dnadesign/opal/tests/runtime/test_selection_views.py
  src/dnadesign/opal/tests/selection/test_selection_contracts.py
  src/dnadesign/opal/tests/storage/test_observed_label_promotion.py
  src/dnadesign/opal/tests/storage/test_observed_label_store.py
Due: core, external_integration, opal

Describe OPAL selection independently of objectives
  src/dnadesign/opal/docs/plugins/selection/README.md
Due: core, external_integration, opal

fix(opal): align zero-margin feasibility diagnostics
  src/dnadesign/studies/units/stress_ethanol_cipro_growth/decision/opal/response_metastudy/evaluation/response_magnitude.py
  src/dnadesign/studies/units/stress_ethanol_cipro_growth/tests/decision/opal/response_metastudy/test_response_magnitude.py
Due: core, external_integration

fix(opal): surface campaign evidence blockers
  src/dnadesign/opal/src/analysis/notebook_components/overview.py
  src/dnadesign/opal/src/analysis/notebook_set_template/campaign_cells.py
  src/dnadesign/opal/src/reporting/notebook.py
  src/dnadesign/opal/tests/notebooks/test_notebook_template.py
  src/dnadesign/opal/tests/reporting/test_notebook.py
Due: core, external_integration, opal

fix(study): harden RMF evidence contracts
  src/dnadesign/opal/campaigns/secg_rmf_greedy/configs/campaign.yaml
  src/dnadesign/studies/units/stress_ethanol_cipro_growth/decision/opal/response_metastudy/README.md
  src/dnadesign/studies/units/stress_ethanol_cipro_growth/decision/opal/response_metastudy/config/response_model_screen_selection.yaml
  src/dnadesign/studies/units/stress_ethanol_cipro_growth/decision/opal/response_metastudy/core/contracts.py
  src/dnadesign/studies/units/stress_ethanol_cipro_growth/decision/opal/response_metastudy/reporting/plot_definitions.py
  src/dnadesign/studies/units/stress_ethanol_cipro_growth/decision/opal/response_metastudy/reporting/response_assay_plots.py
  src/dnadesign/studies/units/stress_ethanol_cipro_growth/decision/opal/response_metastudy/runtime/audit.py
  src/dnadesign/studies/units/stress_ethanol_cipro_growth/decision/opal/response_metastudy/runtime/campaign_calibration.py
  src/dnadesign/studies/units/stress_ethanol_cipro_growth/decision/opal/response_metastudy/runtime/candidate_identity.py
  src/dnadesign/studies/units/stress_ethanol_cipro_growth/decision/opal/response_metastudy/runtime/loading.py
  src/dnadesign/studies/units/stress_ethanol_cipro_growth/decision/opal/response_metastudy/runtime/manifest.py
  src/dnadesign/studies/units/stress_ethanol_cipro_growth/decision/opal/response_metastudy/runtime/measurement_selection.py
  src/dnadesign/studies/units/stress_ethanol_cipro_growth/decision/opal/response_metastudy/runtime/response_screen.py
  src/dnadesign/studies/units/stress_ethanol_cipro_growth/tests/decision/opal/response_metastudy/test_architecture.py
  src/dnadesign/studies/units/stress_ethanol_cipro_growth/tests/decision/opal/response_metastudy/test_candidate_identity.py
  src/dnadesign/studies/units/stress_ethanol_cipro_growth/tests/decision/opal/response_metastudy/test_loading.py
  src/dnadesign/studies/units/stress_ethanol_cipro_growth/tests/decision/opal/response_metastudy/test_measurement_selection.py
  src/dnadesign/studies/units/stress_ethanol_cipro_growth/tests/decision/opal/response_metastudy/test_publication_plot_labels.py
  src/dnadesign/studies/units/stress_ethanol_cipro_growth/tests/decision/opal/response_metastudy/test_response_uncertainty.py
Due: core, external_integration, opal

refactor(opal): separate notebook trust presentation
  src/dnadesign/opal/src/analysis/notebook_components/__init__.py
  src/dnadesign/opal/src/analysis/notebook_components/overview.py
  src/dnadesign/opal/src/analysis/notebook_components/trust.py
Due: core, external_integration, opal

fix(study): label OR as a pressure test
  src/dnadesign/studies/units/stress_ethanol_cipro_growth/decision/opal/response_metastudy/reporting/plot_definitions.py
  src/dnadesign/studies/units/stress_ethanol_cipro_growth/decision/opal/response_metastudy/reporting/plot_vocabulary.py
  src/dnadesign/studies/units/stress_ethanol_cipro_growth/tests/decision/opal/response_metastudy/test_plot_vocabulary.py
Due: core, external_integration
