Repository e-south/dnadesign: changes, and which Codecov flags are due for each by the changed paths.
All: core, external_integration, usr, notify, densegen, infer, opal, cluster, billboard, libshuffle, nmf, latdna, cruncher, tfkdanalysis, aligner, baserender, permuter

codecov.yml:

codecov:
  require_ci_to_pass: true

coverage:
  precision: 2
  round: down
  range: "0...100"
  status:
    project:
      default:
        target: auto
        threshold: 0.5%
        if_ci_failed: error
        if_not_found: failure
    patch:
      default:
        target: auto
        threshold: 0.5%
        if_ci_failed: error
        if_not_found: failure

flags:
  core:
    paths:
      - src/dnadesign
    carryforward: false
  external_integration:
    paths:
      - src/dnadesign
    carryforward: false

component_management:
  default_rules:
    statuses:
      - type: project
        target: auto
        threshold: 0.5%
        if_ci_failed: error
        if_not_found: failure
  individual_components:
    - component_id: usr
      name: usr
      paths:
        - src/dnadesign/usr/**
    - component_id: notify
      name: notify
      paths:
        - src/dnadesign/notify/**
    - component_id: densegen
      name: densegen
      paths:
        - src/dnadesign/densegen/**
    - component_id: infer
      name: infer
      paths:
        - src/dnadesign/infer/**
    - component_id: opal
      name: opal
      paths:
        - src/dnadesign/opal/**
    - component_id: cluster
      name: cluster
      paths:
        - src/dnadesign/cluster/**
    - component_id: billboard
      name: billboard
      paths:
        - src/dnadesign/billboard/**
    - component_id: libshuffle
      name: libshuffle
      paths:
        - src/dnadesign/libshuffle/**
    - component_id: nmf
      name: nmf
      paths:
        - src/dnadesign/nmf/**
    - component_id: latdna
      name: latdna
      paths:
        - src/dnadesign/latdna/**
    - component_id: cruncher
      name: cruncher
      paths:
        - src/dnadesign/cruncher/**
    - component_id: tfkdanalysis
      name: tfkdanalysis
      paths:
        - src/dnadesign/tfkdanalysis/**
    - component_id: aligner
      name: aligner
      paths:
        - src/dnadesign/aligner/**
    - component_id: baserender
      name: baserender
      paths:
        - src/dnadesign/baserender/**
    - component_id: permuter
      name: permuter
      paths:
        - src/dnadesign/permuter/**

comment:
  require_changes: true
  layout: "reach,diff,flags,components,files"

github_checks:
  annotations: true

fix(baserender): bound review selection inputs
  src/dnadesign/baserender/docs/integrations/trijunction.md
  src/dnadesign/baserender/src/execution/runner.py
  src/dnadesign/baserender/src/pipeline/selection.py
  src/dnadesign/baserender/src/reporting/run_report.py
  src/dnadesign/baserender/tests/test_captured_source.py
  src/dnadesign/baserender/tests/test_three_way_junction_review.py
Due: core, external_integration, baserender

fix(trijunction): bound distance scratch memory
  src/dnadesign/trijunction/sequence/distances.py
  src/dnadesign/trijunction/tests/test_performance_contracts.py
Due: core, external_integration

fix(contracts): reject undersized junction receipts
  src/dnadesign/baserender/tests/test_three_way_junction_review.py
  src/dnadesign/contracts/visual/three_way_junction_review_v1.py
Due: core, external_integration, baserender

fix(baserender): clarify TriJunction review semantics
  src/dnadesign/baserender/src/render/sequence_preview.py
  src/dnadesign/baserender/src/render/three_way_junction_review.py
  src/dnadesign/baserender/tests/test_captured_source.py
  src/dnadesign/baserender/tests/three_way_junction_review/__init__.py
  src/dnadesign/baserender/tests/three_way_junction_review/fixtures.py
  src/dnadesign/baserender/tests/three_way_junction_review/test_render_bounds.py
Due: core, external_integration, baserender

fix(trijunction): bound pair-distance workloads
  src/dnadesign/trijunction/design/barcodes.py
  src/dnadesign/trijunction/design/resources/__init__.py
  src/dnadesign/trijunction/design/resources/batching.py
  src/dnadesign/trijunction/design/resources/estimates.py
  src/dnadesign/trijunction/design/resources/guards.py
  src/dnadesign/trijunction/design/resources/limits.py
  src/dnadesign/trijunction/design/toeholds.py
  src/dnadesign/trijunction/docs/reference/contracts.md
  src/dnadesign/trijunction/sequence/distances.py
  src/dnadesign/trijunction/tests/performance/__init__.py
  src/dnadesign/trijunction/tests/performance/_factories.py
  src/dnadesign/trijunction/tests/performance/test_distance_batching.py
  src/dnadesign/trijunction/tests/performance/test_hot_path_correctness.py
  src/dnadesign/trijunction/tests/performance/test_pair_caches.py
  src/dnadesign/trijunction/tests/performance/test_resource_guards.py
  src/dnadesign/trijunction/tests/performance/test_toehold_selection_batching.py
  src/dnadesign/trijunction/tests/performance/test_workload_estimates.py
  src/dnadesign/trijunction/tests/test_performance_contracts.py
  src/dnadesign/trijunction/tests/test_request_nesting.py
  src/dnadesign/trijunction/tests/test_sequence_primitives.py
Due: core, external_integration

fix(contracts): require thermodynamic review evidence
  src/dnadesign/baserender/tests/test_three_way_junction_review.py
  src/dnadesign/contracts/tests/test_three_way_junction_review_contract.py
  src/dnadesign/contracts/visual/three_way_junction_review_v1.py
Due: core, external_integration, baserender

fix(contracts): validate search evidence metrics
  src/dnadesign/baserender/tests/test_three_way_junction_review.py
  src/dnadesign/contracts/tests/test_three_way_junction_review_contract.py
  src/dnadesign/contracts/visual/three_way_junction_review_v1.py
Due: core, external_integration, baserender

fix(baserender): harden review evidence boundaries
  src/dnadesign/baserender/docs/integrations/trijunction.md
  src/dnadesign/baserender/src/config/adapter_contracts.py
  src/dnadesign/baserender/src/config/render_job_v4.py
  src/dnadesign/baserender/src/execution/runner.py
  src/dnadesign/baserender/src/outputs/images.py
  src/dnadesign/baserender/src/outputs/video.py
  src/dnadesign/baserender/src/public/api.py
  src/dnadesign/baserender/src/render/renderer.py
  src/dnadesign/baserender/tests/test_three_way_junction_review.py
  src/dnadesign/baserender/tests/three_way_junction_review/fixtures.py
  src/dnadesign/baserender/tests/three_way_junction_review/test_render_bounds.py
  src/dnadesign/contracts/tests/test_three_way_junction_review_contract.py
  src/dnadesign/contracts/visual/three_way_junction_review_v1.py
Due: core, external_integration, baserender

fix(contracts): enforce singleton search evidence
  src/dnadesign/baserender/tests/three_way_junction_review/fixtures.py
  src/dnadesign/contracts/tests/test_three_way_junction_review_contract.py
  src/dnadesign/contracts/visual/three_way_junction_review_v1.py
Due: core, external_integration, baserender

fix(trijunction): sample barcode subsets sparsely
  src/dnadesign/trijunction/design/barcodes.py
  src/dnadesign/trijunction/tests/test_barcode_sampling.py
Due: core, external_integration

fix(contracts): bound matching evidence
  src/dnadesign/baserender/tests/test_three_way_junction_review.py
  src/dnadesign/contracts/tests/test_three_way_junction_review_contract.py
  src/dnadesign/contracts/visual/three_way_junction_review_v1.py
Due: core, external_integration, baserender

fix(baserender): validate review documents coherently
  src/dnadesign/baserender/src/adapters/three_way_junction_review_v1.py
  src/dnadesign/baserender/src/config/adapter_contracts.py
  src/dnadesign/baserender/src/execution/runner.py
  src/dnadesign/baserender/tests/test_three_way_junction_review.py
  src/dnadesign/baserender/tests/three_way_junction_review/test_document_coherence.py
Due: core, external_integration, baserender

fix(baserender): bound review canvas resources
  src/dnadesign/baserender/src/render/three_way_junction_review.py
  src/dnadesign/baserender/tests/three_way_junction_review/test_render_bounds.py
Due: core, external_integration, baserender

fix(baserender): revalidate typed render jobs
  src/dnadesign/baserender/src/config/__init__.py
  src/dnadesign/baserender/src/config/jobs/base_render_v4.py
  src/dnadesign/baserender/src/config/render_job_v4.py
  src/dnadesign/baserender/src/execution/runner.py
  src/dnadesign/baserender/tests/three_way_junction_review/fixtures.py
  src/dnadesign/baserender/tests/three_way_junction_review/test_document_coherence.py
  src/dnadesign/baserender/tests/three_way_junction_review/test_runtime_compatibility.py
Due: core, external_integration, baserender

fix(baserender): reject duplicate review targets
  src/dnadesign/baserender/src/adapters/three_way_junction_review_v1.py
  src/dnadesign/baserender/tests/three_way_junction_review/test_document_coherence.py
Due: core, external_integration, baserender

fix(contracts): bound barcode subset evidence
  src/dnadesign/contracts/tests/test_three_way_junction_review_contract.py
  src/dnadesign/contracts/visual/three_way_junction_review_v1.py
  src/dnadesign/trijunction/tests/test_review_projection.py
Due: core, external_integration

fix(baserender): enforce review document contracts
  src/dnadesign/baserender/src/adapters/__init__.py
  src/dnadesign/baserender/src/adapters/registry.py
  src/dnadesign/baserender/src/adapters/three_way_junction_review_v1.py
  src/dnadesign/baserender/src/config/adapter_contracts.py
  src/dnadesign/baserender/src/execution/runner.py
  src/dnadesign/baserender/src/outputs/images.py
  src/dnadesign/baserender/src/outputs/video.py
  src/dnadesign/baserender/src/public/api.py
  src/dnadesign/baserender/src/render/renderer.py
  src/dnadesign/baserender/tests/test_adapter_registry.py
  src/dnadesign/baserender/tests/test_sequence_evidence_component_view.py
  src/dnadesign/baserender/tests/test_three_way_junction_review.py
  src/dnadesign/baserender/tests/three_way_junction_review/fixtures.py
  src/dnadesign/baserender/tests/three_way_junction_review/test_direct_renderer_policy.py
  src/dnadesign/baserender/tests/three_way_junction_review/test_document_finalization.py
  src/dnadesign/baserender/tests/three_way_junction_review/test_render_bounds.py
Due: core, external_integration, baserender

fix(contracts): bound v1 toehold path evidence
  src/dnadesign/contracts/tests/test_three_way_junction_review_contract.py
  src/dnadesign/contracts/visual/three_way_junction_review_v1.py
  src/dnadesign/trijunction/tests/test_review_projection.py
Due: core, external_integration

fix(contracts): bound v1 search receipts
  src/dnadesign/contracts/tests/test_three_way_junction_review_contract.py
  src/dnadesign/contracts/visual/three_way_junction_review_v1.py
  src/dnadesign/trijunction/tests/test_review_projection.py
Due: core, external_integration

fix(baserender): enforce review document identities
  src/dnadesign/baserender/src/adapters/three_way_junction_review_v1.py
  src/dnadesign/baserender/tests/three_way_junction_review/fixtures.py
  src/dnadesign/baserender/tests/three_way_junction_review/test_document_coherence.py
  src/dnadesign/baserender/tests/three_way_junction_review/test_document_finalization.py
  src/dnadesign/baserender/tests/three_way_junction_review/test_render_bounds.py
Due: core, external_integration, baserender

fix(baserender): preflight complete render batches
  src/dnadesign/baserender/__init__.py
  src/dnadesign/baserender/docs/reference.md
  src/dnadesign/baserender/src/__init__.py
  src/dnadesign/baserender/src/config/adapter_contracts.py
  src/dnadesign/baserender/src/outputs/images.py
  src/dnadesign/baserender/src/outputs/video.py
  src/dnadesign/baserender/src/public/api.py
  src/dnadesign/baserender/src/render/__init__.py
  src/dnadesign/baserender/src/render/effects/__init__.py
  src/dnadesign/baserender/src/render/effects/boundary_marker.py
  src/dnadesign/baserender/src/render/effects/motif_logo.py
  src/dnadesign/baserender/src/render/effects/registry.py
  src/dnadesign/baserender/src/render/effects/span_link.py
  src/dnadesign/baserender/src/render/hairpin_cartoon.py
  src/dnadesign/baserender/src/render/renderer.py
  src/dnadesign/baserender/src/render/sequence_rows.py
  src/dnadesign/baserender/src/render/sequence_rows_metadata.py
  src/dnadesign/baserender/src/render/snapback_foldback.py
  src/dnadesign/baserender/src/render/snapback_map.py
  src/dnadesign/baserender/src/render/three_way_junction_review.py
  src/dnadesign/baserender/src/render/topology_cartoon.py
  src/dnadesign/baserender/tests/test_three_way_junction_review.py
  src/dnadesign/baserender/tests/test_video_frame_sizing.py
  src/dnadesign/baserender/tests/three_way_junction_review/test_direct_renderer_policy.py
  src/dnadesign/cruncher/src/yiu/view_registry.py
  src/dnadesign/cruncher/tests/yiu/test_payload_rendering.py
Due: core, external_integration, cruncher, baserender

fix(trijunction): name barcode distance limit
  src/dnadesign/trijunction/design/resources/__init__.py
  src/dnadesign/trijunction/design/resources/guards.py
  src/dnadesign/trijunction/design/resources/limits.py
  src/dnadesign/trijunction/tests/performance/test_resource_guards.py
Due: core, external_integration

docs(trijunction): make guidance plain and precise
  docs/architecture/decisions/adr-0003-trijunction-peer-tool.md
  docs/dev/plans/archive/2026-08-01-trijunction-boundary-proposal.md
  docs/runbooks/README.md
  src/dnadesign/baserender/docs/integrations/README.md
  src/dnadesign/baserender/docs/integrations/trijunction.md
  src/dnadesign/baserender/docs/reference.md
  src/dnadesign/baserender/src/cli/app.py
  src/dnadesign/baserender/tests/test_cli_coupling.py
  src/dnadesign/trijunction/README.md
  src/dnadesign/trijunction/__init__.py
  src/dnadesign/trijunction/api.py
  src/dnadesign/trijunction/cli.py
  src/dnadesign/trijunction/docs/README.md
  src/dnadesign/trijunction/docs/README.tool-source.yaml
  src/dnadesign/trijunction/docs/getting-started.md
  src/dnadesign/trijunction/docs/guides/request-shapes.md
  src/dnadesign/trijunction/docs/guides/scale-and-review.md
  src/dnadesign/trijunction/docs/reference/contracts.md
  src/dnadesign/trijunction/docs/reference/method.md
  src/dnadesign/trijunction/docs/reference/sources.md
  src/dnadesign/trijunction/publication/writer.py
Due: core, external_integration, baserender

fix(junction): bind replay to published bundle
  src/dnadesign/artifacts/publication.py
  src/dnadesign/artifacts/tests/test_publication_contract.py
  src/dnadesign/junction/docs/README.md
  src/dnadesign/junction/publication/writer.py
  src/dnadesign/junction/tests/test_publication.py
Due: core, external_integration

fix(baserender): enforce plan-wide preparation evidence
  src/dnadesign/baserender/src/adapters/three_way_junction_review_v1.py
  src/dnadesign/baserender/tests/three_way_junction_review/test_document_coherence.py
  src/dnadesign/contracts/visual/three_way_junction_review_v1.py
Due: core, external_integration, baserender

Harden Junction fragment-order contracts
  src/dnadesign/junction/contracts/request/codec.py
  src/dnadesign/junction/contracts/request/model.py
  src/dnadesign/junction/design/fragment_constraints.py
  src/dnadesign/junction/design/loci.py
  src/dnadesign/junction/design/planner.py
  src/dnadesign/junction/design/search_pipeline.py
  src/dnadesign/junction/design/strands.py
  src/dnadesign/junction/design/toeholds.py
  src/dnadesign/junction/docs/explanation/how-junction-works.md
  src/dnadesign/junction/docs/getting-started.md
  src/dnadesign/junction/docs/guides/prepare-a-request.md
  src/dnadesign/junction/docs/guides/scale.md
  src/dnadesign/junction/docs/reference/artifacts-api-and-errors.md
  src/dnadesign/junction/docs/reference/method-v1.md
  src/dnadesign/junction/docs/reference/request.md
  src/dnadesign/junction/docs/reference/sources.md
  src/dnadesign/junction/tests/performance/_factories.py
  src/dnadesign/junction/tests/performance/test_resource_guards.py
  src/dnadesign/junction/tests/performance/test_workload_estimates.py
  src/dnadesign/junction/tests/scenarios/factories.py
  src/dnadesign/junction/tests/scenarios/test_method_profile.py
  src/dnadesign/junction/tests/scenarios/test_scale_dogfood.py
  src/dnadesign/junction/tests/test_api_cli.py
  src/dnadesign/junction/tests/test_artifact_projection.py
  src/dnadesign/junction/tests/test_fragment_constraints.py
  src/dnadesign/junction/tests/test_hardening_contracts.py
  src/dnadesign/junction/tests/test_planner.py
  src/dnadesign/junction/tests/test_request_contract.py
  src/dnadesign/junction/tests/test_review_projection.py
  src/dnadesign/junction/tests/test_search_pipeline.py
  src/dnadesign/junction/tests/test_tie_breaking.py
Due: core, external_integration

Register Junction review integration
  src/dnadesign/baserender/docs/README.tool-source.yaml
  src/dnadesign/baserender/docs/integrations/junction.md
  src/dnadesign/baserender/tests/test_three_way_junction_review.py
  src/dnadesign/baserender/tests/three_way_junction_review/test_document_finalization.py
  src/dnadesign/devtools/docs/checks.py
  src/dnadesign/devtools/tests/docs/test_checks.py
  src/dnadesign/ops/tests/test_catalog_cli.py
Due: core, external_integration, baserender

Clarify Junction request terminology
  src/dnadesign/contracts/visual/three_way_junction_review_v1.py
  src/dnadesign/junction/docs/reference/request.md
Due: core, external_integration

Harden Junction fragment-order fidelity (#68)
  src/dnadesign/baserender/docs/README.tool-source.yaml
  src/dnadesign/baserender/docs/integrations/junction.md
  src/dnadesign/baserender/tests/test_three_way_junction_review.py
  src/dnadesign/baserender/tests/three_way_junction_review/test_document_finalization.py
  src/dnadesign/contracts/visual/three_way_junction_review_v1.py
  src/dnadesign/devtools/docs/checks.py
  src/dnadesign/devtools/tests/docs/test_checks.py
  src/dnadesign/junction/contracts/request/codec.py
  src/dnadesign/junction/contracts/request/model.py
  src/dnadesign/junction/design/fragment_constraints.py
  src/dnadesign/junction/design/loci.py
  src/dnadesign/junction/design/planner.py
  src/dnadesign/junction/design/search_pipeline.py
  src/dnadesign/junction/design/strands.py
  src/dnadesign/junction/design/toeholds.py
  src/dnadesign/junction/docs/explanation/how-junction-works.md
  src/dnadesign/junction/docs/getting-started.md
  src/dnadesign/junction/docs/guides/prepare-a-request.md
  src/dnadesign/junction/docs/guides/scale.md
  src/dnadesign/junction/docs/reference/artifacts-api-and-errors.md
  src/dnadesign/junction/docs/reference/method-v1.md
  src/dnadesign/junction/docs/reference/request.md
  src/dnadesign/junction/docs/reference/sources.md
  src/dnadesign/junction/tests/performance/_factories.py
  src/dnadesign/junction/tests/performance/test_resource_guards.py
  src/dnadesign/junction/tests/performance/test_workload_estimates.py
  src/dnadesign/junction/tests/scenarios/factories.py
  src/dnadesign/junction/tests/scenarios/test_method_profile.py
  src/dnadesign/junction/tests/scenarios/test_scale_dogfood.py
  src/dnadesign/junction/tests/test_api_cli.py
  src/dnadesign/junction/tests/test_artifact_projection.py
  src/dnadesign/junction/tests/test_fragment_constraints.py
  src/dnadesign/junction/tests/test_hardening_contracts.py
  src/dnadesign/junction/tests/test_planner.py
  src/dnadesign/junction/tests/test_request_contract.py
  src/dnadesign/junction/tests/test_review_projection.py
  src/dnadesign/junction/tests/test_search_pipeline.py
  src/dnadesign/junction/tests/test_tie_breaking.py
  src/dnadesign/ops/tests/test_catalog_cli.py
Due: core, external_integration, baserender

refactor(stress): bind current Reader event-window records
  docs/studies/stress_ethanol_cipro_growth/contexts/opal/multistate-response-behavior.md
  docs/studies/stress_ethanol_cipro_growth/contexts/opal/response-metastudy.md
  docs/studies/stress_ethanol_cipro_growth/record/status.md
  src/dnadesign/opal/docs/plugins/objectives/response-magnitude-feasibility.md
  src/dnadesign/opal/tests/analysis/test_reader_promoter_evidence.py
  src/dnadesign/studies/units/stress_ethanol_cipro_growth/decision/opal/reader_promoter_evidence/README.md
  src/dnadesign/studies/units/stress_ethanol_cipro_growth/decision/opal/reader_promoter_evidence/__init__.py
  src/dnadesign/studies/units/stress_ethanol_cipro_growth/decision/opal/reader_promoter_evidence/contracts.py
  src/dnadesign/studies/units/stress_ethanol_cipro_growth/decision/opal/reader_promoter_evidence/display_artifact_verification.py
  src/dnadesign/studies/units/stress_ethanol_cipro_growth/decision/opal/reader_promoter_evidence/manifest.py
  src/dnadesign/studies/units/stress_ethanol_cipro_growth/decision/opal/reader_promoter_evidence/source_verification.py
  src/dnadesign/studies/units/stress_ethanol_cipro_growth/decision/opal/response_metastudy/README.md
  src/dnadesign/studies/units/stress_ethanol_cipro_growth/response_window_observations/README.md
  src/dnadesign/studies/units/stress_ethanol_cipro_growth/response_window_observations/config/reader_response_projection.yaml
  src/dnadesign/studies/units/stress_ethanol_cipro_growth/response_window_observations/reader_record_receipt.py
  src/dnadesign/studies/units/stress_ethanol_cipro_growth/response_window_observations/reader_records.py
  src/dnadesign/studies/units/stress_ethanol_cipro_growth/tests/decision/opal/reader_promoter_evidence/_fixtures.py
  src/dnadesign/studies/units/stress_ethanol_cipro_growth/tests/decision/opal/reader_promoter_evidence/test_manifest.py
  src/dnadesign/studies/units/stress_ethanol_cipro_growth/tests/decision/opal/response_metastudy/test_reader_response_records.py
  src/dnadesign/studies/units/stress_ethanol_cipro_growth/tests/response_window_observations/test_artifact.py
Due: core, external_integration, opal

fix(rt-lnrna): satisfy module header contract
  src/dnadesign/studies/units/rt_lnrna_sponging_construct_triage/reporter_response/metastudy/acquisition_projection.py
Due: core, external_integration

docs(retron): define the RRF objective gate
  docs/studies/rt_lnrna_sponging_construct_triage/contexts/reporter-response-evidence.md
  docs/studies/rt_lnrna_sponging_construct_triage/contexts/reporter-response-metastudy/README.md
  docs/studies/rt_lnrna_sponging_construct_triage/routes/reporter-response-evidence.md
Due: none

fix(stress): refresh MSRB evidence binding
  .secrets.baseline
  src/dnadesign/studies/units/stress_ethanol_cipro_growth/decision/opal/multistate_response_behavior/activation_audit.json
Due: core, external_integration

fix(studies): bound Reader record resolution
  src/dnadesign/studies/core/reader_records.py
  src/dnadesign/studies/tests/test_reader_records.py
Due: core, external_integration

fix(rt-lnrna): bind replicate support in comparability
  src/dnadesign/studies/units/rt_lnrna_sponging_construct_triage/reporter_response/canonical.py
  src/dnadesign/studies/units/rt_lnrna_sponging_construct_triage/tests/reporter_response/test_profile.py
Due: core, external_integration
