Repository e-south/dnadesign: changes, and which Codecov flags are due for each by the changed paths.
All: core, external_integration, usr, notify, densegen, infer, opal, cluster, billboard, libshuffle, nmf, latdna, cruncher, tfkdanalysis, aligner, baserender, permuter

fix(skill): validate ChimeraX session stop targets
  .agents/skills/chimerax-structure-review/SKILL.md
  .agents/skills/chimerax-structure-review/assets/control_session_manifest.schema.yaml
  .agents/skills/chimerax-structure-review/references/live-session-contract.md
  .agents/skills/chimerax-structure-review/references/test-matrix.md
  .agents/skills/chimerax-structure-review/scripts/audit-chimerax-structure-review-skill.sh
  .agents/skills/chimerax-structure-review/scripts/chimerax-session-stop.sh
Due: none

feat(stress-study): add observed SFXI decomposition evidence
  docs/studies/stress_ethanol_cipro_growth/contexts/opal/response-metastudy.md
  src/dnadesign/studies/units/stress_ethanol_cipro_growth/decision/opal/response_metastudy/README.md
  src/dnadesign/studies/units/stress_ethanol_cipro_growth/decision/opal/response_metastudy/evaluation/__init__.py
  src/dnadesign/studies/units/stress_ethanol_cipro_growth/decision/opal/response_metastudy/evaluation/observed_sfxi_replay.py
  src/dnadesign/studies/units/stress_ethanol_cipro_growth/decision/opal/response_metastudy/reporting/observed_sfxi_plot.py
  src/dnadesign/studies/units/stress_ethanol_cipro_growth/decision/opal/response_metastudy/reporting/plot_definitions.py
  src/dnadesign/studies/units/stress_ethanol_cipro_growth/decision/opal/response_metastudy/reporting/plot_narrative.py
  src/dnadesign/studies/units/stress_ethanol_cipro_growth/decision/opal/response_metastudy/reporting/plot_style.py
  src/dnadesign/studies/units/stress_ethanol_cipro_growth/decision/opal/response_metastudy/reporting/plots.py
  src/dnadesign/studies/units/stress_ethanol_cipro_growth/decision/opal/response_metastudy/reporting/report.py
  src/dnadesign/studies/units/stress_ethanol_cipro_growth/decision/opal/response_metastudy/runtime/audit.py
  src/dnadesign/studies/units/stress_ethanol_cipro_growth/decision/opal/response_metastudy/runtime/label_truth.py
  src/dnadesign/studies/units/stress_ethanol_cipro_growth/decision/opal/response_metastudy/runtime/observed_sfxi.py
  src/dnadesign/studies/units/stress_ethanol_cipro_growth/decision/opal/response_metastudy/runtime/review_bundle.py
  src/dnadesign/studies/units/stress_ethanol_cipro_growth/tests/decision/opal/response_metastudy/test_label_truth.py
  src/dnadesign/studies/units/stress_ethanol_cipro_growth/tests/decision/opal/response_metastudy/test_observed_sfxi_plot.py
  src/dnadesign/studies/units/stress_ethanol_cipro_growth/tests/decision/opal/response_metastudy/test_observed_sfxi_replay.py
  src/dnadesign/studies/units/stress_ethanol_cipro_growth/tests/decision/opal/response_metastudy/test_observed_sfxi_runtime.py
  src/dnadesign/studies/units/stress_ethanol_cipro_growth/tests/decision/opal/response_metastudy/test_plot_catalog.py
Due: core, external_integration

opal: simplify MSRB evidence heatmap
  src/dnadesign/opal/campaigns/secg_msrb_greedy/configs/plots.yaml
  src/dnadesign/opal/docs/reference/plots.md
  src/dnadesign/opal/src/analysis/notebook_components/plot_text.py
  src/dnadesign/opal/src/plots/multistate_response_behavior_decomposition.py
  src/dnadesign/opal/tests/plots/test_multistate_response_behavior_plots.py
Due: core, external_integration, opal

chore(study): refresh MSRB plot binding
  .secrets.baseline
  src/dnadesign/studies/units/stress_ethanol_cipro_growth/decision/opal/multistate_response_behavior/activation_audit.json
Due: core, external_integration

docs(study): add MSRB symbol walkthrough
  docs/studies/stress_ethanol_cipro_growth/contexts/opal/README.md
  docs/studies/stress_ethanol_cipro_growth/contexts/opal/multistate-response-behavior-walkthrough.html
  docs/studies/stress_ethanol_cipro_growth/routes/README.md
  src/dnadesign/studies/units/stress_ethanol_cipro_growth/tests/decision/opal/test_msrb_walkthrough_documentation.py
Due: core, external_integration

fix: harden external evidence contracts
  src/dnadesign/thread/adapters/colabfold/outputs.py
  src/dnadesign/thread/adapters/esm_atlas/normalize.py
  src/dnadesign/thread/adapters/proteinmpnn/validation.py
  src/dnadesign/thread/structure_views/backends/py3dmol.py
  src/dnadesign/thread/tests/adapters/colabfold/test_outputs.py
  src/dnadesign/thread/tests/adapters/esm_atlas/test_normalize_and_tables.py
  src/dnadesign/thread/tests/adapters/proteinmpnn/test_request_adapter.py
  src/dnadesign/thread/tests/structure_views/test_py3dmol_html.py
  src/dnadesign/usr/src/regulondb/functional_annotations.py
  src/dnadesign/usr/tests/test_regulondb_functional_annotations.py
Due: core, external_integration, usr

fix(eco1): fail closed on fold-check artifacts
  src/dnadesign/studies/units/eco1_rt_repack/operations/contracts/foldcheck/request.py
  src/dnadesign/studies/units/eco1_rt_repack/operations/materialization/foldcheck_review/structure_overlay.py
  src/dnadesign/studies/units/eco1_rt_repack/tests/materialization/foldcheck_request/test_materialization.py
  src/dnadesign/studies/units/eco1_rt_repack/tests/materialization/foldcheck_review/test_chimerax_opt_in.py
Due: core, external_integration

fix(foldcheck): normalize request sequence provenance
  src/dnadesign/thread/foldcheck/request.py
  src/dnadesign/thread/tests/foldcheck/test_request.py
Due: core, external_integration

fix(eco1): preserve fold-check reference semantics
  docs/studies/eco1_rt_repack/contexts/fold-validation-policy.md
  src/dnadesign/studies/units/eco1_rt_repack/operations/contracts/foldcheck/report.py
  src/dnadesign/studies/units/eco1_rt_repack/operations/contracts/sampling/artifacts.py
  src/dnadesign/studies/units/eco1_rt_repack/operations/materialization/foldcheck_report/cli.py
  src/dnadesign/studies/units/eco1_rt_repack/operations/materialization/foldcheck_report/constants.py
  src/dnadesign/studies/units/eco1_rt_repack/operations/materialization/foldcheck_report/pipeline.py
  src/dnadesign/studies/units/eco1_rt_repack/operations/materialization/foldcheck_report/reference.py
  src/dnadesign/studies/units/eco1_rt_repack/operations/materialization/foldcheck_review/ranking.py
  src/dnadesign/studies/units/eco1_rt_repack/tests/architecture/test_materialization_package_layout.py
  src/dnadesign/studies/units/eco1_rt_repack/tests/materialization/foldcheck_report/test_materialization.py
  src/dnadesign/studies/units/eco1_rt_repack/tests/materialization/foldcheck_report/test_validation.py
  src/dnadesign/studies/units/eco1_rt_repack/tests/materialization/foldcheck_review/test_ranking_hardening.py
  src/dnadesign/thread/adapters/colabfold/manifest.py
  src/dnadesign/thread/adapters/colabfold/outputs.py
  src/dnadesign/thread/foldcheck/report.py
  src/dnadesign/thread/tests/adapters/colabfold/test_outputs.py
  src/dnadesign/thread/tests/foldcheck/test_report.py
Due: core, external_integration

docs: route Reader bundles through output experiments
  docs/studies/stress_ethanol_cipro_growth/contexts/opal/response-metastudy.md
  src/dnadesign/studies/units/stress_ethanol_cipro_growth/decision/opal/response_metastudy/README.md
Due: core, external_integration

docs: synchronize metastudy verification date
  docs/studies/stress_ethanol_cipro_growth/contexts/opal/response-metastudy.md
Due: none

Harden Ops discovery budgets
  docs/operations/orchestration/runbooks.md
  src/dnadesign/ops/catalog/loader.py
  src/dnadesign/ops/catalog/metadata.py
  src/dnadesign/ops/catalog/paths.py
  src/dnadesign/ops/discovery.py
  src/dnadesign/ops/orchestrator/state.py
  src/dnadesign/ops/status/registry_loader.py
  src/dnadesign/ops/tests/test_discovery_performance.py
  src/dnadesign/ops/tests/test_runbook_orchestrator.py
Due: core, external_integration

Pin CI actions to immutable revisions
  .github/workflows/ci.yaml
  .github/workflows/quality-entropy.yaml
  src/dnadesign/devtools/tests/ci/test_workflow_contract.py
Due: core, external_integration

Preserve partial scheduler matches
  src/dnadesign/ops/orchestrator/state.py
  src/dnadesign/ops/tests/test_runbook_orchestrator.py
Due: core, external_integration

Keep incomplete job discovery unknown
  src/dnadesign/ops/orchestrator/state.py
  src/dnadesign/ops/tests/test_runbook_orchestrator.py
Due: core, external_integration

Upgrade Codecov action to Node 24
  .github/workflows/ci.yaml
  src/dnadesign/devtools/tests/ci/test_workflow_contract.py
Due: core, external_integration

Block chaining on unknown job visibility
  src/dnadesign/ops/orchestrator/state.py
  src/dnadesign/ops/tests/test_runbook_orchestrator.py
Due: core, external_integration

Fail closed when job discovery is disabled
  docs/operations/README.md
  docs/operations/orchestration/runbooks.md
  docs/operations/status/runtime-visibility.md
  src/dnadesign/ops/cli/commands/runbook.py
  src/dnadesign/ops/orchestrator/state.py
  src/dnadesign/ops/tests/test_runbook_orchestrator.py
Due: core, external_integration

Add required dependency review check
  .github/workflows/dependency-review.yaml
  src/dnadesign/devtools/tests/ci/test_workflow_contract.py
Due: core, external_integration

Harden Ops discovery budgets (#53)
  .github/workflows/ci.yaml
  .github/workflows/dependency-review.yaml
  .github/workflows/quality-entropy.yaml
  docs/operations/README.md
  docs/operations/orchestration/runbooks.md
  docs/operations/status/runtime-visibility.md
  src/dnadesign/devtools/tests/ci/test_workflow_contract.py
  src/dnadesign/ops/catalog/loader.py
  src/dnadesign/ops/catalog/metadata.py
  src/dnadesign/ops/catalog/paths.py
  src/dnadesign/ops/cli/commands/runbook.py
  src/dnadesign/ops/discovery.py
  src/dnadesign/ops/orchestrator/state.py
  src/dnadesign/ops/status/registry_loader.py
  src/dnadesign/ops/tests/test_discovery_performance.py
  src/dnadesign/ops/tests/test_runbook_orchestrator.py
Due: core, external_integration

fix(security): raise vulnerable dependency floors
  pyproject.toml
  uv.lock
Due: none

fix(security): restrict Torch artifact loading
  .github/workflows/ci.yaml
  SECURITY.md
  src/dnadesign/billboard/core.py
  src/dnadesign/devtools/tests/ci/test_workflow_contract.py
  src/dnadesign/devtools/tests/security/test_dependency_security_contract.py
  src/dnadesign/infer/src/ingest/sources.py
  src/dnadesign/nmf/parser.py
  src/dnadesign/usr/scripts/archived_pytorch_manager.py
  src/dnadesign/usr/src/legacy/inputs.py
Due: core, external_integration, usr, infer, billboard, nmf

test(ci): keep CLI rejection checks Click-compatible
  src/dnadesign/cruncher/tests/cli/test_cli_help.py
  src/dnadesign/devtools/tests/security/test_dependency_security_contract.py
  src/dnadesign/opal/tests/cli/test_cli_workflows.py
Due: core, external_integration, opal, cruncher

Harden dependency floors and Torch loading (#56)
  .github/workflows/ci.yaml
  SECURITY.md
  pyproject.toml
  src/dnadesign/billboard/core.py
  src/dnadesign/cruncher/tests/cli/test_cli_help.py
  src/dnadesign/devtools/tests/ci/test_workflow_contract.py
  src/dnadesign/devtools/tests/security/test_dependency_security_contract.py
  src/dnadesign/infer/src/ingest/sources.py
  src/dnadesign/nmf/parser.py
  src/dnadesign/opal/tests/cli/test_cli_workflows.py
  src/dnadesign/usr/scripts/archived_pytorch_manager.py
  src/dnadesign/usr/src/legacy/inputs.py
  uv.lock
Due: core, external_integration, usr, infer, opal, billboard, nmf, cruncher

fix(usr): keep remote profiles operator-local
  .gitignore
  docs/studies/stress_ethanol_cipro_growth/record/README.md
  docs/studies/stress_ethanol_cipro_growth/record/datasets.yaml
  src/dnadesign/usr/AGENTS.md
  src/dnadesign/usr/README.md
  src/dnadesign/usr/docs/operations/sync/setup.md
  src/dnadesign/usr/remotes.example.yaml
  src/dnadesign/usr/remotes.yaml
  src/dnadesign/usr/src/sync/remote/config.py
  src/dnadesign/usr/tests/cli/commands/remotes/test_cli_remotes_wizard.py
  src/dnadesign/usr/tests/test_module_layout.py
Due: core, external_integration, usr

docs(ops): parameterize cluster paths and logs
  docs/bu-scc/jobs/README.md
  docs/bu-scc/jobs/eco1-colabfold-foldcheck.qsub
  docs/bu-scc/jobs/eco1-proteinmpnn-generation-policy.qsub
  docs/studies/eco1_rt_repack/operations/runtime/command-groups/README.md
  docs/studies/eco1_rt_repack/operations/runtime/command-groups/pipeline.yaml
  src/dnadesign/densegen/tests/docs/test_eco1_bu_scc_qsub_contracts.py
  src/dnadesign/infer/docs/operations/scc-evo2-gpu-uv-runbook.md
Due: core, external_integration, densegen, infer

ci(privacy): reject tracked operator identifiers
  .github/workflows/ci.yaml
  docs/dev/README.md
  docs/dev/privacy-legacy-path-allowlist.md
  src/dnadesign/devtools/security/tracked_text_privacy.py
  src/dnadesign/devtools/tests/ci/test_workflow_contract.py
  src/dnadesign/devtools/tests/package/test_layout.py
  src/dnadesign/devtools/tests/security/test_tracked_text_privacy.py
Due: core, external_integration

test(ci): harden portable SCC doc contracts
  src/dnadesign/densegen/tests/docs/test_eco1_bu_scc_qsub_contracts.py
  src/dnadesign/infer/tests/docs/test_scc_gpu_env_docs_contract.py
Due: core, external_integration, densegen, infer

Harden portable operator configuration and privacy checks (#57)
  .github/workflows/ci.yaml
  .gitignore
  docs/bu-scc/jobs/README.md
  docs/bu-scc/jobs/eco1-colabfold-foldcheck.qsub
  docs/bu-scc/jobs/eco1-proteinmpnn-generation-policy.qsub
  docs/dev/README.md
  docs/dev/privacy-legacy-path-allowlist.md
  docs/studies/eco1_rt_repack/operations/runtime/command-groups/README.md
  docs/studies/eco1_rt_repack/operations/runtime/command-groups/pipeline.yaml
  docs/studies/stress_ethanol_cipro_growth/record/README.md
  docs/studies/stress_ethanol_cipro_growth/record/datasets.yaml
  src/dnadesign/densegen/tests/docs/test_eco1_bu_scc_qsub_contracts.py
  src/dnadesign/devtools/security/tracked_text_privacy.py
  src/dnadesign/devtools/tests/ci/test_workflow_contract.py
  src/dnadesign/devtools/tests/package/test_layout.py
  src/dnadesign/devtools/tests/security/test_tracked_text_privacy.py
  src/dnadesign/infer/docs/operations/scc-evo2-gpu-uv-runbook.md
  src/dnadesign/infer/tests/docs/test_scc_gpu_env_docs_contract.py
  src/dnadesign/usr/AGENTS.md
  src/dnadesign/usr/README.md
  src/dnadesign/usr/docs/operations/sync/setup.md
  src/dnadesign/usr/remotes.example.yaml
  src/dnadesign/usr/remotes.yaml
  src/dnadesign/usr/src/sync/remote/config.py
  src/dnadesign/usr/tests/cli/commands/remotes/test_cli_remotes_wizard.py
  src/dnadesign/usr/tests/test_module_layout.py
Due: core, external_integration, usr, densegen, infer

fix(security): update patched Markdown stack
  SECURITY.md
  pyproject.toml
  src/dnadesign/devtools/tests/security/test_dependency_security_contract.py
  uv.lock
Due: core, external_integration

Fix PyMdown Extensions path traversal alert (#58)
  SECURITY.md
  pyproject.toml
  src/dnadesign/devtools/tests/security/test_dependency_security_contract.py
  uv.lock
Due: core, external_integration

fix(baserender): publish output batches transactionally
  src/dnadesign/baserender/docs/reference.md
  src/dnadesign/baserender/src/config/cruncher_showcase_job.py
  src/dnadesign/baserender/src/execution/runner.py
  src/dnadesign/baserender/tests/test_outputs_explicit.py
Due: core, external_integration, baserender

fix(folding): publish plot bundles atomically
  src/dnadesign/folding/cli.py
  src/dnadesign/folding/src/viennarna_plot.py
  src/dnadesign/folding/src/viennarna_svg.py
  src/dnadesign/folding/tests/test_cli.py
  src/dnadesign/folding/tests/test_rnafold_runner.py
Due: core, external_integration

fix(baserender): serialize overlapping publications
  src/dnadesign/baserender/src/execution/runner.py
  src/dnadesign/baserender/tests/test_outputs_explicit.py
Due: core, external_integration, baserender

fix(baserender): reserve concurrent publications
  src/dnadesign/baserender/src/execution/runner.py
  src/dnadesign/baserender/tests/test_outputs_explicit.py
Due: core, external_integration, baserender

fix(baserender): recover publication locks after crashes
  src/dnadesign/baserender/src/execution/runner.py
  src/dnadesign/baserender/tests/test_outputs_explicit.py
Due: core, external_integration, baserender

fix(artifacts): unify immutable bundle publication
  ARCHITECTURE.md
  DESIGN.md
  src/dnadesign/artifacts/__init__.py
  src/dnadesign/artifacts/publication.py
  src/dnadesign/baserender/src/config/render_job_v4.py
  src/dnadesign/baserender/src/execution/runner.py
  src/dnadesign/baserender/src/reporting/run_report.py
  src/dnadesign/baserender/tests/test_outputs_explicit.py
  src/dnadesign/densegen/src/viz/dense_array_video.py
  src/dnadesign/densegen/src/viz/plotting.py
  src/dnadesign/densegen/tests/plotting/test_dense_array_video.py
  src/dnadesign/devtools/architecture/boundaries.py
  src/dnadesign/devtools/ci/changes.py
  src/dnadesign/folding/src/viennarna_plot.py
  src/dnadesign/folding/tests/test_rnafold_runner.py
Due: core, external_integration, densegen, baserender

fix(baserender): anchor publication transactions
  src/dnadesign/baserender/src/execution/runner.py
  src/dnadesign/baserender/tests/test_outputs_explicit.py
Due: core, external_integration, baserender

Path conditions:
  core: any of: src/dnadesign
  external_integration: any of: src/dnadesign
  usr: any of: src/dnadesign/usr/**
  notify: any of: src/dnadesign/notify/**
  densegen: any of: src/dnadesign/densegen/**
  infer: any of: src/dnadesign/infer/**
  opal: any of: src/dnadesign/opal/**
  cluster: any of: src/dnadesign/cluster/**
  billboard: any of: src/dnadesign/billboard/**
  libshuffle: any of: src/dnadesign/libshuffle/**
  nmf: any of: src/dnadesign/nmf/**
  latdna: any of: src/dnadesign/latdna/**
  cruncher: any of: src/dnadesign/cruncher/**
  tfkdanalysis: any of: src/dnadesign/tfkdanalysis/**
  aligner: any of: src/dnadesign/aligner/**
  baserender: any of: src/dnadesign/baserender/**
  permuter: any of: src/dnadesign/permuter/**
