Repository e-south/dnadesign: changes, and which Codecov flags are due for each by the changed paths.
All: core, external_integration, usr, notify, densegen, infer, opal, cluster, billboard, libshuffle, nmf, latdna, cruncher, tfkdanalysis, aligner, baserender, permuter

fix(baserender): sanitize all junction svg identifiers
  src/dnadesign/baserender/src/render/junction_annealed_fragments.py
  src/dnadesign/baserender/src/render/junction_review_common.py
  src/dnadesign/baserender/src/render/junction_three_way_detail.py
  src/dnadesign/baserender/src/render/sequence_preview.py
  src/dnadesign/baserender/tests/three_way_junction_review/test_render_bounds.py
Due: core, external_integration, baserender

fix(ops): retain catalog provider identity
  src/dnadesign/ops/catalog/metadata.py
  src/dnadesign/ops/catalog/provider_sources.py
  src/dnadesign/ops/tests/test_catalog_cli.py
Due: core, external_integration

fix(ops): confine catalog artifacts to providers
  src/dnadesign/ops/catalog/provider_sources.py
  src/dnadesign/ops/tests/test_catalog_cli.py
Due: core, external_integration

docs(junction): ground oligo geometry in source evidence
  src/dnadesign/junction/docs/guides/prepare-a-request.md
  src/dnadesign/junction/docs/reference/method-v1.md
  src/dnadesign/junction/docs/reference/request.md
  src/dnadesign/junction/docs/reference/sources.md
  src/dnadesign/junction/examples/three-fragment-review/request.yaml
Due: core, external_integration

feat(baserender): clarify Junction molecular review plots
  src/dnadesign/baserender/docs/integrations/junction.md
  src/dnadesign/baserender/src/render/junction_annealed_fragments.py
  src/dnadesign/baserender/src/render/junction_review/__init__.py
  src/dnadesign/baserender/src/render/junction_review/annealed_panel.py
  src/dnadesign/baserender/src/render/junction_review/detail_geometry.py
  src/dnadesign/baserender/src/render/junction_review/detail_primitives.py
  src/dnadesign/baserender/src/render/junction_review/foundation.py
  src/dnadesign/baserender/src/render/junction_review/overview_panel.py
  src/dnadesign/baserender/src/render/junction_review/primitives.py
  src/dnadesign/baserender/src/render/junction_three_way_assembly.py
  src/dnadesign/baserender/src/render/junction_three_way_detail.py
  src/dnadesign/baserender/tests/test_three_way_junction_review.py
  src/dnadesign/baserender/tests/three_way_junction_review/test_document_finalization.py
  src/dnadesign/baserender/tests/three_way_junction_review/test_module_layout.py
  src/dnadesign/baserender/tests/three_way_junction_review/test_render_bounds.py
  src/dnadesign/junction/docs/README.md
  src/dnadesign/junction/docs/assets/annealed-fragments.svg
  src/dnadesign/junction/docs/assets/assembly-overview.svg
  src/dnadesign/junction/docs/assets/junction-detail.svg
  src/dnadesign/junction/docs/guides/inspect-and-verify.md
Due: core, external_integration, baserender

feat(baserender): add scalable junction molecular review
  src/dnadesign/baserender/src/render/junction_annealed_fragments.py
  src/dnadesign/baserender/src/render/junction_review/annealed_panel.py
  src/dnadesign/baserender/src/render/junction_review/assembly_geometry.py
  src/dnadesign/baserender/src/render/junction_review/assembly_panel.py
  src/dnadesign/baserender/src/render/junction_review/assembly_stages.py
  src/dnadesign/baserender/src/render/junction_review/foundation.py
  src/dnadesign/baserender/src/render/junction_review/fragment_geometry.py
  src/dnadesign/baserender/src/render/junction_review/overview_panel.py
  src/dnadesign/baserender/src/render/junction_review/primitives.py
  src/dnadesign/baserender/src/render/junction_review/product_panel.py
  src/dnadesign/baserender/src/render/junction_three_way_assembly.py
  src/dnadesign/baserender/src/render/junction_three_way_detail.py
  src/dnadesign/baserender/tests/test_three_way_junction_review.py
  src/dnadesign/baserender/tests/three_way_junction_review/benchmark_review_workloads.py
  src/dnadesign/baserender/tests/three_way_junction_review/test_assembly_process.py
  src/dnadesign/baserender/tests/three_way_junction_review/test_direct_renderer_policy.py
  src/dnadesign/baserender/tests/three_way_junction_review/test_document_finalization.py
  src/dnadesign/baserender/tests/three_way_junction_review/test_module_layout.py
  src/dnadesign/baserender/tests/three_way_junction_review/test_render_bounds.py
Due: core, external_integration, baserender

docs(junction): publish molecular QA workflow
  src/dnadesign/baserender/docs/integrations/junction.md
  src/dnadesign/baserender/docs/reference.md
  src/dnadesign/devtools/tests/package/test_distribution.py
  src/dnadesign/junction/README.md
  src/dnadesign/junction/docs/README.md
  src/dnadesign/junction/docs/assets/annealed-fragments.svg
  src/dnadesign/junction/docs/assets/assembly-overview.svg
  src/dnadesign/junction/docs/assets/assembly-process.svg
  src/dnadesign/junction/docs/assets/junction-detail.svg
  src/dnadesign/junction/docs/explanation/how-junction-works.md
  src/dnadesign/junction/docs/guides/inspect-and-verify.md
  src/dnadesign/junction/docs/guides/scale.md
  src/dnadesign/junction/docs/reference/sources.md
  src/dnadesign/junction/examples/three-fragment-review/jobs/assembly-process.yaml
  src/dnadesign/junction/examples/three-fragment-review/request.yaml
Due: core, external_integration, baserender

fix(baserender): preserve junction molecular semantics
  src/dnadesign/baserender/src/render/junction_review/annealed_panel.py
  src/dnadesign/baserender/src/render/junction_review/assembly_panel.py
  src/dnadesign/baserender/src/render/junction_review/assembly_stages.py
  src/dnadesign/baserender/src/render/junction_three_way_assembly.py
  src/dnadesign/baserender/tests/test_three_way_junction_review.py
  src/dnadesign/baserender/tests/three_way_junction_review/test_assembly_process.py
  src/dnadesign/baserender/tests/three_way_junction_review/test_render_bounds.py
  src/dnadesign/junction/docs/assets/annealed-fragments.svg
  src/dnadesign/junction/docs/assets/assembly-process.svg
  src/dnadesign/junction/docs/assets/junction-detail.svg
Due: core, external_integration, baserender

docs(junction): clarify design and recovery workflow
  src/dnadesign/junction/README.md
  src/dnadesign/junction/docs/README.md
  src/dnadesign/junction/docs/explanation/how-junction-works.md
  src/dnadesign/junction/docs/getting-started.md
  src/dnadesign/junction/docs/guides/inspect-and-verify.md
  src/dnadesign/junction/docs/guides/prepare-a-request.md
  src/dnadesign/junction/docs/reference/sources.md
Due: core, external_integration

feat(junction): publish portable design review artifacts
  src/dnadesign/junction/__init__.py
  src/dnadesign/junction/api.py
  src/dnadesign/junction/cli.py
  src/dnadesign/junction/contracts/publication/limits.py
  src/dnadesign/junction/design/resources/artifact_projection.py
  src/dnadesign/junction/docs/assets/sequence-dissimilarity.svg
  src/dnadesign/junction/docs/getting-started.md
  src/dnadesign/junction/docs/guides/inspect-and-verify.md
  src/dnadesign/junction/docs/guides/prepare-a-request.md
  src/dnadesign/junction/docs/guides/scale.md
  src/dnadesign/junction/docs/reference/artifacts-api-and-errors.md
  src/dnadesign/junction/docs/reference/request.md
  src/dnadesign/junction/docs/reference/sources.md
  src/dnadesign/junction/examples/three-fragment-review/request.yaml
  src/dnadesign/junction/ingress/__init__.py
  src/dnadesign/junction/ingress/request.py
  src/dnadesign/junction/ingress/sources.py
  src/dnadesign/junction/presentation/__init__.py
  src/dnadesign/junction/presentation/sequence_review/__init__.py
  src/dnadesign/junction/presentation/sequence_review/contract.py
  src/dnadesign/junction/presentation/sequence_review/metrics.py
  src/dnadesign/junction/presentation/sequence_review/plot.py
  src/dnadesign/junction/presentation/sequence_review/projection.py
  src/dnadesign/junction/publication/fasta.py
  src/dnadesign/junction/publication/manifest.py
  src/dnadesign/junction/publication/payloads.py
  src/dnadesign/junction/publication/verify.py
  src/dnadesign/junction/tests/test_api_cli.py
  src/dnadesign/junction/tests/test_artifact_projection.py
  src/dnadesign/junction/tests/test_publication.py
  src/dnadesign/junction/tests/test_sequence_dissimilarity_plot.py
  src/dnadesign/junction/tests/test_sequence_dissimilarity_projection.py
  src/dnadesign/junction/tests/test_sequence_ingress.py
Due: core, external_integration

feat(baserender): refine junction molecular review
  src/dnadesign/baserender/README.md
  src/dnadesign/baserender/docs/README.md
  src/dnadesign/baserender/docs/integrations/junction.md
  src/dnadesign/baserender/docs/reference.md
  src/dnadesign/baserender/src/render/junction_annealed_fragments.py
  src/dnadesign/baserender/src/render/junction_review/annealed_panel.py
  src/dnadesign/baserender/src/render/junction_review/assembly_geometry.py
  src/dnadesign/baserender/src/render/junction_review/assembly_panel.py
  src/dnadesign/baserender/src/render/junction_review/assembly_stages.py
  src/dnadesign/baserender/src/render/junction_review/detail_primitives.py
  src/dnadesign/baserender/src/render/junction_review/foundation.py
  src/dnadesign/baserender/src/render/junction_review/fragment_geometry.py
  src/dnadesign/baserender/src/render/junction_review/input_panel.py
  src/dnadesign/baserender/src/render/junction_review/preligation_junction.py
  src/dnadesign/baserender/src/render/junction_review/preligation_panel.py
  src/dnadesign/baserender/src/render/junction_review/primitives.py
  src/dnadesign/baserender/src/render/junction_review/product_panel.py
  src/dnadesign/baserender/src/render/junction_three_way_assembly.py
  src/dnadesign/baserender/src/render/junction_three_way_detail.py
  src/dnadesign/baserender/tests/test_three_way_junction_review.py
  src/dnadesign/baserender/tests/test_tool_agnostic_hardening.py
  src/dnadesign/baserender/tests/three_way_junction_review/benchmark_review_workloads.py
  src/dnadesign/baserender/tests/three_way_junction_review/test_assembly_process.py
  src/dnadesign/baserender/tests/three_way_junction_review/test_module_layout.py
  src/dnadesign/baserender/tests/three_way_junction_review/test_render_bounds.py
  src/dnadesign/junction/README.md
  src/dnadesign/junction/assets/junction-banner.svg
  src/dnadesign/junction/docs/README.md
  src/dnadesign/junction/docs/README.tool-source.yaml
  src/dnadesign/junction/docs/assets/annealed-fragments.svg
  src/dnadesign/junction/docs/assets/assembly-process.svg
  src/dnadesign/junction/docs/assets/junction-detail.svg
  src/dnadesign/junction/docs/explanation/how-junction-works.md
  src/dnadesign/junction/examples/three-fragment-review/jobs/junction-detail.yaml
Due: core, external_integration, baserender

docs: simplify tool landing pages
  docs/runbooks/README.md
  src/dnadesign/construct/README.md
  src/dnadesign/cruncher/README.md
  src/dnadesign/devtools/docs/banners/catalog.py
  src/dnadesign/devtools/docs/banners/glyphs.py
  src/dnadesign/devtools/docs/checks.py
  src/dnadesign/devtools/docs/landing.py
  src/dnadesign/devtools/tests/docs/test_checks.py
  src/dnadesign/opal/README.md
Due: core, external_integration, opal, cruncher

fix(junction): isolate plotting and bound sequence review
  src/dnadesign/junction/presentation/sequence_review/metrics.py
  src/dnadesign/junction/presentation/sequence_review/plot.py
  src/dnadesign/junction/tests/test_sequence_dissimilarity_plot.py
Due: core, external_integration

fix(junction): render sequence review as stable vectors
  src/dnadesign/junction/docs/assets/sequence-dissimilarity.svg
  src/dnadesign/junction/presentation/sequence_review/plot.py
  src/dnadesign/junction/tests/test_sequence_dissimilarity_plot.py
Due: core, external_integration

fix(junction): keep plotting imports optional
  src/dnadesign/junction/api.py
  src/dnadesign/junction/presentation/__init__.py
  src/dnadesign/junction/presentation/sequence_review/__init__.py
  src/dnadesign/junction/publication/payloads.py
  src/dnadesign/junction/tests/test_api_cli.py
  src/dnadesign/junction/tests/test_sequence_dissimilarity_plot.py
Due: core, external_integration

docs(junction): consolidate gene-scale tutorial
  README.md
  docs/runbooks/README.md
  src/dnadesign/baserender/docs/integrations/junction.md
  src/dnadesign/baserender/src/render/junction_review/assembly_panel.py
  src/dnadesign/baserender/tests/three_way_junction_review/benchmark_review_workloads.py
  src/dnadesign/baserender/tests/three_way_junction_review/test_assembly_process.py
  src/dnadesign/baserender/tests/three_way_junction_review/test_document_finalization.py
  src/dnadesign/devtools/tests/package/test_distribution.py
  src/dnadesign/junction/README.md
  src/dnadesign/junction/docs/README.md
  src/dnadesign/junction/docs/assets/annealed-fragments.svg
  src/dnadesign/junction/docs/assets/assembly-process.svg
  src/dnadesign/junction/docs/assets/junction-detail.svg
  src/dnadesign/junction/docs/assets/sequence-dissimilarity.svg
  src/dnadesign/junction/docs/explanation/how-junction-works.md
  src/dnadesign/junction/docs/getting-started.md
  src/dnadesign/junction/docs/guides/inspect-and-verify.md
  src/dnadesign/junction/examples/gene-scale/jobs/annealed-fragments.yaml
  src/dnadesign/junction/examples/gene-scale/jobs/assembly-process.yaml
  src/dnadesign/junction/examples/gene-scale/jobs/junction-detail.yaml
  src/dnadesign/junction/examples/gene-scale/request.yaml
  src/dnadesign/junction/examples/three-fragment-review/request.yaml
  src/dnadesign/junction/tests/test_sequence_dissimilarity_plot.py
Due: core, external_integration, baserender

docs(junction): canonicalize tutorial temp path
  src/dnadesign/junction/docs/getting-started.md
Due: core, external_integration

fix(baserender): preserve promoter TF palette
  src/dnadesign/baserender/src/integrations/promoter_panel/style.py
  src/dnadesign/baserender/tests/test_runtime_and_public_api.py
Due: core, external_integration, baserender

feat(cruncher): expose promoter export command
  src/dnadesign/cruncher/docs/reference/cli.md
  src/dnadesign/cruncher/src/cli/commands/sources.py
  src/dnadesign/cruncher/tests/cli/test_local_source_cli.py
Due: core, external_integration, cruncher

build(deps): bump wheel to 0.47.0
  pyproject.toml
  uv.lock
Due: none

fix(cruncher): reject incomplete promoter exports
  src/dnadesign/cruncher/src/cli/commands/sources.py
  src/dnadesign/cruncher/tests/cli/test_local_source_cli.py
Due: core, external_integration, cruncher

refactor(cruncher): use create-only publication
  src/dnadesign/cruncher/src/cli/commands/sources.py
  src/dnadesign/cruncher/tests/cli/test_local_source_cli.py
Due: core, external_integration, cruncher

Path conditions:
  core: any of: src/dnadesign
  external_integration: any of: src/dnadesign
  usr: any of: src/dnadesign/usr/**
  notify: any of: src/dnadesign/notify/**
  densegen: any of: src/dnadesign/densegen/**
  infer: any of: src/dnadesign/infer/**
  opal: any of: src/dnadesign/opal/**
  cluster: any of: src/dnadesign/cluster/**
  billboard: any of: src/dnadesign/billboard/**
  libshuffle: any of: src/dnadesign/libshuffle/**
  nmf: any of: src/dnadesign/nmf/**
  latdna: any of: src/dnadesign/latdna/**
  cruncher: any of: src/dnadesign/cruncher/**
  tfkdanalysis: any of: src/dnadesign/tfkdanalysis/**
  aligner: any of: src/dnadesign/aligner/**
  baserender: any of: src/dnadesign/baserender/**
  permuter: any of: src/dnadesign/permuter/**
