Repository e-south/dnadesign: changes, and which Codecov flags are due for each by the changed paths.
All: core, external_integration, usr, notify, densegen, infer, opal, cluster, billboard, libshuffle, nmf, latdna, cruncher, tfkdanalysis, aligner, baserender, permuter

codecov.yml:

codecov:
  require_ci_to_pass: true

coverage:
  precision: 2
  round: down
  range: "0...100"
  status:
    project:
      default:
        target: auto
        threshold: 0.5%
        if_ci_failed: error
        if_not_found: failure
    patch:
      default:
        target: auto
        threshold: 0.5%
        if_ci_failed: error
        if_not_found: failure

flags:
  core:
    paths:
      - src/dnadesign
    carryforward: false
  external_integration:
    paths:
      - src/dnadesign
    carryforward: false

component_management:
  default_rules:
    statuses:
      - type: project
        target: auto
        threshold: 0.5%
        if_ci_failed: error
        if_not_found: failure
  individual_components:
    - component_id: usr
      name: usr
      paths:
        - src/dnadesign/usr/**
    - component_id: notify
      name: notify
      paths:
        - src/dnadesign/notify/**
    - component_id: densegen
      name: densegen
      paths:
        - src/dnadesign/densegen/**
    - component_id: infer
      name: infer
      paths:
        - src/dnadesign/infer/**
    - component_id: opal
      name: opal
      paths:
        - src/dnadesign/opal/**
    - component_id: cluster
      name: cluster
      paths:
        - src/dnadesign/cluster/**
    - component_id: billboard
      name: billboard
      paths:
        - src/dnadesign/billboard/**
    - component_id: libshuffle
      name: libshuffle
      paths:
        - src/dnadesign/libshuffle/**
    - component_id: nmf
      name: nmf
      paths:
        - src/dnadesign/nmf/**
    - component_id: latdna
      name: latdna
      paths:
        - src/dnadesign/latdna/**
    - component_id: cruncher
      name: cruncher
      paths:
        - src/dnadesign/cruncher/**
    - component_id: tfkdanalysis
      name: tfkdanalysis
      paths:
        - src/dnadesign/tfkdanalysis/**
    - component_id: aligner
      name: aligner
      paths:
        - src/dnadesign/aligner/**
    - component_id: baserender
      name: baserender
      paths:
        - src/dnadesign/baserender/**
    - component_id: permuter
      name: permuter
      paths:
        - src/dnadesign/permuter/**

comment:
  require_changes: true
  layout: "reach,diff,flags,components,files"

github_checks:
  annotations: true

Register USR event gardening layout
  src/dnadesign/usr/tests/source_layout_inventory.py
  src/dnadesign/usr/tests/tests_layout_inventory.py
Due: core, external_integration, usr

Harden promoter LatentDNA workspace
  docs/studies/stress_ethanol_cipro_growth/latentdna_binding.yaml
  docs/studies/stress_ethanol_cipro_growth/routes.md
  docs/studies/stress_ethanol_cipro_growth/status.md
  src/dnadesign/latentdna/docs/reference/workspace-schema.md
  src/dnadesign/latentdna/docs/workflows/promoter-study-representation-comparison.md
  src/dnadesign/latentdna/src/contracts/notebook.py
  src/dnadesign/latentdna/src/services/notebook_geometry_controls.py
  src/dnadesign/latentdna/src/services/workspace_snapshot_service.py
  src/dnadesign/latentdna/src/sources/infer_feature_scalar_sidecar_source.py
  src/dnadesign/latentdna/src/sources/infer_feature_sidecar_source.py
  src/dnadesign/latentdna/tests/contracts/test_study_workspace_contracts.py
  src/dnadesign/latentdna/tests/test_docs_contract.py
  src/dnadesign/latentdna/tests/test_infer_feature_sidecar_source.py
  src/dnadesign/latentdna/tests/test_notebook_controls_service.py
  src/dnadesign/latentdna/workspaces/stress_ethanol_cipro_growth/README.md
  src/dnadesign/latentdna/workspaces/stress_ethanol_cipro_growth/config.yaml
  src/dnadesign/latentdna/workspaces/stress_ethanol_cipro_growth/outputs/status/workspace_snapshot.json
  src/dnadesign/latentdna/workspaces/stress_ethanol_cipro_growth/plot_semantics/balanced_design_family_margin_gallery.yaml
  src/dnadesign/latentdna/workspaces/stress_ethanol_cipro_growth/plot_semantics/candidate_decision_frontier.yaml
  src/dnadesign/latentdna/workspaces/stress_ethanol_cipro_growth/plot_semantics/context_pair_summary.yaml
  src/dnadesign/latentdna/workspaces/stress_ethanol_cipro_growth/plot_semantics/sigma35_centroid_distance_gallery.yaml
  src/dnadesign/latentdna/workspaces/stress_ethanol_cipro_growth/plot_semantics/sigma35_margin_ladder_gallery.yaml
  src/dnadesign/latentdna/workspaces/stress_ethanol_cipro_growth/plot_semantics/sigma35_stress_margin_gallery.yaml
  src/dnadesign/studies/families/promoter/latentdna_contract.py
  src/dnadesign/studies/tests/test_promoter_snapshot_latentdna.py
Due: core, external_integration

Track tool-local agent guidance
  .gitignore
  src/dnadesign/construct/AGENTS.md
  src/dnadesign/construct/tests/package/test_source_tree_contracts.py
  src/dnadesign/latentdna/AGENTS.md
  src/dnadesign/latentdna/tests/package/test_source_tree_contracts.py
Due: core, external_integration

Split Cruncher promoter ingest modules
  src/dnadesign/cruncher/src/ingest/adapters/regulondb.py
  src/dnadesign/cruncher/src/ingest/adapters/regulondb_alignment.py
  src/dnadesign/cruncher/src/ingest/adapters/regulondb_queries.py
  src/dnadesign/cruncher/src/ingest/promoter_contracts.py
  src/dnadesign/cruncher/src/ingest/promoter_payloads.py
  src/dnadesign/cruncher/src/ingest/promoters.py
Due: core, external_integration, cruncher

Expose BaseRender CLI publicly
  pyproject.toml
  src/dnadesign/baserender/__init__.py
  src/dnadesign/baserender/tests/test_package_layout.py
  src/dnadesign/cruncher/tests/cli/test_cassette_cli.py
Due: core, external_integration, cruncher, baserender

Harden DenseGen qsub tracing
  .agents/skills/sge-hpc-ops/references/source-evidence.md
  docs/bu-scc/jobs/densegen-cpu.qsub
  src/dnadesign/ops/runbooks/templates/densegen-cpu.qsub
Due: core, external_integration

Harden vulnerable Python dependencies
  pyproject.toml
  uv.lock
Due: none

Organize latentdna workspace tests
  src/dnadesign/latentdna/docs/workflows/promoter-study-representation-comparison.md
  src/dnadesign/latentdna/tests/cli/test_workspace_command.py
  src/dnadesign/latentdna/tests/integrations/test_freshness_contracts.py
  src/dnadesign/latentdna/tests/package/test_source_tree_contracts.py
  src/dnadesign/latentdna/tests/sources/test_infer_feature_sidecar_source.py
  src/dnadesign/latentdna/tests/test_infer_feature_sidecar_source.py
  src/dnadesign/latentdna/tests/views/test_materialization.py
  src/dnadesign/latentdna/workspaces/stress_ethanol_cipro_growth/outputs/status/workspace_snapshot.json
Due: core, external_integration

Add bounded promoter preflight timeouts
  docs/operations/README.md
  docs/operations/ops-mental-model.md
  docs/studies/README.md
  docs/studies/stress_ethanol_cipro_growth/routes.md
  docs/studies/stress_ethanol_cipro_growth/status.md
  src/dnadesign/ops/tests/test_progress_cli.py
  src/dnadesign/ops/tests/test_status_service_inputs.py
  src/dnadesign/studies/families/promoter/adapter.py
  src/dnadesign/studies/families/promoter/ops/provider.py
  src/dnadesign/studies/families/promoter/ops/status.registry.yaml
  src/dnadesign/studies/tests/test_promoter_preflight.py
Due: core, external_integration

Surface LatentDNA reference metadata hues
  src/dnadesign/latentdna/src/contracts/notebook.py
  src/dnadesign/latentdna/src/notebooks/browser_runtime.py
  src/dnadesign/latentdna/src/services/notebook_geometry_controls.py
  src/dnadesign/latentdna/tests/contracts/test_study_workspace_contracts.py
  src/dnadesign/latentdna/tests/test_browser_runtime.py
  src/dnadesign/latentdna/tests/test_notebook_controls_service.py
  src/dnadesign/latentdna/workspaces/stress_ethanol_cipro_growth/config.yaml
  src/dnadesign/latentdna/workspaces/stress_ethanol_cipro_growth/outputs/status/workspace_snapshot.json
Due: core, external_integration

Harden RegulonDB promoter readiness gates
  docs/studies/regulondb_native_promoter_panel/datasets.yaml
  docs/studies/regulondb_native_promoter_panel/ops.study.yaml
  docs/studies/regulondb_native_promoter_panel/routes.md
  docs/studies/regulondb_native_promoter_panel/status.md
Due: none

Materialize RegulonDB native promoter dataset
  src/dnadesign/usr/datasets/usr_regulondb_native_promoters/.events.log
  src/dnadesign/usr/datasets/usr_regulondb_native_promoters/_derived/regulondb.parquet
  src/dnadesign/usr/datasets/usr_regulondb_native_promoters/_registry/registry.bf9375ea090c989c9a0cea128e47c2a803dbbcb3c854c6d947278f7c4bd7bce1.yaml
  src/dnadesign/usr/datasets/usr_regulondb_native_promoters/_relations/coordinate_features.parquet
  src/dnadesign/usr/datasets/usr_regulondb_native_promoters/_relations/evidence_citations.parquet
  src/dnadesign/usr/datasets/usr_regulondb_native_promoters/_relations/excluded_source_rows.parquet
  src/dnadesign/usr/datasets/usr_regulondb_native_promoters/_relations/promoter_aliases.parquet
  src/dnadesign/usr/datasets/usr_regulondb_native_promoters/_relations/promoter_boxes.parquet
  src/dnadesign/usr/datasets/usr_regulondb_native_promoters/_relations/regulatory_interactions.parquet
  src/dnadesign/usr/datasets/usr_regulondb_native_promoters/_relations/sigma_affiliations.parquet
  src/dnadesign/usr/datasets/usr_regulondb_native_promoters/_relations/skipped_source_rows.parquet
  src/dnadesign/usr/datasets/usr_regulondb_native_promoters/_relations/source_conflicts.parquet
  src/dnadesign/usr/datasets/usr_regulondb_native_promoters/_relations/source_rows.parquet
  src/dnadesign/usr/datasets/usr_regulondb_native_promoters/_relations/tfbs_sites.parquet
  src/dnadesign/usr/datasets/usr_regulondb_native_promoters/_snapshots/records-20260429T142916877184.parquet
  src/dnadesign/usr/datasets/usr_regulondb_native_promoters/_snapshots/records-20260429T142916969932.parquet
  src/dnadesign/usr/datasets/usr_regulondb_native_promoters/_snapshots/records-20260429T142917755812.parquet
  src/dnadesign/usr/datasets/usr_regulondb_native_promoters/_views/sequence_views.parquet
  src/dnadesign/usr/datasets/usr_regulondb_native_promoters/_views/view_semantics.parquet
  src/dnadesign/usr/datasets/usr_regulondb_native_promoters/meta.md
  src/dnadesign/usr/datasets/usr_regulondb_native_promoters/records.parquet
Due: core, external_integration, usr

Speed sequence-view status inventories
  src/dnadesign/infer/__init__.py
  src/dnadesign/infer/contracts.py
  src/dnadesign/infer/src/features/aliases.py
  src/dnadesign/infer/src/features/completion_planner.py
  src/dnadesign/infer/tests/runtime/test_sequence_view_completion_planner.py
  src/dnadesign/ops/tests/test_progress_cli.py
  src/dnadesign/studies/families/promoter/adapter.py
  src/dnadesign/usr/src/sequence_views/qa.py
Due: core, external_integration, usr, infer

Hard cut Infer sequence-view semantics
  src/dnadesign/infer/src/cli/commands/migrate.py
  src/dnadesign/infer/src/features/contracts.py
  src/dnadesign/infer/src/features/execution.py
  src/dnadesign/infer/src/features/legacy_alias_migration.py
  src/dnadesign/infer/src/features/legacy_payload_retirement.py
  src/dnadesign/infer/src/features/overlay_pruning.py
  src/dnadesign/infer/tests/package/test_source_tree_contracts.py
  src/dnadesign/infer/tests/runtime/test_feature_bundle_execution.py
  src/dnadesign/infer/tests/runtime/test_legacy_alias_migration.py
  src/dnadesign/infer/tests/runtime/test_overlay_pruning.py
Due: core, external_integration, infer

Align promoter sequence-view docs
  docs/dev/plans/2026-04-28-sequence-view-ontology-and-infer-completion-hardening-spec.md
  docs/studies/stress_ethanol_cipro_growth/status.md
  src/dnadesign/infer/docs/operations/evo2-sequence-features.md
  src/dnadesign/infer/docs/reference/evo2-provider.md
  src/dnadesign/infer/docs/reference/feature-schema.md
  src/dnadesign/infer/workspaces/study_stress_ethanol_cipro/README.md
  src/dnadesign/latentdna/docs/workflows/promoter-study-representation-comparison.md
Due: core, external_integration, infer

Add infer sequence-view inventory preflight mode
  docs/studies/stress_ethanol_cipro_growth/ops.study.yaml
  docs/studies/stress_ethanol_cipro_growth/status.md
  src/dnadesign/infer/docs/reference/feature-schema.md
  src/dnadesign/infer/src/cli/commands/validate.py
  src/dnadesign/infer/tests/cli/test_validate_command.py
  src/dnadesign/usr/docs/operations/promoter-study-preflight.md
Due: core, external_integration, usr, infer

Add TSS-upstream construct normalization
  src/dnadesign/construct/docs/reference/config.md
  src/dnadesign/construct/src/config.py
  src/dnadesign/construct/src/focal_selectors.py
  src/dnadesign/construct/src/runtime.py
  src/dnadesign/construct/tests/runtime/test_run_construct.py
Due: core, external_integration

Decouple promoter LatentDNA source bindings
  src/dnadesign/studies/families/promoter/latentdna_contract.py
  src/dnadesign/studies/tests/test_promoter_snapshot_latentdna.py
Due: core, external_integration

Wire RegulonDB promoter downstream contracts
  docs/studies/regulondb_native_promoter_panel/datasets.yaml
  docs/studies/regulondb_native_promoter_panel/latentdna_binding.yaml
  docs/studies/regulondb_native_promoter_panel/ops.study.yaml
  docs/studies/regulondb_native_promoter_panel/pipeline.yaml
  docs/studies/regulondb_native_promoter_panel/routes.md
  docs/studies/regulondb_native_promoter_panel/status.md
  src/dnadesign/construct/tests/test_regulondb_workspace_contract.py
  src/dnadesign/construct/workspaces/study_regulondb_native_promoter_panel/README.md
  src/dnadesign/construct/workspaces/study_regulondb_native_promoter_panel/config.core60.yaml
  src/dnadesign/construct/workspaces/study_regulondb_native_promoter_panel/construct.workspace.yaml
  src/dnadesign/infer/workspaces/study_regulondb_native_promoter_panel/README.md
  src/dnadesign/infer/workspaces/study_regulondb_native_promoter_panel/config.sequence_views.core60_tss_upstream.evo2_7b.yaml
  src/dnadesign/infer/workspaces/study_regulondb_native_promoter_panel/config.sequence_views.native_full.evo2_7b.yaml
  src/dnadesign/latentdna/workspaces/regulondb_native_promoter_panel/README.md
  src/dnadesign/latentdna/workspaces/regulondb_native_promoter_panel/config.yaml
  src/dnadesign/ops/runbooks/presets/infer_regulondb_native_promoter_core60_tss_upstream_7b_batch_with_notify.yaml
  src/dnadesign/ops/runbooks/presets/infer_regulondb_native_promoter_native_full_7b_batch_with_notify.yaml
  src/dnadesign/studies/regulondb_native_promoter_panel/README.md
  src/dnadesign/studies/regulondb_native_promoter_panel/study.yaml
Due: core, external_integration, infer

Support planned LatentDNA sources
  src/dnadesign/latentdna/src/contracts/workspace.py
  src/dnadesign/latentdna/src/services/validation_service.py
  src/dnadesign/latentdna/src/services/workspace_snapshot_service.py
  src/dnadesign/latentdna/tests/test_validation_service.py
  src/dnadesign/latentdna/tests/test_workspace_snapshot_service.py
Due: core, external_integration

Report partial LatentDNA study readiness
  src/dnadesign/studies/families/promoter/latentdna_contract.py
  src/dnadesign/studies/families/promoter/latentdna_readiness.py
  src/dnadesign/studies/tests/test_promoter_snapshot_latentdna.py
Due: core, external_integration

Harden RegulonDB inference contracts
  docs/studies/regulondb_native_promoter_panel/datasets.yaml
  docs/studies/regulondb_native_promoter_panel/latentdna_binding.yaml
  docs/studies/regulondb_native_promoter_panel/ops.study.yaml
  docs/studies/regulondb_native_promoter_panel/pipeline.yaml
  docs/studies/regulondb_native_promoter_panel/routes.md
  docs/studies/regulondb_native_promoter_panel/status.md
  src/dnadesign/infer/workspaces/study_regulondb_native_promoter_panel/README.md
  src/dnadesign/latentdna/workspaces/regulondb_native_promoter_panel/README.md
  src/dnadesign/latentdna/workspaces/regulondb_native_promoter_panel/config.yaml
  src/dnadesign/studies/tests/test_regulondb_infer_latentdna_contract.py
Due: core, external_integration, infer

Add reference infer notify lanes
  docs/studies/stress_ethanol_cipro_growth/ops.study.yaml
  docs/studies/stress_ethanol_cipro_growth/pipeline.yaml
  docs/studies/stress_ethanol_cipro_growth/routes.md
  docs/studies/stress_ethanol_cipro_growth/status.md
  src/dnadesign/infer/workspaces/study_stress_ethanol_cipro/README.md
  src/dnadesign/infer/workspaces/study_stress_ethanol_cipro/config.sequence_views.reference_analysis_window_core60.evo2_7b.yaml
  src/dnadesign/infer/workspaces/study_stress_ethanol_cipro/config.sequence_views.reference_context_forward_seq_and_anchor_mean.evo2_7b.yaml
  src/dnadesign/infer/workspaces/study_stress_ethanol_cipro/config.sequence_views.reference_context_reverse_complement_seq_and_anchor_mean.evo2_7b.yaml
  src/dnadesign/ops/runbooks/presets/infer_stress_ethanol_cipro_sequence_views_reference_analysis_window_core60_7b_batch_with_notify.yaml
  src/dnadesign/ops/runbooks/presets/infer_stress_ethanol_cipro_sequence_views_reference_context_forward_seq_and_anchor_mean_7b_batch_with_notify.yaml
  src/dnadesign/ops/runbooks/presets/infer_stress_ethanol_cipro_sequence_views_reference_context_reverse_complement_seq_and_anchor_mean_7b_batch_with_notify.yaml
  src/dnadesign/ops/tests/test_runbook_orchestrator.py
Due: core, external_integration, infer

Separate latent promoter metadata derivations
  src/dnadesign/latentdna/src/scalars/build.py
  src/dnadesign/latentdna/src/views/materialize.py
  src/dnadesign/latentdna/src/views/promoter_metadata.py
  src/dnadesign/latentdna/tests/views/test_materialization.py
Due: core, external_integration

Materialize RegulonDB core60 study state
  docs/studies/regulondb_native_promoter_panel/datasets.yaml
  docs/studies/regulondb_native_promoter_panel/ops.study.yaml
  docs/studies/regulondb_native_promoter_panel/pipeline.yaml
  docs/studies/regulondb_native_promoter_panel/routes.md
  docs/studies/regulondb_native_promoter_panel/status.md
  src/dnadesign/construct/workspaces/study_regulondb_native_promoter_panel/README.md
  src/dnadesign/infer/workspaces/study_regulondb_native_promoter_panel/README.md
Due: core, external_integration, infer

Add generic Infer fill orchestration
  docs/bu-scc/jobs/README.md
  docs/operations/orchestration-runbooks.md
  docs/runbooks/README.md
  src/dnadesign/ops/README.md
  src/dnadesign/ops/api.py
  src/dnadesign/ops/cli/commands/runbook.py
  src/dnadesign/ops/orchestrator/infer_fill.py
  src/dnadesign/ops/orchestrator/mode_tools.py
  src/dnadesign/ops/orchestrator/plan_tools.py
  src/dnadesign/ops/tests/test_ops_docs_progressive_disclosure_contracts.py
  src/dnadesign/ops/tests/test_runbook_orchestrator.py
Due: core, external_integration

Harden Infer sequence-view feature bundles
  pyproject.toml
  src/dnadesign/infer/src/adapters/evo2.py
  src/dnadesign/infer/src/engine.py
  src/dnadesign/infer/src/features/aliases.py
  src/dnadesign/infer/src/features/completion_planner.py
  src/dnadesign/infer/src/features/contracts.py
  src/dnadesign/infer/src/features/execution.py
  src/dnadesign/infer/src/features/sequence_views.py
  src/dnadesign/infer/tests/runtime/test_evo2_adapter_pooling_contracts.py
  src/dnadesign/infer/tests/runtime/test_evo2_adapter_scoring.py
  src/dnadesign/infer/tests/runtime/test_feature_bundle_execution.py
  src/dnadesign/infer/tests/runtime/test_sequence_view_completion_planner.py
  uv.lock
Due: core, external_integration, infer

Report Infer feature bundle progress through Notify
  docs/bu-scc/jobs/notify-watch.qsub
  docs/notify/usr-events.md
  src/dnadesign/notify/profiles/policy.py
  src/dnadesign/notify/runtime/watch.py
  src/dnadesign/notify/tests/cli/test_profile_init.py
  src/dnadesign/notify/tests/hpc/test_watch_qsub.py
  src/dnadesign/notify/tests/profiles/test_workflow_policy_module.py
  src/dnadesign/notify/tests/tool_events/test_tool_events.py
  src/dnadesign/notify/tool_events/infer.py
  src/dnadesign/ops/runbooks/templates/notify-watch.qsub
Due: core, external_integration, notify

Refresh study inference readiness records
  docs/studies/regulondb_native_promoter_panel/pipeline.yaml
  docs/studies/regulondb_native_promoter_panel/status.md
  docs/studies/stress_ethanol_cipro_growth/pipeline.yaml
  docs/studies/stress_ethanol_cipro_growth/status.md
  src/dnadesign/infer/workspaces/study_regulondb_native_promoter_panel/README.md
  src/dnadesign/infer/workspaces/study_regulondb_native_promoter_panel/config.sequence_views.native_full_plus_tss_upstream_core60.evo2_7b.yaml
  src/dnadesign/infer/workspaces/study_stress_ethanol_cipro/README.md
  src/dnadesign/infer/workspaces/study_stress_ethanol_cipro/config.sequence_views.reference_source_and_sfxi_source.evo2_7b.yaml
  src/dnadesign/latentdna/workspaces/stress_ethanol_cipro_growth/README.md
  src/dnadesign/latentdna/workspaces/stress_ethanol_cipro_growth/outputs/status/workspace_snapshot.json
  src/dnadesign/usr/datasets/usr_regulondb_native_promoters/.events.log
Due: core, external_integration, usr, infer

Ignore cache-only directories in CI tool discovery
  src/dnadesign/devtools/ci/changes.py
  src/dnadesign/devtools/tests/ci/test_changes.py
Due: core, external_integration

Harden USR overlay registry maintenance
  src/dnadesign/usr/docs/reference/maintenance.md
  src/dnadesign/usr/docs/reference/overlay-and-registry.md
  src/dnadesign/usr/scripts/refresh_overlay_registry_metadata.py
  src/dnadesign/usr/src/cli/commands/maintenance/__init__.py
  src/dnadesign/usr/src/cli/commands/maintenance/cli.py
  src/dnadesign/usr/src/cli/commands/maintenance/overlay.py
  src/dnadesign/usr/src/cli/support/wiring/bindings.py
  src/dnadesign/usr/src/cli/support/wiring/registration.py
  src/dnadesign/usr/src/dataset/__init__.py
  src/dnadesign/usr/src/datasets/overlay/__init__.py
  src/dnadesign/usr/src/datasets/overlay/maintenance.py
  src/dnadesign/usr/tests/cli/commands/maintenance/test_cli_maintenance_module_layout.py
  src/dnadesign/usr/tests/cli/commands/maintenance/test_cli_maintenance_registry.py
Due: core, external_integration, usr

Add BaseRender sequence panel API
  src/dnadesign/baserender/__init__.py
  src/dnadesign/baserender/docs/reference.md
  src/dnadesign/baserender/src/config/style_v1.py
  src/dnadesign/baserender/src/public/__init__.py
  src/dnadesign/baserender/src/public/api.py
  src/dnadesign/baserender/src/public/sequence_panel.py
  src/dnadesign/baserender/src/render/effects/span_link.py
  src/dnadesign/baserender/src/render/sequence_rows.py
  src/dnadesign/baserender/tests/test_package_layout.py
  src/dnadesign/baserender/tests/test_runtime_and_public_api.py
Due: core, external_integration, baserender

Expose OPAL SFXI scoring API
  src/dnadesign/opal/api/__init__.py
  src/dnadesign/opal/api/sfxi.py
  src/dnadesign/opal/tests/api/test_sfxi_api.py
Due: core, external_integration, opal

Wire LatentDNA Evo2 study workspaces
  docs/studies/regulondb_native_promoter_panel/audits/usr_regulondb_native_promoter_core60--cluster-diff.json
  docs/studies/regulondb_native_promoter_panel/audits/usr_regulondb_native_promoters--cluster-diff.json
  src/dnadesign/latentdna/workspaces/regulondb_native_promoter_panel/README.md
  src/dnadesign/latentdna/workspaces/regulondb_native_promoter_panel/config.yaml
  src/dnadesign/latentdna/workspaces/regulondb_native_promoter_panel/plot_semantics/sigma_umap_intermediate_embedding_7b_core60_tss_upstream.yaml
  src/dnadesign/latentdna/workspaces/regulondb_native_promoter_panel/plot_semantics/sigma_umap_intermediate_embedding_7b_native_source_record_seq_mean.yaml
  src/dnadesign/latentdna/workspaces/stress_ethanol_cipro_growth/config.yaml
  src/dnadesign/latentdna/workspaces/stress_ethanol_cipro_growth/outputs/status/workspace_snapshot.json
  src/dnadesign/latentdna/workspaces/stress_ethanol_cipro_growth/plot_semantics/balanced_design_family_margin_gallery.yaml
  src/dnadesign/latentdna/workspaces/stress_ethanol_cipro_growth/plot_semantics/candidate_decision_frontier.yaml
  src/dnadesign/latentdna/workspaces/stress_ethanol_cipro_growth/plot_semantics/context_pair_summary.yaml
  src/dnadesign/latentdna/workspaces/stress_ethanol_cipro_growth/plot_semantics/reference_alignment_summary.yaml
  src/dnadesign/latentdna/workspaces/stress_ethanol_cipro_growth/plot_semantics/reference_core60_pca_scree.yaml
  src/dnadesign/latentdna/workspaces/stress_ethanol_cipro_growth/plot_semantics/reference_core60_strength_umap.yaml
  src/dnadesign/latentdna/workspaces/stress_ethanol_cipro_growth/plot_semantics/representation_health_summary.yaml
  src/dnadesign/latentdna/workspaces/stress_ethanol_cipro_growth/plot_semantics/sigma35_centroid_distance_gallery.yaml
  src/dnadesign/latentdna/workspaces/stress_ethanol_cipro_growth/plot_semantics/sigma35_margin_ladder_gallery.yaml
  src/dnadesign/latentdna/workspaces/stress_ethanol_cipro_growth/plot_semantics/sigma35_ordinal_audit.yaml
  src/dnadesign/latentdna/workspaces/stress_ethanol_cipro_growth/plot_semantics/sigma35_stress_margin_gallery.yaml
  src/dnadesign/latentdna/workspaces/templates/promoter_reference_margin_benchmark/config.yaml
  src/dnadesign/studies/regulondb_native_promoter_panel/deliverables/sigma_umap_panel.md
  src/dnadesign/studies/stress_ethanol_cipro_growth/deliverables/appendix_geometry_audit.md
  src/dnadesign/studies/stress_ethanol_cipro_growth/deliverables/appendix_umap_gallery.md
  src/dnadesign/studies/stress_ethanol_cipro_growth/deliverables/candidate_decision_frontier.md
  src/dnadesign/studies/stress_ethanol_cipro_growth/deliverables/context_robustness_summary.md
  src/dnadesign/studies/stress_ethanol_cipro_growth/deliverables/representation_health_summary.md
  src/dnadesign/studies/stress_ethanol_cipro_growth/deliverables/sigma35_ordinal_audit.md
Due: core, external_integration

latentdna: generalize EDA review primitives
  src/dnadesign/latentdna/docs/dev/expanded-reference-view-contract.md
  src/dnadesign/latentdna/docs/reference/workspace-schema.md
  src/dnadesign/latentdna/src/contracts/notebook.py
  src/dnadesign/latentdna/src/geometry/cohorts.py
  src/dnadesign/latentdna/src/labels.py
  src/dnadesign/latentdna/src/metrics/definitions.py
  src/dnadesign/latentdna/src/notebooks/scaffold_panels.py
  src/dnadesign/latentdna/src/notebooks/scaffold_selectors.py
  src/dnadesign/latentdna/src/scalars/preassay.py
  src/dnadesign/latentdna/src/services/candidate_set_service.py
  src/dnadesign/latentdna/src/services/notebook_geometry_controls.py
  src/dnadesign/latentdna/src/visual_style.py
  src/dnadesign/latentdna/tests/contracts/test_workspace_config.py
  src/dnadesign/latentdna/tests/integrations/test_notebook_generation_workflow.py
  src/dnadesign/latentdna/tests/test_browser_runtime_plot_review.py
  src/dnadesign/latentdna/tests/test_browser_runtime_projection.py
  src/dnadesign/latentdna/tests/test_labels.py
  src/dnadesign/latentdna/tests/test_notebook_controls_service.py
  src/dnadesign/latentdna/tests/test_scalar_build.py
  src/dnadesign/latentdna/tests/test_scalar_preassay.py
Due: core, external_integration

latentdna: add RegulonDB compact review path
  src/dnadesign/latentdna/tests/test_regulondb_native_promoter_profile.py
  src/dnadesign/latentdna/workspaces/regulondb_native_promoter_panel/config.yaml
  src/dnadesign/latentdna/workspaces/regulondb_native_promoter_panel/plot_semantics/native_core60_shift_summary.yaml
  src/dnadesign/latentdna/workspaces/regulondb_native_promoter_panel/plot_semantics/representation_health_summary.yaml
  src/dnadesign/latentdna/workspaces/regulondb_native_promoter_panel/plot_semantics/sigma_factor_structure_summary.yaml
  src/dnadesign/studies/regulondb_native_promoter_panel/deliverables/native_core60_shift_summary.md
  src/dnadesign/studies/regulondb_native_promoter_panel/deliverables/representation_health_summary.md
  src/dnadesign/studies/regulondb_native_promoter_panel/deliverables/sigma_factor_structure_summary.md
Due: core, external_integration
