Repository e-south/dnadesign: changes, and which Codecov flags are due for each by the changed paths.
All: core, external_integration, usr, notify, densegen, infer, opal, cluster, billboard, libshuffle, nmf, latdna, cruncher, tfkdanalysis, aligner, baserender, permuter

codecov.yml:

codecov:
  require_ci_to_pass: true

coverage:
  precision: 2
  round: down
  range: "0...100"
  status:
    project:
      default:
        target: auto
        threshold: 0.5%
        if_ci_failed: error
        if_not_found: failure
    patch:
      default:
        target: auto
        threshold: 0.5%
        if_ci_failed: error
        if_not_found: failure

flags:
  core:
    paths:
      - src/dnadesign
    carryforward: false
  external_integration:
    paths:
      - src/dnadesign
    carryforward: false

component_management:
  default_rules:
    statuses:
      - type: project
        target: auto
        threshold: 0.5%
        if_ci_failed: error
        if_not_found: failure
  individual_components:
    - component_id: usr
      name: usr
      paths:
        - src/dnadesign/usr/**
    - component_id: notify
      name: notify
      paths:
        - src/dnadesign/notify/**
    - component_id: densegen
      name: densegen
      paths:
        - src/dnadesign/densegen/**
    - component_id: infer
      name: infer
      paths:
        - src/dnadesign/infer/**
    - component_id: opal
      name: opal
      paths:
        - src/dnadesign/opal/**
    - component_id: cluster
      name: cluster
      paths:
        - src/dnadesign/cluster/**
    - component_id: billboard
      name: billboard
      paths:
        - src/dnadesign/billboard/**
    - component_id: libshuffle
      name: libshuffle
      paths:
        - src/dnadesign/libshuffle/**
    - component_id: nmf
      name: nmf
      paths:
        - src/dnadesign/nmf/**
    - component_id: latdna
      name: latdna
      paths:
        - src/dnadesign/latdna/**
    - component_id: cruncher
      name: cruncher
      paths:
        - src/dnadesign/cruncher/**
    - component_id: tfkdanalysis
      name: tfkdanalysis
      paths:
        - src/dnadesign/tfkdanalysis/**
    - component_id: aligner
      name: aligner
      paths:
        - src/dnadesign/aligner/**
    - component_id: baserender
      name: baserender
      paths:
        - src/dnadesign/baserender/**
    - component_id: permuter
      name: permuter
      paths:
        - src/dnadesign/permuter/**

comment:
  require_changes: true
  layout: "reach,diff,flags,components,files"

github_checks:
  annotations: true

fix(cruncher): discover explicit promoter roots
  src/dnadesign/cruncher/docs/reference/cli.md
  src/dnadesign/cruncher/src/ingest/promoter_filesystem.py
  src/dnadesign/cruncher/src/ingest/promoters.py
  src/dnadesign/cruncher/tests/cli/test_local_source_cli.py
  src/dnadesign/cruncher/tests/ingest/test_promoter_filesystem.py
Due: core, external_integration, cruncher

test(cruncher): satisfy package layout contracts
  src/dnadesign/cruncher/src/ingest/promoter_filesystem.py
  src/dnadesign/cruncher/tests/ingest/test_promoter_filesystem.py
Due: core, external_integration, cruncher

refactor(cruncher): use create-only publication
  src/dnadesign/cruncher/src/cli/commands/sources.py
  src/dnadesign/cruncher/tests/cli/test_local_source_cli.py
Due: core, external_integration, cruncher

build(deps): bump wheel to 0.47.0
  pyproject.toml
  uv.lock
Due: none

feat(cruncher): expose promoter export command
  src/dnadesign/cruncher/docs/reference/cli.md
  src/dnadesign/cruncher/src/cli/commands/sources.py
  src/dnadesign/cruncher/tests/cli/test_local_source_cli.py
Due: core, external_integration, cruncher

fix(cruncher): reject incomplete promoter exports
  src/dnadesign/cruncher/src/cli/commands/sources.py
  src/dnadesign/cruncher/tests/cli/test_local_source_cli.py
Due: core, external_integration, cruncher

fix(junction): bound dissimilarity labels
  src/dnadesign/junction/docs/assets/sequence-dissimilarity.svg
  src/dnadesign/junction/presentation/sequence_review/plot.py
  src/dnadesign/junction/tests/test_sequence_dissimilarity_plot.py
Due: core, external_integration

refactor(junction): remove unreachable label fallback
  src/dnadesign/junction/presentation/sequence_review/plot.py
Due: core, external_integration

docs(junction): clarify the sequence-to-oligo tutorial
  src/dnadesign/baserender/src/render/junction_review/annealed_panel.py
  src/dnadesign/baserender/src/render/junction_review/assembly_geometry.py
  src/dnadesign/baserender/src/render/junction_review/assembly_panel.py
  src/dnadesign/baserender/src/render/junction_review/foundation.py
  src/dnadesign/baserender/src/render/junction_review/input_panel.py
  src/dnadesign/baserender/src/render/junction_review/primitives.py
  src/dnadesign/baserender/tests/three_way_junction_review/test_assembly_process.py
  src/dnadesign/junction/README.md
  src/dnadesign/junction/docs/assets/annealed-fragments.svg
  src/dnadesign/junction/docs/assets/assembly-process.svg
  src/dnadesign/junction/docs/assets/sequence-dissimilarity.svg
  src/dnadesign/junction/docs/getting-started.md
  src/dnadesign/junction/presentation/sequence_review/plot.py
  src/dnadesign/junction/tests/test_sequence_dissimilarity_plot.py
Due: core, external_integration, baserender

fix(junction): scale recovered product glyphs
  src/dnadesign/baserender/src/render/junction_review/product_panel.py
  src/dnadesign/baserender/tests/three_way_junction_review/test_assembly_process.py
Due: core, external_integration, baserender

feat(junction): compare synthesis purchase routes
  pyproject.toml
  src/dnadesign/junction/README.md
  src/dnadesign/junction/docs/README.md
  src/dnadesign/junction/docs/README.tool-source.yaml
  src/dnadesign/junction/docs/assets/purchase-price-comparison.svg
  src/dnadesign/junction/docs/guides/choose-a-synthesis-route.md
  src/dnadesign/junction/economics/__init__.py
  src/dnadesign/junction/economics/contracts.py
  src/dnadesign/junction/economics/data/twist-academic-2026-08-11.yaml
  src/dnadesign/junction/economics/model.py
  src/dnadesign/junction/economics/render.py
  src/dnadesign/junction/tests/test_synthesis_economics.py
Due: core, external_integration

fix(junction): use a supported figure title weight
  src/dnadesign/junction/economics/render.py
Due: core, external_integration

feat(junction): model ambiguous-base pool surcharge
  src/dnadesign/junction/docs/guides/choose-a-synthesis-route.md
  src/dnadesign/junction/economics/contracts.py
  src/dnadesign/junction/economics/data/twist-academic-2026-08-11.yaml
  src/dnadesign/junction/economics/model.py
  src/dnadesign/junction/tests/test_synthesis_economics.py
Due: core, external_integration

fix(junction): harden pricing snapshot boundaries
  src/dnadesign/junction/docs/README.md
  src/dnadesign/junction/economics/contracts.py
  src/dnadesign/junction/economics/model.py
  src/dnadesign/junction/economics/render.py
  src/dnadesign/junction/tests/test_synthesis_economics.py
Due: core, external_integration

refactor(junction): make synthesis comparison generic
  src/dnadesign/junction/docs/assets/purchase-price-comparison.svg
  src/dnadesign/junction/docs/guides/choose-a-synthesis-route.md
  src/dnadesign/junction/economics/__init__.py
  src/dnadesign/junction/economics/render.py
  src/dnadesign/junction/tests/test_synthesis_economics.py
Due: core, external_integration

refactor(ops): remove study lifecycle control plane
  src/dnadesign/ops/preflight/check_protocols.py
  src/dnadesign/ops/preflight/checks/command.py
  src/dnadesign/ops/preflight/checks/environment.py
  src/dnadesign/ops/preflight/checks/runbook.py
  src/dnadesign/ops/preflight/checks/scheduler_queue.py
  src/dnadesign/ops/preflight/contract_checks.py
  src/dnadesign/ops/preflight/coordinator.py
  src/dnadesign/ops/preflight/models.py
  src/dnadesign/ops/study/__init__.py
  src/dnadesign/ops/study/models.py
  src/dnadesign/ops/study/preflight_plan.py
  src/dnadesign/ops/study/record_loader.py
  src/dnadesign/ops/tests/test_preflight_contract_checks.py
  src/dnadesign/ops/tests/test_state_semantics.py
  src/dnadesign/ops/tests/test_study_preflight_plan.py
  src/dnadesign/ops/tests/test_study_record_loader.py
Due: core, external_integration

test(junction): refresh deterministic review asset
  src/dnadesign/junction/docs/assets/assembly-process.svg
  src/dnadesign/junction/economics/__init__.py
  src/dnadesign/junction/economics/contracts.py
  src/dnadesign/junction/economics/model.py
  src/dnadesign/junction/economics/render.py
  src/dnadesign/junction/tests/test_synthesis_economics.py
Due: core, external_integration

fix: close review gaps in scope and pricing
  src/dnadesign/junction/economics/model.py
  src/dnadesign/junction/tests/test_synthesis_economics.py
  src/dnadesign/ops/study/record_loader.py
  src/dnadesign/ops/tests/test_study_record_loader.py
Due: core, external_integration

fix(ops): validate runbook discovery through study contract
  src/dnadesign/ops/orchestrator/study_runbooks.py
  src/dnadesign/ops/tests/test_runbook_orchestrator.py
  src/dnadesign/ops/tests/test_study_runbook_discovery.py
Due: core, external_integration

fix(baserender): deduplicate promoter labels
  src/dnadesign/baserender/src/integrations/usr/genbank_annotations_v1.py
  src/dnadesign/baserender/src/render/sequence_rows.py
  src/dnadesign/baserender/tests/test_usr_genbank_adapter.py
Due: core, external_integration, baserender

feat(thread): add pinned LigandMPNN adapter
  src/dnadesign/thread/README.md
  src/dnadesign/thread/adapters/ligandmpnn/__init__.py
  src/dnadesign/thread/adapters/ligandmpnn/commands.py
  src/dnadesign/thread/adapters/ligandmpnn/models.py
  src/dnadesign/thread/adapters/ligandmpnn/preflight.py
  src/dnadesign/thread/adapters/ligandmpnn/receipts.py
  src/dnadesign/thread/docs/README.md
  src/dnadesign/thread/tests/adapters/ligandmpnn/__init__.py
  src/dnadesign/thread/tests/adapters/ligandmpnn/test_adapter.py
  src/dnadesign/thread/tests/adapters/ligandmpnn/test_preflight.py
  src/dnadesign/thread/tests/test_package_layout.py
Due: core, external_integration

feat(thread): harden LigandMPNN scoring and alphabets
  src/dnadesign/thread/README.md
  src/dnadesign/thread/adapters/ligandmpnn/__init__.py
  src/dnadesign/thread/adapters/ligandmpnn/alphabets.py
  src/dnadesign/thread/adapters/ligandmpnn/commands.py
  src/dnadesign/thread/adapters/ligandmpnn/models.py
  src/dnadesign/thread/adapters/ligandmpnn/preflight.py
  src/dnadesign/thread/adapters/ligandmpnn/receipts.py
  src/dnadesign/thread/adapters/ligandmpnn/scoring.py
  src/dnadesign/thread/docs/README.md
  src/dnadesign/thread/tests/adapters/ligandmpnn/test_alphabets.py
  src/dnadesign/thread/tests/adapters/ligandmpnn/test_preflight.py
  src/dnadesign/thread/tests/adapters/ligandmpnn/test_scoring.py
  src/dnadesign/thread/tests/test_package_layout.py
Due: core, external_integration

feat(thread): validate LigandMPNN score results
  src/dnadesign/thread/adapters/ligandmpnn/__init__.py
  src/dnadesign/thread/adapters/ligandmpnn/score_results.py
  src/dnadesign/thread/adapters/ligandmpnn/scoring.py
  src/dnadesign/thread/docs/README.md
  src/dnadesign/thread/tests/adapters/ligandmpnn/test_score_results.py
  src/dnadesign/thread/tests/adapters/ligandmpnn/test_scoring.py
  src/dnadesign/thread/tests/test_package_layout.py
Due: core, external_integration

fix(thread): serialize mixed-polymer mmCIF for 3Dmol
  src/dnadesign/thread/structure_views/_mmcif.py
  src/dnadesign/thread/structure_views/backends/py3dmol.py
  src/dnadesign/thread/tests/structure_views/test_py3dmol_html.py
Due: core, external_integration

chore(thread): normalize LigandMPNN module headers
  src/dnadesign/thread/adapters/ligandmpnn/__init__.py
  src/dnadesign/thread/adapters/ligandmpnn/alphabets.py
  src/dnadesign/thread/adapters/ligandmpnn/commands.py
  src/dnadesign/thread/adapters/ligandmpnn/models.py
  src/dnadesign/thread/adapters/ligandmpnn/preflight.py
  src/dnadesign/thread/adapters/ligandmpnn/receipts.py
  src/dnadesign/thread/adapters/ligandmpnn/score_results.py
  src/dnadesign/thread/adapters/ligandmpnn/scoring.py
  src/dnadesign/thread/tests/adapters/ligandmpnn/__init__.py
  src/dnadesign/thread/tests/adapters/ligandmpnn/test_adapter.py
  src/dnadesign/thread/tests/adapters/ligandmpnn/test_alphabets.py
  src/dnadesign/thread/tests/adapters/ligandmpnn/test_preflight.py
  src/dnadesign/thread/tests/adapters/ligandmpnn/test_score_results.py
  src/dnadesign/thread/tests/adapters/ligandmpnn/test_scoring.py
Due: core, external_integration
