Repository e-south/dnadesign: changes, and which Codecov flags are due for each by the changed paths.
All: core, external_integration, usr, notify, densegen, infer, opal, cluster, billboard, libshuffle, nmf, latdna, cruncher, tfkdanalysis, aligner, baserender, permuter

codecov.yml:

codecov:
  require_ci_to_pass: true

coverage:
  precision: 2
  round: down
  range: "0...100"
  status:
    project:
      default:
        target: auto
        threshold: 0.5%
        if_ci_failed: error
        if_not_found: failure
    patch:
      default:
        target: auto
        threshold: 0.5%
        if_ci_failed: error
        if_not_found: failure

flags:
  core:
    paths:
      - src/dnadesign
    carryforward: false
  external_integration:
    paths:
      - src/dnadesign
    carryforward: false

component_management:
  default_rules:
    statuses:
      - type: project
        target: auto
        threshold: 0.5%
        if_ci_failed: error
        if_not_found: failure
  individual_components:
    - component_id: usr
      name: usr
      paths:
        - src/dnadesign/usr/**
    - component_id: notify
      name: notify
      paths:
        - src/dnadesign/notify/**
    - component_id: densegen
      name: densegen
      paths:
        - src/dnadesign/densegen/**
    - component_id: infer
      name: infer
      paths:
        - src/dnadesign/infer/**
    - component_id: opal
      name: opal
      paths:
        - src/dnadesign/opal/**
    - component_id: cluster
      name: cluster
      paths:
        - src/dnadesign/cluster/**
    - component_id: billboard
      name: billboard
      paths:
        - src/dnadesign/billboard/**
    - component_id: libshuffle
      name: libshuffle
      paths:
        - src/dnadesign/libshuffle/**
    - component_id: nmf
      name: nmf
      paths:
        - src/dnadesign/nmf/**
    - component_id: latdna
      name: latdna
      paths:
        - src/dnadesign/latdna/**
    - component_id: cruncher
      name: cruncher
      paths:
        - src/dnadesign/cruncher/**
    - component_id: tfkdanalysis
      name: tfkdanalysis
      paths:
        - src/dnadesign/tfkdanalysis/**
    - component_id: aligner
      name: aligner
      paths:
        - src/dnadesign/aligner/**
    - component_id: baserender
      name: baserender
      paths:
        - src/dnadesign/baserender/**
    - component_id: permuter
      name: permuter
      paths:
        - src/dnadesign/permuter/**

comment:
  require_changes: true
  layout: "reach,diff,flags,components,files"

github_checks:
  annotations: true

fix(opal): stabilize round comparison views
  src/dnadesign/opal/src/analysis/notebook_components/layered_scatter_contract.py
  src/dnadesign/opal/src/analysis/notebook_components/layered_scatter_rendering.py
  src/dnadesign/opal/src/analysis/notebook_components/selection_round_encoding.py
  src/dnadesign/opal/src/analysis/notebook_components/three_axis_camera_state.py
  src/dnadesign/opal/src/analysis/notebook_components/three_axis_scatter.py
  src/dnadesign/opal/src/plots/selection_view_performance.py
  src/dnadesign/opal/tests/api/test_selection_view_performance_api.py
  src/dnadesign/opal/tests/notebooks/test_layered_scatter_notebook.py
  src/dnadesign/opal/tests/notebooks/test_three_axis_scatter_notebook.py
Due: core, external_integration, opal

fix(opal): inspect compacted run ledgers
  src/dnadesign/opal/src/storage/history_relocation/inspection.py
  src/dnadesign/opal/tests/cli/test_cli_history_import_provenance.py
Due: core, external_integration, opal

test(opal): split notebook review contracts
  .secrets.baseline
  src/dnadesign/opal/tests/notebooks/test_layered_scatter_notebook.py
  src/dnadesign/opal/tests/notebooks/test_layered_scatter_round_overlays.py
  src/dnadesign/opal/tests/notebooks/test_notebook_review_controls.py
  src/dnadesign/opal/tests/notebooks/test_notebook_template.py
Due: core, external_integration, opal

fix(opal): verify campaign history relocation
  src/dnadesign/opal/src/storage/history_relocation/inspection.py
  src/dnadesign/opal/src/storage/history_relocation/label_ledger.py
  src/dnadesign/opal/src/storage/history_relocation/state_projection.py
  src/dnadesign/opal/tests/cli/test_cli_history_import.py
  src/dnadesign/opal/tests/cli/test_cli_history_import_concurrency.py
Due: core, external_integration, opal

fix(opal): project compacted prediction runs
  src/dnadesign/opal/src/storage/history_relocation/inspection.py
  src/dnadesign/opal/src/storage/history_relocation/materialization.py
  src/dnadesign/opal/src/storage/history_relocation/prediction_ledger.py
  src/dnadesign/opal/tests/cli/test_cli_history_import_provenance.py
Due: core, external_integration, opal

fix(opal): retain candidate lineage evidence
  src/dnadesign/opal/src/storage/history_relocation/inspection.py
  src/dnadesign/opal/src/storage/history_relocation/prediction_retention.py
  src/dnadesign/opal/tests/cli/test_cli_history_import_retention.py
Due: core, external_integration, opal

fix(opal): close history relocation transactions
  src/dnadesign/opal/docs/reference/cli.md
  src/dnadesign/opal/src/cli/commands/history.py
  src/dnadesign/opal/src/storage/history_relocation/column_contract.py
  src/dnadesign/opal/src/storage/history_relocation/contracts.py
  src/dnadesign/opal/src/storage/history_relocation/inspection.py
  src/dnadesign/opal/src/storage/history_relocation/materialization.py
  src/dnadesign/opal/src/storage/history_relocation/run_ledger.py
  src/dnadesign/opal/tests/cli/test_cli_history_import_concurrency.py
  src/dnadesign/opal/tests/cli/test_cli_history_import_provenance.py
Due: core, external_integration, opal

fix(opal): distinguish mature observed batches
  src/dnadesign/opal/src/analysis/notebook_components/three_axis_scatter.py
  src/dnadesign/opal/src/analysis/notebook_components/three_axis_scatter_style.py
  src/dnadesign/opal/tests/notebooks/test_three_axis_scatter_notebook.py
Due: core, external_integration, opal

feat(opal): review campaign rounds interactively
  .secrets.baseline
  src/dnadesign/opal/docs/reference/cli.md
  src/dnadesign/opal/docs/reference/notebooks.md
  src/dnadesign/opal/src/analysis/notebook_components/layered_scatter.py
  src/dnadesign/opal/src/analysis/notebook_components/layered_scatter_contract.py
  src/dnadesign/opal/src/analysis/notebook_components/layered_scatter_controls.py
  src/dnadesign/opal/src/analysis/notebook_components/layered_scatter_rendering.py
  src/dnadesign/opal/src/analysis/notebook_components/layered_scatter_rounds.py
  src/dnadesign/opal/src/analysis/notebook_components/plot_scopes.py
  src/dnadesign/opal/src/analysis/notebook_components/review_controls.py
  src/dnadesign/opal/src/analysis/notebook_components/three_axis_camera_state.py
  src/dnadesign/opal/src/analysis/notebook_components/three_axis_scatter.py
  src/dnadesign/opal/src/analysis/notebook_components/three_axis_scatter_data.py
  src/dnadesign/opal/src/analysis/notebook_components/three_axis_scatter_style.py
  src/dnadesign/opal/src/analysis/notebook_set_template/campaign_cells.py
  src/dnadesign/opal/src/analysis/notebook_set_template/layered_scatter_cells.py
  src/dnadesign/opal/src/analysis/notebook_set_template/visual_cells.py
  src/dnadesign/opal/src/analysis/notebook_set_template/visual_selector_cells.py
  src/dnadesign/opal/src/cli/commands/notebook.py
  src/dnadesign/opal/src/plots/candidate_annotation_layout.py
  src/dnadesign/opal/tests/cli/test_cli_notebook_generate.py
  src/dnadesign/opal/tests/cli/test_docs_workflow_routing.py
  src/dnadesign/opal/tests/notebooks/test_layered_scatter_notebook.py
  src/dnadesign/opal/tests/notebooks/test_notebook_template.py
  src/dnadesign/opal/tests/notebooks/test_three_axis_scatter_notebook.py
Due: core, external_integration, opal

fix(opal): preserve active 3D camera
  src/dnadesign/opal/src/analysis/notebook_components/three_axis_camera_state.py
  src/dnadesign/opal/tests/notebooks/test_three_axis_scatter_notebook.py
Due: core, external_integration, opal

fix(opal): recover camera restore failures
  src/dnadesign/opal/src/analysis/notebook_components/three_axis_camera_state.py
  src/dnadesign/opal/tests/notebooks/test_three_axis_camera_state.py
  src/dnadesign/opal/tests/notebooks/test_three_axis_scatter_notebook.py
Due: core, external_integration, opal

test(opal): parse camera script by markers
  src/dnadesign/opal/tests/notebooks/test_three_axis_camera_state.py
Due: core, external_integration, opal

Fail closed on unsupported folding requests
  src/dnadesign/contracts/folding/_viennarna_parameters.py
  src/dnadesign/contracts/folding/secondary_structure_prediction_v1.py
  src/dnadesign/contracts/sequence/linear_ssdna_composition_v1.py
  src/dnadesign/contracts/tests/test_sequence_contracts.py
  src/dnadesign/folding/README.md
  src/dnadesign/folding/docs/README.md
Due: core, external_integration

Add atomic annotated part placement
  ARCHITECTURE.md
  docs/integrations/study-workspaces.md
  src/dnadesign/construct/README.md
  src/dnadesign/construct/__init__.py
  src/dnadesign/construct/docs/README.md
  src/dnadesign/construct/docs/reference/annotated-sequence-parts.md
  src/dnadesign/construct/src/interfaces/api.py
  src/dnadesign/construct/src/realization/annotated_parts.py
  src/dnadesign/construct/tests/runtime/test_annotated_part_placement.py
  src/dnadesign/contracts/__init__.py
  src/dnadesign/contracts/docs/reference/exports.md
  src/dnadesign/contracts/sequence/__init__.py
  src/dnadesign/contracts/sequence/annotated_sequence_part_v1.py
  src/dnadesign/contracts/tests/test_annotated_sequence_part_contract.py
Due: core, external_integration

Add canonical headers to new modules
  src/dnadesign/construct/src/realization/annotated_parts.py
  src/dnadesign/construct/tests/runtime/test_annotated_part_placement.py
  src/dnadesign/contracts/folding/_viennarna_parameters.py
  src/dnadesign/contracts/sequence/annotated_sequence_part_v1.py
  src/dnadesign/contracts/tests/test_annotated_sequence_part_contract.py
Due: core, external_integration

Harden annotated part and folding validation
  src/dnadesign/construct/docs/reference/annotated-sequence-parts.md
  src/dnadesign/contracts/folding/_viennarna_parameters.py
  src/dnadesign/contracts/sequence/annotated_sequence_part_v1.py
  src/dnadesign/contracts/tests/test_annotated_sequence_part_contract.py
  src/dnadesign/contracts/tests/test_sequence_contracts.py
Due: core, external_integration

Stabilize scheduler timeout diagnostics
  src/dnadesign/ops/orchestrator/state.py
  src/dnadesign/ops/tests/test_runbook_orchestrator.py
Due: core, external_integration

Align span labels with display typography
  src/dnadesign/baserender/src/render/effects/span_link.py
  src/dnadesign/baserender/src/render/sequence_rows.py
  src/dnadesign/baserender/tests/test_densegen_adapter.py
Due: core, external_integration, baserender

Preserve annotated part molecular posture
  src/dnadesign/construct/docs/reference/annotated-sequence-parts.md
  src/dnadesign/construct/src/realization/annotated_parts.py
  src/dnadesign/construct/tests/runtime/test_annotated_part_placement.py
Due: core, external_integration

Match span annotations to sequence type size
  src/dnadesign/baserender/src/render/effects/span_link.py
  src/dnadesign/baserender/src/render/sequence_rows.py
  src/dnadesign/baserender/tests/test_densegen_adapter.py
Due: core, external_integration, baserender

Add atomic annotated sequence-part placement (#92)
  ARCHITECTURE.md
  docs/integrations/study-workspaces.md
  src/dnadesign/baserender/src/render/effects/span_link.py
  src/dnadesign/baserender/src/render/sequence_rows.py
  src/dnadesign/baserender/tests/test_densegen_adapter.py
  src/dnadesign/construct/README.md
  src/dnadesign/construct/__init__.py
  src/dnadesign/construct/docs/README.md
  src/dnadesign/construct/docs/reference/annotated-sequence-parts.md
  src/dnadesign/construct/src/interfaces/api.py
  src/dnadesign/construct/src/realization/annotated_parts.py
  src/dnadesign/construct/tests/runtime/test_annotated_part_placement.py
  src/dnadesign/contracts/__init__.py
  src/dnadesign/contracts/docs/reference/exports.md
  src/dnadesign/contracts/folding/_viennarna_parameters.py
  src/dnadesign/contracts/folding/secondary_structure_prediction_v1.py
  src/dnadesign/contracts/sequence/__init__.py
  src/dnadesign/contracts/sequence/annotated_sequence_part_v1.py
  src/dnadesign/contracts/sequence/linear_ssdna_composition_v1.py
  src/dnadesign/contracts/tests/test_annotated_sequence_part_contract.py
  src/dnadesign/contracts/tests/test_sequence_contracts.py
  src/dnadesign/folding/README.md
  src/dnadesign/folding/docs/README.md
  src/dnadesign/ops/orchestrator/state.py
  src/dnadesign/ops/tests/test_runbook_orchestrator.py
Due: core, external_integration, baserender

Add digest-addressed folding assessments
  src/dnadesign/contracts/__init__.py
  src/dnadesign/contracts/docs/reference/exports.md
  src/dnadesign/contracts/folding/__init__.py
  src/dnadesign/contracts/folding/assessment_v1.py
  src/dnadesign/contracts/tests/test_folding_assessment_contracts.py
  src/dnadesign/folding/README.md
  src/dnadesign/folding/__init__.py
  src/dnadesign/folding/docs/README.md
  src/dnadesign/folding/src/__init__.py
  src/dnadesign/folding/src/assessment/__init__.py
  src/dnadesign/folding/src/assessment/api.py
  src/dnadesign/folding/src/assessment/execution.py
  src/dnadesign/folding/src/assessment/publication.py
  src/dnadesign/folding/src/assessment/worker.py
  src/dnadesign/folding/tests/test_assessment_publication.py
  src/dnadesign/folding/tests/test_public_imports.py
Due: core, external_integration

Harden assessment execution and replay
  src/dnadesign/contracts/__init__.py
  src/dnadesign/contracts/docs/reference/exports.md
  src/dnadesign/contracts/folding/__init__.py
  src/dnadesign/contracts/folding/assessment_v1.py
  src/dnadesign/contracts/tests/test_folding_assessment_contracts.py
  src/dnadesign/folding/docs/README.md
  src/dnadesign/folding/src/api.py
  src/dnadesign/folding/src/assessment/api.py
  src/dnadesign/folding/src/assessment/execution.py
  src/dnadesign/folding/src/assessment/publication.py
  src/dnadesign/folding/src/assessment/worker.py
  src/dnadesign/folding/tests/test_assessment_publication.py
Due: core, external_integration

Close assessment process lifecycle races
  src/dnadesign/folding/src/assessment/api.py
  src/dnadesign/folding/src/assessment/execution.py
  src/dnadesign/folding/tests/_assessment_fixtures.py
  src/dnadesign/folding/tests/test_assessment_process_isolation.py
  src/dnadesign/folding/tests/test_assessment_publication.py
Due: core, external_integration

Close final assessment publication races
  src/dnadesign/folding/src/assessment/api.py
  src/dnadesign/folding/src/assessment/execution.py
  src/dnadesign/folding/tests/test_assessment_process_isolation.py
  src/dnadesign/folding/tests/test_assessment_publication.py
Due: core, external_integration

Replay complete assessment evidence
  src/dnadesign/contracts/folding/assessment_v1.py
  src/dnadesign/folding/docs/README.md
  src/dnadesign/folding/src/api.py
  src/dnadesign/folding/src/assessment/api.py
  src/dnadesign/folding/src/assessment/execution.py
  src/dnadesign/folding/src/assessment/projection.py
  src/dnadesign/folding/src/assessment/publication.py
  src/dnadesign/folding/tests/test_assessment_publication.py
  src/dnadesign/folding/tests/test_rnafold_runner.py
Due: core, external_integration

Replay assessment preflight evidence
  src/dnadesign/folding/docs/README.md
  src/dnadesign/folding/src/assessment/publication.py
  src/dnadesign/folding/tests/test_assessment_publication.py
Due: core, external_integration

Normalize portable assessment preflight
  src/dnadesign/folding/docs/README.md
  src/dnadesign/folding/src/assessment/publication.py
  src/dnadesign/folding/src/assessment/worker.py
  src/dnadesign/folding/tests/test_assessment_publication.py
Due: core, external_integration

Bind folding execution metadata
  src/dnadesign/folding/docs/README.md
  src/dnadesign/folding/src/api.py
  src/dnadesign/folding/src/assessment/publication.py
  src/dnadesign/folding/src/execution_metadata.py
  src/dnadesign/folding/tests/test_assessment_process_isolation.py
  src/dnadesign/folding/tests/test_assessment_publication.py
Due: core, external_integration

Conform execution metadata module layout
  src/dnadesign/folding/src/execution_metadata.py
Due: core, external_integration

Replay folding backend output evidence
  src/dnadesign/folding/src/assessment/publication.py
  src/dnadesign/folding/tests/test_assessment_publication.py
Due: core, external_integration

Contain assessment descendants during replay
  src/dnadesign/folding/src/assessment/execution.py
  src/dnadesign/folding/src/assessment/publication.py
  src/dnadesign/folding/src/assessment/worker.py
  src/dnadesign/folding/tests/test_assessment_process_isolation.py
  src/dnadesign/folding/tests/test_assessment_publication.py
Due: core, external_integration

Enforce kernel-contained assessment backends
  src/dnadesign/contracts/folding/secondary_structure_prediction_v1.py
  src/dnadesign/contracts/tests/test_folding_assessment_contracts.py
  src/dnadesign/folding/README.md
  src/dnadesign/folding/src/api.py
  src/dnadesign/folding/src/assessment/execution.py
  src/dnadesign/folding/src/assessment/publication.py
  src/dnadesign/folding/src/assessment/worker.py
  src/dnadesign/folding/tests/test_assessment_process_isolation.py
  src/dnadesign/folding/tests/test_assessment_publication.py
Due: core, external_integration

Lock backend process limits
  src/dnadesign/folding/src/api.py
  src/dnadesign/folding/tests/test_assessment_process_isolation.py
Due: core, external_integration

Constrain post-preflight assessment outcomes
  src/dnadesign/folding/src/assessment/publication.py
  src/dnadesign/folding/tests/test_assessment_publication.py
Due: core, external_integration

Replay typed assessment failures
  src/dnadesign/contracts/folding/__init__.py
  src/dnadesign/contracts/folding/secondary_structure_prediction_v1.py
  src/dnadesign/contracts/tests/test_folding_assessment_contracts.py
  src/dnadesign/folding/src/api.py
  src/dnadesign/folding/src/assessment/publication.py
  src/dnadesign/folding/tests/test_assessment_publication.py
Due: core, external_integration

Replay assessment failure policy
  src/dnadesign/folding/src/assessment/publication.py
  src/dnadesign/folding/tests/test_assessment_publication.py
Due: core, external_integration
