Repository e-south/dnadesign: changes, and which Codecov flags are due for each by the changed paths.
All: core, external_integration, usr, notify, densegen, infer, opal, cluster, billboard, libshuffle, nmf, latdna, cruncher, tfkdanalysis, aligner, baserender, permuter

codecov.yml:

codecov:
  require_ci_to_pass: true

coverage:
  precision: 2
  round: down
  range: "0...100"
  status:
    project:
      default:
        target: auto
        threshold: 0.5%
        if_ci_failed: error
        if_not_found: failure
    patch:
      default:
        target: auto
        threshold: 0.5%
        if_ci_failed: error
        if_not_found: failure

flags:
  core:
    paths:
      - src/dnadesign
    carryforward: false
  external_integration:
    paths:
      - src/dnadesign
    carryforward: false

component_management:
  default_rules:
    statuses:
      - type: project
        target: auto
        threshold: 0.5%
        if_ci_failed: error
        if_not_found: failure
  individual_components:
    - component_id: usr
      name: usr
      paths:
        - src/dnadesign/usr/**
    - component_id: notify
      name: notify
      paths:
        - src/dnadesign/notify/**
    - component_id: densegen
      name: densegen
      paths:
        - src/dnadesign/densegen/**
    - component_id: infer
      name: infer
      paths:
        - src/dnadesign/infer/**
    - component_id: opal
      name: opal
      paths:
        - src/dnadesign/opal/**
    - component_id: cluster
      name: cluster
      paths:
        - src/dnadesign/cluster/**
    - component_id: billboard
      name: billboard
      paths:
        - src/dnadesign/billboard/**
    - component_id: libshuffle
      name: libshuffle
      paths:
        - src/dnadesign/libshuffle/**
    - component_id: nmf
      name: nmf
      paths:
        - src/dnadesign/nmf/**
    - component_id: latdna
      name: latdna
      paths:
        - src/dnadesign/latdna/**
    - component_id: cruncher
      name: cruncher
      paths:
        - src/dnadesign/cruncher/**
    - component_id: tfkdanalysis
      name: tfkdanalysis
      paths:
        - src/dnadesign/tfkdanalysis/**
    - component_id: aligner
      name: aligner
      paths:
        - src/dnadesign/aligner/**
    - component_id: baserender
      name: baserender
      paths:
        - src/dnadesign/baserender/**
    - component_id: permuter
      name: permuter
      paths:
        - src/dnadesign/permuter/**

comment:
  require_changes: true
  layout: "reach,diff,flags,components,files"

github_checks:
  annotations: true

fix(devtools): fail closed on inventory ambiguity
  src/dnadesign/devtools/ci/changes.py
  src/dnadesign/devtools/docs/markdown_inventory.py
  src/dnadesign/devtools/tests/ci/test_changes.py
  src/dnadesign/devtools/tests/docs/test_markdown_inventory.py
Due: core, external_integration

fix(devtools): decode Git paths with filesystem semantics
  src/dnadesign/devtools/docs/markdown_inventory.py
  src/dnadesign/devtools/tests/docs/test_markdown_inventory.py
Due: core, external_integration

fix(devtools): preserve symlink tools and report inventory errors
  src/dnadesign/devtools/ci/changes.py
  src/dnadesign/devtools/docs/checks.py
  src/dnadesign/devtools/tests/ci/test_changes.py
  src/dnadesign/devtools/tests/docs/test_markdown_inventory.py
Due: core, external_integration

docs: refresh verified Cruncher integration boundary date
  src/dnadesign/baserender/docs/integrations/cruncher.md
Due: core, external_integration, baserender

fix: preserve filesystem paths and fail closed on Git detection errors
  src/dnadesign/devtools/docs/markdown_inventory.py
  src/dnadesign/devtools/tests/docs/test_markdown_inventory.py
Due: core, external_integration

docs: retain current verification date across UTC rollover
  src/dnadesign/baserender/docs/integrations/cruncher.md
Due: core, external_integration, baserender

Consolidate documentation discovery fixes and dependency updates (#113)
  .github/workflows/ci.yaml
  src/dnadesign/baserender/docs/integrations/cruncher.md
  src/dnadesign/devtools/ci/changes.py
  src/dnadesign/devtools/docs/checks.py
  src/dnadesign/devtools/docs/markdown_inventory.py
  src/dnadesign/devtools/tests/ci/test_changes.py
  src/dnadesign/devtools/tests/docs/test_markdown_inventory.py
  uv.lock
Due: core, external_integration, baserender

feat(thread): expose LigandMPNN command and probability handoffs
  src/dnadesign/thread/adapters/ligandmpnn/cli.py
  src/dnadesign/thread/adapters/ligandmpnn/handoff_requests.py
  src/dnadesign/thread/adapters/ligandmpnn/handoffs.py
  src/dnadesign/thread/adapters/ligandmpnn/scoring.py
  src/dnadesign/thread/docs/README.md
  src/dnadesign/thread/docs/ligandmpnn-handoffs.md
  src/dnadesign/thread/tests/adapters/ligandmpnn/test_handoffs.py
  src/dnadesign/thread/tests/adapters/ligandmpnn/test_scoring.py
  src/dnadesign/thread/tests/test_package_layout.py
Due: core, external_integration

Validate design plans before publishing alphabet sidecars
  src/dnadesign/thread/adapters/ligandmpnn/cli.py
  src/dnadesign/thread/adapters/ligandmpnn/handoff_requests.py
  src/dnadesign/thread/adapters/ligandmpnn/handoffs.py
  src/dnadesign/thread/docs/ligandmpnn-handoffs.md
  src/dnadesign/thread/tests/adapters/ligandmpnn/test_handoffs.py
Due: core, external_integration

fix(thread): reject relative interpreters in staged score plans
  src/dnadesign/thread/adapters/ligandmpnn/scoring.py
  src/dnadesign/thread/docs/ligandmpnn-handoffs.md
  src/dnadesign/thread/tests/adapters/ligandmpnn/test_scoring.py
Due: core, external_integration

fix(thread): guard promoted runtimes and sidecar output paths
  src/dnadesign/thread/adapters/ligandmpnn/commands.py
  src/dnadesign/thread/adapters/ligandmpnn/scoring.py
  src/dnadesign/thread/docs/ligandmpnn-handoffs.md
  src/dnadesign/thread/tests/adapters/ligandmpnn/test_adapter.py
  src/dnadesign/thread/tests/adapters/ligandmpnn/test_handoffs.py
  src/dnadesign/thread/tests/adapters/ligandmpnn/test_scoring.py
Due: core, external_integration

Expose LigandMPNN command and probability artifact handoffs (#116)
  src/dnadesign/thread/adapters/ligandmpnn/cli.py
  src/dnadesign/thread/adapters/ligandmpnn/commands.py
  src/dnadesign/thread/adapters/ligandmpnn/handoff_requests.py
  src/dnadesign/thread/adapters/ligandmpnn/handoffs.py
  src/dnadesign/thread/adapters/ligandmpnn/scoring.py
  src/dnadesign/thread/docs/README.md
  src/dnadesign/thread/docs/ligandmpnn-handoffs.md
  src/dnadesign/thread/tests/adapters/ligandmpnn/test_adapter.py
  src/dnadesign/thread/tests/adapters/ligandmpnn/test_handoffs.py
  src/dnadesign/thread/tests/adapters/ligandmpnn/test_scoring.py
  src/dnadesign/thread/tests/test_package_layout.py
Due: core, external_integration

fix(densegen): adopt validated Dense Arrays playback contracts
  pyproject.toml
  src/dnadesign/densegen/docs/reference/outputs.md
  src/dnadesign/densegen/src/adapters/optimizer/dense_arrays.py
  src/dnadesign/densegen/src/core/pipeline/stage_b_runtime_callbacks.py
  src/dnadesign/densegen/src/core/pipeline/stage_b_runtime_checks.py
  src/dnadesign/densegen/src/integrations/dense_arrays/baserender_projection.py
  src/dnadesign/densegen/src/integrations/dense_arrays/playback.py
  src/dnadesign/densegen/src/integrations/dense_arrays/publisher.py
  src/dnadesign/densegen/tests/integrations/test_dense_arrays_playback.py
  src/dnadesign/densegen/tests/runtime/test_round_robin_chunk_cap.py
  src/dnadesign/densegen/tests/stage_b/test_optimizer_wrapper.py
  src/dnadesign/densegen/workspaces/demo_dense_array_showcase/README.md
  uv.lock
Due: core, external_integration, densegen

build: pin Dense Arrays to the merged release commit
  pyproject.toml
  uv.lock
Due: none

docs(densegen): verify candidate timing for the release
  src/dnadesign/densegen/docs/reference/outputs.md
Due: core, external_integration, densegen

docs(densegen): clarify which playback labels are rendered
  src/dnadesign/densegen/workspaces/demo_dense_array_showcase/README.md
Due: core, external_integration, densegen

fix(densegen): version the playback endpoint contract
  src/dnadesign/densegen/src/integrations/dense_arrays/publisher.py
  src/dnadesign/densegen/tests/integrations/test_dense_arrays_playback.py
  src/dnadesign/densegen/workspaces/demo_dense_array_showcase/README.md
  src/dnadesign/densegen/workspaces/demo_dense_array_showcase/playback-constraints.yaml
  src/dnadesign/densegen/workspaces/demo_dense_array_showcase/playback.yaml
Due: core, external_integration, densegen

fix(densegen): adopt Dense Arrays publication contracts (#117)
  pyproject.toml
  src/dnadesign/densegen/docs/reference/outputs.md
  src/dnadesign/densegen/src/adapters/optimizer/dense_arrays.py
  src/dnadesign/densegen/src/core/pipeline/stage_b_runtime_callbacks.py
  src/dnadesign/densegen/src/core/pipeline/stage_b_runtime_checks.py
  src/dnadesign/densegen/src/integrations/dense_arrays/baserender_projection.py
  src/dnadesign/densegen/src/integrations/dense_arrays/playback.py
  src/dnadesign/densegen/src/integrations/dense_arrays/publisher.py
  src/dnadesign/densegen/tests/integrations/test_dense_arrays_playback.py
  src/dnadesign/densegen/tests/runtime/test_round_robin_chunk_cap.py
  src/dnadesign/densegen/tests/stage_b/test_optimizer_wrapper.py
  src/dnadesign/densegen/workspaces/demo_dense_array_showcase/README.md
  src/dnadesign/densegen/workspaces/demo_dense_array_showcase/playback-constraints.yaml
  src/dnadesign/densegen/workspaces/demo_dense_array_showcase/playback.yaml
  uv.lock
Due: core, external_integration, densegen

Align playback glyphs and preserve complete resting scenes
  pyproject.toml
  src/dnadesign/baserender/docs/reference.md
  src/dnadesign/baserender/src/core/registry.py
  src/dnadesign/baserender/src/render/effects/anchored_illustration.py
  src/dnadesign/baserender/src/render/effects/span_link.py
  src/dnadesign/baserender/src/render/sequence_rows.py
  src/dnadesign/baserender/tests/test_effect_presentation.py
  src/dnadesign/baserender/tests/test_nucleotide_grid.py
  src/dnadesign/densegen/src/integrations/dense_arrays/baserender_projection.py
  src/dnadesign/densegen/src/integrations/dense_arrays/publisher.py
  src/dnadesign/densegen/tests/integrations/test_dense_arrays_playback.py
  src/dnadesign/densegen/tests/integrations/test_dense_arrays_resting_frames.py
  src/dnadesign/densegen/workspaces/demo_dense_array_showcase/README.md
  uv.lock
Due: core, external_integration, densegen, baserender

Use canonical headers for playback regression tests
  src/dnadesign/baserender/tests/test_effect_presentation.py
  src/dnadesign/baserender/tests/test_nucleotide_grid.py
  src/dnadesign/densegen/tests/integrations/test_dense_arrays_resting_frames.py
Due: core, external_integration, densegen, baserender

Center explicitly resized feature labels within nucleotide cells
  src/dnadesign/baserender/src/render/sequence_rows.py
  src/dnadesign/baserender/tests/test_nucleotide_grid.py
Due: core, external_integration, baserender

Sync Dense Arrays pin with the published 40-base examples
  pyproject.toml
  uv.lock
Due: none

fix(playback): keep pending illustration bindings neutral
  src/dnadesign/baserender/docs/reference.md
  src/dnadesign/baserender/src/core/registry.py
  src/dnadesign/baserender/src/render/effects/anchored_illustration.py
  src/dnadesign/baserender/tests/test_effect_presentation.py
  src/dnadesign/densegen/src/integrations/dense_arrays/baserender_projection.py
  src/dnadesign/densegen/tests/integrations/test_dense_arrays_resting_frames.py
Due: core, external_integration, densegen, baserender

Align DenseGen playback glyphs and preserve complete opening scenes (#118)
  pyproject.toml
  src/dnadesign/baserender/docs/reference.md
  src/dnadesign/baserender/src/core/registry.py
  src/dnadesign/baserender/src/render/effects/anchored_illustration.py
  src/dnadesign/baserender/src/render/effects/span_link.py
  src/dnadesign/baserender/src/render/sequence_rows.py
  src/dnadesign/baserender/tests/test_effect_presentation.py
  src/dnadesign/baserender/tests/test_nucleotide_grid.py
  src/dnadesign/densegen/src/integrations/dense_arrays/baserender_projection.py
  src/dnadesign/densegen/src/integrations/dense_arrays/publisher.py
  src/dnadesign/densegen/tests/integrations/test_dense_arrays_playback.py
  src/dnadesign/densegen/tests/integrations/test_dense_arrays_resting_frames.py
  src/dnadesign/densegen/workspaces/demo_dense_array_showcase/README.md
  uv.lock
Due: core, external_integration, densegen, baserender

Center playback glyphs and align annotation sizes with the legend
  pyproject.toml
  src/dnadesign/baserender/src/render/sequence_rows.py
  src/dnadesign/baserender/tests/test_nucleotide_grid.py
  src/dnadesign/densegen/src/integrations/dense_arrays/baserender_projection.py
  src/dnadesign/densegen/tests/integrations/test_dense_arrays_resting_frames.py
  src/dnadesign/densegen/workspaces/demo_dense_array_showcase/README.md
  uv.lock
Due: core, external_integration, densegen, baserender

Center playback glyphs and align annotation sizes with the legend (#119)
  pyproject.toml
  src/dnadesign/baserender/src/render/sequence_rows.py
  src/dnadesign/baserender/tests/test_nucleotide_grid.py
  src/dnadesign/densegen/src/integrations/dense_arrays/baserender_projection.py
  src/dnadesign/densegen/tests/integrations/test_dense_arrays_resting_frames.py
  src/dnadesign/densegen/workspaces/demo_dense_array_showcase/README.md
  uv.lock
Due: core, external_integration, densegen, baserender

Expand the DenseGen constraint playback to ten verified examples
  src/dnadesign/densegen/workspaces/demo_dense_array_showcase/playback-constraints.yaml
Due: core, external_integration, densegen

Add verified OPAL state rebinding for moved campaigns
  src/dnadesign/opal/docs/reference/cli.md
  src/dnadesign/opal/src/cli/commands/history.py
  src/dnadesign/opal/src/storage/history_relocation/state_rebinding.py
  src/dnadesign/opal/tests/cli/test_cli_history_rebind_state.py
Due: core, external_integration, opal

Consolidate versioned tool installs, dependency fixes, and banner refinements
  .agents/skills/sge-hpc-ops/references/external-sources.md
  .github/workflows/ci.yaml
  .pre-commit-config.yaml
  assets/dnadesign-banner.svg
  docs/bu-scc/setup/install.md
  docs/setup/installation.md
  pyproject.toml
  src/dnadesign/__init__.py
  src/dnadesign/densegen/tests/docs/test_bu_scc_docs_contracts.py
  src/dnadesign/devtools/docs/banners/render.py
  src/dnadesign/devtools/tests/ci/test_workflow_contract.py
  src/dnadesign/devtools/tests/package/test_distribution.py
  src/dnadesign/devtools/tests/security/test_dependency_security_contract.py
  src/dnadesign/latentdna/src/version.py
  src/dnadesign/opal/__init__.py
  src/dnadesign/opal/api/__init__.py
  src/dnadesign/opal/docs/plugins/objectives/multistate-response-behavior.md
  src/dnadesign/opal/src/__init__.py
  src/dnadesign/opal/src/objectives/__init__.py
  src/dnadesign/opal/src/storage/history_relocation/state_rebinding.py
  src/dnadesign/opal/tests/api/test_public_api_boundary.py
  src/dnadesign/opal/tests/cli/test_cli_history_rebind_state.py
  src/dnadesign/permuter/__init__.py
  src/dnadesign/usr/notebooks/AGENTS.md
  src/dnadesign/usr/src/version/__init__.py
  src/dnadesign/usr/tests/docs_contract/test_notebook.py
  uv.lock
Due: core, external_integration, usr, densegen, opal, permuter

Preserve package download sources in isolated install checks
  src/dnadesign/devtools/tests/package/test_distribution.py
Due: core, external_integration

Add clean-source distribution builds and provenance verification
  CITATION.cff
  docs/dev/README.md
  docs/dev/distributions.md
  docs/dev/journal.md
  src/dnadesign/devtools/package/__init__.py
  src/dnadesign/devtools/package/build.py
  src/dnadesign/devtools/package/provenance.py
  src/dnadesign/devtools/tests/package/test_build.py
Due: core, external_integration

Keep a PyPI-safe PNG of the source banner
  .gitignore
  assets/dnadesign-banner.png
Due: none

Publish dnadesign-tools with registry dependencies and versioned assets
  .github/workflows/release.yaml
  README.md
  docs/dev/distributions.md
  docs/setup/installation.md
  pyproject.toml
  src/dnadesign/__init__.py
  src/dnadesign/cruncher/src/app/analyze/metadata.py
  src/dnadesign/devtools/docs/badges/policy.py
  src/dnadesign/devtools/docs/banners/render.py
  src/dnadesign/devtools/docs/public_surface_contracts.py
  src/dnadesign/devtools/package/release.py
  src/dnadesign/devtools/tests/docs/test_banner_render_preflight.py
  src/dnadesign/devtools/tests/docs/test_public_surface_contracts.py
  src/dnadesign/devtools/tests/package/test_distribution.py
  src/dnadesign/devtools/tests/package/test_release.py
  src/dnadesign/folding/src/assessment/api.py
  src/dnadesign/opal/__init__.py
  src/dnadesign/thread/adapters/ligandmpnn/handoffs.py
  src/dnadesign/usr/tests/docs_contract/test_notebook.py
  uv.lock
Due: core, external_integration, usr, opal, cruncher

Align release actions and README contracts with canonical main
  .github/workflows/release.yaml
  src/dnadesign/ops/tests/test_ops_docs_progressive_disclosure_contracts.py
Due: core, external_integration

Publish dnadesign-tools with durable package assets (#128)
  .github/workflows/release.yaml
  .gitignore
  README.md
  assets/dnadesign-banner.png
  docs/dev/distributions.md
  docs/setup/installation.md
  pyproject.toml
  src/dnadesign/__init__.py
  src/dnadesign/cruncher/src/app/analyze/metadata.py
  src/dnadesign/devtools/docs/badges/policy.py
  src/dnadesign/devtools/docs/banners/render.py
  src/dnadesign/devtools/docs/public_surface_contracts.py
  src/dnadesign/devtools/package/release.py
  src/dnadesign/devtools/tests/docs/test_banner_render_preflight.py
  src/dnadesign/devtools/tests/docs/test_public_surface_contracts.py
  src/dnadesign/devtools/tests/package/test_distribution.py
  src/dnadesign/devtools/tests/package/test_release.py
  src/dnadesign/folding/src/assessment/api.py
  src/dnadesign/opal/__init__.py
  src/dnadesign/ops/tests/test_ops_docs_progressive_disclosure_contracts.py
  src/dnadesign/thread/adapters/ligandmpnn/handoffs.py
  src/dnadesign/usr/tests/docs_contract/test_notebook.py
  uv.lock
Due: core, external_integration, usr, opal, cruncher
