Repository e-south/dnadesign: changes, and which Codecov flags are due for each by the changed paths.
All: core, external_integration, usr, notify, densegen, infer, opal, cluster, billboard, libshuffle, nmf, latdna, cruncher, tfkdanalysis, aligner, baserender, permuter

codecov.yml:

codecov:
  require_ci_to_pass: true

coverage:
  precision: 2
  round: down
  range: "0...100"
  status:
    project:
      default:
        target: auto
        threshold: 0.5%
        if_ci_failed: error
        if_not_found: failure
    patch:
      default:
        target: auto
        threshold: 0.5%
        if_ci_failed: error
        if_not_found: failure

flags:
  core:
    paths:
      - src/dnadesign
    carryforward: false
  external_integration:
    paths:
      - src/dnadesign
    carryforward: false

component_management:
  default_rules:
    statuses:
      - type: project
        target: auto
        threshold: 0.5%
        if_ci_failed: error
        if_not_found: failure
  individual_components:
    - component_id: usr
      name: usr
      paths:
        - src/dnadesign/usr/**
    - component_id: notify
      name: notify
      paths:
        - src/dnadesign/notify/**
    - component_id: densegen
      name: densegen
      paths:
        - src/dnadesign/densegen/**
    - component_id: infer
      name: infer
      paths:
        - src/dnadesign/infer/**
    - component_id: opal
      name: opal
      paths:
        - src/dnadesign/opal/**
    - component_id: cluster
      name: cluster
      paths:
        - src/dnadesign/cluster/**
    - component_id: billboard
      name: billboard
      paths:
        - src/dnadesign/billboard/**
    - component_id: libshuffle
      name: libshuffle
      paths:
        - src/dnadesign/libshuffle/**
    - component_id: nmf
      name: nmf
      paths:
        - src/dnadesign/nmf/**
    - component_id: latdna
      name: latdna
      paths:
        - src/dnadesign/latdna/**
    - component_id: cruncher
      name: cruncher
      paths:
        - src/dnadesign/cruncher/**
    - component_id: tfkdanalysis
      name: tfkdanalysis
      paths:
        - src/dnadesign/tfkdanalysis/**
    - component_id: aligner
      name: aligner
      paths:
        - src/dnadesign/aligner/**
    - component_id: baserender
      name: baserender
      paths:
        - src/dnadesign/baserender/**
    - component_id: permuter
      name: permuter
      paths:
        - src/dnadesign/permuter/**

comment:
  require_changes: true
  layout: "reach,diff,flags,components,files"

github_checks:
  annotations: true

Fix retron context links
  docs/studies/retron_hairpin_design/contexts/linear-ssdna-composition.md
Due: none

Support split study ops records
  src/dnadesign/ops/catalog/paths.py
  src/dnadesign/ops/orchestrator/infer_fill.py
  src/dnadesign/ops/tests/test_catalog_cli.py
  src/dnadesign/studies/core/record_loader.py
  src/dnadesign/studies/studies/retron_hairpin_design/status/record_normalizer.py
  src/dnadesign/studies/studies/stress_ethanol_cipro_growth/status/record_normalizer.py
  src/dnadesign/studies/tests/test_record_loader.py
Due: core, external_integration

Update study skills for reorganized IA
  .agents/skills/retron-hairpin-study/SKILL.md
  .agents/skills/retron-hairpin-study/references/external-sources.md
  .agents/skills/retron-hairpin-study/references/msd-design-references.md
  .agents/skills/retron-hairpin-study/references/refresh-loop.md
  .agents/skills/retron-hairpin-study/references/route-matrix.md
  .agents/skills/retron-hairpin-study/references/study-surfaces.md
  .agents/skills/retron-hairpin-study/scripts/audit-retron-hairpin-study-skill.sh
  .agents/skills/stress-ethanol-cipro-growth-status/SKILL.md
  .agents/skills/stress-ethanol-cipro-growth-status/references/refresh-loop.md
  .agents/skills/stress-ethanol-cipro-growth-status/references/route-matrix.md
  .agents/skills/stress-ethanol-cipro-growth-status/references/study-surfaces.md
  .agents/skills/stress-ethanol-cipro-growth-status/scripts/audit-stress-ethanol-cipro-growth-status-skill.sh
  src/dnadesign/studies/tests/test_retron_hairpin_study_docs_and_skill_contracts.py
Due: core, external_integration

Support split study operation contracts
  src/dnadesign/devtools/docs/checks.py
  src/dnadesign/devtools/tests/docs/test_checks.py
  src/dnadesign/studies/core/record_loader.py
  src/dnadesign/studies/tests/test_record_loader.py
Due: core, external_integration

docs(studies): split study command routing lanes
  .agents/skills/stress-ethanol-cipro-growth-status/SKILL.md
  .agents/skills/stress-ethanol-cipro-growth-status/references/refresh-loop.md
  .agents/skills/stress-ethanol-cipro-growth-status/references/route-matrix.md
  .agents/skills/stress-ethanol-cipro-growth-status/references/study-surfaces.md
  .agents/skills/stress-ethanol-cipro-growth-status/scripts/audit-stress-ethanol-cipro-growth-status-skill.sh
  docs/studies/regulondb_native_promoter_panel/README.md
  docs/studies/regulondb_native_promoter_panel/operations/README.md
  docs/studies/regulondb_native_promoter_panel/operations/contract/lifecycle/phases.yaml
  docs/studies/regulondb_native_promoter_panel/operations/runtime/README.md
  docs/studies/regulondb_native_promoter_panel/operations/runtime/command-groups/README.md
  docs/studies/regulondb_native_promoter_panel/operations/runtime/command-groups/lanes/construct.yaml
  docs/studies/regulondb_native_promoter_panel/operations/runtime/command-groups/lanes/infer.yaml
  docs/studies/regulondb_native_promoter_panel/operations/runtime/command-groups/lanes/latentdna.yaml
  docs/studies/regulondb_native_promoter_panel/operations/runtime/command-groups/lanes/source-intake.yaml
  docs/studies/regulondb_native_promoter_panel/operations/runtime/command-groups/lanes/usr-import.yaml
  docs/studies/regulondb_native_promoter_panel/operations/runtime/command-groups/pipeline.yaml
  docs/studies/regulondb_native_promoter_panel/routes/analysis/latentdna-native-audit.md
  docs/studies/regulondb_native_promoter_panel/routes/construct/construct-native-core60-context.md
  docs/studies/regulondb_native_promoter_panel/routes/infer/fill-remaining-infer.md
  docs/studies/regulondb_native_promoter_panel/routes/infer/infer-core60-tss-upstream-7b.md
  docs/studies/regulondb_native_promoter_panel/routes/infer/infer-native-full-7b.md
  docs/studies/regulondb_native_promoter_panel/routes/source/source-intake.md
  docs/studies/regulondb_native_promoter_panel/routes/source/usr-import.md
  docs/studies/stress_ethanol_cipro_growth/README.md
  docs/studies/stress_ethanol_cipro_growth/operations/README.md
  docs/studies/stress_ethanol_cipro_growth/operations/runtime/README.md
  docs/studies/stress_ethanol_cipro_growth/operations/runtime/command-groups/README.md
  docs/studies/stress_ethanol_cipro_growth/operations/runtime/command-groups/lanes/cluster.yaml
  docs/studies/stress_ethanol_cipro_growth/operations/runtime/command-groups/lanes/densegen.yaml
  docs/studies/stress_ethanol_cipro_growth/operations/runtime/command-groups/lanes/infer.yaml
  docs/studies/stress_ethanol_cipro_growth/operations/runtime/command-groups/lanes/latentdna.yaml
  docs/studies/stress_ethanol_cipro_growth/operations/runtime/command-groups/lanes/opal.yaml
  docs/studies/stress_ethanol_cipro_growth/operations/runtime/command-groups/pipeline.yaml
  docs/studies/stress_ethanol_cipro_growth/routes/analysis/cluster.md
  docs/studies/stress_ethanol_cipro_growth/routes/analysis/latentdna.md
  docs/studies/stress_ethanol_cipro_growth/routes/compute/infer.md
  docs/studies/stress_ethanol_cipro_growth/routes/decision/opal/README.md
  docs/studies/stress_ethanol_cipro_growth/routes/source/construct.md
  docs/studies/stress_ethanol_cipro_growth/routes/source/densegen.md
Due: none

fix(retron): allow explicit non-ligatable s0 controls
  .agents/skills/retron-hairpin-study/SKILL.md
  docs/studies/retron_hairpin_design/compiler/README.md
  docs/studies/retron_hairpin_design/compiler/inputs/README.md
  docs/studies/retron_hairpin_design/compiler/inputs/msd_design_177_194_non_ligatable_s0_control_spec.yaml
  docs/studies/retron_hairpin_design/operations/contract/surfaces/execution/commands/compiler.yaml
  docs/studies/retron_hairpin_design/operations/runtime/command-groups/README.md
  docs/studies/retron_hairpin_design/operations/runtime/command-groups/lanes/materialize.yaml
  docs/studies/retron_hairpin_design/operations/runtime/command-groups/pipeline.yaml
  docs/studies/retron_hairpin_design/routes/compiler/msd-design-references.md
  docs/studies/retron_hairpin_design/workbench/README.md
  docs/studies/retron_hairpin_design/workbench/provenance/materializations/2026-05-18-msd-177-194.non-ligatable-s0-control.yaml
  docs/studies/retron_hairpin_design/workbench/provenance/materializations/README.md
  src/dnadesign/devtools/docs/checks.py
  src/dnadesign/devtools/tests/docs/test_checks.py
  src/dnadesign/studies/studies/retron_hairpin_design/catalog/compiler_spec.py
  src/dnadesign/studies/studies/retron_hairpin_design/catalog/msd_ids.py
  src/dnadesign/studies/studies/retron_hairpin_design/catalog/registry.py
  src/dnadesign/studies/studies/retron_hairpin_design/compiler/references.py
  src/dnadesign/studies/studies/retron_hairpin_design/interfaces/cli/app.py
  src/dnadesign/studies/studies/retron_hairpin_design/interfaces/cli/messages.py
  src/dnadesign/studies/tests/test_retron_hairpin_study_docs_and_skill_contracts.py
  src/dnadesign/studies/tests/test_retron_msd_compiler.py
Due: core, external_integration

fix(retron): orient literal foldback structure plots
  docs/studies/retron_hairpin_design/workbench/provenance/materializations/2026-05-18-msd-177-194.single-unit.yaml
  docs/studies/retron_hairpin_design/workbench/provenance/materializations/README.md
  src/dnadesign/construct/src/composition_visual.py
  src/dnadesign/folding/src/viennarna_summary.py
  src/dnadesign/folding/src/viennarna_svg.py
  src/dnadesign/studies/tests/test_retron_msd_compiler.py
Due: core, external_integration

fix(retron): harden MSD compiler contracts and routing IA
  .agents/skills/retron-hairpin-study/SKILL.md
  .agents/skills/retron-hairpin-study/references/msd-design-references.md
  .agents/skills/retron-hairpin-study/references/origin-033-hits.md
  .agents/skills/retron-hairpin-study/references/route-matrix.md
  .agents/skills/retron-hairpin-study/references/test-matrix.md
  .agents/skills/retron-hairpin-study/scripts/audit-retron-hairpin-study-skill.sh
  docs/studies/retron_hairpin_design/compiler/README.md
  docs/studies/retron_hairpin_design/compiler/inputs/README.md
  docs/studies/retron_hairpin_design/compiler/inputs/msd_design_177_194_cap_sources_spec.yaml
  docs/studies/retron_hairpin_design/compiler/inputs/msd_design_177_194_non_ligatable_s0_control_spec.yaml
  docs/studies/retron_hairpin_design/compiler/inputs/msd_design_hit_labels.txt
  docs/studies/retron_hairpin_design/contexts/composition/linear-ssdna-composition.md
  docs/studies/retron_hairpin_design/contexts/cruncher/snapback-phenomenology-dev-spec.md
  docs/studies/retron_hairpin_design/operations/contract/readiness/checks/msd_single_unit_materialize.yaml
  docs/studies/retron_hairpin_design/operations/contract/readiness/group-bindings.yaml
  docs/studies/retron_hairpin_design/operations/contract/readiness/next-scope.yaml
  docs/studies/retron_hairpin_design/operations/contract/surfaces/execution/commands/materialize.yaml
  docs/studies/retron_hairpin_design/operations/ops.study.yaml
  docs/studies/retron_hairpin_design/operations/runtime/command-groups/README.md
  docs/studies/retron_hairpin_design/operations/runtime/command-groups/lanes/materialize.yaml
  docs/studies/retron_hairpin_design/operations/runtime/command-groups/pipeline.yaml
  docs/studies/retron_hairpin_design/record/status.md
  docs/studies/retron_hairpin_design/routes/README.md
  docs/studies/retron_hairpin_design/routes/compiler/msd-design-references.md
  docs/studies/retron_hairpin_design/workbench/README.md
  docs/studies/retron_hairpin_design/workbench/design_sets/scar_nick_profile_panel_v1.yaml
  docs/studies/retron_hairpin_design/workbench/ontology/directions.yaml
  docs/studies/retron_hairpin_design/workbench/provenance/compiler_runs/2026-05-18-msd-177-194.compile.yaml
  docs/studies/retron_hairpin_design/workbench/provenance/materializations/2026-05-18-msd-177-194.non-ligatable-s0-control.yaml
  docs/studies/retron_hairpin_design/workbench/provenance/materializations/2026-05-18-msd-177-194.single-unit.yaml
  docs/studies/retron_hairpin_design/workbench/provenance/materializations/README.md
  src/dnadesign/studies/studies/retron_hairpin_design/catalog/compiler_spec.py
  src/dnadesign/studies/studies/retron_hairpin_design/catalog/registry.py
  src/dnadesign/studies/studies/retron_hairpin_design/catalog/sequence_inputs.py
  src/dnadesign/studies/studies/retron_hairpin_design/interfaces/cli/inputs.py
  src/dnadesign/studies/studies/retron_hairpin_design/interfaces/cli/messages.py
  src/dnadesign/studies/studies/retron_hairpin_design/outputs/manifests.py
  src/dnadesign/studies/studies/retron_hairpin_design/status/record_normalizer.py
  src/dnadesign/studies/tests/test_retron_hairpin_study_docs_and_skill_contracts.py
  src/dnadesign/studies/tests/test_retron_msd_compiler.py
Due: core, external_integration

fix(folding): harden secondary-structure plot contracts
  src/dnadesign/contracts/folding/secondary_structure_prediction_v1.py
  src/dnadesign/folding/src/pairing_qa.py
  src/dnadesign/folding/src/viennarna_plot.py
  src/dnadesign/folding/src/viennarna_svg.py
  src/dnadesign/folding/tests/test_rnafold_runner.py
Due: core, external_integration

fix(retron): tighten MSD compiler IO contracts
  .agents/skills/retron-hairpin-study/SKILL.md
  .agents/skills/retron-hairpin-study/references/msd-design-references.md
  .agents/skills/retron-hairpin-study/references/study-surfaces.md
  .agents/skills/retron-hairpin-study/references/test-matrix.md
  .agents/skills/retron-hairpin-study/scripts/audit-retron-hairpin-study-skill.sh
  docs/studies/retron_hairpin_design/contexts/composition/linear-ssdna-composition.md
  docs/studies/retron_hairpin_design/operations/README.md
  docs/studies/retron_hairpin_design/operations/contract/readiness/group-bindings.yaml
  docs/studies/retron_hairpin_design/operations/contract/surfaces/execution/commands/README.md
  docs/studies/retron_hairpin_design/operations/runtime/README.md
  docs/studies/retron_hairpin_design/operations/runtime/command-groups/README.md
  docs/studies/retron_hairpin_design/operations/runtime/command-groups/pipeline.yaml
  docs/studies/retron_hairpin_design/record/status.md
  docs/studies/retron_hairpin_design/routes/compiler/msd-design-references.md
  src/dnadesign/studies/studies/retron_hairpin_design/catalog/cap_sources.py
  src/dnadesign/studies/studies/retron_hairpin_design/catalog/compiler_spec.py
  src/dnadesign/studies/studies/retron_hairpin_design/catalog/compiler_spec_io.py
  src/dnadesign/studies/studies/retron_hairpin_design/catalog/registry.py
  src/dnadesign/studies/studies/retron_hairpin_design/catalog/strict_mapping_io.py
  src/dnadesign/studies/studies/retron_hairpin_design/compiler/materialization.py
  src/dnadesign/studies/studies/retron_hairpin_design/interfaces/cli/messages.py
  src/dnadesign/studies/studies/retron_hairpin_design/outputs/output_guards.py
  src/dnadesign/studies/studies/retron_hairpin_design/status/ops/provider.py
  src/dnadesign/studies/tests/test_retron_hairpin_study_docs_and_skill_contracts.py
  src/dnadesign/studies/tests/test_retron_msd_compiler.py
Due: core, external_integration

feat(opal): add public progress and review surfaces
  src/dnadesign/opal/__init__.py
  src/dnadesign/opal/docs/reference/cli.md
  src/dnadesign/opal/src/cli/commands/progress.py
  src/dnadesign/opal/src/cli/commands/review.py
  src/dnadesign/opal/src/cli/commands/run.py
  src/dnadesign/opal/src/reporting/predictions.py
  src/dnadesign/opal/src/reporting/progress.py
  src/dnadesign/opal/src/reporting/review.py
  src/dnadesign/opal/src/reporting/summary.py
  src/dnadesign/opal/src/runtime/round/stages.py
  src/dnadesign/opal/src/runtime/run_round.py
  src/dnadesign/opal/tests/_cli_helpers.py
  src/dnadesign/opal/tests/cli/test_cli_runs_status_log.py
  src/dnadesign/opal/tests/reporting/test_review.py
  src/dnadesign/opal/tests/runtime/test_round_log_summary.py
  src/dnadesign/opal/tests/runtime/test_run_round_integrity.py
Due: core, external_integration, opal

fix(ops): harden study preflight and DenseGen runbooks
  AGENTS.md
  docs/bu-scc/jobs/README.md
  docs/bu-scc/jobs/densegen-cpu.qsub
  docs/bu-scc/runbooks/batch-notify.md
  docs/runbooks/README.md
  src/dnadesign/densegen/tests/runtime/test_hpc_densegen_cpu_qsub.py
  src/dnadesign/ops/orchestrator/infer_fill.py
  src/dnadesign/ops/orchestrator/study_runbooks.py
  src/dnadesign/ops/preflight/contract_checks.py
  src/dnadesign/ops/runbooks/templates/densegen-cpu.qsub
  src/dnadesign/ops/tests/test_preflight_contract_checks.py
  src/dnadesign/ops/tests/test_status_registry_lazy_loading.py
  src/dnadesign/studies/core/record_loader.py
Due: core, external_integration, densegen

docs(opal): add modernization development spec
  src/dnadesign/opal/docs/maintainers/dev-spec-modernization.md
Due: core, external_integration, opal

feat(stress): dogfood multi-round OPAL probes
  docs/studies/stress_ethanol_cipro_growth/contexts/opal/densegen-axis-probe-v0.md
  src/dnadesign/studies/studies/stress_ethanol_cipro_growth/opal_densegen_axis_probe/README.md
  src/dnadesign/studies/studies/stress_ethanol_cipro_growth/opal_densegen_axis_probe/artifacts.py
  src/dnadesign/studies/studies/stress_ethanol_cipro_growth/opal_densegen_axis_probe/cli.py
  src/dnadesign/studies/studies/stress_ethanol_cipro_growth/opal_densegen_axis_probe/decision.py
  src/dnadesign/studies/studies/stress_ethanol_cipro_growth/opal_densegen_axis_probe/execution.py
  src/dnadesign/studies/studies/stress_ethanol_cipro_growth/opal_densegen_axis_probe/plan.py
  src/dnadesign/studies/studies/stress_ethanol_cipro_growth/opal_densegen_axis_probe/prediction_ledger.py
  src/dnadesign/studies/studies/stress_ethanol_cipro_growth/opal_densegen_axis_probe/prediction_scoring.py
  src/dnadesign/studies/tests/test_stress_ethanol_cipro_opal_densegen_axis_probe.py
Due: core, external_integration

test(devtools): avoid stale quality dates
  docs/architecture/decisions/README.md
  docs/exec-plans/README.md
  docs/notebooks/README.md
  docs/notebooks/marimo-reference.md
  docs/reliability/README.md
  docs/security/README.md
  src/dnadesign/devtools/tests/quality/test_entropy.py
Due: core, external_integration

feat(opal): expose manifest-backed plot APIs
  src/dnadesign/opal/__init__.py
  src/dnadesign/opal/src/analysis/notebook_template.py
  src/dnadesign/opal/src/plots/api.py
  src/dnadesign/opal/tests/notebooks/test_notebook_template.py
Due: core, external_integration, opal

feat(stress): harden OPAL DenseGen dogfood artifacts
  src/dnadesign/studies/studies/stress_ethanol_cipro_growth/opal_densegen_axis_probe/artifacts.py
  src/dnadesign/studies/studies/stress_ethanol_cipro_growth/opal_densegen_axis_probe/axis_oracle.py
  src/dnadesign/studies/studies/stress_ethanol_cipro_growth/opal_densegen_axis_probe/cli.py
  src/dnadesign/studies/studies/stress_ethanol_cipro_growth/opal_densegen_axis_probe/decision.py
  src/dnadesign/studies/studies/stress_ethanol_cipro_growth/opal_densegen_axis_probe/execution.py
  src/dnadesign/studies/studies/stress_ethanol_cipro_growth/opal_densegen_axis_probe/plan.py
  src/dnadesign/studies/studies/stress_ethanol_cipro_growth/opal_densegen_axis_probe/plotting.py
  src/dnadesign/studies/studies/stress_ethanol_cipro_growth/opal_densegen_axis_probe/records_manifest.py
  src/dnadesign/studies/studies/stress_ethanol_cipro_growth/opal_densegen_axis_probe/review.py
  src/dnadesign/studies/studies/stress_ethanol_cipro_growth/opal_densegen_axis_probe/scratch.py
  src/dnadesign/studies/studies/stress_ethanol_cipro_growth/opal_densegen_axis_probe/status.py
  src/dnadesign/studies/tests/test_stress_ethanol_cipro_opal_densegen_axis_probe.py
Due: core, external_integration

Harden OPAL runtime contracts
  src/dnadesign/opal/docs/reference/cli.md
  src/dnadesign/opal/docs/reference/configuration.md
  src/dnadesign/opal/docs/reference/data-contracts.md
  src/dnadesign/opal/src/analysis/campaign_progress.py
  src/dnadesign/opal/src/cli/commands/run.py
  src/dnadesign/opal/src/core/leakage.py
  src/dnadesign/opal/src/core/utils.py
  src/dnadesign/opal/src/reporting/review.py
  src/dnadesign/opal/src/reporting/verify_outputs.py
  src/dnadesign/opal/src/runtime/round/stages.py
  src/dnadesign/opal/src/runtime/round_plan.py
  src/dnadesign/opal/src/storage/data_access.py
  src/dnadesign/opal/src/storage/label_sources.py
  src/dnadesign/opal/tests/analysis/test_campaign_progress.py
  src/dnadesign/opal/tests/cli/test_cli_guide_next.py
  src/dnadesign/opal/tests/cli/test_cli_workflows.py
  src/dnadesign/opal/tests/cli/test_verify_outputs.py
  src/dnadesign/opal/tests/reporting/test_review.py
  src/dnadesign/opal/tests/runtime/test_shared_label_source.py
  src/dnadesign/opal/tests/runtime/test_state_schema.py
Due: core, external_integration, opal

Modernize OPAL notebook UX
  src/dnadesign/opal/__init__.py
  src/dnadesign/opal/docs/maintainers/dev-spec-modernization.md
  src/dnadesign/opal/docs/reference/notebooks.md
  src/dnadesign/opal/src/analysis/notebook_components.py
  src/dnadesign/opal/src/analysis/notebook_set_template.py
  src/dnadesign/opal/src/analysis/notebook_template.py
  src/dnadesign/opal/src/reporting/notebook.py
  src/dnadesign/opal/tests/notebooks/test_notebook_template.py
  src/dnadesign/opal/tests/reporting/test_notebook.py
Due: core, external_integration, opal

Add OPAL ingest runtime telemetry
  docs/studies/stress_ethanol_cipro_growth/contexts/opal/densegen-axis-probe-v0.md
  src/dnadesign/opal/docs/maintainers/dev-spec-modernization.md
  src/dnadesign/opal/docs/reference/cli.md
  src/dnadesign/opal/src/cli/commands/ingest_y.py
  src/dnadesign/opal/src/cli/formatting/__init__.py
  src/dnadesign/opal/src/cli/formatting/renderers/ingest.py
  src/dnadesign/opal/src/runtime/ingest_runtime.py
  src/dnadesign/opal/tests/cli/test_cli_ingest_shared_label_source.py
  src/dnadesign/studies/studies/stress_ethanol_cipro_growth/opal_densegen_axis_probe/cli.py
  src/dnadesign/studies/studies/stress_ethanol_cipro_growth/opal_densegen_axis_probe/decision.py
  src/dnadesign/studies/studies/stress_ethanol_cipro_growth/opal_densegen_axis_probe/decision_evaluation.py
  src/dnadesign/studies/studies/stress_ethanol_cipro_growth/opal_densegen_axis_probe/decision_inputs.py
  src/dnadesign/studies/studies/stress_ethanol_cipro_growth/opal_densegen_axis_probe/execution.py
  src/dnadesign/studies/studies/stress_ethanol_cipro_growth/opal_densegen_axis_probe/run_cli.py
  src/dnadesign/studies/studies/stress_ethanol_cipro_growth/opal_densegen_axis_probe/status.py
  src/dnadesign/studies/studies/stress_ethanol_cipro_growth/opal_densegen_axis_probe/status_metrics.py
  src/dnadesign/studies/tests/test_stress_ethanol_cipro_opal_densegen_axis_probe.py
Due: core, external_integration, opal

Harden OPAL reporting contracts
  docs/dev/plans/tools/opal/2026-05-15-campaign-notebook-consolidation.md
  src/dnadesign/opal/__init__.py
  src/dnadesign/opal/archived/notebooks/README.md
  src/dnadesign/opal/archived/notebooks/prom60_eda_legacy.py
  src/dnadesign/opal/docs/reference/cli.md
  src/dnadesign/opal/docs/reference/plots.md
  src/dnadesign/opal/notebooks/campaign_progress.py
  src/dnadesign/opal/src/cli/commands/_common.py
  src/dnadesign/opal/src/cli/commands/plot.py
  src/dnadesign/opal/src/cli/commands/progress.py
  src/dnadesign/opal/src/cli/commands/runs.py
  src/dnadesign/opal/src/cli/commands/status.py
  src/dnadesign/opal/src/plots/config.py
  src/dnadesign/opal/src/reporting/artifact_garden.py
  src/dnadesign/opal/src/reporting/progress.py
  src/dnadesign/opal/tests/cli/test_cli_artifacts.py
  src/dnadesign/opal/tests/cli/test_cli_plot.py
  src/dnadesign/opal/tests/cli/test_cli_runs_status_log.py
  src/dnadesign/opal/tests/notebooks/test_campaign_progress_notebook.py
Due: core, external_integration, opal

Harden DenseGen probe dogfood contracts
  src/dnadesign/opal/campaigns/stress_eth_cip_and_rf_sfxi_topn/configs/campaign.yaml
  src/dnadesign/opal/campaigns/stress_eth_cip_cipro_rf_sfxi_topn/configs/campaign.yaml
  src/dnadesign/opal/campaigns/stress_eth_cip_ethanol_rf_sfxi_topn/configs/campaign.yaml
  src/dnadesign/opal/docs/maintainers/dev-spec-modernization.md
  src/dnadesign/opal/docs/reference/configuration.md
  src/dnadesign/opal/src/config/loader.py
  src/dnadesign/opal/src/config/types.py
  src/dnadesign/opal/src/plots/api.py
  src/dnadesign/opal/src/plots/runner.py
  src/dnadesign/studies/studies/stress_ethanol_cipro_growth/opal_densegen_axis_probe/README.md
  src/dnadesign/studies/studies/stress_ethanol_cipro_growth/opal_densegen_axis_probe/artifacts.py
  src/dnadesign/studies/studies/stress_ethanol_cipro_growth/opal_densegen_axis_probe/cli.py
  src/dnadesign/studies/studies/stress_ethanol_cipro_growth/opal_densegen_axis_probe/plan_fingerprint.py
  src/dnadesign/studies/studies/stress_ethanol_cipro_growth/opal_densegen_axis_probe/plotting.py
  src/dnadesign/studies/studies/stress_ethanol_cipro_growth/opal_densegen_axis_probe/progress.py
  src/dnadesign/studies/studies/stress_ethanol_cipro_growth/opal_densegen_axis_probe/review.py
  src/dnadesign/studies/studies/stress_ethanol_cipro_growth/opal_densegen_axis_probe/run_cli.py
  src/dnadesign/studies/tests/test_stress_ethanol_cipro_opal_batch0.py
  src/dnadesign/studies/tests/test_stress_ethanol_cipro_opal_densegen_axis_probe.py
Due: core, external_integration, opal

Split stress OPAL probe surfaces
  .agents/skills/stress-ethanol-cipro-growth-status/scripts/audit-stress-ethanol-cipro-growth-status-skill.sh
  docs/studies/stress_ethanol_cipro_growth/contexts/opal/densegen-axis-probe-v0.md
  docs/studies/stress_ethanol_cipro_growth/operations/contract/surfaces/execution/commands/opal.yaml
  src/dnadesign/studies/studies/stress_ethanol_cipro_growth/opal_densegen_axis_probe/README.md
  src/dnadesign/studies/studies/stress_ethanol_cipro_growth/opal_densegen_axis_probe/review.py
  src/dnadesign/studies/studies/stress_ethanol_cipro_growth/opal_densegen_axis_probe/review/__init__.py
  src/dnadesign/studies/studies/stress_ethanol_cipro_growth/opal_densegen_axis_probe/review/builder.py
  src/dnadesign/studies/studies/stress_ethanol_cipro_growth/opal_densegen_axis_probe/review/campaign_reviews.py
  src/dnadesign/studies/studies/stress_ethanol_cipro_growth/opal_densegen_axis_probe/review/configured_plots.py
  src/dnadesign/studies/studies/stress_ethanol_cipro_growth/opal_densegen_axis_probe/review/io.py
  src/dnadesign/studies/studies/stress_ethanol_cipro_growth/opal_densegen_axis_probe/review/metrics.py
  src/dnadesign/studies/studies/stress_ethanol_cipro_growth/opal_densegen_axis_probe/review/probe_plots.py
  src/dnadesign/studies/studies/stress_ethanol_cipro_growth/opal_densegen_axis_probe/review/rendering/__init__.py
  src/dnadesign/studies/studies/stress_ethanol_cipro_growth/opal_densegen_axis_probe/review/rendering/formatting.py
  src/dnadesign/studies/studies/stress_ethanol_cipro_growth/opal_densegen_axis_probe/review/rendering/html.py
  src/dnadesign/studies/studies/stress_ethanol_cipro_growth/opal_densegen_axis_probe/review/rendering/markdown.py
  src/dnadesign/studies/studies/stress_ethanol_cipro_growth/opal_densegen_axis_probe/review/run_manifest.py
  src/dnadesign/studies/studies/stress_ethanol_cipro_growth/opal_densegen_axis_probe/run_cli.py
  src/dnadesign/studies/tests/__init__.py
  src/dnadesign/studies/tests/stress_ethanol_cipro_growth/__init__.py
  src/dnadesign/studies/tests/stress_ethanol_cipro_growth/opal_densegen_axis_probe/__init__.py
  src/dnadesign/studies/tests/stress_ethanol_cipro_growth/opal_densegen_axis_probe/helpers.py
  src/dnadesign/studies/tests/stress_ethanol_cipro_growth/opal_densegen_axis_probe/test_axis_oracle.py
  src/dnadesign/studies/tests/stress_ethanol_cipro_growth/opal_densegen_axis_probe/test_decision_gates.py
  src/dnadesign/studies/tests/stress_ethanol_cipro_growth/opal_densegen_axis_probe/test_evaluation_ledgers.py
  src/dnadesign/studies/tests/stress_ethanol_cipro_growth/opal_densegen_axis_probe/test_evaluation_selection_contracts.py
  src/dnadesign/studies/tests/stress_ethanol_cipro_growth/opal_densegen_axis_probe/test_execution_artifacts.py
  src/dnadesign/studies/tests/stress_ethanol_cipro_growth/opal_densegen_axis_probe/test_package_contracts.py
  src/dnadesign/studies/tests/stress_ethanol_cipro_growth/opal_densegen_axis_probe/test_planning_contracts.py
  src/dnadesign/studies/tests/stress_ethanol_cipro_growth/opal_densegen_axis_probe/test_review_reporting.py
  src/dnadesign/studies/tests/stress_ethanol_cipro_growth/opal_densegen_axis_probe/test_status_source_contracts.py
  src/dnadesign/studies/tests/test_stress_ethanol_cipro_opal_densegen_axis_probe.py
Due: core, external_integration

Refine OPAL notebook review surface
  src/dnadesign/opal/notebooks/api/__init__.py
  src/dnadesign/opal/src/analysis/notebook_components/__init__.py
  src/dnadesign/opal/src/analysis/notebook_components/baserender.py
  src/dnadesign/opal/src/analysis/notebook_components/baserender_records.py
  src/dnadesign/opal/src/analysis/notebook_components/baserender_render.py
  src/dnadesign/opal/src/analysis/notebook_components/overview.py
  src/dnadesign/opal/src/analysis/notebook_components/plots.py
  src/dnadesign/opal/src/analysis/notebook_components/visual_surface.py
  src/dnadesign/opal/src/analysis/notebook_set_template.py
  src/dnadesign/opal/src/analysis/notebook_template/data_cells.py
  src/dnadesign/opal/src/analysis/notebook_template/layout_cells.py
  src/dnadesign/opal/src/analysis/notebook_template/record_cells.py
  src/dnadesign/opal/src/analysis/notebook_template/setup_cells.py
  src/dnadesign/opal/src/analysis/notebook_template/summary_cells.py
  src/dnadesign/opal/src/config/loader.py
  src/dnadesign/opal/src/config/types.py
  src/dnadesign/opal/src/plots/_mpl_utils.py
  src/dnadesign/opal/src/plots/feature_importance_heatmap.py
  src/dnadesign/opal/src/plots/metric_over_rounds.py
  src/dnadesign/opal/src/plots/vector_summary_heatmap.py
  src/dnadesign/opal/src/reporting/notebook.py
  src/dnadesign/opal/tests/cli/test_cli_notebook_generate.py
  src/dnadesign/opal/tests/cli/test_cli_plot.py
  src/dnadesign/opal/tests/notebooks/test_notebook_template.py
Due: core, external_integration, opal
