Repository e-south/dnadesign: changes, and which Codecov flags are due for each by the changed paths.
All: core, external_integration, usr, notify, densegen, infer, opal, cluster, billboard, libshuffle, nmf, latdna, cruncher, tfkdanalysis, aligner, baserender, permuter

Update Eco1 review documentation
  README.md
  docs/dev/plans/cross-tool/thread/2026-06-19-eco1-rt-repack-thread.md
  docs/studies/eco1_rt_repack/README.md
  docs/studies/eco1_rt_repack/operations/runtime/command-groups/pipeline.yaml
  docs/studies/eco1_rt_repack/record/datasets.yaml
  docs/studies/eco1_rt_repack/routes/README.md
Due: none

Fix CI changed-file resolution
  .github/workflows/ci.yaml
Due: none

Raise dependency security floors
  pyproject.toml
  uv.lock
Due: none

Fix Eco1 foldcheck contract CI fixture
  src/dnadesign/studies/units/eco1_rt_repack/tests/contracts/foldcheck/test_report.py
Due: core, external_integration

Fix Eco1 ProteinMPNN qsub array submit
  docs/bu-scc/jobs/README.md
  docs/bu-scc/jobs/eco1-proteinmpnn-design-class.qsub
  docs/studies/eco1_rt_repack/operations/runtime/command-groups/README.md
  docs/studies/eco1_rt_repack/operations/runtime/command-groups/pipeline.yaml
  src/dnadesign/densegen/tests/docs/test_eco1_bu_scc_qsub_contracts.py
Due: core, external_integration, densegen

Use one slot for Eco1 ProteinMPNN qsub
  docs/bu-scc/jobs/eco1-proteinmpnn-design-class.qsub
  src/dnadesign/densegen/tests/docs/test_eco1_bu_scc_qsub_contracts.py
Due: core, external_integration, densegen

Guard Eco1 ProteinMPNN request materialization
  docs/bu-scc/jobs/eco1-proteinmpnn-design-class.qsub
  src/dnadesign/densegen/tests/docs/test_eco1_bu_scc_qsub_contracts.py
Due: core, external_integration, densegen

Shard Eco1 ColabFold fold-check requests
  docs/bu-scc/jobs/README.md
  docs/bu-scc/jobs/eco1-colabfold-foldcheck.qsub
  src/dnadesign/thread/foldcheck/subset.py
  src/dnadesign/thread/tests/foldcheck/test_subset.py
Due: core, external_integration

Support ColabFold array shards
  docs/bu-scc/jobs/README.md
  docs/bu-scc/jobs/eco1-colabfold-foldcheck.qsub
  src/dnadesign/thread/foldcheck/subset.py
  src/dnadesign/thread/tests/foldcheck/test_subset.py
Due: core, external_integration

Stage expanded Eco1 ESMC review inputs
  docs/bu-scc/jobs/README.md
  docs/bu-scc/jobs/eco1-colabfold-foldcheck.qsub
  docs/studies/eco1_rt_repack/operations/runtime/command-groups/README.md
  docs/studies/eco1_rt_repack/operations/runtime/command-groups/pipeline.yaml
  src/dnadesign/studies/units/eco1_rt_repack/operations/materialization/design_classes/__init__.py
  src/dnadesign/studies/units/eco1_rt_repack/operations/materialization/design_classes/cli.py
  src/dnadesign/studies/units/eco1_rt_repack/operations/materialization/design_classes/downstream_inputs.py
  src/dnadesign/studies/units/eco1_rt_repack/operations/materialization/design_classes/esmc_sequence_preference.py
  src/dnadesign/studies/units/eco1_rt_repack/operations/materialization/design_classes/models.py
  src/dnadesign/studies/units/eco1_rt_repack/tests/materialization/design_classes/test_materialization.py
Due: core, external_integration

Require modern GPU for Eco1 ColabFold jobs
  docs/bu-scc/jobs/README.md
  docs/bu-scc/jobs/eco1-colabfold-foldcheck.qsub
  src/dnadesign/densegen/tests/docs/test_eco1_bu_scc_qsub_contracts.py
Due: core, external_integration, densegen

Add catalog-only Biohub SAE description enrichment
  src/dnadesign/studies/units/eco1_rt_repack/operations/materialization/biohub_esmc_sae_profile/__init__.py
  src/dnadesign/studies/units/eco1_rt_repack/operations/materialization/biohub_esmc_sae_profile/cli.py
  src/dnadesign/studies/units/eco1_rt_repack/operations/materialization/biohub_esmc_sae_profile/pipeline.py
  src/dnadesign/studies/units/eco1_rt_repack/tests/materialization/biohub_esmc_sae_profile/test_materialization.py
  src/dnadesign/thread/adapters/biohub_esmc/__init__.py
  src/dnadesign/thread/adapters/biohub_esmc/tables.py
Due: core, external_integration

Checkpoint Biohub SAE feature description enrichment
  src/dnadesign/studies/units/eco1_rt_repack/operations/materialization/biohub_esmc_sae_profile/cli.py
  src/dnadesign/studies/units/eco1_rt_repack/operations/materialization/biohub_esmc_sae_profile/pipeline.py
Due: core, external_integration

Split Biohub SAE feature enrichment surface
  src/dnadesign/studies/units/eco1_rt_repack/operations/materialization/biohub_esmc_sae_profile/__init__.py
  src/dnadesign/studies/units/eco1_rt_repack/operations/materialization/biohub_esmc_sae_profile/cli.py
  src/dnadesign/studies/units/eco1_rt_repack/operations/materialization/biohub_esmc_sae_profile/feature_description_enrichment.py
  src/dnadesign/studies/units/eco1_rt_repack/operations/materialization/biohub_esmc_sae_profile/pipeline.py
  src/dnadesign/studies/units/eco1_rt_repack/tests/architecture/test_biohub_materialization_layout.py
  src/dnadesign/studies/units/eco1_rt_repack/tests/materialization/biohub_esmc_sae_profile/test_feature_description_enrichment.py
  src/dnadesign/studies/units/eco1_rt_repack/tests/materialization/biohub_esmc_sae_profile/test_materialization.py
  src/dnadesign/studies/units/eco1_rt_repack/tests/materialization/design_classes/test_downstream_inputs.py
  src/dnadesign/studies/units/eco1_rt_repack/tests/materialization/design_classes/test_materialization.py
Due: core, external_integration

Harden Biohub SAE review deliverables
  src/dnadesign/studies/units/eco1_rt_repack/operations/materialization/review_deliverables/biohub_esmc_sae_activation_pattern.py
  src/dnadesign/studies/units/eco1_rt_repack/operations/materialization/review_deliverables/biohub_esmc_sae_heatmap_manifest.py
  src/dnadesign/studies/units/eco1_rt_repack/operations/materialization/review_deliverables/biohub_esmc_sae_interpretation.py
  src/dnadesign/studies/units/eco1_rt_repack/operations/materialization/review_deliverables/biohub_esmc_sae_interpretation_shared.py
  src/dnadesign/studies/units/eco1_rt_repack/operations/materialization/review_deliverables/biohub_esmc_sae_tables.py
  src/dnadesign/studies/units/eco1_rt_repack/tests/architecture/test_review_deliverables_package_layout.py
  src/dnadesign/studies/units/eco1_rt_repack/tests/materialization/review_deliverables/test_biohub_sae_interpretation.py
  src/dnadesign/studies/units/eco1_rt_repack/tests/materialization/review_deliverables/test_biohub_sae_review_helpers.py
  src/dnadesign/thread/adapters/biohub_esmc/tables.py
  src/dnadesign/thread/tests/adapters/biohub_esmc/test_table_validation_hardening.py
Due: core, external_integration

Refresh Eco1 assay panel status docs
  .agents/skills/eco1-rt-repack-status/SKILL.md
  .agents/skills/eco1-rt-repack-status/references/route-matrix.md
  .agents/skills/eco1-rt-repack-status/references/study-surfaces.md
  .agents/skills/eco1-rt-repack-status/references/test-matrix.md
  .agents/skills/eco1-rt-repack-status/scripts/audit-eco1-rt-repack-status-skill.sh
  docs/dev/plans/cross-tool/thread/2026-06-19-eco1-rt-repack-thread.md
  docs/studies/eco1_rt_repack/README.md
  docs/studies/eco1_rt_repack/contexts/implementation-roadmap.md
  docs/studies/eco1_rt_repack/record/campaign.yaml
  docs/studies/eco1_rt_repack/record/datasets.yaml
  docs/studies/eco1_rt_repack/record/status.md
  docs/studies/eco1_rt_repack/routes/README.md
Due: none

Optimize scar-nick test performance
  src/dnadesign/cruncher/src/scar_nick/planner.py
  src/dnadesign/cruncher/src/scar_nick/profiles.py
  src/dnadesign/cruncher/tests/cli/test_scar_nick_cli.py
  src/dnadesign/cruncher/tests/scar_nick/test_planner.py
  src/dnadesign/cruncher/tests/scar_nick/test_profiles.py
Due: core, external_integration, cruncher

Reuse shared matplotlib cache for runbooks
  src/dnadesign/cruncher/src/viz/mpl.py
  src/dnadesign/cruncher/tests/viz/test_mpl_cache.py
  src/dnadesign/cruncher/tests/workspaces/test_runbook_execution.py
Due: core, external_integration, cruncher

Speed up latentdna notebook workflow test
  src/dnadesign/latentdna/tests/integrations/test_notebook_generation_workflow.py
Due: core, external_integration

Speed up baserender import policy test
  src/dnadesign/baserender/tests/test_public_import_policy.py
Due: core, external_integration, baserender

Speed up baserender sequence-row tests
  src/dnadesign/baserender/src/render/sequence_rows.py
  src/dnadesign/baserender/tests/test_densegen_adapter.py
Due: core, external_integration, baserender

Speed up cluster public API tests
  src/dnadesign/cluster/tests/test_cluster_public_import_boundary.py
Due: core, external_integration, cluster

Reuse latentdna workspace contract fixtures
  src/dnadesign/latentdna/tests/contracts/test_study_workspace_contracts.py
Due: core, external_integration

Make OPAL CLI build idempotent
  src/dnadesign/opal/src/cli/registry.py
  src/dnadesign/opal/tests/cli/test_cli_common.py
Due: core, external_integration, opal

Speed up latentdna notebook smoke checks
  src/dnadesign/latentdna/src/services/notebook_service.py
  src/dnadesign/latentdna/tests/integrations/test_notebook_generation_workflow.py
Due: core, external_integration

Close latentdna test figures
  src/dnadesign/latentdna/tests/test_browser_runtime_support.py
Due: core, external_integration

Speed up Cruncher integration tests
  src/dnadesign/cruncher/tests/app/test_end_to_end_demo.py
  src/dnadesign/cruncher/tests/cli/test_snapback_cli.py
  src/dnadesign/cruncher/tests/conftest.py
  src/dnadesign/cruncher/tests/snapback/builders.py
  src/dnadesign/cruncher/tests/snapback/test_target_search.py
Due: core, external_integration, cruncher

Refresh Eco1 panel selection status
  .agents/skills/eco1-rt-repack-status/SKILL.md
  .agents/skills/eco1-rt-repack-status/references/route-matrix.md
  .agents/skills/eco1-rt-repack-status/references/study-surfaces.md
  docs/dev/plans/cross-tool/thread/2026-06-19-eco1-rt-repack-thread.md
  docs/studies/eco1_rt_repack/README.md
  docs/studies/eco1_rt_repack/contexts/fold-validation-policy.md
  docs/studies/eco1_rt_repack/contexts/implementation-roadmap.md
  docs/studies/eco1_rt_repack/contexts/residue-mask-policy.md
  docs/studies/eco1_rt_repack/operations/contract/readiness/checks/assembly_feasibility.yaml
  docs/studies/eco1_rt_repack/operations/contract/readiness/checks/candidate_handoff.yaml
  docs/studies/eco1_rt_repack/operations/contract/surfaces/artifacts.yaml
  docs/studies/eco1_rt_repack/operations/runtime/command-groups/README.md
  docs/studies/eco1_rt_repack/operations/runtime/command-groups/pipeline.yaml
  docs/studies/eco1_rt_repack/record/datasets.yaml
  docs/studies/eco1_rt_repack/record/status.md
  docs/studies/eco1_rt_repack/routes/README.md
Due: none

Reuse latentdna catalog in workspace contracts
  src/dnadesign/latentdna/tests/contracts/test_study_workspace_contracts.py
Due: core, external_integration

Speed up Eco1 materialization YAML I/O
  src/dnadesign/studies/units/eco1_rt_repack/operations/materialization/contact_geometry/paths.py
  src/dnadesign/studies/units/eco1_rt_repack/operations/materialization/design_classes/candidate_pool.py
  src/dnadesign/studies/units/eco1_rt_repack/operations/materialization/design_classes/downstream_inputs.py
  src/dnadesign/studies/units/eco1_rt_repack/operations/materialization/design_classes/foldcheck.py
  src/dnadesign/studies/units/eco1_rt_repack/operations/materialization/design_classes/pipeline.py
  src/dnadesign/studies/units/eco1_rt_repack/operations/materialization/proteinmpnn_request/pipeline.py
  src/dnadesign/studies/units/eco1_rt_repack/operations/materialization/thread_plan/pipeline.py
  src/dnadesign/studies/units/eco1_rt_repack/tests/materialization/contact_geometry/test_yaml_io.py
Due: core, external_integration

Speed up Cruncher demo plot smoke tests
  src/dnadesign/cruncher/tests/app/test_end_to_end_demo.py
Due: core, external_integration, cruncher

Reduce DenseGen qsub resume test validation cost
  src/dnadesign/densegen/tests/runtime/test_hpc_densegen_cpu_qsub.py
Due: core, external_integration, densegen

Add Eco1 selection funnel notebook summary
  src/dnadesign/studies/units/eco1_rt_repack/operations/materialization/review_deliverables/notebook_runtime.py
  src/dnadesign/studies/units/eco1_rt_repack/operations/materialization/review_deliverables/notebook_selection_panel.py
  src/dnadesign/studies/units/eco1_rt_repack/operations/materialization/review_deliverables/notebook_selection_summary.py
  src/dnadesign/studies/units/eco1_rt_repack/operations/materialization/review_deliverables/selection_readiness.py
  src/dnadesign/studies/units/eco1_rt_repack/operations/materialization/selection_readiness/pipeline.py
  src/dnadesign/studies/units/eco1_rt_repack/tests/architecture/test_review_deliverables_package_layout.py
  src/dnadesign/studies/units/eco1_rt_repack/tests/materialization/review_deliverables/notebook_assertions.py
  src/dnadesign/studies/units/eco1_rt_repack/tests/materialization/review_deliverables/notebook_contract_text.py
  src/dnadesign/studies/units/eco1_rt_repack/tests/materialization/review_deliverables/notebook_selection_assertions.py
  src/dnadesign/studies/units/eco1_rt_repack/tests/materialization/review_deliverables/selection_fixtures.py
  src/dnadesign/studies/units/eco1_rt_repack/tests/materialization/review_deliverables/selection_plot_fixtures.py
  src/dnadesign/studies/units/eco1_rt_repack/tests/materialization/review_deliverables/test_materialization.py
  src/dnadesign/studies/units/eco1_rt_repack/tests/materialization/review_deliverables/test_selection_notebook_runtime.py
  src/dnadesign/studies/units/eco1_rt_repack/tests/materialization/review_deliverables/test_structure_browser_runtime.py
  src/dnadesign/studies/units/eco1_rt_repack/tests/materialization/review_deliverables/test_visual_content.py
  src/dnadesign/studies/units/eco1_rt_repack/tests/materialization/selection_readiness/test_materialization.py
Due: core, external_integration

Remove Eco1 notebook backend prose residue
  src/dnadesign/studies/units/eco1_rt_repack/operations/materialization/review_deliverables/notebook.py
  src/dnadesign/studies/units/eco1_rt_repack/operations/materialization/review_deliverables/notebook_runtime.py
  src/dnadesign/studies/units/eco1_rt_repack/operations/materialization/review_deliverables/notebook_selection_summary.py
  src/dnadesign/studies/units/eco1_rt_repack/tests/materialization/review_deliverables/notebook_assertions.py
  src/dnadesign/studies/units/eco1_rt_repack/tests/materialization/review_deliverables/notebook_selection_assertions.py
Due: core, external_integration

Refresh baserender reference verification date
  src/dnadesign/baserender/docs/reference.md
Due: core, external_integration, baserender

Speed up Eco1 SAE review-deliverable tests
  src/dnadesign/studies/units/eco1_rt_repack/operations/materialization/review_deliverables/biohub_esmc_sae_umap.py
  src/dnadesign/studies/units/eco1_rt_repack/operations/materialization/review_deliverables/notebook_runtime.py
  src/dnadesign/studies/units/eco1_rt_repack/tests/materialization/review_deliverables/test_biohub_sae_interpretation.py
  src/dnadesign/studies/units/eco1_rt_repack/tests/materialization/review_deliverables/test_selection_notebook_runtime.py
Due: core, external_integration

Align Eco1 route and handoff readiness contracts
  docs/dev/plans/cross-tool/thread/2026-06-19-eco1-rt-repack-thread.md
  docs/studies/eco1_rt_repack/record/status.md
  docs/studies/eco1_rt_repack/routes/README.md
  src/dnadesign/studies/units/eco1_rt_repack/operations/contracts/sampling/artifacts.py
  src/dnadesign/studies/units/eco1_rt_repack/tests/architecture/test_route_map_links.py
  src/dnadesign/studies/units/eco1_rt_repack/tests/contracts/test_phase_contracts.py
Due: core, external_integration

Path conditions:
  core: any of: src/dnadesign
  external_integration: any of: src/dnadesign
  usr: any of: src/dnadesign/usr/**
  notify: any of: src/dnadesign/notify/**
  densegen: any of: src/dnadesign/densegen/**
  infer: any of: src/dnadesign/infer/**
  opal: any of: src/dnadesign/opal/**
  cluster: any of: src/dnadesign/cluster/**
  billboard: any of: src/dnadesign/billboard/**
  libshuffle: any of: src/dnadesign/libshuffle/**
  nmf: any of: src/dnadesign/nmf/**
  latdna: any of: src/dnadesign/latdna/**
  cruncher: any of: src/dnadesign/cruncher/**
  tfkdanalysis: any of: src/dnadesign/tfkdanalysis/**
  aligner: any of: src/dnadesign/aligner/**
  baserender: any of: src/dnadesign/baserender/**
  permuter: any of: src/dnadesign/permuter/**
