Repository e-south/dnadesign: changes, and which Codecov flags are due for each by the changed paths.
All: core, external_integration, usr, notify, densegen, infer, opal, cluster, billboard, libshuffle, nmf, latdna, cruncher, tfkdanalysis, aligner, baserender, permuter

docs: clarify construct composition routing
  README.md
  docs/README.md
  src/dnadesign/construct/README.md
  src/dnadesign/construct/docs/README.md
  src/dnadesign/construct/docs/reference/cli.md
  src/dnadesign/construct/docs/reference/linear-ssdna-composition.md
Due: core, external_integration

studies: support track-based study routing
  docs/README.md
  docs/operations/README.md
  docs/operations/ops-failure-contract.md
  docs/operations/ops-mental-model.md
  docs/operations/ops-preflight-checks.md
  docs/operations/ops-runtime-visibility.md
  docs/operations/ops-status-kinds.md
  docs/runbooks/README.md
  docs/studies/README.md
  docs/studies/retron_hairpin_design/ops.study.yaml
  docs/studies/study-record-authoring.md
  docs/studies/study-status-ops-surfaces.md
  src/dnadesign/cruncher/AGENTS.md
  src/dnadesign/cruncher/README.md
  src/dnadesign/cruncher/docs/README.md
  src/dnadesign/cruncher/docs/index.md
  src/dnadesign/cruncher/docs/operations/cruncher-study-preflight.md
  src/dnadesign/cruncher/docs/operations/cruncher-study-status.md
  src/dnadesign/cruncher/docs/operations/cruncher-study-status.registry.yaml
  src/dnadesign/ops/README.md
  src/dnadesign/ops/docs/README.md
  src/dnadesign/ops/docs/how-to-use-ops.md
  src/dnadesign/ops/tests/test_ops_docs_progressive_disclosure_contracts.py
  src/dnadesign/ops/tests/test_progress_cli.py
  src/dnadesign/studies/README.md
  src/dnadesign/studies/core/models.py
  src/dnadesign/studies/core/record_loader.py
  src/dnadesign/studies/families/cruncher/ops/status.registry.yaml
  src/dnadesign/studies/families/cruncher/preflight.py
  src/dnadesign/studies/families/cruncher/record_normalizer.py
  src/dnadesign/studies/families/cruncher/snapshot.py
  src/dnadesign/studies/tests/test_cruncher_snapshot.py
  src/dnadesign/studies/tests/test_cruncher_study_docs_and_skill_contracts.py
  src/dnadesign/studies/tests/test_record_loader.py
Due: core, external_integration, cruncher

construct: harden linear ssDNA handoff routing
  .agents/skills/retron-hairpin-study/references/study-surfaces.md
  .agents/skills/retron-hairpin-study/scripts/audit-retron-hairpin-study-skill.sh
  README.md
  docs/architecture/decisions/adr-0002-generic-linear-ssdna-composition.md
  docs/dev/README.md
  docs/dev/plans/2026-05-13-generic-linear-ssdna-composition-spec.md
  docs/exec-plans/active/2026-05-14-linear-ssdna-composition-hardening-followups.md
  docs/exec-plans/completed/2026-05-13-generic-linear-ssdna-composition.md
  docs/studies/retron_hairpin_design/linear-ssdna-composition.md
  docs/studies/retron_hairpin_design/pipeline.yaml
  docs/studies/retron_hairpin_design/routes.md
  docs/studies/retron_hairpin_design/scar-nick-base-junction.md
  docs/studies/retron_hairpin_design/status.md
  src/dnadesign/baserender/README.md
  src/dnadesign/baserender/docs/README.tool-source.yaml
  src/dnadesign/construct/docs/reference/linear-ssdna-composition.md
  src/dnadesign/construct/src/cli/app.py
  src/dnadesign/contracts/README.md
  src/dnadesign/devtools/architecture/boundaries.py
  src/dnadesign/devtools/tests/architecture/test_boundaries.py
  src/dnadesign/folding/cli.py
  src/dnadesign/folding/docs/README.md
  src/dnadesign/folding/docs/README.tool-source.yaml
  src/dnadesign/folding/tests/test_cli.py
Due: core, external_integration, baserender

cruncher: consume dnadesign-data catalog APIs
  src/dnadesign/cruncher/src/ingest/promoter_associations.py
  src/dnadesign/cruncher/src/ingest/promoters.py
  src/dnadesign/cruncher/tests/ingest/test_regulondb_promoters.py
  src/dnadesign/usr/tests/scripts/test_create_regulondb_native_promoters.py
Due: core, external_integration, usr, cruncher

usr: project RegulonDB BioCyc GO sidecars
  src/dnadesign/usr/docs/README.md
  src/dnadesign/usr/docs/reference/README.md
  src/dnadesign/usr/docs/reference/regulondb-functional-annotations.md
  src/dnadesign/usr/scripts/project_regulondb_functional_annotations.py
  src/dnadesign/usr/src/regulondb/__init__.py
  src/dnadesign/usr/src/regulondb/functional_annotations.py
  src/dnadesign/usr/tests/test_regulondb_functional_annotations.py
Due: core, external_integration, usr

latentdna: render regulator margin enrichment appendix
  docs/studies/stress_ethanol_cipro_growth/datasets.yaml
  docs/studies/stress_ethanol_cipro_growth/routes.md
  docs/studies/stress_ethanol_cipro_growth/status.md
  src/dnadesign/latentdna/README.md
  src/dnadesign/latentdna/docs/dev/native-regulator-plan-margin-enrichment.md
  src/dnadesign/latentdna/src/contracts/plot.py
  src/dnadesign/latentdna/src/plots/recipes.py
  src/dnadesign/latentdna/src/plots/render.py
  src/dnadesign/latentdna/src/plots/renderers/enrichment_summary.py
  src/dnadesign/latentdna/src/services/_plot_payloads.py
  src/dnadesign/latentdna/src/workspaces/validation.py
  src/dnadesign/latentdna/tests/contracts/test_study_workspace_contracts.py
  src/dnadesign/latentdna/tests/test_plot_render.py
  src/dnadesign/latentdna/workspaces/stress_ethanol_cipro_growth/config.yaml
  src/dnadesign/latentdna/workspaces/stress_ethanol_cipro_growth/plot_semantics/native_regulator_plan_margin_enrichment.yaml
  src/dnadesign/studies/stress_ethanol_cipro_growth/deliverables/native_regulator_plan_margin_enrichment.md
Due: core, external_integration

devtools: check scoped agent path references
  docs/dev/monorepo-organization-audit.md
  docs/dev/plans/2026-02-05-cruncher-audit-design.md
  src/dnadesign/devtools/docs/checks.py
  src/dnadesign/devtools/tests/docs/test_checks.py
Due: core, external_integration

docs: clarify repository front door
  README.md
Due: none

docs: clarify folding and composition routing
  README.md
  docs/dev/plans/2026-05-13-generic-linear-ssdna-composition-spec.md
  docs/dev/plans/linear-ssdna-composition/detailed-spec.md
  src/dnadesign/devtools/docs/checks.py
  src/dnadesign/devtools/tests/docs/test_checks.py
  src/dnadesign/folding/README.md
  src/dnadesign/folding/assets/folding-banner.svg
  src/dnadesign/folding/docs/README.md
Due: core, external_integration

ci: add folding coverage baseline
  .github/tool-coverage-baseline.json
Due: none

Harden Construct GenBank handoff
  docs/studies/retron_hairpin_design/linear-ssdna-composition.md
  src/dnadesign/construct/src/cli/commands/compose.py
  src/dnadesign/construct/src/composition.py
  src/dnadesign/construct/src/composition_exports.py
  src/dnadesign/construct/tests/cli/test_compose_command.py
  src/dnadesign/construct/tests/runtime/test_linear_ssdna_composition.py
Due: core, external_integration

Harden retron MSD routing feedback
  .agents/skills/retron-hairpin-study/references/external-sources.md
  .agents/skills/retron-hairpin-study/references/test-matrix.md
  .agents/skills/retron-hairpin-study/scripts/audit-retron-hairpin-study-skill.sh
  src/dnadesign/studies/retron_hairpin_design/cli.py
  src/dnadesign/studies/tests/test_cruncher_study_docs_and_skill_contracts.py
  src/dnadesign/studies/tests/test_retron_msd_compiler.py
Due: core, external_integration

Harden retron MSD single-unit materialization
  .agents/skills/retron-hairpin-study/SKILL.md
  .agents/skills/retron-hairpin-study/references/msd-design-references.md
  .agents/skills/retron-hairpin-study/references/refresh-loop.md
  .agents/skills/retron-hairpin-study/references/route-matrix.md
  .agents/skills/retron-hairpin-study/references/study-surfaces.md
  .agents/skills/retron-hairpin-study/references/test-matrix.md
  .agents/skills/retron-hairpin-study/scripts/audit-retron-hairpin-study-skill.sh
  docs/studies/retron_hairpin_design/linear-ssdna-composition.md
  docs/studies/retron_hairpin_design/pipeline.yaml
  docs/studies/retron_hairpin_design/routes.md
  docs/studies/retron_hairpin_design/status.md
  src/dnadesign/contracts/sequence/msd_design_reference_v1.py
  src/dnadesign/studies/retron_hairpin_design/cli.py
  src/dnadesign/studies/retron_hairpin_design/compiler.py
  src/dnadesign/studies/tests/test_cruncher_study_docs_and_skill_contracts.py
  src/dnadesign/studies/tests/test_retron_msd_compiler.py
Due: core, external_integration

Harden retron MSD annotation exports
  .agents/skills/retron-hairpin-study/SKILL.md
  .agents/skills/retron-hairpin-study/references/test-matrix.md
  docs/studies/retron_hairpin_design/linear-ssdna-composition.md
  docs/studies/retron_hairpin_design/msd_design_registry.yaml
  docs/studies/retron_hairpin_design/routes.md
  src/dnadesign/construct/src/composition_exports.py
  src/dnadesign/construct/tests/runtime/test_linear_ssdna_composition.py
  src/dnadesign/studies/retron_hairpin_design/compiler.py
  src/dnadesign/studies/tests/test_cruncher_study_docs_and_skill_contracts.py
  src/dnadesign/studies/tests/test_retron_msd_compiler.py
Due: core, external_integration

Harden retron MSD materialization layout
  .agents/skills/retron-hairpin-study/references/msd-design-references.md
  .agents/skills/retron-hairpin-study/references/test-matrix.md
  docs/studies/retron_hairpin_design/linear-ssdna-composition.md
  docs/studies/retron_hairpin_design/routes.md
  src/dnadesign/construct/src/composition.py
  src/dnadesign/construct/src/composition_exports.py
  src/dnadesign/contracts/sequence/msd_design_reference_v1.py
  src/dnadesign/studies/retron_hairpin_design/cli.py
  src/dnadesign/studies/retron_hairpin_design/compiler.py
  src/dnadesign/studies/tests/test_cruncher_study_docs_and_skill_contracts.py
  src/dnadesign/studies/tests/test_retron_msd_compiler.py
Due: core, external_integration

docs(latentdna): wire regulator margin notebook semantics
  src/dnadesign/latentdna/docs/assets/latentdna-banner.svg
  src/dnadesign/latentdna/docs/dev/native-regulator-plan-margin-enrichment.md
  src/dnadesign/latentdna/workspaces/stress_ethanol_cipro_growth/config.yaml
  src/dnadesign/latentdna/workspaces/stress_ethanol_cipro_growth/plot_semantics/native_regulator_go_bp_plan_margin_enrichment.yaml
  src/dnadesign/latentdna/workspaces/stress_ethanol_cipro_growth/plot_semantics/native_regulator_plan_margin_enrichment.yaml
  src/dnadesign/latentdna/workspaces/stress_ethanol_cipro_growth/plot_semantics/sigma35_margin_ladder_gallery.yaml
  src/dnadesign/latentdna/workspaces/templates/promoter_reference_margin_benchmark/plot_semantics/sigma35_margin_ladder_gallery.yaml
  src/dnadesign/studies/stress_ethanol_cipro_growth/deliverables/native_regulator_plan_margin_enrichment.md
Due: core, external_integration

Harden Retron MSD deliverable materialization
  .agents/skills/retron-hairpin-study/SKILL.md
  .agents/skills/retron-hairpin-study/references/msd-design-references.md
  .agents/skills/retron-hairpin-study/references/route-matrix.md
  .agents/skills/retron-hairpin-study/references/study-surfaces.md
  .agents/skills/retron-hairpin-study/references/test-matrix.md
  docs/studies/retron_hairpin_design/linear-ssdna-composition.md
  docs/studies/retron_hairpin_design/pipeline.yaml
  docs/studies/retron_hairpin_design/routes.md
  src/dnadesign/construct/tests/runtime/test_linear_ssdna_composition.py
  src/dnadesign/cruncher/src/scar_nick/__init__.py
  src/dnadesign/cruncher/src/scar_nick/primitive_exports.py
  src/dnadesign/cruncher/src/snapback/__init__.py
  src/dnadesign/cruncher/src/snapback/primitive_exports.py
  src/dnadesign/folding/src/viennarna_plot.py
  src/dnadesign/folding/tests/test_cli.py
  src/dnadesign/folding/tests/test_rnafold_runner.py
  src/dnadesign/studies/retron_hairpin_design/README.md
  src/dnadesign/studies/retron_hairpin_design/cli.py
  src/dnadesign/studies/retron_hairpin_design/compiler.py
  src/dnadesign/studies/retron_hairpin_design/compiler_spec.py
  src/dnadesign/studies/retron_hairpin_design/msd_ids.py
  src/dnadesign/studies/retron_hairpin_design/registry.py
  src/dnadesign/studies/tests/test_cruncher_study_docs_and_skill_contracts.py
  src/dnadesign/studies/tests/test_retron_msd_compiler.py
Due: core, external_integration, cruncher

Fix Retron native structure plot contract
  .agents/skills/retron-hairpin-study/SKILL.md
  .agents/skills/retron-hairpin-study/references/msd-design-references.md
  .agents/skills/retron-hairpin-study/references/route-matrix.md
  .agents/skills/retron-hairpin-study/references/study-surfaces.md
  .agents/skills/retron-hairpin-study/references/test-matrix.md
  .agents/skills/retron-hairpin-study/scripts/audit-retron-hairpin-study-skill.sh
  docs/studies/retron_hairpin_design/linear-ssdna-composition.md
  docs/studies/retron_hairpin_design/pipeline.yaml
  docs/studies/retron_hairpin_design/routes.md
  docs/studies/retron_hairpin_design/status.md
  src/dnadesign/construct/__init__.py
  src/dnadesign/contracts/sequence/msd_design_reference_v1.py
  src/dnadesign/studies/retron_hairpin_design/cli.py
  src/dnadesign/studies/retron_hairpin_design/compiler.py
  src/dnadesign/studies/tests/test_cruncher_study_docs_and_skill_contracts.py
  src/dnadesign/studies/tests/test_retron_msd_compiler.py
Due: core, external_integration

harden retron and composition surfaces
  .agents/skills/retron-hairpin-study/SKILL.md
  .agents/skills/retron-hairpin-study/references/msd-design-references.md
  .agents/skills/retron-hairpin-study/references/route-matrix.md
  .agents/skills/retron-hairpin-study/references/study-surfaces.md
  .agents/skills/retron-hairpin-study/references/test-matrix.md
  docs/studies/retron_hairpin_design/linear-ssdna-composition.md
  docs/studies/retron_hairpin_design/pipeline.yaml
  docs/studies/retron_hairpin_design/routes.md
  docs/studies/retron_hairpin_design/status.md
  src/dnadesign/construct/docs/assets/construct-banner.svg
  src/dnadesign/construct/docs/reference/cli.md
  src/dnadesign/construct/docs/reference/linear-ssdna-composition.md
  src/dnadesign/construct/src/cli/commands/compose.py
  src/dnadesign/construct/src/composition.py
  src/dnadesign/construct/src/composition_review.py
  src/dnadesign/construct/src/composition_visual.py
  src/dnadesign/construct/tests/runtime/test_linear_ssdna_composition.py
  src/dnadesign/contracts/README.md
  src/dnadesign/contracts/assets/contracts-banner.svg
  src/dnadesign/contracts/docs/README.md
  src/dnadesign/contracts/docs/reference/exports.md
  src/dnadesign/contracts/sequence/linear_ssdna_composition_v1.py
  src/dnadesign/contracts/sequence/msd_design_reference_v1.py
  src/dnadesign/contracts/visual/composition_review_svg_v1.py
  src/dnadesign/folding/assets/folding-banner.svg
  src/dnadesign/folding/src/viennarna_summary.py
  src/dnadesign/folding/src/viennarna_svg.py
  src/dnadesign/folding/tests/test_rnafold_runner.py
  src/dnadesign/studies/retron_hairpin_design/cli.py
  src/dnadesign/studies/retron_hairpin_design/compiler.py
  src/dnadesign/studies/retron_hairpin_design/msd_ids.py
  src/dnadesign/studies/tests/test_cruncher_study_docs_and_skill_contracts.py
  src/dnadesign/studies/tests/test_retron_msd_compiler.py
Due: core, external_integration

fix retron route contract guards
  .agents/skills/retron-hairpin-study/SKILL.md
  docs/studies/retron_hairpin_design/routes.md
Due: none

fix construct review SVG provenance
  src/dnadesign/construct/src/composition_review.py
  src/dnadesign/construct/tests/runtime/test_linear_ssdna_composition.py
  src/dnadesign/studies/tests/test_retron_msd_compiler.py
Due: core, external_integration

fix agent path references for clean CI
  AGENTS.md
  src/dnadesign/cruncher/AGENTS.md
Due: core, external_integration, cruncher

avoid duplicate structure captions in review SVGs
  src/dnadesign/construct/src/composition_review.py
  src/dnadesign/construct/tests/runtime/test_linear_ssdna_composition.py
Due: core, external_integration

declare retron study public producer boundaries
  src/dnadesign/devtools/architecture/boundaries.py
  src/dnadesign/devtools/tests/architecture/test_boundaries.py
Due: core, external_integration

fix retron materialize repeat flag test
  src/dnadesign/studies/tests/test_retron_msd_compiler.py
Due: core, external_integration

harden retron composition deliverables
  docs/dev/plans/2026-04-28-sequence-view-ontology-and-infer-completion-hardening-spec.md
  docs/dev/plans/linear-ssdna-composition/detailed-spec.md
  docs/exec-plans/completed/2026-05-13-generic-linear-ssdna-composition.md
  src/dnadesign/construct/docs/reference/linear-ssdna-composition.md
  src/dnadesign/construct/src/composition_review.py
  src/dnadesign/construct/src/composition_visual.py
  src/dnadesign/construct/tests/runtime/test_linear_ssdna_composition.py
  src/dnadesign/construct/workspaces/retron43_teto_manual_x8/config.composition.yaml
  src/dnadesign/contracts/sequence/msd_design_reference_v1.py
  src/dnadesign/contracts/tests/test_sequence_contracts.py
  src/dnadesign/contracts/visual/composition_review_svg_v1.py
  src/dnadesign/cruncher/README.md
  src/dnadesign/cruncher/src/snapback/primitive_exports.py
  src/dnadesign/cruncher/tests/docs/test_cassette_docs_contracts.py
  src/dnadesign/cruncher/tests/docs/test_yiu_docs_routing.py
  src/dnadesign/folding/docs/README.md
  src/dnadesign/folding/src/viennarna_svg.py
  src/dnadesign/folding/tests/test_rnafold_runner.py
Due: core, external_integration, cruncher

tighten repo local skill routing
  .agents/skills/promoter-study-status/SKILL.md
  .agents/skills/promoter-study-status/scripts/audit-promoter-study-status-skill.sh
  .agents/skills/retron-hairpin-study/SKILL.md
  .agents/skills/retron-hairpin-study/references/route-matrix.md
  .agents/skills/sge-hpc-ops/SKILL.md
  .agents/skills/sge-hpc-ops/references/README.md
  .agents/skills/sge-hpc-ops/references/automation-qa-preflight.md
  .agents/skills/sge-hpc-ops/references/batch-submit-contract.md
  .agents/skills/sge-hpc-ops/references/bu-scc-system-usage.md
  .agents/skills/sge-hpc-ops/references/ci-mechanical-gates.md
  .agents/skills/sge-hpc-ops/references/external-sources.md
  .agents/skills/sge-hpc-ops/references/interactive-contract.md
  .agents/skills/sge-hpc-ops/references/operator-brief.md
  .agents/skills/sge-hpc-ops/references/probe-first-contract.md
  .agents/skills/sge-hpc-ops/references/route-load-matrix.md
  .agents/skills/sge-hpc-ops/references/session-status-reporting.md
  .agents/skills/sge-hpc-ops/references/submission-shape-advisor.md
  .agents/skills/sge-hpc-ops/references/user-status-contract.md
  .agents/skills/sge-hpc-ops/scripts/audit-sge-hpc-ops-skill.sh
  AGENTS.md
Due: none

refactor(ops): harden progress boundaries
  src/dnadesign/cluster/README.md
  src/dnadesign/devtools/architecture/boundaries.py
  src/dnadesign/devtools/docs/checks.py
  src/dnadesign/devtools/tests/architecture/test_boundaries.py
  src/dnadesign/devtools/tests/docs/test_checks.py
  src/dnadesign/devtools/tests/support/usr.py
  src/dnadesign/ops/README.md
  src/dnadesign/ops/cli/__init__.py
  src/dnadesign/ops/cli/commands/progress.py
  src/dnadesign/ops/cli/commands/progress_render.py
  src/dnadesign/ops/cli/commands/progress_status_specs.py
  src/dnadesign/ops/docs/README.md
  src/dnadesign/ops/docs/how-to-use-ops.md
  src/dnadesign/ops/status/__init__.py
  src/dnadesign/ops/status/provider_protocols.py
  src/dnadesign/ops/status/registry_loader.py
  src/dnadesign/ops/tests/test_catalog_cli.py
  src/dnadesign/ops/tests/test_dynamic_inputs.py
  src/dnadesign/ops/tests/test_preflight_contract_checks.py
  src/dnadesign/ops/tests/test_progress_cli.py
  src/dnadesign/ops/tests/test_state_semantics.py
  src/dnadesign/ops/tests/test_status_registry_lazy_loading.py
  src/dnadesign/ops/tests/test_status_service_inputs.py
  src/dnadesign/usr/AGENTS.md
  src/dnadesign/usr/__init__.py
  src/dnadesign/usr/docs/README.md
  src/dnadesign/usr/docs/operations/README.md
  src/dnadesign/usr/docs/operations/construct-infer-shared-dataset-runbook.md
  src/dnadesign/usr/docs/operations/multi-source-shared-dataset-assembly.md
  src/dnadesign/usr/docs/operations/promoter-characterization-feature-matrix.md
  src/dnadesign/usr/docs/operations/promoter-evo2-journey.md
  src/dnadesign/usr/docs/reference/python-api.md
  src/dnadesign/usr/src/api/__init__.py
  src/dnadesign/usr/tests/docs_contract/test_study.py
  src/dnadesign/usr/tests/test_module_layout.py
  src/dnadesign/usr/testsupport.py
Due: core, external_integration, usr, cluster

Add stress OPAL provenance surface
  .agents/skills/bu-scc-usr-sync/SKILL.md
  .agents/skills/notify-ops/SKILL.md
  .agents/skills/retron-hairpin-study/SKILL.md
  .agents/skills/sge-hpc-ops/SKILL.md
  .agents/skills/stress-ethanol-cipro-growth-status/SKILL.md
  .agents/skills/stress-ethanol-cipro-growth-status/references/external-sources.md
  .agents/skills/stress-ethanol-cipro-growth-status/references/refresh-loop.md
  .agents/skills/stress-ethanol-cipro-growth-status/references/route-matrix.md
  .agents/skills/stress-ethanol-cipro-growth-status/references/study-surfaces.md
  .agents/skills/stress-ethanol-cipro-growth-status/scripts/audit-stress-ethanol-cipro-growth-status-skill.sh
  ARCHITECTURE.md
  docs/runbooks/README.md
  docs/studies/README.md
  docs/studies/stress_ethanol_cipro_growth/datasets.yaml
  docs/studies/stress_ethanol_cipro_growth/ops.study.yaml
  docs/studies/stress_ethanol_cipro_growth/pipeline.yaml
  docs/studies/stress_ethanol_cipro_growth/routes.md
  docs/studies/stress_ethanol_cipro_growth/routes/latentdna.md
  docs/studies/stress_ethanol_cipro_growth/routes/opal.md
  docs/studies/stress_ethanol_cipro_growth/status-contract.registry.yaml
  docs/studies/stress_ethanol_cipro_growth/status.md
  src/dnadesign/devtools/docs/checks.py
  src/dnadesign/devtools/tests/docs/test_checks.py
  src/dnadesign/latentdna/tests/test_docs_contract.py
  src/dnadesign/ops/tests/test_catalog_cli.py
  src/dnadesign/ops/tests/test_progress_cli.py
  src/dnadesign/studies/studies/stress_ethanol_cipro_growth/opal_batch0/README.md
  src/dnadesign/studies/studies/stress_ethanol_cipro_growth/opal_batch0/candidate_table.py
  src/dnadesign/studies/studies/stress_ethanol_cipro_growth/opal_batch0/provenance.py
  src/dnadesign/studies/studies/stress_ethanol_cipro_growth/opal_batch0/sampling.yaml
  src/dnadesign/studies/studies/stress_ethanol_cipro_growth/opal_batch0/select.py
  src/dnadesign/studies/tests/test_retron_hairpin_study_docs_and_skill_contracts.py
  src/dnadesign/studies/tests/test_stress_ethanol_cipro_opal_batch0.py
Due: core, external_integration

Add read-only LatentDNA workspace snapshot
  .gitignore
  docs/studies/stress_ethanol_cipro_growth/routes.md
  docs/studies/stress_ethanol_cipro_growth/routes/latentdna.md
  src/dnadesign/latentdna/docs/reference/cli-contracts.md
  src/dnadesign/latentdna/docs/reference/workspace-snapshot-contract.md
  src/dnadesign/latentdna/src/cli/commands/workspace.py
  src/dnadesign/latentdna/src/services/workspace_snapshot_service.py
  src/dnadesign/latentdna/tests/test_workspace_snapshot_service.py
  src/dnadesign/latentdna/workspaces/stress_ethanol_cipro_growth/README.md
Due: core, external_integration

Harden OPAL stress handoff contracts
  .agents/skills/stress-ethanol-cipro-growth-status/SKILL.md
  docs/studies/stress_ethanol_cipro_growth/preflight.md
  docs/studies/stress_ethanol_cipro_growth/routes/opal.md
  src/dnadesign/devtools/architecture/boundaries.py
  src/dnadesign/devtools/tests/architecture/test_boundaries.py
  src/dnadesign/opal/docs/maintainers/shared-label-source-plan.md
  src/dnadesign/opal/docs/reference/cli.md
  src/dnadesign/opal/docs/reference/configuration.md
  src/dnadesign/opal/docs/reference/data-contracts.md
  src/dnadesign/opal/docs/workflows/usr-infer-x-active-learning.md
  src/dnadesign/opal/src/cli/commands/ingest_y.py
  src/dnadesign/opal/src/cli/commands/status.py
  src/dnadesign/opal/src/reporting/status.py
  src/dnadesign/opal/src/runtime/explain.py
  src/dnadesign/opal/src/runtime/round/stages.py
  src/dnadesign/opal/src/storage/label_sources.py
  src/dnadesign/opal/src/storage/state.py
  src/dnadesign/opal/tests/runtime/test_state_schema.py
  src/dnadesign/opal/tests/runtime/test_state_v1_compat.py
  src/dnadesign/studies/studies/stress_ethanol_cipro_growth/opal_batch0/candidate_table.py
  src/dnadesign/studies/tests/test_stress_ethanol_cipro_opal_batch0.py
Due: core, external_integration, opal

Path conditions:
  core: any of: src/dnadesign
  external_integration: any of: src/dnadesign
  usr: any of: src/dnadesign/usr/**
  notify: any of: src/dnadesign/notify/**
  densegen: any of: src/dnadesign/densegen/**
  infer: any of: src/dnadesign/infer/**
  opal: any of: src/dnadesign/opal/**
  cluster: any of: src/dnadesign/cluster/**
  billboard: any of: src/dnadesign/billboard/**
  libshuffle: any of: src/dnadesign/libshuffle/**
  nmf: any of: src/dnadesign/nmf/**
  latdna: any of: src/dnadesign/latdna/**
  cruncher: any of: src/dnadesign/cruncher/**
  tfkdanalysis: any of: src/dnadesign/tfkdanalysis/**
  aligner: any of: src/dnadesign/aligner/**
  baserender: any of: src/dnadesign/baserender/**
  permuter: any of: src/dnadesign/permuter/**
