Repository e-south/dnadesign: changes, and which Codecov flags are due for each by the changed paths.
All: core, external_integration, usr, notify, densegen, infer, opal, cluster, billboard, libshuffle, nmf, latdna, cruncher, tfkdanalysis, aligner, baserender, permuter

Support infer workspaces-root lookup in notify
  src/dnadesign/notify/profiles/workspace.py
  src/dnadesign/notify/tests/test_workspace_source.py
Due: core, external_integration, notify

Show local construct workspaces in inventory
  src/dnadesign/construct/docs/reference/cli.md
  src/dnadesign/construct/src/cli/commands/workspace.py
  src/dnadesign/construct/src/workspace.py
  src/dnadesign/construct/tests/cli/test_workspace_command.py
  src/dnadesign/construct/workspaces/README.md
Due: core, external_integration

Harden notify and infer workspace discovery
  src/dnadesign/infer/src/cli/commands/workspace.py
  src/dnadesign/infer/src/workspace.py
  src/dnadesign/infer/tests/cli/test_workspace_command.py
  src/dnadesign/notify/profiles/workspace.py
  src/dnadesign/notify/tests/test_workspace_source.py
Due: core, external_integration, notify, infer

Harden notify terminal status and ops presets
  docs/operations/orchestration-runbooks.md
  src/dnadesign/notify/tests/test_tool_events.py
  src/dnadesign/notify/tool_events/infer.py
  src/dnadesign/ops/runbooks/presets/densegen_stress_ethanol_cipro_batch.yaml
  src/dnadesign/ops/runbooks/presets/densegen_stress_ethanol_cipro_batch_with_notify.yaml
  src/dnadesign/ops/runbooks/schema.py
  src/dnadesign/ops/tests/test_runbook_orchestrator.py
Due: core, external_integration, notify

Fix notify watcher policy-aware terminal probes
  docs/bu-scc/jobs/notify-watch.qsub
  src/dnadesign/notify/tests/test_hpc_notify_watch_qsub.py
  src/dnadesign/ops/runbooks/templates/notify-watch.qsub
Due: core, external_integration, notify

Harden construct actor tags and infer aliases
  src/dnadesign/construct/src/runtime.py
  src/dnadesign/construct/tests/runtime/test_run_construct.py
  src/dnadesign/notify/events/source_builtin.py
  src/dnadesign/notify/tests/test_events_source.py
  src/dnadesign/usr/src/dataset.py
  src/dnadesign/usr/src/dataset_overlay_ops.py
  src/dnadesign/usr/src/dataset_write_session.py
Due: core, external_integration, usr, notify

Tag infer write-back events
  README.md
  src/dnadesign/infer/src/writers/usr.py
  src/dnadesign/infer/tests/contracts/test_namespace_contracts.py
  src/dnadesign/infer/tests/contracts/test_usr_writeback_contract.py
  src/dnadesign/usr/src/dataset.py
  src/dnadesign/usr/src/dataset_overlay_ops.py
Due: core, external_integration, usr, infer

Harden infer feature-bundle resume writes
  src/dnadesign/infer/src/features/execution.py
  src/dnadesign/infer/src/runtime/extract_chunk_writeback.py
  src/dnadesign/infer/tests/runtime/test_feature_bundle_execution.py
Due: core, external_integration, infer

Fix infer notify defaults and construct workspace ids
  src/dnadesign/construct/src/cli/commands/workspace.py
  src/dnadesign/construct/src/workspace.py
  src/dnadesign/construct/tests/cli/test_workspace_command.py
  src/dnadesign/ops/cli.py
  src/dnadesign/ops/tests/test_runbook_orchestrator.py
Due: core, external_integration

Isolate construct selector notify watches
  src/dnadesign/_contracts/__init__.py
  src/dnadesign/_contracts/construct_workspace.py
  src/dnadesign/notify/profiles/flow_profile.py
  src/dnadesign/notify/runtime/watch_runner.py
  src/dnadesign/notify/runtime/watch_runner_resolution.py
  src/dnadesign/notify/tests/test_cli_setup.py
  src/dnadesign/notify/tests/test_cli_usr_events.py
  src/dnadesign/notify/tests/test_profile_flows_module.py
Due: core, external_integration, notify

Harden construct notify workspace scoping
  src/dnadesign/_contracts/__init__.py
  src/dnadesign/_contracts/construct_workspace.py
  src/dnadesign/notify/events/source_builtin.py
  src/dnadesign/notify/profiles/flow_profile.py
  src/dnadesign/notify/profiles/policy.py
  src/dnadesign/notify/profiles/workspace.py
  src/dnadesign/notify/runtime/watch_runner.py
  src/dnadesign/notify/runtime/watch_runner_resolution.py
  src/dnadesign/notify/tests/test_cli_setup.py
  src/dnadesign/notify/tests/test_cli_usr_events.py
  src/dnadesign/notify/tests/test_events_source.py
  src/dnadesign/notify/tests/test_profile_flows_module.py
  src/dnadesign/notify/tests/test_workflow_policy_module.py
  src/dnadesign/notify/tests/test_workspace_source.py
Due: core, external_integration, notify

Track shared USR registry contract
  src/dnadesign/construct/tests/runtime/test_output_store.py
  src/dnadesign/usr/datasets/README.md
  src/dnadesign/usr/datasets/registry.yaml
  src/dnadesign/usr/docs/reference/overlay-and-registry.md
Due: core, external_integration, usr

Canonicalize construct registry contract order
  src/dnadesign/construct/src/output_store.py
  src/dnadesign/construct/tests/runtime/test_output_store.py
  src/dnadesign/usr/datasets/README.md
  src/dnadesign/usr/datasets/registry.yaml
  src/dnadesign/usr/docs/reference/overlay-and-registry.md
  src/dnadesign/usr/tests/test_registry.py
Due: core, external_integration, usr

Add namespace-scoped USR overlay contract hashes
  docs/architecture/decisions/adr-0001-usr-namespace-contract-hash.md
  src/dnadesign/usr/docs/getting-started/cli-quickstart.md
  src/dnadesign/usr/docs/reference/overlay-and-registry.md
  src/dnadesign/usr/docs/reference/schema-contract.md
  src/dnadesign/usr/src/cli_commands/query_cli.py
  src/dnadesign/usr/src/dataset_overlay_ops.py
  src/dnadesign/usr/src/dataset_registry_modes.py
  src/dnadesign/usr/src/dataset_reserved_overlay.py
  src/dnadesign/usr/src/mock.py
  src/dnadesign/usr/src/overlays.py
  src/dnadesign/usr/src/registry.py
  src/dnadesign/usr/tests/test_attach_duckdb.py
  src/dnadesign/usr/tests/test_dataset_registry_modes_module.py
  src/dnadesign/usr/tests/test_registry.py
Due: core, external_integration, usr

Preserve valid construct registry order during repair
  src/dnadesign/construct/src/output_store.py
  src/dnadesign/construct/tests/runtime/test_output_store.py
Due: core, external_integration

Fix reserved overlay namespace-hash validation
  src/dnadesign/usr/src/dataset_registry_modes.py
  src/dnadesign/usr/src/dataset_reserved_overlay.py
  src/dnadesign/usr/src/dataset_state.py
  src/dnadesign/usr/tests/test_dataset_registry_modes_module.py
  src/dnadesign/usr/tests/test_tombstones.py
Due: core, external_integration, usr

usr: harden shared dataset writeback and infer progress events
  src/dnadesign/densegen/tests/runtime/test_output_sink_parity.py
  src/dnadesign/infer/docs/reference/evo2-provider.md
  src/dnadesign/infer/src/features/execution.py
  src/dnadesign/infer/src/runtime/extract_chunk_writeback.py
  src/dnadesign/infer/src/runtime/extract_execution.py
  src/dnadesign/infer/src/writers/usr.py
  src/dnadesign/infer/tests/contracts/test_usr_writeback_contract.py
  src/dnadesign/infer/tests/package/test_source_tree_contracts.py
  src/dnadesign/infer/tests/runtime/test_extract_execution.py
  src/dnadesign/infer/tests/runtime/test_feature_bundle_execution.py
  src/dnadesign/notify/tests/test_cli_setup.py
  src/dnadesign/notify/tests/test_cli_usr_events.py
  src/dnadesign/notify/tests/test_tool_events.py
  src/dnadesign/notify/tests/test_workspace_source.py
  src/dnadesign/notify/tool_events/infer.py
  src/dnadesign/usr/remotes.yaml
  src/dnadesign/usr/src/dataset.py
  src/dnadesign/usr/src/dataset_ingest.py
  src/dnadesign/usr/src/dataset_overlay_ops.py
  src/dnadesign/usr/src/dataset_validate.py
  src/dnadesign/usr/tests/test_overlays.py
  src/dnadesign/usr/tests/test_registry.py
Due: core, external_integration, usr, notify, densegen, infer

Add Cruncher cassette workflow
  src/dnadesign/cruncher/src/app/cassette_workflow.py
  src/dnadesign/cruncher/src/cassette/__init__.py
  src/dnadesign/cruncher/src/cassette/artifacts.py
  src/dnadesign/cruncher/src/cassette/catalog.py
  src/dnadesign/cruncher/src/cassette/errors.py
  src/dnadesign/cruncher/src/cassette/load.py
  src/dnadesign/cruncher/src/cassette/models.py
  src/dnadesign/cruncher/src/cassette/planner.py
  src/dnadesign/cruncher/src/cli/app.py
  src/dnadesign/cruncher/src/cli/commands/cassette.py
  src/dnadesign/cruncher/tests/cassette/test_catalog.py
  src/dnadesign/cruncher/tests/cassette/test_planner.py
  src/dnadesign/cruncher/tests/cli/test_cassette_cli.py
Due: core, external_integration, cruncher

Document Cruncher cassette workflow
  src/dnadesign/cruncher/README.md
  src/dnadesign/cruncher/docs/README.md
  src/dnadesign/cruncher/docs/dev/journal.md
  src/dnadesign/cruncher/docs/guides/cassette_workflow.md
  src/dnadesign/cruncher/docs/index.md
  src/dnadesign/cruncher/docs/reference/architecture.md
  src/dnadesign/cruncher/docs/reference/cassette_artifacts.md
  src/dnadesign/cruncher/docs/reference/cassette_spec.md
  src/dnadesign/cruncher/docs/reference/cli.md
  src/dnadesign/cruncher/docs/reference/glossary.md
  src/dnadesign/cruncher/docs/reference/nickase_catalog.md
  src/dnadesign/cruncher/tests/docs/test_cassette_docs_contracts.py
Due: core, external_integration, cruncher

Refactor cassette planning around normalized schema contracts
  pyproject.toml
  src/dnadesign/cruncher/docs/guides/cassette_workflow.md
  src/dnadesign/cruncher/docs/reference/cassette_spec.md
  src/dnadesign/cruncher/docs/reference/glossary.md
  src/dnadesign/cruncher/resources/cassette/catalogs/neb_nicking_v1.yaml
  src/dnadesign/cruncher/src/app/cassette_workflow.py
  src/dnadesign/cruncher/src/cassette/catalog.py
  src/dnadesign/cruncher/src/cassette/load.py
  src/dnadesign/cruncher/src/cassette/models.py
  src/dnadesign/cruncher/src/cassette/planner.py
  src/dnadesign/cruncher/src/cassette/scanning.py
  src/dnadesign/cruncher/tests/cassette/test_catalog.py
  src/dnadesign/cruncher/tests/cassette/test_load.py
  src/dnadesign/cruncher/tests/cassette/test_planner.py
Due: core, external_integration, cruncher

Add bounded cassette solve workflow and artifacts
  src/dnadesign/cruncher/docs/README.md
  src/dnadesign/cruncher/docs/guides/cassette_solve_workflow.md
  src/dnadesign/cruncher/docs/index.md
  src/dnadesign/cruncher/docs/reference/cassette_artifacts.md
  src/dnadesign/cruncher/docs/reference/cassette_solve_spec.md
  src/dnadesign/cruncher/docs/reference/cli.md
  src/dnadesign/cruncher/docs/reference/nickase_catalog.md
  src/dnadesign/cruncher/src/app/cassette_solve_workflow.py
  src/dnadesign/cruncher/src/cassette/artifacts.py
  src/dnadesign/cruncher/src/cassette/solve_models.py
  src/dnadesign/cruncher/src/cassette/solver.py
  src/dnadesign/cruncher/src/cli/commands/cassette.py
  src/dnadesign/cruncher/tests/cassette/test_solver.py
  src/dnadesign/cruncher/tests/cli/test_cassette_cli.py
  src/dnadesign/cruncher/tests/docs/test_cassette_docs_contracts.py
Due: core, external_integration, cruncher

Add cassette solve selection policies and pool telemetry
  src/dnadesign/cruncher/src/cassette/selection.py
  src/dnadesign/cruncher/src/cassette/solve_filters.py
  src/dnadesign/cruncher/src/cassette/solve_models.py
  src/dnadesign/cruncher/src/cassette/solver.py
  src/dnadesign/cruncher/src/core/selection/mmr.py
  src/dnadesign/cruncher/tests/cassette/test_solver.py
  src/dnadesign/cruncher/tests/core/test_mmr_selection.py
Due: core, external_integration, cruncher

Add cassette workspace scaffolds and baserender solve handoff
  src/dnadesign/cruncher/docs/guides/cassette_solve_workflow.md
  src/dnadesign/cruncher/docs/reference/cassette_artifacts.md
  src/dnadesign/cruncher/docs/reference/cassette_solve_spec.md
  src/dnadesign/cruncher/docs/reference/cassette_spec.md
  src/dnadesign/cruncher/docs/reference/cli.md
  src/dnadesign/cruncher/docs/reference/nickase_catalog.md
  src/dnadesign/cruncher/src/app/cassette_solve_workflow.py
  src/dnadesign/cruncher/src/app/cassette_workspace_service.py
  src/dnadesign/cruncher/src/cassette/artifacts.py
  src/dnadesign/cruncher/src/cassette/baserender_contract.py
  src/dnadesign/cruncher/src/cli/app.py
  src/dnadesign/cruncher/src/cli/commands/cassette.py
  src/dnadesign/cruncher/tests/cli/test_cassette_cli.py
  src/dnadesign/cruncher/tests/docs/test_cassette_docs_contracts.py
Due: core, external_integration, cruncher

refactor(ops): isolate dynamic progress input parsing
  src/dnadesign/ops/cli/commands/catalog.py
  src/dnadesign/ops/cli/commands/progress.py
  src/dnadesign/ops/cli/dynamic_inputs.py
  src/dnadesign/ops/status/__init__.py
  src/dnadesign/ops/tests/test_dynamic_inputs.py
  src/dnadesign/ops/tests/test_progress_builtin_registry.py
Due: core, external_integration

refactor(studies): move preflight planning into study core
  docs/studies/README.md
  docs/studies/promoter/stress_ethanol_cipro_growth/ops.study.yaml
  docs/templates/promoter-study-ops.study.yaml
  src/dnadesign/ops/progress_command_support.py
  src/dnadesign/ops/tests/test_progress_cli.py
  src/dnadesign/studies/core/__init__.py
  src/dnadesign/studies/core/models.py
  src/dnadesign/studies/core/preflight_plan.py
  src/dnadesign/studies/core/record_loader.py
  src/dnadesign/studies/stress_promoter_ethanol_cipro/family.py
  src/dnadesign/studies/stress_promoter_ethanol_cipro/preflight.py
  src/dnadesign/studies/stress_promoter_ethanol_cipro/preflight_infer.py
  src/dnadesign/studies/stress_promoter_ethanol_cipro/preflight_orchestration.py
  src/dnadesign/studies/stress_promoter_ethanol_cipro/preflight_scope.py
  src/dnadesign/studies/stress_promoter_ethanol_cipro/preflight_upstream.py
  src/dnadesign/studies/tests/test_stress_promoter_ethanol_cipro_preflight.py
  src/dnadesign/studies/tests/test_stress_promoter_ethanol_cipro_preflight_infer.py
  src/dnadesign/studies/tests/test_stress_promoter_ethanol_cipro_preflight_orchestration.py
  src/dnadesign/studies/tests/test_stress_promoter_ethanol_cipro_preflight_scope.py
  src/dnadesign/studies/tests/test_stress_promoter_ethanol_cipro_preflight_upstream.py
  src/dnadesign/studies/tests/test_study_preflight_plan.py
Due: core, external_integration

refactor(ops): reorganize progress providers and inputs
  docs/studies/promoter/stress_ethanol_cipro_growth/campaign.yaml
  pyproject.toml
  src/dnadesign/ops/cli/commands/progress.py
  src/dnadesign/ops/cli/dynamic_inputs.py
  src/dnadesign/ops/docs/how-to-use-ops.md
  src/dnadesign/ops/providers/__init__.py
  src/dnadesign/ops/providers/cluster/__init__.py
  src/dnadesign/ops/providers/cluster/provider.py
  src/dnadesign/ops/providers/cluster/status.registry.yaml
  src/dnadesign/ops/providers/opal/__init__.py
  src/dnadesign/ops/providers/opal/provider.py
  src/dnadesign/ops/providers/opal/status.registry.yaml
  src/dnadesign/ops/providers/ops/__init__.py
  src/dnadesign/ops/providers/ops/provider.py
  src/dnadesign/ops/providers/ops/status.registry.yaml
  src/dnadesign/ops/providers/usr/__init__.py
  src/dnadesign/ops/providers/usr/provider.py
  src/dnadesign/ops/providers/usr/status.registry.yaml
  src/dnadesign/ops/status/artifacts.py
  src/dnadesign/ops/status/parsing.py
  src/dnadesign/ops/status/path_ref.py
  src/dnadesign/ops/status/paths.py
  src/dnadesign/ops/tests/test_progress_builtin_registry.py
  src/dnadesign/ops/tests/test_status_path_ref.py
Due: core, external_integration

refactor(studies): move preflight checks into ops
  src/dnadesign/ops/preflight/__init__.py
  src/dnadesign/ops/preflight/coordinator.py
  src/dnadesign/ops/preflight/models.py
  src/dnadesign/ops/preflight/support.py
  src/dnadesign/ops/progress_support.py
  src/dnadesign/ops/tests/test_progress_cli.py
  src/dnadesign/studies/core/__init__.py
  src/dnadesign/studies/core/preflight_plan.py
  src/dnadesign/studies/stress_promoter_ethanol_cipro/family.py
  src/dnadesign/studies/stress_promoter_ethanol_cipro/preflight.py
  src/dnadesign/studies/stress_promoter_ethanol_cipro/preflight_infer.py
  src/dnadesign/studies/stress_promoter_ethanol_cipro/preflight_orchestration.py
  src/dnadesign/studies/stress_promoter_ethanol_cipro/preflight_upstream.py
  src/dnadesign/studies/tests/test_stress_promoter_ethanol_cipro_preflight_infer.py
  src/dnadesign/studies/tests/test_stress_promoter_ethanol_cipro_preflight_orchestration.py
  src/dnadesign/studies/tests/test_stress_promoter_ethanol_cipro_preflight_upstream.py
  src/dnadesign/studies/tests/test_study_preflight_plan.py
Due: core, external_integration

Add shared cassette visual contracts
  README.md
  codecov.yml
  src/dnadesign/contracts/README.md
  src/dnadesign/contracts/__init__.py
  src/dnadesign/contracts/assets/contracts-banner.svg
  src/dnadesign/contracts/tests/test_visual_contracts.py
  src/dnadesign/contracts/visual/__init__.py
  src/dnadesign/contracts/visual/cassette_views_manifest_v1.py
  src/dnadesign/contracts/visual/common.py
  src/dnadesign/contracts/visual/hairpin_topology_v1.py
  src/dnadesign/contracts/visual/linear_duplex_v1.py
Due: core, external_integration

Publish cassette view bundles from cruncher
  src/dnadesign/cruncher/README.md
  src/dnadesign/cruncher/docs/README.md
  src/dnadesign/cruncher/docs/demos/demo_cassette_workspace.md
  src/dnadesign/cruncher/docs/guides/cassette_solve_workflow.md
  src/dnadesign/cruncher/docs/guides/cassette_workflow.md
  src/dnadesign/cruncher/docs/index.md
  src/dnadesign/cruncher/docs/meta/docs_catalog.yaml
  src/dnadesign/cruncher/docs/reference/architecture.md
  src/dnadesign/cruncher/docs/reference/cassette_artifacts.md
  src/dnadesign/cruncher/docs/reference/cassette_solve_spec.md
  src/dnadesign/cruncher/docs/reference/cassette_spec.md
  src/dnadesign/cruncher/docs/reference/cli.md
  src/dnadesign/cruncher/src/app/cassette_solve_workflow.py
  src/dnadesign/cruncher/src/app/cassette_workflow.py
  src/dnadesign/cruncher/src/app/cassette_workspace_service.py
  src/dnadesign/cruncher/src/cassette/artifacts.py
  src/dnadesign/cruncher/src/cassette/baserender_contract.py
  src/dnadesign/cruncher/src/cassette/models.py
  src/dnadesign/cruncher/src/cassette/planner.py
  src/dnadesign/cruncher/src/cassette/solve_models.py
  src/dnadesign/cruncher/src/cassette/solver.py
  src/dnadesign/cruncher/src/cassette/view_contracts.py
  src/dnadesign/cruncher/src/cli/commands/cassette.py
  src/dnadesign/cruncher/tests/cassette/test_load.py
  src/dnadesign/cruncher/tests/cassette/test_planner.py
  src/dnadesign/cruncher/tests/cassette/test_solver.py
  src/dnadesign/cruncher/tests/cassette/test_visual_publication.py
  src/dnadesign/cruncher/tests/cli/test_cassette_cli.py
  src/dnadesign/cruncher/tests/docs/test_cassette_docs_contracts.py
Due: core, external_integration, cruncher

Render cassette contract jobs in baserender
  src/dnadesign/baserender/src/adapters/__init__.py
  src/dnadesign/baserender/src/adapters/duplex_sequence_v1.py
  src/dnadesign/baserender/src/adapters/hairpin_topology_v1.py
  src/dnadesign/baserender/src/adapters/registry.py
  src/dnadesign/baserender/src/cli_actions.py
  src/dnadesign/baserender/src/config/adapter_contracts.py
  src/dnadesign/baserender/src/config/cruncher_showcase_job.py
  src/dnadesign/baserender/src/config/style_v1.py
  src/dnadesign/baserender/src/core/registry.py
  src/dnadesign/baserender/src/io/__init__.py
  src/dnadesign/baserender/src/io/json_source.py
  src/dnadesign/baserender/src/outputs.py
  src/dnadesign/baserender/src/render/effects/__init__.py
  src/dnadesign/baserender/src/render/effects/boundary_marker.py
  src/dnadesign/baserender/src/render/hairpin_cartoon.py
  src/dnadesign/baserender/src/render/renderer.py
  src/dnadesign/baserender/src/render/sequence_rows.py
  src/dnadesign/baserender/src/runner.py
  src/dnadesign/baserender/styles/style_v1/cassette_duplex_contact_sheet.yaml
  src/dnadesign/baserender/styles/style_v1/cassette_duplex_qa.yaml
  src/dnadesign/baserender/styles/style_v1/cassette_hairpin_qa.yaml
  src/dnadesign/baserender/tests/test_cassette_contract_jobs.py
  src/dnadesign/baserender/tests/test_cruncher_showcase_job_schema.py
Due: core, external_integration, baserender

Publish cassette visuals and workspace scaffolds
  src/dnadesign/baserender/docs/demos/workspaces.md
  src/dnadesign/baserender/docs/integrations/cruncher.md
  src/dnadesign/baserender/docs/reference.md
  src/dnadesign/baserender/src/cli.py
  src/dnadesign/baserender/src/core/registry.py
  src/dnadesign/baserender/src/io/json_source.py
  src/dnadesign/baserender/src/render/effects/boundary_marker.py
  src/dnadesign/baserender/src/workspace.py
  src/dnadesign/baserender/tests/test_cassette_contract_jobs.py
  src/dnadesign/baserender/tests/test_docs_contracts.py
  src/dnadesign/baserender/tests/test_unknown_kinds_fatal.py
  src/dnadesign/baserender/tests/test_workspace_scope.py
  src/dnadesign/contracts/tests/test_visual_contracts.py
  src/dnadesign/contracts/visual/hairpin_topology_v1.py
  src/dnadesign/contracts/visual/linear_duplex_v1.py
  src/dnadesign/cruncher/docs/README.md
  src/dnadesign/cruncher/docs/demos/demo_cassette_workspace.md
  src/dnadesign/cruncher/docs/guides/cassette_solve_workflow.md
  src/dnadesign/cruncher/docs/reference/architecture.md
  src/dnadesign/cruncher/docs/reference/cassette_artifacts.md
  src/dnadesign/cruncher/docs/reference/cli.md
  src/dnadesign/cruncher/src/app/cassette_solve_workflow.py
  src/dnadesign/cruncher/src/app/cassette_workflow.py
  src/dnadesign/cruncher/src/app/cassette_workspace_service.py
  src/dnadesign/cruncher/src/cassette/artifacts.py
  src/dnadesign/cruncher/src/cassette/solver.py
  src/dnadesign/cruncher/src/cli/commands/cassette.py
  src/dnadesign/cruncher/src/workspaces/runbook.py
  src/dnadesign/cruncher/tests/cassette/test_solver.py
  src/dnadesign/cruncher/tests/cassette/test_visual_publication.py
  src/dnadesign/cruncher/tests/cli/test_cassette_cli.py
  src/dnadesign/cruncher/tests/docs/test_cassette_docs_contracts.py
  src/dnadesign/cruncher/tests/workspaces/test_runbook_execution.py
Due: core, external_integration, cruncher, baserender

Harden baserender job path resolution
  src/dnadesign/baserender/src/config/cruncher_showcase_job.py
  src/dnadesign/baserender/tests/test_cruncher_showcase_job_schema.py
  src/dnadesign/baserender/tests/test_package_layout.py
Due: core, external_integration, baserender

docs(studies): enforce promoter record parity
  .agents/skills/promoter-study-status/SKILL.md
  docs/studies/README.md
  docs/studies/promoter/README.md
  docs/studies/promoter/stress_ethanol_cipro_growth/pipeline.yaml
  src/dnadesign/devtools/docs_checks.py
  src/dnadesign/devtools/tests/test_docs_checks.py
  src/dnadesign/usr/docs/operations/promoter-study-preflight.md
  src/dnadesign/usr/docs/operations/promoter-study-status-contract.md
  src/dnadesign/usr/tests/test_usr_docs_contract.py
Due: core, external_integration, usr

chore: satisfy pre-commit publish gate
  src/dnadesign/construct/src/config.py
  src/dnadesign/ops/runbooks/runbook_layout.py
  src/dnadesign/ops/tests/test_progress_cli.py
  src/dnadesign/studies/tests/test_promoter_preflight_orchestration.py
  src/dnadesign/studies/tests/test_promoter_preflight_upstream.py
  src/dnadesign/usr/src/dataset_ingest.py
  src/dnadesign/usr/src/dataset_overlay_ops.py
  src/dnadesign/usr/src/dataset_validate.py
Due: core, external_integration, usr

Add Cruncher workflow family registry
  src/dnadesign/cruncher/src/cli/commands/workspaces.py
  src/dnadesign/cruncher/src/devtools/docs_ia.py
  src/dnadesign/cruncher/src/workspaces/families.py
  src/dnadesign/cruncher/src/workspaces/runbook.py
  src/dnadesign/cruncher/tests/workspaces/test_family_registry.py
Due: core, external_integration, cruncher

Path conditions:
  core: any of: src/dnadesign
  external_integration: any of: src/dnadesign
  usr: any of: src/dnadesign/usr/**
  notify: any of: src/dnadesign/notify/**
  densegen: any of: src/dnadesign/densegen/**
  infer: any of: src/dnadesign/infer/**
  opal: any of: src/dnadesign/opal/**
  cluster: any of: src/dnadesign/cluster/**
  billboard: any of: src/dnadesign/billboard/**
  libshuffle: any of: src/dnadesign/libshuffle/**
  nmf: any of: src/dnadesign/nmf/**
  latdna: any of: src/dnadesign/latdna/**
  cruncher: any of: src/dnadesign/cruncher/**
  tfkdanalysis: any of: src/dnadesign/tfkdanalysis/**
  aligner: any of: src/dnadesign/aligner/**
  baserender: any of: src/dnadesign/baserender/**
  permuter: any of: src/dnadesign/permuter/**
