Repository e-south/dnadesign: changes, and which Codecov flags are due for each by the changed paths.
All: core, external_integration, usr, notify, densegen, infer, opal, cluster, billboard, libshuffle, nmf, latdna, cruncher, tfkdanalysis, aligner, baserender, permuter

Clarify RT-lnRNA SPOP control contract
  docs/studies/rt_lnrna_sponging_construct_triage/contexts/reader-spop-label-contract.md
  docs/studies/rt_lnrna_sponging_construct_triage/operations/contract/schemas/sponging-assay-observation.schema.yaml
  docs/studies/rt_lnrna_sponging_construct_triage/record/datasets.yaml
  docs/studies/rt_lnrna_sponging_construct_triage/routes/reader-spop-condition-structure-matrix.md
  src/dnadesign/studies/units/rt_lnrna_sponging_construct_triage/tests/source/test_reader_spop_plan.py
Due: core, external_integration

Prepare Eco1 generation-policy ProteinMPNN lane
  docs/bu-scc/jobs/README.md
  docs/bu-scc/jobs/eco1-proteinmpnn-generation-policy.qsub
  docs/studies/eco1_rt_repack/contexts/generation-policy-cleanup-dev-spec.md
  docs/studies/eco1_rt_repack/operations/runtime/command-groups/README.md
  docs/studies/eco1_rt_repack/operations/runtime/command-groups/pipeline.yaml
  docs/studies/eco1_rt_repack/routes/README.md
  src/dnadesign/studies/units/eco1_rt_repack/operations/materialization/generation_policies/__init__.py
  src/dnadesign/studies/units/eco1_rt_repack/operations/materialization/generation_policies/__main__.py
  src/dnadesign/studies/units/eco1_rt_repack/operations/materialization/generation_policies/cli.py
  src/dnadesign/studies/units/eco1_rt_repack/operations/materialization/generation_policies/config.py
  src/dnadesign/studies/units/eco1_rt_repack/operations/materialization/generation_policies/constants.py
  src/dnadesign/studies/units/eco1_rt_repack/operations/materialization/generation_policies/models.py
  src/dnadesign/studies/units/eco1_rt_repack/operations/materialization/generation_policies/pipeline.py
  src/dnadesign/studies/units/eco1_rt_repack/operations/materialization/generation_policies/request_materialization.py
  src/dnadesign/studies/units/eco1_rt_repack/tests/architecture/test_runtime_command_groups.py
  src/dnadesign/studies/units/eco1_rt_repack/tests/materialization/generation_policies/__init__.py
  src/dnadesign/studies/units/eco1_rt_repack/tests/materialization/generation_policies/test_materialization.py
Due: core, external_integration

Refine RT-lnRNA SPOP composite plots
  .agents/skills/rt-lnrna-spop-composite-plot/SKILL.md
  .agents/skills/rt-lnrna-spop-composite-plot/references/external-sources.md
  .agents/skills/rt-lnrna-spop-composite-plot/references/test-matrix.md
  .agents/skills/rt-lnrna-spop-composite-plot/scripts/audit-rt-lnrna-spop-composite-plot-skill.sh
  docs/studies/rt_lnrna_sponging_construct_triage/routes/reader-spop-condition-structure-matrix.md
  src/dnadesign/studies/units/rt_lnrna_sponging_construct_triage/reader_spop_composite/condition_matrix.py
  src/dnadesign/studies/units/rt_lnrna_sponging_construct_triage/reader_spop_composite/paths.py
  src/dnadesign/studies/units/rt_lnrna_sponging_construct_triage/reader_spop_composite/render.py
  src/dnadesign/studies/units/rt_lnrna_sponging_construct_triage/reader_spop_composite/row_categories.py
  src/dnadesign/studies/units/rt_lnrna_sponging_construct_triage/reader_spop_composite/structure_manifest.py
  src/dnadesign/studies/units/rt_lnrna_sponging_construct_triage/reader_spop_composite/structure_svg.py
  src/dnadesign/studies/units/rt_lnrna_sponging_construct_triage/reader_spop_plan.py
  src/dnadesign/studies/units/rt_lnrna_sponging_construct_triage/tests/source/test_reader_spop_composite.py
  src/dnadesign/studies/units/rt_lnrna_sponging_construct_triage/tests/source/test_reader_spop_plan.py
Due: core, external_integration

Clarify YIU and SFXI contract checks
  src/dnadesign/cruncher/docs/guides/yiu_workflow.md
  src/dnadesign/cruncher/docs/reference/yiu_spec.md
  src/dnadesign/opal/tests/api/test_sfxi_api.py
Due: core, external_integration, opal, cruncher

Document Eco1 v2 ProteinMPNN handoff
  docs/bu-scc/jobs/README.md
  docs/studies/eco1_rt_repack/operations/runtime/command-groups/README.md
Due: none

Prepare Eco1 v2 foldcheck inputs
  docs/bu-scc/jobs/README.md
  docs/studies/eco1_rt_repack/operations/runtime/command-groups/README.md
  src/dnadesign/studies/units/eco1_rt_repack/operations/materialization/generation_policies/__init__.py
  src/dnadesign/studies/units/eco1_rt_repack/operations/materialization/generation_policies/candidate_pool.py
  src/dnadesign/studies/units/eco1_rt_repack/operations/materialization/generation_policies/cli.py
  src/dnadesign/studies/units/eco1_rt_repack/operations/materialization/generation_policies/foldcheck.py
  src/dnadesign/studies/units/eco1_rt_repack/operations/materialization/generation_policies/manifest_io.py
  src/dnadesign/studies/units/eco1_rt_repack/operations/materialization/generation_policies/models.py
  src/dnadesign/studies/units/eco1_rt_repack/operations/materialization/generation_policies/request_materialization.py
  src/dnadesign/studies/units/eco1_rt_repack/tests/materialization/generation_policies/test_materialization.py
Due: core, external_integration

Add SECG stress campaign batch0 wiring
  docs/exec-plans/active/2026-06-17-stress-opal-synthesis-handoff.md
  docs/studies/stress_ethanol_cipro_growth/contexts/opal/README.md
  docs/studies/stress_ethanol_cipro_growth/contexts/opal/candidate-table.md
  docs/studies/stress_ethanol_cipro_growth/contexts/opal/measured-reader-vec8-batch0.md
  docs/studies/stress_ethanol_cipro_growth/contexts/opal/synthesis-handoff.md
  docs/studies/stress_ethanol_cipro_growth/operations/contract/surfaces/execution/commands/opal.yaml
  docs/studies/stress_ethanol_cipro_growth/operations/runtime/command-groups/pipeline.yaml
  docs/studies/stress_ethanol_cipro_growth/record/campaign.yaml
  docs/studies/stress_ethanol_cipro_growth/record/synthesis_handoffs.yaml
  docs/studies/stress_ethanol_cipro_growth/routes/decision/opal/campaign-commands.md
  src/dnadesign/opal/campaigns/secg_and_rf_sfxi_topn/configs/campaign.yaml
  src/dnadesign/opal/campaigns/secg_and_rf_sfxi_topn/configs/plots.yaml
  src/dnadesign/opal/campaigns/secg_cipro_rf_sfxi_topn/configs/campaign.yaml
  src/dnadesign/opal/campaigns/secg_cipro_rf_sfxi_topn/configs/plots.yaml
  src/dnadesign/opal/campaigns/secg_ethanol_rf_sfxi_topn/configs/campaign.yaml
  src/dnadesign/opal/campaigns/secg_ethanol_rf_sfxi_topn/configs/plots.yaml
  src/dnadesign/studies/units/stress_ethanol_cipro_growth/decision/opal/README.md
  src/dnadesign/studies/units/stress_ethanol_cipro_growth/decision/opal/batch0/candidate_table.py
  src/dnadesign/studies/units/stress_ethanol_cipro_growth/decision/opal/batch0/provenance.py
  src/dnadesign/studies/units/stress_ethanol_cipro_growth/decision/opal/batch0/sampling.yaml
  src/dnadesign/studies/units/stress_ethanol_cipro_growth/decision/opal/densegen_axis_probe/core/constants.py
  src/dnadesign/studies/units/stress_ethanol_cipro_growth/decision/opal/measured_reader_vec8/README.md
  src/dnadesign/studies/units/stress_ethanol_cipro_growth/decision/opal/measured_reader_vec8/__init__.py
  src/dnadesign/studies/units/stress_ethanol_cipro_growth/decision/opal/measured_reader_vec8/__main__.py
  src/dnadesign/studies/units/stress_ethanol_cipro_growth/decision/opal/measured_reader_vec8/cli.py
  src/dnadesign/studies/units/stress_ethanol_cipro_growth/decision/opal/measured_reader_vec8/constants.py
  src/dnadesign/studies/units/stress_ethanol_cipro_growth/decision/opal/measured_reader_vec8/contracts.py
  src/dnadesign/studies/units/stress_ethanol_cipro_growth/decision/opal/measured_reader_vec8/reader_sources.py
  src/dnadesign/studies/units/stress_ethanol_cipro_growth/decision/opal/measured_reader_vec8/sequence_sources.py
  src/dnadesign/studies/units/stress_ethanol_cipro_growth/decision/opal/measured_reader_vec8/staging.py
  src/dnadesign/studies/units/stress_ethanol_cipro_growth/decision/opal/measured_reader_vec8/synthesis.py
  src/dnadesign/studies/units/stress_ethanol_cipro_growth/decision/opal/synthesis_handoff/README.md
  src/dnadesign/studies/units/stress_ethanol_cipro_growth/decision/opal/synthesis_handoff/campaigns.py
  src/dnadesign/studies/units/stress_ethanol_cipro_growth/tests/decision/opal/batch0/test_opal_batch0.py
  src/dnadesign/studies/units/stress_ethanol_cipro_growth/tests/decision/opal/densegen_axis_probe/test_tf_count_active_targets.py
  src/dnadesign/studies/units/stress_ethanol_cipro_growth/tests/decision/opal/measured_reader_vec8/test_staging.py
  src/dnadesign/studies/units/stress_ethanol_cipro_growth/tests/decision/opal/synthesis_handoff/test_synthesis_handoff_contracts.py
Due: core, external_integration, opal

Streamline OPAL review notebooks
  src/dnadesign/opal/docs/maintainers/dev-spec-modernization.md
  src/dnadesign/opal/docs/reference/cli.md
  src/dnadesign/opal/docs/reference/notebooks.md
  src/dnadesign/opal/notebooks/api/generated.py
  src/dnadesign/opal/notebooks/campaign_progress.py
  src/dnadesign/opal/src/analysis/notebook_components/__init__.py
  src/dnadesign/opal/src/analysis/notebook_components/label_staging.py
  src/dnadesign/opal/src/analysis/notebook_components/plots.py
  src/dnadesign/opal/src/analysis/notebook_components/reader_evidence.py
  src/dnadesign/opal/src/analysis/notebook_set_template/campaign_cells.py
  src/dnadesign/opal/src/analysis/notebook_set_template/cells.py
  src/dnadesign/opal/src/analysis/notebook_set_template/collection_cells.py
  src/dnadesign/opal/src/analysis/notebook_set_template/details_cells.py
  src/dnadesign/opal/src/analysis/notebook_set_template/setup_cells.py
  src/dnadesign/opal/src/analysis/notebook_set_template/visual_cells.py
  src/dnadesign/opal/src/analysis/notebook_set_template/visual_panel_cells.py
  src/dnadesign/opal/src/cli/commands/notebook.py
  src/dnadesign/opal/src/cli/commands/notebook_generation.py
  src/dnadesign/opal/src/config/plugin_schemas.py
  src/dnadesign/opal/src/eligibility/restriction_sites.py
  src/dnadesign/opal/src/plots/vector_summary_heatmap.py
  src/dnadesign/opal/src/reporting/notebook.py
  src/dnadesign/opal/tests/analysis/test_reader_evidence.py
  src/dnadesign/opal/tests/cli/test_cli_notebook_generate.py
  src/dnadesign/opal/tests/cli/test_cli_plot.py
  src/dnadesign/opal/tests/eligibility/test_restriction_site_eligibility.py
  src/dnadesign/opal/tests/notebooks/test_campaign_progress_notebook.py
  src/dnadesign/opal/tests/notebooks/test_notebook_template.py
  src/dnadesign/opal/tests/plots/test_plot_vector_summary_heatmap.py
  src/dnadesign/opal/tests/reporting/test_notebook.py
  src/dnadesign/opal/tests/test_source_tree_contracts.py
Due: core, external_integration, opal

Improve RT SPOP composite rendering
  docs/studies/rt_lnrna_sponging_construct_triage/routes/reader-spop-condition-structure-matrix.md
  docs/studies/rt_lnrna_sponging_construct_triage/workbench/provenance/retron-variant-genbank-catalog.yaml
  docs/studies/rt_lnrna_sponging_construct_triage/workbench/provenance/retron-variant-genbank-metadata.yaml
  src/dnadesign/construct/src/composition/visual.py
  src/dnadesign/contracts/sequence/linear_ssdna_composition_v1.py
  src/dnadesign/folding/src/viennarna_plot.py
  src/dnadesign/folding/src/viennarna_svg.py
  src/dnadesign/studies/units/rt_lnrna_sponging_construct_triage/reader_spop_composite/render.py
  src/dnadesign/studies/units/rt_lnrna_sponging_construct_triage/reader_spop_composite/structure_manifest.py
  src/dnadesign/studies/units/rt_lnrna_sponging_construct_triage/reader_spop_composite/structure_svg.py
  src/dnadesign/studies/units/rt_lnrna_sponging_construct_triage/tests/source/test_reader_spop_composite.py
Due: core, external_integration

Harden retron GenBank handoff contracts
  .agents/skills/retron-hairpin-study/SKILL.md
  .agents/skills/retron-hairpin-study/references/route-matrix.md
  .agents/skills/retron-hairpin-study/references/study-surfaces.md
  .agents/skills/retron-hairpin-study/references/test-matrix.md
  .agents/skills/retron-hairpin-study/scripts/audit-retron-hairpin-study-skill.sh
  docs/studies/retron_hairpin_design/workbench/README.md
  docs/studies/retron_hairpin_design/workbench/deliverables/README.md
  docs/studies/retron_hairpin_design/workbench/deliverables/teto_retained_span_trim_ecoli_working_v1.yaml
  docs/studies/retron_hairpin_design/workbench/deliverables/teto_retained_span_trim_tetr_pwm_elite_v1.yaml
  docs/studies/retron_hairpin_design/workbench/design_sets/README.md
  docs/studies/retron_hairpin_design/workbench/design_sets/teto_retained_span_trim_ecoli_working_v1.yaml
  docs/studies/retron_hairpin_design/workbench/ontology/README.md
  docs/studies/retron_hairpin_design/workbench/ontology/directions.yaml
  docs/studies/retron_hairpin_design/workbench/ontology/feature_roles.yaml
  src/dnadesign/studies/units/retron_hairpin_design/review_outputs/contracts/benchling_import.py
  src/dnadesign/studies/units/retron_hairpin_design/review_outputs/contracts/feature_directions.py
  src/dnadesign/studies/units/retron_hairpin_design/review_outputs/contracts/manifest.py
  src/dnadesign/studies/units/retron_hairpin_design/review_outputs/contracts/record_ids.py
  src/dnadesign/studies/units/retron_hairpin_design/review_outputs/handoff/benchling.py
  src/dnadesign/studies/units/retron_hairpin_design/review_outputs/handoff/genbank_features.py
  src/dnadesign/studies/units/retron_hairpin_design/tests/compiler/test_boundaries.py
  src/dnadesign/studies/units/retron_hairpin_design/tests/review_outputs/handoff/test_benchling_import.py
  src/dnadesign/studies/units/retron_hairpin_design/tests/review_outputs/handoff/test_genbank_features.py
  src/dnadesign/studies/units/retron_hairpin_design/tests/review_outputs/package/test_ecoli_working_generation.py
  src/dnadesign/studies/units/retron_hairpin_design/tests/review_outputs/package/test_generation.py
  src/dnadesign/studies/units/retron_hairpin_design/tests/support/fake_genbank_features.py
  src/dnadesign/studies/units/retron_hairpin_design/tests/support/review_outputs.py
  src/dnadesign/studies/units/retron_hairpin_design/tests/support/review_plans.py
  src/dnadesign/studies/units/retron_hairpin_design/tests/test_study_docs_and_skill_contracts.py
  src/dnadesign/studies/units/retron_hairpin_design/tests/workbench/test_teto_retained_span_trim_ecoli_working_design_set.py
  src/dnadesign/studies/units/retron_hairpin_design/tests/workbench/test_teto_retained_span_trim_tetr_pwm_elite_deliverables.py
  src/dnadesign/studies/units/retron_hairpin_design/tests/workbench/test_workbench_ia_contracts.py
Due: core, external_integration

Modernize OPAL notebook review components
  src/dnadesign/opal/docs/maintainers/dev-spec-modernization.md
  src/dnadesign/opal/docs/reference/cli.md
  src/dnadesign/opal/docs/reference/notebooks.md
  src/dnadesign/opal/notebooks/api/generated.py
  src/dnadesign/opal/notebooks/campaign_progress.py
  src/dnadesign/opal/src/analysis/notebook_components/__init__.py
  src/dnadesign/opal/src/analysis/notebook_components/reader_evidence.py
  src/dnadesign/opal/src/analysis/notebook_components/reader_evidence_media.py
  src/dnadesign/opal/src/analysis/notebook_components/reader_evidence_preview.py
  src/dnadesign/opal/src/analysis/notebook_components/reader_evidence_triptych.py
  src/dnadesign/opal/src/analysis/notebook_components/reader_evidence_triptych_runtime.py
  src/dnadesign/opal/src/analysis/notebook_components/reader_evidence_visual.py
  src/dnadesign/opal/src/analysis/notebook_components/visual_panel.py
  src/dnadesign/opal/src/analysis/notebook_components/zoomable_visual.py
  src/dnadesign/opal/src/analysis/notebook_set_template/baserender_record_cells.py
  src/dnadesign/opal/src/analysis/notebook_set_template/campaign_cells.py
  src/dnadesign/opal/src/analysis/notebook_set_template/collection_cells.py
  src/dnadesign/opal/src/analysis/notebook_set_template/detail_panel_cells.py
  src/dnadesign/opal/src/analysis/notebook_set_template/details_cells.py
  src/dnadesign/opal/src/analysis/notebook_set_template/layout_cells.py
  src/dnadesign/opal/src/analysis/notebook_set_template/reader_evidence_cells.py
  src/dnadesign/opal/src/analysis/notebook_set_template/renderer.py
  src/dnadesign/opal/src/analysis/notebook_set_template/setup_cells.py
  src/dnadesign/opal/src/analysis/notebook_set_template/visual_cells.py
  src/dnadesign/opal/src/analysis/notebook_set_template/visual_panel_cells.py
  src/dnadesign/opal/src/analysis/notebook_template/data_cells.py
  src/dnadesign/opal/src/analysis/notebook_template/layout_cells.py
  src/dnadesign/opal/src/analysis/notebook_template/plot_cells.py
  src/dnadesign/opal/src/analysis/notebook_template/record_cells.py
  src/dnadesign/opal/src/analysis/notebook_template/run_cells.py
  src/dnadesign/opal/src/analysis/notebook_template/setup_cells.py
  src/dnadesign/opal/src/analysis/notebook_template/source.py
  src/dnadesign/opal/src/analysis/notebook_template/summary_cells.py
  src/dnadesign/opal/src/cli/commands/notebook.py
  src/dnadesign/opal/src/cli/commands/notebook_support.py
  src/dnadesign/opal/tests/analysis/test_reader_evidence.py
  src/dnadesign/opal/tests/cli/test_cli_notebook_generate.py
  src/dnadesign/opal/tests/notebooks/test_campaign_progress_notebook.py
  src/dnadesign/opal/tests/notebooks/test_notebook_template.py
  src/dnadesign/opal/tests/test_source_tree_contracts.py
Due: core, external_integration, opal

Refresh LatentDNA docs metadata
  src/dnadesign/latentdna/docs/architecture/README.md
  src/dnadesign/latentdna/docs/concepts/ownership-boundary.md
  src/dnadesign/latentdna/docs/getting-started/README.md
Due: core, external_integration

Restore Eco1 test package header
  src/dnadesign/studies/units/eco1_rt_repack/tests/materialization/generation_policies/__init__.py
Due: core, external_integration

Derive LatentDNA catalog in workspace contract test
  src/dnadesign/latentdna/tests/contracts/test_study_workspace_contracts.py
Due: core, external_integration

Split Eco1 generation policy tests by contract
  src/dnadesign/studies/units/eco1_rt_repack/tests/materialization/generation_policies/_candidate_tables.py
  src/dnadesign/studies/units/eco1_rt_repack/tests/materialization/generation_policies/test_candidate_outputs.py
  src/dnadesign/studies/units/eco1_rt_repack/tests/materialization/generation_policies/test_materialization.py
  src/dnadesign/studies/units/eco1_rt_repack/tests/materialization/generation_policies/test_policy_manifests.py
  src/dnadesign/studies/units/eco1_rt_repack/tests/materialization/generation_policies/test_request_materialization.py
Due: core, external_integration

Restore Eco1 generation policy test anchor
  src/dnadesign/studies/units/eco1_rt_repack/tests/materialization/generation_policies/test_materialization.py
Due: core, external_integration

Make Eco1 phase four handoff test deterministic
  src/dnadesign/studies/units/eco1_rt_repack/tests/contracts/test_phase_contracts.py
Due: core, external_integration

Make Eco1 downstream input test self contained
  src/dnadesign/studies/units/eco1_rt_repack/tests/materialization/design_classes/test_downstream_inputs.py
Due: core, external_integration

Avoid structure export in Eco1 downstream input test
  src/dnadesign/studies/units/eco1_rt_repack/tests/materialization/design_classes/test_downstream_inputs.py
Due: core, external_integration

Gate Eco1 design class request tests on structure artifacts
  src/dnadesign/studies/units/eco1_rt_repack/tests/materialization/design_classes/test_materialization.py
Due: core, external_integration

Make Eco1 generation policy tests clean-runner safe
  src/dnadesign/studies/units/eco1_rt_repack/tests/materialization/generation_policies/_candidate_tables.py
  src/dnadesign/studies/units/eco1_rt_repack/tests/materialization/generation_policies/test_candidate_outputs.py
  src/dnadesign/studies/units/eco1_rt_repack/tests/materialization/generation_policies/test_policy_manifests.py
  src/dnadesign/studies/units/eco1_rt_repack/tests/materialization/generation_policies/test_request_materialization.py
Due: core, external_integration

Make MSD ingest CLI test width-independent
  src/dnadesign/studies/units/retron_hairpin_design/tests/source_ingest/test_msd_region_genbank.py
Due: core, external_integration

Isolate MSD ingest CLI test from study catalog
  src/dnadesign/studies/units/retron_hairpin_design/tests/source_ingest/test_msd_region_genbank.py
Due: core, external_integration

Isolate payload catalog tests from generated PWM artifacts
  src/dnadesign/studies/units/retron_hairpin_design/tests/source_ingest/test_msd_region_genbank.py
Due: core, external_integration

Use fixture hairpin outputs in RT SPOP tests
  src/dnadesign/studies/units/rt_lnrna_sponging_construct_triage/tests/source/hairpin_structure_fixtures.py
  src/dnadesign/studies/units/rt_lnrna_sponging_construct_triage/tests/source/test_reader_spop_composite.py
Due: core, external_integration

Fix Codex review thread regressions
  .agents/skills/chimerax-structure-review/scripts/audit-chimerax-structure-review-skill.sh
  .agents/skills/chimerax-structure-review/scripts/chimerax-capture-pose.py
  .agents/skills/chimerax-structure-review/scripts/chimerax-send-command.py
  .agents/skills/chimerax-structure-review/scripts/chimerax-session-start.sh
  src/dnadesign/folding/src/api.py
  src/dnadesign/folding/tests/test_rnafold_runner.py
  src/dnadesign/opal/src/analysis/notebook_components/reader_evidence.py
  src/dnadesign/opal/src/analysis/notebook_set_template/renderer.py
  src/dnadesign/opal/src/reporting/campaign_set_artifacts.py
  src/dnadesign/opal/tests/notebooks/test_notebook_template.py
  src/dnadesign/opal/tests/reporting/test_notebook_set.py
  src/dnadesign/permuter/src/api/generate.py
  src/dnadesign/permuter/tests/api/test_public_api.py
  src/dnadesign/thread/adapters/proteinmpnn/execution.py
  src/dnadesign/thread/tests/adapters/proteinmpnn/test_execution_and_samples.py
Due: core, external_integration, opal, permuter

Fix collection visual path test contract
  src/dnadesign/opal/tests/reporting/test_notebook_set.py
Due: core, external_integration, opal

Reject unsupported baserender complement rows
  src/dnadesign/baserender/src/adapters/sequence_evidence_map_v1.py
  src/dnadesign/baserender/tests/test_adapter_registry.py
  src/dnadesign/baserender/tests/test_runtime_and_public_api.py
Due: core, external_integration, baserender

Resolve OPAL collection visual paths for notebooks
  src/dnadesign/opal/src/reporting/notebook_set.py
  src/dnadesign/opal/tests/reporting/test_notebook_set.py
Due: core, external_integration, opal

Validate ESM Atlas Biohub endpoints
  src/dnadesign/thread/adapters/biohub_esmc/client.py
  src/dnadesign/thread/adapters/biohub_urls.py
  src/dnadesign/thread/adapters/esm_atlas/__init__.py
  src/dnadesign/thread/adapters/esm_atlas/client.py
  src/dnadesign/thread/tests/adapters/esm_atlas/test_normalize_and_tables.py
Due: core, external_integration

Fix folding and ProteinMPNN artifact refs
  src/dnadesign/folding/src/api.py
  src/dnadesign/folding/tests/test_rnafold_runner.py
  src/dnadesign/thread/adapters/proteinmpnn/manifest.py
  src/dnadesign/thread/tests/adapters/proteinmpnn/test_request_adapter.py
Due: core, external_integration

Enable Eco1 v3 ProteinMPNN policy requests
  docs/bu-scc/jobs/README.md
  docs/bu-scc/jobs/eco1-proteinmpnn-generation-policy.qsub
  docs/studies/eco1_rt_repack/contexts/generation-policy-cleanup-dev-spec.md
  docs/studies/eco1_rt_repack/contexts/residue-mask-policy.md
  docs/studies/eco1_rt_repack/operations/runtime/command-groups/README.md
  docs/studies/eco1_rt_repack/operations/runtime/command-groups/pipeline.yaml
  docs/studies/eco1_rt_repack/record/campaign.yaml
  docs/studies/eco1_rt_repack/record/datasets.yaml
  docs/studies/eco1_rt_repack/record/status.md
  docs/studies/eco1_rt_repack/routes/README.md
  src/dnadesign/studies/units/eco1_rt_repack/operations/materialization/generation_policies/__main__.py
  src/dnadesign/studies/units/eco1_rt_repack/operations/materialization/generation_policies/candidate_pool.py
  src/dnadesign/studies/units/eco1_rt_repack/operations/materialization/generation_policies/cli.py
  src/dnadesign/studies/units/eco1_rt_repack/operations/materialization/generation_policies/config.py
  src/dnadesign/studies/units/eco1_rt_repack/operations/materialization/generation_policies/constants.py
  src/dnadesign/studies/units/eco1_rt_repack/operations/materialization/generation_policies/foldcheck.py
  src/dnadesign/studies/units/eco1_rt_repack/operations/materialization/generation_policies/manifest_io.py
  src/dnadesign/studies/units/eco1_rt_repack/operations/materialization/generation_policies/models.py
  src/dnadesign/studies/units/eco1_rt_repack/operations/materialization/generation_policies/pipeline.py
  src/dnadesign/studies/units/eco1_rt_repack/operations/materialization/generation_policies/request_materialization.py
  src/dnadesign/studies/units/eco1_rt_repack/tests/materialization/generation_policies/test_candidate_outputs.py
  src/dnadesign/studies/units/eco1_rt_repack/tests/materialization/generation_policies/test_policy_manifests.py
  src/dnadesign/studies/units/eco1_rt_repack/tests/materialization/generation_policies/test_request_materialization.py
  src/dnadesign/thread/adapters/proteinmpnn/execution.py
  src/dnadesign/thread/adapters/proteinmpnn/manifest.py
  src/dnadesign/thread/tests/adapters/proteinmpnn/test_request_adapter.py
Due: core, external_integration

Refine SECG OPAL round-zero label pool
  docs/studies/stress_ethanol_cipro_growth/contexts/opal/README.md
  docs/studies/stress_ethanol_cipro_growth/contexts/opal/candidate-table.md
  docs/studies/stress_ethanol_cipro_growth/contexts/opal/measured-reader-vec8-batch0.md
  docs/studies/stress_ethanol_cipro_growth/operations/contract/readiness/checks/README.md
  docs/studies/stress_ethanol_cipro_growth/operations/contract/readiness/checks/opal_candidate_table_pre_assay.yaml
  docs/studies/stress_ethanol_cipro_growth/operations/contract/surfaces/artifacts.yaml
  docs/studies/stress_ethanol_cipro_growth/operations/runtime/command-groups/pipeline.yaml
  docs/studies/stress_ethanol_cipro_growth/record/datasets.yaml
  docs/studies/stress_ethanol_cipro_growth/record/status.md
  docs/studies/stress_ethanol_cipro_growth/routes/README.md
  docs/studies/stress_ethanol_cipro_growth/routes/decision/opal/README.md
  src/dnadesign/studies/units/stress_ethanol_cipro_growth/decision/opal/batch0/README.md
  src/dnadesign/studies/units/stress_ethanol_cipro_growth/decision/opal/measured_reader_vec8/README.md
  src/dnadesign/studies/units/stress_ethanol_cipro_growth/decision/opal/measured_reader_vec8/constants.py
  src/dnadesign/studies/units/stress_ethanol_cipro_growth/decision/opal/measured_reader_vec8/staging.py
  src/dnadesign/studies/units/stress_ethanol_cipro_growth/tests/decision/opal/batch0/test_opal_batch0.py
  src/dnadesign/studies/units/stress_ethanol_cipro_growth/tests/decision/opal/measured_reader_vec8/test_staging.py
Due: core, external_integration

Group OPAL notebook deliverables
  src/dnadesign/opal/docs/reference/notebooks.md
  src/dnadesign/opal/src/analysis/notebook_components/__init__.py
  src/dnadesign/opal/src/analysis/notebook_components/reader_evidence.py
  src/dnadesign/opal/src/analysis/notebook_components/reader_evidence_triptych.py
  src/dnadesign/opal/src/analysis/notebook_components/review_controls.py
  src/dnadesign/opal/src/analysis/notebook_components/selection_overlap.py
  src/dnadesign/opal/src/analysis/notebook_components/visual_hierarchy.py
  src/dnadesign/opal/src/analysis/notebook_components/visual_panel.py
  src/dnadesign/opal/src/analysis/notebook_set_template/layout_cells.py
  src/dnadesign/opal/src/analysis/notebook_set_template/reader_evidence_cells.py
  src/dnadesign/opal/src/analysis/notebook_set_template/setup_cells.py
  src/dnadesign/opal/src/analysis/notebook_set_template/visual_cells.py
  src/dnadesign/opal/src/analysis/notebook_set_template/visual_panel_cells.py
  src/dnadesign/opal/src/reporting/notebook_set.py
  src/dnadesign/opal/tests/analysis/test_reader_evidence.py
  src/dnadesign/opal/tests/cli/test_cli_notebook_generate.py
  src/dnadesign/opal/tests/notebooks/test_notebook_template.py
Due: core, external_integration, opal

Add SECG OPAL effect-scaled EDA plots
  src/dnadesign/opal/campaigns/secg_and_rf_sfxi_topn/configs/plots.yaml
  src/dnadesign/opal/campaigns/secg_cipro_rf_sfxi_topn/configs/plots.yaml
  src/dnadesign/opal/campaigns/secg_ethanol_rf_sfxi_topn/configs/plots.yaml
Due: core, external_integration, opal

Path conditions:
  core: any of: src/dnadesign
  external_integration: any of: src/dnadesign
  usr: any of: src/dnadesign/usr/**
  notify: any of: src/dnadesign/notify/**
  densegen: any of: src/dnadesign/densegen/**
  infer: any of: src/dnadesign/infer/**
  opal: any of: src/dnadesign/opal/**
  cluster: any of: src/dnadesign/cluster/**
  billboard: any of: src/dnadesign/billboard/**
  libshuffle: any of: src/dnadesign/libshuffle/**
  nmf: any of: src/dnadesign/nmf/**
  latdna: any of: src/dnadesign/latdna/**
  cruncher: any of: src/dnadesign/cruncher/**
  tfkdanalysis: any of: src/dnadesign/tfkdanalysis/**
  aligner: any of: src/dnadesign/aligner/**
  baserender: any of: src/dnadesign/baserender/**
  permuter: any of: src/dnadesign/permuter/**
