Repository e-south/dnadesign: changes, and which Codecov flags are due for each by the changed paths.
All: core, external_integration, usr, notify, densegen, infer, opal, cluster, billboard, libshuffle, nmf, latdna, cruncher, tfkdanalysis, aligner, baserender, permuter

codecov.yml:

codecov:
  require_ci_to_pass: true

coverage:
  precision: 2
  round: down
  range: "0...100"
  status:
    project:
      default:
        target: auto
        threshold: 0.5%
        if_ci_failed: error
        if_not_found: failure
    patch:
      default:
        target: auto
        threshold: 0.5%
        if_ci_failed: error
        if_not_found: failure

flags:
  core:
    paths:
      - src/dnadesign
    carryforward: false
  external_integration:
    paths:
      - src/dnadesign
    carryforward: false

component_management:
  default_rules:
    statuses:
      - type: project
        target: auto
        threshold: 0.5%
        if_ci_failed: error
        if_not_found: failure
  individual_components:
    - component_id: usr
      name: usr
      paths:
        - src/dnadesign/usr/**
    - component_id: notify
      name: notify
      paths:
        - src/dnadesign/notify/**
    - component_id: densegen
      name: densegen
      paths:
        - src/dnadesign/densegen/**
    - component_id: infer
      name: infer
      paths:
        - src/dnadesign/infer/**
    - component_id: opal
      name: opal
      paths:
        - src/dnadesign/opal/**
    - component_id: cluster
      name: cluster
      paths:
        - src/dnadesign/cluster/**
    - component_id: billboard
      name: billboard
      paths:
        - src/dnadesign/billboard/**
    - component_id: libshuffle
      name: libshuffle
      paths:
        - src/dnadesign/libshuffle/**
    - component_id: nmf
      name: nmf
      paths:
        - src/dnadesign/nmf/**
    - component_id: latdna
      name: latdna
      paths:
        - src/dnadesign/latdna/**
    - component_id: cruncher
      name: cruncher
      paths:
        - src/dnadesign/cruncher/**
    - component_id: tfkdanalysis
      name: tfkdanalysis
      paths:
        - src/dnadesign/tfkdanalysis/**
    - component_id: aligner
      name: aligner
      paths:
        - src/dnadesign/aligner/**
    - component_id: baserender
      name: baserender
      paths:
        - src/dnadesign/baserender/**
    - component_id: permuter
      name: permuter
      paths:
        - src/dnadesign/permuter/**

comment:
  require_changes: true
  layout: "reach,diff,flags,components,files"

github_checks:
  annotations: true

Close shared storage access contracts
  docs/integrations/storage-objects.md
  src/dnadesign/contracts/storage_objects/inventory.py
  src/dnadesign/contracts/storage_objects/validation.py
  src/dnadesign/contracts/tests/storage_objects/test_cli.py
  src/dnadesign/contracts/tests/storage_objects/test_contract.py
Due: core, external_integration

Preserve quoted mmCIF null tokens
  src/dnadesign/thread/structure_views/_mmcif.py
  src/dnadesign/thread/tests/structure_views/test_py3dmol_html.py
Due: core, external_integration

Validate final Dense Arrays manifest
  src/dnadesign/densegen/src/integrations/dense_arrays/publisher.py
  src/dnadesign/densegen/tests/integrations/test_dense_arrays_playback.py
Due: core, external_integration, densegen

Recheck shared storage access at closure
  src/dnadesign/contracts/storage_objects/validation.py
  src/dnadesign/contracts/tests/storage_objects/test_contract.py
Due: core, external_integration

Require readable shared storage locks
  src/dnadesign/contracts/storage_objects/inventory.py
  src/dnadesign/contracts/storage_objects/validation.py
  src/dnadesign/contracts/tests/storage_objects/test_cli.py
  src/dnadesign/contracts/tests/storage_objects/test_contract.py
Due: core, external_integration

Preserve legacy TFBS placement defaults
  src/dnadesign/densegen/src/integrations/dense_arrays/playback.py
  src/dnadesign/densegen/tests/integrations/test_dense_arrays_playback.py
Due: core, external_integration, densegen

Normalize DenseGen playback enums
  src/dnadesign/densegen/src/integrations/dense_arrays/playback.py
  src/dnadesign/densegen/tests/integrations/test_dense_arrays_playback.py
Due: core, external_integration, densegen

Require usable owner storage locks
  src/dnadesign/contracts/storage_objects/inventory.py
  src/dnadesign/contracts/storage_objects/validation.py
  src/dnadesign/contracts/tests/storage_objects/test_cli.py
  src/dnadesign/contracts/tests/storage_objects/test_contract.py
Due: core, external_integration

Normalize unsupported storage locking
  src/dnadesign/contracts/storage_objects/inventory.py
  src/dnadesign/contracts/tests/storage_objects/test_cli.py
Due: core, external_integration

fix(thread): close LigandMPNN provenance bypasses
  src/dnadesign/thread/adapters/ligandmpnn/context_inventory.py
  src/dnadesign/thread/adapters/ligandmpnn/context_probe.py
  src/dnadesign/thread/adapters/ligandmpnn/pinned_runtime.py
  src/dnadesign/thread/adapters/ligandmpnn/receipts.py
  src/dnadesign/thread/adapters/ligandmpnn/score_results.py
  src/dnadesign/thread/docs/README.md
  src/dnadesign/thread/tests/adapters/ligandmpnn/_context_inventory.py
  src/dnadesign/thread/tests/adapters/ligandmpnn/test_adapter.py
  src/dnadesign/thread/tests/adapters/ligandmpnn/test_alphabets.py
  src/dnadesign/thread/tests/adapters/ligandmpnn/test_context_probe.py
  src/dnadesign/thread/tests/adapters/ligandmpnn/test_pinned_runtime.py
  src/dnadesign/thread/tests/adapters/ligandmpnn/test_score_results.py
Due: core, external_integration

Reject unknown playback label fields
  src/dnadesign/densegen/src/integrations/dense_arrays/publisher.py
  src/dnadesign/densegen/tests/integrations/test_dense_arrays_playback.py
Due: core, external_integration, densegen

Make storage receipt refresh transactional
  src/dnadesign/contracts/storage_objects/inventory.py
  src/dnadesign/contracts/tests/storage_objects/test_cli.py
Due: core, external_integration

Roll back interrupted storage commits
  src/dnadesign/contracts/storage_objects/inventory.py
  src/dnadesign/contracts/tests/storage_objects/test_cli.py
Due: core, external_integration

fix(densegen): close playback config schema
  src/dnadesign/densegen/src/integrations/dense_arrays/publisher.py
  src/dnadesign/densegen/tests/integrations/test_dense_arrays_playback.py
  src/dnadesign/densegen/workspaces/demo_dense_array_showcase/playback-constraints.yaml
  src/dnadesign/densegen/workspaces/demo_dense_array_showcase/playback.yaml
Due: core, external_integration, densegen

fix(thread): harden LigandMPNN receipt routing
  src/dnadesign/thread/adapters/ligandmpnn/context_probe.py
  src/dnadesign/thread/adapters/ligandmpnn/pinned_runtime.py
  src/dnadesign/thread/tests/adapters/ligandmpnn/test_context_probe.py
  src/dnadesign/thread/tests/adapters/ligandmpnn/test_pinned_runtime.py
Due: core, external_integration

fix(thread): restore receipt after fsync failure
  src/dnadesign/thread/adapters/ligandmpnn/__init__.py
  src/dnadesign/thread/adapters/ligandmpnn/context_probe.py
  src/dnadesign/thread/docs/README.md
  src/dnadesign/thread/tests/adapters/ligandmpnn/test_context_probe.py
Due: core, external_integration

Reject protected resource refresh races
  src/dnadesign/contracts/storage_objects/inventory.py
  src/dnadesign/contracts/tests/storage_objects/test_cli.py
Due: core, external_integration

fix(thread): close runtime argument ambiguities
  src/dnadesign/thread/adapters/ligandmpnn/context_probe.py
  src/dnadesign/thread/adapters/ligandmpnn/pinned_runtime.py
  src/dnadesign/thread/tests/adapters/ligandmpnn/test_context_probe.py
  src/dnadesign/thread/tests/adapters/ligandmpnn/test_pinned_runtime.py
Due: core, external_integration

fix(thread): preserve nonregular receipt entries
  src/dnadesign/thread/adapters/ligandmpnn/context_probe.py
  src/dnadesign/thread/docs/README.md
  src/dnadesign/thread/tests/adapters/ligandmpnn/test_context_probe.py
Due: core, external_integration

fix(densegen): bind playback publication inputs
  src/dnadesign/densegen/src/integrations/dense_arrays/publisher.py
  src/dnadesign/densegen/tests/integrations/test_dense_arrays_playback.py
Due: core, external_integration, densegen

fix(densegen): reject invalid duplex blocks
  src/dnadesign/densegen/src/integrations/dense_arrays/publisher.py
  src/dnadesign/densegen/tests/integrations/test_dense_arrays_playback.py
Due: core, external_integration, densegen

Reject manifest publication races
  src/dnadesign/contracts/storage_objects/inventory.py
  src/dnadesign/contracts/tests/storage_objects/test_cli.py
Due: core, external_integration

Integrate dense-array solution playback (#91)
  .gitignore
  pyproject.toml
  src/dnadesign/baserender/__init__.py
  src/dnadesign/baserender/assets/overlays/rnap_sigma70.json
  src/dnadesign/baserender/assets/overlays/rnap_sigma70.png
  src/dnadesign/baserender/assets/overlays/rnap_sigma70.svg
  src/dnadesign/baserender/src/config/style_v1.py
  src/dnadesign/baserender/src/core/registry.py
  src/dnadesign/baserender/src/render/effects/__init__.py
  src/dnadesign/baserender/src/render/effects/anchored_illustration.py
  src/dnadesign/baserender/src/render/effects/span_link.py
  src/dnadesign/baserender/src/render/layout.py
  src/dnadesign/baserender/src/render/sequence_rows.py
  src/dnadesign/baserender/src/render/sequence_rows_metadata.py
  src/dnadesign/baserender/tests/test_motif_logo_alignment.py
  src/dnadesign/baserender/tests/test_public_playback_integration.py
  src/dnadesign/densegen/src/integrations/dense_arrays/__init__.py
  src/dnadesign/densegen/src/integrations/dense_arrays/__main__.py
  src/dnadesign/densegen/src/integrations/dense_arrays/baserender_projection.py
  src/dnadesign/densegen/src/integrations/dense_arrays/playback.py
  src/dnadesign/densegen/src/integrations/dense_arrays/publisher.py
  src/dnadesign/densegen/tests/integrations/test_dense_arrays_playback.py
  src/dnadesign/densegen/workspaces/demo_dense_array_showcase/README.md
  src/dnadesign/densegen/workspaces/demo_dense_array_showcase/playback-constraints.yaml
  src/dnadesign/densegen/workspaces/demo_dense_array_showcase/playback.yaml
  uv.lock
Due: core, external_integration, densegen, baserender

Use atomic storage receipt publication
  docs/integrations/storage-objects.md
  src/dnadesign/contracts/storage_objects/__init__.py
  src/dnadesign/contracts/storage_objects/inventory.py
  src/dnadesign/contracts/storage_objects/models.py
  src/dnadesign/contracts/tests/storage_objects/test_cli.py
Due: core, external_integration

fix(thread): bind LigandMPNN execution results
  src/dnadesign/thread/adapters/ligandmpnn/commands.py
  src/dnadesign/thread/adapters/ligandmpnn/context_inventory.py
  src/dnadesign/thread/adapters/ligandmpnn/context_probe.py
  src/dnadesign/thread/adapters/ligandmpnn/models.py
  src/dnadesign/thread/adapters/ligandmpnn/pinned_runtime.py
  src/dnadesign/thread/adapters/ligandmpnn/score_results.py
  src/dnadesign/thread/adapters/ligandmpnn/scoring.py
  src/dnadesign/thread/docs/README.md
  src/dnadesign/thread/tests/adapters/ligandmpnn/test_adapter.py
  src/dnadesign/thread/tests/adapters/ligandmpnn/test_context_probe.py
  src/dnadesign/thread/tests/adapters/ligandmpnn/test_pinned_runtime.py
  src/dnadesign/thread/tests/adapters/ligandmpnn/test_score_results.py
  src/dnadesign/thread/tests/adapters/ligandmpnn/test_scoring.py
Due: core, external_integration

Recheck storage root receipt snapshots
  docs/integrations/storage-objects.md
  src/dnadesign/contracts/storage_objects/validation.py
  src/dnadesign/contracts/tests/storage_objects/test_contract.py
Due: core, external_integration

fix(thread): harden completion record lifecycle
  src/dnadesign/thread/adapters/ligandmpnn/__init__.py
  src/dnadesign/thread/adapters/ligandmpnn/pinned_runtime.py
  src/dnadesign/thread/adapters/ligandmpnn/score_results.py
  src/dnadesign/thread/docs/README.md
  src/dnadesign/thread/tests/adapters/ligandmpnn/test_pinned_runtime.py
  src/dnadesign/thread/tests/adapters/ligandmpnn/test_score_results.py
Due: core, external_integration

fix(thread): preserve quoted mmCIF atom identifiers
  src/dnadesign/thread/structure_views/_mmcif.py
  src/dnadesign/thread/tests/structure_views/test_py3dmol_html.py
Due: core, external_integration

Make storage receipt rollback conditional
  docs/integrations/storage-objects.md
  src/dnadesign/contracts/storage_objects/inventory.py
  src/dnadesign/contracts/tests/storage_objects/test_cli.py
Due: core, external_integration

Prove transient receipts fail validation
  src/dnadesign/contracts/tests/storage_objects/test_cli.py
Due: core, external_integration

Reject storage rollback recovery residue
  src/dnadesign/contracts/storage_objects/inventory.py
  src/dnadesign/contracts/tests/storage_objects/test_cli.py
Due: core, external_integration

fix(thread): make score publication durability transactional
  src/dnadesign/thread/adapters/ligandmpnn/__init__.py
  src/dnadesign/thread/adapters/ligandmpnn/pinned_runtime.py
  src/dnadesign/thread/docs/README.md
  src/dnadesign/thread/tests/adapters/ligandmpnn/test_pinned_runtime.py
Due: core, external_integration

Reject sticky shared storage roots
  docs/integrations/storage-objects.md
  src/dnadesign/contracts/storage_objects/inventory.py
  src/dnadesign/contracts/storage_objects/validation.py
  src/dnadesign/contracts/tests/storage_objects/test_cli.py
  src/dnadesign/contracts/tests/storage_objects/test_contract.py
Due: core, external_integration

Bind demo storage bytes to Git index
  docs/integrations/storage-objects.md
  src/dnadesign/contracts/storage_objects/validation.py
  src/dnadesign/contracts/tests/storage_objects/test_cli.py
Due: core, external_integration

fix(thread): bind complete LigandMPNN output lifecycles
  src/dnadesign/thread/adapters/ligandmpnn/__init__.py
  src/dnadesign/thread/adapters/ligandmpnn/pinned_runtime.py
  src/dnadesign/thread/adapters/ligandmpnn/score_results.py
  src/dnadesign/thread/docs/README.md
  src/dnadesign/thread/tests/adapters/ligandmpnn/test_pinned_runtime.py
  src/dnadesign/thread/tests/adapters/ligandmpnn/test_score_results.py
Due: core, external_integration

fix(thread): reject nonregular design outputs without blocking
  src/dnadesign/thread/adapters/ligandmpnn/pinned_runtime.py
  src/dnadesign/thread/tests/adapters/ligandmpnn/test_pinned_runtime.py
Due: core, external_integration

Reject other-writable storage roots
  docs/integrations/storage-objects.md
  src/dnadesign/contracts/storage_objects/inventory.py
  src/dnadesign/contracts/storage_objects/validation.py
  src/dnadesign/contracts/tests/storage_objects/test_cli.py
  src/dnadesign/contracts/tests/storage_objects/test_contract.py
Due: core, external_integration

fix(thread): preserve mmCIF null marker semantics
  src/dnadesign/thread/structure_views/_mmcif.py
  src/dnadesign/thread/tests/structure_views/test_py3dmol_html.py
Due: core, external_integration

fix(thread): require concrete mmCIF atom names
  src/dnadesign/thread/structure_views/_mmcif.py
  src/dnadesign/thread/tests/structure_views/test_py3dmol_html.py
Due: core, external_integration

fix(thread): reject escaping LigandMPNN output paths
  src/dnadesign/thread/adapters/ligandmpnn/models.py
  src/dnadesign/thread/adapters/ligandmpnn/scoring.py
  src/dnadesign/thread/tests/adapters/ligandmpnn/test_adapter.py
  src/dnadesign/thread/tests/adapters/ligandmpnn/test_scoring.py
Due: core, external_integration
