Repository e-south/dnadesign: changes, and which Codecov flags are due for each by the changed paths.
All: core, external_integration, usr, notify, densegen, infer, opal, cluster, billboard, libshuffle, nmf, latdna, cruncher, tfkdanalysis, aligner, baserender, permuter

Add JSON output for OPAL validate
  docs/studies/stress_ethanol_cipro_growth/routes/decision/opal/campaign-commands.md
  src/dnadesign/opal/docs/reference/cli.md
  src/dnadesign/opal/src/cli/commands/validate.py
  src/dnadesign/opal/tests/cli/test_cli_workflows.py
Due: core, external_integration, opal

Add manifest round variants for OPAL plots
  src/dnadesign/opal/campaigns/stress_eth_cip_and_rf_sfxi_topn/configs/plots.yaml
  src/dnadesign/opal/campaigns/stress_eth_cip_cipro_rf_sfxi_topn/configs/plots.yaml
  src/dnadesign/opal/campaigns/stress_eth_cip_ethanol_rf_sfxi_topn/configs/plots.yaml
  src/dnadesign/opal/docs/reference/plots.md
  src/dnadesign/opal/src/analysis/notebook_components/plot_text.py
  src/dnadesign/opal/src/plots/config.py
  src/dnadesign/opal/src/plots/feature_importance_heatmap.py
  src/dnadesign/opal/src/plots/runner.py
  src/dnadesign/opal/tests/cli/test_cli_plot.py
Due: core, external_integration, opal

Expose manifest-backed plot scopes in notebooks
  src/dnadesign/opal/docs/reference/notebooks.md
  src/dnadesign/opal/notebooks/api/__init__.py
  src/dnadesign/opal/notebooks/api/generated.py
  src/dnadesign/opal/src/analysis/notebook_components/__init__.py
  src/dnadesign/opal/src/analysis/notebook_components/plot_scopes.py
  src/dnadesign/opal/src/analysis/notebook_components/plots.py
  src/dnadesign/opal/src/analysis/notebook_components/visual_surface.py
  src/dnadesign/opal/src/analysis/notebook_set_template/setup_cells.py
  src/dnadesign/opal/src/analysis/notebook_set_template/visual_cells.py
  src/dnadesign/opal/src/analysis/notebook_template/setup_cells.py
  src/dnadesign/opal/tests/notebooks/test_notebook_template.py
Due: core, external_integration, opal

Align DenseGen probe plots with OPAL manifests
  docs/studies/stress_ethanol_cipro_growth/contexts/opal/densegen-axis-probe-v0.md
  docs/studies/stress_ethanol_cipro_growth/routes/decision/opal/README.md
  src/dnadesign/studies/studies/stress_ethanol_cipro_growth/opal_densegen_axis_probe/plotting.py
  src/dnadesign/studies/studies/stress_ethanol_cipro_growth/opal_densegen_axis_probe/scratch.py
  src/dnadesign/studies/tests/stress_ethanol_cipro_growth/opal_densegen_axis_probe/test_plot_config_contracts.py
Due: core, external_integration

Unify OPAL campaign notebook surfaces
  src/dnadesign/opal/docs/reference/notebooks.md
  src/dnadesign/opal/notebooks/api/generated.py
  src/dnadesign/opal/notebooks/campaign_progress.py
  src/dnadesign/opal/src/analysis/notebook_components/__init__.py
  src/dnadesign/opal/src/analysis/notebook_components/project.py
  src/dnadesign/opal/src/analysis/notebook_set_template/cells.py
  src/dnadesign/opal/src/analysis/notebook_set_template/renderer.py
  src/dnadesign/opal/src/analysis/notebook_set_template/setup_cells.py
  src/dnadesign/opal/src/analysis/notebook_template/renderer.py
  src/dnadesign/opal/src/cli/commands/notebook.py
  src/dnadesign/opal/src/reporting/notebook_set.py
  src/dnadesign/opal/tests/cli/test_cli_notebook_generate.py
  src/dnadesign/opal/tests/cli/test_cli_workflows.py
  src/dnadesign/opal/tests/notebooks/test_campaign_progress_notebook.py
  src/dnadesign/opal/tests/notebooks/test_notebook_template.py
  src/dnadesign/opal/tests/reporting/test_notebook_set.py
Due: core, external_integration, opal

Add validated SFXI reference overlays
  src/dnadesign/opal/api/__init__.py
  src/dnadesign/opal/api/sfxi.py
  src/dnadesign/opal/docs/reference/plots.md
  src/dnadesign/opal/src/plots/fold_change_vs_logic_fidelity.py
  src/dnadesign/opal/src/plots/sfxi_reference_overlay.py
  src/dnadesign/opal/tests/api/test_sfxi_api.py
  src/dnadesign/opal/tests/plots/test_plot_fold_change_vs_logic_fidelity.py
Due: core, external_integration, opal

Keep DenseGen OPAL context bounded
  docs/studies/stress_ethanol_cipro_growth/contexts/opal/densegen-axis-probe-v0.md
Due: none

Modernize Permuter public workspace APIs
  src/dnadesign/permuter/__init__.py
  src/dnadesign/permuter/api.py
  src/dnadesign/permuter/docs/README.md
  src/dnadesign/permuter/docs/cli-and-data-contracts.md
  src/dnadesign/permuter/docs/modernization-plan.md
  src/dnadesign/permuter/docs/rt_variant_generation.md
  src/dnadesign/permuter/src/api/__init__.py
  src/dnadesign/permuter/src/api/contracts.py
  src/dnadesign/permuter/src/api/generate.py
  src/dnadesign/permuter/src/cli/app.py
  src/dnadesign/permuter/src/cli/evaluate.py
  src/dnadesign/permuter/src/cli/inspect.py
  src/dnadesign/permuter/src/cli/plot.py
  src/dnadesign/permuter/src/cli/validate.py
  src/dnadesign/permuter/src/cli/workspace.py
  src/dnadesign/permuter/src/contracts/__init__.py
  src/dnadesign/permuter/src/contracts/metrics.py
  src/dnadesign/permuter/src/core/config.py
  src/dnadesign/permuter/src/plots/aa_category_effects.py
  src/dnadesign/permuter/src/plots/hairpin_length_vs_metric.py
  src/dnadesign/permuter/src/plots/mutation_summary.py
  src/dnadesign/permuter/src/plots/position_scatter_and_heatmap.py
  src/dnadesign/permuter/src/plots/ranked_variants.py
  src/dnadesign/permuter/src/protocols/combine/combine_aa.py
  src/dnadesign/permuter/src/protocols/combine/selection.py
  src/dnadesign/permuter/src/protocols/multisite_select/__init__.py
  src/dnadesign/permuter/src/protocols/multisite_select/main.py
  src/dnadesign/permuter/src/workspaces/__init__.py
  src/dnadesign/permuter/src/workspaces/contracts.py
  src/dnadesign/permuter/src/workspaces/loader.py
  src/dnadesign/permuter/tests/test_combine_aa.py
  src/dnadesign/permuter/tests/test_metric_contracts.py
  src/dnadesign/permuter/tests/test_multisite_protocol.py
  src/dnadesign/permuter/tests/test_public_api.py
  src/dnadesign/permuter/tests/test_workspace_cli.py
Due: core, external_integration, permuter

Tighten stress DenseGen probe plot review
  src/dnadesign/studies/studies/stress_ethanol_cipro_growth/opal_densegen_axis_probe/review/configured_plots.py
  src/dnadesign/studies/studies/stress_ethanol_cipro_growth/opal_densegen_axis_probe/scratch.py
  src/dnadesign/studies/tests/stress_ethanol_cipro_growth/opal_densegen_axis_probe/test_configured_plot_quality.py
  src/dnadesign/studies/tests/stress_ethanol_cipro_growth/opal_densegen_axis_probe/test_plot_config_contracts.py
  src/dnadesign/studies/tests/stress_ethanol_cipro_growth/opal_densegen_axis_probe/test_probe_cli_reporting.py
  src/dnadesign/studies/tests/stress_ethanol_cipro_growth/opal_densegen_axis_probe/test_review_reporting.py
Due: core, external_integration

Add Permuter BU SCC evaluate wrapper
  docs/bu-scc/jobs/README.md
  docs/bu-scc/jobs/permuter-evaluate.qsub
  docs/bu-scc/reference/submission.md
  docs/bu-scc/runbooks/batch-notify.md
  src/dnadesign/permuter/tests/contracts/test_scc_template.py
Due: core, external_integration, permuter

Harden Permuter handoff contracts
  docs/runbooks/README.md
  docs/studies/rt_lnrna_sponging_construct_triage/README.md
  docs/studies/rt_lnrna_sponging_construct_triage/contexts/permuter-onboarding.md
  docs/studies/rt_lnrna_sponging_construct_triage/operations/contract/README.md
  docs/studies/rt_lnrna_sponging_construct_triage/operations/contract/fixtures/permuter/rt-cds-dms-plan.yaml
  docs/studies/rt_lnrna_sponging_construct_triage/operations/contract/readiness/checks/candidate_contract.yaml
  docs/studies/rt_lnrna_sponging_construct_triage/operations/contract/schemas/candidate-table.schema.yaml
  docs/studies/rt_lnrna_sponging_construct_triage/operations/contract/surfaces/execution/commands/validation.yaml
  docs/studies/rt_lnrna_sponging_construct_triage/operations/runtime/command-groups/pipeline.yaml
  docs/studies/rt_lnrna_sponging_construct_triage/record/datasets.yaml
  docs/studies/rt_lnrna_sponging_construct_triage/routes/README.md
  pyproject.toml
  src/dnadesign/devtools/architecture/boundaries.py
  src/dnadesign/devtools/docs/checks.py
  src/dnadesign/devtools/tests/architecture/test_boundaries.py
  src/dnadesign/infer/docs/operations/evo2-sequence-features.md
  src/dnadesign/permuter/docs/README.md
  src/dnadesign/permuter/docs/README.tool-source.yaml
  src/dnadesign/permuter/docs/architecture.md
  src/dnadesign/permuter/docs/cli-and-data-contracts.md
  src/dnadesign/permuter/docs/handoffs.md
  src/dnadesign/permuter/docs/modernization-plan.md
  src/dnadesign/permuter/src/api/materialize.py
  src/dnadesign/permuter/src/api/validate.py
  src/dnadesign/permuter/src/cli/app.py
  src/dnadesign/permuter/src/cli/plot.py
  src/dnadesign/permuter/src/core/registry.py
  src/dnadesign/permuter/src/plots/registry.py
  src/dnadesign/permuter/tests/api/test_public_api.py
  src/dnadesign/permuter/tests/cli/test_json_outputs.py
  src/dnadesign/permuter/tests/contracts/test_scc_template.py
  src/dnadesign/permuter/tests/contracts/test_source_tree_contracts.py
  src/dnadesign/studies/studies/rt_lnrna_sponging_construct_triage/construct_materialization.py
  src/dnadesign/studies/tests/test_rt_lnrna_sponging_construct_triage_construct_materialization.py
  src/dnadesign/studies/tests/test_rt_lnrna_sponging_construct_triage_representation_contract.py
  src/dnadesign/usr/docs/operations/README.md
  src/dnadesign/usr/docs/operations/assembly/README.md
  src/dnadesign/usr/docs/operations/assembly/permuter-construct-infer-shared-dataset.md
  src/dnadesign/usr/docs/operations/assembly/permuter-construct-infer-shared-dataset.registry.yaml
Due: core, external_integration, usr, infer, permuter

Harden OPAL plot notebook surfaces
  src/dnadesign/opal/__init__.py
  src/dnadesign/opal/campaigns/demo/records.parquet
  src/dnadesign/opal/docs/maintainers/dev-spec-modernization.md
  src/dnadesign/opal/notebooks/api/generated.py
  src/dnadesign/opal/src/analysis/notebook_components/__init__.py
  src/dnadesign/opal/src/analysis/notebook_components/no_plot_scope.py
  src/dnadesign/opal/src/analysis/notebook_components/visual_surface.py
  src/dnadesign/opal/src/analysis/notebook_set_template/setup_cells.py
  src/dnadesign/opal/src/analysis/notebook_set_template/visual_panel_cells.py
  src/dnadesign/opal/src/analysis/notebook_template/setup_cells.py
  src/dnadesign/opal/src/cli/commands/demo_matrix.py
  src/dnadesign/opal/src/cli/commands/plot.py
  src/dnadesign/opal/src/plots/runner.py
  src/dnadesign/opal/src/reporting/notebook.py
  src/dnadesign/opal/tests/api/test_public_api_boundary.py
  src/dnadesign/opal/tests/cli/test_cli_demo_matrix.py
  src/dnadesign/opal/tests/cli/test_cli_plot.py
  src/dnadesign/opal/tests/notebooks/test_notebook_template.py
  src/dnadesign/opal/tests/plots/test_plot_vector_summary_heatmap.py
Due: core, external_integration, opal

Prepare DenseGen probe campaign suite
  docs/studies/stress_ethanol_cipro_growth/contexts/opal/densegen-axis-probe-v0.md
  docs/studies/stress_ethanol_cipro_growth/contexts/opal/densegen-motif-qa-k12-s3-v1.md
  src/dnadesign/studies/studies/stress_ethanol_cipro_growth/opal_densegen_axis_probe/README.md
  src/dnadesign/studies/studies/stress_ethanol_cipro_growth/opal_densegen_axis_probe/active_targets.py
  src/dnadesign/studies/studies/stress_ethanol_cipro_growth/opal_densegen_axis_probe/artifacts.py
  src/dnadesign/studies/studies/stress_ethanol_cipro_growth/opal_densegen_axis_probe/axis_oracle.py
  src/dnadesign/studies/studies/stress_ethanol_cipro_growth/opal_densegen_axis_probe/cli.py
  src/dnadesign/studies/studies/stress_ethanol_cipro_growth/opal_densegen_axis_probe/constants.py
  src/dnadesign/studies/studies/stress_ethanol_cipro_growth/opal_densegen_axis_probe/decision.py
  src/dnadesign/studies/studies/stress_ethanol_cipro_growth/opal_densegen_axis_probe/decision_evaluation.py
  src/dnadesign/studies/studies/stress_ethanol_cipro_growth/opal_densegen_axis_probe/decision_inputs.py
  src/dnadesign/studies/studies/stress_ethanol_cipro_growth/opal_densegen_axis_probe/execution.py
  src/dnadesign/studies/studies/stress_ethanol_cipro_growth/opal_densegen_axis_probe/label_families.py
  src/dnadesign/studies/studies/stress_ethanol_cipro_growth/opal_densegen_axis_probe/nulls.py
  src/dnadesign/studies/studies/stress_ethanol_cipro_growth/opal_densegen_axis_probe/plan.py
  src/dnadesign/studies/studies/stress_ethanol_cipro_growth/opal_densegen_axis_probe/prediction_scoring.py
  src/dnadesign/studies/studies/stress_ethanol_cipro_growth/opal_densegen_axis_probe/records_manifest.py
  src/dnadesign/studies/studies/stress_ethanol_cipro_growth/opal_densegen_axis_probe/review/metrics.py
  src/dnadesign/studies/studies/stress_ethanol_cipro_growth/opal_densegen_axis_probe/review/probe_plots.py
  src/dnadesign/studies/studies/stress_ethanol_cipro_growth/opal_densegen_axis_probe/review/rendering/html.py
  src/dnadesign/studies/studies/stress_ethanol_cipro_growth/opal_densegen_axis_probe/review/rendering/markdown.py
  src/dnadesign/studies/studies/stress_ethanol_cipro_growth/opal_densegen_axis_probe/round_dynamics.py
  src/dnadesign/studies/studies/stress_ethanol_cipro_growth/opal_densegen_axis_probe/run_cli.py
  src/dnadesign/studies/studies/stress_ethanol_cipro_growth/opal_densegen_axis_probe/scratch.py
  src/dnadesign/studies/studies/stress_ethanol_cipro_growth/opal_densegen_axis_probe/status.py
  src/dnadesign/studies/studies/stress_ethanol_cipro_growth/opal_densegen_axis_probe/suite_manifest.py
  src/dnadesign/studies/studies/stress_ethanol_cipro_growth/opal_densegen_axis_probe/suite_review.py
  src/dnadesign/studies/studies/stress_ethanol_cipro_growth/opal_densegen_axis_probe/trajectory_metrics.py
  src/dnadesign/studies/tests/stress_ethanol_cipro_growth/opal_densegen_axis_probe/helpers.py
  src/dnadesign/studies/tests/stress_ethanol_cipro_growth/opal_densegen_axis_probe/test_axis_oracle.py
  src/dnadesign/studies/tests/stress_ethanol_cipro_growth/opal_densegen_axis_probe/test_configured_plot_quality.py
  src/dnadesign/studies/tests/stress_ethanol_cipro_growth/opal_densegen_axis_probe/test_evaluation_ledgers.py
  src/dnadesign/studies/tests/stress_ethanol_cipro_growth/opal_densegen_axis_probe/test_evaluation_selection_contracts.py
  src/dnadesign/studies/tests/stress_ethanol_cipro_growth/opal_densegen_axis_probe/test_execution_artifacts.py
  src/dnadesign/studies/tests/stress_ethanol_cipro_growth/opal_densegen_axis_probe/test_label_family_suite_contracts.py
  src/dnadesign/studies/tests/stress_ethanol_cipro_growth/opal_densegen_axis_probe/test_planning_contracts.py
  src/dnadesign/studies/tests/stress_ethanol_cipro_growth/opal_densegen_axis_probe/test_plot_config_contracts.py
  src/dnadesign/studies/tests/stress_ethanol_cipro_growth/opal_densegen_axis_probe/test_status_source_contracts.py
  src/dnadesign/studies/tests/stress_ethanol_cipro_growth/opal_densegen_axis_probe/test_suite_review.py
  src/dnadesign/studies/tests/stress_ethanol_cipro_growth/opal_densegen_axis_probe/test_tf_count_active_targets.py
Due: core, external_integration

Add RT-lnRNA MSD compiler source lane
  .secrets.baseline
  docs/studies/rt_lnrna_sponging_construct_triage/contexts/permuter-onboarding.md
  docs/studies/rt_lnrna_sponging_construct_triage/contexts/representation-contract.md
  docs/studies/rt_lnrna_sponging_construct_triage/contexts/source-overlays.md
  docs/studies/rt_lnrna_sponging_construct_triage/operations/contract/fixtures/construct/construct-projection-manifest.yaml
  docs/studies/rt_lnrna_sponging_construct_triage/operations/contract/fixtures/infer/evo2-7b-six-view-feature-bundle.yaml
  docs/studies/rt_lnrna_sponging_construct_triage/operations/contract/fixtures/infer/evo2-7b-six-view-run-config.yaml
  docs/studies/rt_lnrna_sponging_construct_triage/operations/contract/fixtures/permuter/rt-cds-dms-infer-handoff.yaml
  docs/studies/rt_lnrna_sponging_construct_triage/operations/contract/fixtures/permuter/rt-cds-dms-plan.yaml
  docs/studies/rt_lnrna_sponging_construct_triage/operations/contract/fixtures/source-promotions/msd-compiler-pool.yaml
  docs/studies/rt_lnrna_sponging_construct_triage/operations/contract/readiness/checks/representation_readiness.yaml
  docs/studies/rt_lnrna_sponging_construct_triage/operations/contract/schemas/construct-projection-manifest.schema.yaml
  docs/studies/rt_lnrna_sponging_construct_triage/operations/contract/schemas/construct-subject-table.schema.yaml
  docs/studies/rt_lnrna_sponging_construct_triage/operations/contract/schemas/msd-design-spec.schema.yaml
  docs/studies/rt_lnrna_sponging_construct_triage/operations/contract/schemas/representation-table.schema.yaml
  docs/studies/rt_lnrna_sponging_construct_triage/record/datasets.yaml
  docs/studies/rt_lnrna_sponging_construct_triage/record/status.md
  docs/studies/rt_lnrna_sponging_construct_triage/workbench/design_sets/v1-construct-subject-scope.md
  docs/studies/rt_lnrna_sponging_construct_triage/workbench/provenance/source-handoff-ledger.md
  src/dnadesign/studies/studies/retron_hairpin_design/catalog/compiler_spec.py
  src/dnadesign/studies/studies/retron_hairpin_design/compiler/msd_unit.py
  src/dnadesign/studies/studies/rt_lnrna_sponging_construct_triage/construct_materialization.py
  src/dnadesign/studies/studies/rt_lnrna_sponging_construct_triage/construct_projection.py
  src/dnadesign/studies/studies/rt_lnrna_sponging_construct_triage/representation_contract.py
  src/dnadesign/studies/studies/rt_lnrna_sponging_construct_triage/source_promotions/__init__.py
  src/dnadesign/studies/studies/rt_lnrna_sponging_construct_triage/source_promotions/msd_compiler.py
  src/dnadesign/studies/studies/rt_lnrna_sponging_construct_triage/source_promotions/resolver.py
  src/dnadesign/studies/tests/test_retron_msd_compiler.py
  src/dnadesign/studies/tests/test_rt_lnrna_sponging_construct_triage_construct_materialization.py
  src/dnadesign/studies/tests/test_rt_lnrna_sponging_construct_triage_construct_projection.py
Due: core, external_integration

Harden OPAL X execution contracts
  src/dnadesign/opal/docs/maintainers/dev-spec-modernization.md
  src/dnadesign/opal/docs/plugins/transforms/x.md
  src/dnadesign/opal/docs/reference/cli.md
  src/dnadesign/opal/docs/reference/data-contracts.md
  src/dnadesign/opal/docs/reference/notebooks.md
  src/dnadesign/opal/docs/reference/plots.md
  src/dnadesign/opal/notebooks/api/__init__.py
  src/dnadesign/opal/src/analysis/ledger/predictions.py
  src/dnadesign/opal/src/config/plugin_schemas.py
  src/dnadesign/opal/src/plots/feature_importance_heatmap.py
  src/dnadesign/opal/src/registries/transforms_x.py
  src/dnadesign/opal/src/runtime/round/stages/prediction.py
  src/dnadesign/opal/src/storage/data_access.py
  src/dnadesign/opal/src/storage/x_contracts.py
  src/dnadesign/opal/src/storage/x_lookup.py
  src/dnadesign/opal/src/transforms_x/identity.py
  src/dnadesign/opal/tests/cli/test_cli_notebook_generate.py
  src/dnadesign/opal/tests/cli/test_cli_plot.py
  src/dnadesign/opal/tests/cli/test_cli_workflows.py
  src/dnadesign/opal/tests/notebooks/test_notebook_template.py
  src/dnadesign/opal/tests/objectives/test_vector_target_plugins.py
  src/dnadesign/opal/tests/reporting/test_notebook_set.py
  src/dnadesign/opal/tests/runtime/test_prediction_progress.py
  src/dnadesign/opal/tests/test_source_tree_contracts.py
  src/dnadesign/opal/tests/transforms/test_transform_matrix.py
Due: core, external_integration, opal

Split RT-lnRNA materialization by contract domain
  .secrets.baseline
  docs/studies/rt_lnrna_sponging_construct_triage/record/status.md
  src/dnadesign/studies/units/rt_lnrna_sponging_construct_triage/construct_materialization.py
  src/dnadesign/studies/units/rt_lnrna_sponging_construct_triage/materialization/__init__.py
  src/dnadesign/studies/units/rt_lnrna_sponging_construct_triage/materialization/common.py
  src/dnadesign/studies/units/rt_lnrna_sponging_construct_triage/materialization/contracts.py
  src/dnadesign/studies/units/rt_lnrna_sponging_construct_triage/materialization/manifest.py
  src/dnadesign/studies/units/rt_lnrna_sponging_construct_triage/materialization/subjects.py
  src/dnadesign/studies/units/rt_lnrna_sponging_construct_triage/materialization/usr_io.py
  src/dnadesign/studies/units/rt_lnrna_sponging_construct_triage/materialization/views.py
  src/dnadesign/studies/units/rt_lnrna_sponging_construct_triage/tests/construct/test_materialization.py
Due: core, external_integration

Point LatentDNA study contracts at units
  src/dnadesign/latentdna/tests/contracts/test_study_workspace_contracts.py
Due: core, external_integration

Make Retron skill audit directly runnable
  .agents/skills/retron-hairpin-study/scripts/audit-retron-hairpin-study-skill.sh
Due: none

Harden RT-lnRNA construct materialization
  .secrets.baseline
  docs/studies/rt_lnrna_sponging_construct_triage/contexts/opal-handoff.md
  docs/studies/rt_lnrna_sponging_construct_triage/contexts/reader-spop-label-contract.md
  docs/studies/rt_lnrna_sponging_construct_triage/contexts/representation-contract.md
  docs/studies/rt_lnrna_sponging_construct_triage/contexts/source-overlays.md
  docs/studies/rt_lnrna_sponging_construct_triage/operations/contract/fixtures/source-promotions/msd-compiler-pool.yaml
  docs/studies/rt_lnrna_sponging_construct_triage/operations/contract/readiness/checks/reader_spop_label_materialization.yaml
  docs/studies/rt_lnrna_sponging_construct_triage/operations/contract/schemas/construct-subject-table.schema.yaml
  docs/studies/rt_lnrna_sponging_construct_triage/operations/contract/schemas/msd-design-spec.schema.yaml
  docs/studies/rt_lnrna_sponging_construct_triage/operations/contract/schemas/representation-table.schema.yaml
  docs/studies/rt_lnrna_sponging_construct_triage/operations/contract/schemas/sponging-assay-observation.schema.yaml
  docs/studies/rt_lnrna_sponging_construct_triage/record/datasets.yaml
  docs/studies/rt_lnrna_sponging_construct_triage/record/status.md
  docs/studies/rt_lnrna_sponging_construct_triage/workbench/design_sets/v1-construct-subject-scope.md
  docs/studies/rt_lnrna_sponging_construct_triage/workbench/ontology/vocabulary.md
  docs/studies/rt_lnrna_sponging_construct_triage/workbench/provenance/source-handoff-ledger.md
  src/dnadesign/studies/units/rt_lnrna_sponging_construct_triage/construct_materialization.py
  src/dnadesign/studies/units/rt_lnrna_sponging_construct_triage/materialization/contracts.py
  src/dnadesign/studies/units/rt_lnrna_sponging_construct_triage/materialization/execution.py
  src/dnadesign/studies/units/rt_lnrna_sponging_construct_triage/materialization/unified.py
  src/dnadesign/studies/units/rt_lnrna_sponging_construct_triage/reader_spop_plan.py
  src/dnadesign/studies/units/rt_lnrna_sponging_construct_triage/representation_contract.py
  src/dnadesign/studies/units/rt_lnrna_sponging_construct_triage/source_promotions/crawford.py
  src/dnadesign/studies/units/rt_lnrna_sponging_construct_triage/source_promotions/msd_compiler.py
  src/dnadesign/studies/units/rt_lnrna_sponging_construct_triage/source_promotions/msd_design_space.py
  src/dnadesign/studies/units/rt_lnrna_sponging_construct_triage/source_promotions/msd_pool_contract.py
  src/dnadesign/studies/units/rt_lnrna_sponging_construct_triage/tests/construct/helpers.py
  src/dnadesign/studies/units/rt_lnrna_sponging_construct_triage/tests/construct/test_materialization.py
  src/dnadesign/studies/units/rt_lnrna_sponging_construct_triage/tests/construct/test_msd_compiler.py
  src/dnadesign/studies/units/rt_lnrna_sponging_construct_triage/tests/construct/test_msd_compiler_primitives.py
  src/dnadesign/studies/units/rt_lnrna_sponging_construct_triage/tests/construct/test_source_promotions.py
  src/dnadesign/studies/units/rt_lnrna_sponging_construct_triage/tests/infer/test_representation_contract.py
  src/dnadesign/studies/units/rt_lnrna_sponging_construct_triage/tests/source/test_reader_spop_plan.py
Due: core, external_integration

Add OPAL SPOP objective
  src/dnadesign/opal/docs/index.md
  src/dnadesign/opal/docs/plugins/objectives/README.md
  src/dnadesign/opal/docs/plugins/objectives/spop.md
  src/dnadesign/opal/src/cli/guidance.py
  src/dnadesign/opal/src/config/plugin_schemas.py
  src/dnadesign/opal/src/objectives/__init__.py
  src/dnadesign/opal/src/objectives/spop_v1.py
  src/dnadesign/opal/tests/cli/test_cli_guide.py
  src/dnadesign/opal/tests/config/test_config_objectives_v2.py
  src/dnadesign/opal/tests/objectives/test_scalar_plugins.py
Due: core, external_integration, opal

Wire RT-lnRNA Infer operations
  .agents/skills/bu-scc-usr-sync/references/sync-loop.md
  .agents/skills/notify-ops/references/workflow-router.md
  .agents/skills/sge-hpc-ops/references/workload-dnadesign.md
  docs/operations/orchestration/runbooks.md
  src/dnadesign/latentdna/tests/contracts/test_study_workspace_contracts.py
  src/dnadesign/latentdna/workspaces/rt_lnrna_sponging_construct_triage/README.md
  src/dnadesign/latentdna/workspaces/rt_lnrna_sponging_construct_triage/config.yaml
Due: core, external_integration

Add generic LatentDNA alignment primitives
  src/dnadesign/latentdna/src/alignments/builder.py
  src/dnadesign/latentdna/src/contracts/plot.py
  src/dnadesign/latentdna/src/contracts/workspace.py
  src/dnadesign/latentdna/src/metadata/derivations.py
  src/dnadesign/latentdna/src/scalars/preassay_selection.py
  src/dnadesign/latentdna/src/views/derive.py
  src/dnadesign/latentdna/src/views/row_contracts.py
  src/dnadesign/latentdna/tests/contracts/test_plot_shape_contract.py
  src/dnadesign/latentdna/tests/integrations/test_multiview_extensions_workflow.py
Due: core, external_integration

Harden LatentDNA plot semantics rendering
  src/dnadesign/latentdna/src/notebooks/browser_runtime_plot_review.py
  src/dnadesign/latentdna/src/plots/layout.py
  src/dnadesign/latentdna/src/plots/renderers/categorical.py
  src/dnadesign/latentdna/src/plots/renderers/distribution.py
  src/dnadesign/latentdna/src/plots/renderers/metric.py
  src/dnadesign/latentdna/src/plots/renderers/xy.py
  src/dnadesign/latentdna/src/presentation/labels.py
  src/dnadesign/latentdna/src/presentation/visual_style.py
  src/dnadesign/latentdna/src/scalars/preassay_ordinal.py
  src/dnadesign/latentdna/src/scalars/preassay_selection.py
  src/dnadesign/latentdna/tests/test_labels.py
  src/dnadesign/latentdna/tests/test_plot_render.py
  src/dnadesign/latentdna/tests/test_scalar_build.py
Due: core, external_integration

Align RT-lnRNA review surface semantics
  docs/studies/rt_lnrna_sponging_construct_triage/contexts/latentdna/review-surfaces.md
  src/dnadesign/latentdna/tests/contracts/test_study_workspace_contracts.py
  src/dnadesign/latentdna/workspaces/rt_lnrna_sponging_construct_triage/config.yaml
  src/dnadesign/latentdna/workspaces/rt_lnrna_sponging_construct_triage/plot_semantics/appendix_umap_gallery.yaml
  src/dnadesign/latentdna/workspaces/rt_lnrna_sponging_construct_triage/plot_semantics/representation_health_summary.yaml
  src/dnadesign/latentdna/workspaces/rt_lnrna_sponging_construct_triage/plot_semantics/representation_scree_diagnostic.yaml
  src/dnadesign/latentdna/workspaces/rt_lnrna_sponging_construct_triage/plot_semantics/rt_lnrna_abundance_margin_ladder_gallery.yaml
  src/dnadesign/latentdna/workspaces/rt_lnrna_sponging_construct_triage/plot_semantics/rt_lnrna_abundance_margin_scatter_gallery.yaml
  src/dnadesign/latentdna/workspaces/rt_lnrna_sponging_construct_triage/plot_semantics/rt_lnrna_candidate_decision_frontier.yaml
  src/dnadesign/latentdna/workspaces/rt_lnrna_sponging_construct_triage/plot_semantics/rt_lnrna_overlay_ordinal_audit.yaml
  src/dnadesign/latentdna/workspaces/rt_lnrna_sponging_construct_triage/plot_semantics/rt_lnrna_slot_context_robustness_summary.yaml
  src/dnadesign/latentdna/workspaces/rt_lnrna_sponging_construct_triage/plot_semantics/rt_lnrna_slot_geometry_scatter_gallery.yaml
  src/dnadesign/latentdna/workspaces/rt_lnrna_sponging_construct_triage/plot_semantics/rt_lnrna_source_structure_summary.yaml
  src/dnadesign/studies/units/rt_lnrna_sponging_construct_triage/deliverables/gates/representation_health_summary.md
  src/dnadesign/studies/units/rt_lnrna_sponging_construct_triage/deliverables/primary/README.md
  src/dnadesign/studies/units/rt_lnrna_sponging_construct_triage/deliverables/primary/rt_lnrna_overlay_ordinal_audit.md
  src/dnadesign/studies/units/rt_lnrna_sponging_construct_triage/deliverables/primary/rt_lnrna_slot_context_robustness_summary.md
Due: core, external_integration

Harden DenseGen probe suite review
  docs/studies/stress_ethanol_cipro_growth/contexts/opal/densegen-motif-qa-k12-s3-v1.md
  src/dnadesign/studies/units/stress_ethanol_cipro_growth/opal_densegen_axis_probe/active_targets.py
  src/dnadesign/studies/units/stress_ethanol_cipro_growth/opal_densegen_axis_probe/cli.py
  src/dnadesign/studies/units/stress_ethanol_cipro_growth/opal_densegen_axis_probe/constants.py
  src/dnadesign/studies/units/stress_ethanol_cipro_growth/opal_densegen_axis_probe/execution.py
  src/dnadesign/studies/units/stress_ethanol_cipro_growth/opal_densegen_axis_probe/plotting.py
  src/dnadesign/studies/units/stress_ethanol_cipro_growth/opal_densegen_axis_probe/review/configured_plot_files.py
  src/dnadesign/studies/units/stress_ethanol_cipro_growth/opal_densegen_axis_probe/review/configured_plots.py
  src/dnadesign/studies/units/stress_ethanol_cipro_growth/opal_densegen_axis_probe/scratch.py
  src/dnadesign/studies/units/stress_ethanol_cipro_growth/opal_densegen_axis_probe/suite_notebook.py
  src/dnadesign/studies/units/stress_ethanol_cipro_growth/opal_densegen_axis_probe/suite_replicates.py
  src/dnadesign/studies/units/stress_ethanol_cipro_growth/opal_densegen_axis_probe/suite_review.py
  src/dnadesign/studies/units/stress_ethanol_cipro_growth/tests/opal_densegen_axis_probe/helpers.py
  src/dnadesign/studies/units/stress_ethanol_cipro_growth/tests/opal_densegen_axis_probe/test_configured_plot_quality.py
  src/dnadesign/studies/units/stress_ethanol_cipro_growth/tests/opal_densegen_axis_probe/test_execution_artifacts.py
  src/dnadesign/studies/units/stress_ethanol_cipro_growth/tests/opal_densegen_axis_probe/test_plot_config_contracts.py
  src/dnadesign/studies/units/stress_ethanol_cipro_growth/tests/opal_densegen_axis_probe/test_probe_cli_reporting.py
  src/dnadesign/studies/units/stress_ethanol_cipro_growth/tests/opal_densegen_axis_probe/test_suite_review.py
Due: core, external_integration

feat(rt-lnrna): add reader spop handoff contracts
  docs/operations/orchestration/runbooks.md
  docs/studies/retron_hairpin_design/routes/README.md
  docs/studies/rt_lnrna_sponging_construct_triage/README.md
  docs/studies/rt_lnrna_sponging_construct_triage/contexts/opal-handoff.md
  docs/studies/rt_lnrna_sponging_construct_triage/contexts/reader-spop-label-contract.md
  docs/studies/rt_lnrna_sponging_construct_triage/contexts/retron-tf-decoy-design-logic.md
  docs/studies/rt_lnrna_sponging_construct_triage/contexts/source-overlays.md
  docs/studies/rt_lnrna_sponging_construct_triage/operations/contract/lifecycle/mode.yaml
  docs/studies/rt_lnrna_sponging_construct_triage/operations/contract/lifecycle/phases.yaml
  docs/studies/rt_lnrna_sponging_construct_triage/operations/contract/readiness/checks/reader_spop_label_materialization.yaml
  docs/studies/rt_lnrna_sponging_construct_triage/operations/contract/schemas/sponging-assay-observation.schema.yaml
  docs/studies/rt_lnrna_sponging_construct_triage/operations/contract/surfaces/artifacts.yaml
  docs/studies/rt_lnrna_sponging_construct_triage/operations/contract/surfaces/execution/runbooks/infer-7b-six-view.yaml
  docs/studies/rt_lnrna_sponging_construct_triage/operations/runtime/command-groups/pipeline.yaml
  docs/studies/rt_lnrna_sponging_construct_triage/operations/runtime/runbooks/infer-six-view-7b-with-notify.yaml
  docs/studies/rt_lnrna_sponging_construct_triage/record/datasets.yaml
  docs/studies/rt_lnrna_sponging_construct_triage/record/status.md
  docs/studies/rt_lnrna_sponging_construct_triage/routes/README.md
  src/dnadesign/ops/runbooks/presets/infer_rt_lnrna_sponging_construct_triage_six_view_7b_batch_with_notify.yaml
  src/dnadesign/studies/units/rt_lnrna_sponging_construct_triage/deliverables/primary/README.md
  src/dnadesign/studies/units/rt_lnrna_sponging_construct_triage/reader_spop_api.py
  src/dnadesign/studies/units/rt_lnrna_sponging_construct_triage/reader_spop_plan.py
  src/dnadesign/studies/units/rt_lnrna_sponging_construct_triage/tests/infer/test_representation_contract.py
  src/dnadesign/studies/units/rt_lnrna_sponging_construct_triage/tests/source/test_reader_spop_plan.py
Due: core, external_integration

feat(latentdna): add rt-lnrna trait axis projection
  .gitignore
  docs/studies/rt_lnrna_sponging_construct_triage/contexts/latentdna/binding.yaml
  docs/studies/rt_lnrna_sponging_construct_triage/contexts/latentdna/review-surfaces.md
  docs/studies/rt_lnrna_sponging_construct_triage/contexts/latentdna/trait-axis-projection.md
  src/dnadesign/latentdna/docs/README.md
  src/dnadesign/latentdna/docs/README.tool-source.yaml
  src/dnadesign/latentdna/docs/dev/README.md
  src/dnadesign/latentdna/docs/dev/trait-axis-projection.md
  src/dnadesign/latentdna/docs/index.md
  src/dnadesign/latentdna/src/contracts/plot.py
  src/dnadesign/latentdna/src/contracts/workspace.py
  src/dnadesign/latentdna/src/notebooks/browser_runtime_plot_review.py
  src/dnadesign/latentdna/src/plots/layout.py
  src/dnadesign/latentdna/src/plots/recipes.py
  src/dnadesign/latentdna/src/plots/render.py
  src/dnadesign/latentdna/src/plots/renderers/metric.py
  src/dnadesign/latentdna/src/plots/renderers/xy.py
  src/dnadesign/latentdna/src/presentation/labels.py
  src/dnadesign/latentdna/src/presentation/visual_style.py
  src/dnadesign/latentdna/src/scalars/build.py
  src/dnadesign/latentdna/src/scalars/builders/sidecar_table.py
  src/dnadesign/latentdna/src/scalars/builders/trait_axis_projection.py
  src/dnadesign/latentdna/src/views/materialize.py
  src/dnadesign/latentdna/tests/contracts/test_study_workspace_contracts.py
  src/dnadesign/latentdna/tests/test_labels.py
  src/dnadesign/latentdna/tests/test_plot_render.py
  src/dnadesign/latentdna/tests/test_trait_axis_projection.py
  src/dnadesign/latentdna/tests/views/test_materialization.py
  src/dnadesign/latentdna/workspaces/rt_lnrna_sponging_construct_triage/config.yaml
  src/dnadesign/latentdna/workspaces/rt_lnrna_sponging_construct_triage/plot_semantics/rt_lnrna_crawford_khan_axis_agreement.yaml
  src/dnadesign/latentdna/workspaces/rt_lnrna_sponging_construct_triage/plot_semantics/rt_lnrna_reference_compiler_axis_projection.yaml
  src/dnadesign/latentdna/workspaces/rt_lnrna_sponging_construct_triage/plot_semantics/rt_lnrna_trait_axis_endpoint_sensitivity.yaml
  src/dnadesign/latentdna/workspaces/rt_lnrna_sponging_construct_triage/plot_semantics/rt_lnrna_trait_axis_existence.yaml
  src/dnadesign/latentdna/workspaces/rt_lnrna_sponging_construct_triage/plot_semantics/rt_lnrna_trait_axis_view_scorecard.yaml
  src/dnadesign/latentdna/workspaces/rt_lnrna_sponging_construct_triage/study_inputs/reader_spop_candidate_summary.parquet
  src/dnadesign/latentdna/workspaces/rt_lnrna_sponging_construct_triage/study_inputs/reader_spop_observations.parquet
  src/dnadesign/studies/units/rt_lnrna_sponging_construct_triage/deliverables/primary/rt_lnrna_trait_axis_projection.md
Due: core, external_integration

Path conditions:
  core: any of: src/dnadesign
  external_integration: any of: src/dnadesign
  usr: any of: src/dnadesign/usr/**
  notify: any of: src/dnadesign/notify/**
  densegen: any of: src/dnadesign/densegen/**
  infer: any of: src/dnadesign/infer/**
  opal: any of: src/dnadesign/opal/**
  cluster: any of: src/dnadesign/cluster/**
  billboard: any of: src/dnadesign/billboard/**
  libshuffle: any of: src/dnadesign/libshuffle/**
  nmf: any of: src/dnadesign/nmf/**
  latdna: any of: src/dnadesign/latdna/**
  cruncher: any of: src/dnadesign/cruncher/**
  tfkdanalysis: any of: src/dnadesign/tfkdanalysis/**
  aligner: any of: src/dnadesign/aligner/**
  baserender: any of: src/dnadesign/baserender/**
  permuter: any of: src/dnadesign/permuter/**
