Repository e-south/dnadesign: changes, and which Codecov flags are due for each by the changed paths.
All: core, external_integration, usr, notify, densegen, infer, opal, cluster, billboard, libshuffle, nmf, latdna, cruncher, tfkdanalysis, aligner, baserender, permuter

codecov.yml:

codecov:
  require_ci_to_pass: true

coverage:
  precision: 2
  round: down
  range: "0...100"
  status:
    project:
      default:
        target: auto
        threshold: 0.5%
        if_ci_failed: error
        if_not_found: failure
    patch:
      default:
        target: auto
        threshold: 0.5%
        if_ci_failed: error
        if_not_found: failure

flags:
  core:
    paths:
      - src/dnadesign
    carryforward: false
  external_integration:
    paths:
      - src/dnadesign
    carryforward: false

component_management:
  default_rules:
    statuses:
      - type: project
        target: auto
        threshold: 0.5%
        if_ci_failed: error
        if_not_found: failure
  individual_components:
    - component_id: usr
      name: usr
      paths:
        - src/dnadesign/usr/**
    - component_id: notify
      name: notify
      paths:
        - src/dnadesign/notify/**
    - component_id: densegen
      name: densegen
      paths:
        - src/dnadesign/densegen/**
    - component_id: infer
      name: infer
      paths:
        - src/dnadesign/infer/**
    - component_id: opal
      name: opal
      paths:
        - src/dnadesign/opal/**
    - component_id: cluster
      name: cluster
      paths:
        - src/dnadesign/cluster/**
    - component_id: billboard
      name: billboard
      paths:
        - src/dnadesign/billboard/**
    - component_id: libshuffle
      name: libshuffle
      paths:
        - src/dnadesign/libshuffle/**
    - component_id: nmf
      name: nmf
      paths:
        - src/dnadesign/nmf/**
    - component_id: latdna
      name: latdna
      paths:
        - src/dnadesign/latdna/**
    - component_id: cruncher
      name: cruncher
      paths:
        - src/dnadesign/cruncher/**
    - component_id: tfkdanalysis
      name: tfkdanalysis
      paths:
        - src/dnadesign/tfkdanalysis/**
    - component_id: aligner
      name: aligner
      paths:
        - src/dnadesign/aligner/**
    - component_id: baserender
      name: baserender
      paths:
        - src/dnadesign/baserender/**
    - component_id: permuter
      name: permuter
      paths:
        - src/dnadesign/permuter/**

comment:
  require_changes: true
  layout: "reach,diff,flags,components,files"

github_checks:
  annotations: true

Clarify Cruncher runbook discovery surfaces
  src/dnadesign/cruncher/README.md
  src/dnadesign/cruncher/docs/reference/cli.md
  src/dnadesign/cruncher/src/cli/commands/workspaces.py
  src/dnadesign/cruncher/workspaces/README.md
Due: core, external_integration, cruncher

Refactor YIU workflow modules and demo docs
  src/dnadesign/cruncher/docs/demos/demo_yiu_workspace.md
  src/dnadesign/cruncher/docs/guides/yiu_workflow.md
  src/dnadesign/cruncher/docs/reference/cli.md
  src/dnadesign/cruncher/docs/reference/yiu_artifacts.md
  src/dnadesign/cruncher/docs/reference/yiu_spec.md
  src/dnadesign/cruncher/src/app/yiu_workflow.py
  src/dnadesign/cruncher/src/app/yiu_workflow/__init__.py
  src/dnadesign/cruncher/src/app/yiu_workflow/bundle.py
  src/dnadesign/cruncher/src/app/yiu_workflow/helpers.py
  src/dnadesign/cruncher/src/app/yiu_workflow/report.py
  src/dnadesign/cruncher/src/app/yiu_workflow/split_support.py
  src/dnadesign/cruncher/src/app/yiu_workflow/split_template.py
  src/dnadesign/cruncher/src/app/yiu_workflow/v1_report.py
  src/dnadesign/cruncher/src/app/yiu_workspace_service.py
  src/dnadesign/cruncher/src/yiu/models.py
  src/dnadesign/cruncher/src/yiu/models/__init__.py
  src/dnadesign/cruncher/src/yiu/models/catalogs.py
  src/dnadesign/cruncher/src/yiu/models/common.py
  src/dnadesign/cruncher/src/yiu/models/reporting.py
  src/dnadesign/cruncher/src/yiu/models/solve.py
  src/dnadesign/cruncher/src/yiu/models/v2_steps.py
  src/dnadesign/cruncher/src/yiu/models/workflow.py
  src/dnadesign/cruncher/tests/cli/test_yiu_cli.py
  src/dnadesign/cruncher/tests/docs/test_yiu_docs_contracts.py
  src/dnadesign/cruncher/tests/workspaces/test_runbook_execution.py
  src/dnadesign/cruncher/workspaces/README.md
  src/dnadesign/cruncher/workspaces/demo_yiu_circularized/configs/runbook.yaml
  src/dnadesign/cruncher/workspaces/demo_yiu_circularized/configs/yiu/example_split_payload_circularized.yiu.solve.yaml
  src/dnadesign/cruncher/workspaces/demo_yiu_circularized/configs/yiu/example_split_payload_circularized.yiu.yaml
  src/dnadesign/cruncher/workspaces/demo_yiu_circularized/runbook.md
Due: core, external_integration, cruncher

Package study status registries for built installs
  pyproject.toml
  src/dnadesign/studies/tests/test_package_data_contract.py
Due: core, external_integration

Add contracts to CI coverage baseline
  .github/tool-coverage-baseline.json
Due: none

Allow shared contracts in architecture checks
  src/dnadesign/devtools/architecture_boundaries.py
  src/dnadesign/devtools/tests/test_architecture_boundaries.py
Due: core, external_integration

Avoid wrapped cassette scaffold paths
  src/dnadesign/cruncher/src/cli/commands/cassette.py
  src/dnadesign/cruncher/tests/cli/test_cassette_cli.py
Due: core, external_integration, cruncher

chore: ignore Hypothesis cache
  .gitignore
Due: none

feat(baserender): add sequence evidence map support
  src/dnadesign/baserender/src/adapters/__init__.py
  src/dnadesign/baserender/src/adapters/sequence_evidence_map_v1.py
  src/dnadesign/baserender/src/config/adapter_contracts.py
  src/dnadesign/baserender/src/config/cruncher_showcase_job.py
  src/dnadesign/baserender/src/render/renderer.py
  src/dnadesign/baserender/tests/test_yiu_contract_jobs.py
  src/dnadesign/contracts/README.md
  src/dnadesign/contracts/__init__.py
  src/dnadesign/contracts/visual/__init__.py
  src/dnadesign/contracts/visual/sequence_evidence_map_v1.py
Due: core, external_integration, baserender

test(baserender): raise patch coverage for evidence maps
  src/dnadesign/baserender/tests/test_adapter_registry.py
  src/dnadesign/baserender/tests/test_runtime_and_public_api.py
  src/dnadesign/contracts/tests/test_visual_contracts.py
Due: core, external_integration, baserender

test(baserender): close remaining patch coverage gaps
  src/dnadesign/baserender/tests/test_adapter_registry.py
  src/dnadesign/baserender/tests/test_cruncher_showcase_job_schema.py
  src/dnadesign/baserender/tests/test_runtime_and_public_api.py
Due: core, external_integration, baserender

Add TetR Westmann motif-ingest workspace
  src/dnadesign/cruncher/docs/reference/runbook_steps.md
  src/dnadesign/cruncher/src/analysis/fimo_concordance.py
  src/dnadesign/cruncher/src/cli/catalog_execution.py
  src/dnadesign/cruncher/src/cli/commands/catalog_export_commands.py
  src/dnadesign/cruncher/src/io/meme_export.py
  src/dnadesign/cruncher/src/io/parsers/ddg_table.py
  src/dnadesign/cruncher/tests/cli/test_catalog_assets_cli.py
  src/dnadesign/cruncher/tests/config/test_workspace_sequence_length_bounds.py
  src/dnadesign/cruncher/tests/docs/test_master_orchestration_contracts.py
  src/dnadesign/cruncher/tests/docs/test_workspace_runbook_contracts.py
  src/dnadesign/cruncher/tests/ingest/test_ddg_table_parser.py
  src/dnadesign/cruncher/tests/ingest/test_local_source_adapter.py
  src/dnadesign/cruncher/workspaces/demo_monotypic_tetr/.gitignore
  src/dnadesign/cruncher/workspaces/demo_monotypic_tetr/configs/config.yaml
  src/dnadesign/cruncher/workspaces/demo_monotypic_tetr/configs/runbook.yaml
  src/dnadesign/cruncher/workspaces/demo_monotypic_tetr/configs/studies/diversity_vs_score.study.yaml
  src/dnadesign/cruncher/workspaces/demo_monotypic_tetr/configs/studies/length_vs_score.study.yaml
  src/dnadesign/cruncher/workspaces/demo_monotypic_tetr/inputs/local_motifs/tetR.tsv
  src/dnadesign/cruncher/workspaces/demo_monotypic_tetr/runbook.md
Due: core, external_integration, cruncher

Restore FIMO test compatibility wrapper
  src/dnadesign/cruncher/src/analysis/fimo_concordance.py
Due: core, external_integration, cruncher

Increase coverage for MEME export and ddG parser
  src/dnadesign/cruncher/tests/cli/test_catalog_assets_cli.py
  src/dnadesign/cruncher/tests/core/test_meme_export.py
  src/dnadesign/cruncher/tests/ingest/test_ddg_table_parser.py
Due: core, external_integration, cruncher

Skip stub workspace directories in orchestration contracts
  src/dnadesign/cruncher/tests/docs/test_master_orchestration_contracts.py
Due: core, external_integration, cruncher

Add Yiu payload visual contract and renderer support
  src/dnadesign/baserender/src/adapters/__init__.py
  src/dnadesign/baserender/src/adapters/sequence_evidence_map_v1.py
  src/dnadesign/baserender/src/adapters/yiu_payload_visual_v1.py
  src/dnadesign/baserender/src/config/adapter_contracts.py
  src/dnadesign/baserender/src/render/effects/boundary_marker.py
  src/dnadesign/baserender/src/render/legend.py
  src/dnadesign/baserender/src/render/sequence_rows.py
  src/dnadesign/baserender/tests/test_adapter_registry.py
  src/dnadesign/baserender/tests/test_yiu_contract_jobs.py
  src/dnadesign/contracts/visual/__init__.py
  src/dnadesign/contracts/visual/yiu_payload_visual_v1.py
Due: core, external_integration, baserender

Refresh Yiu docs and demo workspace
  src/dnadesign/cruncher/README.md
  src/dnadesign/cruncher/docs/README.md
  src/dnadesign/cruncher/docs/demos/demo_yiu_workspace.md
  src/dnadesign/cruncher/docs/guides/yiu_workflow.md
  src/dnadesign/cruncher/docs/index.md
  src/dnadesign/cruncher/docs/reference/architecture.md
  src/dnadesign/cruncher/docs/reference/cli.md
  src/dnadesign/cruncher/docs/reference/runbook_steps.md
  src/dnadesign/cruncher/docs/reference/yiu_artifacts.md
  src/dnadesign/cruncher/docs/reference/yiu_spec.md
  src/dnadesign/cruncher/tests/docs/test_yiu_docs_contracts.py
  src/dnadesign/cruncher/tests/workspaces/test_runbook_execution.py
  src/dnadesign/cruncher/workspaces/README.md
  src/dnadesign/cruncher/workspaces/demo_yiu_circularized/catalogs/backbones.yaml
  src/dnadesign/cruncher/workspaces/demo_yiu_circularized/catalogs/enzymes.yaml
  src/dnadesign/cruncher/workspaces/demo_yiu_circularized/catalogs/oligo_parts.yaml
  src/dnadesign/cruncher/workspaces/demo_yiu_circularized/configs/runbook.yaml
  src/dnadesign/cruncher/workspaces/demo_yiu_circularized/configs/yiu/example_reference_circularized.yiu.solve.yaml
  src/dnadesign/cruncher/workspaces/demo_yiu_circularized/configs/yiu/example_reference_circularized.yiu.yaml
  src/dnadesign/cruncher/workspaces/demo_yiu_circularized/runbook.md
  src/dnadesign/cruncher/workspaces/demo_yiu_payload/.gitignore
  src/dnadesign/cruncher/workspaces/demo_yiu_payload/configs/runbook.yaml
  src/dnadesign/cruncher/workspaces/demo_yiu_payload/configs/yiu/example_payload.yiu.yaml
  src/dnadesign/cruncher/workspaces/demo_yiu_payload/configs/yiu/tetr_monotypic_hit.yiu.yaml
  src/dnadesign/cruncher/workspaces/demo_yiu_payload/motifs/example_pwm_context.yaml
  src/dnadesign/cruncher/workspaces/demo_yiu_payload/runbook.md
Due: core, external_integration, cruncher

Harden Yiu CLI and bundle integrity
  src/dnadesign/cruncher/src/yiu/integrity.py
  src/dnadesign/cruncher/tests/cli/test_yiu_cli.py
  src/dnadesign/cruncher/tests/docs/test_yiu_docs_contracts.py
  src/dnadesign/cruncher/tests/yiu/test_payload_rendering.py
  src/dnadesign/cruncher/workspaces/demo_yiu_payload/configs/runbook.yaml
Due: core, external_integration, cruncher

Harden Yiu demo runbook locale handling
  src/dnadesign/cruncher/src/workspaces/runbook.py
  src/dnadesign/cruncher/tests/cli/test_yiu_cli.py
  src/dnadesign/cruncher/tests/workspaces/test_runbook_execution.py
Due: core, external_integration, cruncher

Refine BaseRender motif-logo support for Yiu payloads
  src/dnadesign/baserender/src/adapters/yiu_payload_visual_v1.py
  src/dnadesign/baserender/src/core/registry.py
  src/dnadesign/baserender/src/render/effects/motif_logo.py
  src/dnadesign/baserender/src/render/sequence_rows.py
  src/dnadesign/baserender/tests/test_motif_logo_alignment.py
  src/dnadesign/baserender/tests/test_motif_logo_coloring.py
  src/dnadesign/baserender/tests/test_yiu_contract_jobs.py
Due: core, external_integration, baserender

Harden Yiu bundle publication and PWM context loading
  src/dnadesign/cruncher/docs/guides/yiu_workflow.md
  src/dnadesign/cruncher/docs/reference/cli.md
  src/dnadesign/cruncher/docs/reference/yiu_artifacts.md
  src/dnadesign/cruncher/docs/reference/yiu_spec.md
  src/dnadesign/cruncher/src/app/yiu_workflow/show.py
  src/dnadesign/cruncher/src/app/yiu_workspace_service.py
  src/dnadesign/cruncher/src/cli/commands/yiu.py
  src/dnadesign/cruncher/src/yiu/bundle_models.py
  src/dnadesign/cruncher/src/yiu/integrity.py
  src/dnadesign/cruncher/src/yiu/publish.py
  src/dnadesign/cruncher/src/yiu/pwm_context.py
  src/dnadesign/cruncher/src/yiu/render.py
  src/dnadesign/cruncher/src/yiu/spec_models.py
  src/dnadesign/cruncher/tests/cli/test_yiu_cli.py
  src/dnadesign/cruncher/tests/yiu/test_payload_rendering.py
Due: core, external_integration, cruncher

Reorganize Yiu demo workspaces around outputs
  src/dnadesign/cruncher/docs/demos/demo_yiu_workspace.md
  src/dnadesign/cruncher/docs/reference/runbook_steps.md
  src/dnadesign/cruncher/tests/config/test_demo_configs_optimizer_surface.py
  src/dnadesign/cruncher/tests/config/test_workspace_sequence_length_bounds.py
  src/dnadesign/cruncher/tests/docs/test_yiu_docs_contracts.py
  src/dnadesign/cruncher/tests/workspaces/test_runbook_execution.py
  src/dnadesign/cruncher/workspaces/README.md
  src/dnadesign/cruncher/workspaces/demo_monotypic_baer/configs/runbook.yaml
  src/dnadesign/cruncher/workspaces/demo_monotypic_baer/configs/yiu/baer_monotypic_hit.yiu.yaml
  src/dnadesign/cruncher/workspaces/demo_monotypic_cpxr/.gitignore
  src/dnadesign/cruncher/workspaces/demo_monotypic_cpxr/configs/config.yaml
  src/dnadesign/cruncher/workspaces/demo_monotypic_cpxr/configs/runbook.yaml
  src/dnadesign/cruncher/workspaces/demo_monotypic_cpxr/configs/yiu/cpxr_monotypic_hit.yiu.yaml
  src/dnadesign/cruncher/workspaces/demo_monotypic_cpxr/inputs/local_motifs/cpxR.txt
  src/dnadesign/cruncher/workspaces/demo_monotypic_cpxr/runbook.md
  src/dnadesign/cruncher/workspaces/demo_monotypic_lexa/.gitignore
  src/dnadesign/cruncher/workspaces/demo_monotypic_lexa/configs/config.yaml
  src/dnadesign/cruncher/workspaces/demo_monotypic_lexa/configs/runbook.yaml
  src/dnadesign/cruncher/workspaces/demo_monotypic_lexa/configs/yiu/lexa_monotypic_hit.yiu.yaml
  src/dnadesign/cruncher/workspaces/demo_monotypic_lexa/inputs/local_motifs/lexA.txt
  src/dnadesign/cruncher/workspaces/demo_monotypic_lexa/runbook.md
  src/dnadesign/cruncher/workspaces/demo_monotypic_soxr/.gitignore
  src/dnadesign/cruncher/workspaces/demo_monotypic_soxr/configs/config.yaml
  src/dnadesign/cruncher/workspaces/demo_monotypic_soxr/configs/runbook.yaml
  src/dnadesign/cruncher/workspaces/demo_monotypic_soxr/configs/yiu/soxr_monotypic_hit.yiu.yaml
  src/dnadesign/cruncher/workspaces/demo_monotypic_soxr/inputs/local_motifs/soxR.txt
  src/dnadesign/cruncher/workspaces/demo_monotypic_soxr/runbook.md
  src/dnadesign/cruncher/workspaces/demo_monotypic_soxs/.gitignore
  src/dnadesign/cruncher/workspaces/demo_monotypic_soxs/configs/config.yaml
  src/dnadesign/cruncher/workspaces/demo_monotypic_soxs/configs/runbook.yaml
  src/dnadesign/cruncher/workspaces/demo_monotypic_soxs/configs/yiu/soxs_monotypic_hit.yiu.yaml
  src/dnadesign/cruncher/workspaces/demo_monotypic_soxs/runbook.md
  src/dnadesign/cruncher/workspaces/demo_monotypic_tetr/configs/yiu/tetr_monotypic_hit.yiu.yaml
  src/dnadesign/cruncher/workspaces/demo_monotypic_tetr/runbook.md
  src/dnadesign/cruncher/workspaces/demo_yiu_payload/configs/runbook.yaml
  src/dnadesign/cruncher/workspaces/demo_yiu_payload/runbook.md
Due: core, external_integration, cruncher

Polish YIU payload visuals in BaseRender
  src/dnadesign/baserender/src/adapters/yiu_payload_visual_v1.py
  src/dnadesign/baserender/src/render/layout.py
  src/dnadesign/baserender/src/render/sequence_rows.py
  src/dnadesign/baserender/tests/test_yiu_contract_jobs.py
Due: core, external_integration, baserender

Refactor YIU bundle publication and rendering seams
  src/dnadesign/cruncher/src/app/yiu_workflow/show.py
  src/dnadesign/cruncher/src/cli/commands/yiu.py
  src/dnadesign/cruncher/src/yiu/bundle_paths.py
  src/dnadesign/cruncher/src/yiu/integrity.py
  src/dnadesign/cruncher/src/yiu/publish.py
  src/dnadesign/cruncher/src/yiu/render.py
  src/dnadesign/cruncher/src/yiu/render_panels.py
  src/dnadesign/cruncher/src/yiu/view_contracts.py
  src/dnadesign/cruncher/tests/workspaces/test_runbook_execution.py
  src/dnadesign/cruncher/tests/yiu/test_payload_rendering.py
Due: core, external_integration, cruncher

Clarify YIU docs routing and bundle paths
  src/dnadesign/cruncher/README.md
  src/dnadesign/cruncher/docs/README.md
  src/dnadesign/cruncher/docs/guides/yiu_workflow.md
  src/dnadesign/cruncher/docs/index.md
  src/dnadesign/cruncher/src/devtools/docs_ia.py
  src/dnadesign/cruncher/tests/docs/test_yiu_docs_contracts.py
Due: core, external_integration, cruncher

Refactor YIU view and bundle publication helpers
  src/dnadesign/cruncher/docs/guides/yiu_workflow.md
  src/dnadesign/cruncher/docs/reference/architecture.md
  src/dnadesign/cruncher/src/yiu/publish.py
  src/dnadesign/cruncher/src/yiu/publish_inventory.py
  src/dnadesign/cruncher/src/yiu/publish_io.py
  src/dnadesign/cruncher/src/yiu/publish_layout.py
  src/dnadesign/cruncher/src/yiu/view_common.py
  src/dnadesign/cruncher/src/yiu/view_contracts.py
  src/dnadesign/cruncher/src/yiu/view_payload_content.py
  src/dnadesign/cruncher/src/yiu/view_payload_contracts.py
  src/dnadesign/cruncher/src/yiu/view_sequence_contracts.py
  src/dnadesign/cruncher/src/yiu/view_sequence_metadata.py
  src/dnadesign/cruncher/src/yiu/view_styles.py
  src/dnadesign/cruncher/tests/docs/test_yiu_docs_contracts.py
  src/dnadesign/cruncher/tests/yiu/test_payload_rendering.py
Due: core, external_integration, cruncher

Split YIU payload visual adapter helpers
  src/dnadesign/baserender/docs/integrations/yiu.md
  src/dnadesign/baserender/docs/reference.md
  src/dnadesign/baserender/src/adapters/yiu_payload_motif_overlay.py
  src/dnadesign/baserender/src/adapters/yiu_payload_sequence_projection.py
  src/dnadesign/baserender/src/adapters/yiu_payload_visual_projection.py
  src/dnadesign/baserender/src/adapters/yiu_payload_visual_v1.py
  src/dnadesign/baserender/tests/test_docs_contracts.py
  src/dnadesign/baserender/tests/test_yiu_contract_jobs.py
Due: core, external_integration, baserender

Refactor YIU bundle surfaces and render state
  src/dnadesign/contracts/visual/sequence_evidence_meta.py
  src/dnadesign/cruncher/src/app/yiu_workflow/render.py
  src/dnadesign/cruncher/src/app/yiu_workflow/show.py
  src/dnadesign/cruncher/src/cli/commands/yiu.py
  src/dnadesign/cruncher/src/yiu/bundle_state.py
  src/dnadesign/cruncher/src/yiu/bundle_surface.py
  src/dnadesign/cruncher/src/yiu/integrity.py
  src/dnadesign/cruncher/src/yiu/payload_resolution.py
  src/dnadesign/cruncher/src/yiu/publish.py
  src/dnadesign/cruncher/src/yiu/publish_io.py
  src/dnadesign/cruncher/src/yiu/publish_layout.py
  src/dnadesign/cruncher/src/yiu/render.py
  src/dnadesign/cruncher/src/yiu/render_panels.py
  src/dnadesign/cruncher/src/yiu/view_catalog.py
  src/dnadesign/cruncher/src/yiu/view_io.py
  src/dnadesign/cruncher/src/yiu/view_sequence_metadata.py
  src/dnadesign/cruncher/src/yiu/view_styles.py
  src/dnadesign/cruncher/tests/yiu/test_payload_rendering.py
Due: core, external_integration, cruncher

Harden BaseRender YIU public APIs and visuals
  src/dnadesign/baserender/__init__.py
  src/dnadesign/baserender/docs/integrations/yiu.md
  src/dnadesign/baserender/docs/reference.md
  src/dnadesign/baserender/src/adapters/yiu_payload_sequence_projection.py
  src/dnadesign/baserender/src/api.py
  src/dnadesign/baserender/src/render/topology_cartoon.py
  src/dnadesign/baserender/tests/test_docs_contracts.py
  src/dnadesign/baserender/tests/test_runtime_and_public_api.py
  src/dnadesign/baserender/tests/test_yiu_contract_jobs.py
Due: core, external_integration, baserender

Reorganize YIU workflow docs and references
  src/dnadesign/cruncher/docs/guides/yiu_workflow.md
  src/dnadesign/cruncher/docs/reference/architecture.md
  src/dnadesign/cruncher/docs/reference/yiu_artifacts.md
  src/dnadesign/cruncher/docs/reference/yiu_spec.md
  src/dnadesign/cruncher/tests/docs/test_yiu_docs_contracts.py
Due: core, external_integration, cruncher

Harden YIU render lifecycle and visual contracts
  src/dnadesign/cruncher/src/yiu/bundle_models.py
  src/dnadesign/cruncher/src/yiu/render.py
  src/dnadesign/cruncher/src/yiu/view_catalog.py
  src/dnadesign/cruncher/src/yiu/view_styles.py
  src/dnadesign/cruncher/tests/yiu/test_payload_rendering.py
Due: core, external_integration, cruncher

Clarify YIU docs ownership and visual directions
  src/dnadesign/baserender/docs/integrations/yiu.md
  src/dnadesign/baserender/tests/test_docs_contracts.py
  src/dnadesign/cruncher/docs/README.md
  src/dnadesign/cruncher/docs/guides/yiu_workflow.md
  src/dnadesign/cruncher/docs/index.md
  src/dnadesign/cruncher/docs/reference/architecture.md
  src/dnadesign/cruncher/docs/reference/yiu_artifacts.md
  src/dnadesign/cruncher/docs/reference/yiu_spec.md
  src/dnadesign/cruncher/tests/docs/test_yiu_docs_contracts.py
Due: core, external_integration, cruncher, baserender

Refactor YIU workspace blueprints and view registry
  src/dnadesign/cruncher/src/app/yiu_workspace_blueprints.py
  src/dnadesign/cruncher/src/app/yiu_workspace_service.py
  src/dnadesign/cruncher/src/yiu/render_panels.py
  src/dnadesign/cruncher/src/yiu/view_catalog.py
  src/dnadesign/cruncher/src/yiu/view_registry.py
  src/dnadesign/cruncher/src/yiu/view_styles.py
  src/dnadesign/cruncher/src/yiu/visual_system.py
  src/dnadesign/cruncher/tests/yiu/test_payload_rendering.py
Due: core, external_integration, cruncher
