Repository e-south/dnadesign: changes, and which Codecov flags are due for each by the changed paths.
All: core, external_integration, usr, notify, densegen, infer, opal, cluster, billboard, libshuffle, nmf, latdna, cruncher, tfkdanalysis, aligner, baserender, permuter

codecov.yml:

codecov:
  require_ci_to_pass: true

coverage:
  precision: 2
  round: down
  range: "0...100"
  status:
    project:
      default:
        target: auto
        threshold: 0.5%
        if_ci_failed: error
        if_not_found: failure
    patch:
      default:
        target: auto
        threshold: 0.5%
        if_ci_failed: error
        if_not_found: failure

flags:
  core:
    paths:
      - src/dnadesign
    carryforward: false
  external_integration:
    paths:
      - src/dnadesign
    carryforward: false

component_management:
  default_rules:
    statuses:
      - type: project
        target: auto
        threshold: 0.5%
        if_ci_failed: error
        if_not_found: failure
  individual_components:
    - component_id: usr
      name: usr
      paths:
        - src/dnadesign/usr/**
    - component_id: notify
      name: notify
      paths:
        - src/dnadesign/notify/**
    - component_id: densegen
      name: densegen
      paths:
        - src/dnadesign/densegen/**
    - component_id: infer
      name: infer
      paths:
        - src/dnadesign/infer/**
    - component_id: opal
      name: opal
      paths:
        - src/dnadesign/opal/**
    - component_id: cluster
      name: cluster
      paths:
        - src/dnadesign/cluster/**
    - component_id: billboard
      name: billboard
      paths:
        - src/dnadesign/billboard/**
    - component_id: libshuffle
      name: libshuffle
      paths:
        - src/dnadesign/libshuffle/**
    - component_id: nmf
      name: nmf
      paths:
        - src/dnadesign/nmf/**
    - component_id: latdna
      name: latdna
      paths:
        - src/dnadesign/latdna/**
    - component_id: cruncher
      name: cruncher
      paths:
        - src/dnadesign/cruncher/**
    - component_id: tfkdanalysis
      name: tfkdanalysis
      paths:
        - src/dnadesign/tfkdanalysis/**
    - component_id: aligner
      name: aligner
      paths:
        - src/dnadesign/aligner/**
    - component_id: baserender
      name: baserender
      paths:
        - src/dnadesign/baserender/**
    - component_id: permuter
      name: permuter
      paths:
        - src/dnadesign/permuter/**

comment:
  require_changes: true
  layout: "reach,diff,flags,components,files"

github_checks:
  annotations: true

Version prediction failures and bound workers
  src/dnadesign/construct/docs/reference/linear-ssdna-composition.md
  src/dnadesign/construct/src/composition/bundle.py
  src/dnadesign/construct/src/composition/folding_runtime.py
  src/dnadesign/construct/tests/runtime/test_composition_bundle.py
  src/dnadesign/construct/tests/runtime/test_linear_ssdna_composition.py
  src/dnadesign/contracts/__init__.py
  src/dnadesign/contracts/docs/reference/exports.md
  src/dnadesign/contracts/folding/__init__.py
  src/dnadesign/contracts/folding/assessment_v1.py
  src/dnadesign/contracts/folding/secondary_structure_prediction_v2.py
  src/dnadesign/contracts/tests/test_folding_assessment_contracts.py
  src/dnadesign/contracts/tests/test_sequence_contracts.py
  src/dnadesign/folding/docs/README.md
  src/dnadesign/folding/src/api.py
  src/dnadesign/folding/src/assessment/api.py
  src/dnadesign/folding/src/assessment/execution.py
  src/dnadesign/folding/src/assessment/projection.py
  src/dnadesign/folding/src/assessment/publication.py
  src/dnadesign/folding/src/pairing_qa.py
  src/dnadesign/folding/src/rnafold.py
  src/dnadesign/folding/src/viennarna_plot.py
  src/dnadesign/folding/tests/_assessment_fixtures.py
  src/dnadesign/folding/tests/test_assessment_process_isolation.py
  src/dnadesign/folding/tests/test_assessment_publication.py
  src/dnadesign/folding/tests/test_cli.py
  src/dnadesign/folding/tests/test_rnafold_runner.py
Due: core, external_integration

Close bounded V2 assessment contracts
  src/dnadesign/construct/docs/reference/linear-ssdna-composition.md
  src/dnadesign/construct/src/composition/folding_runtime.py
  src/dnadesign/contracts/folding/secondary_structure_prediction_v2.py
  src/dnadesign/contracts/sequence/linear_ssdna_composition_v1.py
  src/dnadesign/contracts/tests/test_folding_assessment_contracts.py
  src/dnadesign/contracts/tests/test_sequence_contracts.py
  src/dnadesign/folding/docs/README.md
  src/dnadesign/folding/src/api.py
  src/dnadesign/folding/tests/test_assessment_process_isolation.py
Due: core, external_integration

Bound assessment artifact inventory
  src/dnadesign/folding/docs/README.md
  src/dnadesign/folding/src/assessment/publication.py
  src/dnadesign/folding/tests/test_assessment_publication.py
Due: core, external_integration

Harden assessment publication replay
  src/dnadesign/artifacts/portable_paths.py
  src/dnadesign/folding/src/assessment/publication.py
  src/dnadesign/folding/tests/test_assessment_publication.py
Due: core, external_integration

Close remaining assessment trust gaps
  src/dnadesign/folding/src/api.py
  src/dnadesign/folding/src/assessment/publication.py
  src/dnadesign/folding/tests/test_assessment_publication.py
Due: core, external_integration

Anchor assessment inventory and supervisor reads
  src/dnadesign/artifacts/portable_paths.py
  src/dnadesign/folding/src/assessment/publication.py
  src/dnadesign/folding/tests/test_assessment_publication.py
Due: core, external_integration

Bound supervisor assessment artifact reads
  src/dnadesign/folding/src/assessment/api.py
Due: core, external_integration

Publish verified assessment stage by descriptor
  src/dnadesign/artifacts/publication.py
  src/dnadesign/artifacts/tests/test_publication_contract.py
  src/dnadesign/folding/src/assessment/api.py
  src/dnadesign/folding/src/assessment/publication.py
Due: core, external_integration

Verify copied assessment before publication
  src/dnadesign/artifacts/publication.py
  src/dnadesign/artifacts/tests/test_publication_contract.py
  src/dnadesign/folding/src/assessment/api.py
  src/dnadesign/folding/tests/test_assessment_publication.py
Due: core, external_integration

Bind final assessment load to verified stage
  src/dnadesign/folding/src/assessment/api.py
  src/dnadesign/folding/tests/test_assessment_publication.py
Due: core, external_integration

Harden assessment publication replay
  src/dnadesign/artifacts/publication.py
  src/dnadesign/folding/src/assessment/_limits.py
  src/dnadesign/folding/src/assessment/api.py
  src/dnadesign/folding/src/assessment/execution.py
  src/dnadesign/folding/src/assessment/publication.py
  src/dnadesign/folding/tests/test_assessment_process_isolation.py
  src/dnadesign/folding/tests/test_assessment_publication.py
Due: core, external_integration

Anchor assessment artifact supervision
  src/dnadesign/artifacts/publication.py
  src/dnadesign/artifacts/tests/test_publication_contract.py
  src/dnadesign/folding/src/assessment/api.py
  src/dnadesign/folding/src/assessment/execution.py
  src/dnadesign/folding/tests/test_assessment_process_isolation.py
  src/dnadesign/folding/tests/test_assessment_publication.py
Due: core, external_integration

Bind assessment replay to inventoried bytes
  src/dnadesign/folding/src/assessment/execution.py
  src/dnadesign/folding/src/assessment/publication.py
  src/dnadesign/folding/tests/test_assessment_publication.py
Due: core, external_integration

Bind folding failures to exception evidence
  src/dnadesign/folding/src/api.py
  src/dnadesign/folding/src/assessment/publication.py
  src/dnadesign/folding/src/execution_metadata.py
  src/dnadesign/folding/tests/test_assessment_publication.py
  src/dnadesign/folding/tests/test_rnafold_runner.py
Due: core, external_integration

Persist CLI return-code evidence
  src/dnadesign/folding/src/api.py
  src/dnadesign/folding/src/assessment/publication.py
  src/dnadesign/folding/src/execution_metadata.py
  src/dnadesign/folding/tests/test_assessment_publication.py
  src/dnadesign/folding/tests/test_rnafold_runner.py
Due: core, external_integration

Bound assessment memory and CLI evidence
  src/dnadesign/folding/docs/README.md
  src/dnadesign/folding/src/assessment/_limits.py
  src/dnadesign/folding/src/assessment/execution.py
  src/dnadesign/folding/src/assessment/publication.py
  src/dnadesign/folding/tests/test_assessment_process_isolation.py
  src/dnadesign/folding/tests/test_assessment_publication.py
Due: core, external_integration

Close assessment posture and copy gaps
  src/dnadesign/artifacts/publication.py
  src/dnadesign/artifacts/tests/test_publication_contract.py
  src/dnadesign/contracts/folding/assessment_v1.py
  src/dnadesign/contracts/tests/test_folding_assessment_contracts.py
  src/dnadesign/folding/docs/README.md
  src/dnadesign/folding/src/api.py
  src/dnadesign/folding/src/assessment/api.py
  src/dnadesign/folding/tests/_assessment_fixtures.py
  src/dnadesign/folding/tests/test_assessment_process_isolation.py
  src/dnadesign/folding/tests/test_assessment_publication.py
Due: core, external_integration

Preserve internal copy helper callers
  src/dnadesign/artifacts/publication.py
  src/dnadesign/baserender/tests/test_outputs_explicit.py
Due: core, external_integration, baserender

feat: integrate dense-array solution playback
  .gitignore
  pyproject.toml
  src/dnadesign/baserender/__init__.py
  src/dnadesign/baserender/assets/overlays/rnap_sigma70.json
  src/dnadesign/baserender/assets/overlays/rnap_sigma70.png
  src/dnadesign/baserender/assets/overlays/rnap_sigma70.svg
  src/dnadesign/baserender/src/config/style_v1.py
  src/dnadesign/baserender/src/core/registry.py
  src/dnadesign/baserender/src/render/effects/__init__.py
  src/dnadesign/baserender/src/render/effects/anchored_illustration.py
  src/dnadesign/baserender/src/render/effects/span_link.py
  src/dnadesign/baserender/src/render/layout.py
  src/dnadesign/baserender/src/render/sequence_rows.py
  src/dnadesign/baserender/src/render/sequence_rows_metadata.py
  src/dnadesign/baserender/tests/test_motif_logo_alignment.py
  src/dnadesign/baserender/tests/test_public_playback_integration.py
  src/dnadesign/densegen/src/integrations/dense_arrays/__init__.py
  src/dnadesign/densegen/src/integrations/dense_arrays/__main__.py
  src/dnadesign/densegen/src/integrations/dense_arrays/baserender_projection.py
  src/dnadesign/densegen/src/integrations/dense_arrays/playback.py
  src/dnadesign/densegen/src/integrations/dense_arrays/publisher.py
  src/dnadesign/densegen/tests/integrations/test_dense_arrays_playback.py
  src/dnadesign/densegen/workspaces/demo_dense_array_showcase/README.md
  src/dnadesign/densegen/workspaces/demo_dense_array_showcase/playback-constraints.yaml
  src/dnadesign/densegen/workspaces/demo_dense_array_showcase/playback.yaml
  uv.lock
Due: core, external_integration, densegen, baserender

Bind Python success logs to producer output
  src/dnadesign/folding/src/api.py
  src/dnadesign/folding/src/assessment/publication.py
  src/dnadesign/folding/src/execution_metadata.py
  src/dnadesign/folding/tests/test_assessment_publication.py
Due: core, external_integration

Canonicalize Python parse-failure logs
  src/dnadesign/folding/src/assessment/publication.py
  src/dnadesign/folding/tests/test_assessment_publication.py
Due: core, external_integration

Complete assessment replay symmetry
  src/dnadesign/artifacts/publication.py
  src/dnadesign/artifacts/tests/test_publication_contract.py
  src/dnadesign/folding/docs/README.md
  src/dnadesign/folding/src/api.py
  src/dnadesign/folding/src/assessment/api.py
  src/dnadesign/folding/src/assessment/publication.py
  src/dnadesign/folding/src/execution_metadata.py
  src/dnadesign/folding/tests/test_assessment_publication.py
  src/dnadesign/folding/tests/test_rnafold_runner.py
Due: core, external_integration

Serialize folding backend import failures
  src/dnadesign/contracts/folding/secondary_structure_prediction_v2.py
  src/dnadesign/folding/src/api.py
  src/dnadesign/folding/src/assessment/publication.py
  src/dnadesign/folding/tests/test_assessment_publication.py
  src/dnadesign/folding/tests/test_rnafold_runner.py
Due: core, external_integration

Publish digest-addressed folding assessments (#93)
  src/dnadesign/artifacts/portable_paths.py
  src/dnadesign/artifacts/publication.py
  src/dnadesign/artifacts/tests/test_publication_contract.py
  src/dnadesign/baserender/tests/test_outputs_explicit.py
  src/dnadesign/construct/docs/reference/linear-ssdna-composition.md
  src/dnadesign/construct/src/composition/bundle.py
  src/dnadesign/construct/src/composition/folding_runtime.py
  src/dnadesign/construct/tests/runtime/test_composition_bundle.py
  src/dnadesign/construct/tests/runtime/test_linear_ssdna_composition.py
  src/dnadesign/contracts/__init__.py
  src/dnadesign/contracts/docs/reference/exports.md
  src/dnadesign/contracts/folding/__init__.py
  src/dnadesign/contracts/folding/assessment_v1.py
  src/dnadesign/contracts/folding/secondary_structure_prediction_v2.py
  src/dnadesign/contracts/sequence/linear_ssdna_composition_v1.py
  src/dnadesign/contracts/tests/test_folding_assessment_contracts.py
  src/dnadesign/contracts/tests/test_sequence_contracts.py
  src/dnadesign/folding/README.md
  src/dnadesign/folding/__init__.py
  src/dnadesign/folding/docs/README.md
  src/dnadesign/folding/src/__init__.py
  src/dnadesign/folding/src/api.py
  src/dnadesign/folding/src/assessment/__init__.py
  src/dnadesign/folding/src/assessment/_limits.py
  src/dnadesign/folding/src/assessment/api.py
  src/dnadesign/folding/src/assessment/execution.py
  src/dnadesign/folding/src/assessment/projection.py
  src/dnadesign/folding/src/assessment/publication.py
  src/dnadesign/folding/src/assessment/worker.py
  src/dnadesign/folding/src/execution_metadata.py
  src/dnadesign/folding/src/pairing_qa.py
  src/dnadesign/folding/src/rnafold.py
  src/dnadesign/folding/src/viennarna_plot.py
  src/dnadesign/folding/tests/_assessment_fixtures.py
  src/dnadesign/folding/tests/test_assessment_process_isolation.py
  src/dnadesign/folding/tests/test_assessment_publication.py
  src/dnadesign/folding/tests/test_cli.py
  src/dnadesign/folding/tests/test_public_imports.py
  src/dnadesign/folding/tests/test_rnafold_runner.py
Due: core, external_integration, baserender

Retire the superseded MSD compiler
  .github/tool-coverage-baseline.json
  ARCHITECTURE.md
  README.md
  codecov.yml
  docs/README.md
  docs/architecture/decisions/README.md
  docs/architecture/decisions/adr-0004-retire-msd-compiler.md
  src/dnadesign/devtools/architecture/boundaries.py
  src/dnadesign/devtools/docs/banners/catalog.py
  src/dnadesign/devtools/docs/banners/glyphs.py
  src/dnadesign/msd/README.md
  src/dnadesign/msd/__init__.py
  src/dnadesign/msd/assets/msd-banner.svg
  src/dnadesign/msd/compiler/__init__.py
  src/dnadesign/msd/compiler/errors.py
  src/dnadesign/msd/compiler/identifiers.py
  src/dnadesign/msd/compiler/loading.py
  src/dnadesign/msd/compiler/registry.py
  src/dnadesign/msd/compiler/resolution.py
  src/dnadesign/msd/compiler/sequence.py
  src/dnadesign/msd/compiler/units.py
  src/dnadesign/msd/compiler/yaml_io.py
  src/dnadesign/msd/contracts/__init__.py
  src/dnadesign/msd/contracts/metadata.py
  src/dnadesign/msd/contracts/primitive_sources.py
  src/dnadesign/msd/docs/README.md
  src/dnadesign/msd/tests/test_public_surface.py
Due: core, external_integration

Remove consumerless Retron contracts
  docs/architecture/decisions/adr-0004-retire-msd-compiler.md
  src/dnadesign/contracts/__init__.py
  src/dnadesign/contracts/docs/reference/exports.md
  src/dnadesign/contracts/sequence/__init__.py
  src/dnadesign/contracts/sequence/msd_design_reference_v1.py
  src/dnadesign/contracts/tests/test_sequence_contracts.py
Due: core, external_integration

Retire the superseded MSD compiler (#97)
  .github/tool-coverage-baseline.json
  ARCHITECTURE.md
  README.md
  codecov.yml
  docs/README.md
  docs/architecture/decisions/README.md
  docs/architecture/decisions/adr-0004-retire-msd-compiler.md
  src/dnadesign/contracts/__init__.py
  src/dnadesign/contracts/docs/reference/exports.md
  src/dnadesign/contracts/sequence/__init__.py
  src/dnadesign/contracts/sequence/msd_design_reference_v1.py
  src/dnadesign/contracts/tests/test_sequence_contracts.py
  src/dnadesign/devtools/architecture/boundaries.py
  src/dnadesign/devtools/docs/banners/catalog.py
  src/dnadesign/devtools/docs/banners/glyphs.py
  src/dnadesign/msd/README.md
  src/dnadesign/msd/__init__.py
  src/dnadesign/msd/assets/msd-banner.svg
  src/dnadesign/msd/compiler/__init__.py
  src/dnadesign/msd/compiler/errors.py
  src/dnadesign/msd/compiler/identifiers.py
  src/dnadesign/msd/compiler/loading.py
  src/dnadesign/msd/compiler/registry.py
  src/dnadesign/msd/compiler/resolution.py
  src/dnadesign/msd/compiler/sequence.py
  src/dnadesign/msd/compiler/units.py
  src/dnadesign/msd/compiler/yaml_io.py
  src/dnadesign/msd/contracts/__init__.py
  src/dnadesign/msd/contracts/metadata.py
  src/dnadesign/msd/contracts/primitive_sources.py
  src/dnadesign/msd/docs/README.md
  src/dnadesign/msd/tests/test_public_surface.py
Due: core, external_integration

Remove obsolete hairpin primitive readers
  docs/architecture/decisions/README.md
  docs/architecture/decisions/adr-0005-retire-hairpin-primitive-readers.md
  src/dnadesign/cruncher/src/scar_nick/__init__.py
  src/dnadesign/cruncher/src/scar_nick/primitive_exports.py
  src/dnadesign/cruncher/src/snapback/__init__.py
  src/dnadesign/cruncher/src/snapback/primitive_exports.py
Due: core, external_integration, cruncher

Remove obsolete hairpin primitive readers (#98)
  docs/architecture/decisions/README.md
  docs/architecture/decisions/adr-0005-retire-hairpin-primitive-readers.md
  src/dnadesign/cruncher/src/scar_nick/__init__.py
  src/dnadesign/cruncher/src/scar_nick/primitive_exports.py
  src/dnadesign/cruncher/src/snapback/__init__.py
  src/dnadesign/cruncher/src/snapback/primitive_exports.py
Due: core, external_integration, cruncher

Fix frozen round-zero replay scoring
  src/dnadesign/opal/src/analysis/learning_loop_baselines/frozen_round0.py
  src/dnadesign/opal/tests/analysis/test_frozen_round0.py
Due: core, external_integration, opal

Fix frozen round-zero replay scoring (#100)
  src/dnadesign/opal/src/analysis/learning_loop_baselines/frozen_round0.py
  src/dnadesign/opal/tests/analysis/test_frozen_round0.py
Due: core, external_integration, opal

feat: generalize external storage contracts
  ARCHITECTURE.md
  docs/README.md
  docs/integrations/storage-objects.md
  docs/integrations/study-workspaces.md
  docs/integrations/workspace-storage.md
  pyproject.toml
  src/dnadesign/contracts/README.md
  src/dnadesign/contracts/docs/README.md
  src/dnadesign/contracts/docs/reference/exports.md
  src/dnadesign/contracts/storage_objects/__init__.py
  src/dnadesign/contracts/storage_objects/__main__.py
  src/dnadesign/contracts/storage_objects/cli.py
  src/dnadesign/contracts/storage_objects/inventory.py
  src/dnadesign/contracts/storage_objects/loading.py
  src/dnadesign/contracts/storage_objects/models.py
  src/dnadesign/contracts/storage_objects/validation.py
  src/dnadesign/contracts/tests/storage_objects/__init__.py
  src/dnadesign/contracts/tests/storage_objects/test_cli.py
  src/dnadesign/contracts/tests/storage_objects/test_contract.py
  src/dnadesign/contracts/tests/workspace_storage/test_cli.py
  src/dnadesign/contracts/tests/workspace_storage/test_contract.py
  src/dnadesign/contracts/workspace_storage/__init__.py
  src/dnadesign/contracts/workspace_storage/cli.py
  src/dnadesign/contracts/workspace_storage/models.py
  src/dnadesign/contracts/workspace_storage/validation.py
  src/dnadesign/usr/src/cli/__init__.py
  src/dnadesign/usr/src/cli/support/wiring/registration.py
  src/dnadesign/usr/tests/cli/test_cli_root_contract.py
Due: core, external_integration, usr

feat: add external workspace storage contract
  ARCHITECTURE.md
  DESIGN.md
  docs/README.md
  docs/integrations/study-workspaces.md
  docs/integrations/workspace-storage.md
  pyproject.toml
  src/dnadesign/contracts/README.md
  src/dnadesign/contracts/docs/README.md
  src/dnadesign/contracts/docs/reference/exports.md
  src/dnadesign/contracts/tests/workspace_storage/__init__.py
  src/dnadesign/contracts/tests/workspace_storage/test_cli.py
  src/dnadesign/contracts/tests/workspace_storage/test_contract.py
  src/dnadesign/contracts/workspace_storage/__init__.py
  src/dnadesign/contracts/workspace_storage/__main__.py
  src/dnadesign/contracts/workspace_storage/cli.py
  src/dnadesign/contracts/workspace_storage/loading.py
  src/dnadesign/contracts/workspace_storage/models.py
  src/dnadesign/contracts/workspace_storage/validation.py
Due: core, external_integration

fix: serialize storage receipt updates
  pyproject.toml
  src/dnadesign/contracts/storage_objects/inventory.py
  src/dnadesign/contracts/storage_objects/validation.py
  src/dnadesign/contracts/tests/storage_objects/test_cli.py
  src/dnadesign/contracts/tests/storage_objects/test_contract.py
  src/dnadesign/usr/src/cli/support/wiring/registration.py
  src/dnadesign/usr/tests/cli/test_cli_root_contract.py
  uv.lock
Due: core, external_integration, usr

fix: keep storage locks outside routed shelves
  src/dnadesign/contracts/storage_objects/inventory.py
Due: core, external_integration

fix: fail closed on storage traversal and demos
  docs/integrations/storage-objects.md
  src/dnadesign/contracts/storage_objects/cli.py
  src/dnadesign/contracts/storage_objects/inventory.py
  src/dnadesign/contracts/storage_objects/validation.py
  src/dnadesign/contracts/tests/storage_objects/test_cli.py
  src/dnadesign/contracts/tests/storage_objects/test_contract.py
Due: core, external_integration

fix: coordinate shared storage refreshes
  docs/integrations/storage-objects.md
  src/dnadesign/contracts/storage_objects/inventory.py
  src/dnadesign/contracts/storage_objects/models.py
  src/dnadesign/contracts/storage_objects/validation.py
  src/dnadesign/contracts/tests/storage_objects/test_cli.py
  src/dnadesign/contracts/tests/storage_objects/test_contract.py
Due: core, external_integration

fix(densegen): harden playback publication contracts
  src/dnadesign/densegen/src/integrations/dense_arrays/baserender_projection.py
  src/dnadesign/densegen/src/integrations/dense_arrays/publisher.py
  src/dnadesign/densegen/tests/integrations/test_dense_arrays_playback.py
  src/dnadesign/densegen/workspaces/demo_dense_array_showcase/playback-constraints.yaml
  src/dnadesign/densegen/workspaces/demo_dense_array_showcase/playback.yaml
Due: core, external_integration, densegen
