Repository e-south/dnadesign: changes, and which Codecov flags are due for each by the changed paths.
All: core, external_integration, usr, notify, densegen, infer, opal, cluster, billboard, libshuffle, nmf, latdna, cruncher, tfkdanalysis, aligner, baserender, permuter

codecov.yml:

codecov:
  require_ci_to_pass: true

coverage:
  precision: 2
  round: down
  range: "0...100"
  status:
    project:
      default:
        target: auto
        threshold: 0.5%
        if_ci_failed: error
        if_not_found: failure
    patch:
      default:
        target: auto
        threshold: 0.5%
        if_ci_failed: error
        if_not_found: failure

flags:
  core:
    paths:
      - src/dnadesign
    carryforward: false
  external_integration:
    paths:
      - src/dnadesign
    carryforward: false

component_management:
  default_rules:
    statuses:
      - type: project
        target: auto
        threshold: 0.5%
        if_ci_failed: error
        if_not_found: failure
  individual_components:
    - component_id: usr
      name: usr
      paths:
        - src/dnadesign/usr/**
    - component_id: notify
      name: notify
      paths:
        - src/dnadesign/notify/**
    - component_id: densegen
      name: densegen
      paths:
        - src/dnadesign/densegen/**
    - component_id: infer
      name: infer
      paths:
        - src/dnadesign/infer/**
    - component_id: opal
      name: opal
      paths:
        - src/dnadesign/opal/**
    - component_id: cluster
      name: cluster
      paths:
        - src/dnadesign/cluster/**
    - component_id: billboard
      name: billboard
      paths:
        - src/dnadesign/billboard/**
    - component_id: libshuffle
      name: libshuffle
      paths:
        - src/dnadesign/libshuffle/**
    - component_id: nmf
      name: nmf
      paths:
        - src/dnadesign/nmf/**
    - component_id: latdna
      name: latdna
      paths:
        - src/dnadesign/latdna/**
    - component_id: cruncher
      name: cruncher
      paths:
        - src/dnadesign/cruncher/**
    - component_id: tfkdanalysis
      name: tfkdanalysis
      paths:
        - src/dnadesign/tfkdanalysis/**
    - component_id: aligner
      name: aligner
      paths:
        - src/dnadesign/aligner/**
    - component_id: baserender
      name: baserender
      paths:
        - src/dnadesign/baserender/**
    - component_id: permuter
      name: permuter
      paths:
        - src/dnadesign/permuter/**

comment:
  require_changes: true
  layout: "reach,diff,flags,components,files"

github_checks:
  annotations: true

docs: refresh artifact contract verification dates
  ARCHITECTURE.md
  DESIGN.md
  src/dnadesign/baserender/docs/README.md
  src/dnadesign/baserender/docs/demos/workspaces.md
  src/dnadesign/baserender/docs/dev/journal.md
  src/dnadesign/baserender/docs/integrations/README.md
  src/dnadesign/baserender/docs/integrations/yiu.md
  src/dnadesign/baserender/docs/reference.md
Due: core, external_integration, baserender

fix(artifacts): close publication trust-boundary gaps
  src/dnadesign/artifacts/publication.py
  src/dnadesign/baserender/src/cli/actions.py
  src/dnadesign/baserender/src/config/render_job_v4.py
  src/dnadesign/baserender/src/execution/runner.py
  src/dnadesign/baserender/src/reporting/run_report.py
  src/dnadesign/baserender/src/workspaces/__init__.py
  src/dnadesign/baserender/tests/test_cassette_contract_jobs.py
  src/dnadesign/baserender/tests/test_outputs_explicit.py
  src/dnadesign/baserender/tests/test_render_job_v4.py
  src/dnadesign/baserender/tests/test_workspace_scope.py
Due: core, external_integration, baserender

fix(artifacts): anchor publication trust boundaries
  src/dnadesign/artifacts/owned_directory.py
  src/dnadesign/artifacts/portable_paths.py
  src/dnadesign/artifacts/publication.py
  src/dnadesign/artifacts/tests/__init__.py
  src/dnadesign/artifacts/tests/test_publication_security.py
  src/dnadesign/baserender/src/config/render_job_v4.py
  src/dnadesign/baserender/src/execution/runner.py
  src/dnadesign/baserender/src/io/__init__.py
  src/dnadesign/baserender/src/io/captured_source.py
  src/dnadesign/baserender/src/io/json_source.py
  src/dnadesign/baserender/src/io/parquet_source.py
  src/dnadesign/baserender/src/pipeline/selection.py
  src/dnadesign/baserender/src/reporting/run_report.py
  src/dnadesign/baserender/tests/test_outputs_explicit.py
  src/dnadesign/baserender/tests/test_render_job_v4.py
  src/dnadesign/folding/cli.py
  src/dnadesign/folding/src/viennarna_plot.py
  src/dnadesign/folding/tests/test_cli.py
  src/dnadesign/folding/tests/test_rnafold_runner.py
Due: core, external_integration, baserender

fix(artifacts): harden portable publication identity
  src/dnadesign/artifacts/__init__.py
  src/dnadesign/artifacts/errors.py
  src/dnadesign/artifacts/owned_directory.py
  src/dnadesign/artifacts/portable_paths.py
  src/dnadesign/artifacts/publication.py
  src/dnadesign/baserender/src/config/render_job_v4.py
  src/dnadesign/baserender/tests/test_outputs_explicit.py
  src/dnadesign/baserender/tests/test_render_job_v4.py
  src/dnadesign/folding/src/source_evidence.py
  src/dnadesign/folding/src/viennarna_plot.py
  src/dnadesign/folding/tests/test_rnafold_runner.py
Due: core, external_integration, baserender

fix(baserender): restore canonical module headers
  src/dnadesign/baserender/src/config/jobs/__init__.py
  src/dnadesign/baserender/src/execution/__init__.py
Due: core, external_integration, baserender

refactor: lazy-load contract and folding facades
  src/dnadesign/contracts/__init__.py
  src/dnadesign/contracts/folding/__init__.py
  src/dnadesign/contracts/sequence/__init__.py
  src/dnadesign/contracts/sequence/linear_ssdna_composition_v1.py
  src/dnadesign/contracts/tests/test_public_imports.py
  src/dnadesign/contracts/visual/__init__.py
  src/dnadesign/folding/__init__.py
  src/dnadesign/folding/src/__init__.py
  src/dnadesign/folding/src/api.py
  src/dnadesign/folding/tests/test_public_imports.py
Due: core, external_integration

fix(api): enforce canonical public imports
  src/dnadesign/baserender/__init__.py
  src/dnadesign/baserender/src/__init__.py
  src/dnadesign/baserender/src/adapters/__init__.py
  src/dnadesign/baserender/src/public/__init__.py
  src/dnadesign/baserender/src/public/api.py
  src/dnadesign/baserender/tests/test_api_import_coupling.py
  src/dnadesign/contracts/__init__.py
  src/dnadesign/contracts/folding/__init__.py
  src/dnadesign/contracts/sequence/__init__.py
  src/dnadesign/contracts/visual/__init__.py
  src/dnadesign/devtools/architecture/boundaries.py
  src/dnadesign/devtools/tests/architecture/test_boundaries.py
  src/dnadesign/devtools/tests/architecture/test_lazy_public_facades.py
  src/dnadesign/folding/__init__.py
  src/dnadesign/folding/src/__init__.py
  src/dnadesign/notify/__init__.py
  src/dnadesign/ops/orchestrator/orchestration_notify.py
  src/dnadesign/ops/tests/test_notify_webhook_profile_contract.py
  src/dnadesign/ops/tests/test_tls_ca_bundle_contract.py
Due: core, external_integration, notify, baserender

perf: decouple lightweight public surfaces
  src/dnadesign/baserender/__init__.py
  src/dnadesign/baserender/src/__init__.py
  src/dnadesign/baserender/src/adapters/__init__.py
  src/dnadesign/baserender/src/cli/actions.py
  src/dnadesign/baserender/src/public/__init__.py
  src/dnadesign/baserender/src/public/catalog.py
  src/dnadesign/baserender/tests/test_api_import_coupling.py
  src/dnadesign/baserender/tests/test_cli_coupling.py
  src/dnadesign/notify/README.md
  src/dnadesign/notify/__init__.py
  src/dnadesign/notify/tests/package/test_public_facade.py
Due: core, external_integration, notify, baserender

fix(baserender): remove ambiguous internal render export
  src/dnadesign/baserender/src/__init__.py
  src/dnadesign/baserender/tests/test_api_import_coupling.py
  src/dnadesign/devtools/tests/architecture/test_lazy_public_facades.py
Due: core, external_integration, baserender

fix(baserender): align lazy facade type contracts
  src/dnadesign/baserender/__init__.py
  src/dnadesign/baserender/src/__init__.py
  src/dnadesign/baserender/src/public/__init__.py
Due: core, external_integration, baserender

test(api): resolve every lazy facade export
  src/dnadesign/devtools/tests/architecture/test_lazy_public_facades.py
Due: core, external_integration

Refine public import boundaries and startup performance (#55)
  src/dnadesign/baserender/__init__.py
  src/dnadesign/baserender/src/__init__.py
  src/dnadesign/baserender/src/adapters/__init__.py
  src/dnadesign/baserender/src/cli/actions.py
  src/dnadesign/baserender/src/public/__init__.py
  src/dnadesign/baserender/src/public/api.py
  src/dnadesign/baserender/src/public/catalog.py
  src/dnadesign/baserender/tests/test_api_import_coupling.py
  src/dnadesign/baserender/tests/test_cli_coupling.py
  src/dnadesign/contracts/__init__.py
  src/dnadesign/contracts/folding/__init__.py
  src/dnadesign/contracts/sequence/__init__.py
  src/dnadesign/contracts/sequence/linear_ssdna_composition_v1.py
  src/dnadesign/contracts/tests/test_public_imports.py
  src/dnadesign/contracts/visual/__init__.py
  src/dnadesign/devtools/architecture/boundaries.py
  src/dnadesign/devtools/tests/architecture/test_boundaries.py
  src/dnadesign/devtools/tests/architecture/test_lazy_public_facades.py
  src/dnadesign/folding/__init__.py
  src/dnadesign/folding/src/__init__.py
  src/dnadesign/folding/src/api.py
  src/dnadesign/folding/tests/test_public_imports.py
  src/dnadesign/notify/README.md
  src/dnadesign/notify/__init__.py
  src/dnadesign/notify/tests/package/test_public_facade.py
  src/dnadesign/ops/orchestrator/orchestration_notify.py
  src/dnadesign/ops/tests/test_notify_webhook_profile_contract.py
  src/dnadesign/ops/tests/test_tls_ca_bundle_contract.py
Due: core, external_integration, notify, baserender

docs(study): clarify stress promoter handoffs
  docs/studies/stress_ethanol_cipro_growth/README.md
  docs/studies/stress_ethanol_cipro_growth/contexts/opal/README.md
  docs/studies/stress_ethanol_cipro_growth/routes/README.md
  src/dnadesign/studies/units/stress_ethanol_cipro_growth/README.md
Due: core, external_integration

docs(study): clarify stress promoter handoffs (#60)
  docs/studies/stress_ethanol_cipro_growth/README.md
  docs/studies/stress_ethanol_cipro_growth/contexts/opal/README.md
  docs/studies/stress_ethanol_cipro_growth/routes/README.md
  src/dnadesign/studies/units/stress_ethanol_cipro_growth/README.md
Due: core, external_integration

docs(study): restore the stress route budget
  docs/studies/stress_ethanol_cipro_growth/routes/README.md
Due: none

docs(study): restore the stress route budget (#62)
  docs/studies/stress_ethanol_cipro_growth/routes/README.md
Due: none

fix(docs): reject symlinked banner outputs
  src/dnadesign/devtools/docs/banners/render.py
  src/dnadesign/devtools/tests/docs/test_banner_assets.py
Due: core, external_integration

fix(docs): harden banner publication
  README.md
  src/dnadesign/baserender/assets/baserender-banner.svg
  src/dnadesign/contracts/assets/contracts-banner.svg
  src/dnadesign/cruncher/assets/cruncher-banner.svg
  src/dnadesign/devtools/docs/banners/catalog.py
  src/dnadesign/devtools/docs/banners/render.py
  src/dnadesign/devtools/docs/checks.py
  src/dnadesign/devtools/tests/docs/test_banner_assets.py
  src/dnadesign/devtools/tests/docs/test_checks.py
  src/dnadesign/folding/assets/folding-banner.svg
  src/dnadesign/infer/assets/infer-banner.svg
  src/dnadesign/latentdna/docs/assets/latentdna-banner.svg
  src/dnadesign/notify/assets/notify-banner.svg
  src/dnadesign/ops/assets/ops-banner.svg
  src/dnadesign/permuter/assets/permuter-banner.svg
  src/dnadesign/usr/assets/usr-banner.svg
Due: core, external_integration, usr, notify, infer, cruncher, baserender, permuter

docs(brand): unify documentation banners
  assets/dnadesign-banner.svg
  src/dnadesign/aligner/assets/aligner-banner.svg
  src/dnadesign/baserender/assets/baserender-banner.svg
  src/dnadesign/billboard/assets/billboard-banner.svg
  src/dnadesign/cluster/assets/cluster-banner.svg
  src/dnadesign/construct/docs/assets/construct-banner.svg
  src/dnadesign/contracts/assets/contracts-banner.svg
  src/dnadesign/cruncher/assets/cruncher-banner.svg
  src/dnadesign/densegen/assets/densegen-banner.svg
  src/dnadesign/devtools/docs/banners/__init__.py
  src/dnadesign/devtools/docs/banners/__main__.py
  src/dnadesign/devtools/docs/banners/catalog.py
  src/dnadesign/devtools/docs/banners/glyphs.py
  src/dnadesign/devtools/docs/banners/render.py
  src/dnadesign/devtools/tests/docs/test_banner_assets.py
  src/dnadesign/devtools/tests/support/assets/testsupport-banner.svg
  src/dnadesign/folding/assets/folding-banner.svg
  src/dnadesign/infer/assets/infer-banner.svg
  src/dnadesign/latentdna/docs/assets/latentdna-banner.svg
  src/dnadesign/libshuffle/assets/libshuffle-banner.svg
  src/dnadesign/nmf/assets/nmf-banner.svg
  src/dnadesign/notify/assets/notify-banner.svg
  src/dnadesign/opal/assets/opal-banner.svg
  src/dnadesign/ops/assets/ops-banner.svg
  src/dnadesign/permuter/assets/permuter-banner.svg
  src/dnadesign/studies/assets/studies-banner.svg
  src/dnadesign/tfkdanalysis/assets/tfkdanalysis-banner.svg
  src/dnadesign/thread/assets/thread-banner.svg
  src/dnadesign/usr/assets/usr-banner.svg
Due: core, external_integration, usr, notify, densegen, infer, opal, cluster, billboard, libshuffle, nmf, cruncher, tfkdanalysis, aligner, baserender, permuter

docs: simplify the public tool map
  README.md
  src/dnadesign/cluster/assets/cluster-banner.svg
  src/dnadesign/contracts/assets/contracts-banner.svg
  src/dnadesign/devtools/docs/banners/catalog.py
  src/dnadesign/latentdna/docs/assets/latentdna-banner.svg
  src/dnadesign/nmf/assets/nmf-banner.svg
  src/dnadesign/opal/assets/opal-banner.svg
  src/dnadesign/studies/assets/studies-banner.svg
Due: core, external_integration, opal, cluster, nmf

fix(docs): enforce banner source drift
  src/dnadesign/devtools/docs/checks.py
  src/dnadesign/devtools/tests/docs/test_checks.py
Due: core, external_integration

fix(docs): preflight banner output types
  src/dnadesign/devtools/docs/banners/render.py
  src/dnadesign/devtools/tests/docs/test_banner_assets.py
Due: core, external_integration

fix(docs): enforce banner catalog inventory
  src/dnadesign/devtools/docs/checks.py
  src/dnadesign/devtools/tests/docs/test_checks.py
Due: core, external_integration

test(ops): align root tool description
  src/dnadesign/ops/tests/test_ops_docs_progressive_disclosure_contracts.py
Due: core, external_integration

Unify documentation banners and simplify the tool map (#59)
  README.md
  assets/dnadesign-banner.svg
  src/dnadesign/aligner/assets/aligner-banner.svg
  src/dnadesign/baserender/assets/baserender-banner.svg
  src/dnadesign/billboard/assets/billboard-banner.svg
  src/dnadesign/cluster/assets/cluster-banner.svg
  src/dnadesign/construct/docs/assets/construct-banner.svg
  src/dnadesign/contracts/assets/contracts-banner.svg
  src/dnadesign/cruncher/assets/cruncher-banner.svg
  src/dnadesign/densegen/assets/densegen-banner.svg
  src/dnadesign/devtools/docs/banners/__init__.py
  src/dnadesign/devtools/docs/banners/__main__.py
  src/dnadesign/devtools/docs/banners/catalog.py
  src/dnadesign/devtools/docs/banners/glyphs.py
  src/dnadesign/devtools/docs/banners/render.py
  src/dnadesign/devtools/docs/checks.py
  src/dnadesign/devtools/tests/docs/test_banner_assets.py
  src/dnadesign/devtools/tests/docs/test_checks.py
  src/dnadesign/devtools/tests/support/assets/testsupport-banner.svg
  src/dnadesign/folding/assets/folding-banner.svg
  src/dnadesign/infer/assets/infer-banner.svg
  src/dnadesign/latentdna/docs/assets/latentdna-banner.svg
  src/dnadesign/libshuffle/assets/libshuffle-banner.svg
  src/dnadesign/nmf/assets/nmf-banner.svg
  src/dnadesign/notify/assets/notify-banner.svg
  src/dnadesign/opal/assets/opal-banner.svg
  src/dnadesign/ops/assets/ops-banner.svg
  src/dnadesign/ops/tests/test_ops_docs_progressive_disclosure_contracts.py
  src/dnadesign/permuter/assets/permuter-banner.svg
  src/dnadesign/studies/assets/studies-banner.svg
  src/dnadesign/tfkdanalysis/assets/tfkdanalysis-banner.svg
  src/dnadesign/thread/assets/thread-banner.svg
  src/dnadesign/usr/assets/usr-banner.svg
Due: core, external_integration, usr, notify, densegen, infer, opal, cluster, billboard, libshuffle, nmf, cruncher, tfkdanalysis, aligner, baserender, permuter

docs(usr): refresh overlay contract verification
  src/dnadesign/usr/docs/reference/sfxi-reference-overlay.md
Due: core, external_integration, usr

refactor(study): own the SFXI reference overlay
  src/dnadesign/devtools/architecture/boundaries.py
  src/dnadesign/devtools/tests/architecture/test_boundaries.py
  src/dnadesign/opal/tests/test_source_tree_contracts.py
  src/dnadesign/studies/units/stress_ethanol_cipro_growth/decision/opal/README.md
  src/dnadesign/studies/units/stress_ethanol_cipro_growth/decision/opal/sfxi_reference_overlay/README.md
  src/dnadesign/studies/units/stress_ethanol_cipro_growth/decision/opal/sfxi_reference_overlay/__init__.py
  src/dnadesign/studies/units/stress_ethanol_cipro_growth/decision/opal/sfxi_reference_overlay/__main__.py
  src/dnadesign/studies/units/stress_ethanol_cipro_growth/decision/opal/sfxi_reference_overlay/cli.py
  src/dnadesign/studies/units/stress_ethanol_cipro_growth/decision/opal/sfxi_reference_overlay/reader_records.json
  src/dnadesign/studies/units/stress_ethanol_cipro_growth/decision/opal/sfxi_reference_overlay/reader_records.py
  src/dnadesign/studies/units/stress_ethanol_cipro_growth/decision/opal/sfxi_reference_overlay/recipe.py
  src/dnadesign/studies/units/stress_ethanol_cipro_growth/tests/decision/opal/reader_promoter_evidence/test_architecture.py
  src/dnadesign/studies/units/stress_ethanol_cipro_growth/tests/decision/opal/response_window_label_promotion/test_architecture.py
  src/dnadesign/studies/units/stress_ethanol_cipro_growth/tests/decision/opal/sfxi_reference_overlay/__init__.py
  src/dnadesign/studies/units/stress_ethanol_cipro_growth/tests/decision/opal/sfxi_reference_overlay/test_cli.py
  src/dnadesign/studies/units/stress_ethanol_cipro_growth/tests/decision/opal/sfxi_reference_overlay/test_recipe.py
  src/dnadesign/studies/units/stress_ethanol_cipro_growth/tests/response_window_observations/test_architecture.py
  src/dnadesign/usr/docs/reference/sfxi-reference-overlay.md
  src/dnadesign/usr/scripts/build_reader_sfxi_reference_overlay.py
  src/dnadesign/usr/tests/scripts/test_build_reader_sfxi_reference_overlay.py
Due: core, external_integration, usr, opal

feat(usr): publish overlays atomically
  src/dnadesign/usr/src/dataset/__init__.py
  src/dnadesign/usr/src/datasets/overlay/write.py
  src/dnadesign/usr/tests/datasets/overlay/test_dataset_overlay_package_module.py
  src/dnadesign/usr/tests/overlays/test_overlays.py
Due: core, external_integration, usr

fix(package): satisfy module header contract
  src/dnadesign/studies/units/stress_ethanol_cipro_growth/decision/opal/sfxi_reference_overlay/__init__.py
  src/dnadesign/studies/units/stress_ethanol_cipro_growth/decision/opal/sfxi_reference_overlay/__main__.py
  src/dnadesign/studies/units/stress_ethanol_cipro_growth/decision/opal/sfxi_reference_overlay/cli.py
  src/dnadesign/studies/units/stress_ethanol_cipro_growth/decision/opal/sfxi_reference_overlay/reader_records.py
  src/dnadesign/studies/units/stress_ethanol_cipro_growth/decision/opal/sfxi_reference_overlay/recipe.py
  src/dnadesign/studies/units/stress_ethanol_cipro_growth/tests/decision/opal/sfxi_reference_overlay/__init__.py
  src/dnadesign/studies/units/stress_ethanol_cipro_growth/tests/decision/opal/sfxi_reference_overlay/test_cli.py
  src/dnadesign/usr/tests/datasets/overlay/test_create_only_publication.py
Due: core, external_integration, usr

fix(usr): validate events before publication
  src/dnadesign/usr/src/datasets/overlay/write.py
  src/dnadesign/usr/src/events/__init__.py
  src/dnadesign/usr/src/events/recording.py
  src/dnadesign/usr/tests/datasets/overlay/test_create_only_publication.py
Due: core, external_integration, usr

fix(study): bind Reader scoring to attested bytes
  src/dnadesign/studies/units/stress_ethanol_cipro_growth/decision/opal/sfxi_reference_overlay/reader_records.py
  src/dnadesign/studies/units/stress_ethanol_cipro_growth/tests/decision/opal/sfxi_reference_overlay/test_recipe.py
Due: core, external_integration

fix(artifacts): roll back failed event publications
  src/dnadesign/artifacts/owned_directory.py
  src/dnadesign/artifacts/publication.py
  src/dnadesign/artifacts/tests/test_publication_security.py
  src/dnadesign/usr/src/datasets/overlay/write.py
  src/dnadesign/usr/tests/datasets/overlay/test_create_only_publication.py
Due: core, external_integration, usr

fix(usr): publish overlays transactionally
  src/dnadesign/usr/src/datasets/overlay/write.py
  src/dnadesign/usr/tests/datasets/overlay/test_create_only_publication.py
  src/dnadesign/usr/tests/overlays/test_overlays.py
  src/dnadesign/usr/tests/tests_layout_inventory.py
Due: core, external_integration, usr

fix(study): package Reader selection contract
  pyproject.toml
  src/dnadesign/studies/units/stress_ethanol_cipro_growth/tests/decision/opal/sfxi_reference_overlay/test_recipe.py
Due: core, external_integration

fix(usr): coordinate event append transactions
  src/dnadesign/usr/AGENTS.md
  src/dnadesign/usr/docs/operations/sync/quickstart.md
  src/dnadesign/usr/ops/sync_audit_drill.py
  src/dnadesign/usr/src/datasets/overlay/write.py
  src/dnadesign/usr/src/events/__init__.py
  src/dnadesign/usr/src/events/append.py
  src/dnadesign/usr/src/events/gardening.py
  src/dnadesign/usr/src/events/recording.py
  src/dnadesign/usr/src/sync/remote/diff.py
  src/dnadesign/usr/src/sync/remote/remote.py
  src/dnadesign/usr/src/sync/remote/sidecars.py
  src/dnadesign/usr/src/sync/remote/transfer.py
  src/dnadesign/usr/tests/datasets/core/test_event_append_lock.py
  src/dnadesign/usr/tests/datasets/core/test_event_log_gardening.py
  src/dnadesign/usr/tests/datasets/overlay/test_create_only_publication.py
  src/dnadesign/usr/tests/source_layout_inventory.py
  src/dnadesign/usr/tests/sync/remote/test_remote_inventory_paths.py
  src/dnadesign/usr/tests/sync/remote/test_remote_rsync_contract.py
  src/dnadesign/usr/tests/sync/remote/test_transfer_runtime_locks.py
  src/dnadesign/usr/tests/sync/test_sync_iterative_batch_flow.py
  src/dnadesign/usr/tests/test_module_layout.py
  src/dnadesign/usr/tests/tests_layout_inventory.py
Due: core, external_integration, usr

fix(usr): serialize event-log pull promotion
  src/dnadesign/usr/src/sync/remote/transfer.py
  src/dnadesign/usr/tests/sync/remote/test_transfer_runtime_locks.py
Due: core, external_integration, usr

fix(usr): lock complete pull promotion
  src/dnadesign/usr/src/sync/remote/transfer.py
  src/dnadesign/usr/tests/sync/remote/test_transfer_runtime_locks.py
Due: core, external_integration, usr

fix(usr): preserve unclassified event publications
  src/dnadesign/usr/src/datasets/overlay/write.py
  src/dnadesign/usr/src/events/__init__.py
  src/dnadesign/usr/src/events/recording.py
  src/dnadesign/usr/tests/datasets/overlay/test_create_only_publication.py
Due: core, external_integration, usr

fix(usr): harden event publication boundaries
  src/dnadesign/artifacts/publication.py
  src/dnadesign/artifacts/tests/test_publication_security.py
  src/dnadesign/usr/src/events/append.py
  src/dnadesign/usr/src/sync/remote/remote.py
  src/dnadesign/usr/tests/datasets/overlay/test_create_only_publication.py
  src/dnadesign/usr/tests/sync/remote/test_remote_rsync_contract.py
Due: core, external_integration, usr
