Repository e-south/dnadesign: changes, and which Codecov flags are due for each by the changed paths.
All: core, external_integration, usr, notify, densegen, infer, opal, cluster, billboard, libshuffle, nmf, latdna, cruncher, tfkdanalysis, aligner, baserender, permuter

Fix CI changed-file checkout depth
  .github/workflows/ci.yaml
  src/dnadesign/devtools/tests/ci/test_workflow_contract.py
Due: core, external_integration

Fix indexed study ops contracts
  docs/studies/retron_hairpin_design/operations/contract/readiness/checks/msd_single_unit_materialize.yaml
  docs/studies/retron_hairpin_design/operations/contract/readiness/group-bindings.yaml
  docs/studies/rt_lnrna_sponging_construct_triage/operations/contract/lifecycle/mode.yaml
  docs/studies/rt_lnrna_sponging_construct_triage/operations/contract/lifecycle/phases.yaml
  docs/studies/rt_lnrna_sponging_construct_triage/operations/contract/readiness/checks/construct_subject_contract.yaml
  docs/studies/rt_lnrna_sponging_construct_triage/operations/contract/readiness/checks/genbank_source_authority.yaml
  docs/studies/rt_lnrna_sponging_construct_triage/operations/contract/readiness/checks/opal_precondition.yaml
  docs/studies/rt_lnrna_sponging_construct_triage/operations/contract/readiness/checks/overlay_linkage.yaml
  docs/studies/rt_lnrna_sponging_construct_triage/operations/contract/readiness/checks/reader_spop_label_materialization.yaml
  docs/studies/rt_lnrna_sponging_construct_triage/operations/contract/readiness/checks/representation_readiness.yaml
  docs/studies/rt_lnrna_sponging_construct_triage/operations/contract/readiness/group-bindings.yaml
  docs/studies/rt_lnrna_sponging_construct_triage/operations/contract/readiness/next-scope.yaml
  docs/studies/rt_lnrna_sponging_construct_triage/operations/contract/readiness/scope.yaml
  docs/studies/rt_lnrna_sponging_construct_triage/operations/contract/status/snapshot.yaml
  docs/studies/rt_lnrna_sponging_construct_triage/operations/contract/surfaces/artifacts.yaml
  docs/studies/rt_lnrna_sponging_construct_triage/operations/contract/surfaces/execution/commands/validation.yaml
  docs/studies/rt_lnrna_sponging_construct_triage/operations/contract/surfaces/execution/workspaces.yaml
  src/dnadesign/studies/tests/test_record_locator.py
Due: core, external_integration

Refine stress OPAL batch0 selector
  docs/studies/stress_ethanol_cipro_growth/record/synthesis_handoffs.yaml
  src/dnadesign/studies/units/stress_ethanol_cipro_growth/decision/opal/batch0/README.md
  src/dnadesign/studies/units/stress_ethanol_cipro_growth/decision/opal/batch0/sampling.yaml
  src/dnadesign/studies/units/stress_ethanol_cipro_growth/decision/opal/batch0/select.py
  src/dnadesign/studies/units/stress_ethanol_cipro_growth/tests/decision/opal/batch0/test_opal_batch0.py
Due: core, external_integration

Harden study status registry owner checks
  src/dnadesign/ops/status/registry_loader.py
  src/dnadesign/ops/tests/test_status_registry_lazy_loading.py
Due: core, external_integration

Raise Starlette security floor
  pyproject.toml
  uv.lock
Due: none

Align reader SPOP contract test with split readiness
  src/dnadesign/studies/units/rt_lnrna_sponging_construct_triage/tests/source/test_reader_spop_plan.py
Due: core, external_integration

Stabilize OPS state property tests
  src/dnadesign/ops/tests/test_state_semantics.py
Due: core, external_integration

Resolve retron status by registered study surface
  src/dnadesign/studies/core/__init__.py
  src/dnadesign/studies/core/record_locator.py
  src/dnadesign/studies/tests/test_record_locator.py
  src/dnadesign/studies/units/retron_hairpin_design/status/record_normalizer.py
  src/dnadesign/studies/units/retron_hairpin_design/tests/status/test_snapshot.py
Due: core, external_integration

Lock sequence view alias repair before reading
  src/dnadesign/usr/src/sequence_views/maintenance.py
  src/dnadesign/usr/tests/datasets/views/test_sequence_view_alias_repair.py
Due: core, external_integration, usr

Harden construct composition reruns
  src/dnadesign/construct/src/composition/bundle.py
  src/dnadesign/construct/src/composition/folding_runtime.py
  src/dnadesign/construct/src/composition/runtime.py
  src/dnadesign/construct/tests/runtime/test_composition_bundle.py
  src/dnadesign/construct/tests/runtime/test_linear_ssdna_composition.py
Due: core, external_integration

Keep handoff record preview read-only
  docs/studies/stress_ethanol_cipro_growth/contexts/opal/synthesis-handoff.md
  src/dnadesign/studies/units/stress_ethanol_cipro_growth/decision/opal/synthesis_handoff/README.md
  src/dnadesign/studies/units/stress_ethanol_cipro_growth/decision/opal/synthesis_handoff/cli.py
  src/dnadesign/studies/units/stress_ethanol_cipro_growth/tests/decision/opal/synthesis_handoff/test_synthesis_handoff_contracts.py
Due: core, external_integration

Clear stale folding manifest mirrors
  src/dnadesign/construct/src/composition/bundle.py
  src/dnadesign/construct/tests/runtime/test_composition_bundle.py
Due: core, external_integration

Validate batch0 candidate writes with config
  src/dnadesign/studies/units/stress_ethanol_cipro_growth/decision/opal/batch0/candidate_table.py
  src/dnadesign/studies/units/stress_ethanol_cipro_growth/tests/decision/opal/batch0/test_opal_batch0.py
Due: core, external_integration

Add Eco1 RT repack status skill
  .agents/skills/eco1-rt-repack-status/SKILL.md
  .agents/skills/eco1-rt-repack-status/agents/openai.yaml
  .agents/skills/eco1-rt-repack-status/references/external-sources.md
  .agents/skills/eco1-rt-repack-status/references/refresh-loop.md
  .agents/skills/eco1-rt-repack-status/references/route-matrix.md
  .agents/skills/eco1-rt-repack-status/references/study-surfaces.md
  .agents/skills/eco1-rt-repack-status/references/test-matrix.md
  .agents/skills/eco1-rt-repack-status/scripts/audit-eco1-rt-repack-status-skill.sh
  docs/studies/README.md
Due: none

Modernize aligner MSA boundaries
  pixi.lock
  pixi.toml
  src/dnadesign/aligner/README.md
  src/dnadesign/aligner/__init__.py
  src/dnadesign/aligner/align.py
  src/dnadesign/aligner/cache.py
  src/dnadesign/aligner/docs/README.md
  src/dnadesign/aligner/docs/msa.md
  src/dnadesign/aligner/docs/pairwise.md
  src/dnadesign/aligner/docs/reference.md
  src/dnadesign/aligner/example.py
  src/dnadesign/aligner/matrix.py
  src/dnadesign/aligner/metrics.py
  src/dnadesign/aligner/msa/__init__.py
  src/dnadesign/aligner/msa/backends/__init__.py
  src/dnadesign/aligner/msa/backends/mafft.py
  src/dnadesign/aligner/msa/bundles/__init__.py
  src/dnadesign/aligner/msa/bundles/manifest.py
  src/dnadesign/aligner/msa/contracts.py
  src/dnadesign/aligner/msa/fasta.py
  src/dnadesign/aligner/msa/validation.py
  src/dnadesign/aligner/pairwise/__init__.py
  src/dnadesign/aligner/pairwise/cache.py
  src/dnadesign/aligner/pairwise/matrix.py
  src/dnadesign/aligner/pairwise/scoring.py
  src/dnadesign/aligner/pairwise/validation.py
  src/dnadesign/aligner/tests/architecture/test_information_architecture.py
  src/dnadesign/aligner/tests/msa/test_fasta_validation.py
  src/dnadesign/aligner/tests/msa/test_mafft_backend.py
  src/dnadesign/aligner/tests/pairwise/test_public_api.py
  src/dnadesign/aligner/utils.py
  src/dnadesign/billboard/core.py
  src/dnadesign/cluster/src/analysis/intra_similarity.py
  src/dnadesign/libshuffle/metrics.py
Due: core, external_integration, cluster, billboard, libshuffle, aligner

Add Eco1 source sequence sufficiency gate
  .agents/skills/eco1-rt-repack-status/SKILL.md
  .agents/skills/eco1-rt-repack-status/references/route-matrix.md
  .agents/skills/eco1-rt-repack-status/references/study-surfaces.md
  .agents/skills/eco1-rt-repack-status/references/test-matrix.md
  docs/dev/plans/cross-tool/thread/2026-06-19-eco1-rt-repack-thread.md
  docs/studies/eco1_rt_repack/contexts/implementation-roadmap.md
  docs/studies/eco1_rt_repack/contexts/msa-method.md
  docs/studies/eco1_rt_repack/record/campaign.yaml
  docs/studies/eco1_rt_repack/record/datasets.yaml
  docs/studies/eco1_rt_repack/record/status.md
  docs/studies/eco1_rt_repack/routes/README.md
  src/dnadesign/studies/units/eco1_rt_repack/README.md
  src/dnadesign/studies/units/eco1_rt_repack/operations/materialization/source_sequences/__init__.py
  src/dnadesign/studies/units/eco1_rt_repack/operations/materialization/source_sequences/__main__.py
  src/dnadesign/studies/units/eco1_rt_repack/operations/materialization/source_sequences/checks.py
  src/dnadesign/studies/units/eco1_rt_repack/operations/materialization/source_sequences/io.py
  src/dnadesign/studies/units/eco1_rt_repack/operations/materialization/source_sequences/issues.py
  src/dnadesign/studies/units/eco1_rt_repack/operations/materialization/source_sequences/manifest.py
  src/dnadesign/studies/units/eco1_rt_repack/operations/materialization/source_sequences/paths.py
  src/dnadesign/studies/units/eco1_rt_repack/operations/materialization/source_sequences/pipeline.py
  src/dnadesign/studies/units/eco1_rt_repack/operations/materialization/source_sequences/providers/__init__.py
  src/dnadesign/studies/units/eco1_rt_repack/operations/materialization/source_sequences/providers/cache.py
  src/dnadesign/studies/units/eco1_rt_repack/operations/materialization/source_sequences/sufficiency.py
  src/dnadesign/studies/units/eco1_rt_repack/tests/contracts/test_information_architecture.py
  src/dnadesign/studies/units/eco1_rt_repack/tests/materialization/source_sequences/__init__.py
  src/dnadesign/studies/units/eco1_rt_repack/tests/materialization/source_sequences/_fixtures.py
  src/dnadesign/studies/units/eco1_rt_repack/tests/materialization/source_sequences/test_materialization.py
  src/dnadesign/studies/units/eco1_rt_repack/tests/materialization/source_sequences/test_sufficiency.py
Due: core, external_integration

Add Eco1 conservation roster cache materializer
  src/dnadesign/studies/units/eco1_rt_repack/operations/materialization/source_sequences/__init__.py
  src/dnadesign/studies/units/eco1_rt_repack/operations/materialization/source_sequences/contracts/__init__.py
  src/dnadesign/studies/units/eco1_rt_repack/operations/materialization/source_sequences/contracts/conservation_sources.py
  src/dnadesign/studies/units/eco1_rt_repack/operations/materialization/source_sequences/roster_cache/__init__.py
  src/dnadesign/studies/units/eco1_rt_repack/operations/materialization/source_sequences/roster_cache/__main__.py
  src/dnadesign/studies/units/eco1_rt_repack/operations/materialization/source_sequences/roster_cache/manifest.py
  src/dnadesign/studies/units/eco1_rt_repack/operations/materialization/source_sequences/roster_cache/models.py
  src/dnadesign/studies/units/eco1_rt_repack/operations/materialization/source_sequences/roster_cache/pipeline.py
  src/dnadesign/studies/units/eco1_rt_repack/operations/materialization/source_sequences/roster_cache/providers.py
  src/dnadesign/studies/units/eco1_rt_repack/operations/materialization/source_sequences/roster_cache/roster.py
  src/dnadesign/studies/units/eco1_rt_repack/tests/materialization/source_sequences/roster_cache/__init__.py
  src/dnadesign/studies/units/eco1_rt_repack/tests/materialization/source_sequences/roster_cache/_fixtures.py
  src/dnadesign/studies/units/eco1_rt_repack/tests/materialization/source_sequences/roster_cache/test_materialization.py
Due: core, external_integration

Harden Eco1 source sequence IA
  .agents/skills/eco1-rt-repack-status/references/route-matrix.md
  .agents/skills/eco1-rt-repack-status/references/study-surfaces.md
  .agents/skills/eco1-rt-repack-status/references/test-matrix.md
  .agents/skills/eco1-rt-repack-status/scripts/audit-eco1-rt-repack-status-skill.sh
  docs/studies/eco1_rt_repack/contexts/implementation-roadmap.md
  docs/studies/eco1_rt_repack/contexts/msa-method.md
  docs/studies/eco1_rt_repack/record/datasets.yaml
  docs/studies/eco1_rt_repack/record/status.md
  docs/studies/eco1_rt_repack/routes/README.md
  src/dnadesign/studies/units/eco1_rt_repack/README.md
  src/dnadesign/studies/units/eco1_rt_repack/operations/materialization/source_sequences/checks.py
  src/dnadesign/studies/units/eco1_rt_repack/operations/materialization/source_sequences/pipeline.py
  src/dnadesign/studies/units/eco1_rt_repack/operations/materialization/source_sequences/sufficiency.py
  src/dnadesign/studies/units/eco1_rt_repack/operations/materialization/source_sequences/sufficiency/__init__.py
  src/dnadesign/studies/units/eco1_rt_repack/operations/materialization/source_sequences/sufficiency/__main__.py
  src/dnadesign/studies/units/eco1_rt_repack/operations/materialization/source_sequences/sufficiency/cache_hashes.py
  src/dnadesign/studies/units/eco1_rt_repack/operations/materialization/source_sequences/sufficiency/cli.py
  src/dnadesign/studies/units/eco1_rt_repack/operations/materialization/source_sequences/sufficiency/context.py
  src/dnadesign/studies/units/eco1_rt_repack/operations/materialization/source_sequences/sufficiency/fasta.py
  src/dnadesign/studies/units/eco1_rt_repack/operations/materialization/source_sequences/sufficiency/manifests.py
  src/dnadesign/studies/units/eco1_rt_repack/operations/materialization/source_sequences/sufficiency/pipeline.py
  src/dnadesign/studies/units/eco1_rt_repack/operations/materialization/source_sequences/sufficiency/provider_policy.py
  src/dnadesign/studies/units/eco1_rt_repack/operations/materialization/source_sequences/sufficiency/report.py
  src/dnadesign/studies/units/eco1_rt_repack/tests/contracts/test_information_architecture.py
Due: core, external_integration

Add Eco1 conservation source sequence materializers
  docs/dev/plans/cross-tool/thread/2026-06-19-eco1-rt-repack-thread.md
  docs/studies/eco1_rt_repack/contexts/implementation-roadmap.md
  docs/studies/eco1_rt_repack/contexts/msa-method.md
  docs/studies/eco1_rt_repack/record/datasets.yaml
  docs/studies/eco1_rt_repack/record/status.md
  docs/studies/eco1_rt_repack/routes/README.md
  docs/studies/eco1_rt_repack/workbench/provenance/conservation-sources.yaml
  src/dnadesign/studies/units/eco1_rt_repack/README.md
  src/dnadesign/studies/units/eco1_rt_repack/operations/materialization/source_sequences/__init__.py
  src/dnadesign/studies/units/eco1_rt_repack/operations/materialization/source_sequences/__main__.py
  src/dnadesign/studies/units/eco1_rt_repack/operations/materialization/source_sequences/cli.py
  src/dnadesign/studies/units/eco1_rt_repack/operations/materialization/source_sequences/contracts/__init__.py
  src/dnadesign/studies/units/eco1_rt_repack/operations/materialization/source_sequences/contracts/conservation_sources.py
  src/dnadesign/studies/units/eco1_rt_repack/operations/materialization/source_sequences/contracts/provider_accessions.py
  src/dnadesign/studies/units/eco1_rt_repack/operations/materialization/source_sequences/paths.py
  src/dnadesign/studies/units/eco1_rt_repack/operations/materialization/source_sequences/pipeline.py
  src/dnadesign/studies/units/eco1_rt_repack/operations/materialization/source_sequences/provider_sources/__init__.py
  src/dnadesign/studies/units/eco1_rt_repack/operations/materialization/source_sequences/provider_sources/__main__.py
  src/dnadesign/studies/units/eco1_rt_repack/operations/materialization/source_sequences/provider_sources/bv_brc.py
  src/dnadesign/studies/units/eco1_rt_repack/operations/materialization/source_sequences/provider_sources/cli.py
  src/dnadesign/studies/units/eco1_rt_repack/operations/materialization/source_sequences/provider_sources/fasta.py
  src/dnadesign/studies/units/eco1_rt_repack/operations/materialization/source_sequences/provider_sources/http.py
  src/dnadesign/studies/units/eco1_rt_repack/operations/materialization/source_sequences/provider_sources/manifest.py
  src/dnadesign/studies/units/eco1_rt_repack/operations/materialization/source_sequences/provider_sources/ncbi.py
  src/dnadesign/studies/units/eco1_rt_repack/operations/materialization/source_sequences/provider_sources/pipeline.py
  src/dnadesign/studies/units/eco1_rt_repack/operations/materialization/source_sequences/roster_cache/__main__.py
  src/dnadesign/studies/units/eco1_rt_repack/operations/materialization/source_sequences/roster_cache/cli.py
  src/dnadesign/studies/units/eco1_rt_repack/operations/materialization/source_sequences/roster_cache/pipeline.py
  src/dnadesign/studies/units/eco1_rt_repack/operations/materialization/source_sequences/roster_cache/providers.py
  src/dnadesign/studies/units/eco1_rt_repack/operations/materialization/source_sequences/roster_cache/roster.py
  src/dnadesign/studies/units/eco1_rt_repack/operations/materialization/source_sequences/sufficiency/manifests.py
  src/dnadesign/studies/units/eco1_rt_repack/operations/materialization/source_sequences/sufficiency/provider_policy.py
  src/dnadesign/studies/units/eco1_rt_repack/tests/contracts/test_information_architecture.py
  src/dnadesign/studies/units/eco1_rt_repack/tests/materialization/source_sequences/contracts/__init__.py
  src/dnadesign/studies/units/eco1_rt_repack/tests/materialization/source_sequences/contracts/test_provider_accessions.py
  src/dnadesign/studies/units/eco1_rt_repack/tests/materialization/source_sequences/provider_sources/__init__.py
  src/dnadesign/studies/units/eco1_rt_repack/tests/materialization/source_sequences/provider_sources/test_materialization.py
  src/dnadesign/studies/units/eco1_rt_repack/tests/materialization/source_sequences/roster_cache/test_materialization.py
  src/dnadesign/studies/units/eco1_rt_repack/tests/materialization/source_sequences/sufficiency/__init__.py
  src/dnadesign/studies/units/eco1_rt_repack/tests/materialization/source_sequences/sufficiency/test_sufficiency.py
Due: core, external_integration

Harden Eco1 repack status routing
  .agents/skills/eco1-rt-repack-status/references/route-matrix.md
  .agents/skills/eco1-rt-repack-status/references/study-surfaces.md
  .agents/skills/eco1-rt-repack-status/references/test-matrix.md
  .agents/skills/eco1-rt-repack-status/scripts/audit-eco1-rt-repack-status-skill.sh
Due: none

Harden aligner MSA visualization APIs
  src/dnadesign/aligner/docs/msa.md
  src/dnadesign/aligner/msa/__init__.py
  src/dnadesign/aligner/msa/backends/mafft.py
  src/dnadesign/aligner/msa/bundles/manifest.py
  src/dnadesign/aligner/msa/contracts.py
  src/dnadesign/aligner/msa/visualization/__init__.py
  src/dnadesign/aligner/msa/visualization/__main__.py
  src/dnadesign/aligner/msa/visualization/cli.py
  src/dnadesign/aligner/msa/visualization/contracts/__init__.py
  src/dnadesign/aligner/msa/visualization/contracts/annotation_tracks.py
  src/dnadesign/aligner/msa/visualization/contracts/exemplar_rows.py
  src/dnadesign/aligner/msa/visualization/contracts/models.py
  src/dnadesign/aligner/msa/visualization/contracts/panel_spec.py
  src/dnadesign/aligner/msa/visualization/materialization/__init__.py
  src/dnadesign/aligner/msa/visualization/materialization/pipeline.py
  src/dnadesign/aligner/msa/visualization/materialization/qc.py
  src/dnadesign/aligner/msa/visualization/materialization/writers.py
  src/dnadesign/aligner/msa/visualization/renderers/__init__.py
  src/dnadesign/aligner/msa/visualization/renderers/exemplar_windows.py
  src/dnadesign/aligner/msa/visualization/renderers/feature_labels.py
  src/dnadesign/aligner/msa/visualization/renderers/panels.py
  src/dnadesign/aligner/msa/visualization/renderers/profile_qc.py
  src/dnadesign/aligner/pairwise/cache.py
  src/dnadesign/aligner/pairwise/scoring.py
  src/dnadesign/aligner/tests/msa/test_mafft_backend.py
  src/dnadesign/aligner/tests/msa/visualization/__init__.py
  src/dnadesign/aligner/tests/msa/visualization/_fixtures.py
  src/dnadesign/aligner/tests/msa/visualization/test_materialization.py
  src/dnadesign/aligner/tests/pairwise/test_public_api.py
  src/dnadesign/baserender/src/render/sequence_rows.py
  src/dnadesign/baserender/tests/test_sequence_rows_visual_metadata.py
Due: core, external_integration, aligner, baserender

Refresh stale docs verification metadata
  src/dnadesign/cluster/docs/README.md
  src/dnadesign/cluster/docs/index.md
  src/dnadesign/construct/docs/README.md
  src/dnadesign/construct/docs/index.md
  src/dnadesign/usr/docs/operations/assembly/construct-infer-shared-dataset-runbook.md
  src/dnadesign/usr/docs/operations/promoter/evo2-journey.md
  src/dnadesign/usr/docs/operations/sync/chained-densegen-infer-runbook.md
  src/dnadesign/usr/docs/operations/sync/fidelity-drills.md
Due: core, external_integration, usr, cluster

Skip Eco1 ec86kit materialization tests without sibling data
  src/dnadesign/studies/units/eco1_rt_repack/tests/_helpers.py
  src/dnadesign/studies/units/eco1_rt_repack/tests/contracts/test_phase_contracts.py
  src/dnadesign/studies/units/eco1_rt_repack/tests/materialization/conservation/test_materialization.py
  src/dnadesign/studies/units/eco1_rt_repack/tests/materialization/conservation_alignments/test_materialization.py
  src/dnadesign/studies/units/eco1_rt_repack/tests/materialization/contact/test_materialization.py
  src/dnadesign/studies/units/eco1_rt_repack/tests/materialization/source_sequences/roster_cache/_fixtures.py
  src/dnadesign/studies/units/eco1_rt_repack/tests/materialization/source_sequences/sufficiency/test_sufficiency.py
  src/dnadesign/studies/units/eco1_rt_repack/tests/materialization/source_sequences/test_materialization.py
  src/dnadesign/studies/units/eco1_rt_repack/tests/materialization/structure/test_materialization.py
Due: core, external_integration

Make retron hairpin review tests self-contained
  .agents/skills/retron-hairpin-study/scripts/audit-retron-hairpin-study-skill.sh
  src/dnadesign/studies/units/retron_hairpin_design/tests/compiler/test_boundaries.py
  src/dnadesign/studies/units/retron_hairpin_design/tests/review_outputs/package/test_generation.py
  src/dnadesign/studies/units/retron_hairpin_design/tests/review_outputs/package/test_validation_failures.py
  src/dnadesign/studies/units/retron_hairpin_design/tests/review_outputs/pwm/test_retention.py
  src/dnadesign/studies/units/retron_hairpin_design/tests/support/pwm_fixtures.py
  src/dnadesign/studies/units/retron_hairpin_design/tests/support/review_outputs.py
  src/dnadesign/studies/units/retron_hairpin_design/tests/support/review_plans.py
Due: core, external_integration

Fix aligner review feedback
  src/dnadesign/aligner/msa/contracts.py
  src/dnadesign/aligner/msa/visualization/materialization/pipeline.py
  src/dnadesign/aligner/msa/visualization/materialization/writers.py
  src/dnadesign/aligner/pairwise/cache.py
  src/dnadesign/aligner/pairwise/scoring.py
  src/dnadesign/aligner/tests/msa/test_clustalo_backend.py
  src/dnadesign/aligner/tests/msa/visualization/_fixtures.py
  src/dnadesign/aligner/tests/msa/visualization/test_materialization.py
  src/dnadesign/aligner/tests/pairwise/test_public_api.py
Due: core, external_integration, aligner

Fix study and OPAL review feedback
  src/dnadesign/opal/src/storage/data_access.py
  src/dnadesign/opal/tests/transforms/test_transform_matrix.py
  src/dnadesign/studies/units/rt_lnrna_sponging_construct_triage/construct_projection.py
  src/dnadesign/studies/units/rt_lnrna_sponging_construct_triage/tests/construct/test_projection.py
  src/dnadesign/studies/units/stress_ethanol_cipro_growth/decision/opal/batch0/select.py
  src/dnadesign/studies/units/stress_ethanol_cipro_growth/tests/decision/opal/batch0/test_opal_batch0.py
Due: core, external_integration, opal

Fix MSA visualization manifest links
  src/dnadesign/aligner/msa/visualization/materialization/writers.py
  src/dnadesign/aligner/tests/msa/visualization/test_materialization.py
Due: core, external_integration, aligner

Update Retron hairpin skill routing
  .agents/skills/retron-hairpin-study/SKILL.md
  .agents/skills/retron-hairpin-study/references/route-matrix.md
  .agents/skills/retron-hairpin-study/references/study-surfaces.md
  .agents/skills/retron-hairpin-study/references/test-matrix.md
  .agents/skills/retron-hairpin-study/scripts/audit-retron-hairpin-study-skill.sh
  src/dnadesign/studies/units/retron_hairpin_design/tests/test_study_docs_and_skill_contracts.py
Due: core, external_integration

Update Eco1 status routing
  .agents/skills/eco1-rt-repack-status/SKILL.md
  .agents/skills/eco1-rt-repack-status/references/external-sources.md
  .agents/skills/eco1-rt-repack-status/references/route-matrix.md
  .agents/skills/eco1-rt-repack-status/references/study-surfaces.md
  .agents/skills/eco1-rt-repack-status/references/test-matrix.md
  .agents/skills/eco1-rt-repack-status/scripts/audit-eco1-rt-repack-status-skill.sh
  docs/dev/plans/cross-tool/thread/2026-06-19-eco1-rt-repack-thread.md
Due: none

Add generic thread ProteinMPNN adapter
  README.md
  codecov.yml
  src/dnadesign/devtools/architecture/boundaries.py
  src/dnadesign/thread/README.md
  src/dnadesign/thread/__init__.py
  src/dnadesign/thread/adapters/__init__.py
  src/dnadesign/thread/adapters/proteinmpnn/__init__.py
  src/dnadesign/thread/adapters/proteinmpnn/execution.py
  src/dnadesign/thread/adapters/proteinmpnn/execution_preflight.py
  src/dnadesign/thread/adapters/proteinmpnn/hashing.py
  src/dnadesign/thread/adapters/proteinmpnn/manifest.py
  src/dnadesign/thread/adapters/proteinmpnn/models.py
  src/dnadesign/thread/adapters/proteinmpnn/positions.py
  src/dnadesign/thread/adapters/proteinmpnn/samples.py
  src/dnadesign/thread/adapters/proteinmpnn/sidecars.py
  src/dnadesign/thread/adapters/proteinmpnn/structure.py
  src/dnadesign/thread/adapters/proteinmpnn/validation.py
  src/dnadesign/thread/assets/thread-banner.svg
  src/dnadesign/thread/candidates/__init__.py
  src/dnadesign/thread/candidates/proteinmpnn.py
  src/dnadesign/thread/docs/README.md
  src/dnadesign/thread/tests/__init__.py
  src/dnadesign/thread/tests/adapters/__init__.py
  src/dnadesign/thread/tests/adapters/proteinmpnn/__init__.py
  src/dnadesign/thread/tests/adapters/proteinmpnn/test_execution_and_samples.py
  src/dnadesign/thread/tests/adapters/proteinmpnn/test_request_adapter.py
  src/dnadesign/thread/tests/test_package_layout.py
  src/dnadesign/thread/tests/test_proteinmpnn_candidates.py
Due: core, external_integration

Path conditions:
  core: any of: src/dnadesign
  external_integration: any of: src/dnadesign
  usr: any of: src/dnadesign/usr/**
  notify: any of: src/dnadesign/notify/**
  densegen: any of: src/dnadesign/densegen/**
  infer: any of: src/dnadesign/infer/**
  opal: any of: src/dnadesign/opal/**
  cluster: any of: src/dnadesign/cluster/**
  billboard: any of: src/dnadesign/billboard/**
  libshuffle: any of: src/dnadesign/libshuffle/**
  nmf: any of: src/dnadesign/nmf/**
  latdna: any of: src/dnadesign/latdna/**
  cruncher: any of: src/dnadesign/cruncher/**
  tfkdanalysis: any of: src/dnadesign/tfkdanalysis/**
  aligner: any of: src/dnadesign/aligner/**
  baserender: any of: src/dnadesign/baserender/**
  permuter: any of: src/dnadesign/permuter/**
