Repository e-south/dnadesign: changes, and which Codecov flags are due for each by the changed paths.
All: core, external_integration, usr, notify, densegen, infer, opal, cluster, billboard, libshuffle, nmf, latdna, cruncher, tfkdanalysis, aligner, baserender, permuter

codecov.yml:

codecov:
  require_ci_to_pass: true

coverage:
  precision: 2
  round: down
  range: "0...100"
  status:
    project:
      default:
        target: auto
        threshold: 0.5%
        if_ci_failed: error
        if_not_found: failure
    patch:
      default:
        target: auto
        threshold: 0.5%
        if_ci_failed: error
        if_not_found: failure

flags:
  core:
    paths:
      - src/dnadesign
    carryforward: false
  external_integration:
    paths:
      - src/dnadesign
    carryforward: false

component_management:
  default_rules:
    statuses:
      - type: project
        target: auto
        threshold: 0.5%
        if_ci_failed: error
        if_not_found: failure
  individual_components:
    - component_id: usr
      name: usr
      paths:
        - src/dnadesign/usr/**
    - component_id: notify
      name: notify
      paths:
        - src/dnadesign/notify/**
    - component_id: densegen
      name: densegen
      paths:
        - src/dnadesign/densegen/**
    - component_id: infer
      name: infer
      paths:
        - src/dnadesign/infer/**
    - component_id: opal
      name: opal
      paths:
        - src/dnadesign/opal/**
    - component_id: cluster
      name: cluster
      paths:
        - src/dnadesign/cluster/**
    - component_id: billboard
      name: billboard
      paths:
        - src/dnadesign/billboard/**
    - component_id: libshuffle
      name: libshuffle
      paths:
        - src/dnadesign/libshuffle/**
    - component_id: nmf
      name: nmf
      paths:
        - src/dnadesign/nmf/**
    - component_id: latdna
      name: latdna
      paths:
        - src/dnadesign/latdna/**
    - component_id: cruncher
      name: cruncher
      paths:
        - src/dnadesign/cruncher/**
    - component_id: tfkdanalysis
      name: tfkdanalysis
      paths:
        - src/dnadesign/tfkdanalysis/**
    - component_id: aligner
      name: aligner
      paths:
        - src/dnadesign/aligner/**
    - component_id: baserender
      name: baserender
      paths:
        - src/dnadesign/baserender/**
    - component_id: permuter
      name: permuter
      paths:
        - src/dnadesign/permuter/**

comment:
  require_changes: true
  layout: "reach,diff,flags,components,files"

github_checks:
  annotations: true

feat(thread): prove LigandMPNN atom context
  src/dnadesign/thread/README.md
  src/dnadesign/thread/adapters/ligandmpnn/__init__.py
  src/dnadesign/thread/adapters/ligandmpnn/context_inventory.py
  src/dnadesign/thread/adapters/ligandmpnn/context_probe.py
  src/dnadesign/thread/adapters/ligandmpnn/context_probe_cli.py
  src/dnadesign/thread/adapters/ligandmpnn/models.py
  src/dnadesign/thread/adapters/ligandmpnn/preflight.py
  src/dnadesign/thread/adapters/ligandmpnn/receipts.py
  src/dnadesign/thread/adapters/ligandmpnn/score_results.py
  src/dnadesign/thread/adapters/ligandmpnn/scoring.py
  src/dnadesign/thread/docs/README.md
  src/dnadesign/thread/tests/adapters/ligandmpnn/test_adapter.py
  src/dnadesign/thread/tests/adapters/ligandmpnn/test_alphabets.py
  src/dnadesign/thread/tests/adapters/ligandmpnn/test_context_probe.py
  src/dnadesign/thread/tests/adapters/ligandmpnn/test_preflight.py
  src/dnadesign/thread/tests/adapters/ligandmpnn/test_score_results.py
  src/dnadesign/thread/tests/adapters/ligandmpnn/test_scoring.py
  src/dnadesign/thread/tests/test_package_layout.py
Due: core, external_integration

feat: bind runtime tools to an explicit USR root
  docs/setup/dependencies.md
  docs/setup/installation.md
  pyproject.toml
  src/dnadesign/construct/docs/reference/cli.md
  src/dnadesign/construct/src/cli/commands/run.py
  src/dnadesign/construct/src/cli/commands/validate.py
  src/dnadesign/construct/src/cli/commands/workspace.py
  src/dnadesign/construct/src/interfaces/api.py
  src/dnadesign/construct/src/orchestration/runtime.py
  src/dnadesign/construct/src/sources/templates.py
  src/dnadesign/construct/tests/cli/test_usr_root_surfaces.py
  src/dnadesign/construct/tests/cli/test_validate_command_runtime.py
  src/dnadesign/construct/tests/cli/test_workspace_command.py
  src/dnadesign/construct/tests/runtime/test_run_construct_preflight.py
  src/dnadesign/construct/tests/test_api.py
  src/dnadesign/construct/tests/test_docs_contract.py
  src/dnadesign/devtools/architecture/boundaries.py
  src/dnadesign/devtools/tests/architecture/test_boundaries.py
  src/dnadesign/devtools/tests/docs/test_tooling_versions.py
  src/dnadesign/opal/docs/reference/cli.md
  src/dnadesign/opal/src/cli/app.py
  src/dnadesign/opal/src/cli/commands/_common.py
  src/dnadesign/opal/src/config/loader.py
  src/dnadesign/opal/tests/cli/test_cli_config_discovery.py
  src/dnadesign/opal/tests/cli/test_docs_workflow_routing.py
  src/dnadesign/opal/tests/config/test_config_manifest_pinned_labels.py
  src/dnadesign/ops/preflight/support.py
  src/dnadesign/ops/tests/test_preflight_contract_checks.py
  src/dnadesign/usr/__init__.py
  src/dnadesign/usr/src/api/__init__.py
  src/dnadesign/usr/src/cli/support/resolution/roots.py
  src/dnadesign/usr/tests/test_root_resolution_contract.py
Due: core, external_integration, usr, opal

feat: add selection-view performance analysis
  src/dnadesign/opal/__init__.py
  src/dnadesign/opal/api/__init__.py
  src/dnadesign/opal/api/selection_view_performance.py
  src/dnadesign/opal/src/analysis/selection_views/__init__.py
  src/dnadesign/opal/src/analysis/selection_views/performance.py
  src/dnadesign/opal/src/plots/selection_view_performance.py
  src/dnadesign/opal/tests/api/test_selection_view_performance_api.py
Due: core, external_integration, opal

test: normalize Construct help output
  src/dnadesign/construct/tests/cli/test_usr_root_surfaces.py
Due: core, external_integration

fix(baserender): preserve caller-owned panel titles
  src/dnadesign/baserender/src/public/api.py
  src/dnadesign/baserender/src/render/sequence_rows.py
  src/dnadesign/baserender/tests/test_sequence_panel_layout.py
Due: core, external_integration, baserender

fix(construct): preserve explicit template roots
  src/dnadesign/construct/src/sources/templates.py
  src/dnadesign/construct/tests/runtime/test_sources.py
Due: core, external_integration

refactor(usr): own explicit roots in contracts
  src/dnadesign/usr/src/api/__init__.py
  src/dnadesign/usr/src/cli/support/resolution/roots.py
  src/dnadesign/usr/src/contracts/roots.py
  src/dnadesign/usr/tests/test_root_resolution_contract.py
Due: core, external_integration, usr

fix(opal): preserve selection view memberships
  src/dnadesign/opal/src/analysis/selection_views/performance.py
  src/dnadesign/opal/src/plots/selection_view_performance.py
  src/dnadesign/opal/tests/api/test_selection_view_performance_api.py
Due: core, external_integration, opal

fix(opal): bind explicit roots across analysis commands
  src/dnadesign/opal/src/analysis/campaign/analysis.py
  src/dnadesign/opal/src/analysis/campaign/loading.py
  src/dnadesign/opal/src/cli/commands/_common.py
  src/dnadesign/opal/src/cli/commands/notebook.py
  src/dnadesign/opal/src/cli/commands/plot.py
  src/dnadesign/opal/tests/cli/test_cli_config_discovery.py
  src/dnadesign/opal/tests/config/test_config_manifest_pinned_labels.py
Due: core, external_integration, opal

test(usr): declare root contract module
  src/dnadesign/usr/tests/source_layout_inventory.py
Due: core, external_integration, usr

fix(opal): bind notebook runtime usr roots
  src/dnadesign/opal/notebooks/api/generated.py
  src/dnadesign/opal/src/analysis/notebook_components/baserender_campaign_context.py
  src/dnadesign/opal/src/analysis/notebook_scope/__init__.py
  src/dnadesign/opal/src/analysis/notebook_scope/usr_root.py
  src/dnadesign/opal/src/analysis/notebook_set_template/renderer.py
  src/dnadesign/opal/src/analysis/notebook_set_template/setup_cells.py
  src/dnadesign/opal/src/analysis/notebook_template/renderer.py
  src/dnadesign/opal/src/cli/commands/_common.py
  src/dnadesign/opal/src/cli/commands/notebook.py
  src/dnadesign/opal/src/cli/commands/notebook_support.py
  src/dnadesign/opal/src/reporting/artifact_garden.py
  src/dnadesign/opal/src/reporting/notebook.py
  src/dnadesign/opal/src/reporting/notebook_set.py
  src/dnadesign/opal/src/reporting/progress.py
  src/dnadesign/opal/src/reporting/selection_set.py
  src/dnadesign/opal/tests/analysis/test_notebook_usr_root.py
  src/dnadesign/opal/tests/cli/test_cli_config_discovery.py
  src/dnadesign/opal/tests/cli/test_cli_notebook_generate.py
  src/dnadesign/opal/tests/reporting/test_notebook.py
Due: core, external_integration, opal

fix(baserender): deduplicate promoter labels
  src/dnadesign/baserender/src/integrations/usr/genbank_annotations_v1.py
  src/dnadesign/baserender/src/render/sequence_rows.py
  src/dnadesign/baserender/tests/test_usr_genbank_adapter.py
Due: core, external_integration, baserender

docs(thread): verify LigandMPNN routes
  src/dnadesign/thread/docs/README.md
Due: core, external_integration

fix(thread): reject dirty LigandMPNN entrypoints
  src/dnadesign/thread/adapters/ligandmpnn/preflight.py
  src/dnadesign/thread/tests/adapters/ligandmpnn/test_preflight.py
Due: core, external_integration

fix(thread): validate receipt context evidence
  src/dnadesign/thread/adapters/ligandmpnn/context_inventory.py
  src/dnadesign/thread/adapters/ligandmpnn/receipts.py
  src/dnadesign/thread/tests/adapters/ligandmpnn/_context_inventory.py
  src/dnadesign/thread/tests/adapters/ligandmpnn/test_adapter.py
  src/dnadesign/thread/tests/adapters/ligandmpnn/test_alphabets.py
Due: core, external_integration

fix(thread): verify pinned entrypoint bytes
  src/dnadesign/thread/adapters/ligandmpnn/preflight.py
  src/dnadesign/thread/tests/adapters/ligandmpnn/test_preflight.py
Due: core, external_integration

fix(thread): attest pinned parser bytes
  src/dnadesign/thread/adapters/ligandmpnn/context_probe.py
  src/dnadesign/thread/adapters/ligandmpnn/pinned_checkout.py
  src/dnadesign/thread/adapters/ligandmpnn/preflight.py
  src/dnadesign/thread/tests/adapters/ligandmpnn/test_context_probe.py
  src/dnadesign/thread/tests/test_package_layout.py
Due: core, external_integration

fix(thread): execute attested parser source
  src/dnadesign/thread/adapters/ligandmpnn/context_probe.py
  src/dnadesign/thread/adapters/ligandmpnn/pinned_checkout.py
  src/dnadesign/thread/tests/adapters/ligandmpnn/test_context_probe.py
  src/dnadesign/thread/tests/adapters/ligandmpnn/test_preflight.py
Due: core, external_integration

fix(thread): attest pinned parser preflight
  src/dnadesign/thread/adapters/ligandmpnn/preflight.py
  src/dnadesign/thread/tests/adapters/ligandmpnn/test_preflight.py
Due: core, external_integration

feat(opal): clarify selection-view figure hierarchy
  src/dnadesign/opal/src/plots/selection_view_performance.py
  src/dnadesign/opal/tests/api/test_selection_view_performance_api.py
Due: core, external_integration, opal

feat(opal): consolidate campaign round histories
  src/dnadesign/opal/src/cli/commands/history.py
  src/dnadesign/opal/src/cli/commands/init.py
  src/dnadesign/opal/src/cli/commands/run.py
  src/dnadesign/opal/src/runtime/round/backlog.py
  src/dnadesign/opal/src/storage/history_contracts.py
  src/dnadesign/opal/src/storage/history_relocation/__init__.py
  src/dnadesign/opal/src/storage/history_relocation/contracts.py
  src/dnadesign/opal/src/storage/history_relocation/inspection.py
  src/dnadesign/opal/src/storage/history_relocation/materialization.py
  src/dnadesign/opal/src/storage/history_relocation/state_projection.py
  src/dnadesign/opal/src/storage/state.py
  src/dnadesign/opal/tests/cli/test_cli_history_import.py
  src/dnadesign/opal/tests/cli/test_cli_workflows.py
Due: core, external_integration, opal

feat(opal): review campaign rounds interactively
  .secrets.baseline
  src/dnadesign/opal/docs/reference/cli.md
  src/dnadesign/opal/docs/reference/notebooks.md
  src/dnadesign/opal/src/analysis/notebook_components/layered_scatter.py
  src/dnadesign/opal/src/analysis/notebook_components/layered_scatter_contract.py
  src/dnadesign/opal/src/analysis/notebook_components/layered_scatter_controls.py
  src/dnadesign/opal/src/analysis/notebook_components/layered_scatter_rendering.py
  src/dnadesign/opal/src/analysis/notebook_components/layered_scatter_rounds.py
  src/dnadesign/opal/src/analysis/notebook_components/plot_scopes.py
  src/dnadesign/opal/src/analysis/notebook_components/review_controls.py
  src/dnadesign/opal/src/analysis/notebook_components/three_axis_camera_state.py
  src/dnadesign/opal/src/analysis/notebook_components/three_axis_scatter.py
  src/dnadesign/opal/src/analysis/notebook_components/three_axis_scatter_data.py
  src/dnadesign/opal/src/analysis/notebook_components/three_axis_scatter_style.py
  src/dnadesign/opal/src/analysis/notebook_set_template/campaign_cells.py
  src/dnadesign/opal/src/analysis/notebook_set_template/layered_scatter_cells.py
  src/dnadesign/opal/src/analysis/notebook_set_template/visual_cells.py
  src/dnadesign/opal/src/analysis/notebook_set_template/visual_selector_cells.py
  src/dnadesign/opal/src/cli/commands/notebook.py
  src/dnadesign/opal/src/plots/candidate_annotation_layout.py
  src/dnadesign/opal/tests/cli/test_cli_notebook_generate.py
  src/dnadesign/opal/tests/cli/test_docs_workflow_routing.py
  src/dnadesign/opal/tests/notebooks/test_layered_scatter_notebook.py
  src/dnadesign/opal/tests/notebooks/test_notebook_template.py
  src/dnadesign/opal/tests/notebooks/test_three_axis_scatter_notebook.py
Due: core, external_integration, opal

fix(opal): stabilize selection view figure layout
  src/dnadesign/opal/src/plots/selection_view_performance.py
  src/dnadesign/opal/tests/api/test_selection_view_performance_api.py
Due: core, external_integration, opal

fix(opal): harden round history transitions
  src/dnadesign/opal/src/analysis/notebook_components/three_axis_scatter.py
  src/dnadesign/opal/src/cli/commands/run.py
  src/dnadesign/opal/src/storage/history_contracts.py
  src/dnadesign/opal/src/storage/history_relocation/materialization.py
  src/dnadesign/opal/tests/cli/test_cli_history_import.py
  src/dnadesign/opal/tests/cli/test_cli_workflows.py
  src/dnadesign/opal/tests/notebooks/test_three_axis_scatter_notebook.py
Due: core, external_integration, opal

fix(opal): stabilize three-axis viewports
  src/dnadesign/opal/src/analysis/notebook_components/three_axis_scatter.py
  src/dnadesign/opal/src/analysis/notebook_components/three_axis_scatter_style.py
  src/dnadesign/opal/tests/notebooks/test_three_axis_scatter_notebook.py
Due: core, external_integration, opal

fix(opal): preserve relocated campaign lineage
  src/dnadesign/opal/src/cli/commands/history.py
  src/dnadesign/opal/src/storage/history_relocation/label_ledger.py
  src/dnadesign/opal/src/storage/history_relocation/materialization.py
  src/dnadesign/opal/src/storage/history_relocation/state_projection.py
  src/dnadesign/opal/tests/cli/test_cli_history_import.py
Due: core, external_integration, opal

fix(opal): stabilize round comparison views
  src/dnadesign/opal/src/analysis/notebook_components/layered_scatter_contract.py
  src/dnadesign/opal/src/analysis/notebook_components/layered_scatter_rendering.py
  src/dnadesign/opal/src/analysis/notebook_components/selection_round_encoding.py
  src/dnadesign/opal/src/analysis/notebook_components/three_axis_camera_state.py
  src/dnadesign/opal/src/analysis/notebook_components/three_axis_scatter.py
  src/dnadesign/opal/src/plots/selection_view_performance.py
  src/dnadesign/opal/tests/api/test_selection_view_performance_api.py
  src/dnadesign/opal/tests/notebooks/test_layered_scatter_notebook.py
  src/dnadesign/opal/tests/notebooks/test_three_axis_scatter_notebook.py
Due: core, external_integration, opal

fix(opal): verify campaign history relocation
  src/dnadesign/opal/src/storage/history_relocation/inspection.py
  src/dnadesign/opal/src/storage/history_relocation/label_ledger.py
  src/dnadesign/opal/src/storage/history_relocation/state_projection.py
  src/dnadesign/opal/tests/cli/test_cli_history_import.py
  src/dnadesign/opal/tests/cli/test_cli_history_import_concurrency.py
Due: core, external_integration, opal

fix(opal): scale round categories in 3d views
  src/dnadesign/opal/src/analysis/notebook_components/three_axis_scatter.py
  src/dnadesign/opal/src/analysis/notebook_components/three_axis_scatter_style.py
  src/dnadesign/opal/tests/notebooks/test_three_axis_scatter_notebook.py
Due: core, external_integration, opal

test(opal): split notebook review contracts
  .secrets.baseline
  src/dnadesign/opal/tests/notebooks/test_layered_scatter_notebook.py
  src/dnadesign/opal/tests/notebooks/test_layered_scatter_round_overlays.py
  src/dnadesign/opal/tests/notebooks/test_notebook_review_controls.py
  src/dnadesign/opal/tests/notebooks/test_notebook_template.py
Due: core, external_integration, opal
