Repository e-south/dnadesign: changes, and which Codecov flags are due for each by the changed paths.
All: core, external_integration, usr, notify, densegen, infer, opal, cluster, billboard, libshuffle, nmf, latdna, cruncher, tfkdanalysis, aligner, baserender, permuter

codecov.yml:

codecov:
  require_ci_to_pass: true

coverage:
  precision: 2
  round: down
  range: "0...100"
  status:
    project:
      default:
        target: auto
        threshold: 0.5%
        if_ci_failed: error
        if_not_found: failure
    patch:
      default:
        target: auto
        threshold: 0.5%
        if_ci_failed: error
        if_not_found: failure

flags:
  core:
    paths:
      - src/dnadesign
    carryforward: false
  external_integration:
    paths:
      - src/dnadesign
    carryforward: false

component_management:
  default_rules:
    statuses:
      - type: project
        target: auto
        threshold: 0.5%
        if_ci_failed: error
        if_not_found: failure
  individual_components:
    - component_id: usr
      name: usr
      paths:
        - src/dnadesign/usr/**
    - component_id: notify
      name: notify
      paths:
        - src/dnadesign/notify/**
    - component_id: densegen
      name: densegen
      paths:
        - src/dnadesign/densegen/**
    - component_id: infer
      name: infer
      paths:
        - src/dnadesign/infer/**
    - component_id: opal
      name: opal
      paths:
        - src/dnadesign/opal/**
    - component_id: cluster
      name: cluster
      paths:
        - src/dnadesign/cluster/**
    - component_id: billboard
      name: billboard
      paths:
        - src/dnadesign/billboard/**
    - component_id: libshuffle
      name: libshuffle
      paths:
        - src/dnadesign/libshuffle/**
    - component_id: nmf
      name: nmf
      paths:
        - src/dnadesign/nmf/**
    - component_id: latdna
      name: latdna
      paths:
        - src/dnadesign/latdna/**
    - component_id: cruncher
      name: cruncher
      paths:
        - src/dnadesign/cruncher/**
    - component_id: tfkdanalysis
      name: tfkdanalysis
      paths:
        - src/dnadesign/tfkdanalysis/**
    - component_id: aligner
      name: aligner
      paths:
        - src/dnadesign/aligner/**
    - component_id: baserender
      name: baserender
      paths:
        - src/dnadesign/baserender/**
    - component_id: permuter
      name: permuter
      paths:
        - src/dnadesign/permuter/**

comment:
  require_changes: true
  layout: "reach,diff,flags,components,files"

github_checks:
  annotations: true

refactor(rt-lnrna): decompose metastudy operator
  src/dnadesign/studies/units/rt_lnrna_sponging_construct_triage/reporter_response/metastudy/README.md
  src/dnadesign/studies/units/rt_lnrna_sponging_construct_triage/reporter_response/metastudy/operator.py
  src/dnadesign/studies/units/rt_lnrna_sponging_construct_triage/reporter_response/metastudy/operator/__init__.py
  src/dnadesign/studies/units/rt_lnrna_sponging_construct_triage/reporter_response/metastudy/operator/__main__.py
  src/dnadesign/studies/units/rt_lnrna_sponging_construct_triage/reporter_response/metastudy/operator/cli.py
  src/dnadesign/studies/units/rt_lnrna_sponging_construct_triage/reporter_response/metastudy/operator/persistence.py
  src/dnadesign/studies/units/rt_lnrna_sponging_construct_triage/reporter_response/metastudy/operator/regeneration.py
  src/dnadesign/studies/units/rt_lnrna_sponging_construct_triage/reporter_response/metastudy/operator/state.py
  src/dnadesign/studies/units/rt_lnrna_sponging_construct_triage/tests/reporter_response/metastudy/test_contract_layout.py
  src/dnadesign/studies/units/rt_lnrna_sponging_construct_triage/tests/reporter_response/metastudy/test_metastudy.py
  src/dnadesign/studies/units/rt_lnrna_sponging_construct_triage/tests/reporter_response/metastudy/test_operator.py
Due: core, external_integration

refactor(rt-lnrna): split reporter materialization
  src/dnadesign/studies/units/rt_lnrna_sponging_construct_triage/reporter_response/metastudy/README.md
  src/dnadesign/studies/units/rt_lnrna_sponging_construct_triage/reporter_response/metastudy/materialize.py
  src/dnadesign/studies/units/rt_lnrna_sponging_construct_triage/reporter_response/metastudy/materialize/__init__.py
  src/dnadesign/studies/units/rt_lnrna_sponging_construct_triage/reporter_response/metastudy/materialize/models.py
  src/dnadesign/studies/units/rt_lnrna_sponging_construct_triage/reporter_response/metastudy/materialize/profiles.py
  src/dnadesign/studies/units/rt_lnrna_sponging_construct_triage/reporter_response/metastudy/materialize/service.py
  src/dnadesign/studies/units/rt_lnrna_sponging_construct_triage/reporter_response/metastudy/materialize/temporal.py
  src/dnadesign/studies/units/rt_lnrna_sponging_construct_triage/reporter_response/metastudy/operator.py
  src/dnadesign/studies/units/rt_lnrna_sponging_construct_triage/tests/reporter_response/metastudy/test_materialize.py
  src/dnadesign/studies/units/rt_lnrna_sponging_construct_triage/tests/reporter_response/metastudy/test_materialize_layout.py
  src/dnadesign/studies/units/rt_lnrna_sponging_construct_triage/tests/reporter_response/test_temporal_conformance.py
Due: core, external_integration

refactor(studies): decompose Reader record resolver
  src/dnadesign/studies/core/reader_records.py
  src/dnadesign/studies/core/reader_records/__init__.py
  src/dnadesign/studies/core/reader_records/artifacts.py
  src/dnadesign/studies/core/reader_records/contracts.py
  src/dnadesign/studies/core/reader_records/resolver.py
  src/dnadesign/studies/core/reader_records/transport.py
  src/dnadesign/studies/core/reader_records/validation.py
  src/dnadesign/studies/tests/test_reader_records.py
  src/dnadesign/studies/tests/test_reader_records_architecture.py
Due: core, external_integration

refactor(rt-lnrna): split metastudy contracts by owner
  src/dnadesign/studies/units/rt_lnrna_sponging_construct_triage/reporter_response/metastudy/acquisition_projection.py
  src/dnadesign/studies/units/rt_lnrna_sponging_construct_triage/reporter_response/metastudy/audits.py
  src/dnadesign/studies/units/rt_lnrna_sponging_construct_triage/reporter_response/metastudy/condition_ontology.py
  src/dnadesign/studies/units/rt_lnrna_sponging_construct_triage/reporter_response/metastudy/contracts.py
  src/dnadesign/studies/units/rt_lnrna_sponging_construct_triage/reporter_response/metastudy/contracts/__init__.py
  src/dnadesign/studies/units/rt_lnrna_sponging_construct_triage/reporter_response/metastudy/contracts/_values.py
  src/dnadesign/studies/units/rt_lnrna_sponging_construct_triage/reporter_response/metastudy/contracts/decision.py
  src/dnadesign/studies/units/rt_lnrna_sponging_construct_triage/reporter_response/metastudy/contracts/materialization.py
  src/dnadesign/studies/units/rt_lnrna_sponging_construct_triage/reporter_response/metastudy/contracts/profile.py
  src/dnadesign/studies/units/rt_lnrna_sponging_construct_triage/reporter_response/metastudy/contracts/protocol.py
  src/dnadesign/studies/units/rt_lnrna_sponging_construct_triage/reporter_response/metastudy/evaluation.py
  src/dnadesign/studies/units/rt_lnrna_sponging_construct_triage/reporter_response/metastudy/evidence_projection.py
  src/dnadesign/studies/units/rt_lnrna_sponging_construct_triage/reporter_response/metastudy/materialize.py
  src/dnadesign/studies/units/rt_lnrna_sponging_construct_triage/reporter_response/metastudy/operator.py
  src/dnadesign/studies/units/rt_lnrna_sponging_construct_triage/reporter_response/metastudy/publication.py
  src/dnadesign/studies/units/rt_lnrna_sponging_construct_triage/reporter_response/metastudy/sensitivity.py
  src/dnadesign/studies/units/rt_lnrna_sponging_construct_triage/reporter_response/metastudy/sensitivity_coverage.py
  src/dnadesign/studies/units/rt_lnrna_sponging_construct_triage/reporter_response/metastudy/status.py
  src/dnadesign/studies/units/rt_lnrna_sponging_construct_triage/tests/reporter_response/metastudy/test_contract_layout.py
Due: core, external_integration

refactor(retron): split metastudy evaluation owners
  src/dnadesign/studies/units/rt_lnrna_sponging_construct_triage/reporter_response/metastudy/README.md
  src/dnadesign/studies/units/rt_lnrna_sponging_construct_triage/reporter_response/metastudy/evaluation.py
  src/dnadesign/studies/units/rt_lnrna_sponging_construct_triage/reporter_response/metastudy/evaluation/__init__.py
  src/dnadesign/studies/units/rt_lnrna_sponging_construct_triage/reporter_response/metastudy/evaluation/evidence.py
  src/dnadesign/studies/units/rt_lnrna_sponging_construct_triage/reporter_response/metastudy/evaluation/readiness.py
  src/dnadesign/studies/units/rt_lnrna_sponging_construct_triage/reporter_response/metastudy/evaluation/selection.py
  src/dnadesign/studies/units/rt_lnrna_sponging_construct_triage/tests/reporter_response/metastudy/test_contract_layout.py
Due: core, external_integration

refactor(rt-lnrna): decompose subject binding loader
  src/dnadesign/studies/units/rt_lnrna_sponging_construct_triage/subject_bindings/authorities.py
  src/dnadesign/studies/units/rt_lnrna_sponging_construct_triage/subject_bindings/loader.py
  src/dnadesign/studies/units/rt_lnrna_sponging_construct_triage/subject_bindings/projection.py
  src/dnadesign/studies/units/rt_lnrna_sponging_construct_triage/subject_bindings/registry.py
  src/dnadesign/studies/units/rt_lnrna_sponging_construct_triage/subject_bindings/sources.py
  src/dnadesign/studies/units/rt_lnrna_sponging_construct_triage/subject_bindings/subjects.py
  src/dnadesign/studies/units/rt_lnrna_sponging_construct_triage/subject_bindings/validation.py
  src/dnadesign/studies/units/rt_lnrna_sponging_construct_triage/tests/subject_bindings/test_layout.py
  src/dnadesign/studies/units/rt_lnrna_sponging_construct_triage/tests/subject_bindings/test_registry.py
  src/dnadesign/studies/units/rt_lnrna_sponging_construct_triage/tests/subject_bindings/test_source_closure.py
Due: core, external_integration

data(rt-lnrna): refresh reporter metastudy evidence
  docs/studies/rt_lnrna_sponging_construct_triage/contexts/reporter-response-metastudy/metastudy-state.yaml
Due: none

fix(rt-lnrna): resolve state authority explicitly
  src/dnadesign/studies/units/rt_lnrna_sponging_construct_triage/reporter_response/metastudy/operator/cli.py
  src/dnadesign/studies/units/rt_lnrna_sponging_construct_triage/reporter_response/metastudy/operator/persistence.py
  src/dnadesign/studies/units/rt_lnrna_sponging_construct_triage/tests/reporter_response/metastudy/test_operator.py
Due: core, external_integration

refactor(rt-lnrna): route metastudy leaves directly
  src/dnadesign/studies/units/rt_lnrna_sponging_construct_triage/reporter_response/metastudy/operator/regeneration.py
  src/dnadesign/studies/units/rt_lnrna_sponging_construct_triage/reporter_response/metastudy/publication.py
Due: core, external_integration

docs(rt-lnrna): keep front matter authoritative
  docs/studies/rt_lnrna_sponging_construct_triage/README.md
Due: none

refactor(rt-lnrna): decompose metastudy tests
  src/dnadesign/studies/units/rt_lnrna_sponging_construct_triage/tests/reporter_response/metastudy/_builders.py
  src/dnadesign/studies/units/rt_lnrna_sponging_construct_triage/tests/reporter_response/metastudy/acquisition/__init__.py
  src/dnadesign/studies/units/rt_lnrna_sponging_construct_triage/tests/reporter_response/metastudy/acquisition/test_projection.py
  src/dnadesign/studies/units/rt_lnrna_sponging_construct_triage/tests/reporter_response/metastudy/contracts/__init__.py
  src/dnadesign/studies/units/rt_lnrna_sponging_construct_triage/tests/reporter_response/metastudy/contracts/test_decision.py
  src/dnadesign/studies/units/rt_lnrna_sponging_construct_triage/tests/reporter_response/metastudy/contracts/test_protocol.py
  src/dnadesign/studies/units/rt_lnrna_sponging_construct_triage/tests/reporter_response/metastudy/evidence/__init__.py
  src/dnadesign/studies/units/rt_lnrna_sponging_construct_triage/tests/reporter_response/metastudy/evidence/_builders.py
  src/dnadesign/studies/units/rt_lnrna_sponging_construct_triage/tests/reporter_response/metastudy/evidence/test_audits.py
  src/dnadesign/studies/units/rt_lnrna_sponging_construct_triage/tests/reporter_response/metastudy/evidence/test_projection.py
  src/dnadesign/studies/units/rt_lnrna_sponging_construct_triage/tests/reporter_response/metastudy/publication/__init__.py
  src/dnadesign/studies/units/rt_lnrna_sponging_construct_triage/tests/reporter_response/metastudy/publication/_builders.py
  src/dnadesign/studies/units/rt_lnrna_sponging_construct_triage/tests/reporter_response/metastudy/publication/test_atomicity.py
  src/dnadesign/studies/units/rt_lnrna_sponging_construct_triage/tests/reporter_response/metastudy/publication/test_integrity.py
  src/dnadesign/studies/units/rt_lnrna_sponging_construct_triage/tests/reporter_response/metastudy/publication/test_sensitivity.py
  src/dnadesign/studies/units/rt_lnrna_sponging_construct_triage/tests/reporter_response/metastudy/readiness/__init__.py
  src/dnadesign/studies/units/rt_lnrna_sponging_construct_triage/tests/reporter_response/metastudy/readiness/test_readiness.py
  src/dnadesign/studies/units/rt_lnrna_sponging_construct_triage/tests/reporter_response/metastudy/selection/__init__.py
  src/dnadesign/studies/units/rt_lnrna_sponging_construct_triage/tests/reporter_response/metastudy/selection/test_selection.py
  src/dnadesign/studies/units/rt_lnrna_sponging_construct_triage/tests/reporter_response/metastudy/test_metastudy.py
  src/dnadesign/studies/units/rt_lnrna_sponging_construct_triage/tests/reporter_response/metastudy/test_test_layout.py
Due: core, external_integration

refactor(rt-lnrna): organize metastudy runtime tests
  src/dnadesign/studies/units/rt_lnrna_sponging_construct_triage/tests/reporter_response/metastudy/materialize/__init__.py
  src/dnadesign/studies/units/rt_lnrna_sponging_construct_triage/tests/reporter_response/metastudy/materialize/_support.py
  src/dnadesign/studies/units/rt_lnrna_sponging_construct_triage/tests/reporter_response/metastudy/materialize/test_identity.py
  src/dnadesign/studies/units/rt_lnrna_sponging_construct_triage/tests/reporter_response/metastudy/materialize/test_profiles.py
  src/dnadesign/studies/units/rt_lnrna_sponging_construct_triage/tests/reporter_response/metastudy/materialize/test_service.py
  src/dnadesign/studies/units/rt_lnrna_sponging_construct_triage/tests/reporter_response/metastudy/materialize/test_temporal.py
  src/dnadesign/studies/units/rt_lnrna_sponging_construct_triage/tests/reporter_response/metastudy/operator/__init__.py
  src/dnadesign/studies/units/rt_lnrna_sponging_construct_triage/tests/reporter_response/metastudy/operator/_support.py
  src/dnadesign/studies/units/rt_lnrna_sponging_construct_triage/tests/reporter_response/metastudy/operator/test_cli.py
  src/dnadesign/studies/units/rt_lnrna_sponging_construct_triage/tests/reporter_response/metastudy/operator/test_persistence.py
  src/dnadesign/studies/units/rt_lnrna_sponging_construct_triage/tests/reporter_response/metastudy/operator/test_regeneration.py
  src/dnadesign/studies/units/rt_lnrna_sponging_construct_triage/tests/reporter_response/metastudy/operator/test_state.py
  src/dnadesign/studies/units/rt_lnrna_sponging_construct_triage/tests/reporter_response/metastudy/test_contract_layout.py
  src/dnadesign/studies/units/rt_lnrna_sponging_construct_triage/tests/reporter_response/metastudy/test_materialize.py
  src/dnadesign/studies/units/rt_lnrna_sponging_construct_triage/tests/reporter_response/metastudy/test_operator.py
Due: core, external_integration

refactor(hairpin): decompose selected lineage ingest
  docs/studies/retron_hairpin_design/workbench/provenance/README.md
  src/dnadesign/studies/units/retron_hairpin_design/source_ingest/selected_lineage/__init__.py
  src/dnadesign/studies/units/retron_hairpin_design/source_ingest/selected_lineage/contracts.py
  src/dnadesign/studies/units/retron_hairpin_design/source_ingest/selected_lineage/loading.py
  src/dnadesign/studies/units/retron_hairpin_design/source_ingest/selected_lineage/validation.py
  src/dnadesign/studies/units/retron_hairpin_design/tests/source_ingest/test_msd_selected_variant_lineage.py
Due: core, external_integration

fix(boundaries): retire Reader-owned SFXI drift
  src/dnadesign/devtools/tests/architecture/test_boundaries.py
  src/dnadesign/opal/docs/reference/notebooks.md
  src/dnadesign/opal/tests/analysis/test_reader_evidence.py
  src/dnadesign/opal/tests/notebooks/test_notebook_template.py
  src/dnadesign/opal/tests/reporting/test_notebook.py
  src/dnadesign/opal/tests/test_source_tree_contracts.py
  src/dnadesign/usr/docs/reference/sfxi-reference-overlay.md
Due: core, external_integration, usr, opal

refactor(studies): split Reader evidence boundaries
  src/dnadesign/studies/tests/reader_records/__init__.py
  src/dnadesign/studies/tests/reader_records/_fixtures.py
  src/dnadesign/studies/tests/reader_records/test_identity.py
  src/dnadesign/studies/tests/reader_records/test_layout.py
  src/dnadesign/studies/tests/reader_records/test_pagination.py
  src/dnadesign/studies/tests/reader_records/test_path_confinement.py
  src/dnadesign/studies/tests/reader_records/test_verification.py
  src/dnadesign/studies/tests/test_reader_records.py
  src/dnadesign/studies/units/rt_lnrna_sponging_construct_triage/reader_evidence/bindings.py
  src/dnadesign/studies/units/rt_lnrna_sponging_construct_triage/reader_evidence/bindings/__init__.py
  src/dnadesign/studies/units/rt_lnrna_sponging_construct_triage/reader_evidence/bindings/building.py
  src/dnadesign/studies/units/rt_lnrna_sponging_construct_triage/reader_evidence/bindings/contracts.py
  src/dnadesign/studies/units/rt_lnrna_sponging_construct_triage/reader_evidence/bindings/persistence.py
  src/dnadesign/studies/units/rt_lnrna_sponging_construct_triage/reader_evidence/bindings/projection.py
  src/dnadesign/studies/units/rt_lnrna_sponging_construct_triage/reader_evidence/bindings/validation.py
  src/dnadesign/studies/units/rt_lnrna_sponging_construct_triage/tests/source/reader_evidence_bindings/__init__.py
  src/dnadesign/studies/units/rt_lnrna_sponging_construct_triage/tests/source/reader_evidence_bindings/_fixtures.py
  src/dnadesign/studies/units/rt_lnrna_sponging_construct_triage/tests/source/reader_evidence_bindings/test_cli.py
  src/dnadesign/studies/units/rt_lnrna_sponging_construct_triage/tests/source/reader_evidence_bindings/test_identity.py
  src/dnadesign/studies/units/rt_lnrna_sponging_construct_triage/tests/source/reader_evidence_bindings/test_layout.py
  src/dnadesign/studies/units/rt_lnrna_sponging_construct_triage/tests/source/reader_evidence_bindings/test_persistence.py
  src/dnadesign/studies/units/rt_lnrna_sponging_construct_triage/tests/source/reader_evidence_bindings/test_source_closure.py
  src/dnadesign/studies/units/rt_lnrna_sponging_construct_triage/tests/source/test_reader_evidence_bindings.py
Due: core, external_integration

refactor(rt-lnrna): decompose reporter profile contracts
  src/dnadesign/studies/units/rt_lnrna_sponging_construct_triage/reporter_response/profile.py
  src/dnadesign/studies/units/rt_lnrna_sponging_construct_triage/reporter_response/profile/__init__.py
  src/dnadesign/studies/units/rt_lnrna_sponging_construct_triage/reporter_response/profile/measurement.py
  src/dnadesign/studies/units/rt_lnrna_sponging_construct_triage/reporter_response/profile/normalized.py
  src/dnadesign/studies/units/rt_lnrna_sponging_construct_triage/reporter_response/profile/provenance.py
  src/dnadesign/studies/units/rt_lnrna_sponging_construct_triage/reporter_response/profile/response.py
  src/dnadesign/studies/units/rt_lnrna_sponging_construct_triage/reporter_response/profile/uncertainty.py
  src/dnadesign/studies/units/rt_lnrna_sponging_construct_triage/tests/reporter_response/test_profile.py
Due: core, external_integration

feat(retron): preserve profiles without reference controls
  docs/studies/rt_lnrna_sponging_construct_triage/operations/contract/README.md
  docs/studies/rt_lnrna_sponging_construct_triage/operations/contract/schemas/rt-lnrna-reporter-measurement-profile.schema.yaml
  docs/studies/rt_lnrna_sponging_construct_triage/operations/contract/schemas/rt-lnrna-reporter-response-condition-ontology.schema.yaml
  docs/studies/rt_lnrna_sponging_construct_triage/routes/reporter-response-evidence.md
  src/dnadesign/studies/units/rt_lnrna_sponging_construct_triage/reporter_response/__init__.py
  src/dnadesign/studies/units/rt_lnrna_sponging_construct_triage/reporter_response/api.py
  src/dnadesign/studies/units/rt_lnrna_sponging_construct_triage/reporter_response/measurement_profile.py
  src/dnadesign/studies/units/rt_lnrna_sponging_construct_triage/reporter_response/metastudy/README.md
  src/dnadesign/studies/units/rt_lnrna_sponging_construct_triage/reporter_response/metastudy/acquisition_projection.py
  src/dnadesign/studies/units/rt_lnrna_sponging_construct_triage/reporter_response/metastudy/audits.py
  src/dnadesign/studies/units/rt_lnrna_sponging_construct_triage/reporter_response/metastudy/condition_ontology.py
  src/dnadesign/studies/units/rt_lnrna_sponging_construct_triage/reporter_response/metastudy/contracts/decision.py
  src/dnadesign/studies/units/rt_lnrna_sponging_construct_triage/reporter_response/metastudy/contracts/profile.py
  src/dnadesign/studies/units/rt_lnrna_sponging_construct_triage/reporter_response/metastudy/contracts/protocol.py
  src/dnadesign/studies/units/rt_lnrna_sponging_construct_triage/reporter_response/metastudy/evaluation/comparability.py
  src/dnadesign/studies/units/rt_lnrna_sponging_construct_triage/reporter_response/metastudy/evaluation/selection.py
  src/dnadesign/studies/units/rt_lnrna_sponging_construct_triage/reporter_response/metastudy/evidence_projection.py
  src/dnadesign/studies/units/rt_lnrna_sponging_construct_triage/reporter_response/metastudy/materialize/profiles.py
  src/dnadesign/studies/units/rt_lnrna_sponging_construct_triage/reporter_response/metastudy/materialize/reference.py
  src/dnadesign/studies/units/rt_lnrna_sponging_construct_triage/tests/reporter_response/metastudy/_builders.py
  src/dnadesign/studies/units/rt_lnrna_sponging_construct_triage/tests/reporter_response/metastudy/materialize/test_profiles.py
  src/dnadesign/studies/units/rt_lnrna_sponging_construct_triage/tests/reporter_response/metastudy/materialize/test_reference_profiles.py
  src/dnadesign/studies/units/rt_lnrna_sponging_construct_triage/tests/reporter_response/metastudy/selection/test_selection.py
  src/dnadesign/studies/units/rt_lnrna_sponging_construct_triage/tests/reporter_response/metastudy/test_contract_layout.py
  src/dnadesign/studies/units/rt_lnrna_sponging_construct_triage/tests/reporter_response/metastudy/test_materialize_layout.py
Due: core, external_integration

fix(rt-lnrna): require successful readiness bridge
  src/dnadesign/studies/units/rt_lnrna_sponging_construct_triage/reporter_response/metastudy/evaluation/readiness.py
  src/dnadesign/studies/units/rt_lnrna_sponging_construct_triage/tests/reporter_response/metastudy/readiness/test_readiness.py
Due: core, external_integration

docs(studies): clarify assay and objective ownership
  docs/studies/rt_lnrna_sponging_construct_triage/routes/README.md
  docs/studies/stress_ethanol_cipro_growth/routes/README.md
  docs/studies/stress_ethanol_cipro_growth/routes/decision/opal/README.md
Due: none

fix(retron): harden optional reference evidence
  docs/studies/rt_lnrna_sponging_construct_triage/operations/contract/schemas/rt-lnrna-reporter-measurement-profile.schema.yaml
  src/dnadesign/studies/units/rt_lnrna_sponging_construct_triage/reporter_response/measurement_profile.py
  src/dnadesign/studies/units/rt_lnrna_sponging_construct_triage/reporter_response/metastudy/contracts/decision.py
  src/dnadesign/studies/units/rt_lnrna_sponging_construct_triage/reporter_response/metastudy/evaluation/readiness.py
  src/dnadesign/studies/units/rt_lnrna_sponging_construct_triage/reporter_response/metastudy/evaluation/selection.py
  src/dnadesign/studies/units/rt_lnrna_sponging_construct_triage/reporter_response/metastudy/materialize/profiles.py
  src/dnadesign/studies/units/rt_lnrna_sponging_construct_triage/reporter_response/metastudy/materialize/reference.py
  src/dnadesign/studies/units/rt_lnrna_sponging_construct_triage/tests/reporter_response/metastudy/contracts/test_decision.py
  src/dnadesign/studies/units/rt_lnrna_sponging_construct_triage/tests/reporter_response/metastudy/materialize/test_reference_profiles.py
  src/dnadesign/studies/units/rt_lnrna_sponging_construct_triage/tests/reporter_response/metastudy/publication/test_integrity.py
  src/dnadesign/studies/units/rt_lnrna_sponging_construct_triage/tests/reporter_response/metastudy/selection/test_selection.py
  src/dnadesign/studies/units/rt_lnrna_sponging_construct_triage/tests/reporter_response/metastudy/test_contract_layout.py
Due: core, external_integration

fix(rt-lnrna): bind metastudy to active checkout
  docs/studies/rt_lnrna_sponging_construct_triage/contexts/reporter-response-metastudy/README.md
  src/dnadesign/studies/units/rt_lnrna_sponging_construct_triage/reporter_response/metastudy/operator/checkout.py
  src/dnadesign/studies/units/rt_lnrna_sponging_construct_triage/reporter_response/metastudy/operator/cli.py
  src/dnadesign/studies/units/rt_lnrna_sponging_construct_triage/reporter_response/metastudy/operator/regeneration.py
  src/dnadesign/studies/units/rt_lnrna_sponging_construct_triage/reporter_response/metastudy/status.py
  src/dnadesign/studies/units/rt_lnrna_sponging_construct_triage/tests/reporter_response/metastudy/operator/test_checkout.py
  src/dnadesign/studies/units/rt_lnrna_sponging_construct_triage/tests/reporter_response/metastudy/operator/test_cli.py
  src/dnadesign/studies/units/rt_lnrna_sponging_construct_triage/tests/reporter_response/metastudy/operator/test_regeneration.py
  src/dnadesign/studies/units/rt_lnrna_sponging_construct_triage/tests/reporter_response/metastudy/test_contract_layout.py
  src/dnadesign/studies/units/rt_lnrna_sponging_construct_triage/tests/reporter_response/metastudy/test_status.py
Due: core, external_integration

docs(retron): clarify descriptive profile variants
  .agents/skills/rt-lnrna-reporter-response/SKILL.md
  docs/studies/rt_lnrna_sponging_construct_triage/contexts/reporter-response-evidence.md
  docs/studies/rt_lnrna_sponging_construct_triage/contexts/reporter-response-metastudy/README.md
  docs/studies/rt_lnrna_sponging_construct_triage/contexts/source-overlays.md
  docs/studies/rt_lnrna_sponging_construct_triage/routes/reporter-response-evidence.md
  src/dnadesign/studies/units/rt_lnrna_sponging_construct_triage/tests/source/test_reader_experiment_routes.py
Due: core, external_integration

fix(rt-lnrna): preserve raw profile projections
  src/dnadesign/studies/units/rt_lnrna_sponging_construct_triage/reporter_response/measurement_profile.py
  src/dnadesign/studies/units/rt_lnrna_sponging_construct_triage/reporter_response/metastudy/acquisition_projection.py
  src/dnadesign/studies/units/rt_lnrna_sponging_construct_triage/reporter_response/metastudy/acquisition_projection/__init__.py
  src/dnadesign/studies/units/rt_lnrna_sponging_construct_triage/reporter_response/metastudy/acquisition_projection/_values.py
  src/dnadesign/studies/units/rt_lnrna_sponging_construct_triage/reporter_response/metastudy/acquisition_projection/building.py
  src/dnadesign/studies/units/rt_lnrna_sponging_construct_triage/reporter_response/metastudy/acquisition_projection/contracts.py
  src/dnadesign/studies/units/rt_lnrna_sponging_construct_triage/reporter_response/metastudy/acquisition_projection/serialization.py
  src/dnadesign/studies/units/rt_lnrna_sponging_construct_triage/reporter_response/metastudy/evidence_projection.py
  src/dnadesign/studies/units/rt_lnrna_sponging_construct_triage/tests/reporter_response/metastudy/acquisition/test_projection.py
  src/dnadesign/studies/units/rt_lnrna_sponging_construct_triage/tests/reporter_response/metastudy/evidence/test_projection.py
  src/dnadesign/studies/units/rt_lnrna_sponging_construct_triage/tests/reporter_response/metastudy/publication/test_integrity.py
  src/dnadesign/studies/units/rt_lnrna_sponging_construct_triage/tests/reporter_response/metastudy/test_contract_layout.py
Due: core, external_integration

Preserve Reader record provenance
  src/dnadesign/studies/core/__init__.py
  src/dnadesign/studies/core/reader_records/__init__.py
  src/dnadesign/studies/core/reader_records/artifacts.py
  src/dnadesign/studies/core/reader_records/contracts.py
  src/dnadesign/studies/core/reader_records/provenance.py
  src/dnadesign/studies/core/reader_records/resolver.py
  src/dnadesign/studies/tests/reader_records/_fixtures.py
  src/dnadesign/studies/tests/reader_records/test_identity.py
  src/dnadesign/studies/tests/reader_records/test_verification.py
  src/dnadesign/studies/tests/test_reader_records_architecture.py
  src/dnadesign/studies/units/rt_lnrna_sponging_construct_triage/tests/reporter_response/metastudy/materialize/_support.py
  src/dnadesign/studies/units/rt_lnrna_sponging_construct_triage/tests/reporter_response/metastudy/materialize/test_temporal.py
  src/dnadesign/studies/units/rt_lnrna_sponging_construct_triage/tests/source/reader_evidence_bindings/_fixtures.py
Due: core, external_integration

fix(rt-lnrna): verify publication members without links
  src/dnadesign/studies/units/rt_lnrna_sponging_construct_triage/reporter_response/metastudy/publication.py
  src/dnadesign/studies/units/rt_lnrna_sponging_construct_triage/tests/reporter_response/metastudy/publication/test_integrity.py
Due: core, external_integration

Clarify retron study ownership boundaries
  docs/studies/rt_lnrna_sponging_construct_triage/contexts/latentdna/review-surfaces.md
  src/dnadesign/studies/units/rt_lnrna_sponging_construct_triage/subject_bindings/authorities.py
  src/dnadesign/studies/units/rt_lnrna_sponging_construct_triage/tests/subject_bindings/test_registry.py
Due: core, external_integration

Refactor retron metastudy publication boundaries
  src/dnadesign/studies/units/rt_lnrna_sponging_construct_triage/reporter_response/metastudy/README.md
  src/dnadesign/studies/units/rt_lnrna_sponging_construct_triage/reporter_response/metastudy/operator/cli.py
  src/dnadesign/studies/units/rt_lnrna_sponging_construct_triage/reporter_response/metastudy/publication.py
  src/dnadesign/studies/units/rt_lnrna_sponging_construct_triage/reporter_response/metastudy/publication/__init__.py
  src/dnadesign/studies/units/rt_lnrna_sponging_construct_triage/reporter_response/metastudy/publication/report.py
  src/dnadesign/studies/units/rt_lnrna_sponging_construct_triage/reporter_response/metastudy/publication/service.py
  src/dnadesign/studies/units/rt_lnrna_sponging_construct_triage/reporter_response/metastudy/publication/verification.py
  src/dnadesign/studies/units/rt_lnrna_sponging_construct_triage/tests/reporter_response/metastudy/contracts/test_decision.py
  src/dnadesign/studies/units/rt_lnrna_sponging_construct_triage/tests/reporter_response/metastudy/operator/test_state_selection.py
  src/dnadesign/studies/units/rt_lnrna_sponging_construct_triage/tests/reporter_response/metastudy/publication/test_atomicity.py
  src/dnadesign/studies/units/rt_lnrna_sponging_construct_triage/tests/reporter_response/metastudy/publication/test_integrity.py
  src/dnadesign/studies/units/rt_lnrna_sponging_construct_triage/tests/reporter_response/metastudy/publication/test_layout.py
  src/dnadesign/studies/units/rt_lnrna_sponging_construct_triage/tests/reporter_response/metastudy/publication/test_service.py
  src/dnadesign/studies/units/rt_lnrna_sponging_construct_triage/tests/reporter_response/metastudy/test_contract_layout.py
  src/dnadesign/studies/units/rt_lnrna_sponging_construct_triage/tests/reporter_response/metastudy/test_test_layout.py
Due: core, external_integration

docs(studies): align review and comparability routes
  docs/studies/rt_lnrna_sponging_construct_triage/contexts/reporter-response-evidence.md
  docs/studies/rt_lnrna_sponging_construct_triage/routes/reporter-response-evidence.md
  docs/studies/stress_ethanol_cipro_growth/routes/README.md
Due: none

Refresh retron reporter-response readiness
  .agents/skills/rt-lnrna-reporter-response/SKILL.md
  docs/studies/rt_lnrna_sponging_construct_triage/contexts/reporter-response-metastudy/metastudy-state.yaml
  src/dnadesign/studies/units/rt_lnrna_sponging_construct_triage/reporter_response/metastudy/evaluation/readiness.py
  src/dnadesign/studies/units/rt_lnrna_sponging_construct_triage/reporter_response/metastudy/operator/cli.py
  src/dnadesign/studies/units/rt_lnrna_sponging_construct_triage/reporter_response/metastudy/operator/regeneration.py
  src/dnadesign/studies/units/rt_lnrna_sponging_construct_triage/tests/reporter_response/metastudy/contracts/test_protocol.py
  src/dnadesign/studies/units/rt_lnrna_sponging_construct_triage/tests/reporter_response/metastudy/operator/test_cli.py
  src/dnadesign/studies/units/rt_lnrna_sponging_construct_triage/tests/reporter_response/metastudy/operator/test_regeneration.py
  src/dnadesign/studies/units/rt_lnrna_sponging_construct_triage/tests/reporter_response/metastudy/readiness/test_readiness.py
Due: core, external_integration

Clarify stress Reader verification state
  docs/studies/stress_ethanol_cipro_growth/contexts/opal/response-metastudy.md
  docs/studies/stress_ethanol_cipro_growth/record/status.md
Due: none

Refresh changed documentation metadata
  docs/dev/README.md
  src/dnadesign/contracts/docs/README.md
  src/dnadesign/contracts/docs/reference/exports.md
  src/dnadesign/latentdna/docs/dev/trait-axis-projection.md
  src/dnadesign/opal/docs/index.md
  src/dnadesign/opal/docs/plugins/objectives/README.md
  src/dnadesign/opal/docs/plugins/objectives/response-magnitude-feasibility.md
  src/dnadesign/opal/docs/reference/data-contracts.md
  src/dnadesign/opal/docs/reference/notebooks.md
  src/dnadesign/opal/docs/reference/plots.md
  src/dnadesign/usr/docs/reference/sfxi-reference-overlay.md
Due: core, external_integration, usr, opal

Correct stress OPAL route contract
  docs/studies/stress_ethanol_cipro_growth/routes/decision/opal/README.md
  src/dnadesign/studies/units/stress_ethanol_cipro_growth/tests/decision/opal/batch0/test_opal_batch0.py
Due: core, external_integration

Refresh promoter evidence provenance fixture
  src/dnadesign/opal/tests/analysis/test_reader_promoter_evidence.py
Due: core, external_integration, opal

Tighten stress study route map
  docs/studies/stress_ethanol_cipro_growth/routes/README.md
Due: none

Make architecture budgets header-aware
  src/dnadesign/studies/units/rt_lnrna_sponging_construct_triage/tests/reporter_response/metastudy/publication/test_layout.py
  src/dnadesign/studies/units/rt_lnrna_sponging_construct_triage/tests/reporter_response/metastudy/test_contract_layout.py
Due: core, external_integration
