Repository e-south/dnadesign: changes, and which Codecov flags are due for each by the changed paths.
All: core, external_integration, usr, notify, densegen, infer, opal, cluster, billboard, libshuffle, nmf, latdna, cruncher, tfkdanalysis, aligner, baserender, permuter

codecov.yml:

codecov:
  require_ci_to_pass: true

coverage:
  precision: 2
  round: down
  range: "0...100"
  status:
    project:
      default:
        target: auto
        threshold: 0.5%
        if_ci_failed: error
        if_not_found: failure
    patch:
      default:
        target: auto
        threshold: 0.5%
        if_ci_failed: error
        if_not_found: failure

flags:
  core:
    paths:
      - src/dnadesign
    carryforward: false
  external_integration:
    paths:
      - src/dnadesign
    carryforward: false

component_management:
  default_rules:
    statuses:
      - type: project
        target: auto
        threshold: 0.5%
        if_ci_failed: error
        if_not_found: failure
  individual_components:
    - component_id: usr
      name: usr
      paths:
        - src/dnadesign/usr/**
    - component_id: notify
      name: notify
      paths:
        - src/dnadesign/notify/**
    - component_id: densegen
      name: densegen
      paths:
        - src/dnadesign/densegen/**
    - component_id: infer
      name: infer
      paths:
        - src/dnadesign/infer/**
    - component_id: opal
      name: opal
      paths:
        - src/dnadesign/opal/**
    - component_id: cluster
      name: cluster
      paths:
        - src/dnadesign/cluster/**
    - component_id: billboard
      name: billboard
      paths:
        - src/dnadesign/billboard/**
    - component_id: libshuffle
      name: libshuffle
      paths:
        - src/dnadesign/libshuffle/**
    - component_id: nmf
      name: nmf
      paths:
        - src/dnadesign/nmf/**
    - component_id: latdna
      name: latdna
      paths:
        - src/dnadesign/latdna/**
    - component_id: cruncher
      name: cruncher
      paths:
        - src/dnadesign/cruncher/**
    - component_id: tfkdanalysis
      name: tfkdanalysis
      paths:
        - src/dnadesign/tfkdanalysis/**
    - component_id: aligner
      name: aligner
      paths:
        - src/dnadesign/aligner/**
    - component_id: baserender
      name: baserender
      paths:
        - src/dnadesign/baserender/**
    - component_id: permuter
      name: permuter
      paths:
        - src/dnadesign/permuter/**

comment:
  require_changes: true
  layout: "reach,diff,flags,components,files"

github_checks:
  annotations: true

Clarify scar_nick pair identity semantics
  docs/studies/retron_hairpin_design/scar-nick-base-junction.md
  src/dnadesign/cruncher/src/scar_nick/README.md
  src/dnadesign/cruncher/src/scar_nick/candidates.py
  src/dnadesign/cruncher/src/scar_nick/tables.py
  src/dnadesign/cruncher/src/scar_nick/view_contracts.py
  src/dnadesign/cruncher/src/scar_nick/visual_geometry.py
  src/dnadesign/cruncher/tests/cli/test_scar_nick_cli.py
  src/dnadesign/cruncher/tests/scar_nick/test_planner.py
Due: core, external_integration, cruncher

Isolate scar_nick visual publication
  .agents/skills/retron-hairpin-study/references/origin-033-hits.md
  src/dnadesign/baserender/tests/test_adapter_registry.py
  src/dnadesign/contracts/visual/scar_nick_visual_v1.py
  src/dnadesign/cruncher/src/app/scar_nick_workflow.py
  src/dnadesign/cruncher/src/scar_nick/README.md
  src/dnadesign/cruncher/src/scar_nick/tables.py
  src/dnadesign/cruncher/src/scar_nick/view_contracts.py
  src/dnadesign/cruncher/src/scar_nick/visual_publication.py
  src/dnadesign/cruncher/tests/cli/test_scar_nick_cli.py
Due: core, external_integration, cruncher, baserender

Keep scar_nick pre-release duplex matched
  src/dnadesign/baserender/tests/test_adapter_registry.py
  src/dnadesign/contracts/tests/test_visual_contracts.py
  src/dnadesign/contracts/visual/scar_nick_visual_v1.py
  src/dnadesign/cruncher/src/scar_nick/view_contracts.py
  src/dnadesign/cruncher/tests/scar_nick/test_planner.py
Due: core, external_integration, cruncher, baserender

Tune scar_nick terminal nick rendering
  src/dnadesign/baserender/src/adapters/scar_nick_visual_v1.py
  src/dnadesign/baserender/tests/test_adapter_registry.py
  src/dnadesign/cruncher/src/scar_nick/view_contracts.py
  src/dnadesign/cruncher/tests/cli/test_scar_nick_cli.py
  src/dnadesign/cruncher/tests/scar_nick/test_planner.py
Due: core, external_integration, cruncher, baserender

Fix scar_nick wobble pair semantics
  docs/studies/retron_hairpin_design/scar-nick-base-junction.md
  src/dnadesign/baserender/tests/test_adapter_registry.py
  src/dnadesign/contracts/tests/test_visual_contracts.py
  src/dnadesign/contracts/visual/scar_nick_visual_v1.py
  src/dnadesign/cruncher/src/scar_nick/README.md
  src/dnadesign/cruncher/src/scar_nick/candidates.py
  src/dnadesign/cruncher/src/scar_nick/models.py
  src/dnadesign/cruncher/src/scar_nick/profiles.py
  src/dnadesign/cruncher/src/scar_nick/tables.py
  src/dnadesign/cruncher/src/scar_nick/view_contracts.py
  src/dnadesign/cruncher/tests/cli/test_scar_nick_cli.py
  src/dnadesign/cruncher/tests/scar_nick/test_planner.py
  src/dnadesign/cruncher/tests/scar_nick/test_profiles.py
  src/dnadesign/cruncher/workspaces/scar_nick_teto/configs/scar_nick/teto_upstream_processing.bbsI_hf.scar_nick.yaml
Due: core, external_integration, cruncher, baserender

Harden scar nick recognition site visuals
  src/dnadesign/baserender/src/adapters/scar_nick_visual_v1.py
  src/dnadesign/baserender/tests/test_adapter_registry.py
  src/dnadesign/contracts/tests/test_visual_contracts.py
  src/dnadesign/contracts/visual/scar_nick_visual_v1.py
  src/dnadesign/cruncher/src/scar_nick/geometry.py
  src/dnadesign/cruncher/src/scar_nick/models.py
  src/dnadesign/cruncher/src/scar_nick/tables.py
  src/dnadesign/cruncher/src/scar_nick/view_contracts.py
  src/dnadesign/cruncher/tests/scar_nick/test_planner.py
Due: core, external_integration, cruncher, baserender

Fix nickase catalog cut offset semantics
  src/dnadesign/cruncher/docs/guides/cassette_solve_workflow.md
  src/dnadesign/cruncher/docs/reference/nickase_catalog.md
  src/dnadesign/cruncher/resources/cassette/catalogs/neb_nicking_v1.yaml
  src/dnadesign/cruncher/resources/cassette/catalogs/thermo_nicking_v1.yaml
  src/dnadesign/cruncher/src/app/cassette_workspace_service.py
  src/dnadesign/cruncher/src/nickases/catalog.py
  src/dnadesign/cruncher/tests/cassette/test_catalog.py
  src/dnadesign/cruncher/tests/cassette/test_load.py
  src/dnadesign/cruncher/tests/cassette/test_solver.py
  src/dnadesign/cruncher/tests/cassette/test_visual_publication.py
  src/dnadesign/cruncher/tests/cli/test_cassette_cli.py
  src/dnadesign/cruncher/tests/nickases/test_catalog.py
  src/dnadesign/cruncher/tests/nickases/test_scanning.py
  src/dnadesign/cruncher/tests/scar_nick/test_planner.py
  src/dnadesign/cruncher/tests/snapback/test_solver.py
  src/dnadesign/cruncher/workspaces/scar_nick_teto/configs/scar_nick/teto_upstream_processing.bbsI_hf.scar_nick.yaml
Due: core, external_integration, cruncher

Update scar-nick post-release fill semantics
  src/dnadesign/baserender/tests/test_adapter_registry.py
  src/dnadesign/contracts/tests/test_visual_contracts.py
  src/dnadesign/contracts/visual/scar_nick_visual_v1.py
  src/dnadesign/cruncher/src/scar_nick/view_contracts.py
  src/dnadesign/cruncher/tests/cli/test_scar_nick_cli.py
  src/dnadesign/cruncher/tests/scar_nick/test_planner.py
Due: core, external_integration, cruncher, baserender

Add edge to scar-nick annealed fill
  src/dnadesign/baserender/src/adapters/scar_nick_visual_v1.py
  src/dnadesign/baserender/src/render/sequence_rows.py
  src/dnadesign/baserender/tests/test_adapter_registry.py
  src/dnadesign/contracts/tests/test_visual_contracts.py
  src/dnadesign/contracts/visual/scar_nick_visual_v1.py
  src/dnadesign/cruncher/src/scar_nick/view_contracts.py
  src/dnadesign/cruncher/tests/scar_nick/test_planner.py
Due: core, external_integration, cruncher, baserender

Clarify scar-nick strand semantics
  src/dnadesign/cruncher/src/scar_nick/README.md
  src/dnadesign/cruncher/src/scar_nick/candidates.py
  src/dnadesign/cruncher/src/scar_nick/models.py
  src/dnadesign/cruncher/src/scar_nick/profiles.py
  src/dnadesign/cruncher/src/scar_nick/semantics.py
  src/dnadesign/cruncher/src/scar_nick/view_contracts.py
  src/dnadesign/cruncher/tests/scar_nick/test_planner.py
Due: core, external_integration, cruncher

Harden scar-nick visual annotations
  src/dnadesign/baserender/src/adapters/scar_nick_visual_v1.py
  src/dnadesign/baserender/tests/test_adapter_registry.py
  src/dnadesign/contracts/visual/scar_nick_visual_v1.py
  src/dnadesign/cruncher/src/scar_nick/view_contracts.py
  src/dnadesign/cruncher/src/scar_nick/visual_geometry.py
  src/dnadesign/cruncher/tests/scar_nick/test_planner.py
Due: core, external_integration, cruncher, baserender

Add RegulonDB regulatory association contracts
  src/dnadesign/cruncher/src/ingest/promoter_contracts.py
  src/dnadesign/cruncher/src/ingest/promoters.py
  src/dnadesign/cruncher/tests/ingest/test_regulondb_promoters.py
  src/dnadesign/usr/scripts/create_regulondb_native_promoters.py
  src/dnadesign/usr/tests/scripts/test_create_regulondb_native_promoters.py
Due: core, external_integration, usr, cruncher

Add SFXI reference overlay registry
  src/dnadesign/usr/datasets/registry.yaml
  src/dnadesign/usr/docs/reference/README.md
  src/dnadesign/usr/docs/reference/sfxi-reference-overlay.md
  src/dnadesign/usr/scripts/build_reader_sfxi_reference_overlay.py
  src/dnadesign/usr/src/registry/__init__.py
  src/dnadesign/usr/src/registry/models.py
  src/dnadesign/usr/tests/scripts/test_build_reader_sfxi_reference_overlay.py
  src/dnadesign/usr/tests/scripts/test_port_mg1655_promoter_references.py
Due: core, external_integration, usr

Add Infer anchor pooling regression tests
  src/dnadesign/infer/tests/runtime/test_feature_bundle_execution.py
Due: core, external_integration, infer

Update retron study bootstrap references
  src/dnadesign/studies/tests/test_cruncher_snapshot.py
Due: core, external_integration

Allowlist RegulonDB pipeline secret-policy label
  docs/studies/regulondb_native_promoter_panel/pipeline.yaml
Due: none

Align scar-nick visual fixture with degenerate fill contract
  src/dnadesign/contracts/tests/test_visual_contracts.py
Due: core, external_integration

Split Cruncher promoter association ingest
  src/dnadesign/cruncher/src/ingest/promoter_associations.py
  src/dnadesign/cruncher/src/ingest/promoter_tables.py
  src/dnadesign/cruncher/src/ingest/promoters.py
Due: core, external_integration, cruncher

Skip optional trajectory video without FFmpeg
  src/dnadesign/cruncher/src/app/analyze/plotting_trajectory.py
  src/dnadesign/cruncher/tests/analysis/test_analysis_artifacts.py
Due: core, external_integration, cruncher

Preserve Cruncher boundary for optional video skip
  src/dnadesign/cruncher/src/app/analyze/plotting_trajectory.py
Due: core, external_integration, cruncher

Keep video skip test within public import policy
  src/dnadesign/cruncher/tests/analysis/test_analysis_artifacts.py
Due: core, external_integration, cruncher

Harden LatentDNA browser layout contract for clean checkouts
  src/dnadesign/latentdna/tests/contracts/test_study_workspace_contracts.py
Due: core, external_integration

Allow clean LatentDNA checkouts without materialized views
  src/dnadesign/latentdna/tests/contracts/test_study_workspace_contracts.py
Due: core, external_integration

Harden RegulonDB layout contract for clean checkouts
  src/dnadesign/latentdna/tests/contracts/test_study_workspace_contracts.py
Due: core, external_integration

Relax RegulonDB browser inventory contract
  src/dnadesign/latentdna/tests/contracts/test_study_workspace_contracts.py
Due: core, external_integration

Restore LatentDNA route attention contract
  docs/studies/stress_ethanol_cipro_growth/routes.md
Due: none

Batch-fix clean CI runbook contracts
  docs/bu-scc/jobs/densegen-cpu.qsub
  src/dnadesign/cruncher/src/workspaces/runbook.py
  src/dnadesign/cruncher/tests/workspaces/test_runbook_execution.py
  src/dnadesign/ops/runbooks/templates/densegen-cpu.qsub
Due: core, external_integration, cruncher

construct: fix stress pDual10 template record id
  src/dnadesign/construct/workspaces/study_stress_ethanol_cipro_pdual10/README.md
  src/dnadesign/construct/workspaces/study_stress_ethanol_cipro_pdual10/config.forward_anchor.window.yaml
  src/dnadesign/construct/workspaces/study_stress_ethanol_cipro_pdual10/config.reference_core60.yaml
  src/dnadesign/construct/workspaces/study_stress_ethanol_cipro_pdual10/config.reference_core60_contexts.forward_rc.yaml
  src/dnadesign/construct/workspaces/study_stress_ethanol_cipro_pdual10/construct.workspace.yaml
Due: core, external_integration

usr: add explicit sequence view alias repair
  src/dnadesign/construct/src/runtime.py
  src/dnadesign/construct/tests/runtime/test_run_construct.py
  src/dnadesign/usr/scripts/repair_sequence_view_alias_conflicts.py
  src/dnadesign/usr/src/sequence_views/__init__.py
  src/dnadesign/usr/src/sequence_views/maintenance.py
  src/dnadesign/usr/tests/datasets/views/test_sequence_view_alias_repair.py
Due: core, external_integration, usr

latentdna: harden artifact freshness and sidecar joins
  src/dnadesign/latentdna/src/services/deliverable_service.py
  src/dnadesign/latentdna/src/services/freshness_service.py
  src/dnadesign/latentdna/src/sources/infer_sidecar_join.py
  src/dnadesign/latentdna/tests/sources/test_infer_feature_sidecar_source.py
  src/dnadesign/latentdna/tests/test_artifact_input_helpers.py
  src/dnadesign/latentdna/tests/test_deliverable_service.py
Due: core, external_integration

latentdna: scope notebook reference hues by set
  src/dnadesign/latentdna/src/contracts/notebook.py
  src/dnadesign/latentdna/src/metadata_join_keys.py
  src/dnadesign/latentdna/src/notebooks/browser_runtime.py
  src/dnadesign/latentdna/src/notebooks/browser_runtime_plot_review.py
  src/dnadesign/latentdna/src/notebooks/browser_runtime_projection.py
  src/dnadesign/latentdna/src/notebooks/browser_runtime_support.py
  src/dnadesign/latentdna/src/notebooks/scaffold_panels.py
  src/dnadesign/latentdna/src/notebooks/scaffold_selectors.py
  src/dnadesign/latentdna/src/services/notebook_geometry_controls.py
  src/dnadesign/latentdna/tests/test_browser_runtime.py
  src/dnadesign/latentdna/tests/test_browser_runtime_projection.py
  src/dnadesign/latentdna/tests/test_browser_runtime_support.py
  src/dnadesign/latentdna/tests/test_notebook_controls_service.py
Due: core, external_integration

usr: canonicalize Reader SFXI overlay provenance
  src/dnadesign/usr/scripts/build_reader_sfxi_reference_overlay.py
  src/dnadesign/usr/tests/scripts/test_build_reader_sfxi_reference_overlay.py
Due: core, external_integration, usr

latentdna: wire native TF audit into stress study
  docs/studies/stress_ethanol_cipro_growth/latentdna_binding.yaml
  docs/studies/stress_ethanol_cipro_growth/ops.study.yaml
  docs/studies/stress_ethanol_cipro_growth/pipeline.yaml
  docs/studies/stress_ethanol_cipro_growth/routes.md
  docs/studies/stress_ethanol_cipro_growth/status.md
  src/dnadesign/latentdna/src/scalars/build.py
  src/dnadesign/latentdna/tests/contracts/test_study_workspace_contracts.py
  src/dnadesign/latentdna/tests/test_reference_sets.py
  src/dnadesign/latentdna/workspaces/stress_ethanol_cipro_growth/config.yaml
Due: core, external_integration

studies: add retron MSD compiler route
  .agents/skills/retron-hairpin-study/SKILL.md
  .agents/skills/retron-hairpin-study/references/msd-design-references.md
  .agents/skills/retron-hairpin-study/references/refresh-loop.md
  .agents/skills/retron-hairpin-study/references/route-matrix.md
  .agents/skills/retron-hairpin-study/references/study-surfaces.md
  .agents/skills/retron-hairpin-study/references/test-matrix.md
  .agents/skills/retron-hairpin-study/scripts/audit-retron-hairpin-study-skill.sh
  docs/studies/retron_hairpin_design/msd_design_hit_labels.txt
  docs/studies/retron_hairpin_design/msd_design_registry.yaml
  docs/studies/retron_hairpin_design/ops.study.yaml
  docs/studies/retron_hairpin_design/pipeline.yaml
  docs/studies/retron_hairpin_design/routes.md
  docs/studies/retron_hairpin_design/scar-nick-base-junction.md
  docs/studies/retron_hairpin_design/status.md
  src/dnadesign/studies/families/cruncher/snapshot.py
  src/dnadesign/studies/retron_hairpin_design/README.md
  src/dnadesign/studies/retron_hairpin_design/__init__.py
  src/dnadesign/studies/retron_hairpin_design/cli.py
  src/dnadesign/studies/retron_hairpin_design/compiler.py
  src/dnadesign/studies/retron_hairpin_design/msd_ids.py
  src/dnadesign/studies/retron_hairpin_design/registry.py
  src/dnadesign/studies/tests/test_cruncher_study_docs_and_skill_contracts.py
  src/dnadesign/studies/tests/test_retron_msd_compiler.py
Due: core, external_integration

cruncher: route scar-nick workflow docs
  src/dnadesign/cruncher/README.md
  src/dnadesign/cruncher/docs/README.md
  src/dnadesign/cruncher/docs/README.tool-source.yaml
  src/dnadesign/cruncher/docs/dev/2026-04-19-cruncher-snapback-dev-spec.md
  src/dnadesign/cruncher/docs/dev/2026-04-19-retron-p4-hairpin-variant-audit.md
  src/dnadesign/cruncher/docs/guides/intent_and_lifecycle.md
  src/dnadesign/cruncher/docs/guides/scar_nick_workflow.md
  src/dnadesign/cruncher/docs/guides/snapback_workflow.md
  src/dnadesign/cruncher/docs/index.md
  src/dnadesign/cruncher/docs/meta/docs_catalog.yaml
  src/dnadesign/cruncher/docs/reference/architecture.md
  src/dnadesign/cruncher/docs/reference/cli.md
  src/dnadesign/cruncher/docs/reference/runbook_steps.md
  src/dnadesign/cruncher/src/devtools/docs_ia.py
  src/dnadesign/cruncher/src/workspaces/families.py
  src/dnadesign/cruncher/tests/docs/test_docs_ontology_contracts.py
  src/dnadesign/cruncher/tests/scar_nick/test_workspace_panel_specs.py
  src/dnadesign/cruncher/tests/workspaces/test_family_registry.py
  src/dnadesign/cruncher/workspaces/scar_nick_teto/configs/runbook.yaml
  src/dnadesign/cruncher/workspaces/scar_nick_teto/configs/scar_nick/teto_upstream_processing.paqci_core_panel.scar_nick.yaml
  src/dnadesign/cruncher/workspaces/scar_nick_teto/runbook.md
Due: core, external_integration, cruncher

latentdna: add regulator margin enrichment
  docs/studies/stress_ethanol_cipro_growth/routes.md
  docs/studies/stress_ethanol_cipro_growth/status.md
  src/dnadesign/latentdna/README.md
  src/dnadesign/latentdna/docs/README.md
  src/dnadesign/latentdna/docs/README.tool-source.yaml
  src/dnadesign/latentdna/docs/dev/README.md
  src/dnadesign/latentdna/docs/dev/native-regulator-plan-margin-enrichment.md
  src/dnadesign/latentdna/src/enrichments/categorical_enrichment.py
  src/dnadesign/latentdna/src/enrichments/enrichment_stats.py
  src/dnadesign/latentdna/src/enrichments/regulatory_plan_margin.py
  src/dnadesign/latentdna/src/enrichments/regulatory_plan_margin_contracts.py
  src/dnadesign/latentdna/src/enrichments/table_contracts.py
  src/dnadesign/latentdna/src/notebooks/browser_runtime.py
  src/dnadesign/latentdna/src/notebooks/browser_runtime_support.py
  src/dnadesign/latentdna/src/notebooks/scaffold_panels.py
  src/dnadesign/latentdna/src/scalars/build.py
  src/dnadesign/latentdna/src/scalars/builders/__init__.py
  src/dnadesign/latentdna/src/scalars/builders/regulatory_plan_margin.py
  src/dnadesign/latentdna/src/services/projection_service.py
  src/dnadesign/latentdna/src/services/recipe_service.py
  src/dnadesign/latentdna/src/workspaces/validation.py
  src/dnadesign/latentdna/tests/contracts/test_study_workspace_contracts.py
  src/dnadesign/latentdna/tests/contracts/test_workspace_config.py
  src/dnadesign/latentdna/tests/integrations/test_source_projection_plot_workflow.py
  src/dnadesign/latentdna/tests/test_browser_runtime_support.py
  src/dnadesign/latentdna/tests/test_categorical_enrichment.py
  src/dnadesign/latentdna/tests/test_notebook_scaffold_panels.py
  src/dnadesign/latentdna/tests/test_reference_sets.py
  src/dnadesign/latentdna/tests/test_regulatory_plan_margin_enrichment.py
  src/dnadesign/latentdna/tests/test_scalar_build.py
  src/dnadesign/latentdna/workspaces/stress_ethanol_cipro_growth/config.yaml
  src/dnadesign/latentdna/workspaces/stress_ethanol_cipro_growth/outputs/status/workspace_snapshot.json
  src/dnadesign/studies/stress_ethanol_cipro_growth/deliverables/native_regulator_plan_margin_enrichment.md
Due: core, external_integration

docs: update runbook and layout inventories
  docs/runbooks/README.md
  src/dnadesign/usr/tests/source_layout_inventory.py
  src/dnadesign/usr/tests/tests_layout_inventory.py
Due: core, external_integration, usr
