Repository e-south/dnadesign: changes, and which Codecov flags are due for each by the changed paths.
All: core, external_integration, usr, notify, densegen, infer, opal, cluster, billboard, libshuffle, nmf, latdna, cruncher, tfkdanalysis, aligner, baserender, permuter

codecov.yml:

codecov:
  require_ci_to_pass: true

coverage:
  precision: 2
  round: down
  range: "0...100"
  status:
    project:
      default:
        target: auto
        threshold: 0.5%
        if_ci_failed: error
        if_not_found: failure
    patch:
      default:
        target: auto
        threshold: 0.5%
        if_ci_failed: error
        if_not_found: failure

flags:
  core:
    paths:
      - src/dnadesign
    carryforward: false
  external_integration:
    paths:
      - src/dnadesign
    carryforward: false

component_management:
  default_rules:
    statuses:
      - type: project
        target: auto
        threshold: 0.5%
        if_ci_failed: error
        if_not_found: failure
  individual_components:
    - component_id: usr
      name: usr
      paths:
        - src/dnadesign/usr/**
    - component_id: notify
      name: notify
      paths:
        - src/dnadesign/notify/**
    - component_id: densegen
      name: densegen
      paths:
        - src/dnadesign/densegen/**
    - component_id: infer
      name: infer
      paths:
        - src/dnadesign/infer/**
    - component_id: opal
      name: opal
      paths:
        - src/dnadesign/opal/**
    - component_id: cluster
      name: cluster
      paths:
        - src/dnadesign/cluster/**
    - component_id: billboard
      name: billboard
      paths:
        - src/dnadesign/billboard/**
    - component_id: libshuffle
      name: libshuffle
      paths:
        - src/dnadesign/libshuffle/**
    - component_id: nmf
      name: nmf
      paths:
        - src/dnadesign/nmf/**
    - component_id: latdna
      name: latdna
      paths:
        - src/dnadesign/latdna/**
    - component_id: cruncher
      name: cruncher
      paths:
        - src/dnadesign/cruncher/**
    - component_id: tfkdanalysis
      name: tfkdanalysis
      paths:
        - src/dnadesign/tfkdanalysis/**
    - component_id: aligner
      name: aligner
      paths:
        - src/dnadesign/aligner/**
    - component_id: baserender
      name: baserender
      paths:
        - src/dnadesign/baserender/**
    - component_id: permuter
      name: permuter
      paths:
        - src/dnadesign/permuter/**

comment:
  require_changes: true
  layout: "reach,diff,flags,components,files"

github_checks:
  annotations: true

Fix row-scoped labels and exemplar manifests
  src/dnadesign/aligner/msa/visualization/materialization/pipeline.py
  src/dnadesign/aligner/msa/visualization/materialization/writers.py
  src/dnadesign/aligner/tests/msa/visualization/test_materialization.py
  src/dnadesign/baserender/src/adapters/sequence_evidence_map_v1.py
  src/dnadesign/baserender/tests/test_adapter_registry.py
Due: core, external_integration, aligner, baserender

Tighten retron review output tests
  src/dnadesign/studies/units/retron_hairpin_design/tests/review_outputs/handoff/__init__.py
  src/dnadesign/studies/units/retron_hairpin_design/tests/review_outputs/video/test_review_still_quality.py
Due: core, external_integration

Register thread in coverage baseline
  .github/tool-coverage-baseline.json
Due: none

Refresh stale docs verification metadata
  RELIABILITY.md
  docs/runbooks/README.md
  src/dnadesign/construct/docs/reference/cli.md
  src/dnadesign/construct/docs/reference/config.md
  src/dnadesign/construct/docs/reference/workspace-registry.md
  src/dnadesign/cruncher/docs/demos/demo_cassette_workspace.md
  src/dnadesign/cruncher/docs/guides/cassette_solve_workflow.md
  src/dnadesign/cruncher/docs/guides/cassette_workflow.md
  src/dnadesign/cruncher/docs/reference/cassette_artifacts.md
  src/dnadesign/cruncher/docs/reference/cassette_solve_spec.md
  src/dnadesign/cruncher/docs/reference/cassette_spec.md
  src/dnadesign/ops/docs/how-to-use-ops.md
Due: core, external_integration, cruncher

Split MSA exemplar manifest regression test
  .agents/skills/eco1-rt-repack-status/scripts/audit-eco1-rt-repack-status-skill.sh
  src/dnadesign/aligner/tests/msa/visualization/test_exemplar_manifest.py
  src/dnadesign/aligner/tests/msa/visualization/test_materialization.py
Due: core, external_integration, aligner

Refresh operations docs verification metadata
  docs/operations/README.md
Due: none

Validate ProteinMPNN sample sequence hashes
  src/dnadesign/thread/adapters/proteinmpnn/samples.py
  src/dnadesign/thread/tests/adapters/proteinmpnn/test_execution_and_samples.py
Due: core, external_integration

Harden portable thread artifact validation
  src/dnadesign/studies/units/eco1_rt_repack/operations/contracts/sampling/proteinmpnn_request.py
  src/dnadesign/studies/units/eco1_rt_repack/operations/contracts/sampling/sample_table.py
  src/dnadesign/studies/units/eco1_rt_repack/operations/contracts/sampling/thread_plan/validation.py
  src/dnadesign/studies/units/eco1_rt_repack/tests/contracts/sampling/test_proteinmpnn_request.py
  src/dnadesign/studies/units/eco1_rt_repack/tests/contracts/sampling/test_sample_table.py
  src/dnadesign/thread/adapters/proteinmpnn/validation.py
  src/dnadesign/thread/tests/adapters/proteinmpnn/test_request_adapter.py
Due: core, external_integration

Harden Eco1 ColabFold qsub preflight
  docs/bu-scc/jobs/eco1-colabfold-foldcheck.qsub
Due: none

Make foldcheck request hashes portable
  src/dnadesign/thread/foldcheck/request.py
  src/dnadesign/thread/tests/foldcheck/test_request.py
Due: core, external_integration

Record Eco1 ColabFold smoke results
  docs/bu-scc/jobs/README.md
  docs/studies/eco1_rt_repack/contexts/fold-validation-policy.md
  docs/studies/eco1_rt_repack/contexts/implementation-roadmap.md
  docs/studies/eco1_rt_repack/operations/runtime/command-groups/pipeline.yaml
  docs/studies/eco1_rt_repack/record/status.md
Due: none

Harden Eco1 fold-check artifact contracts
  docs/studies/eco1_rt_repack/contexts/fold-validation-policy.md
  docs/studies/eco1_rt_repack/contexts/implementation-roadmap.md
  docs/studies/eco1_rt_repack/operations/contract/readiness/checks/foldcheck_runtime.yaml
  docs/studies/eco1_rt_repack/record/datasets.yaml
  docs/studies/eco1_rt_repack/record/status.md
  docs/studies/eco1_rt_repack/routes/README.md
  docs/studies/eco1_rt_repack/workbench/provenance/residue-numbering-policy.yaml
  src/dnadesign/studies/units/eco1_rt_repack/operations/contracts/conservation/artifacts.py
  src/dnadesign/studies/units/eco1_rt_repack/operations/contracts/evidence_artifacts.py
  src/dnadesign/studies/units/eco1_rt_repack/operations/contracts/foldcheck/report.py
  src/dnadesign/studies/units/eco1_rt_repack/operations/contracts/sampling/artifacts.py
  src/dnadesign/studies/units/eco1_rt_repack/operations/contracts/structure/artifacts.py
  src/dnadesign/studies/units/eco1_rt_repack/operations/materialization/structure/pipeline.py
  src/dnadesign/studies/units/eco1_rt_repack/tests/materialization/foldcheck_report/__init__.py
  src/dnadesign/studies/units/eco1_rt_repack/tests/materialization/foldcheck_report/test_materialization.py
  src/dnadesign/studies/units/eco1_rt_repack/tests/materialization/structure/test_materialization.py
  src/dnadesign/thread/adapters/colabfold/index.py
  src/dnadesign/thread/adapters/colabfold/outputs.py
  src/dnadesign/thread/adapters/proteinmpnn/structure.py
  src/dnadesign/thread/docs/README.md
  src/dnadesign/thread/foldcheck/report.py
  src/dnadesign/thread/tests/adapters/colabfold/__init__.py
  src/dnadesign/thread/tests/adapters/colabfold/test_outputs.py
  src/dnadesign/thread/tests/adapters/proteinmpnn/test_structure.py
  src/dnadesign/thread/tests/foldcheck/test_report.py
  src/dnadesign/thread/tests/test_package_layout.py
Due: core, external_integration

Make Eco1 fold-check requests portable
  src/dnadesign/studies/units/eco1_rt_repack/operations/contracts/foldcheck/request.py
  src/dnadesign/studies/units/eco1_rt_repack/operations/materialization/foldcheck_request/pipeline.py
  src/dnadesign/studies/units/eco1_rt_repack/tests/contracts/foldcheck/test_request.py
  src/dnadesign/studies/units/eco1_rt_repack/tests/materialization/foldcheck_request/test_materialization.py
Due: core, external_integration

Harden thread runtime artifact portability
  docs/bu-scc/jobs/README.md
  docs/bu-scc/jobs/eco1-colabfold-foldcheck.qsub
  docs/studies/eco1_rt_repack/operations/contract/status/snapshot.yaml
  src/dnadesign/thread/adapters/colabfold/outputs.py
  src/dnadesign/thread/adapters/proteinmpnn/__init__.py
  src/dnadesign/thread/adapters/proteinmpnn/execution.py
  src/dnadesign/thread/adapters/proteinmpnn/sidecars.py
  src/dnadesign/thread/adapters/proteinmpnn/validation.py
  src/dnadesign/thread/candidates/proteinmpnn.py
  src/dnadesign/thread/docs/README.md
  src/dnadesign/thread/foldcheck/subset.py
  src/dnadesign/thread/tests/adapters/colabfold/test_outputs.py
  src/dnadesign/thread/tests/adapters/proteinmpnn/test_execution_and_samples.py
  src/dnadesign/thread/tests/foldcheck/test_subset.py
  src/dnadesign/thread/tests/test_package_layout.py
  src/dnadesign/thread/tests/test_proteinmpnn_candidates.py
Due: core, external_integration

Harden OPAL status and Eco1 fold readiness
  docs/studies/eco1_rt_repack/README.md
  docs/studies/eco1_rt_repack/operations/contract/lifecycle/mode.yaml
  docs/studies/eco1_rt_repack/operations/contract/lifecycle/phases.yaml
  docs/studies/eco1_rt_repack/operations/contract/readiness/checks/downstream_rt_lnrna_handoff.yaml
  docs/studies/eco1_rt_repack/operations/contract/readiness/checks/foldcheck_runtime.yaml
  docs/studies/eco1_rt_repack/operations/contract/readiness/group-bindings.yaml
  docs/studies/eco1_rt_repack/operations/contract/readiness/next-scope.yaml
  docs/studies/eco1_rt_repack/operations/contract/readiness/scope.yaml
  docs/studies/eco1_rt_repack/operations/contract/status/snapshot.yaml
  docs/studies/eco1_rt_repack/operations/contract/surfaces/artifacts.yaml
  docs/studies/eco1_rt_repack/record/status.md
  docs/studies/eco1_rt_repack/workbench/design_sets/eco1-rt-conservative-thread-v1.md
  src/dnadesign/opal/src/ops/status_providers.py
  src/dnadesign/ops/tests/test_progress_cli.py
  src/dnadesign/studies/units/eco1_rt_repack/operations/contracts/constants.py
  src/dnadesign/studies/units/eco1_rt_repack/operations/contracts/sampling/artifacts.py
  src/dnadesign/studies/units/eco1_rt_repack/tests/contracts/foldcheck/test_report.py
Due: core, external_integration, opal

Scope Eco1 alignment sufficiency to selected profiles
  src/dnadesign/studies/units/eco1_rt_repack/operations/materialization/conservation_alignments/pipeline.py
  src/dnadesign/studies/units/eco1_rt_repack/operations/materialization/source_sequences/sufficiency/context.py
  src/dnadesign/studies/units/eco1_rt_repack/operations/materialization/source_sequences/sufficiency/manifests.py
  src/dnadesign/studies/units/eco1_rt_repack/operations/materialization/source_sequences/sufficiency/pipeline.py
  src/dnadesign/studies/units/eco1_rt_repack/tests/materialization/conservation_alignments/_runners.py
  src/dnadesign/studies/units/eco1_rt_repack/tests/materialization/conservation_alignments/test_materialization.py
  src/dnadesign/studies/units/eco1_rt_repack/tests/materialization/conservation_alignments/test_profile_selection.py
Due: core, external_integration

Stamp stress handoff rows with record run ids
  src/dnadesign/studies/units/stress_ethanol_cipro_growth/decision/opal/synthesis_handoff/records.py
  src/dnadesign/studies/units/stress_ethanol_cipro_growth/tests/decision/opal/synthesis_handoff/test_synthesis_handoff_contracts.py
Due: core, external_integration

Document Atlas context after Eco1 fold checks
  docs/dev/plans/cross-tool/thread/2026-06-19-eco1-rt-repack-thread.md
  docs/studies/eco1_rt_repack/contexts/fold-validation-policy.md
  docs/studies/eco1_rt_repack/contexts/implementation-roadmap.md
  docs/studies/eco1_rt_repack/operations/runtime/command-groups/pipeline.yaml
  docs/studies/eco1_rt_repack/record/datasets.yaml
  docs/studies/eco1_rt_repack/record/status.md
  docs/studies/eco1_rt_repack/routes/README.md
  src/dnadesign/thread/docs/README.md
Due: core, external_integration

Add generic ESM semantic adapters
  pyproject.toml
  src/dnadesign/devtools/architecture/boundaries.py
  src/dnadesign/thread/adapters/biohub_esmc/__init__.py
  src/dnadesign/thread/adapters/biohub_esmc/auth.py
  src/dnadesign/thread/adapters/biohub_esmc/client.py
  src/dnadesign/thread/adapters/biohub_esmc/encoded.py
  src/dnadesign/thread/adapters/biohub_esmc/hashes.py
  src/dnadesign/thread/adapters/biohub_esmc/models.py
  src/dnadesign/thread/adapters/biohub_esmc/normalize.py
  src/dnadesign/thread/adapters/biohub_esmc/tables.py
  src/dnadesign/thread/adapters/esm_atlas/__init__.py
  src/dnadesign/thread/adapters/esm_atlas/client.py
  src/dnadesign/thread/adapters/esm_atlas/hashes.py
  src/dnadesign/thread/adapters/esm_atlas/models.py
  src/dnadesign/thread/adapters/esm_atlas/normalize.py
  src/dnadesign/thread/adapters/esm_atlas/structure_predictions.py
  src/dnadesign/thread/adapters/esm_atlas/tables.py
  src/dnadesign/thread/docs/README.md
  src/dnadesign/thread/structure_predictions/__init__.py
  src/dnadesign/thread/structure_predictions/hashes.py
  src/dnadesign/thread/structure_predictions/models.py
  src/dnadesign/thread/structure_predictions/registry.py
  src/dnadesign/thread/tests/adapters/biohub_esmc/__init__.py
  src/dnadesign/thread/tests/adapters/biohub_esmc/test_auth_and_client.py
  src/dnadesign/thread/tests/adapters/biohub_esmc/test_normalize_and_tables.py
  src/dnadesign/thread/tests/adapters/esm_atlas/__init__.py
  src/dnadesign/thread/tests/adapters/esm_atlas/test_normalize_and_tables.py
  src/dnadesign/thread/tests/structure_predictions/__init__.py
  src/dnadesign/thread/tests/structure_predictions/test_registry.py
  src/dnadesign/thread/tests/test_package_layout.py
  uv.lock
Due: core, external_integration

Add ChimeraX structure review skill
  .agents/skills/chimerax-structure-review/SKILL.md
  .agents/skills/chimerax-structure-review/agents/openai.yaml
  .agents/skills/chimerax-structure-review/assets/control_session_manifest.schema.yaml
  .agents/skills/chimerax-structure-review/assets/demo_structure.pdb
  .agents/skills/chimerax-structure-review/assets/live_session_manifest.schema.yaml
  .agents/skills/chimerax-structure-review/assets/pose_manifest.schema.yaml
  .agents/skills/chimerax-structure-review/assets/style_presets.yaml
  .agents/skills/chimerax-structure-review/references/chimerax-rest-contract.md
  .agents/skills/chimerax-structure-review/references/collaboration-cadence.md
  .agents/skills/chimerax-structure-review/references/command-allowlist.md
  .agents/skills/chimerax-structure-review/references/external-sources.md
  .agents/skills/chimerax-structure-review/references/first-run.md
  .agents/skills/chimerax-structure-review/references/live-session-contract.md
  .agents/skills/chimerax-structure-review/references/name-scope-decision.md
  .agents/skills/chimerax-structure-review/references/natural-language-control-map.md
  .agents/skills/chimerax-structure-review/references/pose-manifest-contract.md
  .agents/skills/chimerax-structure-review/references/sibling-patterns-example.md
  .agents/skills/chimerax-structure-review/references/style-preset-contract.md
  .agents/skills/chimerax-structure-review/references/test-matrix.md
  .agents/skills/chimerax-structure-review/references/workflow-router.md
  .agents/skills/chimerax-structure-review/scripts/audit-chimerax-structure-review-skill.sh
  .agents/skills/chimerax-structure-review/scripts/chimerax-capture-pose.py
  .agents/skills/chimerax-structure-review/scripts/chimerax-live-demo.sh
  .agents/skills/chimerax-structure-review/scripts/chimerax-preflight.sh
  .agents/skills/chimerax-structure-review/scripts/chimerax-rest-smoke.sh
  .agents/skills/chimerax-structure-review/scripts/chimerax-send-command.py
  .agents/skills/chimerax-structure-review/scripts/chimerax-session-start.sh
  .agents/skills/chimerax-structure-review/scripts/chimerax-session-status.sh
  .agents/skills/chimerax-structure-review/scripts/chimerax-session-stop.sh
Due: none

Add Biohub ESMC scoring paths
  src/dnadesign/permuter/__init__.py
  src/dnadesign/permuter/src/api/__init__.py
  src/dnadesign/permuter/src/scoring/esmc_masked_marginal/__init__.py
  src/dnadesign/permuter/src/scoring/esmc_masked_marginal/contracts.py
  src/dnadesign/permuter/src/scoring/esmc_masked_marginal/normalize.py
  src/dnadesign/permuter/src/scoring/esmc_masked_marginal/plots.py
  src/dnadesign/permuter/src/scoring/esmc_masked_marginal/requests.py
  src/dnadesign/permuter/src/scoring/esmc_masked_marginal/tables.py
  src/dnadesign/permuter/tests/scoring/test_esmc_masked_marginal.py
  src/dnadesign/studies/units/eco1_rt_repack/operations/materialization/biohub_esmc_sae_profile/cli.py
  src/dnadesign/studies/units/eco1_rt_repack/operations/materialization/biohub_esmc_sae_profile/constants.py
  src/dnadesign/studies/units/eco1_rt_repack/operations/materialization/biohub_esmc_sae_profile/pipeline.py
  src/dnadesign/studies/units/eco1_rt_repack/operations/materialization/biohub_esmc_wt_mutation_scoring/__init__.py
  src/dnadesign/studies/units/eco1_rt_repack/operations/materialization/biohub_esmc_wt_mutation_scoring/__main__.py
  src/dnadesign/studies/units/eco1_rt_repack/operations/materialization/biohub_esmc_wt_mutation_scoring/cli.py
  src/dnadesign/studies/units/eco1_rt_repack/operations/materialization/biohub_esmc_wt_mutation_scoring/constants.py
  src/dnadesign/studies/units/eco1_rt_repack/operations/materialization/biohub_esmc_wt_mutation_scoring/mask_join.py
  src/dnadesign/studies/units/eco1_rt_repack/operations/materialization/biohub_esmc_wt_mutation_scoring/pipeline.py
  src/dnadesign/studies/units/eco1_rt_repack/operations/materialization/biohub_esmc_wt_mutation_scoring/plot_context.py
  src/dnadesign/studies/units/eco1_rt_repack/operations/materialization/biohub_esmc_wt_mutation_scoring/resume.py
  src/dnadesign/studies/units/eco1_rt_repack/operations/materialization/biohub_esmc_wt_mutation_scoring/selection.py
  src/dnadesign/studies/units/eco1_rt_repack/tests/architecture/test_biohub_wt_mutation_scoring_layout.py
  src/dnadesign/studies/units/eco1_rt_repack/tests/materialization/biohub_esmc_sae_profile/fixtures.py
  src/dnadesign/studies/units/eco1_rt_repack/tests/materialization/biohub_esmc_sae_profile/test_materialization.py
  src/dnadesign/studies/units/eco1_rt_repack/tests/materialization/biohub_esmc_sae_profile/test_resume_hardening.py
  src/dnadesign/studies/units/eco1_rt_repack/tests/materialization/biohub_esmc_wt_mutation_scoring/__init__.py
  src/dnadesign/studies/units/eco1_rt_repack/tests/materialization/biohub_esmc_wt_mutation_scoring/_fixtures.py
  src/dnadesign/studies/units/eco1_rt_repack/tests/materialization/biohub_esmc_wt_mutation_scoring/test_materialization.py
  src/dnadesign/thread/adapters/biohub_esmc/__init__.py
  src/dnadesign/thread/adapters/biohub_esmc/client.py
  src/dnadesign/thread/adapters/biohub_esmc/encoded.py
  src/dnadesign/thread/adapters/biohub_esmc/feature_descriptions.py
  src/dnadesign/thread/adapters/biohub_esmc/tables.py
  src/dnadesign/thread/tests/adapters/biohub_esmc/test_auth_and_client.py
  src/dnadesign/thread/tests/adapters/biohub_esmc/test_feature_descriptions.py
  src/dnadesign/thread/tests/adapters/biohub_esmc/test_normalize_and_tables.py
Due: core, external_integration, permuter

Update Eco1 review status docs
  .agents/skills/eco1-rt-repack-status/references/external-sources.md
  .agents/skills/eco1-rt-repack-status/references/route-matrix.md
  .agents/skills/eco1-rt-repack-status/references/study-surfaces.md
  .agents/skills/eco1-rt-repack-status/references/test-matrix.md
  .agents/skills/eco1-rt-repack-status/scripts/audit-eco1-rt-repack-status-skill.sh
  docs/dev/README.md
  docs/dev/plans/cross-tool/thread/2026-06-19-eco1-rt-repack-thread.md
  docs/operations/contracts/failure.md
  docs/operations/contracts/preflight-checks.md
  docs/operations/model/mental-model.md
  docs/operations/orchestration/runbooks.md
  docs/operations/status/kinds.md
  docs/operations/status/runtime-visibility.md
  docs/studies/eco1_rt_repack/README.md
  docs/studies/eco1_rt_repack/contexts/fold-validation-policy.md
  docs/studies/eco1_rt_repack/contexts/implementation-roadmap.md
  docs/studies/eco1_rt_repack/operations/runtime/command-groups/README.md
  docs/studies/eco1_rt_repack/operations/runtime/command-groups/pipeline.yaml
  docs/studies/eco1_rt_repack/record/datasets.yaml
  docs/studies/eco1_rt_repack/record/status.md
  docs/studies/eco1_rt_repack/routes/README.md
  src/dnadesign/baserender/docs/README.md
  src/dnadesign/baserender/docs/integrations/README.md
  src/dnadesign/baserender/docs/integrations/cruncher.md
  src/dnadesign/ops/docs/README.md
Due: core, external_integration, baserender

Add structure view residue overlays
  src/dnadesign/thread/structure_views/__init__.py
  src/dnadesign/thread/structure_views/backends/py3dmol.py
  src/dnadesign/thread/structure_views/models.py
  src/dnadesign/thread/tests/structure_views/test_py3dmol_html.py
Due: core, external_integration

Refine Eco1 review structure browsers
  src/dnadesign/studies/units/eco1_rt_repack/operations/materialization/foldcheck_review/pdb_alignment.py
  src/dnadesign/studies/units/eco1_rt_repack/operations/materialization/review_deliverables/biohub_esmc_sae_fold_llr.py
  src/dnadesign/studies/units/eco1_rt_repack/operations/materialization/review_deliverables/notebook.py
  src/dnadesign/studies/units/eco1_rt_repack/operations/materialization/review_deliverables/notebook_runtime.py
  src/dnadesign/studies/units/eco1_rt_repack/operations/materialization/review_deliverables/notebook_structure_browser.py
  src/dnadesign/studies/units/eco1_rt_repack/operations/materialization/review_deliverables/pipeline.py
  src/dnadesign/studies/units/eco1_rt_repack/operations/materialization/review_deliverables/structure_browser.py
  src/dnadesign/studies/units/eco1_rt_repack/tests/materialization/review_deliverables/foldcheck_fixtures.py
  src/dnadesign/studies/units/eco1_rt_repack/tests/materialization/review_deliverables/notebook_assertions.py
  src/dnadesign/studies/units/eco1_rt_repack/tests/materialization/review_deliverables/test_biohub_sae_interpretation.py
  src/dnadesign/studies/units/eco1_rt_repack/tests/materialization/review_deliverables/test_materialization.py
  src/dnadesign/studies/units/eco1_rt_repack/tests/materialization/review_deliverables/test_structure_browser_runtime.py
Due: core, external_integration

Update Eco1 review deliverable records
  docs/studies/eco1_rt_repack/operations/runtime/command-groups/README.md
  docs/studies/eco1_rt_repack/operations/runtime/command-groups/pipeline.yaml
  docs/studies/eco1_rt_repack/record/datasets.yaml
  docs/studies/eco1_rt_repack/record/status.md
  docs/studies/eco1_rt_repack/routes/README.md
Due: none

Harden Eco1 fold and mask contracts
  docs/studies/eco1_rt_repack/operations/contract/schemas/thread-artifact-chain.schema.yaml
  src/dnadesign/studies/units/eco1_rt_repack/operations/contracts/constants.py
  src/dnadesign/studies/units/eco1_rt_repack/operations/contracts/evidence_artifacts.py
  src/dnadesign/studies/units/eco1_rt_repack/operations/contracts/masks/__init__.py
  src/dnadesign/studies/units/eco1_rt_repack/operations/contracts/masks/manual_artifacts.py
  src/dnadesign/studies/units/eco1_rt_repack/operations/contracts/masks/source.py
  src/dnadesign/studies/units/eco1_rt_repack/operations/materialization/contact_risk/pipeline.py
  src/dnadesign/studies/units/eco1_rt_repack/operations/materialization/foldcheck_review/ranking.py
  src/dnadesign/studies/units/eco1_rt_repack/operations/materialization/foldcheck_review/structures.py
  src/dnadesign/studies/units/eco1_rt_repack/operations/materialization/manual_mask_authority/ontology.py
  src/dnadesign/studies/units/eco1_rt_repack/tests/contracts/masks/test_source.py
  src/dnadesign/studies/units/eco1_rt_repack/tests/materialization/foldcheck_review/test_materialization.py
  src/dnadesign/thread/adapters/colabfold/metrics.py
  src/dnadesign/thread/tests/adapters/colabfold/test_metrics.py
Due: core, external_integration

Harden Eco1 Biohub review deliverables
  src/dnadesign/studies/units/eco1_rt_repack/operations/materialization/biohub_esmc_sae_profile/pipeline.py
  src/dnadesign/studies/units/eco1_rt_repack/operations/materialization/biohub_esmc_sae_profile/run_contract.py
  src/dnadesign/studies/units/eco1_rt_repack/operations/materialization/biohub_esmc_wt_mutation_scoring/pipeline.py
  src/dnadesign/studies/units/eco1_rt_repack/operations/materialization/review_deliverables/biohub_esmc_sae_fold_llr.py
  src/dnadesign/studies/units/eco1_rt_repack/operations/materialization/review_deliverables/biohub_esmc_sae_interpretation.py
  src/dnadesign/studies/units/eco1_rt_repack/operations/materialization/review_deliverables/biohub_esmc_sae_tables.py
  src/dnadesign/studies/units/eco1_rt_repack/operations/materialization/review_deliverables/esmc_model_constraint.py
  src/dnadesign/studies/units/eco1_rt_repack/operations/materialization/review_deliverables/esmc_model_constraint_metadata.py
  src/dnadesign/studies/units/eco1_rt_repack/operations/materialization/review_deliverables/manifest.py
  src/dnadesign/studies/units/eco1_rt_repack/operations/materialization/review_deliverables/notebook.py
  src/dnadesign/studies/units/eco1_rt_repack/operations/materialization/review_deliverables/notebook_runtime.py
  src/dnadesign/studies/units/eco1_rt_repack/operations/materialization/review_deliverables/notebook_sae_features.py
  src/dnadesign/studies/units/eco1_rt_repack/operations/materialization/review_deliverables/notebook_structure_browser.py
  src/dnadesign/studies/units/eco1_rt_repack/operations/materialization/review_deliverables/pipeline.py
  src/dnadesign/studies/units/eco1_rt_repack/operations/materialization/review_deliverables/proteinmpnn_diversity.py
  src/dnadesign/studies/units/eco1_rt_repack/operations/materialization/review_deliverables/proteinmpnn_fold_validation.py
  src/dnadesign/studies/units/eco1_rt_repack/operations/materialization/review_deliverables/structure_browser.py
  src/dnadesign/studies/units/eco1_rt_repack/tests/materialization/biohub_esmc_sae_profile/fixtures.py
  src/dnadesign/studies/units/eco1_rt_repack/tests/materialization/biohub_esmc_sae_profile/test_materialization.py
  src/dnadesign/studies/units/eco1_rt_repack/tests/materialization/biohub_esmc_wt_mutation_scoring/_fixtures.py
  src/dnadesign/studies/units/eco1_rt_repack/tests/materialization/biohub_esmc_wt_mutation_scoring/test_materialization.py
  src/dnadesign/studies/units/eco1_rt_repack/tests/materialization/review_deliverables/notebook_assertions.py
  src/dnadesign/studies/units/eco1_rt_repack/tests/materialization/review_deliverables/runtime_fixtures.py
  src/dnadesign/studies/units/eco1_rt_repack/tests/materialization/review_deliverables/test_biohub_sae_interpretation.py
  src/dnadesign/studies/units/eco1_rt_repack/tests/materialization/review_deliverables/test_materialization.py
  src/dnadesign/studies/units/eco1_rt_repack/tests/materialization/review_deliverables/test_structure_browser_runtime.py
Due: core, external_integration

Align Eco1 review status docs
  .agents/skills/eco1-rt-repack-status/references/route-matrix.md
  .agents/skills/eco1-rt-repack-status/references/study-surfaces.md
  .agents/skills/eco1-rt-repack-status/references/test-matrix.md
  .agents/skills/eco1-rt-repack-status/scripts/audit-eco1-rt-repack-status-skill.sh
  docs/studies/eco1_rt_repack/contexts/fixed-backbone-method.md
  docs/studies/eco1_rt_repack/contexts/fold-validation-policy.md
  docs/studies/eco1_rt_repack/contexts/implementation-roadmap.md
  docs/studies/eco1_rt_repack/contexts/msa-method.md
  docs/studies/eco1_rt_repack/contexts/residue-mask-policy.md
  docs/studies/eco1_rt_repack/operations/runtime/command-groups/README.md
  docs/studies/eco1_rt_repack/record/datasets.yaml
  docs/studies/eco1_rt_repack/record/status.md
  docs/studies/eco1_rt_repack/routes/README.md
  docs/studies/eco1_rt_repack/workbench/ontology/rt-annotation-tracks.yaml
  docs/studies/eco1_rt_repack/workbench/ontology/vocabulary.md
Due: none

Harden MSA visualization panels
  src/dnadesign/aligner/msa/visualization/contracts/models.py
  src/dnadesign/aligner/msa/visualization/contracts/overview_rows.py
  src/dnadesign/aligner/msa/visualization/contracts/panel_spec.py
  src/dnadesign/aligner/msa/visualization/materialization/pipeline.py
  src/dnadesign/aligner/msa/visualization/materialization/writers.py
  src/dnadesign/aligner/msa/visualization/renderers/panels.py
  src/dnadesign/aligner/tests/msa/visualization/_fixtures.py
  src/dnadesign/aligner/tests/msa/visualization/test_panel_overview.py
  src/dnadesign/aligner/tests/msa/visualization/test_profile_id_contract.py
Due: core, external_integration, aligner

Harden thread structure views and request hashes
  src/dnadesign/studies/units/eco1_rt_repack/tests/contracts/sampling/test_proteinmpnn_request.py
  src/dnadesign/thread/adapters/proteinmpnn/manifest.py
  src/dnadesign/thread/structure_views/backends/py3dmol.py
  src/dnadesign/thread/structure_views/models.py
  src/dnadesign/thread/tests/adapters/proteinmpnn/test_request_adapter.py
  src/dnadesign/thread/tests/structure_views/__init__.py
  src/dnadesign/thread/tests/structure_views/test_py3dmol_html.py
Due: core, external_integration

Harden ChimeraX review skill ergonomics
  .agents/skills/chimerax-structure-review/references/external-sources.md
  .agents/skills/chimerax-structure-review/references/sibling-patterns-example.md
  .agents/skills/chimerax-structure-review/references/workflow-router.md
  .agents/skills/chimerax-structure-review/scripts/audit-chimerax-structure-review-skill.sh
  .agents/skills/chimerax-structure-review/scripts/chimerax-preflight.sh
Due: none

Align Eco1 readiness docs and status skill
  .agents/skills/eco1-rt-repack-status/references/route-matrix.md
  .agents/skills/eco1-rt-repack-status/references/study-surfaces.md
  .agents/skills/eco1-rt-repack-status/scripts/audit-eco1-rt-repack-status-skill.sh
  ARCHITECTURE.md
  DESIGN.md
  QUALITY_SCORE.md
  docs/README.md
  docs/studies/eco1_rt_repack/contexts/fold-validation-policy.md
  docs/studies/eco1_rt_repack/contexts/implementation-roadmap.md
  docs/studies/eco1_rt_repack/contexts/msa-method.md
  docs/studies/eco1_rt_repack/contexts/synthesis-feasibility-policy.md
  docs/studies/eco1_rt_repack/operations/contract/readiness/checks/assembly_feasibility.yaml
  docs/studies/eco1_rt_repack/operations/contract/readiness/checks/candidate_handoff.yaml
  docs/studies/eco1_rt_repack/operations/contract/readiness/checks/downstream_rt_lnrna_handoff.yaml
  docs/studies/eco1_rt_repack/operations/contract/readiness/group-bindings.yaml
  docs/studies/eco1_rt_repack/operations/contract/readiness/next-scope.yaml
  docs/studies/eco1_rt_repack/operations/contract/schemas/rt-lnrna-candidate-acceptance.schema.yaml
  docs/studies/eco1_rt_repack/operations/contract/schemas/thread-artifact-chain.schema.yaml
  docs/studies/eco1_rt_repack/operations/contract/schemas/thread-candidate-handoff.schema.yaml
  docs/studies/eco1_rt_repack/operations/runtime/command-groups/README.md
  docs/studies/eco1_rt_repack/operations/runtime/command-groups/pipeline.yaml
  docs/studies/eco1_rt_repack/record/datasets.yaml
  docs/studies/eco1_rt_repack/record/status.md
  docs/studies/eco1_rt_repack/routes/README.md
  docs/studies/eco1_rt_repack/workbench/ontology/manual-mask-authority.yaml
  docs/studies/eco1_rt_repack/workbench/ontology/msa-panel-spec.yaml
  docs/studies/eco1_rt_repack/workbench/ontology/vocabulary.md
Due: none

Harden py3Dmol structure view contracts
  src/dnadesign/thread/structure_views/__init__.py
  src/dnadesign/thread/structure_views/backends/py3dmol.py
  src/dnadesign/thread/structure_views/models.py
  src/dnadesign/thread/tests/structure_views/test_py3dmol_html.py
Due: core, external_integration

Fix review hardening defects
  .agents/skills/chimerax-structure-review/scripts/audit-chimerax-structure-review-skill.sh
  .agents/skills/chimerax-structure-review/scripts/chimerax-capture-pose.py
  src/dnadesign/opal/src/config/loader.py
  src/dnadesign/opal/tests/config/test_config_objectives_v2.py
  src/dnadesign/studies/units/eco1_rt_repack/operations/materialization/foldcheck_review/ranking.py
  src/dnadesign/studies/units/eco1_rt_repack/operations/materialization/foldcheck_review/structures.py
  src/dnadesign/studies/units/eco1_rt_repack/tests/materialization/foldcheck_review/test_ranking_hardening.py
  src/dnadesign/thread/adapters/biohub_esmc/encoded.py
  src/dnadesign/thread/tests/adapters/biohub_esmc/test_normalize_and_tables.py
Due: core, external_integration, opal
