Repository e-south/dnadesign: changes, and which Codecov flags are due for each by the changed paths.
All: core, external_integration, usr, notify, densegen, infer, opal, cluster, billboard, libshuffle, nmf, latdna, cruncher, tfkdanalysis, aligner, baserender, permuter

usr: maintain explicit overlay digest ledgers
  src/dnadesign/usr/src/dataset.py
  src/dnadesign/usr/src/dataset_overlay_maintenance.py
  src/dnadesign/usr/src/dataset_overlay_ops.py
  src/dnadesign/usr/src/overlay_digest_ledger.py
  src/dnadesign/usr/tests/test_overlay_digest_ledger.py
Due: core, external_integration, usr

studies: align promoter status with densegen surface v2
  docs/studies/stress_ethanol_cipro_growth/pipeline.yaml
  src/dnadesign/studies/families/promoter/analysis_surfaces.py
  src/dnadesign/studies/tests/test_promoter_snapshot_densegen.py
  src/dnadesign/usr/docs/operations/promoter-evo2-journey.md
  src/dnadesign/usr/tests/test_usr_docs_contract.py
Due: core, external_integration, usr

Fix architecture boundary regressions in CI
  src/dnadesign/devtools/tests/test_architecture_boundaries.py
  src/dnadesign/latentdna/src/sources/provenance.py
  src/dnadesign/latentdna/src/sources/usr_source.py
  src/dnadesign/latentdna/tests/package/test_dependency_boundaries.py
  src/dnadesign/ops/preflight/contract_checks.py
  src/dnadesign/usr/overlay_digest_ledger.py
  src/dnadesign/usr/tests/test_overlay_digest_ledger.py
Due: core, external_integration, usr

Fix broader CI regressions across DenseGen and LatentDNA
  .agents/skills/sge-hpc-ops/references/source-evidence.md
  src/dnadesign/densegen/src/viz/plot_inventory.py
  src/dnadesign/densegen/src/viz/plot_run.py
  src/dnadesign/densegen/src/viz/plot_run_helpers.py
  src/dnadesign/densegen/src/viz/plot_run_summary.py
  src/dnadesign/densegen/src/viz/plot_stage_b_summary.py
  src/dnadesign/densegen/src/viz/plot_stage_b_summary_data.py
  src/dnadesign/densegen/src/viz/plotting.py
  src/dnadesign/densegen/tests/runtime/test_run_diagnostics_plots.py
  src/dnadesign/latentdna/src/services/notebook_geometry_controls.py
  src/dnadesign/latentdna/tests/perf/.gitkeep
  src/dnadesign/latentdna/workspaces/stress_ethanol_cipro_growth/outputs/status/workspace_snapshot.json
  src/dnadesign/ops/runbooks/templates/densegen-analysis.qsub
Due: core, external_integration, densegen

Fix remaining CI regressions in baserender and DenseGen
  pyproject.toml
  src/dnadesign/baserender/src/outputs.py
  src/dnadesign/densegen/src/viz/plot_run.py
  src/dnadesign/densegen/src/viz/plot_run_helpers.py
  src/dnadesign/densegen/src/viz/plot_run_summary.py
  src/dnadesign/latentdna/cli.py
Due: core, external_integration, densegen, baserender

Fix latentdna package surface contract in CI
  pyproject.toml
  src/dnadesign/latentdna/cli.py
  src/dnadesign/latentdna/src/__init__.py
Due: core, external_integration

refactor(cruncher): extract shared nickase catalog seam
  src/dnadesign/cruncher/src/cassette/catalog.py
  src/dnadesign/cruncher/src/cassette/errors.py
  src/dnadesign/cruncher/src/cassette/models.py
  src/dnadesign/cruncher/src/cassette/scanning.py
  src/dnadesign/cruncher/src/nickases/__init__.py
  src/dnadesign/cruncher/src/nickases/catalog.py
  src/dnadesign/cruncher/src/nickases/errors.py
  src/dnadesign/cruncher/src/nickases/models.py
  src/dnadesign/cruncher/src/nickases/scanning.py
  src/dnadesign/cruncher/tests/nickases/test_catalog.py
Due: core, external_integration, cruncher

feat(cruncher): add snapback workflow and QA renderer
  src/dnadesign/baserender/src/adapters/__init__.py
  src/dnadesign/baserender/src/adapters/sequence_evidence_map_v1.py
  src/dnadesign/baserender/src/adapters/snapback_visual_v1.py
  src/dnadesign/baserender/src/config/adapter_contracts.py
  src/dnadesign/baserender/src/config/cruncher_showcase_job.py
  src/dnadesign/baserender/src/render/renderer.py
  src/dnadesign/baserender/src/render/sequence_rows.py
  src/dnadesign/baserender/src/render/snapback_map.py
  src/dnadesign/baserender/tests/test_adapter_registry.py
  src/dnadesign/baserender/tests/test_runtime_and_public_api.py
  src/dnadesign/baserender/tests/test_snapback_contract_jobs.py
  src/dnadesign/contracts/tests/test_visual_contracts.py
  src/dnadesign/contracts/visual/__init__.py
  src/dnadesign/contracts/visual/snapback_visual_v1.py
  src/dnadesign/cruncher/src/app/snapback_solve_workflow.py
  src/dnadesign/cruncher/src/app/snapback_workflow.py
  src/dnadesign/cruncher/src/app/snapback_workspace_service.py
  src/dnadesign/cruncher/src/cli/app.py
  src/dnadesign/cruncher/src/cli/commands/snapback.py
  src/dnadesign/cruncher/src/snapback/__init__.py
  src/dnadesign/cruncher/src/snapback/artifacts.py
  src/dnadesign/cruncher/src/snapback/errors.py
  src/dnadesign/cruncher/src/snapback/load.py
  src/dnadesign/cruncher/src/snapback/models.py
  src/dnadesign/cruncher/src/snapback/planner.py
  src/dnadesign/cruncher/src/snapback/solve_models.py
  src/dnadesign/cruncher/src/snapback/solver.py
  src/dnadesign/cruncher/src/snapback/view_contracts.py
  src/dnadesign/cruncher/src/snapback/view_models.py
  src/dnadesign/cruncher/tests/cli/test_snapback_cli.py
  src/dnadesign/cruncher/tests/snapback/test_load.py
  src/dnadesign/cruncher/tests/snapback/test_planner.py
  src/dnadesign/cruncher/tests/snapback/test_solver.py
  src/dnadesign/cruncher/tests/snapback/test_visual_publication.py
Due: core, external_integration, cruncher, baserender

docs(cruncher): add snapback specs and audit notes
  src/dnadesign/cruncher/docs/dev/2026-04-19-cruncher-snapback-completion-dev-spec.md
  src/dnadesign/cruncher/docs/dev/2026-04-19-cruncher-snapback-dev-spec.md
  src/dnadesign/cruncher/docs/dev/2026-04-19-retron-p4-hairpin-variant-audit.md
  src/dnadesign/cruncher/docs/reference/architecture.md
Due: core, external_integration, cruncher

Harden snapback solve publication contracts
  src/dnadesign/baserender/src/render/snapback_foldback.py
  src/dnadesign/baserender/src/render/snapback_map.py
  src/dnadesign/baserender/tests/test_adapter_registry.py
  src/dnadesign/baserender/tests/test_snapback_contract_jobs.py
  src/dnadesign/baserender/tests/test_snapback_map_renderer.py
  src/dnadesign/contracts/tests/test_visual_contracts.py
  src/dnadesign/contracts/visual/snapback_visual_v1.py
  src/dnadesign/cruncher/resources/cassette/catalogs/neb_nicking_v1.yaml
  src/dnadesign/cruncher/resources/cassette/catalogs/thermo_nicking_v1.yaml
  src/dnadesign/cruncher/src/app/snapback_publish.py
  src/dnadesign/cruncher/src/app/snapback_solve_workflow.py
  src/dnadesign/cruncher/src/app/snapback_workflow.py
  src/dnadesign/cruncher/src/cassette/catalog.py
  src/dnadesign/cruncher/src/nickases/__init__.py
  src/dnadesign/cruncher/src/nickases/catalog.py
  src/dnadesign/cruncher/src/nickases/models.py
  src/dnadesign/cruncher/src/nickases/scan_plan.py
  src/dnadesign/cruncher/src/nickases/scanning.py
  src/dnadesign/cruncher/src/nickases/selection.py
  src/dnadesign/cruncher/src/snapback/artifacts.py
  src/dnadesign/cruncher/src/snapback/load.py
  src/dnadesign/cruncher/src/snapback/models.py
  src/dnadesign/cruncher/src/snapback/planner.py
  src/dnadesign/cruncher/src/snapback/public_visuals.py
  src/dnadesign/cruncher/src/snapback/publication_support.py
  src/dnadesign/cruncher/src/snapback/solve_models.py
  src/dnadesign/cruncher/src/snapback/solve_search.py
  src/dnadesign/cruncher/src/snapback/solver.py
  src/dnadesign/cruncher/src/snapback/view_contracts.py
  src/dnadesign/cruncher/src/snapback/view_models.py
  src/dnadesign/cruncher/tests/cassette/test_catalog.py
  src/dnadesign/cruncher/tests/nickases/test_catalog.py
  src/dnadesign/cruncher/tests/nickases/test_scan_plan.py
  src/dnadesign/cruncher/tests/nickases/test_scanning.py
  src/dnadesign/cruncher/tests/nickases/test_selection.py
  src/dnadesign/cruncher/tests/snapback/test_artifacts.py
  src/dnadesign/cruncher/tests/snapback/test_load.py
  src/dnadesign/cruncher/tests/snapback/test_planner.py
  src/dnadesign/cruncher/tests/snapback/test_solver.py
  src/dnadesign/cruncher/tests/snapback/test_visual_publication.py
Due: core, external_integration, cruncher, baserender

Add snapback target search and demo workspace
  src/dnadesign/cruncher/docs/README.md
  src/dnadesign/cruncher/docs/dev/2026-04-19-cruncher-snapback-completion-dev-spec.md
  src/dnadesign/cruncher/docs/guides/snapback_workflow.md
  src/dnadesign/cruncher/docs/index.md
  src/dnadesign/cruncher/docs/reference/architecture.md
  src/dnadesign/cruncher/docs/reference/cli.md
  src/dnadesign/cruncher/docs/reference/glossary.md
  src/dnadesign/cruncher/docs/reference/nickase_catalog.md
  src/dnadesign/cruncher/docs/reference/snapback_artifacts.md
  src/dnadesign/cruncher/src/app/snapback_target_search_workflow.py
  src/dnadesign/cruncher/src/app/snapback_workspace_service.py
  src/dnadesign/cruncher/src/cli/commands/snapback.py
  src/dnadesign/cruncher/src/snapback/__init__.py
  src/dnadesign/cruncher/src/snapback/target_models.py
  src/dnadesign/cruncher/src/snapback/target_search.py
  src/dnadesign/cruncher/src/viz/mpl.py
  src/dnadesign/cruncher/src/workspaces/families.py
  src/dnadesign/cruncher/src/workspaces/runbook.py
  src/dnadesign/cruncher/tests/cli/test_snapback_cli.py
  src/dnadesign/cruncher/tests/snapback/test_target_search.py
  src/dnadesign/cruncher/tests/workspaces/test_family_registry.py
  src/dnadesign/cruncher/tests/workspaces/test_runbook_execution.py
  src/dnadesign/cruncher/workspaces/README.md
  src/dnadesign/cruncher/workspaces/demo_snapback/.gitignore
  src/dnadesign/cruncher/workspaces/demo_snapback/README.md
  src/dnadesign/cruncher/workspaces/demo_snapback/configs/runbook.yaml
  src/dnadesign/cruncher/workspaces/demo_snapback/configs/snapback/demo_teto_bpu10i_cap.snapback.yaml
  src/dnadesign/cruncher/workspaces/demo_snapback/configs/snapback/demo_teto_catalog_scan.snapback.solve.yaml
  src/dnadesign/cruncher/workspaces/demo_snapback/inputs/nickases/local.nickases.yaml
  src/dnadesign/cruncher/workspaces/demo_snapback/runbook.md
Due: core, external_integration, cruncher

Add repo-local BU SCC and notify ops skills
  .agents/skills/bu-scc-usr-sync/SKILL.md
  .agents/skills/bu-scc-usr-sync/references/external-sources.md
  .agents/skills/bu-scc-usr-sync/references/sync-loop.md
  .agents/skills/bu-scc-usr-sync/scripts/audit-bu-scc-usr-sync-skill.sh
  .agents/skills/notify-ops/SKILL.md
  .agents/skills/notify-ops/references/external-sources.md
  .agents/skills/notify-ops/references/workflow-router.md
  .agents/skills/notify-ops/scripts/audit-notify-ops-skill.sh
Due: none

Add Cruncher study scaffolds and family adapters
  docs/studies/snapback_shortening_effort/campaign.yaml
  docs/studies/snapback_shortening_effort/datasets.yaml
  docs/studies/snapback_shortening_effort/ops.study.yaml
  docs/studies/snapback_shortening_effort/pipeline.yaml
  docs/studies/snapback_shortening_effort/routes.md
  docs/studies/snapback_shortening_effort/status.md
  docs/templates/cruncher-study-datasets.yaml
  docs/templates/cruncher-study-ops.study.yaml
  docs/templates/cruncher-study-pipeline.yaml
  docs/templates/cruncher-study-routes.md
  docs/templates/cruncher-study-status.md
  src/dnadesign/cruncher/docs/operations/cruncher-study-preflight.md
  src/dnadesign/cruncher/docs/operations/cruncher-study-preflight.registry.yaml
  src/dnadesign/cruncher/docs/operations/cruncher-study-status.md
  src/dnadesign/cruncher/docs/operations/cruncher-study-status.registry.yaml
  src/dnadesign/studies/families/cruncher/__init__.py
  src/dnadesign/studies/families/cruncher/adapter.py
  src/dnadesign/studies/families/cruncher/ops/__init__.py
  src/dnadesign/studies/families/cruncher/ops/provider.py
  src/dnadesign/studies/families/cruncher/ops/status.registry.yaml
  src/dnadesign/studies/families/cruncher/preflight.py
  src/dnadesign/studies/families/cruncher/record_normalizer.py
  src/dnadesign/studies/families/cruncher/snapshot.py
  src/dnadesign/studies/snapback_shortening_effort/README.md
  src/dnadesign/studies/snapback_shortening_effort/study.yaml
  src/dnadesign/studies/tests/test_cruncher_preflight.py
  src/dnadesign/studies/tests/test_cruncher_snapshot.py
Due: core, external_integration, cruncher

Add released Snapback workflows and release enzyme support
  src/dnadesign/cruncher/docs/guides/snapback_released_workflow.md
  src/dnadesign/cruncher/docs/reference/release_enzyme_catalogs.md
  src/dnadesign/cruncher/docs/reference/released_snapback_artifacts.md
  src/dnadesign/cruncher/resources/cassette/catalogs/type_iis_release_v1.yaml
  src/dnadesign/cruncher/src/app/snapback_released_show.py
  src/dnadesign/cruncher/src/app/snapback_released_target_search_workflow.py
  src/dnadesign/cruncher/src/app/snapback_released_workflow.py
  src/dnadesign/cruncher/src/release_enzymes/__init__.py
  src/dnadesign/cruncher/src/release_enzymes/catalog.py
  src/dnadesign/cruncher/src/release_enzymes/errors.py
  src/dnadesign/cruncher/src/release_enzymes/models.py
  src/dnadesign/cruncher/src/release_enzymes/scanning.py
  src/dnadesign/cruncher/src/release_enzymes/selection.py
  src/dnadesign/cruncher/src/snapback/catalog_sources.py
  src/dnadesign/cruncher/src/snapback/released_artifacts.py
  src/dnadesign/cruncher/src/snapback/released_models.py
  src/dnadesign/cruncher/src/snapback/released_projection.py
  src/dnadesign/cruncher/src/snapback/released_target_search.py
  src/dnadesign/cruncher/tests/cli/test_released_snapback_cli.py
  src/dnadesign/cruncher/tests/docs/test_snapback_released_docs.py
  src/dnadesign/cruncher/tests/release_enzymes/test_catalog.py
  src/dnadesign/cruncher/tests/released_snapback/test_projection.py
  src/dnadesign/cruncher/tests/released_snapback/test_target_search.py
  src/dnadesign/cruncher/tests/released_snapback/test_workflow.py
  src/dnadesign/cruncher/workspaces/demo_snapback/configs/snapback/demo_released_origin_033.released.snapback.yaml
  src/dnadesign/cruncher/workspaces/demo_snapback/inputs/release_enzymes/local.release.yaml
Due: core, external_integration, cruncher

Add DenseGen motif logo helper
  src/dnadesign/densegen/src/viz/motif_logo.py
  src/dnadesign/densegen/tests/cli/test_cli_inspect_motif_logos.py
Due: core, external_integration, densegen

Add latentdna annotation layout coverage
  src/dnadesign/latentdna/src/annotation_layout.py
  src/dnadesign/latentdna/tests/test_annotation_layout.py
  src/dnadesign/latentdna/tests/test_plot_render.py
Due: core, external_integration

Update repo study routing and skill entrypoints
  AGENTS.md
  docs/dev/README.md
  docs/runbooks/README.md
  docs/studies/README.md
  docs/studies/index.yaml
  docs/studies/stress_ethanol_cipro_growth/routes.md
  docs/studies/stress_ethanol_cipro_growth/status.md
  docs/templates/README.md
  src/dnadesign/devtools/docs_checks.py
  src/dnadesign/notify/AGENTS.md
  src/dnadesign/notify/tests/test_notify_docs_progressive_disclosure_contracts.py
  src/dnadesign/ops/tests/test_progress_cli.py
  src/dnadesign/ops/tests/test_status_registry_lazy_loading.py
  src/dnadesign/studies/README.md
  src/dnadesign/studies/stress_ethanol_cipro_growth/deliverables/appendix_geometry_audit.md
  src/dnadesign/studies/stress_ethanol_cipro_growth/deliverables/context_robustness_summary.md
  src/dnadesign/studies/stress_ethanol_cipro_growth/deliverables/dataset_overview.md
  src/dnadesign/studies/stress_ethanol_cipro_growth/deliverables/design_structure_summary.md
  src/dnadesign/studies/stress_ethanol_cipro_growth/deliverables/representation_health_summary.md
  src/dnadesign/studies/stress_ethanol_cipro_growth/deliverables/sigma35_ordinal_audit.md
  src/dnadesign/studies/stress_ethanol_cipro_growth/notes/2026-04-19-latentdna-preassay-triage.md
  src/dnadesign/usr/AGENTS.md
  src/dnadesign/usr/skills/bu-scc-usr-sync/SKILL.md
Due: core, external_integration, usr, notify

Integrate released Snapback flows into Cruncher CLI and docs
  src/dnadesign/cruncher/docs/README.md
  src/dnadesign/cruncher/docs/guides/snapback_workflow.md
  src/dnadesign/cruncher/docs/index.md
  src/dnadesign/cruncher/docs/meta/docs_catalog.yaml
  src/dnadesign/cruncher/docs/reference/architecture.md
  src/dnadesign/cruncher/docs/reference/cli.md
  src/dnadesign/cruncher/docs/reference/runbook_steps.md
  src/dnadesign/cruncher/src/app/snapback_solve_workflow.py
  src/dnadesign/cruncher/src/app/snapback_workflow.py
  src/dnadesign/cruncher/src/cli/commands/snapback.py
  src/dnadesign/cruncher/src/devtools/docs_ia.py
  src/dnadesign/cruncher/src/snapback/load.py
  src/dnadesign/cruncher/src/snapback/planner.py
  src/dnadesign/cruncher/src/snapback/target_models.py
  src/dnadesign/cruncher/src/snapback/target_search.py
  src/dnadesign/cruncher/src/workspaces/families.py
  src/dnadesign/cruncher/tests/workspaces/test_family_registry.py
  src/dnadesign/cruncher/workspaces/demo_snapback/README.md
  src/dnadesign/cruncher/workspaces/demo_snapback/configs/runbook.yaml
  src/dnadesign/cruncher/workspaces/demo_snapback/inputs/nickases/local.nickases.yaml
  src/dnadesign/cruncher/workspaces/demo_snapback/runbook.md
Due: core, external_integration, cruncher

Wire motif logos into DenseGen inspect and plotting
  src/dnadesign/densegen/src/cli/inspect.py
  src/dnadesign/densegen/src/viz/plot_dataset.py
  src/dnadesign/densegen/tests/plotting/test_dataset_plots.py
  src/dnadesign/densegen/workspaces/study_stress_ethanol_cipro/config.yaml
Due: core, external_integration, densegen

Harden cruncher snapback study contracts
  .agents/skills/snapback-hairpin-study/SKILL.md
  .agents/skills/snapback-hairpin-study/references/external-sources.md
  .agents/skills/snapback-hairpin-study/references/refresh-loop.md
  .agents/skills/snapback-hairpin-study/references/route-matrix.md
  .agents/skills/snapback-hairpin-study/references/study-surfaces.md
  .agents/skills/snapback-hairpin-study/scripts/audit-snapback-hairpin-study-skill.sh
  AGENTS.md
  docs/README.md
  docs/dev/README.md
  docs/studies/README.md
  docs/studies/snapback_shortening_effort/pipeline.yaml
  docs/studies/snapback_shortening_effort/routes.md
  docs/studies/snapback_shortening_effort/status.md
  docs/templates/cruncher-study-ops.study.yaml
  docs/templates/cruncher-study-pipeline.yaml
  docs/templates/cruncher-study-routes.md
  docs/templates/cruncher-study-status.md
  src/dnadesign/cruncher/docs/README.md
  src/dnadesign/cruncher/docs/reference/released_snapback_artifacts.md
  src/dnadesign/cruncher/src/app/snapback_released_show.py
  src/dnadesign/cruncher/src/snapback/released_artifacts.py
  src/dnadesign/cruncher/src/snapback/released_projection.py
  src/dnadesign/cruncher/tests/released_snapback/test_projection.py
  src/dnadesign/cruncher/tests/released_snapback/test_workflow.py
  src/dnadesign/studies/families/cruncher/record_normalizer.py
  src/dnadesign/studies/families/cruncher/snapshot.py
  src/dnadesign/studies/tests/test_cruncher_snapshot.py
  src/dnadesign/studies/tests/test_cruncher_study_docs_and_skill_contracts.py
Due: core, external_integration, cruncher

Align latentdna study contract to 7B-first browser
  docs/studies/stress_ethanol_cipro_growth/latentdna_binding.yaml
  docs/studies/stress_ethanol_cipro_growth/routes.md
  docs/studies/stress_ethanol_cipro_growth/status.md
  src/dnadesign/latentdna/docs/workflows/promoter-study-representation-comparison.md
  src/dnadesign/latentdna/src/services/validation_service.py
  src/dnadesign/latentdna/tests/contracts/test_study_workspace_contracts.py
  src/dnadesign/latentdna/tests/test_docs_contract.py
  src/dnadesign/latentdna/tests/test_validation_service.py
Due: core, external_integration

Harden latentdna compare and freshness contracts
  src/dnadesign/latentdna/src/notebooks/browser_runtime_compare.py
  src/dnadesign/latentdna/src/notebooks/browser_runtime_support.py
  src/dnadesign/latentdna/src/services/freshness_service.py
  src/dnadesign/latentdna/tests/test_artifact_input_helpers.py
  src/dnadesign/latentdna/tests/test_browser_runtime_compare.py
Due: core, external_integration

Harden latentdna browser rendering contracts
  src/dnadesign/latentdna/src/notebooks/browser_runtime.py
  src/dnadesign/latentdna/src/notebooks/browser_runtime_plot_review.py
  src/dnadesign/latentdna/src/notebooks/browser_runtime_projection.py
  src/dnadesign/latentdna/src/notebooks/scaffold_panels.py
  src/dnadesign/latentdna/src/plots/render.py
  src/dnadesign/latentdna/src/services/notebook_geometry_controls.py
  src/dnadesign/latentdna/tests/test_browser_runtime.py
  src/dnadesign/latentdna/tests/test_browser_runtime_plot_review.py
  src/dnadesign/latentdna/tests/test_browser_runtime_projection.py
  src/dnadesign/latentdna/tests/test_notebook_controls_service.py
  src/dnadesign/latentdna/tests/test_plot_render.py
Due: core, external_integration

Harden cruncher snapback workflows and study routing
  .agents/skills/snapback-hairpin-study/SKILL.md
  .agents/skills/snapback-hairpin-study/references/refresh-loop.md
  .agents/skills/snapback-hairpin-study/references/route-matrix.md
  .agents/skills/snapback-hairpin-study/references/study-surfaces.md
  docs/studies/README.md
  docs/studies/index.yaml
  docs/studies/snapback_shortening_effort/pipeline.yaml
  docs/studies/snapback_shortening_effort/routes.md
  docs/studies/snapback_shortening_effort/status.md
  src/dnadesign/cruncher/docs/dev/2026-04-19-cruncher-snapback-completion-dev-spec.md
  src/dnadesign/cruncher/docs/guides/snapback_released_workflow.md
  src/dnadesign/cruncher/docs/guides/snapback_workflow.md
  src/dnadesign/cruncher/docs/guides/yiu_workflow.md
  src/dnadesign/cruncher/docs/index.md
  src/dnadesign/cruncher/docs/reference/architecture.md
  src/dnadesign/cruncher/docs/reference/cli.md
  src/dnadesign/cruncher/docs/reference/glossary.md
  src/dnadesign/cruncher/docs/reference/nickase_catalog.md
  src/dnadesign/cruncher/docs/reference/released_snapback_artifacts.md
  src/dnadesign/cruncher/docs/reference/yiu_artifacts.md
  src/dnadesign/cruncher/src/app/snapback_released_show.py
  src/dnadesign/cruncher/src/app/snapback_solve_workflow.py
  src/dnadesign/cruncher/src/app/snapback_workflow.py
  src/dnadesign/cruncher/src/cli/commands/snapback.py
  src/dnadesign/cruncher/src/snapback/released_artifacts.py
  src/dnadesign/cruncher/src/snapback/released_target_search.py
  src/dnadesign/cruncher/tests/cli/test_released_snapback_cli.py
  src/dnadesign/cruncher/tests/cli/test_snapback_cli.py
  src/dnadesign/cruncher/tests/docs/test_snapback_released_docs.py
  src/dnadesign/cruncher/tests/released_snapback/test_target_search.py
  src/dnadesign/cruncher/tests/released_snapback/test_workflow.py
  src/dnadesign/cruncher/workspaces/demo_snapback/README.md
  src/dnadesign/studies/tests/test_cruncher_study_docs_and_skill_contracts.py
Due: core, external_integration, cruncher

Harden latentdna notebook review contracts
  src/dnadesign/latentdna/src/notebooks/browser_runtime_compare.py
  src/dnadesign/latentdna/src/notebooks/browser_runtime_plot_review.py
  src/dnadesign/latentdna/src/notebooks/browser_runtime_support.py
  src/dnadesign/latentdna/src/services/notebook_geometry_controls.py
  src/dnadesign/latentdna/tests/test_browser_runtime_compare.py
  src/dnadesign/latentdna/tests/test_browser_runtime_plot_review.py
  src/dnadesign/latentdna/tests/test_notebook_controls_service.py
Due: core, external_integration

Refresh latentdna stress ethanol workspace status
  docs/studies/stress_ethanol_cipro_growth/routes.md
  docs/studies/stress_ethanol_cipro_growth/status.md
  src/dnadesign/latentdna/workspaces/stress_ethanol_cipro_growth/outputs/status/workspace_snapshot.json
Due: core, external_integration

Harden latentdna notebook review contracts
  src/dnadesign/latentdna/src/notebooks/browser_runtime.py
  src/dnadesign/latentdna/src/notebooks/browser_runtime_plot_review.py
  src/dnadesign/latentdna/src/notebooks/browser_runtime_projection.py
  src/dnadesign/latentdna/src/notebooks/browser_runtime_support.py
  src/dnadesign/latentdna/src/notebooks/scaffold_panels.py
  src/dnadesign/latentdna/src/services/notebook_service.py
  src/dnadesign/latentdna/tests/integrations/test_notebook_generation_workflow.py
  src/dnadesign/latentdna/tests/test_browser_runtime_plot_review.py
  src/dnadesign/latentdna/tests/test_browser_runtime_projection.py
  src/dnadesign/latentdna/workspaces/stress_ethanol_cipro_growth/outputs/status/workspace_snapshot.json
Due: core, external_integration

Refine latentdna warning severity contracts
  src/dnadesign/latentdna/src/services/_status.py
  src/dnadesign/latentdna/src/services/deliverable_service.py
  src/dnadesign/latentdna/src/services/memory_service.py
  src/dnadesign/latentdna/src/services/recipe_service.py
  src/dnadesign/latentdna/tests/integrations/test_memory_preflight.py
  src/dnadesign/latentdna/tests/integrations/test_recipe_deliverable_workflow.py
Due: core, external_integration

Refresh snapback shortening study route
  .agents/skills/snapback-hairpin-study/SKILL.md
  docs/studies/snapback_shortening_effort/ops.study.yaml
  docs/studies/snapback_shortening_effort/pipeline.yaml
  docs/studies/snapback_shortening_effort/routes.md
  docs/studies/snapback_shortening_effort/status.md
  src/dnadesign/studies/snapback_shortening_effort/README.md
  src/dnadesign/studies/tests/test_cruncher_preflight.py
  src/dnadesign/studies/tests/test_cruncher_snapshot.py
  src/dnadesign/studies/tests/test_cruncher_study_docs_and_skill_contracts.py
Due: core, external_integration

Align cruncher workflow-family and study docs
  .agents/skills/snapback-hairpin-study/SKILL.md
  docs/studies/snapback_shortening_effort/pipeline.yaml
  docs/studies/snapback_shortening_effort/routes.md
  docs/studies/snapback_shortening_effort/status.md
  src/dnadesign/cruncher/README.md
  src/dnadesign/cruncher/docs/README.md
  src/dnadesign/cruncher/docs/guides/intent_and_lifecycle.md
  src/dnadesign/cruncher/docs/guides/snapback_released_workflow.md
  src/dnadesign/cruncher/docs/index.md
  src/dnadesign/cruncher/docs/reference/cli.md
  src/dnadesign/cruncher/tests/docs/test_docs_ontology_contracts.py
Due: core, external_integration, cruncher

Split released snapback search plot and CLI seams
  src/dnadesign/cruncher/docs/reference/released_snapback_artifacts.md
  src/dnadesign/cruncher/src/app/snapback_cli_requests.py
  src/dnadesign/cruncher/src/cli/app.py
  src/dnadesign/cruncher/src/cli/commands/snapback.py
  src/dnadesign/cruncher/src/cli/commands/snapback_explicit.py
  src/dnadesign/cruncher/src/cli/commands/snapback_presenters.py
  src/dnadesign/cruncher/src/cli/commands/snapback_released.py
  src/dnadesign/cruncher/src/cli/commands/snapback_services.py
  src/dnadesign/cruncher/src/cli/commands/snapback_show.py
  src/dnadesign/cruncher/src/cli/commands/snapback_workspace.py
  src/dnadesign/cruncher/src/snapback/released_artifacts.py
  src/dnadesign/cruncher/src/snapback/released_hit_plot.py
  src/dnadesign/cruncher/src/snapback/released_models.py
  src/dnadesign/cruncher/src/snapback/released_plot_common.py
  src/dnadesign/cruncher/src/snapback/released_plot_context.py
  src/dnadesign/cruncher/src/snapback/released_plot_foldback.py
  src/dnadesign/cruncher/src/snapback/released_plot_models.py
  src/dnadesign/cruncher/src/snapback/released_plot_precursor.py
  src/dnadesign/cruncher/src/snapback/released_plot_released.py
  src/dnadesign/cruncher/src/snapback/released_projection.py
  src/dnadesign/cruncher/src/snapback/released_projection_models.py
  src/dnadesign/cruncher/src/snapback/released_route_policy.py
  src/dnadesign/cruncher/src/snapback/released_search/__init__.py
  src/dnadesign/cruncher/src/snapback/released_search/evaluator_adapter.py
  src/dnadesign/cruncher/src/snapback/released_search/nick_placements.py
  src/dnadesign/cruncher/src/snapback/released_search/placement_models.py
  src/dnadesign/cruncher/src/snapback/released_search/precursor_builder.py
  src/dnadesign/cruncher/src/snapback/released_search/ranking.py
  src/dnadesign/cruncher/src/snapback/released_search/release_placements.py
  src/dnadesign/cruncher/src/snapback/released_search/reporting.py
  src/dnadesign/cruncher/src/snapback/released_search/runner.py
  src/dnadesign/cruncher/src/snapback/released_search_models.py
  src/dnadesign/cruncher/src/snapback/released_solve_models.py
  src/dnadesign/cruncher/src/snapback/released_spec_models.py
  src/dnadesign/cruncher/src/snapback/released_target_search.py
  src/dnadesign/cruncher/tests/cli/test_released_snapback_cli.py
  src/dnadesign/cruncher/tests/cli/test_snapback_cli_requests.py
  src/dnadesign/cruncher/tests/released_snapback/test_projection.py
  src/dnadesign/cruncher/tests/released_snapback/test_target_search.py
Due: core, external_integration, cruncher

Harden released snapback catalogs and lane contracts
  src/dnadesign/cruncher/docs/reference/architecture.md
  src/dnadesign/cruncher/resources/cassette/catalogs/neb_nicking_v1.yaml
  src/dnadesign/cruncher/src/app/snapback_released_catalogs.py
  src/dnadesign/cruncher/src/app/snapback_released_show.py
  src/dnadesign/cruncher/src/app/snapback_released_solve_workflow.py
  src/dnadesign/cruncher/src/app/snapback_released_target_search_workflow.py
  src/dnadesign/cruncher/src/app/snapback_released_workflow.py
  src/dnadesign/cruncher/src/nickases/catalog.py
  src/dnadesign/cruncher/src/nickases/models.py
  src/dnadesign/cruncher/src/nickases/scan_plan.py
  src/dnadesign/cruncher/src/nickases/scanning.py
  src/dnadesign/cruncher/src/snapback/released_explicit_evaluation.py
  src/dnadesign/cruncher/tests/docs/test_snapback_released_docs.py
  src/dnadesign/cruncher/tests/nickases/test_catalog.py
  src/dnadesign/cruncher/tests/released_snapback/test_app_catalogs.py
  src/dnadesign/cruncher/tests/released_snapback/test_explicit_evaluation.py
  src/dnadesign/cruncher/tests/released_snapback/test_workflow.py
  src/dnadesign/cruncher/workspaces/de033/README.md
  src/dnadesign/cruncher/workspaces/de033/configs/snapback/de033.released.snapback.yaml
Due: core, external_integration, cruncher

Align downstream consumers with refactored USR facade
  .gitignore
  .pre-commit-config.yaml
  pyproject.toml
  src/dnadesign/construct/contracts.py
  src/dnadesign/construct/src/seed.py
  src/dnadesign/densegen/src/cli/workspace.py
  src/dnadesign/densegen/src/config/base.py
  src/dnadesign/densegen/tests/runtime/test_output_sink_parity.py
  src/dnadesign/devtools/tests/test_coverage_summary.py
  src/dnadesign/devtools/tests/test_tool_coverage.py
  src/dnadesign/infer/contracts.py
  src/dnadesign/infer/docs/dev/journal.md
  src/dnadesign/infer/src/cli/config_inputs.py
  src/dnadesign/infer/src/ingest/sources.py
  src/dnadesign/infer/src/runtime/resume_planner.py
  src/dnadesign/infer/src/writers/usr.py
  src/dnadesign/latentdna/src/sources/provenance.py
  src/dnadesign/latentdna/src/sources/usr_source.py
  src/dnadesign/latentdna/tests/cli/test_workspace_command.py
  src/dnadesign/latentdna/tests/integrations/test_freshness_contracts.py
  src/dnadesign/notify/cli/bindings/helpers.py
  src/dnadesign/ops/tests/test_densegen_usr_contract_sharing.py
Due: core, external_integration, notify, densegen, infer

Harden cruncher portfolio workflow seams
  src/dnadesign/cruncher/docs/README.md
  src/dnadesign/cruncher/docs/guides/studies.md
  src/dnadesign/cruncher/docs/index.md
  src/dnadesign/cruncher/docs/reference/architecture.md
  src/dnadesign/cruncher/src/app/portfolio_execution.py
  src/dnadesign/cruncher/src/app/portfolio_source_load.py
  src/dnadesign/cruncher/src/app/portfolio_workflow.py
  src/dnadesign/cruncher/src/app/study_postprocess.py
  src/dnadesign/cruncher/src/app/study_state.py
  src/dnadesign/cruncher/src/app/study_workflow.py
  src/dnadesign/cruncher/tests/docs/test_docs_ontology_contracts.py
  src/dnadesign/cruncher/tests/docs/test_yiu_docs_routing.py
  src/dnadesign/cruncher/tests/portfolio/test_portfolio_workflow_hardening.py
  src/dnadesign/cruncher/tests/portfolio/test_portfolio_workflow_imports.py
  src/dnadesign/cruncher/tests/study/test_study_import_contract.py
  src/dnadesign/cruncher/tests/study/test_study_workflow_hardening.py
Due: core, external_integration, cruncher

Path conditions:
  core: any of: src/dnadesign
  external_integration: any of: src/dnadesign
  usr: any of: src/dnadesign/usr/**
  notify: any of: src/dnadesign/notify/**
  densegen: any of: src/dnadesign/densegen/**
  infer: any of: src/dnadesign/infer/**
  opal: any of: src/dnadesign/opal/**
  cluster: any of: src/dnadesign/cluster/**
  billboard: any of: src/dnadesign/billboard/**
  libshuffle: any of: src/dnadesign/libshuffle/**
  nmf: any of: src/dnadesign/nmf/**
  latdna: any of: src/dnadesign/latdna/**
  cruncher: any of: src/dnadesign/cruncher/**
  tfkdanalysis: any of: src/dnadesign/tfkdanalysis/**
  aligner: any of: src/dnadesign/aligner/**
  baserender: any of: src/dnadesign/baserender/**
  permuter: any of: src/dnadesign/permuter/**
