Repository e-south/dnadesign: changes, and which Codecov flags are due for each by the changed paths.
All: core, external_integration, usr, notify, densegen, infer, opal, cluster, billboard, libshuffle, nmf, latdna, cruncher, tfkdanalysis, aligner, baserender, permuter

Refresh DenseGen showcase asset with updated title style
  src/dnadesign/densegen/assets/videos/demo_tfbs_baseline_showcase.mp4
Due: core, external_integration, densegen

Use inline GIF preview for DenseGen showcase in README
  src/dnadesign/densegen/README.md
  src/dnadesign/densegen/assets/videos/demo_tfbs_baseline_showcase_preview.gif
Due: core, external_integration, densegen

Center DenseGen showcase preview in README
  src/dnadesign/densegen/README.md
Due: core, external_integration, densegen

Adjust DenseGen showcase title wording and linger pacing
  src/dnadesign/densegen/assets/videos/demo_tfbs_baseline_showcase.mp4
  src/dnadesign/densegen/assets/videos/demo_tfbs_baseline_showcase_preview.gif
  src/dnadesign/densegen/src/viz/dense_array_video.py
  src/dnadesign/densegen/tests/plotting/test_dense_array_video.py
Due: core, external_integration, densegen

Remove 'for' from DenseGen showcase title and refresh assets
  src/dnadesign/densegen/assets/videos/demo_tfbs_baseline_showcase.mp4
  src/dnadesign/densegen/assets/videos/demo_tfbs_baseline_showcase_preview.gif
  src/dnadesign/densegen/src/viz/dense_array_video.py
  src/dnadesign/densegen/tests/plotting/test_dense_array_video.py
Due: core, external_integration, densegen

Improve DenseGen tutorial flow and sigma70 study narrative
  src/dnadesign/densegen/AGENTS.md
  src/dnadesign/densegen/docs/README.md
  src/dnadesign/densegen/docs/tutorials/demo_sampling_baseline.md
  src/dnadesign/densegen/docs/tutorials/demo_tfbs_baseline.md
  src/dnadesign/densegen/docs/tutorials/demo_usr_notify.md
  src/dnadesign/densegen/docs/tutorials/study_constitutive_sigma_panel.md
  src/dnadesign/densegen/docs/tutorials/study_stress_ethanol_cipro.md
  src/dnadesign/densegen/tests/docs/test_densegen_docs_ia_contracts.py
  src/dnadesign/densegen/workspaces/study_constitutive_sigma_panel/runbook.md
  src/dnadesign/densegen/workspaces/study_stress_ethanol_cipro/runbook.md
Due: core, external_integration, densegen

Add DenseGen docs language guard to docs checks
  src/dnadesign/devtools/docs_checks.py
  src/dnadesign/devtools/tests/test_docs_checks.py
Due: core, external_integration

Tighten DenseGen concepts and reference IA language
  src/dnadesign/densegen/docs/concepts/generation.md
  src/dnadesign/densegen/docs/concepts/inputs.md
  src/dnadesign/densegen/docs/concepts/observability_and_events.md
  src/dnadesign/densegen/docs/concepts/outputs-and-metadata.md
  src/dnadesign/densegen/docs/concepts/pipeline-lifecycle.md
  src/dnadesign/densegen/docs/concepts/postprocess.md
  src/dnadesign/densegen/docs/concepts/quick-checklist.md
  src/dnadesign/densegen/docs/concepts/sampling.md
  src/dnadesign/densegen/docs/concepts/workspace-templates.md
  src/dnadesign/densegen/docs/concepts/workspace.md
  src/dnadesign/densegen/docs/reference/cli.md
  src/dnadesign/densegen/docs/reference/config.md
  src/dnadesign/densegen/docs/reference/motif_artifacts.md
  src/dnadesign/densegen/docs/reference/outputs.md
Due: core, external_integration, densegen

Refine stress workspace HPC flow and Stage A defaults
  docs/bu-scc/batch-notify.md
  docs/bu-scc/jobs/README.md
  src/dnadesign/densegen/docs/howto/bu-scc.md
  src/dnadesign/densegen/docs/howto/hpc.md
  src/dnadesign/densegen/docs/tutorials/study_stress_ethanol_cipro.md
  src/dnadesign/densegen/tests/config/test_demo_config.py
  src/dnadesign/densegen/tests/docs/test_bu_scc_docs_contracts.py
  src/dnadesign/densegen/tests/docs/test_densegen_docs_progressive_disclosure_contracts.py
  src/dnadesign/densegen/workspaces/study_stress_ethanol_cipro/config.yaml
  src/dnadesign/densegen/workspaces/study_stress_ethanol_cipro/runbook.md
Due: core, external_integration, densegen

Split notify CLI deps by domain
  src/dnadesign/notify/cli/bindings/deps.py
  src/dnadesign/notify/cli/bindings/deps/__init__.py
  src/dnadesign/notify/cli/bindings/deps/profile.py
  src/dnadesign/notify/cli/bindings/deps/runtime.py
  src/dnadesign/notify/cli/bindings/deps/send.py
  src/dnadesign/notify/cli/bindings/deps/setup.py
  src/dnadesign/notify/tests/test_cli_module_layout.py
Due: core, external_integration, notify

Harden notify usr interface docs and infer watch coverage
  docs/notify/README.md
  src/dnadesign/notify/README.md
  src/dnadesign/notify/tests/test_cli_usr_events.py
  src/dnadesign/notify/tests/test_notify_docs_progressive_disclosure_contracts.py
Due: core, external_integration, notify

Harden notify docs with prompt-to-command router contracts
  docs/notify/README.md
  src/dnadesign/notify/profiles/schema/__init__.py
  src/dnadesign/notify/profiles/schema/contract.py
  src/dnadesign/notify/profiles/schema/reader.py
  src/dnadesign/notify/profiles/schema/resolver.py
  src/dnadesign/notify/runtime/watch_runner.py
  src/dnadesign/notify/runtime/watch_runner_inputs.py
  src/dnadesign/notify/tests/test_cli_profile_doctor.py
  src/dnadesign/notify/tests/test_cli_profile_init.py
  src/dnadesign/notify/tests/test_cli_profile_runtime_defaults.py
  src/dnadesign/notify/tests/test_cli_profile_wizard.py
  src/dnadesign/notify/tests/test_cli_profiles.py
  src/dnadesign/notify/tests/test_cli_setup.py
  src/dnadesign/notify/tests/test_cli_watch_runtime_layout.py
  src/dnadesign/notify/tests/test_notify_docs_progressive_disclosure_contracts.py
  src/dnadesign/notify/tests/test_package_layout.py
  src/dnadesign/notify/tests/test_test_suite_layout.py
Due: core, external_integration, notify

Add queue-fair submission pressure guidance to BU SCC docs
  docs/bu-scc/agent-cheatsheet.md
  docs/bu-scc/batch-notify.md
  docs/bu-scc/fixtures/qstat_high_pressure.fixture
  docs/bu-scc/quickstart.md
Due: none

Retire in-repo SCC skill artifacts and update refs
  AGENTS.md
  ARCHITECTURE.md
  docs/bu-scc/README.md
  docs/bu-scc/sge-hpc-ops/SKILL.md
  docs/bu-scc/sge-hpc-ops/agents/openai.yaml
  docs/bu-scc/sge-hpc-ops/references/README.md
  docs/bu-scc/sge-hpc-ops/references/workload-dnadesign.md
  docs/hpc/skills/bu_scc_ops/SKILL.md
  docs/hpc/skills/bu_scc_ops/references/resource-profiles.md
Due: none

cruncher: add best-chain trajectory video analysis artifact
  src/dnadesign/cruncher/src/analysis/plot_registry.py
  src/dnadesign/cruncher/src/analysis/trajectory_video.py
  src/dnadesign/cruncher/src/app/analyze_workflow.py
  src/dnadesign/cruncher/src/config/schema_v3.py
  src/dnadesign/cruncher/tests/analysis/test_analysis_artifacts.py
  src/dnadesign/cruncher/tests/analysis/test_trajectory_video.py
  src/dnadesign/cruncher/tests/config/test_compute_config.py
Due: core, external_integration, cruncher

cruncher: document workspace video analysis workflow
  src/dnadesign/cruncher/docs/demos/demo_multitf.md
  src/dnadesign/cruncher/docs/demos/demo_pairwise.md
  src/dnadesign/cruncher/docs/reference/config.md
  src/dnadesign/cruncher/docs/reference/runbook_steps.md
  src/dnadesign/cruncher/workspaces/README.md
  src/dnadesign/cruncher/workspaces/demo_multitf/configs/runbook.yaml
  src/dnadesign/cruncher/workspaces/demo_multitf/runbook.md
  src/dnadesign/cruncher/workspaces/demo_pairwise/configs/runbook.yaml
  src/dnadesign/cruncher/workspaces/demo_pairwise/runbook.md
  src/dnadesign/cruncher/workspaces/multitf_baer_lexa_soxr/configs/runbook.yaml
  src/dnadesign/cruncher/workspaces/multitf_baer_lexa_soxr/runbook.md
  src/dnadesign/cruncher/workspaces/multitf_baer_lexa_soxr_soxs/configs/runbook.yaml
  src/dnadesign/cruncher/workspaces/multitf_baer_lexa_soxr_soxs/runbook.md
  src/dnadesign/cruncher/workspaces/multitf_cpxr_baer_lexa/configs/runbook.yaml
  src/dnadesign/cruncher/workspaces/multitf_cpxr_baer_lexa/runbook.md
  src/dnadesign/cruncher/workspaces/pairwise_baer_lexa/configs/runbook.yaml
  src/dnadesign/cruncher/workspaces/pairwise_baer_lexa/runbook.md
  src/dnadesign/cruncher/workspaces/pairwise_baer_soxr/configs/runbook.yaml
  src/dnadesign/cruncher/workspaces/pairwise_baer_soxr/runbook.md
  src/dnadesign/cruncher/workspaces/pairwise_cpxr_baer/configs/runbook.yaml
  src/dnadesign/cruncher/workspaces/pairwise_cpxr_baer/runbook.md
  src/dnadesign/cruncher/workspaces/pairwise_cpxr_lexa/configs/runbook.yaml
  src/dnadesign/cruncher/workspaces/pairwise_cpxr_lexa/runbook.md
  src/dnadesign/cruncher/workspaces/pairwise_cpxr_soxr/configs/runbook.yaml
  src/dnadesign/cruncher/workspaces/pairwise_cpxr_soxr/runbook.md
  src/dnadesign/cruncher/workspaces/pairwise_laci_arac/configs/runbook.yaml
  src/dnadesign/cruncher/workspaces/pairwise_laci_arac/runbook.md
  src/dnadesign/cruncher/workspaces/pairwise_soxr_soxs/configs/runbook.yaml
  src/dnadesign/cruncher/workspaces/pairwise_soxr_soxs/runbook.md
  src/dnadesign/cruncher/workspaces/project_tfs_lexa_cpxr_baer_rcda_lrp_fur_fnr_acrr_soxr_soxs/configs/config.yaml
  src/dnadesign/cruncher/workspaces/project_tfs_lexa_cpxr_baer_rcda_lrp_fur_fnr_acrr_soxr_soxs/configs/runbook.yaml
  src/dnadesign/cruncher/workspaces/project_tfs_lexa_cpxr_baer_rcda_lrp_fur_fnr_acrr_soxr_soxs/runbook.md
Due: core, external_integration, cruncher

Clarify installation support for Linux and WSL
  .github/workflows/ci.yaml
  .secrets.baseline
  SECURITY.md
  docs/README.md
  docs/dependencies.md
  docs/installation.md
  src/dnadesign/devtools/secrets_baseline_check.py
  src/dnadesign/devtools/tests/test_ci_workflow_contract.py
  src/dnadesign/devtools/tests/test_secrets_baseline_check.py
  src/dnadesign/notify/profiles/flow_webhook.py
  src/dnadesign/notify/tests/test_profile_flows_module.py
Due: core, external_integration, notify

baserender: stabilize trajectory video layout and inset rendering
  src/dnadesign/baserender/src/adapters/generic_features.py
  src/dnadesign/baserender/src/adapters/sequence_windows_v1.py
  src/dnadesign/baserender/src/config/cruncher_showcase_job.py
  src/dnadesign/baserender/src/core/__init__.py
  src/dnadesign/baserender/src/core/record.py
  src/dnadesign/baserender/src/outputs.py
  src/dnadesign/baserender/src/pipeline/selection.py
  src/dnadesign/baserender/src/render/layout.py
  src/dnadesign/baserender/src/render/sequence_rows.py
  src/dnadesign/baserender/src/showcase_style.py
  src/dnadesign/baserender/tests/test_sequence_rows_trajectory_inset.py
  src/dnadesign/baserender/tests/test_video_frame_sizing.py
Due: core, external_integration, baserender

Improve DenseGen SCC discoverability and docs contracts
  docs/README.md
  src/dnadesign/densegen/README.md
  src/dnadesign/densegen/docs/tutorials/study_stress_ethanol_cipro.md
  src/dnadesign/densegen/tests/docs/test_bu_scc_docs_contracts.py
Due: core, external_integration, densegen

Refactor analyze workflow into typed run context modules
  src/dnadesign/cruncher/docs/reference/architecture.md
  src/dnadesign/cruncher/src/app/analyze/computation.py
  src/dnadesign/cruncher/src/app/analyze/execution.py
  src/dnadesign/cruncher/src/app/analyze/metadata.py
  src/dnadesign/cruncher/src/app/analyze/plot_resolver.py
  src/dnadesign/cruncher/src/app/analyze/rendering.py
  src/dnadesign/cruncher/src/app/analyze/run_context.py
  src/dnadesign/cruncher/src/app/analyze_workflow.py
  src/dnadesign/cruncher/tests/analysis/test_analyze_import_contract.py
  src/dnadesign/cruncher/tests/app/test_analyze_execution.py
  src/dnadesign/cruncher/tests/app/test_analyze_run_context.py
  src/dnadesign/cruncher/tests/app/test_analyze_workflow_trajectory_pair.py
Due: core, external_integration, cruncher

densegen: add workspace-scoped dense array video plot
  src/dnadesign/densegen/src/config/plots.py
  src/dnadesign/densegen/src/viz/dense_array_video.py
  src/dnadesign/densegen/src/viz/plot_registry.py
  src/dnadesign/densegen/src/viz/plotting.py
  src/dnadesign/densegen/tests/config/test_config_strict.py
  src/dnadesign/densegen/tests/plotting/test_dense_array_video.py
  src/dnadesign/densegen/tests/plotting/test_plot_registry.py
Due: core, external_integration, densegen

densegen: document video analysis options in demos and runbooks
  src/dnadesign/baserender/src/render/sequence_rows.py
  src/dnadesign/baserender/tests/test_sequence_rows_trajectory_inset.py
  src/dnadesign/densegen/docs/howto/cruncher_pwm_pipeline.md
  src/dnadesign/densegen/docs/howto/hpc.md
  src/dnadesign/densegen/docs/reference/cli.md
  src/dnadesign/densegen/docs/reference/config.md
  src/dnadesign/densegen/docs/reference/outputs.md
  src/dnadesign/densegen/docs/tutorials/demo_sampling_baseline.md
  src/dnadesign/densegen/docs/tutorials/demo_tfbs_baseline.md
  src/dnadesign/densegen/docs/tutorials/study_constitutive_sigma_panel.md
  src/dnadesign/densegen/docs/tutorials/study_stress_ethanol_cipro.md
  src/dnadesign/densegen/workspaces/README.md
  src/dnadesign/densegen/workspaces/demo_sampling_baseline/config.yaml
  src/dnadesign/densegen/workspaces/demo_sampling_baseline/runbook.md
  src/dnadesign/densegen/workspaces/demo_tfbs_baseline/config.yaml
  src/dnadesign/densegen/workspaces/demo_tfbs_baseline/runbook.md
  src/dnadesign/densegen/workspaces/study_constitutive_sigma_panel/config.yaml
  src/dnadesign/densegen/workspaces/study_constitutive_sigma_panel/runbook.md
  src/dnadesign/densegen/workspaces/study_stress_ethanol_cipro/config.yaml
  src/dnadesign/densegen/workspaces/study_stress_ethanol_cipro/runbook.md
Due: core, external_integration, densegen, baserender

refactor(cruncher): split analyze plotting and output publication
  src/dnadesign/cruncher/docs/reference/architecture.md
  src/dnadesign/cruncher/src/app/analyze/plotting.py
  src/dnadesign/cruncher/src/app/analyze/plotting_registry.py
  src/dnadesign/cruncher/src/app/analyze/plotting_static.py
  src/dnadesign/cruncher/src/app/analyze/plotting_trajectory.py
  src/dnadesign/cruncher/src/app/analyze/publish.py
  src/dnadesign/cruncher/src/app/analyze_workflow.py
  src/dnadesign/cruncher/tests/analysis/test_analysis_artifacts.py
  src/dnadesign/cruncher/tests/analysis/test_analyze_import_contract.py
Due: core, external_integration, cruncher

docs(cruncher): add progressive disclosure contract routing
  src/dnadesign/cruncher/README.md
  src/dnadesign/cruncher/docs/README.md
  src/dnadesign/cruncher/tests/docs/test_docs_path_contracts.py
Due: core, external_integration, cruncher

refactor(cruncher): split trajectory score-space plotting modules
  src/dnadesign/cruncher/docs/dev/journal.md
  src/dnadesign/cruncher/docs/guides/sampling_and_analysis.md
  src/dnadesign/cruncher/docs/reference/architecture.md
  src/dnadesign/cruncher/docs/reference/artifacts.md
  src/dnadesign/cruncher/docs/reference/cli.md
  src/dnadesign/cruncher/docs/reference/config.md
  src/dnadesign/cruncher/src/analysis/plots/opt_trajectory.py
  src/dnadesign/cruncher/src/analysis/plots/trajectory_score_space.py
  src/dnadesign/cruncher/src/analysis/plots/trajectory_score_space_panel.py
  src/dnadesign/cruncher/src/analysis/plots/trajectory_score_space_plot.py
  src/dnadesign/cruncher/src/analysis/trajectory_video.py
  src/dnadesign/cruncher/src/analysis/trajectory_video_contract.py
  src/dnadesign/cruncher/src/analysis/trajectory_video_timeline.py
  src/dnadesign/cruncher/src/app/analyze_workflow.py
  src/dnadesign/cruncher/tests/analysis/test_analysis_artifacts.py
  src/dnadesign/cruncher/tests/analysis/test_trajectory_plots.py
  src/dnadesign/cruncher/tests/analysis/test_trajectory_score_space_boundaries.py
  src/dnadesign/cruncher/tests/analysis/test_trajectory_score_space_panel_boundaries.py
  src/dnadesign/cruncher/tests/analysis/test_trajectory_score_space_plot_boundaries.py
  src/dnadesign/cruncher/tests/analysis/test_trajectory_video.py
  src/dnadesign/cruncher/tests/analysis/test_trajectory_video_boundaries.py
  src/dnadesign/cruncher/tests/app/test_output_layout_contract.py
Due: core, external_integration, cruncher

Align baserender cruncher demo palette with canonical showcase style
  src/dnadesign/baserender/workspaces/demo_cruncher_render/job.yaml
Due: core, external_integration, baserender

Update project-all-TFs workspace defaults and study bounds
  src/dnadesign/cruncher/docs/demos/project_all_tfs.md
  src/dnadesign/cruncher/tests/config/test_demo_configs_optimizer_surface.py
  src/dnadesign/cruncher/tests/config/test_workspace_sequence_length_bounds.py
  src/dnadesign/cruncher/tests/config/test_workspace_study_specs_contracts.py
  src/dnadesign/cruncher/workspaces/project_tfs_lexa_cpxr_baer_rcda_lrp_fur_fnr_acrr_soxr_soxs/configs/studies/length_vs_score.study.yaml
Due: core, external_integration, cruncher

Fix DenseGen sigma70 paper citation links
  src/dnadesign/densegen/docs/tutorials/study_constitutive_sigma_panel.md
  src/dnadesign/densegen/docs/tutorials/study_stress_ethanol_cipro.md
  src/dnadesign/densegen/tests/docs/test_densegen_docs_ia_contracts.py
Due: core, external_integration, densegen

Harden trajectory video selection and input validation
  src/dnadesign/cruncher/docs/reference/config.md
  src/dnadesign/cruncher/src/analysis/trajectory_video.py
  src/dnadesign/cruncher/src/analysis/trajectory_video_timeline.py
  src/dnadesign/cruncher/tests/analysis/test_trajectory_video.py
Due: core, external_integration, cruncher

Enable longer default DenseGen showcase videos in workspaces
  src/dnadesign/densegen/README.md
  src/dnadesign/densegen/assets/videos/demo_tfbs_baseline_showcase.mp4
  src/dnadesign/densegen/assets/videos/demo_tfbs_baseline_showcase_preview.gif
  src/dnadesign/densegen/docs/reference/config.md
  src/dnadesign/densegen/src/config/plots.py
  src/dnadesign/densegen/src/viz/dense_array_video.py
  src/dnadesign/densegen/tests/config/test_config_strict.py
  src/dnadesign/densegen/tests/plotting/test_dense_array_video.py
  src/dnadesign/densegen/workspaces/demo_sampling_baseline/config.yaml
  src/dnadesign/densegen/workspaces/demo_sampling_baseline/runbook.md
  src/dnadesign/densegen/workspaces/demo_tfbs_baseline/config.yaml
  src/dnadesign/densegen/workspaces/demo_tfbs_baseline/runbook.md
  src/dnadesign/densegen/workspaces/study_constitutive_sigma_panel/config.yaml
  src/dnadesign/densegen/workspaces/study_constitutive_sigma_panel/runbook.md
  src/dnadesign/densegen/workspaces/study_stress_ethanol_cipro/config.yaml
  src/dnadesign/densegen/workspaces/study_stress_ethanol_cipro/runbook.md
Due: core, external_integration, densegen

cruncher: make portfolio studies opt-in with runtime CLI override
  src/dnadesign/cruncher/README.md
  src/dnadesign/cruncher/docs/demos/demo_multitf.md
  src/dnadesign/cruncher/docs/demos/demo_pairwise.md
  src/dnadesign/cruncher/docs/demos/project_all_tfs.md
  src/dnadesign/cruncher/docs/guides/portfolio_aggregation.md
  src/dnadesign/cruncher/docs/index.md
  src/dnadesign/cruncher/docs/reference/cli.md
  src/dnadesign/cruncher/src/app/portfolio_studies.py
  src/dnadesign/cruncher/src/app/portfolio_workflow.py
  src/dnadesign/cruncher/src/cli/commands/portfolio.py
  src/dnadesign/cruncher/src/portfolio/load.py
  src/dnadesign/cruncher/src/portfolio/schema_models.py
  src/dnadesign/cruncher/tests/cli/test_portfolio_cli.py
  src/dnadesign/cruncher/tests/config/test_demo_configs_optimizer_surface.py
  src/dnadesign/cruncher/tests/docs/test_docs_path_contracts.py
  src/dnadesign/cruncher/tests/docs/test_master_orchestration_contracts.py
  src/dnadesign/cruncher/tests/docs/test_portfolio_docs_contracts.py
  src/dnadesign/cruncher/tests/portfolio/test_portfolio_run_smoke.py
  src/dnadesign/cruncher/tests/portfolio/test_portfolio_spec_strict_validation.py
  src/dnadesign/cruncher/workspaces/README.md
  src/dnadesign/cruncher/workspaces/demo_multitf/configs/config.yaml
  src/dnadesign/cruncher/workspaces/demo_pairwise/configs/config.yaml
  src/dnadesign/cruncher/workspaces/multitf_baer_lexa_soxr/configs/config.yaml
  src/dnadesign/cruncher/workspaces/multitf_baer_lexa_soxr_soxs/configs/config.yaml
  src/dnadesign/cruncher/workspaces/multitf_cpxr_baer_lexa/configs/config.yaml
  src/dnadesign/cruncher/workspaces/pairwise_baer_lexa/configs/config.yaml
  src/dnadesign/cruncher/workspaces/pairwise_baer_soxr/configs/config.yaml
  src/dnadesign/cruncher/workspaces/pairwise_cpxr_baer/configs/config.yaml
  src/dnadesign/cruncher/workspaces/pairwise_cpxr_lexa/configs/config.yaml
  src/dnadesign/cruncher/workspaces/pairwise_cpxr_soxr/configs/config.yaml
  src/dnadesign/cruncher/workspaces/pairwise_laci_arac/configs/config.yaml
  src/dnadesign/cruncher/workspaces/pairwise_soxr_soxs/configs/config.yaml
  src/dnadesign/cruncher/workspaces/portfolios/configs/master_all_workspaces.portfolio.yaml
  src/dnadesign/cruncher/workspaces/project_tfs_lexa_cpxr_baer_rcda_lrp_fur_fnr_acrr_soxr_soxs/configs/config.yaml
Due: core, external_integration, cruncher

docs: align BU SCC references and densegen contract checks
  ARCHITECTURE.md
  QUALITY_SCORE.md
  RELIABILITY.md
  docs/README.md
  docs/dependencies.md
  src/dnadesign/densegen/tests/docs/test_bu_scc_docs_contracts.py
  src/dnadesign/densegen/workspaces/demo_sampling_baseline/runbook.md
  src/dnadesign/densegen/workspaces/demo_tfbs_baseline/runbook.md
  src/dnadesign/densegen/workspaces/study_constitutive_sigma_panel/runbook.md
  src/dnadesign/densegen/workspaces/study_stress_ethanol_cipro/runbook.md
Due: core, external_integration, densegen

Add internal uncovered-region elite postprocess and config rollout
  src/dnadesign/cruncher/docs/guides/sampling_and_analysis.md
  src/dnadesign/cruncher/docs/guides/study_length_vs_score.md
  src/dnadesign/cruncher/src/app/sample/elites_stage.py
  src/dnadesign/cruncher/src/config/schema_v3.py
  src/dnadesign/cruncher/tests/app/test_elite_selection.py
  src/dnadesign/cruncher/workspaces/demo_multitf/configs/config.yaml
  src/dnadesign/cruncher/workspaces/demo_pairwise/configs/config.yaml
  src/dnadesign/cruncher/workspaces/multitf_baer_lexa_soxr/configs/config.yaml
  src/dnadesign/cruncher/workspaces/multitf_baer_lexa_soxr_soxs/configs/config.yaml
  src/dnadesign/cruncher/workspaces/multitf_cpxr_baer_lexa/configs/config.yaml
  src/dnadesign/cruncher/workspaces/pairwise_baer_lexa/configs/config.yaml
  src/dnadesign/cruncher/workspaces/pairwise_baer_soxr/configs/config.yaml
  src/dnadesign/cruncher/workspaces/pairwise_cpxr_baer/configs/config.yaml
  src/dnadesign/cruncher/workspaces/pairwise_cpxr_lexa/configs/config.yaml
  src/dnadesign/cruncher/workspaces/pairwise_cpxr_soxr/configs/config.yaml
  src/dnadesign/cruncher/workspaces/pairwise_laci_arac/configs/config.yaml
  src/dnadesign/cruncher/workspaces/pairwise_soxr_soxs/configs/config.yaml
  src/dnadesign/cruncher/workspaces/project_tfs_lexa_cpxr_baer_rcda_lrp_fur_fnr_acrr_soxr_soxs/configs/config.yaml
Due: core, external_integration, cruncher

feat(video): harden trajectory video layout/rendering and final-frame anchoring
  src/dnadesign/baserender/src/adapters/generic_features.py
  src/dnadesign/baserender/src/adapters/sequence_windows_v1.py
  src/dnadesign/baserender/src/core/__init__.py
  src/dnadesign/baserender/src/core/record.py
  src/dnadesign/baserender/src/outputs.py
  src/dnadesign/baserender/src/pipeline/selection.py
  src/dnadesign/baserender/src/render/layout.py
  src/dnadesign/baserender/src/render/sequence_rows.py
  src/dnadesign/baserender/tests/test_adapter_registry.py
  src/dnadesign/baserender/tests/test_motif_logo_alignment.py
  src/dnadesign/baserender/tests/test_sequence_rows_trajectory_inset.py
  src/dnadesign/baserender/tests/test_video_frame_sizing.py
  src/dnadesign/cruncher/docs/reference/config.md
  src/dnadesign/cruncher/src/analysis/plots/_style.py
  src/dnadesign/cruncher/src/analysis/trajectory_video.py
  src/dnadesign/cruncher/src/analysis/trajectory_video_contract.py
  src/dnadesign/cruncher/src/analysis/trajectory_video_timeline.py
  src/dnadesign/cruncher/src/app/analyze/plotting_trajectory.py
  src/dnadesign/cruncher/src/app/analyze/rendering.py
  src/dnadesign/cruncher/src/app/portfolio_materialization.py
  src/dnadesign/cruncher/src/config/schema_v3.py
  src/dnadesign/cruncher/src/study/plots.py
  src/dnadesign/cruncher/tests/analysis/test_analysis_artifacts.py
  src/dnadesign/cruncher/tests/analysis/test_trajectory_score_space_panel_boundaries.py
  src/dnadesign/cruncher/tests/analysis/test_trajectory_video.py
  src/dnadesign/cruncher/tests/analysis/test_trajectory_video_boundaries.py
  src/dnadesign/cruncher/tests/config/test_compute_config.py
  src/dnadesign/cruncher/tests/portfolio/test_portfolio_run_smoke.py
  src/dnadesign/cruncher/tests/study/test_study_plots.py
  src/dnadesign/cruncher/workspaces/demo_pairwise/configs/runbook.yaml
  src/dnadesign/cruncher/workspaces/demo_pairwise/runbook.md
  src/dnadesign/cruncher/workspaces/project_tfs_lexa_cpxr_baer_rcda_lrp_fur_fnr_acrr_soxr_soxs/configs/config.yaml
Due: core, external_integration, cruncher, baserender

refactor(cruncher): analysis/reporting/portfolio decomposition
  src/dnadesign/cruncher/src/analysis/diagnostics.py
  src/dnadesign/cruncher/src/analysis/mmr_sweep.py
  src/dnadesign/cruncher/src/analysis/objective.py
  src/dnadesign/cruncher/src/analysis/objective_labels.py
  src/dnadesign/cruncher/src/analysis/overlap.py
  src/dnadesign/cruncher/src/analysis/plots/elites_nn_distance.py
  src/dnadesign/cruncher/src/analysis/plots/trajectory_sweep.py
  src/dnadesign/cruncher/src/analysis/trajectory_video.py
  src/dnadesign/cruncher/src/app/analyze_support.py
  src/dnadesign/cruncher/src/app/portfolio_workflow.py
  src/dnadesign/cruncher/src/cli/commands/portfolio.py
  src/dnadesign/cruncher/tests/analysis/test_objective_labels.py
Due: core, external_integration, cruncher

refactor(cruncher): lock/parser/cli cleanup
  src/dnadesign/cruncher/src/app/lock_service.py
  src/dnadesign/cruncher/src/cli/commands/discover.py
  src/dnadesign/cruncher/src/cli/commands/fetch.py
  src/dnadesign/cruncher/src/cli/commands/targets.py
  src/dnadesign/cruncher/src/core/scoring.py
  src/dnadesign/cruncher/src/io/parsers/meme.py
Due: core, external_integration, cruncher

refactor(cruncher): optimizer/runtime/service modularization
  src/dnadesign/cruncher/src/analysis/report.py
  src/dnadesign/cruncher/src/analysis/trajectory_video.py
  src/dnadesign/cruncher/src/app/analyze/computation.py
  src/dnadesign/cruncher/src/app/notebook_service.py
  src/dnadesign/cruncher/src/app/sample/elites_stage.py
  src/dnadesign/cruncher/src/app/sample/run_set_execution.py
  src/dnadesign/cruncher/src/app/study/trial_progress.py
  src/dnadesign/cruncher/src/app/study_workflow.py
  src/dnadesign/cruncher/src/app/target_service.py
  src/dnadesign/cruncher/src/core/optimizers/cooling.py
  src/dnadesign/cruncher/src/core/optimizers/gibbs_anneal.py
  src/dnadesign/cruncher/src/core/optimizers/gibbs_postprocess.py
  src/dnadesign/cruncher/src/core/optimizers/gibbs_runtime.py
  src/dnadesign/cruncher/src/core/selection/mmr.py
  src/dnadesign/cruncher/tests/analysis/test_trajectory_video.py
  src/dnadesign/cruncher/tests/docs/test_master_orchestration_contracts.py
Due: core, external_integration, cruncher

docs(notify): restructure docs routing and command contracts
  README.md
  docs/README.md
  docs/notify/README.md
  docs/notify/usr-events.md
  src/dnadesign/devtools/docs_checks.py
  src/dnadesign/notify/README.md
  src/dnadesign/notify/docs/README.md
  src/dnadesign/notify/docs/dev/architecture.md
  src/dnadesign/notify/docs/reference/README.md
  src/dnadesign/notify/docs/reference/command-contracts.md
  src/dnadesign/notify/docs/usr-events.md
  src/dnadesign/notify/tests/test_notify_docs_progressive_disclosure_contracts.py
Due: core, external_integration, notify

docs: align notify/cruncher top-level README entries
  src/dnadesign/cruncher/README.md
  src/dnadesign/notify/README.md
Due: core, external_integration, notify, cruncher

Path conditions:
  core: any of: src/dnadesign
  external_integration: any of: src/dnadesign
  usr: any of: src/dnadesign/usr/**
  notify: any of: src/dnadesign/notify/**
  densegen: any of: src/dnadesign/densegen/**
  infer: any of: src/dnadesign/infer/**
  opal: any of: src/dnadesign/opal/**
  cluster: any of: src/dnadesign/cluster/**
  billboard: any of: src/dnadesign/billboard/**
  libshuffle: any of: src/dnadesign/libshuffle/**
  nmf: any of: src/dnadesign/nmf/**
  latdna: any of: src/dnadesign/latdna/**
  cruncher: any of: src/dnadesign/cruncher/**
  tfkdanalysis: any of: src/dnadesign/tfkdanalysis/**
  aligner: any of: src/dnadesign/aligner/**
  baserender: any of: src/dnadesign/baserender/**
  permuter: any of: src/dnadesign/permuter/**
