Repository e-south/dnadesign: changes, and which Codecov flags are due for each by the changed paths.
All: core, external_integration, usr, notify, densegen, infer, opal, cluster, billboard, libshuffle, nmf, latdna, cruncher, tfkdanalysis, aligner, baserender, permuter

codecov.yml:

codecov:
  require_ci_to_pass: true

coverage:
  precision: 2
  round: down
  range: "0...100"
  status:
    project:
      default:
        target: auto
        threshold: 0.5%
        if_ci_failed: error
        if_not_found: failure
    patch:
      default:
        target: auto
        threshold: 0.5%
        if_ci_failed: error
        if_not_found: failure

flags:
  core:
    paths:
      - src/dnadesign
    carryforward: false
  external_integration:
    paths:
      - src/dnadesign
    carryforward: false

component_management:
  default_rules:
    statuses:
      - type: project
        target: auto
        threshold: 0.5%
        if_ci_failed: error
        if_not_found: failure
  individual_components:
    - component_id: usr
      name: usr
      paths:
        - src/dnadesign/usr/**
    - component_id: notify
      name: notify
      paths:
        - src/dnadesign/notify/**
    - component_id: densegen
      name: densegen
      paths:
        - src/dnadesign/densegen/**
    - component_id: infer
      name: infer
      paths:
        - src/dnadesign/infer/**
    - component_id: opal
      name: opal
      paths:
        - src/dnadesign/opal/**
    - component_id: cluster
      name: cluster
      paths:
        - src/dnadesign/cluster/**
    - component_id: billboard
      name: billboard
      paths:
        - src/dnadesign/billboard/**
    - component_id: libshuffle
      name: libshuffle
      paths:
        - src/dnadesign/libshuffle/**
    - component_id: nmf
      name: nmf
      paths:
        - src/dnadesign/nmf/**
    - component_id: latdna
      name: latdna
      paths:
        - src/dnadesign/latdna/**
    - component_id: cruncher
      name: cruncher
      paths:
        - src/dnadesign/cruncher/**
    - component_id: tfkdanalysis
      name: tfkdanalysis
      paths:
        - src/dnadesign/tfkdanalysis/**
    - component_id: aligner
      name: aligner
      paths:
        - src/dnadesign/aligner/**
    - component_id: baserender
      name: baserender
      paths:
        - src/dnadesign/baserender/**
    - component_id: permuter
      name: permuter
      paths:
        - src/dnadesign/permuter/**

comment:
  require_changes: true
  layout: "reach,diff,flags,components,files"

github_checks:
  annotations: true

infer: record cache cleanup and 7b pressure test
  src/dnadesign/infer/docs/dev/journal.md
Due: core, external_integration, infer

Add repo-local SGE Codex skill
  .agents/skills/sge-hpc-ops/SKILL.md
  .agents/skills/sge-hpc-ops/references/README.md
  .agents/skills/sge-hpc-ops/references/audit-fixtures/qstat-busy.txt
  .agents/skills/sge-hpc-ops/references/audit-fixtures/qstat-eqw.txt
  .agents/skills/sge-hpc-ops/references/audit-fixtures/qstat-green.txt
  .agents/skills/sge-hpc-ops/references/audit-fixtures/qsub-missing-project.sh
  .agents/skills/sge-hpc-ops/references/audit-fixtures/qsub-now-y.sh
  .agents/skills/sge-hpc-ops/references/audit-fixtures/qsub-valid.sh
  .agents/skills/sge-hpc-ops/references/automation-qa-preflight.md
  .agents/skills/sge-hpc-ops/references/batch-submit-contract.md
  .agents/skills/sge-hpc-ops/references/bu-scc-system-usage.md
  .agents/skills/sge-hpc-ops/references/ci-mechanical-gates.md
  .agents/skills/sge-hpc-ops/references/interactive-contract.md
  .agents/skills/sge-hpc-ops/references/operator-brief.md
  .agents/skills/sge-hpc-ops/references/probe-first-contract.md
  .agents/skills/sge-hpc-ops/references/route-load-matrix.md
  .agents/skills/sge-hpc-ops/references/runbook-entrypoints.md
  .agents/skills/sge-hpc-ops/references/session-status-reporting.md
  .agents/skills/sge-hpc-ops/references/source-evidence.md
  .agents/skills/sge-hpc-ops/references/submission-shape-advisor.md
  .agents/skills/sge-hpc-ops/references/test-matrix.md
  .agents/skills/sge-hpc-ops/references/user-status-contract.md
  .agents/skills/sge-hpc-ops/references/workflow-router.md
  .agents/skills/sge-hpc-ops/references/workload-dnadesign.md
  .agents/skills/sge-hpc-ops/scripts/audit-sge-hpc-ops-skill.sh
  .agents/skills/sge-hpc-ops/scripts/audit-skill.sh
  .agents/skills/sge-hpc-ops/scripts/qa-sge-submit-preflight.sh
  .agents/skills/sge-hpc-ops/scripts/sge-active-jobs.sh
  .agents/skills/sge-hpc-ops/scripts/sge-operator-brief.sh
  .agents/skills/sge-hpc-ops/scripts/sge-session-status.sh
  .agents/skills/sge-hpc-ops/scripts/sge-status-card.sh
  .agents/skills/sge-hpc-ops/scripts/sge-submit-shape-advisor.sh
  RELIABILITY.md
  docs/bu-scc/README.md
  docs/dev/README.md
  src/dnadesign/densegen/tests/docs/test_bu_scc_docs_contracts.py
Due: core, external_integration, densegen

Add construct sibling tool
  README.md
  docs/README.md
  pyproject.toml
  src/dnadesign/construct/README.md
  src/dnadesign/construct/__init__.py
  src/dnadesign/construct/__main__.py
  src/dnadesign/construct/cli.py
  src/dnadesign/construct/docs/README.md
  src/dnadesign/construct/docs/dev/README.md
  src/dnadesign/construct/docs/dev/journal.md
  src/dnadesign/construct/docs/index.md
  src/dnadesign/construct/src/README.md
  src/dnadesign/construct/src/__init__.py
  src/dnadesign/construct/src/api.py
  src/dnadesign/construct/src/cli/__init__.py
  src/dnadesign/construct/src/cli/app.py
  src/dnadesign/construct/src/cli/commands/__init__.py
  src/dnadesign/construct/src/cli/commands/run.py
  src/dnadesign/construct/src/cli/commands/validate.py
  src/dnadesign/construct/src/cli/commands/workspace.py
  src/dnadesign/construct/src/config.py
  src/dnadesign/construct/src/errors.py
  src/dnadesign/construct/src/runtime.py
  src/dnadesign/construct/src/workspace.py
  src/dnadesign/construct/tests/cli/test_validate_command.py
  src/dnadesign/construct/tests/cli/test_workspace_command.py
  src/dnadesign/construct/tests/package/test_source_tree_contracts.py
  src/dnadesign/construct/tests/runtime/test_run_construct.py
  src/dnadesign/construct/workspaces/README.md
Due: core, external_integration

Register construct USR lineage schema
  src/dnadesign/usr/datasets/registry.yaml
Due: core, external_integration, usr

construct: harden workspace and seed workflows
  pyproject.toml
  src/dnadesign/construct/docs/dev/journal.md
  src/dnadesign/construct/docs/reference/cli.md
  src/dnadesign/construct/docs/reference/config.md
  src/dnadesign/construct/docs/reference/outputs.md
  src/dnadesign/construct/docs/reference/seed-manifest.md
  src/dnadesign/construct/docs/reference/workspace-registry.md
  src/dnadesign/construct/src/README.md
  src/dnadesign/construct/src/cli/commands/__init__.py
  src/dnadesign/construct/src/cli/commands/_render.py
  src/dnadesign/construct/src/cli/commands/run.py
  src/dnadesign/construct/src/cli/commands/seed.py
  src/dnadesign/construct/src/cli/commands/validate.py
  src/dnadesign/construct/src/cli/commands/workspace.py
  src/dnadesign/construct/src/config.py
  src/dnadesign/construct/src/runtime.py
  src/dnadesign/construct/src/seed.py
  src/dnadesign/construct/src/seeds/promoter_swap_demo.yaml
  src/dnadesign/construct/src/workspace.py
  src/dnadesign/construct/tests/cli/test_run_command.py
  src/dnadesign/construct/tests/cli/test_seed_command.py
  src/dnadesign/construct/tests/cli/test_validate_command.py
  src/dnadesign/construct/tests/cli/test_workspace_command.py
  src/dnadesign/construct/tests/package/test_source_tree_contracts.py
  src/dnadesign/construct/tests/runtime/test_run_construct.py
  src/dnadesign/construct/workspaces/demo_promoter_swap_pdual10/README.md
  src/dnadesign/construct/workspaces/demo_promoter_swap_pdual10/config.slot_a.full.yaml
  src/dnadesign/construct/workspaces/demo_promoter_swap_pdual10/config.slot_a.window.yaml
  src/dnadesign/construct/workspaces/demo_promoter_swap_pdual10/config.slot_b.full.yaml
  src/dnadesign/construct/workspaces/demo_promoter_swap_pdual10/config.slot_b.window.yaml
  src/dnadesign/construct/workspaces/demo_promoter_swap_pdual10/construct.workspace.yaml
  src/dnadesign/construct/workspaces/demo_promoter_swap_pdual10/inputs/README.md
  src/dnadesign/construct/workspaces/demo_promoter_swap_pdual10/inputs/seed_manifest.yaml
  src/dnadesign/construct/workspaces/demo_promoter_swap_pdual10/runbook.md
  src/dnadesign/construct/workspaces/demo_promoter_swap_pdual10/runbook.sh
Due: core, external_integration

docs: tighten construct landing pages
  README.md
  src/dnadesign/construct/README.md
  src/dnadesign/construct/docs/README.md
  src/dnadesign/construct/docs/assets/construct-banner.svg
  src/dnadesign/construct/docs/getting-started.md
  src/dnadesign/construct/docs/index.md
  src/dnadesign/construct/workspaces/README.md
Due: core, external_integration

refactor: codify orchestration and cross-tool doc semantics
  ARCHITECTURE.md
  DESIGN.md
  docs/README.md
  docs/dev/journal.md
  docs/operations/README.md
  docs/operations/orchestration-runbooks.md
  src/dnadesign/devtools/architecture_boundaries.py
  src/dnadesign/devtools/docs_checks.py
  src/dnadesign/devtools/tests/test_architecture_boundaries.py
  src/dnadesign/devtools/tests/test_docs_checks.py
  src/dnadesign/ops/README.md
  src/dnadesign/ops/cli.py
  src/dnadesign/ops/orchestrator/mode_tools.py
  src/dnadesign/ops/orchestrator/plan_tools.py
  src/dnadesign/ops/orchestrator/state.py
  src/dnadesign/ops/orchestrator/usr_overlay_inputs.py
  src/dnadesign/ops/runbooks/presets/densegen_stress_ethanol_cipro_batch_with_notify.yaml
  src/dnadesign/ops/runbooks/schema.py
  src/dnadesign/ops/runbooks/workflow_metadata.py
  src/dnadesign/ops/tests/test_densegen_usr_contract_sharing.py
  src/dnadesign/ops/tests/test_ops_docs_progressive_disclosure_contracts.py
  src/dnadesign/ops/tests/test_runbook_orchestrator.py
  src/dnadesign/ops/tests/test_workflow_metadata.py
  src/dnadesign/usr/docs/operations/README.md
  src/dnadesign/usr/docs/operations/chained-densegen-infer-sync-demo.md
  src/dnadesign/usr/docs/operations/hpc-agent-sync-flow.md
  src/dnadesign/usr/docs/operations/workflow-map.md
Due: core, external_integration, usr

refactor: codify docs ontology and ops orchestration semantics
  ARCHITECTURE.md
  DESIGN.md
  docs/operations/README.md
  docs/operations/orchestration-runbooks.md
  src/dnadesign/devtools/docs_checks.py
  src/dnadesign/devtools/tests/test_docs_checks.py
  src/dnadesign/ops/cli.py
  src/dnadesign/ops/runbooks/schema.py
  src/dnadesign/ops/runbooks/workflow_metadata.py
  src/dnadesign/ops/tests/test_ops_docs_progressive_disclosure_contracts.py
  src/dnadesign/ops/tests/test_runbook_orchestrator.py
  src/dnadesign/ops/tests/test_workflow_metadata.py
Due: core, external_integration

docs: harden cross-tool workflow routing and entry surfaces
  README.md
  docs/README.md
  docs/dev/journal.md
  docs/notify/README.md
  src/dnadesign/cluster/README.md
  src/dnadesign/cluster/tests/test_docs_contract.py
  src/dnadesign/construct/README.md
  src/dnadesign/construct/docs/README.md
  src/dnadesign/construct/docs/index.md
  src/dnadesign/construct/tests/test_docs_contract.py
  src/dnadesign/construct/workspaces/README.md
  src/dnadesign/construct/workspaces/demo_promoter_swap_pdual10_source_of_truth/runbook.md
  src/dnadesign/densegen/README.md
  src/dnadesign/densegen/docs/README.md
  src/dnadesign/densegen/docs/index.md
  src/dnadesign/densegen/tests/docs/test_densegen_docs_progressive_disclosure_contracts.py
  src/dnadesign/infer/README.md
  src/dnadesign/infer/docs/README.md
  src/dnadesign/infer/docs/index.md
  src/dnadesign/infer/tests/docs/test_information_architecture_contracts.py
  src/dnadesign/notify/README.md
  src/dnadesign/notify/docs/README.md
  src/dnadesign/notify/docs/reference/README.md
  src/dnadesign/notify/tests/test_notify_docs_progressive_disclosure_contracts.py
  src/dnadesign/opal/README.md
  src/dnadesign/opal/docs/index.md
  src/dnadesign/opal/tests/cli/test_docs_workflow_routing.py
  src/dnadesign/usr/docs/README.md
  src/dnadesign/usr/docs/operations/README.md
  src/dnadesign/usr/docs/operations/chained-densegen-infer-sync-demo.md
  src/dnadesign/usr/docs/operations/hpc-agent-sync-flow.md
  src/dnadesign/usr/docs/operations/multi-source-source-of-truth-assembly.md
  src/dnadesign/usr/tests/test_usr_docs_contract.py
Due: core, external_integration, usr, notify, densegen, infer, opal, cluster

docs: promote cluster to a first-class workflow surface
  docs/README.md
  src/dnadesign/cluster/README.md
  src/dnadesign/cluster/docs/README.md
  src/dnadesign/cluster/docs/concepts/ownership-boundary.md
  src/dnadesign/cluster/docs/index.md
  src/dnadesign/cluster/docs/reference/cli-contracts.md
  src/dnadesign/cluster/docs/workflows/exploratory-clustering.md
  src/dnadesign/cluster/tests/test_docs_contract.py
  src/dnadesign/infer/README.md
  src/dnadesign/infer/docs/README.md
  src/dnadesign/infer/docs/index.md
  src/dnadesign/infer/tests/docs/test_information_architecture_contracts.py
  src/dnadesign/opal/README.md
  src/dnadesign/opal/docs/workflows/usr-infer-x-active-learning.md
  src/dnadesign/opal/tests/cli/test_docs_workflow_routing.py
Due: core, external_integration, infer, opal, cluster

docs: harden operator routes and runbook examples
  docs/dev/journal.md
  docs/operations/README.md
  docs/operations/orchestration-runbooks.md
  src/dnadesign/notify/README.md
  src/dnadesign/notify/docs/README.md
  src/dnadesign/notify/tests/test_notify_docs_progressive_disclosure_contracts.py
  src/dnadesign/ops/tests/test_ops_docs_progressive_disclosure_contracts.py
  src/dnadesign/usr/docs/operations/promoter-characterization-feature-matrix.md
  src/dnadesign/usr/docs/operations/sync.md
  src/dnadesign/usr/docs/operations/workflow-map.md
  src/dnadesign/usr/tests/test_usr_docs_contract.py
Due: core, external_integration, usr, notify

docs: normalize USR runbook identities and routes
  docs/README.md
  docs/notify/README.md
  docs/notify/usr-events.md
  docs/operations/README.md
  src/dnadesign/construct/docs/README.md
  src/dnadesign/construct/docs/getting-started.md
  src/dnadesign/construct/docs/index.md
  src/dnadesign/construct/docs/reference/outputs.md
  src/dnadesign/construct/workspaces/README.md
  src/dnadesign/construct/workspaces/demo_promoter_swap_pdual10_source_of_truth/README.md
  src/dnadesign/construct/workspaces/demo_promoter_swap_pdual10_source_of_truth/runbook.md
  src/dnadesign/devtools/docs_checks.py
  src/dnadesign/infer/README.md
  src/dnadesign/infer/docs/README.md
  src/dnadesign/infer/docs/index.md
  src/dnadesign/infer/docs/operations/README.md
  src/dnadesign/infer/tests/docs/test_information_architecture_contracts.py
  src/dnadesign/usr/docs/README.md
  src/dnadesign/usr/docs/operations/README.md
  src/dnadesign/usr/docs/operations/chained-densegen-infer-sync-runbook.md
  src/dnadesign/usr/docs/operations/construct-infer-source-of-truth-runbook.md
  src/dnadesign/usr/docs/operations/multi-source-source-of-truth-assembly.md
  src/dnadesign/usr/docs/operations/promoter-characterization-feature-matrix.md
  src/dnadesign/usr/docs/operations/sync-troubleshooting.md
  src/dnadesign/usr/docs/operations/sync.md
  src/dnadesign/usr/docs/operations/workflow-map.md
  src/dnadesign/usr/tests/test_usr_docs_contract.py
Due: core, external_integration, usr, infer

docs: sharpen tool entry surfaces
  docs/dev/journal.md
  src/dnadesign/construct/README.md
  src/dnadesign/construct/tests/test_docs_contract.py
  src/dnadesign/densegen/README.md
  src/dnadesign/densegen/tests/docs/test_densegen_docs_progressive_disclosure_contracts.py
Due: core, external_integration, densegen

cluster: align docs and verification with new contracts
  docs/dev/journal.md
  src/dnadesign/cluster/README.md
  src/dnadesign/cluster/docs/README.md
  src/dnadesign/cluster/docs/concepts/ownership-boundary.md
  src/dnadesign/cluster/docs/concepts/semantic-surface.md
  src/dnadesign/cluster/docs/index.md
  src/dnadesign/cluster/docs/reference/cli-contracts.md
  src/dnadesign/cluster/docs/reference/verification.md
  src/dnadesign/cluster/docs/workflows/exploratory-clustering.md
  src/dnadesign/cluster/scripts/verify_cluster_contracts.sh
  src/dnadesign/cluster/tests/test_docs_contract.py
  src/dnadesign/usr/docs/operations/promoter-characterization-feature-matrix.md
  src/dnadesign/usr/docs/operations/workflow-map.md
Due: core, external_integration, usr, cluster

ops+infer+densegen: close live PR contract findings
  docs/bu-scc/jobs/README.md
  docs/bu-scc/jobs/densegen-analysis.qsub
  src/dnadesign/densegen/src/core/pipeline/stage_b_runtime_callbacks.py
  src/dnadesign/densegen/src/core/pipeline/usage_tracking.py
  src/dnadesign/densegen/tests/docs/test_bu_scc_docs_contracts.py
  src/dnadesign/densegen/tests/stage_b/test_used_tfbs_offsets.py
  src/dnadesign/infer/src/cli/commands/run.py
  src/dnadesign/infer/src/resource_contracts.py
  src/dnadesign/infer/src/runtime/capacity_planner.py
  src/dnadesign/infer/tests/cli/test_run_command_config_inputs.py
  src/dnadesign/infer/tests/package/test_wrapper_contracts.py
  src/dnadesign/infer/tests/runtime/test_capacity_planner.py
  src/dnadesign/ops/orchestrator/mode_tools.py
  src/dnadesign/ops/tests/test_mode_tools.py
  src/dnadesign/ops/tests/test_runbook_orchestrator.py
Due: core, external_integration, densegen, infer

ci: register construct in tool coverage baseline
  .github/tool-coverage-baseline.json
Due: none

construct: default workspaces to cwd and ship all profiles
  pyproject.toml
  src/dnadesign/construct/docs/getting-started.md
  src/dnadesign/construct/docs/reference/cli.md
  src/dnadesign/construct/src/workspace.py
  src/dnadesign/construct/tests/cli/test_workspace_command.py
  src/dnadesign/construct/tests/package/test_source_tree_contracts.py
  src/dnadesign/construct/workspaces/README.md
  src/dnadesign/construct/workspaces/demo_promoter_swap_pdual10/README.md
  src/dnadesign/construct/workspaces/demo_promoter_swap_pdual10/runbook.md
  src/dnadesign/construct/workspaces/demo_promoter_swap_pdual10_source_of_truth/README.md
  src/dnadesign/construct/workspaces/demo_promoter_swap_pdual10_source_of_truth/runbook.md
Due: core, external_integration

docs: satisfy runbook snippet annotation contracts
  src/dnadesign/cluster/docs/workflows/exploratory-clustering.md
  src/dnadesign/cluster/workspaces/README.md
  src/dnadesign/infer/docs/operations/evo2-promoter-features.md
  src/dnadesign/usr/docs/operations/promoter-characterization-feature-matrix.md
Due: core, external_integration, usr, infer, cluster

ci: gate ffmpeg install to baserender and full-core
  .github/workflows/ci.yaml
  src/dnadesign/devtools/tests/test_ci_workflow_contract.py
Due: core, external_integration

build: package infer and cluster runtime assets
  pyproject.toml
  src/dnadesign/cluster/tests/test_source_tree_contracts.py
  src/dnadesign/infer/tests/package/test_source_tree_contracts.py
Due: core, external_integration, infer, cluster

densegen: fix core-lane ci regressions
  .agents/skills/sge-hpc-ops/scripts/audit-sge-hpc-ops-skill.sh
  .agents/skills/sge-hpc-ops/scripts/audit-skill.sh
  .agents/skills/sge-hpc-ops/scripts/qa-sge-submit-preflight.sh
  .agents/skills/sge-hpc-ops/scripts/rg_compat.sh
  .agents/skills/sge-hpc-ops/scripts/sge-operator-brief.sh
  .agents/skills/sge-hpc-ops/scripts/sge-status-card.sh
  .agents/skills/sge-hpc-ops/scripts/sge-submit-shape-advisor.sh
  src/dnadesign/densegen/README.md
  src/dnadesign/densegen/tests/runtime/test_round_robin_chunk_cap.py
Due: core, external_integration, densegen

packaging: harden workspace and infer runtime contracts
  pyproject.toml
  src/dnadesign/cluster/src/workspaces/paths.py
  src/dnadesign/cluster/tests/test_runtime_contracts.py
  src/dnadesign/construct/src/cli/commands/workspace.py
  src/dnadesign/construct/src/workspace.py
  src/dnadesign/construct/tests/cli/test_workspace_command.py
  src/dnadesign/construct/tests/package/test_source_tree_contracts.py
  src/dnadesign/construct/workspaces/demo_promoter_swap_pdual10/runbook.sh
  src/dnadesign/construct/workspaces/demo_promoter_swap_pdual10_source_of_truth/runbook.sh
  src/dnadesign/densegen/tests/config/test_package_data_contract.py
  src/dnadesign/infer/src/adapters/esm2.py
  src/dnadesign/infer/src/adapters/evo2.py
  src/dnadesign/infer/src/cli/commands/run.py
  src/dnadesign/infer/src/cli/commands/validate.py
  src/dnadesign/infer/src/resource_contracts.py
  src/dnadesign/infer/src/runtime/adapter_runtime.py
  src/dnadesign/infer/tests/package/test_wrapper_contracts.py
  src/dnadesign/infer/tests/runtime/test_adapter_runtime.py
Due: core, external_integration, densegen, infer, cluster

docs: slim package readmes and keep root docs abstract
  ARCHITECTURE.md
  DESIGN.md
  PLANS.md
  QUALITY_SCORE.md
  README.md
  RELIABILITY.md
  SECURITY.md
  src/dnadesign/baserender/README.md
  src/dnadesign/baserender/docs/README.md
  src/dnadesign/baserender/tests/test_docs_contracts.py
  src/dnadesign/cluster/README.md
  src/dnadesign/cluster/tests/test_docs_contract.py
  src/dnadesign/construct/README.md
  src/dnadesign/construct/docs/README.md
  src/dnadesign/construct/tests/test_docs_contract.py
  src/dnadesign/infer/README.md
  src/dnadesign/infer/tests/docs/test_information_architecture_contracts.py
  src/dnadesign/notify/README.md
  src/dnadesign/notify/tests/test_notify_docs_progressive_disclosure_contracts.py
  src/dnadesign/ops/README.md
  src/dnadesign/ops/docs/README.md
  src/dnadesign/ops/tests/test_ops_docs_progressive_disclosure_contracts.py
Due: core, external_integration, notify, infer, cluster, baserender

docs: normalize ops readme narrative surface
  src/dnadesign/ops/README.md
Due: core, external_integration

ops: scope infer mode probing to resolved outputs
  src/dnadesign/ops/orchestrator/mode_tools.py
  src/dnadesign/ops/tests/test_mode_tools.py
  src/dnadesign/ops/tests/test_runbook_orchestrator.py
Due: core, external_integration

docs: realign readme and evo2 packaging contracts
  README.md
  pyproject.toml
  src/dnadesign/infer/README.md
  src/dnadesign/infer/tests/docs/test_usr_docs_contract.py
  src/dnadesign/infer/tests/package/test_source_tree_contracts.py
  src/dnadesign/usr/tests/test_usr_docs_contract.py
  uv.lock
Due: core, external_integration, usr, infer

cluster: make packaged workspaces repo-agnostic
  src/dnadesign/cluster/docs/reference/cli-contracts.md
  src/dnadesign/cluster/docs/workflows/exploratory-clustering.md
  src/dnadesign/cluster/presets/analysis/analysis.promoter_set1.yaml
  src/dnadesign/cluster/presets/umap/umap.promoter_set1.yaml
  src/dnadesign/cluster/src/workspaces/contracts.py
  src/dnadesign/cluster/src/workspaces/loader.py
  src/dnadesign/cluster/tests/test_runtime_contracts.py
  src/dnadesign/cluster/workspaces/perm_v1/config.yaml
  src/dnadesign/cluster/workspaces/promoter_clusters_v1/config.yaml
Due: core, external_integration, cluster

infer: make workspace demos checkout-agnostic
  docs/bu-scc/install.md
  docs/bu-scc/quickstart.md
  pyproject.toml
  src/dnadesign/infer/README.md
  src/dnadesign/infer/docs/README.md
  src/dnadesign/infer/docs/index.md
  src/dnadesign/infer/docs/operations/README.md
  src/dnadesign/infer/docs/operations/evo2-promoter-features.md
  src/dnadesign/infer/docs/operations/examples/pressure_test_infer_config.yaml
  src/dnadesign/infer/docs/operations/pressure-test-agnostic-models.md
  src/dnadesign/infer/docs/operations/scc-evo2-gpu-uv-runbook.md
  src/dnadesign/infer/docs/reference/command-contracts.md
  src/dnadesign/infer/docs/tutorials/demo_pressure_test_usr_ops_notify.md
  src/dnadesign/infer/src/workspace.py
  src/dnadesign/infer/tests/cli/test_workspace_command.py
  src/dnadesign/infer/tests/docs/test_information_architecture_contracts.py
  src/dnadesign/infer/tests/docs/test_pressure_runbook_docs_contract.py
  src/dnadesign/infer/tests/package/test_source_tree_contracts.py
  src/dnadesign/infer/workspaces/README.md
  src/dnadesign/infer/workspaces/demo_usr_pressure/config.yaml
  src/dnadesign/infer/workspaces/evo2_feature_bundle_smoke/README.md
  src/dnadesign/infer/workspaces/evo2_feature_bundle_smoke/config.yaml
  src/dnadesign/infer/workspaces/evo2_feature_bundle_smoke/inputs/anchor_only_records.jsonl
  src/dnadesign/infer/workspaces/evo2_feature_bundle_smoke/inputs/template_1kb_records.jsonl
  src/dnadesign/infer/workspaces/promoter_evo2_smoke/README.md
  src/dnadesign/infer/workspaces/promoter_evo2_smoke/inputs/anchor_only_promoters.jsonl
  src/dnadesign/infer/workspaces/promoter_evo2_smoke/inputs/template_1kb_promoters.jsonl
Due: core, external_integration, infer

Add runbook catalog registry contracts
  ARCHITECTURE.md
  DESIGN.md
  QUALITY_SCORE.md
  docs/operations/orchestration-runbooks.md
  docs/runbooks/README.md
  src/dnadesign/cluster/docs/workflows/exploratory-clustering.md
  src/dnadesign/cluster/tests/test_docs_contract.py
  src/dnadesign/devtools/docs_checks.py
  src/dnadesign/devtools/tests/test_docs_checks.py
  src/dnadesign/opal/docs/workflows/usr-infer-x-active-learning.md
  src/dnadesign/opal/tests/cli/test_docs_workflow_routing.py
  src/dnadesign/usr/docs/operations/chained-densegen-infer-sync-runbook.md
  src/dnadesign/usr/docs/operations/construct-infer-source-of-truth-runbook.md
  src/dnadesign/usr/docs/operations/hpc-agent-sync-flow.md
  src/dnadesign/usr/docs/operations/multi-source-source-of-truth-assembly.md
  src/dnadesign/usr/docs/operations/promoter-characterization-feature-matrix.md
Due: core, external_integration, usr, opal, cluster

Add ops catalog discovery commands
  docs/README.md
  docs/operations/README.md
  src/dnadesign/ops/README.md
  src/dnadesign/ops/catalog.py
  src/dnadesign/ops/cli.py
  src/dnadesign/ops/docs/README.md
  src/dnadesign/ops/tests/test_catalog_cli.py
  src/dnadesign/ops/tests/test_ops_docs_progressive_disclosure_contracts.py
  src/dnadesign/usr/tests/test_usr_docs_contract.py
Due: core, external_integration, usr

ops: model procedures and tool entrypoints as metadata
  docs/notify/README.tool-source.yaml
  docs/operations/orchestration-runbooks.registry.yaml
  docs/runbooks/README.md
  src/dnadesign/cluster/docs/README.tool-source.yaml
  src/dnadesign/cluster/docs/workflows/exploratory-clustering.registry.yaml
  src/dnadesign/construct/docs/README.tool-source.yaml
  src/dnadesign/cruncher/docs/README.tool-source.yaml
  src/dnadesign/densegen/docs/README.tool-source.yaml
  src/dnadesign/devtools/docs_checks.py
  src/dnadesign/devtools/generate_runbook_catalog.py
  src/dnadesign/devtools/tests/test_docs_checks.py
  src/dnadesign/infer/docs/README.tool-source.yaml
  src/dnadesign/opal/docs/index.tool-source.yaml
  src/dnadesign/opal/docs/workflows/usr-infer-x-active-learning.registry.yaml
  src/dnadesign/ops/catalog.py
  src/dnadesign/ops/docs/README.tool-source.yaml
  src/dnadesign/usr/docs/README.tool-source.yaml
  src/dnadesign/usr/docs/operations/chained-densegen-infer-sync-runbook.registry.yaml
  src/dnadesign/usr/docs/operations/construct-infer-source-of-truth-runbook.registry.yaml
  src/dnadesign/usr/docs/operations/hpc-agent-sync-flow.registry.yaml
  src/dnadesign/usr/docs/operations/multi-source-source-of-truth-assembly.registry.yaml
  src/dnadesign/usr/docs/operations/promoter-characterization-feature-matrix.registry.yaml
Due: core, external_integration, usr, densegen, infer, opal, cluster, cruncher

ops: add progress interrogation and deep doc discovery
  docs/README.md
  docs/operations/README.md
  src/dnadesign/ops/README.md
  src/dnadesign/ops/cli.py
  src/dnadesign/ops/docs/README.md
  src/dnadesign/ops/progress.py
  src/dnadesign/ops/tests/test_catalog_cli.py
  src/dnadesign/ops/tests/test_ops_docs_progressive_disclosure_contracts.py
  src/dnadesign/ops/tests/test_progress_cli.py
Due: core, external_integration

docs: streamline Construct and Cluster indexes
  src/dnadesign/cluster/README.md
  src/dnadesign/cluster/docs/README.md
  src/dnadesign/cluster/docs/concepts/ownership-boundary.md
  src/dnadesign/cluster/docs/concepts/semantic-surface.md
  src/dnadesign/cluster/docs/index.md
  src/dnadesign/cluster/docs/reference/cli-contracts.md
  src/dnadesign/cluster/docs/reference/verification.md
  src/dnadesign/cluster/tests/test_docs_contract.py
  src/dnadesign/cluster/workspaces/README.md
  src/dnadesign/construct/README.md
  src/dnadesign/construct/docs/README.md
  src/dnadesign/construct/docs/assets/construct-banner.svg
  src/dnadesign/construct/docs/dev/README.md
  src/dnadesign/construct/docs/getting-started.md
  src/dnadesign/construct/docs/index.md
  src/dnadesign/construct/docs/reference/cli.md
  src/dnadesign/construct/docs/reference/config.md
  src/dnadesign/construct/docs/reference/outputs.md
  src/dnadesign/construct/docs/reference/seed-manifest.md
  src/dnadesign/construct/docs/reference/workspace-registry.md
  src/dnadesign/construct/tests/test_docs_contract.py
  src/dnadesign/construct/workspaces/README.md
Due: core, external_integration, cluster

ops: improve catalog guidance and progress hints
  src/dnadesign/ops/cli.py
  src/dnadesign/ops/tests/test_catalog_cli.py
  src/dnadesign/ops/tests/test_progress_cli.py
Due: core, external_integration

docs: clarify Ops entrypoints and status routes
  README.md
  docs/README.md
  docs/operations/README.md
  docs/runbooks/README.md
  src/dnadesign/ops/README.md
  src/dnadesign/ops/docs/README.md
  src/dnadesign/ops/docs/how-to-use-ops.md
  src/dnadesign/ops/tests/test_ops_docs_progressive_disclosure_contracts.py
Due: core, external_integration
