Repository e-south/dnadesign: changes, and which Codecov flags are due for each by the changed paths.
All: core, external_integration, usr, notify, densegen, infer, opal, cluster, billboard, libshuffle, nmf, latdna, cruncher, tfkdanalysis, aligner, baserender, permuter

codecov.yml:

codecov:
  require_ci_to_pass: true

coverage:
  precision: 2
  round: down
  range: "0...100"
  status:
    project:
      default:
        target: auto
        threshold: 0.5%
        if_ci_failed: error
        if_not_found: failure
    patch:
      default:
        target: auto
        threshold: 0.5%
        if_ci_failed: error
        if_not_found: failure

flags:
  core:
    paths:
      - src/dnadesign
    carryforward: false
  external_integration:
    paths:
      - src/dnadesign
    carryforward: false

component_management:
  default_rules:
    statuses:
      - type: project
        target: auto
        threshold: 0.5%
        if_ci_failed: error
        if_not_found: failure
  individual_components:
    - component_id: usr
      name: usr
      paths:
        - src/dnadesign/usr/**
    - component_id: notify
      name: notify
      paths:
        - src/dnadesign/notify/**
    - component_id: densegen
      name: densegen
      paths:
        - src/dnadesign/densegen/**
    - component_id: infer
      name: infer
      paths:
        - src/dnadesign/infer/**
    - component_id: opal
      name: opal
      paths:
        - src/dnadesign/opal/**
    - component_id: cluster
      name: cluster
      paths:
        - src/dnadesign/cluster/**
    - component_id: billboard
      name: billboard
      paths:
        - src/dnadesign/billboard/**
    - component_id: libshuffle
      name: libshuffle
      paths:
        - src/dnadesign/libshuffle/**
    - component_id: nmf
      name: nmf
      paths:
        - src/dnadesign/nmf/**
    - component_id: latdna
      name: latdna
      paths:
        - src/dnadesign/latdna/**
    - component_id: cruncher
      name: cruncher
      paths:
        - src/dnadesign/cruncher/**
    - component_id: tfkdanalysis
      name: tfkdanalysis
      paths:
        - src/dnadesign/tfkdanalysis/**
    - component_id: aligner
      name: aligner
      paths:
        - src/dnadesign/aligner/**
    - component_id: baserender
      name: baserender
      paths:
        - src/dnadesign/baserender/**
    - component_id: permuter
      name: permuter
      paths:
        - src/dnadesign/permuter/**

comment:
  require_changes: true
  layout: "reach,diff,flags,components,files"

github_checks:
  annotations: true

fix(ops): resolve external study runbooks from owner repo
  docs/operations/orchestration/runbooks.md
  src/dnadesign/ops/cli/commands/runbook.py
  src/dnadesign/ops/orchestrator/study_runbooks.py
  src/dnadesign/ops/study/record_loader.py
  src/dnadesign/ops/tests/test_study_runbook_discovery.py
Due: core, external_integration

docs(thread): refresh LigandMPNN verification date
  src/dnadesign/thread/docs/README.md
Due: core, external_integration

refactor(devtools): decompose documentation checks (#110)
  .github/workflows/ci.yaml
  docs/dev/README.md
  src/dnadesign/devtools/docs/banner_contracts.py
  src/dnadesign/devtools/docs/check_contracts.py
  src/dnadesign/devtools/docs/checks.py
  src/dnadesign/devtools/docs/document_metadata.py
  src/dnadesign/devtools/docs/markdown_inventory.py
  src/dnadesign/devtools/docs/operations_contracts.py
  src/dnadesign/devtools/docs/public_surface_contracts.py
  src/dnadesign/devtools/tests/docs/check_test_support.py
  src/dnadesign/devtools/tests/docs/test_banner_contracts.py
  src/dnadesign/devtools/tests/docs/test_check_architecture.py
  src/dnadesign/devtools/tests/docs/test_checks.py
  src/dnadesign/devtools/tests/docs/test_document_metadata.py
  src/dnadesign/devtools/tests/docs/test_markdown_inventory.py
  src/dnadesign/devtools/tests/docs/test_operations_contracts.py
  src/dnadesign/devtools/tests/docs/test_public_surface_contracts.py
Due: core, external_integration

fix(storage): bind settling retry to published receipt
  src/dnadesign/contracts/storage_objects/inventory.py
  src/dnadesign/contracts/tests/storage_objects/test_cli.py
Due: core, external_integration

fix(infer): route diagnostics away from stdout
  src/dnadesign/infer/src/cli/console.py
  src/dnadesign/infer/tests/cli/test_console.py
Due: core, external_integration, infer

fix(storage): reject verification ABA replacements
  src/dnadesign/contracts/storage_objects/inventory.py
  src/dnadesign/contracts/storage_objects/models.py
  src/dnadesign/contracts/storage_objects/validation.py
  src/dnadesign/contracts/tests/storage_objects/test_cli.py
Due: core, external_integration

fix(ops): resolve external study runbooks from owner repo (#111)
  docs/operations/orchestration/runbooks.md
  src/dnadesign/ops/cli/commands/runbook.py
  src/dnadesign/ops/orchestrator/study_runbooks.py
  src/dnadesign/ops/study/record_loader.py
  src/dnadesign/ops/tests/test_study_runbook_discovery.py
Due: core, external_integration

test(ops): cover all external study identities
  src/dnadesign/devtools/tests/docs/test_external_study_boundaries.py
Due: core, external_integration

fix: close scoped guidance review gaps
  src/dnadesign/infer/AGENTS.md
  src/dnadesign/infer/tests/docs/test_usr_docs_contract.py
  src/dnadesign/usr/notebooks/AGENTS.md
  src/dnadesign/usr/notebooks/usr_explorer.py
  src/dnadesign/usr/tests/docs_contract/test_notebook.py
Due: core, external_integration, usr, infer

fix(storage): bind verification reads to file identity
  src/dnadesign/contracts/storage_objects/inventory.py
  src/dnadesign/contracts/storage_objects/validation.py
  src/dnadesign/contracts/tests/storage_objects/test_cli.py
  src/dnadesign/contracts/tests/storage_objects/test_contract.py
Due: core, external_integration

fix(infer): route diagnostics away from stdout (#112)
  src/dnadesign/infer/src/cli/console.py
  src/dnadesign/infer/tests/cli/test_console.py
Due: core, external_integration, infer

test(ops): guard historical stress fixture alias
  src/dnadesign/devtools/tests/docs/test_external_study_boundaries.py
  src/dnadesign/devtools/tests/docs/test_operations_contracts.py
Due: core, external_integration

fix(usr): honor canonical notebook dataset root
  src/dnadesign/usr/notebooks/usr_explorer.py
  src/dnadesign/usr/tests/docs_contract/test_notebook.py
  src/dnadesign/usr/tests/tests_layout_inventory.py
Due: core, external_integration, usr

fix(storage): bind manifest snapshots to coordination
  src/dnadesign/contracts/storage_objects/validation.py
  src/dnadesign/contracts/tests/storage_objects/test_cli.py
  src/dnadesign/contracts/tests/storage_objects/test_contract.py
Due: core, external_integration

fix(thread): bind LigandMPNN published evidence
  src/dnadesign/thread/adapters/ligandmpnn/alphabets.py
  src/dnadesign/thread/adapters/ligandmpnn/context_probe.py
  src/dnadesign/thread/adapters/ligandmpnn/design_fasta.py
  src/dnadesign/thread/adapters/ligandmpnn/design_manifest.py
  src/dnadesign/thread/adapters/ligandmpnn/design_results.py
  src/dnadesign/thread/adapters/ligandmpnn/pinned_runtime.py
  src/dnadesign/thread/adapters/ligandmpnn/score_results.py
  src/dnadesign/thread/tests/adapters/ligandmpnn/test_alphabets.py
  src/dnadesign/thread/tests/adapters/ligandmpnn/test_context_probe.py
  src/dnadesign/thread/tests/adapters/ligandmpnn/test_design_results.py
  src/dnadesign/thread/tests/adapters/ligandmpnn/test_pinned_runtime.py
  src/dnadesign/thread/tests/adapters/ligandmpnn/test_score_results.py
Due: core, external_integration

docs: restore scoped package agent guidance (#108)
  .gitignore
  src/dnadesign/cluster/AGENTS.md
  src/dnadesign/infer/AGENTS.md
  src/dnadesign/infer/tests/docs/test_usr_docs_contract.py
  src/dnadesign/opal/AGENTS.md
  src/dnadesign/opal/notebooks/AGENTS.md
  src/dnadesign/usr/notebooks/AGENTS.md
  src/dnadesign/usr/notebooks/usr_explorer.py
  src/dnadesign/usr/tests/docs_contract/test_notebook.py
  src/dnadesign/usr/tests/tests_layout_inventory.py
Due: core, external_integration, usr, infer, opal, cluster

fix(storage): retry resource disappearance snapshots
  src/dnadesign/contracts/storage_objects/validation.py
  src/dnadesign/contracts/tests/storage_objects/test_cli.py
  src/dnadesign/contracts/tests/storage_objects/test_contract.py
Due: core, external_integration

fix(storage): retry resource metadata drift
  src/dnadesign/contracts/storage_objects/validation.py
  src/dnadesign/contracts/tests/storage_objects/test_cli.py
Due: core, external_integration

test(notify): guard external study fixture identities
  src/dnadesign/devtools/tests/docs/test_external_study_boundaries.py
  src/dnadesign/notify/tests/events/test_source.py
Due: core, external_integration, notify

fix(thread): close LigandMPNN publication race windows
  src/dnadesign/thread/adapters/ligandmpnn/pinned_runtime.py
  src/dnadesign/thread/tests/adapters/ligandmpnn/test_pinned_runtime.py
Due: core, external_integration

test(ci): retain cross-tool fixture guard
  src/dnadesign/devtools/ci/test_targets.py
  src/dnadesign/devtools/tests/ci/test_test_targets.py
Due: core, external_integration

fix(thread): preserve foreign design publications
  src/dnadesign/thread/adapters/ligandmpnn/pinned_runtime.py
  src/dnadesign/thread/tests/adapters/ligandmpnn/test_pinned_runtime.py
Due: core, external_integration

fix(thread): preserve foreign score publications
  src/dnadesign/thread/adapters/ligandmpnn/pinned_runtime.py
  src/dnadesign/thread/tests/adapters/ligandmpnn/test_pinned_runtime.py
Due: core, external_integration

fix(storage): retry manifest metadata drift
  src/dnadesign/contracts/storage_objects/validation.py
  src/dnadesign/contracts/tests/storage_objects/test_cli.py
Due: core, external_integration

test(ops): decouple shared fixtures from study identity (#106)
  src/dnadesign/devtools/ci/test_targets.py
  src/dnadesign/devtools/tests/ci/test_test_targets.py
  src/dnadesign/devtools/tests/docs/test_external_study_boundaries.py
  src/dnadesign/devtools/tests/docs/test_operations_contracts.py
  src/dnadesign/notify/tests/events/test_source.py
  src/dnadesign/ops/tests/test_dynamic_inputs.py
  src/dnadesign/ops/tests/test_preflight_contract_checks.py
  src/dnadesign/ops/tests/test_runbook_orchestrator.py
  src/dnadesign/ops/tests/test_sge_gates.py
  src/dnadesign/ops/tests/test_state_semantics.py
Due: core, external_integration, notify

fix(storage): hard-fail path identity races
  src/dnadesign/contracts/storage_objects/validation.py
  src/dnadesign/contracts/tests/storage_objects/test_cli.py
Due: core, external_integration

fix(storage): retry verified demo snapshot drift
  src/dnadesign/contracts/storage_objects/validation.py
  src/dnadesign/contracts/tests/storage_objects/test_cli.py
Due: core, external_integration

fix(thread): close LigandMPNN evidence bindings
  src/dnadesign/thread/adapters/ligandmpnn/commands.py
  src/dnadesign/thread/adapters/ligandmpnn/design_fasta.py
  src/dnadesign/thread/adapters/ligandmpnn/design_results.py
  src/dnadesign/thread/adapters/ligandmpnn/pinned_runtime.py
  src/dnadesign/thread/tests/adapters/ligandmpnn/test_adapter.py
  src/dnadesign/thread/tests/adapters/ligandmpnn/test_design_results.py
  src/dnadesign/thread/tests/adapters/ligandmpnn/test_pinned_runtime.py
Due: core, external_integration

fix(storage): narrow settling retry closure
  src/dnadesign/contracts/storage_objects/inventory.py
  src/dnadesign/contracts/storage_objects/validation.py
  src/dnadesign/contracts/tests/storage_objects/test_cli.py
  src/dnadesign/contracts/tests/storage_objects/test_contract.py
Due: core, external_integration

fix(thread): guard materialized sidecar inputs
  src/dnadesign/thread/adapters/ligandmpnn/commands.py
  src/dnadesign/thread/tests/adapters/ligandmpnn/test_adapter.py
Due: core, external_integration

fix(storage): retry transient publication settling (#107)
  src/dnadesign/contracts/storage_objects/inventory.py
  src/dnadesign/contracts/storage_objects/models.py
  src/dnadesign/contracts/storage_objects/validation.py
  src/dnadesign/contracts/tests/storage_objects/test_cli.py
  src/dnadesign/contracts/tests/storage_objects/test_contract.py
Due: core, external_integration

fix(thread): guard explicit Python command paths
  src/dnadesign/thread/adapters/ligandmpnn/commands.py
  src/dnadesign/thread/tests/adapters/ligandmpnn/test_adapter.py
Due: core, external_integration

fix(thread): resolve interpreter paths from cwd
  src/dnadesign/thread/adapters/ligandmpnn/commands.py
  src/dnadesign/thread/tests/adapters/ligandmpnn/test_adapter.py
Due: core, external_integration

fix(thread): close remaining LigandMPNN admission races
  src/dnadesign/thread/adapters/ligandmpnn/_regular_files.py
  src/dnadesign/thread/adapters/ligandmpnn/commands.py
  src/dnadesign/thread/adapters/ligandmpnn/design_fasta.py
  src/dnadesign/thread/adapters/ligandmpnn/pinned_runtime.py
  src/dnadesign/thread/adapters/ligandmpnn/preflight.py
  src/dnadesign/thread/adapters/ligandmpnn/scoring.py
  src/dnadesign/thread/structure_views/_mmcif.py
  src/dnadesign/thread/tests/adapters/ligandmpnn/test_design_results.py
  src/dnadesign/thread/tests/adapters/ligandmpnn/test_pinned_runtime.py
  src/dnadesign/thread/tests/adapters/ligandmpnn/test_preflight.py
  src/dnadesign/thread/tests/adapters/ligandmpnn/test_scoring.py
  src/dnadesign/thread/tests/structure_views/test_mmcif_molecule_classes.py
  src/dnadesign/thread/tests/structure_views/test_py3dmol_html.py
  src/dnadesign/thread/tests/test_package_layout.py
Due: core, external_integration

fix(thread): reject interpreter path traversal
  src/dnadesign/thread/adapters/ligandmpnn/commands.py
  src/dnadesign/thread/tests/adapters/ligandmpnn/test_adapter.py
Due: core, external_integration

fix(thread): make score custody reads nonblocking
  src/dnadesign/thread/adapters/ligandmpnn/pinned_runtime.py
  src/dnadesign/thread/adapters/ligandmpnn/score_results.py
  src/dnadesign/thread/tests/adapters/ligandmpnn/test_pinned_runtime.py
  src/dnadesign/thread/tests/adapters/ligandmpnn/test_score_results.py
Due: core, external_integration

fix(thread): parse semicolon mmCIF atom values
  src/dnadesign/thread/structure_views/_mmcif.py
  src/dnadesign/thread/tests/structure_views/test_mmcif_molecule_classes.py
  src/dnadesign/thread/tests/structure_views/test_py3dmol_html.py
Due: core, external_integration

feat(thread): add pinned LigandMPNN context design (#88)
  src/dnadesign/thread/README.md
  src/dnadesign/thread/adapters/ligandmpnn/__init__.py
  src/dnadesign/thread/adapters/ligandmpnn/_regular_files.py
  src/dnadesign/thread/adapters/ligandmpnn/alphabets.py
  src/dnadesign/thread/adapters/ligandmpnn/commands.py
  src/dnadesign/thread/adapters/ligandmpnn/context_inventory.py
  src/dnadesign/thread/adapters/ligandmpnn/context_probe.py
  src/dnadesign/thread/adapters/ligandmpnn/context_probe_cli.py
  src/dnadesign/thread/adapters/ligandmpnn/design_fasta.py
  src/dnadesign/thread/adapters/ligandmpnn/design_manifest.py
  src/dnadesign/thread/adapters/ligandmpnn/design_results.py
  src/dnadesign/thread/adapters/ligandmpnn/models.py
  src/dnadesign/thread/adapters/ligandmpnn/pinned_checkout.py
  src/dnadesign/thread/adapters/ligandmpnn/pinned_runtime.py
  src/dnadesign/thread/adapters/ligandmpnn/preflight.py
  src/dnadesign/thread/adapters/ligandmpnn/receipts.py
  src/dnadesign/thread/adapters/ligandmpnn/score_results.py
  src/dnadesign/thread/adapters/ligandmpnn/scoring.py
  src/dnadesign/thread/docs/README.md
  src/dnadesign/thread/structure_views/_mmcif.py
  src/dnadesign/thread/structure_views/backends/py3dmol.py
  src/dnadesign/thread/tests/adapters/ligandmpnn/__init__.py
  src/dnadesign/thread/tests/adapters/ligandmpnn/_context_inventory.py
  src/dnadesign/thread/tests/adapters/ligandmpnn/test_adapter.py
  src/dnadesign/thread/tests/adapters/ligandmpnn/test_alphabets.py
  src/dnadesign/thread/tests/adapters/ligandmpnn/test_context_probe.py
  src/dnadesign/thread/tests/adapters/ligandmpnn/test_design_results.py
  src/dnadesign/thread/tests/adapters/ligandmpnn/test_pinned_runtime.py
  src/dnadesign/thread/tests/adapters/ligandmpnn/test_preflight.py
  src/dnadesign/thread/tests/adapters/ligandmpnn/test_score_results.py
  src/dnadesign/thread/tests/adapters/ligandmpnn/test_scoring.py
  src/dnadesign/thread/tests/structure_views/test_mmcif_molecule_classes.py
  src/dnadesign/thread/tests/structure_views/test_py3dmol_html.py
  src/dnadesign/thread/tests/test_package_layout.py
Due: core, external_integration

fix(devtools): ignore generated documentation residue
  src/dnadesign/devtools/ci/changes.py
  src/dnadesign/devtools/docs/markdown_inventory.py
  src/dnadesign/devtools/tests/ci/test_changes.py
  src/dnadesign/devtools/tests/docs/test_markdown_inventory.py
Due: core, external_integration

docs(baserender): clarify motif logo evidence boundaries
  src/dnadesign/baserender/docs/integrations/cruncher.md
Due: core, external_integration, baserender
