Repository e-south/dnadesign: changes, and which Codecov flags are due for each by the changed paths.
All: core, external_integration, usr, notify, densegen, infer, opal, cluster, billboard, libshuffle, nmf, latdna, cruncher, tfkdanalysis, aligner, baserender, permuter

codecov.yml:

codecov:
  require_ci_to_pass: true

coverage:
  precision: 2
  round: down
  range: "0...100"
  status:
    project:
      default:
        target: auto
        threshold: 0.5%
        if_ci_failed: error
        if_not_found: failure
    patch:
      default:
        target: auto
        threshold: 0.5%
        if_ci_failed: error
        if_not_found: failure

flags:
  core:
    paths:
      - src/dnadesign
    carryforward: false
  external_integration:
    paths:
      - src/dnadesign
    carryforward: false

component_management:
  default_rules:
    statuses:
      - type: project
        target: auto
        threshold: 0.5%
        if_ci_failed: error
        if_not_found: failure
  individual_components:
    - component_id: usr
      name: usr
      paths:
        - src/dnadesign/usr/**
    - component_id: notify
      name: notify
      paths:
        - src/dnadesign/notify/**
    - component_id: densegen
      name: densegen
      paths:
        - src/dnadesign/densegen/**
    - component_id: infer
      name: infer
      paths:
        - src/dnadesign/infer/**
    - component_id: opal
      name: opal
      paths:
        - src/dnadesign/opal/**
    - component_id: cluster
      name: cluster
      paths:
        - src/dnadesign/cluster/**
    - component_id: billboard
      name: billboard
      paths:
        - src/dnadesign/billboard/**
    - component_id: libshuffle
      name: libshuffle
      paths:
        - src/dnadesign/libshuffle/**
    - component_id: nmf
      name: nmf
      paths:
        - src/dnadesign/nmf/**
    - component_id: latdna
      name: latdna
      paths:
        - src/dnadesign/latdna/**
    - component_id: cruncher
      name: cruncher
      paths:
        - src/dnadesign/cruncher/**
    - component_id: tfkdanalysis
      name: tfkdanalysis
      paths:
        - src/dnadesign/tfkdanalysis/**
    - component_id: aligner
      name: aligner
      paths:
        - src/dnadesign/aligner/**
    - component_id: baserender
      name: baserender
      paths:
        - src/dnadesign/baserender/**
    - component_id: permuter
      name: permuter
      paths:
        - src/dnadesign/permuter/**

comment:
  require_changes: true
  layout: "reach,diff,flags,components,files"

github_checks:
  annotations: true

refactor(construct): remove study semantics from composition contracts
  src/dnadesign/construct/README.md
  src/dnadesign/construct/docs/README.md
  src/dnadesign/construct/docs/reference/linear-ssdna-composition.md
  src/dnadesign/construct/src/README.md
  src/dnadesign/construct/src/composition/review_svg.py
  src/dnadesign/construct/src/composition/visual.py
  src/dnadesign/construct/src/contracts/config.py
  src/dnadesign/construct/src/persistence/write_session.py
  src/dnadesign/construct/tests/runtime/test_linear_ssdna_composition.py
  src/dnadesign/construct/tests/runtime/test_persistence.py
  src/dnadesign/construct/tests/runtime/test_run_construct_output_variants.py
  src/dnadesign/construct/tests/test_docs_contract.py
  src/dnadesign/construct/workspaces/retron43_teto_manual_x8/config.composition.yaml
  src/dnadesign/contracts/sequence/linear_ssdna_composition_v1.py
  src/dnadesign/contracts/tests/test_sequence_contracts.py
  src/dnadesign/folding/src/viennarna_summary.py
  src/dnadesign/folding/tests/test_rnafold_runner.py
  src/dnadesign/studies/units/retron_hairpin_design/artifact_contracts/composition_payload.py
  src/dnadesign/studies/units/retron_hairpin_design/tests/compiler/test_materialization.py
Due: core, external_integration

docs(studies): define public and private workspace boundary
  AGENTS.md
  docs/studies/README.md
  docs/studies/reference/public-private-boundary.md
  docs/studies/reference/study-record-authoring.md
  src/dnadesign/studies/README.md
  src/dnadesign/studies/core/record_loader.py
  src/dnadesign/studies/core/record_locator.py
  src/dnadesign/studies/core/registry.py
  src/dnadesign/studies/tests/test_record_locator.py
Due: core, external_integration

build: package Junction review resources
  pyproject.toml
  src/dnadesign/devtools/tests/package/test_distribution.py
Due: core, external_integration

build: require patched cryptography
  pyproject.toml
  uv.lock
Due: none

feat(studies): add portable workspace contracts
  docs/studies/README.md
  docs/studies/reference/README.md
  docs/studies/reference/public-private-boundary.md
  docs/studies/reference/study-workspace-contract.md
  src/dnadesign/studies/README.md
  src/dnadesign/studies/core/__init__.py
  src/dnadesign/studies/core/workspace/__init__.py
  src/dnadesign/studies/core/workspace/contracts.py
  src/dnadesign/studies/core/workspace/evidence.py
  src/dnadesign/studies/core/workspace/loading.py
  src/dnadesign/studies/core/workspace/validation.py
  src/dnadesign/studies/tests/workspace/__init__.py
  src/dnadesign/studies/tests/workspace/test_catalog.py
  src/dnadesign/studies/tests/workspace/test_evidence.py
Due: core, external_integration

fix(studies): normalize YAML calendar dates
  src/dnadesign/studies/core/workspace/validation.py
  src/dnadesign/studies/tests/workspace/test_catalog.py
Due: core, external_integration

fix(studies): follow package header contract
  src/dnadesign/studies/core/workspace/__init__.py
  src/dnadesign/studies/core/workspace/contracts.py
  src/dnadesign/studies/core/workspace/evidence.py
  src/dnadesign/studies/core/workspace/loading.py
  src/dnadesign/studies/core/workspace/validation.py
  src/dnadesign/studies/tests/workspace/__init__.py
  src/dnadesign/studies/tests/workspace/test_catalog.py
  src/dnadesign/studies/tests/workspace/test_evidence.py
Due: core, external_integration

feat(msd): publish explicit compiler boundary
  ARCHITECTURE.md
  README.md
  codecov.yml
  docs/README.md
  src/dnadesign/devtools/architecture/boundaries.py
  src/dnadesign/devtools/docs/banners/catalog.py
  src/dnadesign/devtools/docs/banners/glyphs.py
  src/dnadesign/msd/README.md
  src/dnadesign/msd/__init__.py
  src/dnadesign/msd/assets/msd-banner.svg
  src/dnadesign/msd/compiler/__init__.py
  src/dnadesign/msd/compiler/errors.py
  src/dnadesign/msd/compiler/identifiers.py
  src/dnadesign/msd/compiler/loading.py
  src/dnadesign/msd/compiler/registry.py
  src/dnadesign/msd/compiler/resolution.py
  src/dnadesign/msd/compiler/sequence.py
  src/dnadesign/msd/compiler/units.py
  src/dnadesign/msd/compiler/yaml_io.py
  src/dnadesign/msd/contracts/__init__.py
  src/dnadesign/msd/contracts/metadata.py
  src/dnadesign/msd/contracts/primitive_sources.py
  src/dnadesign/msd/docs/README.md
  src/dnadesign/msd/tests/test_public_surface.py
Due: core, external_integration

feat(msd): expose study-facing compiler helpers
  src/dnadesign/msd/__init__.py
  src/dnadesign/msd/compiler/__init__.py
  src/dnadesign/msd/tests/test_public_surface.py
Due: core, external_integration

fix(msd): export scar nick profile helper
  src/dnadesign/msd/__init__.py
  src/dnadesign/msd/compiler/__init__.py
  src/dnadesign/msd/tests/test_public_surface.py
Due: core, external_integration

fix(opal): use the supported random forest criterion
  src/dnadesign/opal/campaigns/demo_rf_topn/configs/campaign.yaml
  src/dnadesign/opal/src/config/plugin_schemas.py
Due: core, external_integration, opal

ci: align coverage gates with public tools
  .github/tool-coverage-baseline.json
Due: none

fix: harden MSD and Junction review contracts
  src/dnadesign/baserender/src/render/junction_pairing_layout.py
  src/dnadesign/baserender/tests/test_three_way_junction_review.py
  src/dnadesign/msd/compiler/resolution.py
  src/dnadesign/msd/tests/test_public_surface.py
Due: core, external_integration, baserender

security: migrate the Torch runtime to 2.13
  SECURITY.md
  docs/bu-scc/setup/install.md
  pyproject.toml
  src/dnadesign/devtools/tests/security/test_dependency_security_contract.py
  uv.lock
Due: core, external_integration

refactor(cruncher): replace the bespoke workspace identity
  src/dnadesign/cruncher/docs/guides/snapback_released_workflow.md
  src/dnadesign/cruncher/docs/guides/snapback_workflow.md
  src/dnadesign/cruncher/docs/reference/cli.md
  src/dnadesign/cruncher/docs/reference/runbook_steps.md
  src/dnadesign/cruncher/src/cli/commands/snapback_screen.py
  src/dnadesign/cruncher/tests/cli/test_released_snapback_cli.py
  src/dnadesign/cruncher/tests/docs/test_snapback_released_docs.py
  src/dnadesign/cruncher/tests/released_snapback/test_screen.py
  src/dnadesign/cruncher/tests/released_snapback/test_target_search.py
  src/dnadesign/cruncher/tests/released_snapback/test_workflow.py
  src/dnadesign/cruncher/workspaces/README.md
  src/dnadesign/cruncher/workspaces/de033/README.md
  src/dnadesign/cruncher/workspaces/demo_released_snapback/.gitignore
  src/dnadesign/cruncher/workspaces/demo_released_snapback/README.md
  src/dnadesign/cruncher/workspaces/demo_released_snapback/configs/runbook.yaml
  src/dnadesign/cruncher/workspaces/demo_released_snapback/configs/snapback/invalid_origin.released.snapback.yaml
  src/dnadesign/cruncher/workspaces/demo_released_snapback/runbook.md
  src/dnadesign/msd/compiler/registry.py
Due: core, external_integration, cruncher

fix(ops): resolve packaged runbook templates in consumers
  src/dnadesign/ops/runbooks/runbook_paths.py
  src/dnadesign/ops/tests/test_runbook_orchestrator.py
Due: core, external_integration

docs: verify external study boundaries
  ARCHITECTURE.md
  RELIABILITY.md
  SECURITY.md
Due: none

docs: verify external study routes
  docs/README.md
  docs/dev/README.md
  docs/runbooks/README.md
  docs/templates/README.md
Due: none

fix(ops): resolve external study runbooks from their owner
  src/dnadesign/ops/orchestrator/study_runbooks.py
  src/dnadesign/ops/tests/test_study_runbook_discovery.py
Due: core, external_integration

fix(architecture): reject tracked study packages
  src/dnadesign/devtools/architecture/boundaries.py
  src/dnadesign/devtools/tests/architecture/test_boundaries.py
Due: core, external_integration

fix(infer): align CUDA toolchain with locked Torch
  src/dnadesign/infer/docs/operations/scc-evo2-gpu-uv-runbook.md
  src/dnadesign/ops/cli/commands/runbook.py
  src/dnadesign/ops/tests/test_runbook_orchestrator.py
Due: core, external_integration, infer

docs(ops): remove externalized study surfaces
  docs/bu-scc/jobs/README.md
  docs/bu-scc/setup/install.md
  docs/operations/README.md
  docs/operations/model/mental-model.md
  docs/operations/orchestration/runbooks.md
  docs/operations/status/kinds.md
  src/dnadesign/devtools/tests/docs/test_external_study_boundaries.py
Due: core, external_integration

chore(tests): align module headers
  src/dnadesign/devtools/tests/docs/test_external_study_boundaries.py
  src/dnadesign/ops/tests/test_study_runbook_discovery.py
Due: core, external_integration

fix(ops): confine external status registries
  src/dnadesign/ops/status/registry_loader.py
  src/dnadesign/ops/tests/test_status_registry_lazy_loading.py
Due: core, external_integration

feat(junction): render staged nucleotide assembly audits
  src/dnadesign/baserender/docs/integrations/junction.md
  src/dnadesign/baserender/src/render/junction_annealed_review.py
  src/dnadesign/baserender/src/render/junction_nucleotide_drawing.py
  src/dnadesign/baserender/src/render/junction_pairing_layout.py
  src/dnadesign/baserender/src/render/junction_review_sections.py
  src/dnadesign/baserender/src/render/three_way_junction_review.py
  src/dnadesign/baserender/tests/test_three_way_junction_review.py
  src/dnadesign/baserender/tests/three_way_junction_review/test_module_layout.py
  src/dnadesign/baserender/tests/three_way_junction_review/test_render_bounds.py
  src/dnadesign/devtools/tests/package/test_distribution.py
  src/dnadesign/junction/README.md
  src/dnadesign/junction/docs/README.md
  src/dnadesign/junction/docs/assets/gene-scale-review.svg
  src/dnadesign/junction/docs/assets/three-fragment-review.svg
  src/dnadesign/junction/docs/guides/inspect-and-verify.md
  src/dnadesign/junction/examples/three-fragment-review/request.yaml
  src/dnadesign/junction/examples/three-fragment-review/review.job.yaml
Due: core, external_integration, baserender

docs(thread): clarify the study-neutral boundary
  src/dnadesign/thread/README.md
  src/dnadesign/thread/__init__.py
  src/dnadesign/thread/docs/README.md
  src/dnadesign/thread/tests/adapters/biohub_esmc/test_normalize_and_tables.py
  src/dnadesign/thread/tests/test_package_layout.py
Due: core, external_integration

fix(ops): register progress commands by capability
  src/dnadesign/ops/cli/commands/progress.py
  src/dnadesign/ops/tests/test_progress_cli.py
Due: core, external_integration

feat(ops): discover provider-owned procedure catalogs
  src/dnadesign/ops/README.md
  src/dnadesign/ops/catalog/loader.py
  src/dnadesign/ops/catalog/metadata.py
  src/dnadesign/ops/catalog/provider_sources.py
  src/dnadesign/ops/tests/test_catalog_cli.py
Due: core, external_integration

feat(junction): decompose deterministic review views
  src/dnadesign/baserender/docs/integrations/junction.md
  src/dnadesign/baserender/docs/reference.md
  src/dnadesign/baserender/src/cli/actions.py
  src/dnadesign/baserender/src/config/adapter_contracts.py
  src/dnadesign/baserender/src/config/job_contracts.py
  src/dnadesign/baserender/src/config/render_job_v4.py
  src/dnadesign/baserender/src/execution/runner.py
  src/dnadesign/baserender/src/outputs/images.py
  src/dnadesign/baserender/src/public/api.py
  src/dnadesign/baserender/src/render/junction_annealed_fragments.py
  src/dnadesign/baserender/src/render/junction_annealed_review.py
  src/dnadesign/baserender/src/render/junction_nucleotide_drawing.py
  src/dnadesign/baserender/src/render/junction_pairing_layout.py
  src/dnadesign/baserender/src/render/junction_review_common.py
  src/dnadesign/baserender/src/render/junction_review_sections.py
  src/dnadesign/baserender/src/render/junction_three_way_assembly.py
  src/dnadesign/baserender/src/render/junction_three_way_detail.py
  src/dnadesign/baserender/src/render/renderer.py
  src/dnadesign/baserender/src/render/three_way_junction_review.py
  src/dnadesign/baserender/src/reporting/run_report.py
  src/dnadesign/baserender/tests/test_three_way_junction_review.py
  src/dnadesign/baserender/tests/three_way_junction_review/fixtures.py
  src/dnadesign/baserender/tests/three_way_junction_review/test_direct_renderer_policy.py
  src/dnadesign/baserender/tests/three_way_junction_review/test_module_layout.py
  src/dnadesign/baserender/tests/three_way_junction_review/test_render_bounds.py
  src/dnadesign/junction/README.md
  src/dnadesign/junction/docs/README.md
  src/dnadesign/junction/docs/assets/annealed-fragments.svg
  src/dnadesign/junction/docs/assets/assembly-overview.svg
  src/dnadesign/junction/docs/assets/junction-detail.svg
  src/dnadesign/junction/docs/assets/three-fragment-review.svg
  src/dnadesign/junction/docs/getting-started.md
  src/dnadesign/junction/docs/guides/inspect-and-verify.md
  src/dnadesign/junction/examples/three-fragment-review/jobs/annealed-fragments.yaml
  src/dnadesign/junction/examples/three-fragment-review/jobs/assembly-overview.yaml
  src/dnadesign/junction/examples/three-fragment-review/jobs/junction-detail.yaml
Due: core, external_integration, baserender

test(packaging): require decomposed junction review assets
  src/dnadesign/devtools/tests/package/test_distribution.py
Due: core, external_integration

test(packaging): isolate wheel content checks
  pyproject.toml
  src/dnadesign/devtools/tests/package/test_distribution.py
Due: core, external_integration

fix(junction): bound detail rendering workload
  src/dnadesign/baserender/docs/integrations/junction.md
  src/dnadesign/baserender/docs/reference.md
  src/dnadesign/baserender/src/render/junction_three_way_assembly.py
  src/dnadesign/baserender/src/render/junction_three_way_detail.py
  src/dnadesign/baserender/tests/three_way_junction_review/fixtures.py
  src/dnadesign/baserender/tests/three_way_junction_review/test_module_layout.py
  src/dnadesign/baserender/tests/three_way_junction_review/test_render_bounds.py
Due: core, external_integration, baserender

fix(junction): bound assembly overview rendering
  src/dnadesign/baserender/docs/integrations/junction.md
  src/dnadesign/baserender/docs/reference.md
  src/dnadesign/baserender/src/render/junction_three_way_assembly.py
  src/dnadesign/baserender/tests/three_way_junction_review/test_module_layout.py
  src/dnadesign/baserender/tests/three_way_junction_review/test_render_bounds.py
Due: core, external_integration, baserender

test(junction): prove annealed domain coordinates
  src/dnadesign/baserender/tests/test_three_way_junction_review.py
Due: core, external_integration, baserender

fix(baserender): bound junction glyph identifiers
  src/dnadesign/baserender/src/render/junction_review_common.py
  src/dnadesign/baserender/tests/three_way_junction_review/test_render_bounds.py
Due: core, external_integration, baserender

fix(ops): scope catalog ordering by provider
  src/dnadesign/ops/catalog/metadata.py
  src/dnadesign/ops/tests/test_catalog_cli.py
Due: core, external_integration
