Repository e-south/dnadesign: changes, and which Codecov flags are due for each by the changed paths.
All: core, external_integration, usr, notify, densegen, infer, opal, cluster, billboard, libshuffle, nmf, latdna, cruncher, tfkdanalysis, aligner, baserender, permuter

codecov.yml:

codecov:
  require_ci_to_pass: true

coverage:
  precision: 2
  round: down
  range: "0...100"
  status:
    project:
      default:
        target: auto
        threshold: 0.5%
        if_ci_failed: error
        if_not_found: failure
    patch:
      default:
        target: auto
        threshold: 0.5%
        if_ci_failed: error
        if_not_found: failure

flags:
  core:
    paths:
      - src/dnadesign
    carryforward: false
  external_integration:
    paths:
      - src/dnadesign
    carryforward: false

component_management:
  default_rules:
    statuses:
      - type: project
        target: auto
        threshold: 0.5%
        if_ci_failed: error
        if_not_found: failure
  individual_components:
    - component_id: usr
      name: usr
      paths:
        - src/dnadesign/usr/**
    - component_id: notify
      name: notify
      paths:
        - src/dnadesign/notify/**
    - component_id: densegen
      name: densegen
      paths:
        - src/dnadesign/densegen/**
    - component_id: infer
      name: infer
      paths:
        - src/dnadesign/infer/**
    - component_id: opal
      name: opal
      paths:
        - src/dnadesign/opal/**
    - component_id: cluster
      name: cluster
      paths:
        - src/dnadesign/cluster/**
    - component_id: billboard
      name: billboard
      paths:
        - src/dnadesign/billboard/**
    - component_id: libshuffle
      name: libshuffle
      paths:
        - src/dnadesign/libshuffle/**
    - component_id: nmf
      name: nmf
      paths:
        - src/dnadesign/nmf/**
    - component_id: latdna
      name: latdna
      paths:
        - src/dnadesign/latdna/**
    - component_id: cruncher
      name: cruncher
      paths:
        - src/dnadesign/cruncher/**
    - component_id: tfkdanalysis
      name: tfkdanalysis
      paths:
        - src/dnadesign/tfkdanalysis/**
    - component_id: aligner
      name: aligner
      paths:
        - src/dnadesign/aligner/**
    - component_id: baserender
      name: baserender
      paths:
        - src/dnadesign/baserender/**
    - component_id: permuter
      name: permuter
      paths:
        - src/dnadesign/permuter/**

comment:
  require_changes: true
  layout: "reach,diff,flags,components,files"

github_checks:
  annotations: true

fix(usr): classify event lock failures
  src/dnadesign/usr/src/events/append.py
  src/dnadesign/usr/tests/datasets/core/test_event_append_lock.py
  src/dnadesign/usr/tests/datasets/overlay/test_create_only_publication.py
Due: core, external_integration, usr

fix(usr): prepare overlay events before publication
  src/dnadesign/usr/src/datasets/overlay/write.py
  src/dnadesign/usr/src/events/__init__.py
  src/dnadesign/usr/src/events/append.py
  src/dnadesign/usr/src/events/recording.py
  src/dnadesign/usr/tests/datasets/core/test_events_schema.py
  src/dnadesign/usr/tests/datasets/overlay/test_create_only_publication.py
  src/dnadesign/usr/tests/test_module_layout.py
Due: core, external_integration, usr

fix(usr): detect event drift during full pull
  src/dnadesign/usr/src/sync/remote/execution.py
  src/dnadesign/usr/src/sync/remote/transfer.py
  src/dnadesign/usr/tests/sync/remote/test_transfer_runtime_locks.py
  src/dnadesign/usr/tests/sync/test_sync_locking.py
  src/dnadesign/usr/tests/test_module_layout.py
Due: core, external_integration, usr

fix(artifacts): detach publications before rollback cleanup
  src/dnadesign/artifacts/publication.py
  src/dnadesign/artifacts/tests/test_publication_security.py
Due: core, external_integration

fix(artifacts): recover interrupted publications safely
  src/dnadesign/artifacts/owned_directory.py
  src/dnadesign/artifacts/publication.py
  src/dnadesign/artifacts/recovery.py
  src/dnadesign/artifacts/tests/test_publication_security.py
Due: core, external_integration

feat(artifacts): expose publication policy contracts
  src/dnadesign/artifacts/__init__.py
  src/dnadesign/artifacts/errors.py
  src/dnadesign/artifacts/publication.py
  src/dnadesign/artifacts/tests/test_publication_contract.py
Due: core, external_integration

fix(artifacts): distinguish reused publication pids
  pyproject.toml
  src/dnadesign/artifacts/publication.py
  src/dnadesign/artifacts/recovery.py
  src/dnadesign/artifacts/tests/test_publication_security.py
  uv.lock
Due: core, external_integration

fix(usr): lock full push event snapshots
  src/dnadesign/usr/src/sync/__init__.py
  src/dnadesign/usr/src/sync/remote/execution.py
  src/dnadesign/usr/tests/sync/test_sync_locking.py
Due: core, external_integration, usr

fix(usr): make remote sync transactions fail closed
  src/dnadesign/usr/docs/operations/sync/quickstart.md
  src/dnadesign/usr/docs/reference/event-log.md
  src/dnadesign/usr/ops/sync_audit_drill.py
  src/dnadesign/usr/src/cli/commands/remotes/__init__.py
  src/dnadesign/usr/src/cli/commands/sync/output.py
  src/dnadesign/usr/src/cli/support/presentation/rendering.py
  src/dnadesign/usr/src/events/append.py
  src/dnadesign/usr/src/sync/__init__.py
  src/dnadesign/usr/src/sync/remote/diff.py
  src/dnadesign/usr/src/sync/remote/execution.py
  src/dnadesign/usr/src/sync/remote/locks.py
  src/dnadesign/usr/src/sync/remote/remote.py
  src/dnadesign/usr/src/sync/remote/sidecars.py
  src/dnadesign/usr/src/sync/remote/transfer.py
  src/dnadesign/usr/tests/cli/commands/remotes/test_cli_remotes_wizard.py
  src/dnadesign/usr/tests/cli/sync/test_cli_sync_target_modes.py
  src/dnadesign/usr/tests/datasets/core/test_event_append_lock.py
  src/dnadesign/usr/tests/source_layout_inventory.py
  src/dnadesign/usr/tests/sync/remote/test_remote_inventory_paths.py
  src/dnadesign/usr/tests/sync/remote/test_remote_lock_handshake.py
  src/dnadesign/usr/tests/sync/remote/test_remote_rsync_contract.py
  src/dnadesign/usr/tests/sync/remote/test_transfer_runtime_locks.py
  src/dnadesign/usr/tests/sync/test_sync_event_transactions.py
  src/dnadesign/usr/tests/sync/test_sync_iterative_batch_flow.py
  src/dnadesign/usr/tests/sync/test_sync_locking.py
  src/dnadesign/usr/tests/sync/test_sync_schema_adversarial.py
  src/dnadesign/usr/tests/test_usr_sync_audit_drill_script.py
  src/dnadesign/usr/tests/tests_layout_inventory.py
Due: core, external_integration, usr

fix(artifacts): recover shipped publication stages
  src/dnadesign/artifacts/publication.py
  src/dnadesign/artifacts/recovery.py
  src/dnadesign/artifacts/tests/test_publication_security.py
Due: core, external_integration

fix(usr): normalize remote lease failures across shells
  src/dnadesign/usr/src/sync/remote/locks.py
  src/dnadesign/usr/tests/sync/remote/test_remote_lock_handshake.py
  src/dnadesign/usr/tests/sync/test_sync_event_transactions.py
Due: core, external_integration, usr

ci(sge): refresh sources and harden fallback audit
  .agents/skills/sge-hpc-ops/references/external-sources.md
  .agents/skills/sge-hpc-ops/scripts/audit-sge-hpc-ops-skill.sh
  .agents/skills/sge-hpc-ops/scripts/rg_compat.sh
Due: none

ci: validate canonical smoke targets
  .github/workflows/ci.yaml
  src/dnadesign/devtools/tests/ci/test_workflow_contract.py
Due: core, external_integration

ci: validate canonical smoke targets (#65)
  .github/workflows/ci.yaml
  src/dnadesign/devtools/tests/ci/test_workflow_contract.py
Due: core, external_integration

ci: standardize current Node 24 actions
  .github/workflows/ci.yaml
  .github/workflows/quality-entropy.yaml
  src/dnadesign/devtools/tests/ci/test_workflow_contract.py
Due: core, external_integration

ci: standardize current Node 24 actions (#66)
  .github/workflows/ci.yaml
  .github/workflows/quality-entropy.yaml
  src/dnadesign/devtools/tests/ci/test_workflow_contract.py
Due: core, external_integration

docs(trijunction): accept planner architecture boundary
  docs/architecture/decisions/README.md
  docs/architecture/decisions/adr-0003-trijunction-peer-tool.md
  docs/dev/plans/archive/2026-08-01-trijunction-boundary-proposal.md
Due: none

docs(trijunction): accept planner architecture boundary (#64)
  docs/architecture/decisions/README.md
  docs/architecture/decisions/adr-0003-trijunction-peer-tool.md
  docs/dev/plans/archive/2026-08-01-trijunction-boundary-proposal.md
Due: none

feat(artifacts): support private create-only bundles
  src/dnadesign/artifacts/__init__.py
  src/dnadesign/artifacts/publication.py
  src/dnadesign/artifacts/tests/test_publication_contract.py
  src/dnadesign/artifacts/tests/test_publication_security.py
Due: core, external_integration

feat(baserender): add private TriJunction QA views
  src/dnadesign/baserender/src/adapters/__init__.py
  src/dnadesign/baserender/src/adapters/three_way_junction_review_v1.py
  src/dnadesign/baserender/src/config/__init__.py
  src/dnadesign/baserender/src/config/adapter_contracts.py
  src/dnadesign/baserender/src/config/job_contracts.py
  src/dnadesign/baserender/src/config/render_job_v4.py
  src/dnadesign/baserender/src/core/pydantic_validation.py
  src/dnadesign/baserender/src/execution/runner.py
  src/dnadesign/baserender/src/io/captured_source.py
  src/dnadesign/baserender/src/outputs/names.py
  src/dnadesign/baserender/src/render/renderer.py
  src/dnadesign/baserender/src/render/three_way_junction_review.py
  src/dnadesign/baserender/src/reporting/run_report.py
  src/dnadesign/baserender/tests/test_three_way_junction_review.py
Due: core, external_integration, baserender

docs(trijunction): add source-grounded operator guidance
  README.md
  docs/README.md
  docs/runbooks/README.md
  src/dnadesign/baserender/README.md
  src/dnadesign/baserender/docs/integrations/README.md
  src/dnadesign/baserender/docs/integrations/trijunction.md
  src/dnadesign/baserender/docs/reference.md
  src/dnadesign/baserender/tests/test_docs_contracts.py
  src/dnadesign/devtools/docs/banners/catalog.py
  src/dnadesign/devtools/docs/banners/glyphs.py
  src/dnadesign/trijunction/README.md
  src/dnadesign/trijunction/assets/trijunction-banner.svg
  src/dnadesign/trijunction/docs/README.md
  src/dnadesign/trijunction/docs/README.tool-source.yaml
  src/dnadesign/trijunction/docs/getting-started.md
  src/dnadesign/trijunction/docs/guides/request-shapes.md
  src/dnadesign/trijunction/docs/guides/scale-and-review.md
  src/dnadesign/trijunction/docs/reference/contracts.md
  src/dnadesign/trijunction/docs/reference/method.md
  src/dnadesign/trijunction/docs/reference/sources.md
Due: core, external_integration, baserender

docs(trijunction): align decision with publication contract
  docs/architecture/decisions/adr-0003-trijunction-peer-tool.md
Due: none

docs(trijunction): tighten review routing
  docs/runbooks/README.md
  src/dnadesign/baserender/docs/README.md
  src/dnadesign/baserender/docs/integrations/trijunction.md
  src/dnadesign/baserender/docs/reference.md
  src/dnadesign/trijunction/docs/guides/scale-and-review.md
  src/dnadesign/trijunction/docs/reference/sources.md
Due: core, external_integration, baserender

docs(trijunction): link implementation review
  docs/architecture/decisions/adr-0003-trijunction-peer-tool.md
Due: none

test(trijunction): constrain race harness permissions
  src/dnadesign/trijunction/tests/test_hardening_contracts.py
Due: core, external_integration

fix(trijunction): harden request snapshot errors
  src/dnadesign/trijunction/contracts/request/files.py
  src/dnadesign/trijunction/publication/verify.py
  src/dnadesign/trijunction/tests/test_api_cli.py
  src/dnadesign/trijunction/tests/test_publication.py
  src/dnadesign/trijunction/tests/test_request_contract.py
Due: core, external_integration

fix(trijunction): bound publication amplification
  src/dnadesign/trijunction/contracts/publication/__init__.py
  src/dnadesign/trijunction/contracts/publication/limits.py
  src/dnadesign/trijunction/contracts/request/__init__.py
  src/dnadesign/trijunction/contracts/request/limits.py
  src/dnadesign/trijunction/contracts/request/validation.py
  src/dnadesign/trijunction/design/planner.py
  src/dnadesign/trijunction/design/resources/artifact_projection.py
  src/dnadesign/trijunction/docs/getting-started.md
  src/dnadesign/trijunction/docs/guides/scale-and-review.md
  src/dnadesign/trijunction/docs/reference/contracts.md
  src/dnadesign/trijunction/publication/verify.py
  src/dnadesign/trijunction/tests/test_api_cli.py
  src/dnadesign/trijunction/tests/test_artifact_projection.py
  src/dnadesign/trijunction/tests/test_request_contract.py
Due: core, external_integration

fix(trijunction): namespace universal recovery orders
  src/dnadesign/trijunction/design/recovery.py
  src/dnadesign/trijunction/tests/test_planner.py
Due: core, external_integration

fix(baserender): retain source read limits
  src/dnadesign/baserender/src/io/captured_source.py
  src/dnadesign/baserender/tests/test_captured_source.py
Due: core, external_integration, baserender

fix(trijunction): normalize fraction overflow
  src/dnadesign/trijunction/contracts/request/validation.py
  src/dnadesign/trijunction/tests/test_api_cli.py
  src/dnadesign/trijunction/tests/test_request_contract.py
Due: core, external_integration

fix(trijunction): bound retained k-mer state
  src/dnadesign/trijunction/design/barcodes.py
  src/dnadesign/trijunction/design/resources/__init__.py
  src/dnadesign/trijunction/design/resources/estimates.py
  src/dnadesign/trijunction/design/resources/guards.py
  src/dnadesign/trijunction/tests/test_performance_contracts.py
Due: core, external_integration

fix(trijunction): normalize document nesting failures
  src/dnadesign/trijunction/contracts/request/files.py
  src/dnadesign/trijunction/tests/test_request_nesting.py
Due: core, external_integration

feat(trijunction): bound request integer domain
  src/dnadesign/trijunction/contracts/request/__init__.py
  src/dnadesign/trijunction/contracts/request/limits.py
  src/dnadesign/trijunction/contracts/request/validation.py
  src/dnadesign/trijunction/docs/reference/contracts.md
  src/dnadesign/trijunction/tests/test_request_contract.py
Due: core, external_integration

fix(trijunction): model complete toehold search work
  src/dnadesign/trijunction/design/resources/__init__.py
  src/dnadesign/trijunction/design/resources/estimates.py
  src/dnadesign/trijunction/design/resources/guards.py
  src/dnadesign/trijunction/tests/test_performance_contracts.py
Due: core, external_integration

fix(trijunction): stabilize the v1 lifecycle
  src/dnadesign/trijunction/api.py
  src/dnadesign/trijunction/contracts/plan.py
  src/dnadesign/trijunction/publication/verify.py
  src/dnadesign/trijunction/publication/writer.py
  src/dnadesign/trijunction/tests/test_api_cli.py
  src/dnadesign/trijunction/tests/test_publication.py
  src/dnadesign/trijunction/tests/test_search_pipeline.py
Due: core, external_integration

fix(baserender): bound TriJunction review surfaces
  src/dnadesign/baserender/docs/integrations/trijunction.md
  src/dnadesign/baserender/src/outputs/names.py
  src/dnadesign/baserender/src/render/sequence_preview.py
  src/dnadesign/baserender/src/render/three_way_junction_review.py
  src/dnadesign/baserender/tests/test_three_way_junction_review.py
  src/dnadesign/baserender/tests/three_way_junction_review/__init__.py
  src/dnadesign/baserender/tests/three_way_junction_review/fixtures.py
  src/dnadesign/baserender/tests/three_way_junction_review/test_render_bounds.py
  src/dnadesign/contracts/tests/test_three_way_junction_review_contract.py
  src/dnadesign/contracts/visual/three_way_junction_review_v1.py
Due: core, external_integration, baserender

fix(trijunction): bound substring matching work
  src/dnadesign/trijunction/design/resources/__init__.py
  src/dnadesign/trijunction/design/resources/estimates.py
  src/dnadesign/trijunction/design/resources/guards.py
  src/dnadesign/trijunction/design/resources/limits.py
  src/dnadesign/trijunction/docs/reference/contracts.md
  src/dnadesign/trijunction/tests/test_performance_contracts.py
Due: core, external_integration
