Repository e-south/dnadesign: changes, and which Codecov flags are due for each by the changed paths.
All: core, external_integration, usr, notify, densegen, infer, opal, cluster, billboard, libshuffle, nmf, latdna, cruncher, tfkdanalysis, aligner, baserender, permuter

codecov.yml:

codecov:
  require_ci_to_pass: true

coverage:
  precision: 2
  round: down
  range: "0...100"
  status:
    project:
      default:
        target: auto
        threshold: 0.5%
        if_ci_failed: error
        if_not_found: failure
    patch:
      default:
        target: auto
        threshold: 0.5%
        if_ci_failed: error
        if_not_found: failure

flags:
  core:
    paths:
      - src/dnadesign
    carryforward: false
  external_integration:
    paths:
      - src/dnadesign
    carryforward: false

component_management:
  default_rules:
    statuses:
      - type: project
        target: auto
        threshold: 0.5%
        if_ci_failed: error
        if_not_found: failure
  individual_components:
    - component_id: usr
      name: usr
      paths:
        - src/dnadesign/usr/**
    - component_id: notify
      name: notify
      paths:
        - src/dnadesign/notify/**
    - component_id: densegen
      name: densegen
      paths:
        - src/dnadesign/densegen/**
    - component_id: infer
      name: infer
      paths:
        - src/dnadesign/infer/**
    - component_id: opal
      name: opal
      paths:
        - src/dnadesign/opal/**
    - component_id: cluster
      name: cluster
      paths:
        - src/dnadesign/cluster/**
    - component_id: billboard
      name: billboard
      paths:
        - src/dnadesign/billboard/**
    - component_id: libshuffle
      name: libshuffle
      paths:
        - src/dnadesign/libshuffle/**
    - component_id: nmf
      name: nmf
      paths:
        - src/dnadesign/nmf/**
    - component_id: latdna
      name: latdna
      paths:
        - src/dnadesign/latdna/**
    - component_id: cruncher
      name: cruncher
      paths:
        - src/dnadesign/cruncher/**
    - component_id: tfkdanalysis
      name: tfkdanalysis
      paths:
        - src/dnadesign/tfkdanalysis/**
    - component_id: aligner
      name: aligner
      paths:
        - src/dnadesign/aligner/**
    - component_id: baserender
      name: baserender
      paths:
        - src/dnadesign/baserender/**
    - component_id: permuter
      name: permuter
      paths:
        - src/dnadesign/permuter/**

comment:
  require_changes: true
  layout: "reach,diff,flags,components,files"

github_checks:
  annotations: true

feat(opal): add production review retention controls
  src/dnadesign/opal/notebooks/campaign_progress.py
  src/dnadesign/opal/src/analysis/notebook_components/campaign_set_visuals.py
  src/dnadesign/opal/src/analysis/notebook_set_template/collection_cells.py
  src/dnadesign/opal/src/config/loader.py
  src/dnadesign/opal/src/config/types.py
  src/dnadesign/opal/src/runtime/retention.py
  src/dnadesign/opal/src/runtime/run_round.py
  src/dnadesign/opal/tests/config/test_config_objectives_v2.py
  src/dnadesign/opal/tests/notebooks/test_campaign_progress_notebook.py
  src/dnadesign/opal/tests/notebooks/test_notebook_template.py
  src/dnadesign/opal/tests/runtime/test_artifact_retention.py
Due: core, external_integration, opal

docs(stress): update opal route references
  docs/dev/plans/cross-tool/sequence-view/2026-04-28-ontology-and-infer-completion-hardening.md
  docs/dev/plans/tools/opal/2026-05-15-campaign-notebook-consolidation.md
  docs/exec-plans/active/2026-05-27-densegen-tfbs-learnability-probe-v1.md
  docs/studies/stress_ethanol_cipro_growth/audits/readiness/2026-04-17-densegen-stress-status-quality-audit.md
  docs/studies/stress_ethanol_cipro_growth/contexts/opal/densegen-axis-probe-v0.md
  docs/studies/stress_ethanol_cipro_growth/contexts/opal/densegen-motif-qa-k12-s3-v1.md
  docs/studies/stress_ethanol_cipro_growth/contexts/opal/densegen-tfbs-learnability-probe-v1.md
  docs/studies/stress_ethanol_cipro_growth/operations/contract/surfaces/execution/commands/opal.yaml
  docs/studies/stress_ethanol_cipro_growth/operations/runtime/command-groups/pipeline.yaml
  docs/studies/stress_ethanol_cipro_growth/routes/decision/opal/README.md
  docs/studies/stress_ethanol_cipro_growth/routes/decision/opal/campaign-commands.md
  src/dnadesign/opal/docs/maintainers/dev-spec-modernization.md
Due: core, external_integration, opal

refactor(latentdna): route stress deliverables through workbench
  src/dnadesign/latentdna/docs/workflows/stress-ethanol-cipro-representation-comparison.md
  src/dnadesign/latentdna/src/workspaces/scaffold.py
  src/dnadesign/latentdna/tests/cli/test_workspace_command.py
  src/dnadesign/latentdna/tests/contracts/test_study_workspace_contracts.py
  src/dnadesign/latentdna/workspaces/stress_ethanol_cipro_growth/config.yaml
  src/dnadesign/latentdna/workspaces/stress_ethanol_cipro_growth/plot_semantics/balanced_design_family_margin_gallery.yaml
  src/dnadesign/latentdna/workspaces/stress_ethanol_cipro_growth/plot_semantics/design_centroid_margin_gallery.yaml
  src/dnadesign/latentdna/workspaces/stress_ethanol_cipro_growth/plot_semantics/sigma35_centroid_distance_gallery.yaml
  src/dnadesign/latentdna/workspaces/stress_ethanol_cipro_growth/plot_semantics/sigma35_stress_margin_gallery.yaml
Due: core, external_integration

chore(stress): update status skill audit paths
  .agents/skills/stress-ethanol-cipro-growth-status/references/study-surfaces.md
  .agents/skills/stress-ethanol-cipro-growth-status/scripts/audit-stress-ethanol-cipro-growth-status-skill.sh
Due: none

refactor(stress): package tfbs notebook visuals
  src/dnadesign/studies/units/stress_ethanol_cipro_growth/decision/opal/densegen_axis_probe/README.md
  src/dnadesign/studies/units/stress_ethanol_cipro_growth/decision/opal/densegen_axis_probe/tfbs/stage_b/notebook_visual_specs.py
  src/dnadesign/studies/units/stress_ethanol_cipro_growth/decision/opal/densegen_axis_probe/tfbs/stage_b/notebook_visuals.py
  src/dnadesign/studies/units/stress_ethanol_cipro_growth/decision/opal/densegen_axis_probe/tfbs/stage_b/notebook_visuals/__init__.py
  src/dnadesign/studies/units/stress_ethanol_cipro_growth/decision/opal/densegen_axis_probe/tfbs/stage_b/notebook_visuals/contracts.py
  src/dnadesign/studies/units/stress_ethanol_cipro_growth/decision/opal/densegen_axis_probe/tfbs/stage_b/notebook_visuals/entries.py
  src/dnadesign/studies/units/stress_ethanol_cipro_growth/decision/opal/densegen_axis_probe/tfbs/stage_b/notebook_visuals/io.py
  src/dnadesign/studies/units/stress_ethanol_cipro_growth/decision/opal/densegen_axis_probe/tfbs/stage_b/notebook_visuals/registration.py
  src/dnadesign/studies/units/stress_ethanol_cipro_growth/decision/opal/densegen_axis_probe/tfbs/stage_b/notebook_visuals/specs.py
  src/dnadesign/studies/units/stress_ethanol_cipro_growth/tests/decision/opal/densegen_axis_probe/test_package_contracts.py
  src/dnadesign/studies/units/stress_ethanol_cipro_growth/tests/decision/opal/densegen_axis_probe/test_tfbs_stage_b_notebook_visuals.py
Due: core, external_integration

refactor(stress): package tfbs stage b execution
  src/dnadesign/studies/units/stress_ethanol_cipro_growth/decision/opal/densegen_axis_probe/README.md
  src/dnadesign/studies/units/stress_ethanol_cipro_growth/decision/opal/densegen_axis_probe/tfbs/stage_b/execution.py
  src/dnadesign/studies/units/stress_ethanol_cipro_growth/decision/opal/densegen_axis_probe/tfbs/stage_b/execution/__init__.py
  src/dnadesign/studies/units/stress_ethanol_cipro_growth/decision/opal/densegen_axis_probe/tfbs/stage_b/execution/campaigns.py
  src/dnadesign/studies/units/stress_ethanol_cipro_growth/decision/opal/densegen_axis_probe/tfbs/stage_b/execution/commands.py
  src/dnadesign/studies/units/stress_ethanol_cipro_growth/decision/opal/densegen_axis_probe/tfbs/stage_b/execution/contracts.py
  src/dnadesign/studies/units/stress_ethanol_cipro_growth/decision/opal/densegen_axis_probe/tfbs/stage_b/execution/label_inputs.py
  src/dnadesign/studies/units/stress_ethanol_cipro_growth/decision/opal/densegen_axis_probe/tfbs/stage_b/execution/manifest.py
  src/dnadesign/studies/units/stress_ethanol_cipro_growth/decision/opal/densegen_axis_probe/tfbs/stage_b/execution/runner.py
  src/dnadesign/studies/units/stress_ethanol_cipro_growth/decision/opal/densegen_axis_probe/tfbs/stage_b/execution/selection.py
  src/dnadesign/studies/units/stress_ethanol_cipro_growth/tests/decision/opal/densegen_axis_probe/test_package_contracts.py
  src/dnadesign/studies/units/stress_ethanol_cipro_growth/tests/decision/opal/densegen_axis_probe/test_tfbs_stage_b_execution.py
Due: core, external_integration

chore(deps): patch vulnerable runtime locks
  pyproject.toml
  uv.lock
Due: none

test(devtools): keep quality entropy fixtures fresh
  src/dnadesign/devtools/tests/quality/test_entropy.py
Due: core, external_integration

refactor(stress-opal): modularize probe review plots
  .agents/skills/stress-ethanol-cipro-growth-status/scripts/audit-stress-ethanol-cipro-growth-status-skill.sh
  docs/studies/stress_ethanol_cipro_growth/contexts/opal/densegen-tfbs-learnability-probe-v1.md
  src/dnadesign/studies/units/stress_ethanol_cipro_growth/decision/opal/densegen_axis_probe/README.md
  src/dnadesign/studies/units/stress_ethanol_cipro_growth/decision/opal/densegen_axis_probe/reporting/review/aggregate_plots/__init__.py
  src/dnadesign/studies/units/stress_ethanol_cipro_growth/decision/opal/densegen_axis_probe/reporting/review/aggregate_plots/context.py
  src/dnadesign/studies/units/stress_ethanol_cipro_growth/decision/opal/densegen_axis_probe/reporting/review/aggregate_plots/contracts.py
  src/dnadesign/studies/units/stress_ethanol_cipro_growth/decision/opal/densegen_axis_probe/reporting/review/aggregate_plots/renderers.py
  src/dnadesign/studies/units/stress_ethanol_cipro_growth/decision/opal/densegen_axis_probe/reporting/review/aggregate_plots/source_frames.py
  src/dnadesign/studies/units/stress_ethanol_cipro_growth/decision/opal/densegen_axis_probe/reporting/review/aggregate_plots/writer.py
  src/dnadesign/studies/units/stress_ethanol_cipro_growth/decision/opal/densegen_axis_probe/reporting/review/builder.py
  src/dnadesign/studies/units/stress_ethanol_cipro_growth/decision/opal/densegen_axis_probe/reporting/review/outcomes.py
  src/dnadesign/studies/units/stress_ethanol_cipro_growth/decision/opal/densegen_axis_probe/reporting/review/probe_plots.py
  src/dnadesign/studies/units/stress_ethanol_cipro_growth/decision/opal/densegen_axis_probe/reporting/review/problems.py
  src/dnadesign/studies/units/stress_ethanol_cipro_growth/decision/opal/densegen_axis_probe/reporting/review/rendering/html_document.py
  src/dnadesign/studies/units/stress_ethanol_cipro_growth/decision/opal/densegen_axis_probe/reporting/review/rendering/markdown_document.py
  src/dnadesign/studies/units/stress_ethanol_cipro_growth/decision/opal/densegen_axis_probe/reporting/review/rendering/outcome.py
  src/dnadesign/studies/units/stress_ethanol_cipro_growth/decision/opal/densegen_axis_probe/reporting/review/rendering/plot_cards.py
  src/dnadesign/studies/units/stress_ethanol_cipro_growth/decision/opal/densegen_axis_probe/tfbs/plot_style.py
  src/dnadesign/studies/units/stress_ethanol_cipro_growth/tests/decision/opal/densegen_axis_probe/test_package_contracts.py
  src/dnadesign/studies/units/stress_ethanol_cipro_growth/tests/decision/opal/densegen_axis_probe/test_probe_aggregate_plots.py
  src/dnadesign/studies/units/stress_ethanol_cipro_growth/tests/decision/opal/densegen_axis_probe/test_review_reporting.py
Due: core, external_integration

Harden DenseGen probe visual registries
  src/dnadesign/studies/units/stress_ethanol_cipro_growth/decision/opal/densegen_axis_probe/README.md
  src/dnadesign/studies/units/stress_ethanol_cipro_growth/decision/opal/densegen_axis_probe/reporting/review/aggregate_plots/writer.py
  src/dnadesign/studies/units/stress_ethanol_cipro_growth/decision/opal/densegen_axis_probe/tfbs/stage_b/notebook_visuals/specs.py
  src/dnadesign/studies/units/stress_ethanol_cipro_growth/decision/opal/densegen_axis_probe/tfbs/stage_b/review_plots.py
  src/dnadesign/studies/units/stress_ethanol_cipro_growth/decision/opal/densegen_axis_probe/tfbs/stage_b/slot_plots.py
  src/dnadesign/studies/units/stress_ethanol_cipro_growth/tests/decision/opal/densegen_axis_probe/test_probe_aggregate_plots.py
  src/dnadesign/studies/units/stress_ethanol_cipro_growth/tests/decision/opal/densegen_axis_probe/test_tfbs_stage_b_notebook_visuals.py
  src/dnadesign/studies/units/stress_ethanol_cipro_growth/tests/decision/opal/densegen_axis_probe/test_tfbs_stage_b_review.py
  src/dnadesign/studies/units/stress_ethanol_cipro_growth/tests/decision/opal/densegen_axis_probe/test_tfbs_stage_b_slot_diagnostics.py
Due: core, external_integration

Fix docs gate runbook surfaces
  docs/studies/rt_lnrna_sponging_construct_triage/operations/contract/surfaces/artifacts.yaml
  docs/studies/rt_lnrna_sponging_construct_triage/operations/contract/surfaces/execution/runbooks/infer-7b-six-view.yaml
  docs/studies/rt_lnrna_sponging_construct_triage/operations/runtime/command-groups/pipeline.yaml
  docs/studies/rt_lnrna_sponging_construct_triage/operations/runtime/runbooks/infer-six-view-7b-with-notify.yaml
  docs/studies/rt_lnrna_sponging_construct_triage/record/status.md
  src/dnadesign/devtools/docs/checks.py
  src/dnadesign/devtools/tests/docs/test_checks.py
  src/dnadesign/ops/runbooks/presets/infer_rt_lnrna_sponging_construct_triage_six_view_7b_batch_with_notify.yaml
  src/dnadesign/studies/units/rt_lnrna_sponging_construct_triage/tests/infer/test_representation_contract.py
Due: core, external_integration

docs: refresh verification metadata
  docs/bu-scc/setup/install.md
  docs/bu-scc/setup/quickstart.md
  docs/notify/README.md
  docs/notify/usr-events.md
  docs/setup/installation.md
  src/dnadesign/cluster/docs/concepts/ownership-boundary.md
  src/dnadesign/cluster/docs/concepts/semantic-surface.md
  src/dnadesign/cluster/docs/reference/cli-contracts.md
  src/dnadesign/construct/docs/dev/README.md
  src/dnadesign/construct/docs/dev/journal.md
  src/dnadesign/construct/docs/getting-started.md
  src/dnadesign/construct/docs/reference/outputs.md
  src/dnadesign/construct/docs/reference/seed-manifest.md
  src/dnadesign/densegen/docs/README.md
  src/dnadesign/densegen/docs/index.md
  src/dnadesign/infer/docs/README.md
  src/dnadesign/infer/docs/dev/README.md
  src/dnadesign/infer/docs/dev/journal.md
  src/dnadesign/infer/docs/getting-started/README.md
  src/dnadesign/infer/docs/getting-started/cli-quickstart.md
  src/dnadesign/infer/docs/index.md
  src/dnadesign/infer/docs/operations/README.md
  src/dnadesign/infer/docs/operations/pressure-test-agnostic-models.md
  src/dnadesign/infer/docs/operations/scc-evo2-gpu-uv-runbook.md
  src/dnadesign/infer/docs/reference/README.md
  src/dnadesign/infer/docs/reference/command-contracts.md
  src/dnadesign/infer/docs/tutorials/README.md
  src/dnadesign/infer/docs/tutorials/demo_pressure_test_usr_ops_notify.md
  src/dnadesign/notify/docs/README.md
  src/dnadesign/notify/docs/dev/architecture.md
  src/dnadesign/notify/docs/reference/README.md
  src/dnadesign/notify/docs/reference/command-contracts.md
  src/dnadesign/usr/docs/README.md
  src/dnadesign/usr/docs/operations/routes/workflow-map.md
  src/dnadesign/usr/docs/operations/sync/README.md
  src/dnadesign/usr/docs/operations/sync/modes.md
  src/dnadesign/usr/docs/operations/sync/quickstart.md
  src/dnadesign/usr/docs/operations/sync/setup.md
Due: core, external_integration, usr, notify, densegen, infer, cluster

baserender: harden sequence panel canvas contract
  src/dnadesign/baserender/src/public/api.py
  src/dnadesign/baserender/src/public/sequence_panel.py
  src/dnadesign/baserender/tests/test_runtime_and_public_api.py
Due: core, external_integration, baserender

opal: harden campaign-set notebook contracts
  src/dnadesign/opal/notebooks/api/generated.py
  src/dnadesign/opal/src/analysis/campaign_set/__init__.py
  src/dnadesign/opal/src/analysis/campaign_set/visual_kinds.py
  src/dnadesign/opal/src/analysis/campaign_set/visuals.py
  src/dnadesign/opal/src/analysis/notebook_components/__init__.py
  src/dnadesign/opal/src/analysis/notebook_components/baserender.py
  src/dnadesign/opal/src/analysis/notebook_components/baserender_record_sources.py
  src/dnadesign/opal/src/analysis/notebook_components/baserender_records.py
  src/dnadesign/opal/src/analysis/notebook_components/baserender_render.py
  src/dnadesign/opal/src/analysis/notebook_components/campaign_labels.py
  src/dnadesign/opal/src/analysis/notebook_components/campaign_set_baserender.py
  src/dnadesign/opal/src/analysis/notebook_components/campaign_set_visuals.py
  src/dnadesign/opal/src/analysis/notebook_components/visual_surface.py
  src/dnadesign/opal/src/analysis/notebook_set_template/baserender_campaign_scope_cells.py
  src/dnadesign/opal/src/analysis/notebook_set_template/baserender_cells.py
  src/dnadesign/opal/src/analysis/notebook_set_template/baserender_record_cells.py
  src/dnadesign/opal/src/analysis/notebook_set_template/baserender_scope_cells.py
  src/dnadesign/opal/src/analysis/notebook_set_template/campaign_cells.py
  src/dnadesign/opal/src/analysis/notebook_set_template/cells.py
  src/dnadesign/opal/src/analysis/notebook_set_template/details_cells.py
  src/dnadesign/opal/src/analysis/notebook_set_template/setup_cells.py
  src/dnadesign/opal/src/analysis/notebook_set_template/visual_cells.py
  src/dnadesign/opal/src/analysis/notebook_set_template/visual_panel_cells.py
  src/dnadesign/opal/src/cli/commands/notebook.py
  src/dnadesign/opal/src/reporting/campaign_collection.py
  src/dnadesign/opal/src/reporting/campaign_set_artifacts.py
  src/dnadesign/opal/src/reporting/collection_visual_index.py
  src/dnadesign/opal/src/reporting/collection_visual_renderers.py
  src/dnadesign/opal/src/reporting/notebook_set.py
  src/dnadesign/opal/tests/cli/test_cli_notebook_generate.py
  src/dnadesign/opal/tests/notebooks/test_notebook_template.py
  src/dnadesign/opal/tests/reporting/test_notebook_set.py
  src/dnadesign/opal/tests/test_source_tree_contracts.py
Due: core, external_integration, opal

Add count-fixed BaeR middle TFBS probe
  src/dnadesign/studies/units/stress_ethanol_cipro_growth/decision/opal/densegen_axis_probe/tfbs/candidate_scopes/contracts.py
  src/dnadesign/studies/units/stress_ethanol_cipro_growth/decision/opal/densegen_axis_probe/tfbs/contracts.py
  src/dnadesign/studies/units/stress_ethanol_cipro_growth/decision/opal/densegen_axis_probe/tfbs/label_text.py
  src/dnadesign/studies/units/stress_ethanol_cipro_growth/decision/opal/densegen_axis_probe/tfbs/nulls/contracts.py
  src/dnadesign/studies/units/stress_ethanol_cipro_growth/decision/opal/densegen_axis_probe/tfbs/nulls/validation.py
  src/dnadesign/studies/units/stress_ethanol_cipro_growth/decision/opal/densegen_axis_probe/tfbs/profiles.py
  src/dnadesign/studies/units/stress_ethanol_cipro_growth/decision/opal/densegen_axis_probe/tfbs/schema.py
  src/dnadesign/studies/units/stress_ethanol_cipro_growth/decision/opal/densegen_axis_probe/tfbs/stage_a/materialization.py
  src/dnadesign/studies/units/stress_ethanol_cipro_growth/decision/opal/densegen_axis_probe/tfbs/stage_b/configs/scopes.py
  src/dnadesign/studies/units/stress_ethanol_cipro_growth/tests/decision/opal/densegen_axis_probe/stage_b_fixtures.py
  src/dnadesign/studies/units/stress_ethanol_cipro_growth/tests/decision/opal/densegen_axis_probe/test_tfbs_label_text.py
  src/dnadesign/studies/units/stress_ethanol_cipro_growth/tests/decision/opal/densegen_axis_probe/test_tfbs_learnability_active_targets.py
  src/dnadesign/studies/units/stress_ethanol_cipro_growth/tests/decision/opal/densegen_axis_probe/test_tfbs_learnability_nulls.py
  src/dnadesign/studies/units/stress_ethanol_cipro_growth/tests/decision/opal/densegen_axis_probe/test_tfbs_learnability_parser.py
  src/dnadesign/studies/units/stress_ethanol_cipro_growth/tests/decision/opal/densegen_axis_probe/test_tfbs_stage_a_count_fixed.py
  src/dnadesign/studies/units/stress_ethanol_cipro_growth/tests/decision/opal/densegen_axis_probe/test_tfbs_stage_b_baer_middle_configs.py
  src/dnadesign/studies/units/stress_ethanol_cipro_growth/tests/decision/opal/densegen_axis_probe/test_tfbs_stage_b_configs.py
  src/dnadesign/studies/units/stress_ethanol_cipro_growth/tests/decision/opal/densegen_axis_probe/test_tfbs_stage_b_seed.py
Due: core, external_integration

Add DenseGen learning-loop replay baselines
  src/dnadesign/opal/__init__.py
  src/dnadesign/opal/src/analysis/learning_loop_baselines/__init__.py
  src/dnadesign/opal/src/analysis/learning_loop_baselines/frozen_round0.py
  src/dnadesign/studies/units/stress_ethanol_cipro_growth/decision/opal/densegen_axis_probe/tfbs/stage_b/learning_loop_baselines/__init__.py
  src/dnadesign/studies/units/stress_ethanol_cipro_growth/decision/opal/densegen_axis_probe/tfbs/stage_b/learning_loop_baselines/contracts.py
  src/dnadesign/studies/units/stress_ethanol_cipro_growth/decision/opal/densegen_axis_probe/tfbs/stage_b/learning_loop_baselines/frames.py
  src/dnadesign/studies/units/stress_ethanol_cipro_growth/decision/opal/densegen_axis_probe/tfbs/stage_b/learning_loop_baselines/materialization.py
  src/dnadesign/studies/units/stress_ethanol_cipro_growth/decision/opal/densegen_axis_probe/tfbs/stage_b/learning_loop_baselines/notebook_visuals.py
  src/dnadesign/studies/units/stress_ethanol_cipro_growth/decision/opal/densegen_axis_probe/tfbs/stage_b/learning_loop_baselines/plots/__init__.py
  src/dnadesign/studies/units/stress_ethanol_cipro_growth/decision/opal/densegen_axis_probe/tfbs/stage_b/learning_loop_baselines/plots/contracts.py
  src/dnadesign/studies/units/stress_ethanol_cipro_growth/decision/opal/densegen_axis_probe/tfbs/stage_b/learning_loop_baselines/plots/renderers.py
  src/dnadesign/studies/units/stress_ethanol_cipro_growth/decision/opal/densegen_axis_probe/tfbs/stage_b/learning_loop_baselines/replay.py
  src/dnadesign/studies/units/stress_ethanol_cipro_growth/decision/opal/densegen_axis_probe/tfbs/stage_b/learning_loop_baselines/sources.py
  src/dnadesign/studies/units/stress_ethanol_cipro_growth/decision/opal/densegen_axis_probe/tfbs/stage_b/notebook_visuals/__init__.py
  src/dnadesign/studies/units/stress_ethanol_cipro_growth/decision/opal/densegen_axis_probe/tfbs/stage_b/notebook_visuals/learning_loop.py
  src/dnadesign/studies/units/stress_ethanol_cipro_growth/decision/opal/densegen_axis_probe/tfbs/stage_b/notebook_visuals/portfolio.py
  src/dnadesign/studies/units/stress_ethanol_cipro_growth/tests/decision/opal/densegen_axis_probe/stage_b_portfolio_fixtures.py
  src/dnadesign/studies/units/stress_ethanol_cipro_growth/tests/decision/opal/densegen_axis_probe/test_package_contracts.py
  src/dnadesign/studies/units/stress_ethanol_cipro_growth/tests/decision/opal/densegen_axis_probe/test_tfbs_stage_b_learning_loop_baselines.py
  src/dnadesign/studies/units/stress_ethanol_cipro_growth/tests/decision/opal/densegen_axis_probe/test_tfbs_stage_b_notebook_visual_portfolio.py
Due: core, external_integration, opal

Clarify DenseGen probe plots and narrative
  docs/studies/stress_ethanol_cipro_growth/contexts/opal/README.md
  docs/studies/stress_ethanol_cipro_growth/contexts/opal/densegen-motif-qa-k12-s3-v1.md
  docs/studies/stress_ethanol_cipro_growth/contexts/opal/densegen-tfbs-learnability-probe-v1.md
  docs/studies/stress_ethanol_cipro_growth/routes/decision/opal/README.md
  src/dnadesign/studies/units/stress_ethanol_cipro_growth/decision/opal/densegen_axis_probe/README.md
  src/dnadesign/studies/units/stress_ethanol_cipro_growth/decision/opal/densegen_axis_probe/reporting/review/aggregate_plots/contracts.py
  src/dnadesign/studies/units/stress_ethanol_cipro_growth/decision/opal/densegen_axis_probe/tfbs/stage_b/notebook_visuals/entries.py
  src/dnadesign/studies/units/stress_ethanol_cipro_growth/decision/opal/densegen_axis_probe/tfbs/stage_b/notebook_visuals/specs.py
  src/dnadesign/studies/units/stress_ethanol_cipro_growth/decision/opal/densegen_axis_probe/tfbs/stage_b/payloads.py
  src/dnadesign/studies/units/stress_ethanol_cipro_growth/decision/opal/densegen_axis_probe/tfbs/stage_b/review/frames.py
  src/dnadesign/studies/units/stress_ethanol_cipro_growth/decision/opal/densegen_axis_probe/tfbs/stage_b/review/plots/contracts.py
  src/dnadesign/studies/units/stress_ethanol_cipro_growth/decision/opal/densegen_axis_probe/tfbs/stage_b/review/plots/display_text.py
  src/dnadesign/studies/units/stress_ethanol_cipro_growth/decision/opal/densegen_axis_probe/tfbs/stage_b/review/plots/registry.py
  src/dnadesign/studies/units/stress_ethanol_cipro_growth/decision/opal/densegen_axis_probe/tfbs/stage_b/review/plots/renderers.py
  src/dnadesign/studies/units/stress_ethanol_cipro_growth/decision/opal/densegen_axis_probe/tfbs/stage_b/review/summary.py
  src/dnadesign/studies/units/stress_ethanol_cipro_growth/decision/opal/densegen_axis_probe/tfbs/stage_b/slot_diagnostics/plots/contracts.py
  src/dnadesign/studies/units/stress_ethanol_cipro_growth/decision/opal/densegen_axis_probe/tfbs/stage_b/slot_diagnostics/plots/renderers.py
  src/dnadesign/studies/units/stress_ethanol_cipro_growth/tests/decision/opal/densegen_axis_probe/test_tfbs_stage_b_replicate_review.py
  src/dnadesign/studies/units/stress_ethanol_cipro_growth/tests/decision/opal/densegen_axis_probe/test_tfbs_stage_b_review.py
  src/dnadesign/studies/units/stress_ethanol_cipro_growth/tests/decision/opal/densegen_axis_probe/test_tfbs_stage_b_review_plot_layout.py
  src/dnadesign/studies/units/stress_ethanol_cipro_growth/tests/decision/opal/densegen_axis_probe/test_tfbs_stage_b_slot_diagnostics.py
Due: core, external_integration

Fix DenseGen probe validation regressions
  docs/studies/stress_ethanol_cipro_growth/routes/decision/opal/README.md
  src/dnadesign/studies/units/stress_ethanol_cipro_growth/decision/opal/densegen_axis_probe/tfbs/stage_b/learning_loop_baselines/plots/renderers.py
Due: core, external_integration

Add OPAL selection-set contracts
  src/dnadesign/opal/__init__.py
  src/dnadesign/opal/src/cli/commands/selection_set.py
  src/dnadesign/opal/src/reporting/selection_set.py
  src/dnadesign/opal/src/reporting/verify_outputs.py
  src/dnadesign/opal/src/runtime/ingest.py
  src/dnadesign/opal/tests/cli/test_cli_ingest_shared_label_source.py
  src/dnadesign/opal/tests/cli/test_cli_selection_set.py
Due: core, external_integration, opal

Add stress OPAL synthesis handoff
  docs/exec-plans/active/2026-06-17-stress-opal-synthesis-handoff.md
  docs/studies/stress_ethanol_cipro_growth/contexts/opal/synthesis-handoff.md
  docs/studies/stress_ethanol_cipro_growth/operations/contract/surfaces/execution/commands/opal.yaml
  docs/studies/stress_ethanol_cipro_growth/operations/ops.study.yaml
  docs/studies/stress_ethanol_cipro_growth/operations/runtime/command-groups/pipeline.yaml
  docs/studies/stress_ethanol_cipro_growth/record/README.md
  docs/studies/stress_ethanol_cipro_growth/record/status.md
  docs/studies/stress_ethanol_cipro_growth/record/synthesis_handoffs.yaml
  docs/studies/stress_ethanol_cipro_growth/routes/decision/opal/README.md
  docs/studies/stress_ethanol_cipro_growth/routes/decision/opal/campaign-commands.md
  pyproject.toml
  src/dnadesign/studies/units/stress_ethanol_cipro_growth/decision/opal/README.md
  src/dnadesign/studies/units/stress_ethanol_cipro_growth/decision/opal/batch0/README.md
  src/dnadesign/studies/units/stress_ethanol_cipro_growth/decision/opal/batch0/sampling.yaml
  src/dnadesign/studies/units/stress_ethanol_cipro_growth/decision/opal/batch0/select.py
  src/dnadesign/studies/units/stress_ethanol_cipro_growth/decision/opal/synthesis_handoff/README.md
  src/dnadesign/studies/units/stress_ethanol_cipro_growth/decision/opal/synthesis_handoff/__init__.py
  src/dnadesign/studies/units/stress_ethanol_cipro_growth/decision/opal/synthesis_handoff/__main__.py
  src/dnadesign/studies/units/stress_ethanol_cipro_growth/decision/opal/synthesis_handoff/azenta.py
  src/dnadesign/studies/units/stress_ethanol_cipro_growth/decision/opal/synthesis_handoff/batch0_source.py
  src/dnadesign/studies/units/stress_ethanol_cipro_growth/decision/opal/synthesis_handoff/campaigns.py
  src/dnadesign/studies/units/stress_ethanol_cipro_growth/decision/opal/synthesis_handoff/cli.py
  src/dnadesign/studies/units/stress_ethanol_cipro_growth/decision/opal/synthesis_handoff/configs/sfxi_promoter_insert_v1.yaml
  src/dnadesign/studies/units/stress_ethanol_cipro_growth/decision/opal/synthesis_handoff/contracts.py
  src/dnadesign/studies/units/stress_ethanol_cipro_growth/decision/opal/synthesis_handoff/exports.py
  src/dnadesign/studies/units/stress_ethanol_cipro_growth/decision/opal/synthesis_handoff/manifest.py
  src/dnadesign/studies/units/stress_ethanol_cipro_growth/decision/opal/synthesis_handoff/opal_round_source.py
  src/dnadesign/studies/units/stress_ethanol_cipro_growth/decision/opal/synthesis_handoff/records.py
  src/dnadesign/studies/units/stress_ethanol_cipro_growth/tests/decision/opal/batch0/test_opal_batch0.py
  src/dnadesign/studies/units/stress_ethanol_cipro_growth/tests/decision/opal/synthesis_handoff/__init__.py
  src/dnadesign/studies/units/stress_ethanol_cipro_growth/tests/decision/opal/synthesis_handoff/test_synthesis_handoff_contracts.py
Due: core, external_integration

chore(ci): scope study test targets
  .agents/skills/sge-hpc-ops/references/external-sources.md
  .github/workflows/ci.yaml
  docs/README.md
  docs/dev/README.md
  docs/repo-change-gate.md
  docs/repo-maintenance.md
  src/dnadesign/cluster/docs/reference/verification.md
  src/dnadesign/construct/docs/reference/template-contexts.md
  src/dnadesign/devtools/ci/test_targets.py
  src/dnadesign/devtools/tests/ci/test_test_targets.py
Due: core, external_integration, cluster

harden(opal): tighten review notebook contracts
  src/dnadesign/opal/src/analysis/notebook_components/__init__.py
  src/dnadesign/opal/src/analysis/notebook_components/evidence.py
  src/dnadesign/opal/src/analysis/notebook_components/overview.py
  src/dnadesign/opal/src/analysis/notebook_set_template/__init__.py
  src/dnadesign/opal/src/analysis/notebook_set_template/cells.py
  src/dnadesign/opal/src/analysis/notebook_set_template/renderer.py
  src/dnadesign/opal/src/analysis/notebook_template/renderer.py
  src/dnadesign/opal/tests/notebooks/test_notebook_template.py
  src/dnadesign/opal/tests/test_source_tree_contracts.py
Due: core, external_integration, opal

fix(retron): track artifact contract package
  .agents/skills/retron-hairpin-study/references/study-surfaces.md
  .agents/skills/retron-hairpin-study/scripts/audit-retron-hairpin-study-skill.sh
  src/dnadesign/studies/units/retron_hairpin_design/README.md
  src/dnadesign/studies/units/retron_hairpin_design/artifact_contracts/__init__.py
  src/dnadesign/studies/units/retron_hairpin_design/artifact_contracts/composition_payload.py
  src/dnadesign/studies/units/retron_hairpin_design/artifact_contracts/layout.py
  src/dnadesign/studies/units/retron_hairpin_design/artifact_contracts/manifests.py
  src/dnadesign/studies/units/retron_hairpin_design/artifact_contracts/materialized_outputs.py
  src/dnadesign/studies/units/retron_hairpin_design/artifact_contracts/output_guards.py
  src/dnadesign/studies/units/retron_hairpin_design/compiler/catalog_bundle.py
  src/dnadesign/studies/units/retron_hairpin_design/compiler/materialization.py
  src/dnadesign/studies/units/retron_hairpin_design/compiler/msd_unit.py
  src/dnadesign/studies/units/retron_hairpin_design/interfaces/cli/app.py
  src/dnadesign/studies/units/retron_hairpin_design/tests/compiler/test_msd_compiler.py
Due: core, external_integration

chore(rt): remove root workspace references
  docs/dev/plans/cross-tool/rt-lnrna-sponging-construct-triage/2026-05-22-rt-lnrna-sponging-construct-triage.md
  docs/studies/rt_lnrna_sponging_construct_triage/operations/contract/fixtures/infer/evo2-7b-six-view-feature-bundle.yaml
  docs/studies/rt_lnrna_sponging_construct_triage/operations/contract/fixtures/infer/evo2-7b-six-view-run-config.yaml
  docs/studies/rt_lnrna_sponging_construct_triage/operations/contract/fixtures/permuter/rt-cds-dms-infer-handoff.yaml
  docs/studies/rt_lnrna_sponging_construct_triage/operations/contract/surfaces/artifacts.yaml
  docs/studies/rt_lnrna_sponging_construct_triage/operations/contract/surfaces/execution/workspaces.yaml
  docs/studies/rt_lnrna_sponging_construct_triage/record/datasets.yaml
  src/dnadesign/infer/workspaces/rt_lnrna_sponging_construct_triage/README.md
  src/dnadesign/infer/workspaces/rt_lnrna_sponging_construct_triage/config.sequence_views.six_view.evo2_7b.yaml
  src/dnadesign/latentdna/workspaces/rt_lnrna_sponging_construct_triage/config.yaml
  workspaces/studies/rt_lnrna_sponging_construct_triage/.gitignore
Due: core, external_integration, infer

feat(stress): add genbank synthesis handoff artifacts
  docs/studies/stress_ethanol_cipro_growth/contexts/opal/synthesis-handoff.md
  docs/studies/stress_ethanol_cipro_growth/record/synthesis_handoffs.yaml
  docs/studies/stress_ethanol_cipro_growth/routes/decision/opal/README.md
  docs/studies/stress_ethanol_cipro_growth/routes/decision/opal/campaign-commands.md
  src/dnadesign/studies/units/stress_ethanol_cipro_growth/decision/opal/densegen_axis_probe/tfbs/stage_b/learning_loop_baselines/plots/renderers.py
  src/dnadesign/studies/units/stress_ethanol_cipro_growth/decision/opal/synthesis_handoff/README.md
  src/dnadesign/studies/units/stress_ethanol_cipro_growth/decision/opal/synthesis_handoff/__init__.py
  src/dnadesign/studies/units/stress_ethanol_cipro_growth/decision/opal/synthesis_handoff/campaigns.py
  src/dnadesign/studies/units/stress_ethanol_cipro_growth/decision/opal/synthesis_handoff/cli.py
  src/dnadesign/studies/units/stress_ethanol_cipro_growth/decision/opal/synthesis_handoff/exports.py
  src/dnadesign/studies/units/stress_ethanol_cipro_growth/decision/opal/synthesis_handoff/genbank.py
  src/dnadesign/studies/units/stress_ethanol_cipro_growth/decision/opal/synthesis_handoff/records.py
  src/dnadesign/studies/units/stress_ethanol_cipro_growth/tests/decision/opal/synthesis_handoff/test_synthesis_handoff_contracts.py
Due: core, external_integration

Harden OPAL synthesis eligibility and docs
  docs/studies/stress_ethanol_cipro_growth/contexts/opal/synthesis-handoff.md
  docs/studies/stress_ethanol_cipro_growth/routes/decision/opal/README.md
  docs/studies/stress_ethanol_cipro_growth/routes/decision/opal/campaign-commands.md
  src/dnadesign/opal/__init__.py
  src/dnadesign/opal/campaigns/stress_eth_cip_and_rf_sfxi_topn/configs/campaign.yaml
  src/dnadesign/opal/campaigns/stress_eth_cip_cipro_rf_sfxi_topn/configs/campaign.yaml
  src/dnadesign/opal/campaigns/stress_eth_cip_ethanol_rf_sfxi_topn/configs/campaign.yaml
  src/dnadesign/opal/docs/concepts/architecture.md
  src/dnadesign/opal/docs/index.md
  src/dnadesign/opal/docs/reference/cli.md
  src/dnadesign/opal/docs/reference/configuration.md
  src/dnadesign/opal/docs/reference/data-contracts.md
  src/dnadesign/opal/src/cli/commands/validate.py
  src/dnadesign/opal/src/config/loader.py
  src/dnadesign/opal/src/config/plugin_schemas.py
  src/dnadesign/opal/src/config/types.py
  src/dnadesign/opal/src/eligibility/__init__.py
  src/dnadesign/opal/src/eligibility/contracts.py
  src/dnadesign/opal/src/eligibility/restriction_sites.py
  src/dnadesign/opal/src/eligibility/runtime.py
  src/dnadesign/opal/src/registries/eligibility.py
  src/dnadesign/opal/src/runtime/round/stages/x_matrices.py
  src/dnadesign/opal/src/runtime/round_plan.py
  src/dnadesign/opal/tests/config/test_config_objectives_v2.py
  src/dnadesign/opal/tests/eligibility/test_restriction_site_eligibility.py
  src/dnadesign/studies/units/stress_ethanol_cipro_growth/decision/opal/batch0/README.md
  src/dnadesign/studies/units/stress_ethanol_cipro_growth/decision/opal/batch0/sampling.yaml
  src/dnadesign/studies/units/stress_ethanol_cipro_growth/decision/opal/batch0/select.py
  src/dnadesign/studies/units/stress_ethanol_cipro_growth/decision/opal/synthesis_handoff/README.md
  src/dnadesign/studies/units/stress_ethanol_cipro_growth/decision/opal/synthesis_handoff/__init__.py
  src/dnadesign/studies/units/stress_ethanol_cipro_growth/decision/opal/synthesis_handoff/batch0_source.py
  src/dnadesign/studies/units/stress_ethanol_cipro_growth/decision/opal/synthesis_handoff/cli.py
  src/dnadesign/studies/units/stress_ethanol_cipro_growth/decision/opal/synthesis_handoff/configs/sfxi_promoter_insert_v1.yaml
  src/dnadesign/studies/units/stress_ethanol_cipro_growth/decision/opal/synthesis_handoff/contracts.py
  src/dnadesign/studies/units/stress_ethanol_cipro_growth/decision/opal/synthesis_handoff/manifest.py
  src/dnadesign/studies/units/stress_ethanol_cipro_growth/decision/opal/synthesis_handoff/strategy.py
  src/dnadesign/studies/units/stress_ethanol_cipro_growth/tests/decision/opal/batch0/test_opal_batch0.py
  src/dnadesign/studies/units/stress_ethanol_cipro_growth/tests/decision/opal/synthesis_handoff/test_synthesis_handoff_contracts.py
Due: core, external_integration, opal

Clarify stress handoff GenBank sigma annotations
  src/dnadesign/studies/units/stress_ethanol_cipro_growth/decision/opal/synthesis_handoff/README.md
  src/dnadesign/studies/units/stress_ethanol_cipro_growth/decision/opal/synthesis_handoff/genbank.py
  src/dnadesign/studies/units/stress_ethanol_cipro_growth/tests/decision/opal/synthesis_handoff/test_synthesis_handoff_contracts.py
Due: core, external_integration

Refine stress OPAL batch0 composition
  docs/studies/stress_ethanol_cipro_growth/record/status.md
  docs/studies/stress_ethanol_cipro_growth/record/synthesis_handoffs.yaml
  docs/studies/stress_ethanol_cipro_growth/routes/decision/opal/campaign-commands.md
  src/dnadesign/studies/units/stress_ethanol_cipro_growth/decision/opal/batch0/README.md
  src/dnadesign/studies/units/stress_ethanol_cipro_growth/decision/opal/batch0/sampling.yaml
  src/dnadesign/studies/units/stress_ethanol_cipro_growth/decision/opal/batch0/select.py
  src/dnadesign/studies/units/stress_ethanol_cipro_growth/decision/opal/synthesis_handoff/README.md
  src/dnadesign/studies/units/stress_ethanol_cipro_growth/tests/decision/opal/batch0/test_opal_batch0.py
Due: core, external_integration

Keep stress OPAL route within audit budget
  docs/studies/stress_ethanol_cipro_growth/routes/decision/opal/README.md
Due: none

Refresh stale tool docs metadata
  src/dnadesign/cluster/docs/workflows/exploratory-clustering.md
  src/dnadesign/usr/docs/operations/assembly/multi-source-shared-dataset.md
  src/dnadesign/usr/docs/operations/promoter/characterization-feature-matrix.md
  src/dnadesign/usr/docs/operations/sync/hpc-agent-flow.md
Due: core, external_integration, usr, cluster

Stabilize permuter CLI help smoke test
  src/dnadesign/permuter/tests/cli/test_help.py
Due: core, external_integration, permuter

Avoid generated regulondb snapshot in contract test
  src/dnadesign/studies/units/regulondb_native_promoter_panel/tests/test_infer_latentdna_contract.py
Due: core, external_integration

Make RT-lnRNA primitive tests self-contained
  src/dnadesign/studies/units/rt_lnrna_sponging_construct_triage/tests/construct/helpers.py
Due: core, external_integration

Decouple batch0 handoff CLI tests from generated candidates
  src/dnadesign/studies/units/stress_ethanol_cipro_growth/tests/decision/opal/synthesis_handoff/test_synthesis_handoff_contracts.py
Due: core, external_integration
