Repository e-south/dnadesign: changes, and which Codecov flags are due for each by the changed paths.
All: core, external_integration, usr, notify, densegen, infer, opal, cluster, billboard, libshuffle, nmf, latdna, cruncher, tfkdanalysis, aligner, baserender, permuter

codecov.yml:

codecov:
  require_ci_to_pass: true

coverage:
  precision: 2
  round: down
  range: "0...100"
  status:
    project:
      default:
        target: auto
        threshold: 0.5%
        if_ci_failed: error
        if_not_found: failure
    patch:
      default:
        target: auto
        threshold: 0.5%
        if_ci_failed: error
        if_not_found: failure

flags:
  core:
    paths:
      - src/dnadesign
    carryforward: false
  external_integration:
    paths:
      - src/dnadesign
    carryforward: false

component_management:
  default_rules:
    statuses:
      - type: project
        target: auto
        threshold: 0.5%
        if_ci_failed: error
        if_not_found: failure
  individual_components:
    - component_id: usr
      name: usr
      paths:
        - src/dnadesign/usr/**
    - component_id: notify
      name: notify
      paths:
        - src/dnadesign/notify/**
    - component_id: densegen
      name: densegen
      paths:
        - src/dnadesign/densegen/**
    - component_id: infer
      name: infer
      paths:
        - src/dnadesign/infer/**
    - component_id: opal
      name: opal
      paths:
        - src/dnadesign/opal/**
    - component_id: cluster
      name: cluster
      paths:
        - src/dnadesign/cluster/**
    - component_id: billboard
      name: billboard
      paths:
        - src/dnadesign/billboard/**
    - component_id: libshuffle
      name: libshuffle
      paths:
        - src/dnadesign/libshuffle/**
    - component_id: nmf
      name: nmf
      paths:
        - src/dnadesign/nmf/**
    - component_id: latdna
      name: latdna
      paths:
        - src/dnadesign/latdna/**
    - component_id: cruncher
      name: cruncher
      paths:
        - src/dnadesign/cruncher/**
    - component_id: tfkdanalysis
      name: tfkdanalysis
      paths:
        - src/dnadesign/tfkdanalysis/**
    - component_id: aligner
      name: aligner
      paths:
        - src/dnadesign/aligner/**
    - component_id: baserender
      name: baserender
      paths:
        - src/dnadesign/baserender/**
    - component_id: permuter
      name: permuter
      paths:
        - src/dnadesign/permuter/**

comment:
  require_changes: true
  layout: "reach,diff,flags,components,files"

github_checks:
  annotations: true

fix(thread): execute attested LigandMPNN sources
  src/dnadesign/thread/adapters/ligandmpnn/commands.py
  src/dnadesign/thread/adapters/ligandmpnn/pinned_runtime.py
  src/dnadesign/thread/adapters/ligandmpnn/receipts.py
  src/dnadesign/thread/adapters/ligandmpnn/score_results.py
  src/dnadesign/thread/adapters/ligandmpnn/scoring.py
  src/dnadesign/thread/docs/README.md
  src/dnadesign/thread/tests/adapters/ligandmpnn/test_adapter.py
  src/dnadesign/thread/tests/adapters/ligandmpnn/test_alphabets.py
  src/dnadesign/thread/tests/adapters/ligandmpnn/test_pinned_runtime.py
  src/dnadesign/thread/tests/adapters/ligandmpnn/test_scoring.py
  src/dnadesign/thread/tests/test_package_layout.py
Due: core, external_integration

chore(deps): refresh maintenance toolchain
  .github/workflows/ci.yaml
  .pre-commit-config.yaml
  pyproject.toml
  uv.lock
Due: none

fix(storage): harden manifest refresh
  src/dnadesign/contracts/storage_objects/inventory.py
  src/dnadesign/contracts/tests/storage_objects/test_cli.py
Due: core, external_integration

test(deps): track refreshed build floors
  src/dnadesign/devtools/tests/security/test_dependency_security_contract.py
Due: core, external_integration

fix(storage): preserve colliding temp files
  src/dnadesign/contracts/storage_objects/inventory.py
  src/dnadesign/contracts/tests/storage_objects/test_cli.py
Due: core, external_integration

Fix DenseGen core representative selection
  src/dnadesign/densegen/docs/concepts/inputs/source-inputs.md
  src/dnadesign/densegen/docs/reference/outputs.md
  src/dnadesign/densegen/src/core/artifacts/pool.py
  src/dnadesign/densegen/src/core/stage_a/stage_a_pipeline.py
  src/dnadesign/densegen/src/core/stage_a/stage_a_selection.py
  src/dnadesign/densegen/tests/artifacts/test_artifacts_pool.py
  src/dnadesign/densegen/tests/cli/test_cli_stage_b_errors.py
  src/dnadesign/densegen/tests/plotting/test_plot_manifest.py
  src/dnadesign/densegen/tests/pwm/test_pwm_sampling_core_dedupe.py
  src/dnadesign/densegen/tests/runtime/test_run_diagnostics_plots.py
  src/dnadesign/densegen/tests/runtime/test_run_metrics.py
  src/dnadesign/densegen/tests/runtime/test_stage_b_summary_plots.py
  src/dnadesign/densegen/tests/stage_a/test_pool_manifest_sampling.py
  src/dnadesign/densegen/tests/stage_a/test_stage_a_end_to_end_score_sampling.py
Due: core, external_integration, densegen

fix(storage): protect receipt refresh boundaries
  src/dnadesign/contracts/storage_objects/inventory.py
  src/dnadesign/contracts/tests/storage_objects/test_cli.py
Due: core, external_integration

Fix DenseGen core representative selection (#104)
  src/dnadesign/densegen/docs/concepts/inputs/source-inputs.md
  src/dnadesign/densegen/docs/reference/outputs.md
  src/dnadesign/densegen/src/core/artifacts/pool.py
  src/dnadesign/densegen/src/core/stage_a/stage_a_pipeline.py
  src/dnadesign/densegen/src/core/stage_a/stage_a_selection.py
  src/dnadesign/densegen/tests/artifacts/test_artifacts_pool.py
  src/dnadesign/densegen/tests/cli/test_cli_stage_b_errors.py
  src/dnadesign/densegen/tests/plotting/test_plot_manifest.py
  src/dnadesign/densegen/tests/pwm/test_pwm_sampling_core_dedupe.py
  src/dnadesign/densegen/tests/runtime/test_run_diagnostics_plots.py
  src/dnadesign/densegen/tests/runtime/test_run_metrics.py
  src/dnadesign/densegen/tests/runtime/test_stage_b_summary_plots.py
  src/dnadesign/densegen/tests/stage_a/test_pool_manifest_sampling.py
  src/dnadesign/densegen/tests/stage_a/test_stage_a_end_to_end_score_sampling.py
Due: core, external_integration, densegen

chore(deps): refresh maintenance toolchain (#103)
  .github/workflows/ci.yaml
  .pre-commit-config.yaml
  pyproject.toml
  src/dnadesign/devtools/tests/security/test_dependency_security_contract.py
  uv.lock
Due: core, external_integration

fix(storage): fail closed on malformed receipts
  src/dnadesign/contracts/storage_objects/inventory.py
  src/dnadesign/contracts/storage_objects/loading.py
  src/dnadesign/contracts/storage_objects/validation.py
  src/dnadesign/contracts/tests/storage_objects/test_cli.py
  src/dnadesign/contracts/tests/storage_objects/test_contract.py
Due: core, external_integration

fix(storage): translate filesystem boundary failures
  src/dnadesign/contracts/storage_objects/inventory.py
  src/dnadesign/contracts/storage_objects/validation.py
  src/dnadesign/contracts/tests/storage_objects/test_cli.py
  src/dnadesign/contracts/tests/storage_objects/test_contract.py
Due: core, external_integration

fix(storage): preserve refreshed producer identity
  docs/integrations/storage-objects.md
  src/dnadesign/contracts/storage_objects/cli.py
  src/dnadesign/contracts/storage_objects/inventory.py
  src/dnadesign/contracts/storage_objects/loading.py
  src/dnadesign/contracts/tests/storage_objects/test_cli.py
  src/dnadesign/contracts/tests/storage_objects/test_contract.py
Due: core, external_integration

fix(storage): share manifest locks with owner groups
  docs/integrations/storage-objects.md
  src/dnadesign/contracts/storage_objects/inventory.py
  src/dnadesign/contracts/tests/storage_objects/test_cli.py
Due: core, external_integration

fix(thread): isolate pinned LigandMPNN execution
  src/dnadesign/thread/adapters/ligandmpnn/commands.py
  src/dnadesign/thread/adapters/ligandmpnn/pinned_runtime.py
  src/dnadesign/thread/adapters/ligandmpnn/score_results.py
  src/dnadesign/thread/adapters/ligandmpnn/scoring.py
  src/dnadesign/thread/docs/README.md
  src/dnadesign/thread/tests/adapters/ligandmpnn/test_adapter.py
  src/dnadesign/thread/tests/adapters/ligandmpnn/test_pinned_runtime.py
  src/dnadesign/thread/tests/adapters/ligandmpnn/test_scoring.py
Due: core, external_integration

fix(storage): normalize path resolution failures
  src/dnadesign/contracts/storage_objects/inventory.py
  src/dnadesign/contracts/storage_objects/validation.py
  src/dnadesign/contracts/tests/storage_objects/test_cli.py
  src/dnadesign/contracts/tests/storage_objects/test_contract.py
Due: core, external_integration

fix(densegen): make playback replacement recoverable
  src/dnadesign/densegen/src/integrations/dense_arrays/publisher.py
  src/dnadesign/densegen/tests/integrations/test_dense_arrays_playback.py
Due: core, external_integration, densegen

fix(thread): attest LigandMPNN runtime inputs
  src/dnadesign/thread/adapters/ligandmpnn/commands.py
  src/dnadesign/thread/adapters/ligandmpnn/context_inventory.py
  src/dnadesign/thread/adapters/ligandmpnn/context_probe.py
  src/dnadesign/thread/adapters/ligandmpnn/pinned_checkout.py
  src/dnadesign/thread/adapters/ligandmpnn/pinned_runtime.py
  src/dnadesign/thread/adapters/ligandmpnn/preflight.py
  src/dnadesign/thread/adapters/ligandmpnn/score_results.py
  src/dnadesign/thread/adapters/ligandmpnn/scoring.py
  src/dnadesign/thread/docs/README.md
  src/dnadesign/thread/tests/adapters/ligandmpnn/test_adapter.py
  src/dnadesign/thread/tests/adapters/ligandmpnn/test_alphabets.py
  src/dnadesign/thread/tests/adapters/ligandmpnn/test_context_probe.py
  src/dnadesign/thread/tests/adapters/ligandmpnn/test_pinned_runtime.py
  src/dnadesign/thread/tests/adapters/ligandmpnn/test_preflight.py
  src/dnadesign/thread/tests/adapters/ligandmpnn/test_scoring.py
Due: core, external_integration

fix(densegen): bound playback publication
  src/dnadesign/densegen/src/integrations/dense_arrays/baserender_projection.py
  src/dnadesign/densegen/src/integrations/dense_arrays/publisher.py
  src/dnadesign/densegen/tests/integrations/test_dense_arrays_playback.py
  uv.lock
Due: core, external_integration, densegen

fix(storage): preserve update provenance
  docs/integrations/storage-objects.md
  src/dnadesign/contracts/storage_objects/cli.py
  src/dnadesign/contracts/storage_objects/inventory.py
  src/dnadesign/contracts/storage_objects/validation.py
  src/dnadesign/contracts/tests/storage_objects/test_cli.py
  src/dnadesign/contracts/tests/storage_objects/test_contract.py
  src/dnadesign/usr/src/cli/support/wiring/registration.py
Due: core, external_integration, usr

fix(storage): treat demo paths literally
  src/dnadesign/contracts/storage_objects/validation.py
  src/dnadesign/contracts/tests/storage_objects/test_contract.py
Due: core, external_integration

fix(thread): preserve staged PDB identity
  src/dnadesign/thread/adapters/ligandmpnn/pinned_runtime.py
  src/dnadesign/thread/tests/adapters/ligandmpnn/test_pinned_runtime.py
Due: core, external_integration

fix(densegen): validate record-derived playback labels
  src/dnadesign/densegen/src/integrations/dense_arrays/publisher.py
  src/dnadesign/densegen/tests/integrations/test_dense_arrays_playback.py
Due: core, external_integration, densegen

fix(storage): isolate manifest staging safely
  docs/integrations/storage-objects.md
  src/dnadesign/contracts/storage_objects/inventory.py
  src/dnadesign/contracts/tests/storage_objects/test_cli.py
Due: core, external_integration

fix(storage): fail closed on staging residue
  docs/integrations/storage-objects.md
  src/dnadesign/contracts/storage_objects/inventory.py
  src/dnadesign/contracts/tests/storage_objects/test_cli.py
Due: core, external_integration

fix(thread): verify context parser provenance
  src/dnadesign/thread/adapters/ligandmpnn/context_inventory.py
  src/dnadesign/thread/adapters/ligandmpnn/receipts.py
  src/dnadesign/thread/adapters/ligandmpnn/score_results.py
  src/dnadesign/thread/tests/adapters/ligandmpnn/_context_inventory.py
  src/dnadesign/thread/tests/adapters/ligandmpnn/test_adapter.py
  src/dnadesign/thread/tests/adapters/ligandmpnn/test_alphabets.py
  src/dnadesign/thread/tests/adapters/ligandmpnn/test_score_results.py
Due: core, external_integration

fix(densegen): validate variant playback labels
  src/dnadesign/densegen/src/integrations/dense_arrays/publisher.py
  src/dnadesign/densegen/tests/integrations/test_dense_arrays_playback.py
Due: core, external_integration, densegen

fix(storage): require shared group inheritance
  docs/integrations/storage-objects.md
  src/dnadesign/contracts/storage_objects/inventory.py
  src/dnadesign/contracts/tests/storage_objects/test_cli.py
Due: core, external_integration

fix(thread): reject stale score outputs
  src/dnadesign/thread/adapters/ligandmpnn/pinned_runtime.py
  src/dnadesign/thread/structure_views/_mmcif.py
  src/dnadesign/thread/tests/adapters/ligandmpnn/test_pinned_runtime.py
  src/dnadesign/thread/tests/structure_views/test_py3dmol_html.py
Due: core, external_integration

fix(densegen): validate reconstructed constraint labels
  src/dnadesign/densegen/src/integrations/dense_arrays/publisher.py
  src/dnadesign/densegen/tests/integrations/test_dense_arrays_playback.py
Due: core, external_integration, densegen

fix(storage): harden shared locks and demo routing
  src/dnadesign/contracts/storage_objects/inventory.py
  src/dnadesign/contracts/tests/storage_objects/test_cli.py
Due: core, external_integration

fix(storage): validate shared lock posture
  src/dnadesign/contracts/storage_objects/inventory.py
  src/dnadesign/contracts/storage_objects/validation.py
  src/dnadesign/contracts/tests/storage_objects/test_cli.py
  src/dnadesign/contracts/tests/storage_objects/test_contract.py
Due: core, external_integration

fix(densegen): validate persisted plan labels
  src/dnadesign/densegen/src/integrations/dense_arrays/publisher.py
  src/dnadesign/densegen/tests/integrations/test_dense_arrays_playback.py
Due: core, external_integration, densegen

fix(thread): preserve exact LigandMPNN selectors
  src/dnadesign/thread/adapters/ligandmpnn/commands.py
  src/dnadesign/thread/adapters/ligandmpnn/context_probe.py
  src/dnadesign/thread/adapters/ligandmpnn/models.py
  src/dnadesign/thread/tests/adapters/ligandmpnn/test_adapter.py
  src/dnadesign/thread/tests/adapters/ligandmpnn/test_context_probe.py
Due: core, external_integration

fix(storage): reject concurrent manifest drift
  src/dnadesign/contracts/storage_objects/loading.py
  src/dnadesign/contracts/storage_objects/validation.py
  src/dnadesign/contracts/tests/storage_objects/test_contract.py
Due: core, external_integration

fix(storage): preserve executable and shared receipts
  src/dnadesign/contracts/storage_objects/inventory.py
  src/dnadesign/contracts/storage_objects/validation.py
  src/dnadesign/contracts/tests/storage_objects/test_contract.py
Due: core, external_integration

Harden storage receipt lifecycle
  docs/integrations/storage-objects.md
  src/dnadesign/contracts/storage_objects/cli.py
  src/dnadesign/contracts/storage_objects/inventory.py
  src/dnadesign/contracts/storage_objects/models.py
  src/dnadesign/contracts/storage_objects/validation.py
  src/dnadesign/contracts/tests/storage_objects/test_cli.py
  src/dnadesign/contracts/tests/storage_objects/test_contract.py
Due: core, external_integration

Require traversable shared storage roots
  docs/integrations/storage-objects.md
  src/dnadesign/contracts/storage_objects/inventory.py
  src/dnadesign/contracts/storage_objects/validation.py
  src/dnadesign/contracts/tests/storage_objects/test_cli.py
  src/dnadesign/contracts/tests/storage_objects/test_contract.py
Due: core, external_integration

Reject missing storage role transitions
  src/dnadesign/contracts/storage_objects/inventory.py
  src/dnadesign/contracts/tests/storage_objects/test_cli.py
Due: core, external_integration

fix(thread): quote reserved mmCIF tokens
  src/dnadesign/thread/structure_views/_mmcif.py
  src/dnadesign/thread/tests/structure_views/test_py3dmol_html.py
Due: core, external_integration

fix(densegen): close playback publication leaks
  src/dnadesign/densegen/src/integrations/dense_arrays/publisher.py
  src/dnadesign/densegen/tests/integrations/test_dense_arrays_playback.py
Due: core, external_integration, densegen
