Repository e-south/dnadesign: changes, and which Codecov flags are due for each by the changed paths.
All: core, external_integration, usr, notify, densegen, infer, opal, cluster, billboard, libshuffle, nmf, latdna, cruncher, tfkdanalysis, aligner, baserender, permuter

Improve infer CLI errors and optimize USR subset ingest
  src/dnadesign/infer/src/cli/common.py
  src/dnadesign/infer/src/ingest/sources.py
  src/dnadesign/infer/tests/cli/test_common.py
  src/dnadesign/infer/tests/cli/test_validate_command.py
  src/dnadesign/infer/tests/runtime/test_ingest_sources_usr.py
Due: core, external_integration, infer

Align notify/ops docs and infer journal with canonical infer policy
  docs/bu-scc/batch-notify.md
  docs/notify/README.md
  docs/operations/orchestration-runbooks.md
  src/dnadesign/infer/docs/dev/journal.md
  src/dnadesign/notify/docs/dev/architecture.md
  src/dnadesign/notify/tests/test_notify_docs_progressive_disclosure_contracts.py
Due: core, external_integration, notify, infer

Infer: harden USR root and GPU/resource contracts
  src/dnadesign/infer/src/ingest/sources.py
  src/dnadesign/infer/src/resource_contracts.py
  src/dnadesign/infer/src/runtime/capacity_planner.py
  src/dnadesign/infer/tests/package/test_wrapper_contracts.py
  src/dnadesign/infer/tests/runtime/test_capacity_planner.py
  src/dnadesign/infer/tests/runtime/test_ingest_sources_usr.py
Due: core, external_integration, infer

Infer docs: record codex contract closure slice
  src/dnadesign/infer/docs/dev/journal.md
Due: core, external_integration, infer

Infer: decouple import path and harden preset CLI contract
  src/dnadesign/infer/__init__.py
  src/dnadesign/infer/src/adapters/__init__.py
  src/dnadesign/infer/src/cli/commands/run.py
  src/dnadesign/infer/tests/cli/test_run_command_config_inputs.py
  src/dnadesign/infer/tests/package/test_wrapper_contracts.py
  src/dnadesign/ops/tests/test_runbook_orchestrator.py
Due: core, external_integration, infer

Infer docs: record import-decoupling hardening slice
  src/dnadesign/infer/docs/dev/journal.md
Due: core, external_integration, infer

Infer: refactor preset registry with cached normalized records
  src/dnadesign/infer/src/presets/registry.py
  src/dnadesign/infer/tests/cli/test_presets.py
Due: core, external_integration, infer

Infer docs: record preset-registry hardening slice
  src/dnadesign/infer/docs/dev/journal.md
Due: core, external_integration, infer

Infer: refactor resume planner with filtered ID scans
  src/dnadesign/infer/src/runtime/resume_planner.py
  src/dnadesign/infer/tests/runtime/test_resume_planner.py
Due: core, external_integration, infer

Infer docs: record resume-planner hardening slice
  src/dnadesign/infer/docs/dev/journal.md
Due: core, external_integration, infer

Infer: harden resume planner with chunked ID filter reads
  src/dnadesign/infer/src/runtime/resume_planner.py
  src/dnadesign/infer/tests/runtime/test_resume_planner.py
Due: core, external_integration, infer

Infer docs: record resume-filter chunking hardening slice
  src/dnadesign/infer/docs/dev/journal.md
Due: core, external_integration, infer

Infer: externalize resume chunk policy with strict runtime contract
  src/dnadesign/infer/src/runtime/resume_planner.py
  src/dnadesign/infer/src/runtime/resume_policy.py
  src/dnadesign/infer/tests/runtime/test_resume_planner.py
  src/dnadesign/infer/tests/runtime/test_resume_policy.py
Due: core, external_integration, infer

Infer docs: document resume chunk policy hardening slice
  src/dnadesign/infer/docs/architecture/README.md
  src/dnadesign/infer/docs/dev/journal.md
Due: core, external_integration, infer

Infer/Ops: harden resume-reset contracts and chunked overwrite guard
  src/dnadesign/infer/src/writers/usr.py
  src/dnadesign/infer/tests/contracts/test_usr_writeback_contract.py
  src/dnadesign/ops/orchestrator/state.py
  src/dnadesign/ops/tests/test_runbook_orchestrator.py
Due: core, external_integration, infer

Infer docs: log cross-tool hardening slice AP
  src/dnadesign/infer/docs/dev/journal.md
Due: core, external_integration, infer

ops: probe infer artifacts from config usr destination
  src/dnadesign/infer/docs/dev/journal.md
  src/dnadesign/ops/orchestrator/state.py
  src/dnadesign/ops/tests/test_runbook_orchestrator.py
Due: core, external_integration, infer

ops: use mode-tool adapters for mode resolution
  src/dnadesign/infer/docs/dev/journal.md
  src/dnadesign/ops/orchestrator/state.py
  src/dnadesign/ops/tests/test_runbook_orchestrator.py
Due: core, external_integration, infer

ops: extract mode tool policies and schema coverage tests
  src/dnadesign/infer/docs/dev/journal.md
  src/dnadesign/ops/orchestrator/mode_tools.py
  src/dnadesign/ops/orchestrator/state.py
  src/dnadesign/ops/tests/test_runbook_orchestrator.py
Due: core, external_integration, infer

ops: harden mode-tool registry and optimize infer probes
  src/dnadesign/infer/docs/dev/journal.md
  src/dnadesign/ops/orchestrator/mode_tools.py
  src/dnadesign/ops/tests/test_mode_tools.py
Due: core, external_integration, infer

ops: add schema-backed mode tool introspection
  src/dnadesign/infer/docs/dev/journal.md
  src/dnadesign/ops/orchestrator/mode_tools.py
  src/dnadesign/ops/runbooks/schema.py
  src/dnadesign/ops/tests/test_mode_tools.py
  src/dnadesign/ops/tests/test_runbook_orchestrator.py
Due: core, external_integration, infer

ops: extract plan tool adapters for workflow rendering
  src/dnadesign/infer/docs/dev/journal.md
  src/dnadesign/ops/orchestrator/plan.py
  src/dnadesign/ops/orchestrator/plan_tools.py
  src/dnadesign/ops/tests/test_plan_tools.py
Due: core, external_integration, infer

ops: share workflow tool contracts
  src/dnadesign/infer/docs/dev/journal.md
  src/dnadesign/ops/orchestrator/mode_tools.py
  src/dnadesign/ops/orchestrator/plan_tools.py
  src/dnadesign/ops/orchestrator/workflow_tools.py
  src/dnadesign/ops/tests/test_workflow_tools.py
Due: core, external_integration, infer

ops: share notify contracts and freeze tool registries
  src/dnadesign/infer/docs/dev/journal.md
  src/dnadesign/ops/orchestrator/execute.py
  src/dnadesign/ops/orchestrator/mode_tools.py
  src/dnadesign/ops/orchestrator/orchestration_notify.py
  src/dnadesign/ops/orchestrator/plan.py
  src/dnadesign/ops/orchestrator/plan_tools.py
  src/dnadesign/ops/orchestrator/workflow_tools.py
  src/dnadesign/ops/tests/test_orchestration_notify.py
  src/dnadesign/ops/tests/test_runbook_orchestrator.py
  src/dnadesign/ops/tests/test_workflow_tools.py
Due: core, external_integration, infer

ops: extract runbook workflow metadata
  src/dnadesign/infer/docs/dev/journal.md
  src/dnadesign/ops/runbooks/schema.py
  src/dnadesign/ops/runbooks/workflow_metadata.py
  src/dnadesign/ops/tests/test_workflow_metadata.py
Due: core, external_integration, infer

ops: extract layout contracts and generic notify defaults
  src/dnadesign/infer/docs/dev/journal.md
  src/dnadesign/ops/cli.py
  src/dnadesign/ops/runbooks/runbook_layout.py
  src/dnadesign/ops/runbooks/schema.py
  src/dnadesign/ops/tests/test_runbook_layout.py
  src/dnadesign/ops/tests/test_runbook_orchestrator.py
Due: core, external_integration, infer

ops: extract runbook path resolution
  src/dnadesign/infer/docs/dev/journal.md
  src/dnadesign/ops/cli.py
  src/dnadesign/ops/runbooks/runbook_paths.py
  src/dnadesign/ops/runbooks/schema.py
  src/dnadesign/ops/runbooks/workflow_metadata.py
  src/dnadesign/ops/tests/test_runbook_orchestrator.py
  src/dnadesign/ops/tests/test_workflow_metadata.py
Due: core, external_integration, infer

ops: warn when notify setup is required
  src/dnadesign/infer/docs/dev/journal.md
  src/dnadesign/ops/cli.py
  src/dnadesign/ops/tests/test_runbook_orchestrator.py
Due: core, external_integration, infer

infer: harden resume, pruning, and embedding semantics
  src/dnadesign/infer/src/_logging.py
  src/dnadesign/infer/src/adapters/__init__.py
  src/dnadesign/infer/src/adapters/evo2.py
  src/dnadesign/infer/src/cli/commands/__init__.py
  src/dnadesign/infer/src/cli/commands/prune.py
  src/dnadesign/infer/src/engine.py
  src/dnadesign/infer/src/prune.py
  src/dnadesign/infer/tests/cli/test_prune_command.py
  src/dnadesign/infer/tests/contracts/test_usr_writeback_contract.py
  src/dnadesign/infer/tests/package/test_logging_policy.py
  src/dnadesign/infer/tests/package/test_source_tree_contracts.py
  src/dnadesign/infer/tests/runtime/test_evo2_adapter_pooling_contracts.py
Due: core, external_integration, infer

infer: document resume and prune pressure flows
  src/dnadesign/infer/README.md
  src/dnadesign/infer/docs/dev/journal.md
  src/dnadesign/infer/docs/operations/pressure-test-agnostic-models.md
  src/dnadesign/infer/docs/operations/scc-evo2-gpu-uv-runbook.md
  src/dnadesign/infer/docs/tutorials/demo_pressure_test_usr_ops_notify.md
  src/dnadesign/infer/tests/docs/test_information_architecture_contracts.py
  src/dnadesign/infer/tests/docs/test_pressure_runbook_docs_contract.py
  src/dnadesign/infer/tests/docs/test_scc_gpu_env_docs_contract.py
  src/dnadesign/infer/tests/docs/test_usr_docs_contract.py
  src/dnadesign/infer/workspaces/README.md
Due: core, external_integration, infer

infer: derive usr registry spec from config
  src/dnadesign/infer/docs/dev/journal.md
  src/dnadesign/infer/docs/operations/pressure-test-agnostic-models.md
  src/dnadesign/infer/src/cli/commands/validate.py
  src/dnadesign/infer/src/usr_registry.py
  src/dnadesign/infer/tests/cli/test_validate_command.py
  src/dnadesign/infer/tests/docs/test_pressure_runbook_docs_contract.py
Due: core, external_integration, infer

usr: add generic overlay prune contract
  src/dnadesign/infer/docs/dev/journal.md
  src/dnadesign/usr/docs/reference/maintenance.md
  src/dnadesign/usr/docs/reference/overlay-and-registry.md
  src/dnadesign/usr/src/cli.py
  src/dnadesign/usr/src/cli_commands/maintenance.py
  src/dnadesign/usr/src/cli_commands/ops_cli.py
  src/dnadesign/usr/src/dataset.py
  src/dnadesign/usr/src/dataset_overlay_maintenance.py
  src/dnadesign/usr/src/dataset_overlay_ops.py
  src/dnadesign/usr/tests/test_cli_maintenance_registry.py
  src/dnadesign/usr/tests/test_overlays.py
Due: core, external_integration, usr, infer

usr: extract overlay and cli seams
  src/dnadesign/infer/src/prune.py
  src/dnadesign/infer/tests/package/test_prune_module_layout.py
  src/dnadesign/usr/src/cli.py
  src/dnadesign/usr/src/cli_bindings.py
  src/dnadesign/usr/src/cli_commands/maintenance.py
  src/dnadesign/usr/src/dataset.py
  src/dnadesign/usr/src/dataset_identity.py
  src/dnadesign/usr/src/overlay_maintenance.py
  src/dnadesign/usr/tests/test_cli_bindings_module_layout.py
  src/dnadesign/usr/tests/test_cli_maintenance_module_layout.py
  src/dnadesign/usr/tests/test_cli_materialize_module_layout.py
  src/dnadesign/usr/tests/test_cli_merge_module_layout.py
  src/dnadesign/usr/tests/test_cli_namespace_handlers_module_layout.py
  src/dnadesign/usr/tests/test_cli_read_views_module_layout.py
  src/dnadesign/usr/tests/test_cli_remotes_module_layout.py
  src/dnadesign/usr/tests/test_cli_runtime_module_layout.py
  src/dnadesign/usr/tests/test_cli_tooling_module_layout.py
  src/dnadesign/usr/tests/test_dataset_identity_module.py
  src/dnadesign/usr/tests/test_module_layout.py
  src/dnadesign/usr/tests/test_overlay_maintenance_module.py
Due: core, external_integration, usr, infer

usr: make lazy import checks deterministic
  src/dnadesign/infer/docs/dev/journal.md
  src/dnadesign/usr/tests/test_convert_legacy_imports.py
Due: core, external_integration, usr, infer

usr: extract overlay catalog reads
  src/dnadesign/infer/docs/dev/journal.md
  src/dnadesign/usr/src/dataset.py
  src/dnadesign/usr/src/dataset_overlay_catalog.py
  src/dnadesign/usr/tests/test_dataset_overlay_catalog_module.py
  src/dnadesign/usr/tests/test_module_layout.py
  src/dnadesign/usr/tests/test_overlays.py
Due: core, external_integration, usr, infer

usr: extract read key helpers
  src/dnadesign/infer/docs/dev/journal.md
  src/dnadesign/usr/src/dataset.py
  src/dnadesign/usr/src/dataset_read_keys.py
  src/dnadesign/usr/tests/test_dataset_read_keys_module.py
  src/dnadesign/usr/tests/test_module_layout.py
Due: core, external_integration, usr, infer

infer: localize pressure workspace usr roots
  src/dnadesign/infer/docs/dev/journal.md
  src/dnadesign/infer/docs/operations/examples/pressure_test_infer_config.yaml
  src/dnadesign/infer/docs/operations/pressure-test-agnostic-models.md
  src/dnadesign/infer/docs/tutorials/demo_pressure_test_usr_ops_notify.md
  src/dnadesign/infer/src/cli/commands/validate.py
  src/dnadesign/infer/src/cli/config_inputs.py
  src/dnadesign/infer/src/workspace.py
  src/dnadesign/infer/tests/cli/test_run_command_config_inputs.py
  src/dnadesign/infer/tests/cli/test_validate_command.py
  src/dnadesign/infer/tests/cli/test_workspace_command.py
  src/dnadesign/infer/tests/docs/test_information_architecture_contracts.py
  src/dnadesign/infer/tests/docs/test_pressure_runbook_docs_contract.py
  src/dnadesign/infer/workspaces/README.md
  src/dnadesign/infer/workspaces/test_stress_ethanol/config.yaml
Due: core, external_integration, infer

docs: clarify usr root policy for workspaces
  ARCHITECTURE.md
  DESIGN.md
  src/dnadesign/infer/docs/dev/journal.md
  src/dnadesign/usr/docs/operations/sync-quickstart.md
  src/dnadesign/usr/docs/operations/sync-setup.md
  src/dnadesign/usr/tests/test_usr_docs_contract.py
Due: core, external_integration, usr, infer

infer: add evo2 20b capability contracts
  pyproject.toml
  src/dnadesign/infer/docs/dev/journal.md
  src/dnadesign/infer/src/adapters/evo2.py
  src/dnadesign/infer/src/resource_contracts.py
  src/dnadesign/infer/src/runtime/capacity_planner.py
  src/dnadesign/infer/tests/cli/test_validate_command.py
  src/dnadesign/infer/tests/package/test_wrapper_contracts.py
  src/dnadesign/infer/tests/runtime/test_capacity_planner.py
  src/dnadesign/infer/tests/runtime/test_evo2_adapter_pooling_contracts.py
  uv.lock
Due: core, external_integration, infer

docs: align SCC infer path to evo2 7b and 20b
  docs/bu-scc/install.md
  docs/bu-scc/jobs/README.md
  docs/bu-scc/quickstart.md
  docs/bu-scc/submission-reference.md
  docs/installation.md
  docs/operations/orchestration-runbooks.md
  src/dnadesign/densegen/tests/docs/test_bu_scc_docs_contracts.py
  src/dnadesign/infer/docs/dev/journal.md
  src/dnadesign/infer/docs/operations/scc-evo2-gpu-uv-runbook.md
  src/dnadesign/infer/tests/docs/test_scc_gpu_env_docs_contract.py
  src/dnadesign/ops/tests/test_ops_docs_progressive_disclosure_contracts.py
Due: core, external_integration, densegen, infer

Path conditions:
  core: any of: src/dnadesign
  external_integration: any of: src/dnadesign
  usr: any of: src/dnadesign/usr/**
  notify: any of: src/dnadesign/notify/**
  densegen: any of: src/dnadesign/densegen/**
  infer: any of: src/dnadesign/infer/**
  opal: any of: src/dnadesign/opal/**
  cluster: any of: src/dnadesign/cluster/**
  billboard: any of: src/dnadesign/billboard/**
  libshuffle: any of: src/dnadesign/libshuffle/**
  nmf: any of: src/dnadesign/nmf/**
  latdna: any of: src/dnadesign/latdna/**
  cruncher: any of: src/dnadesign/cruncher/**
  tfkdanalysis: any of: src/dnadesign/tfkdanalysis/**
  aligner: any of: src/dnadesign/aligner/**
  baserender: any of: src/dnadesign/baserender/**
  permuter: any of: src/dnadesign/permuter/**
