Repository e-south/dnadesign: changes, and which Codecov flags are due for each by the changed paths.
All: core, external_integration, usr, notify, densegen, infer, opal, cluster, billboard, libshuffle, nmf, latdna, cruncher, tfkdanalysis, aligner, baserender, permuter

fix(study): keep OPAL runbook progressive
  docs/studies/stress_ethanol_cipro_growth/routes/decision/opal/campaign-commands.md
Due: none

fix(study): preserve OPAL notebook route
  docs/studies/stress_ethanol_cipro_growth/routes/decision/opal/campaign-commands.md
Due: none

fix(eco1-rt-repack): harden synthesis handoff provenance
  src/dnadesign/studies/units/eco1_rt_repack/operations/materialization/review_deliverables/notebook_twist_handoff.py
  src/dnadesign/studies/units/eco1_rt_repack/operations/materialization/twist_handoff/codon_design.py
  src/dnadesign/studies/units/eco1_rt_repack/operations/materialization/twist_handoff/genbank_export.py
  src/dnadesign/studies/units/eco1_rt_repack/operations/materialization/twist_handoff/pipeline.py
  src/dnadesign/studies/units/eco1_rt_repack/tests/materialization/twist_handoff/_fixtures.py
  src/dnadesign/studies/units/eco1_rt_repack/tests/materialization/twist_handoff/test_materialization.py
Due: core, external_integration

docs(eco1-rt-repack): align study evidence and handoff status
  .agents/skills/eco1-rt-repack-status/SKILL.md
  .agents/skills/eco1-rt-repack-status/references/external-sources.md
  .agents/skills/eco1-rt-repack-status/references/study-surfaces.md
  .agents/skills/eco1-rt-repack-status/references/test-matrix.md
  docs/studies/eco1_rt_repack/README.md
  docs/studies/eco1_rt_repack/contexts/fixed-backbone-method.md
  docs/studies/eco1_rt_repack/contexts/implementation-roadmap.md
  docs/studies/eco1_rt_repack/contexts/msa-method.md
  docs/studies/eco1_rt_repack/contexts/selection-hardening-dev-spec.md
  docs/studies/eco1_rt_repack/operations/runtime/command-groups/README.md
  docs/studies/eco1_rt_repack/record/datasets.yaml
  docs/studies/eco1_rt_repack/record/status.md
  docs/studies/eco1_rt_repack/routes/README.md
  docs/studies/eco1_rt_repack/workbench/ontology/vocabulary.md
Due: none

fix(eco1-rt-repack): record synthesis host provenance
  .agents/skills/eco1-rt-repack-status/SKILL.md
  docs/studies/eco1_rt_repack/README.md
  docs/studies/eco1_rt_repack/operations/runtime/command-groups/README.md
  docs/studies/eco1_rt_repack/record/datasets.yaml
  docs/studies/eco1_rt_repack/record/status.md
  src/dnadesign/studies/units/eco1_rt_repack/operations/materialization/review_deliverables/communication_visuals/structure_scenes.py
  src/dnadesign/studies/units/eco1_rt_repack/operations/materialization/review_deliverables/notebook_twist_handoff.py
  src/dnadesign/studies/units/eco1_rt_repack/operations/materialization/review_deliverables/selection_readiness.py
  src/dnadesign/studies/units/eco1_rt_repack/operations/materialization/twist_handoff/pipeline.py
  src/dnadesign/studies/units/eco1_rt_repack/tests/materialization/review_deliverables/test_selection_notebook_runtime.py
  src/dnadesign/studies/units/eco1_rt_repack/tests/materialization/twist_handoff/test_materialization.py
Due: core, external_integration

feat(study): compare response windows on equal footing
  docs/studies/stress_ethanol_cipro_growth/contexts/opal/response-metastudy.md
  src/dnadesign/studies/units/stress_ethanol_cipro_growth/decision/opal/reader_promoter_evidence/bundle_semantics.py
  src/dnadesign/studies/units/stress_ethanol_cipro_growth/decision/opal/response_metastudy/README.md
  src/dnadesign/studies/units/stress_ethanol_cipro_growth/decision/opal/response_metastudy/cli.py
  src/dnadesign/studies/units/stress_ethanol_cipro_growth/decision/opal/response_metastudy/core/contracts.py
  src/dnadesign/studies/units/stress_ethanol_cipro_growth/decision/opal/response_metastudy/core/response_contracts.py
  src/dnadesign/studies/units/stress_ethanol_cipro_growth/decision/opal/response_metastudy/evaluation/__init__.py
  src/dnadesign/studies/units/stress_ethanol_cipro_growth/decision/opal/response_metastudy/evaluation/response_magnitude.py
  src/dnadesign/studies/units/stress_ethanol_cipro_growth/decision/opal/response_metastudy/evaluation/window_evidence.py
  src/dnadesign/studies/units/stress_ethanol_cipro_growth/decision/opal/response_metastudy/reporting/plot_vocabulary.py
  src/dnadesign/studies/units/stress_ethanol_cipro_growth/decision/opal/response_metastudy/reporting/report.py
  src/dnadesign/studies/units/stress_ethanol_cipro_growth/decision/opal/response_metastudy/reporting/response_metric_report.py
  src/dnadesign/studies/units/stress_ethanol_cipro_growth/decision/opal/response_metastudy/runtime/audit.py
  src/dnadesign/studies/units/stress_ethanol_cipro_growth/decision/opal/response_metastudy/runtime/manifest.py
  src/dnadesign/studies/units/stress_ethanol_cipro_growth/decision/opal/response_metastudy/runtime/publication.py
  src/dnadesign/studies/units/stress_ethanol_cipro_growth/decision/opal/response_metastudy/runtime/response_screen.py
  src/dnadesign/studies/units/stress_ethanol_cipro_growth/decision/opal/response_metastudy/runtime/response_screen_publication.py
  src/dnadesign/studies/units/stress_ethanol_cipro_growth/decision/opal/response_metastudy/runtime/review_bundle.py
  src/dnadesign/studies/units/stress_ethanol_cipro_growth/response_window_observations/config/observation_policy.yaml
  src/dnadesign/studies/units/stress_ethanol_cipro_growth/response_window_observations/config/reader_response_window.yaml
  src/dnadesign/studies/units/stress_ethanol_cipro_growth/response_window_observations/reader_bundle.py
  src/dnadesign/studies/units/stress_ethanol_cipro_growth/response_window_observations/reader_bundle_validation.py
  src/dnadesign/studies/units/stress_ethanol_cipro_growth/tests/decision/opal/reader_promoter_evidence/_fixtures.py
  src/dnadesign/studies/units/stress_ethanol_cipro_growth/tests/decision/opal/response_metastudy/test_architecture.py
  src/dnadesign/studies/units/stress_ethanol_cipro_growth/tests/decision/opal/response_metastudy/test_model_evidence_trajectory.py
  src/dnadesign/studies/units/stress_ethanol_cipro_growth/tests/decision/opal/response_metastudy/test_plot_vocabulary.py
  src/dnadesign/studies/units/stress_ethanol_cipro_growth/tests/decision/opal/response_metastudy/test_publication.py
  src/dnadesign/studies/units/stress_ethanol_cipro_growth/tests/decision/opal/response_metastudy/test_reader_response_bundle.py
  src/dnadesign/studies/units/stress_ethanol_cipro_growth/tests/decision/opal/response_metastudy/test_response_magnitude.py
  src/dnadesign/studies/units/stress_ethanol_cipro_growth/tests/decision/opal/response_metastudy/test_response_screen_manifest.py
  src/dnadesign/studies/units/stress_ethanol_cipro_growth/tests/decision/opal/response_metastudy/test_window_evidence.py
  src/dnadesign/studies/units/stress_ethanol_cipro_growth/tests/response_window_observations/test_architecture.py
  src/dnadesign/studies/units/stress_ethanol_cipro_growth/tests/response_window_observations/test_policy.py
  src/dnadesign/studies/units/stress_ethanol_cipro_growth/tests/response_window_observations/test_sources.py
Due: core, external_integration

fix(study): block censored response labels
  docs/studies/stress_ethanol_cipro_growth/routes/decision/opal/campaign-commands.md
  src/dnadesign/studies/units/stress_ethanol_cipro_growth/decision/opal/response_metastudy/README.md
  src/dnadesign/studies/units/stress_ethanol_cipro_growth/decision/opal/response_window_label_promotion/README.md
  src/dnadesign/studies/units/stress_ethanol_cipro_growth/response_window_observations/README.md
  src/dnadesign/studies/units/stress_ethanol_cipro_growth/response_window_observations/aggregation.py
  src/dnadesign/studies/units/stress_ethanol_cipro_growth/response_window_observations/artifact.py
  src/dnadesign/studies/units/stress_ethanol_cipro_growth/response_window_observations/censoring.py
  src/dnadesign/studies/units/stress_ethanol_cipro_growth/response_window_observations/cli.py
  src/dnadesign/studies/units/stress_ethanol_cipro_growth/response_window_observations/validation.py
  src/dnadesign/studies/units/stress_ethanol_cipro_growth/tests/response_window_observations/test_aggregation.py
  src/dnadesign/studies/units/stress_ethanol_cipro_growth/tests/response_window_observations/test_architecture.py
  src/dnadesign/studies/units/stress_ethanol_cipro_growth/tests/response_window_observations/test_artifact.py
  src/dnadesign/studies/units/stress_ethanol_cipro_growth/tests/response_window_observations/test_sources.py
Due: core, external_integration

docs(ops): advance stress study to round-zero review
  .agents/skills/stress-ethanol-cipro-growth-status/scripts/audit-stress-ethanol-cipro-growth-status-skill.sh
  docs/runbooks/README.md
  docs/studies/stress_ethanol_cipro_growth/operations/catalog/contracts/preflight.md
  docs/studies/stress_ethanol_cipro_growth/operations/catalog/contracts/registry/preflight.registry.yaml
  docs/studies/stress_ethanol_cipro_growth/operations/contract/lifecycle/mode.yaml
  docs/studies/stress_ethanol_cipro_growth/operations/contract/lifecycle/phases.yaml
  docs/studies/stress_ethanol_cipro_growth/operations/contract/readiness/checks/opal_candidate_table_pre_assay.yaml
  docs/studies/stress_ethanol_cipro_growth/operations/contract/readiness/checks/opal_round0_candidate_review.yaml
  docs/studies/stress_ethanol_cipro_growth/operations/contract/readiness/group-bindings.yaml
  docs/studies/stress_ethanol_cipro_growth/operations/contract/readiness/next-scope.yaml
  docs/studies/stress_ethanol_cipro_growth/operations/contract/surfaces/artifacts.yaml
  docs/studies/stress_ethanol_cipro_growth/operations/contract/surfaces/execution/commands/README.md
  docs/studies/stress_ethanol_cipro_growth/operations/contract/surfaces/execution/commands/opal.yaml
  docs/studies/stress_ethanol_cipro_growth/operations/contract/surfaces/execution/commands/opal/campaign-inspection.yaml
  docs/studies/stress_ethanol_cipro_growth/operations/contract/surfaces/execution/commands/opal/candidate-table.yaml
  docs/studies/stress_ethanol_cipro_growth/operations/contract/surfaces/execution/commands/opal/densegen-axis-probe.yaml
  docs/studies/stress_ethanol_cipro_growth/operations/contract/surfaces/execution/commands/opal/round0-review.yaml
  docs/studies/stress_ethanol_cipro_growth/operations/contract/surfaces/execution/commands/opal/synthesis-handoffs.yaml
  docs/studies/stress_ethanol_cipro_growth/operations/ops.study.yaml
  docs/studies/stress_ethanol_cipro_growth/operations/runtime/command-groups/README.md
  docs/studies/stress_ethanol_cipro_growth/operations/runtime/command-groups/lanes/opal.yaml
  docs/studies/stress_ethanol_cipro_growth/operations/runtime/command-groups/pipeline.yaml
  docs/studies/stress_ethanol_cipro_growth/record/status.md
  docs/studies/stress_ethanol_cipro_growth/routes/README.md
  src/dnadesign/studies/units/stress_ethanol_cipro_growth/operations/status/ops/status.registry.yaml
Due: core, external_integration

fix(thread): parse mmCIF atom sites by header
  src/dnadesign/thread/structure_views/_mmcif.py
  src/dnadesign/thread/structure_views/models.py
  src/dnadesign/thread/tests/structure_views/test_mmcif_atom_content.py
  src/dnadesign/thread/tests/structure_views/test_py3dmol_html.py
  src/dnadesign/thread/tests/test_package_layout.py
Due: core, external_integration

fix(study): preserve OPAL notebook review route
  docs/studies/stress_ethanol_cipro_growth/routes/decision/opal/campaign-commands.md
Due: none

fix(thread): honor mmCIF headers in molecule filtering
  src/dnadesign/thread/structure_views/_mmcif.py
  src/dnadesign/thread/structure_views/models.py
  src/dnadesign/thread/tests/structure_views/test_mmcif_molecule_classes.py
Due: core, external_integration

feat(study): harden cumulative response label promotion
  docs/studies/stress_ethanol_cipro_growth/contexts/opal/candidate-table.md
  docs/studies/stress_ethanol_cipro_growth/contexts/opal/response-magnitude-feasibility.md
  docs/studies/stress_ethanol_cipro_growth/contexts/opal/sfxi-round0-source-evidence.md
  docs/studies/stress_ethanol_cipro_growth/operations/contract/surfaces/artifacts.yaml
  docs/studies/stress_ethanol_cipro_growth/operations/runtime/command-groups/pipeline.yaml
  docs/studies/stress_ethanol_cipro_growth/record/datasets.yaml
  src/dnadesign/opal/campaigns/secg_rmf_greedy/configs/campaign.yaml
  src/dnadesign/studies/units/stress_ethanol_cipro_growth/decision/opal/batch0/README.md
  src/dnadesign/studies/units/stress_ethanol_cipro_growth/decision/opal/response_window_label_promotion/README.md
  src/dnadesign/studies/units/stress_ethanol_cipro_growth/decision/opal/response_window_label_promotion/cli.py
  src/dnadesign/studies/units/stress_ethanol_cipro_growth/decision/opal/response_window_label_promotion/contracts.py
  src/dnadesign/studies/units/stress_ethanol_cipro_growth/decision/opal/response_window_label_promotion/cumulative.py
  src/dnadesign/studies/units/stress_ethanol_cipro_growth/decision/opal/response_window_label_promotion/lineage.py
  src/dnadesign/studies/units/stress_ethanol_cipro_growth/decision/opal/response_window_label_promotion/materialization.py
  src/dnadesign/studies/units/stress_ethanol_cipro_growth/decision/opal/response_window_label_promotion/preflight.py
  src/dnadesign/studies/units/stress_ethanol_cipro_growth/decision/opal/response_window_label_promotion/provenance.py
  src/dnadesign/studies/units/stress_ethanol_cipro_growth/decision/opal/response_window_label_promotion/provenance_validation.py
  src/dnadesign/studies/units/stress_ethanol_cipro_growth/decision/opal/response_window_label_promotion/publication.py
  src/dnadesign/studies/units/stress_ethanol_cipro_growth/decision/opal/response_window_label_promotion/publisher.py
  src/dnadesign/studies/units/stress_ethanol_cipro_growth/tests/decision/opal/batch0/test_opal_batch0.py
  src/dnadesign/studies/units/stress_ethanol_cipro_growth/tests/decision/opal/response_window_label_promotion/test_cli.py
  src/dnadesign/studies/units/stress_ethanol_cipro_growth/tests/decision/opal/response_window_label_promotion/test_publisher.py
Due: core, external_integration, opal

feat(opal): preserve immutable run evidence
  src/dnadesign/opal/api/observed_labels.py
  src/dnadesign/opal/docs/reference/cli.md
  src/dnadesign/opal/docs/reference/configuration.md
  src/dnadesign/opal/docs/reference/data-contracts.md
  src/dnadesign/opal/src/analysis/campaign/analysis.py
  src/dnadesign/opal/src/analysis/ledger/__init__.py
  src/dnadesign/opal/src/analysis/ledger/run_artifacts.py
  src/dnadesign/opal/src/analysis/ledger/run_labels.py
  src/dnadesign/opal/src/analysis/ledger/run_observed_events.py
  src/dnadesign/opal/src/runtime/round/backlog.py
  src/dnadesign/opal/src/runtime/round/context.py
  src/dnadesign/opal/src/runtime/round/contracts.py
  src/dnadesign/opal/src/runtime/round/stages/training.py
  src/dnadesign/opal/src/runtime/round/writebacks.py
  src/dnadesign/opal/src/runtime/run_round.py
  src/dnadesign/opal/src/storage/artifacts.py
  src/dnadesign/opal/src/storage/label_sources.py
  src/dnadesign/opal/src/storage/ledger.py
  src/dnadesign/opal/tests/analysis/test_run_labels_used.py
  src/dnadesign/opal/tests/analysis/test_run_observed_events.py
  src/dnadesign/opal/tests/api/test_observed_labels_api.py
  src/dnadesign/opal/tests/runtime/test_run_round_integrity.py
  src/dnadesign/opal/tests/runtime/test_shared_label_source.py
  src/dnadesign/opal/tests/storage/test_ledger_dataset_writes.py
  src/dnadesign/opal/tests/storage/test_observed_label_store.py
  src/dnadesign/opal/tests/storage/test_run_artifact_paths.py
Due: core, external_integration, opal

fix(latentdna): omit empty nearest-plan tails
  src/dnadesign/latentdna/src/enrichments/regulatory_plan_margin.py
  src/dnadesign/latentdna/tests/test_regulatory_plan_margin_enrichment.py
Due: core, external_integration

fix(study): ship response evidence configs
  pyproject.toml
  src/dnadesign/studies/tests/test_package_data_contract.py
Due: core, external_integration

chore(package): normalize new module headers
  src/dnadesign/opal/src/analysis/notebook_components/layered_scatter.py
  src/dnadesign/opal/src/analysis/notebook_components/layered_scatter_controls.py
  src/dnadesign/opal/src/analysis/notebook_components/layered_scatter_rendering.py
  src/dnadesign/opal/src/analysis/notebook_set_template/layered_scatter_cells.py
  src/dnadesign/opal/src/runtime/round/backlog.py
  src/dnadesign/opal/tests/notebooks/test_layered_scatter_integrity.py
  src/dnadesign/opal/tests/notebooks/test_layered_scatter_notebook.py
  src/dnadesign/opal/tests/plots/test_plot_manifest_integrity.py
  src/dnadesign/studies/units/stress_ethanol_cipro_growth/decision/opal/response_window_label_promotion/cumulative.py
  src/dnadesign/studies/units/stress_ethanol_cipro_growth/decision/opal/response_window_label_promotion/lineage.py
  src/dnadesign/studies/units/stress_ethanol_cipro_growth/decision/opal/response_window_label_promotion/materialization.py
  src/dnadesign/studies/units/stress_ethanol_cipro_growth/decision/opal/response_window_label_promotion/provenance_validation.py
Due: core, external_integration, opal

fix(opal): verify selection batch provenance
  src/dnadesign/opal/docs/reference/data-contracts.md
  src/dnadesign/opal/src/reporting/selection_batch_contract.py
  src/dnadesign/opal/src/reporting/selection_batch_verification.py
  src/dnadesign/opal/src/reporting/selection_set.py
  src/dnadesign/opal/src/runtime/round/stages/selection_allocation.py
  src/dnadesign/opal/src/runtime/round/stages/selection_allocation_contracts.py
  src/dnadesign/opal/src/runtime/round/writebacks.py
  src/dnadesign/opal/tests/cli/test_cli_selection_set.py
  src/dnadesign/opal/tests/reporting/test_notebook.py
  src/dnadesign/opal/tests/runtime/test_selection_batch_allocation.py
Due: core, external_integration, opal

feat(opal): tighten campaign review deliverables
  src/dnadesign/opal/campaigns/secg_rmf_greedy/README.md
  src/dnadesign/opal/campaigns/secg_rmf_greedy/configs/plots.yaml
  src/dnadesign/opal/src/analysis/notebook_components/__init__.py
  src/dnadesign/opal/src/analysis/notebook_components/_support.py
  src/dnadesign/opal/src/analysis/notebook_components/baserender.py
  src/dnadesign/opal/src/analysis/notebook_components/baserender_campaign_context.py
  src/dnadesign/opal/src/analysis/notebook_components/baserender_diagnostics.py
  src/dnadesign/opal/src/analysis/notebook_components/baserender_record_selection.py
  src/dnadesign/opal/src/analysis/notebook_components/baserender_record_sources.py
  src/dnadesign/opal/src/analysis/notebook_components/baserender_record_validation.py
  src/dnadesign/opal/src/analysis/notebook_components/baserender_records.py
  src/dnadesign/opal/src/analysis/notebook_components/baserender_render.py
  src/dnadesign/opal/src/analysis/notebook_components/baserender_selection_scope.py
  src/dnadesign/opal/src/analysis/notebook_components/baserender_selector.py
  src/dnadesign/opal/src/analysis/notebook_components/campaign_set_baserender.py
  src/dnadesign/opal/src/analysis/notebook_components/review_controls.py
  src/dnadesign/opal/src/analysis/notebook_components/selection_batch.py
  src/dnadesign/opal/src/analysis/notebook_components/selection_batch_panel.py
  src/dnadesign/opal/src/analysis/notebook_components/visual_panel.py
  src/dnadesign/opal/src/analysis/notebook_set_template/baserender_campaign_scope_cells.py
  src/dnadesign/opal/src/analysis/notebook_set_template/baserender_record_cells.py
  src/dnadesign/opal/src/analysis/notebook_set_template/baserender_scope_cells.py
  src/dnadesign/opal/src/analysis/notebook_set_template/layout_cells.py
  src/dnadesign/opal/src/analysis/notebook_set_template/setup_cells.py
  src/dnadesign/opal/src/analysis/notebook_set_template/visual_cells.py
  src/dnadesign/opal/src/analysis/notebook_set_template/visual_panel_cells.py
  src/dnadesign/opal/src/plots/response_magnitude_feasibility.py
  src/dnadesign/opal/src/plots/scatter_score_vs_rank.py
  src/dnadesign/opal/tests/notebooks/test_notebook_template.py
  src/dnadesign/opal/tests/plots/test_response_magnitude_feasibility_plots.py
Due: core, external_integration, opal

fix(opal): clarify campaign review evidence
  src/dnadesign/opal/src/reporting/review.py
  src/dnadesign/opal/src/reporting/review_plots.py
  src/dnadesign/opal/tests/reporting/test_review.py
Due: core, external_integration, opal

fix(opal): preserve review control state
  src/dnadesign/opal/src/analysis/notebook_components/layered_scatter_controls.py
  src/dnadesign/opal/src/analysis/notebook_components/review_controls.py
  src/dnadesign/opal/src/analysis/notebook_components/selection_batch.py
  src/dnadesign/opal/src/analysis/notebook_set_template/layered_scatter_cells.py
  src/dnadesign/opal/src/analysis/notebook_set_template/layout_cells.py
  src/dnadesign/opal/src/analysis/notebook_set_template/visual_selector_cells.py
  src/dnadesign/opal/tests/notebooks/test_layered_scatter_notebook.py
  src/dnadesign/opal/tests/notebooks/test_notebook_template.py
Due: core, external_integration, opal

fix(opal): enforce objective plot families
  src/dnadesign/opal/src/cli/commands/plot.py
  src/dnadesign/opal/src/objectives/response_magnitude_feasibility_v1.py
  src/dnadesign/opal/src/objectives/sfxi_v1.py
  src/dnadesign/opal/src/plots/api.py
  src/dnadesign/opal/src/plots/response_magnitude_feasibility.py
  src/dnadesign/opal/src/plots/runner.py
  src/dnadesign/opal/src/registries/__init__.py
  src/dnadesign/opal/src/registries/objectives.py
  src/dnadesign/opal/tests/cli/test_cli_plot.py
  src/dnadesign/opal/tests/objectives/test_objective_contract_v2.py
  src/dnadesign/opal/tests/plots/test_response_magnitude_feasibility_plots.py
Due: core, external_integration, opal

fix(opal): retain scatter controls across views
  src/dnadesign/opal/src/analysis/notebook_components/layered_scatter.py
  src/dnadesign/opal/tests/notebooks/test_layered_scatter_notebook.py
Due: core, external_integration, opal

style(opal): refine RMF review figures
  docs/studies/stress_ethanol_cipro_growth/contexts/opal/response-magnitude-feasibility.md
  src/dnadesign/opal/campaigns/secg_rmf_greedy/configs/plots.yaml
  src/dnadesign/opal/src/analysis/notebook_components/layered_scatter_rendering.py
  src/dnadesign/opal/src/plots/_mpl_utils.py
  src/dnadesign/opal/src/plots/response_magnitude_feasibility.py
  src/dnadesign/opal/src/plots/scatter_score_vs_rank.py
  src/dnadesign/opal/tests/notebooks/test_layered_scatter_notebook.py
  src/dnadesign/opal/tests/plots/test_response_magnitude_feasibility_plots.py
  src/dnadesign/opal/tests/plots/test_scatter_score_vs_rank.py
Due: core, external_integration, opal

fix(ops): honor explicit relative path base
  src/dnadesign/ops/status/path_ref.py
  src/dnadesign/ops/tests/test_progress_cli.py
  src/dnadesign/ops/tests/test_status_path_ref.py
Due: core, external_integration

feat(opal): add digest-bound objective history
  src/dnadesign/opal/api/__init__.py
  src/dnadesign/opal/api/observed_objective_history.py
  src/dnadesign/opal/docs/reference/plots.md
  src/dnadesign/opal/src/analysis/notebook_components/plot_text.py
  src/dnadesign/opal/src/analysis/observed_objective_history/__init__.py
  src/dnadesign/opal/src/analysis/observed_objective_history/projection.py
  src/dnadesign/opal/src/objectives/response_magnitude_feasibility_v1.py
  src/dnadesign/opal/src/plots/_mpl_utils.py
  src/dnadesign/opal/src/plots/observed_objective_over_rounds.py
  src/dnadesign/opal/src/registries/__init__.py
  src/dnadesign/opal/src/registries/objectives.py
  src/dnadesign/opal/tests/analysis/test_observed_objective_history.py
  src/dnadesign/opal/tests/api/test_observed_objective_history_api.py
  src/dnadesign/opal/tests/objectives/test_observed_replay_contract.py
  src/dnadesign/opal/tests/plots/test_observed_objective_over_rounds.py
Due: core, external_integration, opal

feat(eco1): improve selection and handoff evidence
  docs/studies/eco1_rt_repack/record/status.md
  src/dnadesign/studies/units/eco1_rt_repack/operations/materialization/review_deliverables/notebook_runtime.py
  src/dnadesign/studies/units/eco1_rt_repack/operations/materialization/selection_readiness/mutation_distance_plot.py
  src/dnadesign/studies/units/eco1_rt_repack/operations/materialization/selection_readiness/plot_support.py
  src/dnadesign/studies/units/eco1_rt_repack/operations/materialization/selection_readiness/plots.py
  src/dnadesign/studies/units/eco1_rt_repack/operations/materialization/selection_readiness/sequence_distance_plot.py
  src/dnadesign/studies/units/eco1_rt_repack/operations/materialization/selection_readiness/visual_inventory.py
  src/dnadesign/studies/units/eco1_rt_repack/operations/materialization/twist_handoff/genbank_export.py
  src/dnadesign/studies/units/eco1_rt_repack/tests/architecture/test_selection_materialization_layout.py
  src/dnadesign/studies/units/eco1_rt_repack/tests/materialization/selection_readiness/_materialization_assertions.py
  src/dnadesign/studies/units/eco1_rt_repack/tests/materialization/selection_readiness/test_distance_plot_data.py
  src/dnadesign/studies/units/eco1_rt_repack/tests/materialization/selection_readiness/test_plot_data.py
  src/dnadesign/studies/units/eco1_rt_repack/tests/materialization/twist_handoff/_assertions.py
  src/dnadesign/studies/units/eco1_rt_repack/tests/materialization/twist_handoff/_fixtures.py
  src/dnadesign/studies/units/eco1_rt_repack/tests/materialization/twist_handoff/test_materialization.py
Due: core, external_integration

refactor(eco1): split review rendering contracts
  src/dnadesign/studies/units/eco1_rt_repack/operations/materialization/review_deliverables/communication_visuals/proposal_backbone_cycle.py
  src/dnadesign/studies/units/eco1_rt_repack/operations/materialization/review_deliverables/communication_visuals/proposal_backbone_script.py
  src/dnadesign/studies/units/eco1_rt_repack/operations/materialization/shared/policy_visuals.py
  src/dnadesign/studies/units/eco1_rt_repack/tests/architecture/test_package_layout.py
  src/dnadesign/studies/units/eco1_rt_repack/tests/materialization/review_deliverables/test_proposal_backbone_cycle.py
  src/dnadesign/studies/units/eco1_rt_repack/tests/materialization/review_deliverables/test_proposal_backbone_validation.py
  src/dnadesign/studies/units/eco1_rt_repack/tests/materialization/selection_readiness/test_mutation_distance_contract.py
  src/dnadesign/studies/units/eco1_rt_repack/tests/materialization/selection_readiness/test_panel_selection_order.py
  src/dnadesign/studies/units/eco1_rt_repack/tests/materialization/selection_readiness/test_triage_contract.py
  src/dnadesign/studies/units/eco1_rt_repack/tests/materialization/selection_readiness/test_wang_alpha1_review_contract.py
Due: core, external_integration

fix(packaging): include Eco1 notebook template
  pyproject.toml
  src/dnadesign/studies/tests/test_package_data_contract.py
Due: core, external_integration

test(study): bind synthesis fixtures to run artifacts
  src/dnadesign/studies/units/stress_ethanol_cipro_growth/tests/decision/opal/synthesis_handoff/test_synthesis_handoff_contracts.py
Due: core, external_integration

docs(stress-study): clarify RMF off-state contract
  docs/studies/stress_ethanol_cipro_growth/contexts/opal/response-magnitude-feasibility.md
Due: none

Add threshold-free multistate behavior objective
  src/dnadesign/opal/__init__.py
  src/dnadesign/opal/api/__init__.py
  src/dnadesign/opal/api/multistate_response_behavior.py
  src/dnadesign/opal/docs/index.md
  src/dnadesign/opal/docs/plugins/objectives/README.md
  src/dnadesign/opal/docs/plugins/objectives/multistate-response-behavior.md
  src/dnadesign/opal/src/config/plugin_schemas.py
  src/dnadesign/opal/src/objectives/__init__.py
  src/dnadesign/opal/src/objectives/multistate_response_behavior_math.py
  src/dnadesign/opal/src/objectives/multistate_response_behavior_v1.py
  src/dnadesign/opal/tests/config/test_config_selection_view_plugins.py
  src/dnadesign/opal/tests/objectives/test_objective_multistate_response_behavior_v1.py
Due: core, external_integration, opal

fix(eco1): preserve resumable Biohub evidence
  src/dnadesign/studies/units/eco1_rt_repack/operations/materialization/biohub_esmc_sequence_pseudolikelihood/pipeline.py
  src/dnadesign/studies/units/eco1_rt_repack/operations/materialization/biohub_esmc_wt_mutation_scoring/pipeline.py
  src/dnadesign/studies/units/eco1_rt_repack/tests/materialization/biohub_esmc_sequence_pseudolikelihood/test_materialization.py
  src/dnadesign/studies/units/eco1_rt_repack/tests/materialization/biohub_esmc_wt_mutation_scoring/_fixtures.py
  src/dnadesign/studies/units/eco1_rt_repack/tests/materialization/biohub_esmc_wt_mutation_scoring/test_materialization.py
Due: core, external_integration

Add study-owned multistate behavior shadow protocol
  docs/studies/stress_ethanol_cipro_growth/contexts/opal/README.md
  docs/studies/stress_ethanol_cipro_growth/contexts/opal/multistate-response-behavior.md
  docs/studies/stress_ethanol_cipro_growth/contexts/opal/response-magnitude-feasibility.md
  docs/studies/stress_ethanol_cipro_growth/contexts/opal/response-metastudy.md
  src/dnadesign/studies/units/stress_ethanol_cipro_growth/decision/opal/response_metastudy/README.md
  src/dnadesign/studies/units/stress_ethanol_cipro_growth/decision/opal/response_metastudy/config/multistate_response_behavior_shadow_v1.yaml
  src/dnadesign/studies/units/stress_ethanol_cipro_growth/decision/opal/response_metastudy/evaluation/__init__.py
  src/dnadesign/studies/units/stress_ethanol_cipro_growth/decision/opal/response_metastudy/evaluation/multistate_behavior_cohort.py
  src/dnadesign/studies/units/stress_ethanol_cipro_growth/decision/opal/response_metastudy/evaluation/multistate_behavior_comparison.py
  src/dnadesign/studies/units/stress_ethanol_cipro_growth/decision/opal/response_metastudy/evaluation/multistate_behavior_event.py
  src/dnadesign/studies/units/stress_ethanol_cipro_growth/decision/opal/response_metastudy/evaluation/multistate_behavior_normalization.py
  src/dnadesign/studies/units/stress_ethanol_cipro_growth/decision/opal/response_metastudy/evaluation/multistate_behavior_normalization_protocol.py
  src/dnadesign/studies/units/stress_ethanol_cipro_growth/decision/opal/response_metastudy/evaluation/multistate_behavior_protocol.py
  src/dnadesign/studies/units/stress_ethanol_cipro_growth/decision/opal/response_metastudy/evaluation/multistate_behavior_protocol_fields.py
  src/dnadesign/studies/units/stress_ethanol_cipro_growth/decision/opal/response_metastudy/evaluation/multistate_behavior_rows.py
  src/dnadesign/studies/units/stress_ethanol_cipro_growth/decision/opal/response_metastudy/evaluation/multistate_behavior_shadow.py
  src/dnadesign/studies/units/stress_ethanol_cipro_growth/decision/opal/response_metastudy/evaluation/multistate_behavior_stability.py
  src/dnadesign/studies/units/stress_ethanol_cipro_growth/decision/opal/response_metastudy/multistate_behavior_cli.py
  src/dnadesign/studies/units/stress_ethanol_cipro_growth/decision/opal/response_metastudy/runtime/multistate_behavior_bundle_contract.py
  src/dnadesign/studies/units/stress_ethanol_cipro_growth/decision/opal/response_metastudy/runtime/multistate_behavior_bundle_verification.py
  src/dnadesign/studies/units/stress_ethanol_cipro_growth/decision/opal/response_metastudy/runtime/multistate_behavior_censor.py
  src/dnadesign/studies/units/stress_ethanol_cipro_growth/decision/opal/response_metastudy/runtime/multistate_behavior_event_verification.py
  src/dnadesign/studies/units/stress_ethanol_cipro_growth/decision/opal/response_metastudy/runtime/multistate_behavior_json.py
  src/dnadesign/studies/units/stress_ethanol_cipro_growth/decision/opal/response_metastudy/runtime/multistate_behavior_normalization_verification.py
  src/dnadesign/studies/units/stress_ethanol_cipro_growth/decision/opal/response_metastudy/runtime/multistate_behavior_prediction.py
  src/dnadesign/studies/units/stress_ethanol_cipro_growth/decision/opal/response_metastudy/runtime/multistate_behavior_publication.py
  src/dnadesign/studies/units/stress_ethanol_cipro_growth/decision/opal/response_metastudy/runtime/multistate_behavior_record_fields.py
  src/dnadesign/studies/units/stress_ethanol_cipro_growth/decision/opal/response_metastudy/runtime/multistate_behavior_run_contract.py
  src/dnadesign/studies/units/stress_ethanol_cipro_growth/decision/opal/response_metastudy/runtime/multistate_behavior_semantic_verification.py
  src/dnadesign/studies/units/stress_ethanol_cipro_growth/decision/opal/response_metastudy/runtime/multistate_behavior_shadow.py
  src/dnadesign/studies/units/stress_ethanol_cipro_growth/decision/opal/response_metastudy/runtime/multistate_behavior_source_receipt.py
  src/dnadesign/studies/units/stress_ethanol_cipro_growth/decision/opal/response_metastudy/runtime/multistate_behavior_table_coverage.py
  src/dnadesign/studies/units/stress_ethanol_cipro_growth/decision/opal/response_metastudy/runtime/multistate_behavior_table_derivations.py
  src/dnadesign/studies/units/stress_ethanol_cipro_growth/decision/opal/response_metastudy/runtime/multistate_behavior_table_provenance.py
  src/dnadesign/studies/units/stress_ethanol_cipro_growth/decision/opal/response_metastudy/runtime/multistate_behavior_table_schema.py
  src/dnadesign/studies/units/stress_ethanol_cipro_growth/tests/decision/opal/response_metastudy/test_architecture.py
  src/dnadesign/studies/units/stress_ethanol_cipro_growth/tests/decision/opal/response_metastudy/test_multistate_behavior_prediction.py
  src/dnadesign/studies/units/stress_ethanol_cipro_growth/tests/decision/opal/response_metastudy/test_multistate_behavior_shadow.py
Due: core, external_integration

Path conditions:
  core: any of: src/dnadesign
  external_integration: any of: src/dnadesign
  usr: any of: src/dnadesign/usr/**
  notify: any of: src/dnadesign/notify/**
  densegen: any of: src/dnadesign/densegen/**
  infer: any of: src/dnadesign/infer/**
  opal: any of: src/dnadesign/opal/**
  cluster: any of: src/dnadesign/cluster/**
  billboard: any of: src/dnadesign/billboard/**
  libshuffle: any of: src/dnadesign/libshuffle/**
  nmf: any of: src/dnadesign/nmf/**
  latdna: any of: src/dnadesign/latdna/**
  cruncher: any of: src/dnadesign/cruncher/**
  tfkdanalysis: any of: src/dnadesign/tfkdanalysis/**
  aligner: any of: src/dnadesign/aligner/**
  baserender: any of: src/dnadesign/baserender/**
  permuter: any of: src/dnadesign/permuter/**
