Repository e-south/dnadesign: changes, and which Codecov flags are due for each by the changed paths.
All: core, external_integration, usr, notify, densegen, infer, opal, cluster, billboard, libshuffle, nmf, latdna, cruncher, tfkdanalysis, aligner, baserender, permuter

squash-reconcile: restore original tip tree after conflict resolutions
  images/sequence_program_composition.png
  src/dnadesign/baserender/src/adapters/densegen_tfbs.py
  src/dnadesign/densegen/docs/reference/cli.md
  src/dnadesign/densegen/docs/tutorials/demo_sampling_baseline.md
  src/dnadesign/densegen/docs/tutorials/demo_tfbs_baseline.md
  src/dnadesign/densegen/docs/tutorials/study_constitutive_sigma_panel.md
  src/dnadesign/densegen/docs/tutorials/study_stress_ethanol_cipro.md
  src/dnadesign/densegen/src/cli/notebook_cells_template_base.py
  src/dnadesign/densegen/src/cli/notebook_cells_template_gallery.py
  src/dnadesign/densegen/src/cli/run.py
  src/dnadesign/densegen/src/viz/plot_run.py
  src/dnadesign/densegen/src/viz/plot_run_panels.py
  src/dnadesign/densegen/tests/cli/test_cli_report_plots.py
  src/dnadesign/densegen/tests/cli/test_cli_run_modes.py
  src/dnadesign/densegen/tests/config/test_demo_config.py
  src/dnadesign/densegen/tests/docs/test_densegen_docs_ia_contracts.py
  src/dnadesign/densegen/tests/docs/test_densegen_docs_progressive_disclosure_contracts.py
  src/dnadesign/densegen/tests/docs/test_densegen_docs_snippet_contracts.py
  src/dnadesign/densegen/tests/docs/test_workspace_runbook_contracts.py
  src/dnadesign/densegen/tests/runtime/test_notebook_render_contract.py
  src/dnadesign/densegen/workspaces/_shared/runbook_lib.sh
  src/dnadesign/densegen/workspaces/demo_sampling_baseline/runbook.md
  src/dnadesign/densegen/workspaces/demo_sampling_baseline/runbook.sh
  src/dnadesign/densegen/workspaces/demo_tfbs_baseline/runbook.md
  src/dnadesign/densegen/workspaces/demo_tfbs_baseline/runbook.sh
  src/dnadesign/densegen/workspaces/study_constitutive_sigma_panel/config.yaml
  src/dnadesign/densegen/workspaces/study_constitutive_sigma_panel/runbook.md
  src/dnadesign/densegen/workspaces/study_constitutive_sigma_panel/runbook.sh
  src/dnadesign/densegen/workspaces/study_stress_ethanol_cipro/runbook.md
  src/dnadesign/densegen/workspaces/study_stress_ethanol_cipro/runbook.sh
  src/dnadesign/usr/src/cli.py
  src/dnadesign/usr/src/cli_commands/deps.py
  src/dnadesign/usr/tests/test_cli_deps_module_layout.py
  src/dnadesign/usr/tests/test_module_layout.py
Due: core, external_integration, usr, densegen, baserender

Fix DenseGen workspace catalog link target in CI
  .gitignore
  src/dnadesign/densegen/workspaces/catalog.md
Due: core, external_integration, densegen

Declare DenseGen to BaseRender boundary edge
  src/dnadesign/devtools/architecture_boundaries.py
Due: core, external_integration

Stabilize CI contracts for docs, quotas, and CLI help
  src/dnadesign/cruncher/docs/README.md
  src/dnadesign/densegen/tests/config/test_demo_config.py
  src/dnadesign/densegen/tests/runtime/test_run_diagnostics_plots.py
  src/dnadesign/usr/tests/test_cli_typer.py
Due: core, external_integration, usr, densegen, cruncher

Clarify installation support for Linux and WSL
  README.md
  docs/README.md
  docs/dependencies.md
  docs/installation.md
Due: none

Refine installation flow and remove redundant docs link
  README.md
  docs/installation.md
Due: none

Simplify install flow and decouple pixi verification
  docs/dependencies.md
  docs/installation.md
Due: none

Enforce fail-fast secrets hygiene in notify and CI
  .github/workflows/ci.yaml
  .secrets.baseline
  SECURITY.md
  src/dnadesign/devtools/secrets_baseline_check.py
  src/dnadesign/devtools/tests/test_ci_workflow_contract.py
  src/dnadesign/devtools/tests/test_secrets_baseline_check.py
  src/dnadesign/notify/profile_flows.py
  src/dnadesign/notify/tests/test_profile_flows_module.py
Due: core, external_integration, notify

baserender: stabilize trajectory video layout and inset rendering
  src/dnadesign/baserender/src/adapters/generic_features.py
  src/dnadesign/baserender/src/adapters/sequence_windows_v1.py
  src/dnadesign/baserender/src/config/cruncher_showcase_job.py
  src/dnadesign/baserender/src/core/__init__.py
  src/dnadesign/baserender/src/core/record.py
  src/dnadesign/baserender/src/outputs.py
  src/dnadesign/baserender/src/pipeline/selection.py
  src/dnadesign/baserender/src/render/layout.py
  src/dnadesign/baserender/src/render/sequence_rows.py
  src/dnadesign/baserender/src/showcase_style.py
  src/dnadesign/baserender/tests/test_sequence_rows_trajectory_inset.py
  src/dnadesign/baserender/tests/test_video_frame_sizing.py
Due: core, external_integration, baserender

cruncher: add best-chain trajectory video analysis artifact
  src/dnadesign/cruncher/src/analysis/plot_registry.py
  src/dnadesign/cruncher/src/analysis/trajectory_video.py
  src/dnadesign/cruncher/src/app/analyze_workflow.py
  src/dnadesign/cruncher/src/config/schema_v3.py
  src/dnadesign/cruncher/tests/analysis/test_analysis_artifacts.py
  src/dnadesign/cruncher/tests/analysis/test_trajectory_video.py
  src/dnadesign/cruncher/tests/config/test_compute_config.py
Due: core, external_integration, cruncher

cruncher: document workspace video analysis workflow
  src/dnadesign/cruncher/docs/demos/demo_multitf.md
  src/dnadesign/cruncher/docs/demos/demo_pairwise.md
  src/dnadesign/cruncher/docs/reference/config.md
  src/dnadesign/cruncher/docs/reference/runbook_steps.md
  src/dnadesign/cruncher/workspaces/README.md
  src/dnadesign/cruncher/workspaces/demo_multitf/configs/runbook.yaml
  src/dnadesign/cruncher/workspaces/demo_multitf/runbook.md
  src/dnadesign/cruncher/workspaces/demo_pairwise/configs/runbook.yaml
  src/dnadesign/cruncher/workspaces/demo_pairwise/runbook.md
  src/dnadesign/cruncher/workspaces/multitf_baer_lexa_soxr/configs/runbook.yaml
  src/dnadesign/cruncher/workspaces/multitf_baer_lexa_soxr/runbook.md
  src/dnadesign/cruncher/workspaces/multitf_baer_lexa_soxr_soxs/configs/runbook.yaml
  src/dnadesign/cruncher/workspaces/multitf_baer_lexa_soxr_soxs/runbook.md
  src/dnadesign/cruncher/workspaces/multitf_cpxr_baer_lexa/configs/runbook.yaml
  src/dnadesign/cruncher/workspaces/multitf_cpxr_baer_lexa/runbook.md
  src/dnadesign/cruncher/workspaces/pairwise_baer_lexa/configs/runbook.yaml
  src/dnadesign/cruncher/workspaces/pairwise_baer_lexa/runbook.md
  src/dnadesign/cruncher/workspaces/pairwise_baer_soxr/configs/runbook.yaml
  src/dnadesign/cruncher/workspaces/pairwise_baer_soxr/runbook.md
  src/dnadesign/cruncher/workspaces/pairwise_cpxr_baer/configs/runbook.yaml
  src/dnadesign/cruncher/workspaces/pairwise_cpxr_baer/runbook.md
  src/dnadesign/cruncher/workspaces/pairwise_cpxr_lexa/configs/runbook.yaml
  src/dnadesign/cruncher/workspaces/pairwise_cpxr_lexa/runbook.md
  src/dnadesign/cruncher/workspaces/pairwise_cpxr_soxr/configs/runbook.yaml
  src/dnadesign/cruncher/workspaces/pairwise_cpxr_soxr/runbook.md
  src/dnadesign/cruncher/workspaces/pairwise_laci_arac/configs/runbook.yaml
  src/dnadesign/cruncher/workspaces/pairwise_laci_arac/runbook.md
  src/dnadesign/cruncher/workspaces/pairwise_soxr_soxs/configs/runbook.yaml
  src/dnadesign/cruncher/workspaces/pairwise_soxr_soxs/runbook.md
  src/dnadesign/cruncher/workspaces/project_tfs_lexa_cpxr_baer_rcda_lrp_fur_fnr_acrr_soxr_soxs/configs/config.yaml
  src/dnadesign/cruncher/workspaces/project_tfs_lexa_cpxr_baer_rcda_lrp_fur_fnr_acrr_soxr_soxs/configs/runbook.yaml
  src/dnadesign/cruncher/workspaces/project_tfs_lexa_cpxr_baer_rcda_lrp_fur_fnr_acrr_soxr_soxs/runbook.md
Due: core, external_integration, cruncher

densegen: add workspace-scoped dense array video plot
  src/dnadesign/densegen/src/config/plots.py
  src/dnadesign/densegen/src/viz/dense_array_video.py
  src/dnadesign/densegen/src/viz/plot_registry.py
  src/dnadesign/densegen/src/viz/plotting.py
  src/dnadesign/densegen/tests/config/test_config_strict.py
  src/dnadesign/densegen/tests/plotting/test_dense_array_video.py
  src/dnadesign/densegen/tests/plotting/test_plot_registry.py
Due: core, external_integration, densegen

densegen: document video analysis options in demos and runbooks
  src/dnadesign/baserender/src/render/sequence_rows.py
  src/dnadesign/baserender/tests/test_sequence_rows_trajectory_inset.py
  src/dnadesign/densegen/docs/howto/cruncher_pwm_pipeline.md
  src/dnadesign/densegen/docs/howto/hpc.md
  src/dnadesign/densegen/docs/reference/cli.md
  src/dnadesign/densegen/docs/reference/config.md
  src/dnadesign/densegen/docs/reference/outputs.md
  src/dnadesign/densegen/docs/tutorials/demo_sampling_baseline.md
  src/dnadesign/densegen/docs/tutorials/demo_tfbs_baseline.md
  src/dnadesign/densegen/docs/tutorials/study_constitutive_sigma_panel.md
  src/dnadesign/densegen/docs/tutorials/study_stress_ethanol_cipro.md
  src/dnadesign/densegen/workspaces/README.md
  src/dnadesign/densegen/workspaces/demo_sampling_baseline/config.yaml
  src/dnadesign/densegen/workspaces/demo_sampling_baseline/runbook.md
  src/dnadesign/densegen/workspaces/demo_tfbs_baseline/config.yaml
  src/dnadesign/densegen/workspaces/demo_tfbs_baseline/runbook.md
  src/dnadesign/densegen/workspaces/study_constitutive_sigma_panel/config.yaml
  src/dnadesign/densegen/workspaces/study_constitutive_sigma_panel/runbook.md
  src/dnadesign/densegen/workspaces/study_stress_ethanol_cipro/config.yaml
  src/dnadesign/densegen/workspaces/study_stress_ethanol_cipro/runbook.md
Due: core, external_integration, densegen, baserender

refactor(cruncher): split trajectory score-space plotting modules
  src/dnadesign/cruncher/src/analysis/plots/opt_trajectory.py
  src/dnadesign/cruncher/src/analysis/plots/trajectory_score_space.py
  src/dnadesign/cruncher/src/analysis/plots/trajectory_score_space_panel.py
  src/dnadesign/cruncher/src/analysis/plots/trajectory_score_space_plot.py
  src/dnadesign/cruncher/src/app/analyze_workflow.py
  src/dnadesign/cruncher/tests/analysis/test_analysis_artifacts.py
  src/dnadesign/cruncher/tests/analysis/test_trajectory_plots.py
  src/dnadesign/cruncher/tests/analysis/test_trajectory_score_space_boundaries.py
  src/dnadesign/cruncher/tests/analysis/test_trajectory_score_space_panel_boundaries.py
  src/dnadesign/cruncher/tests/analysis/test_trajectory_score_space_plot_boundaries.py
  src/dnadesign/cruncher/tests/app/test_output_layout_contract.py
Due: core, external_integration, cruncher

refactor(cruncher): extract trajectory video timeline and contract helpers
  src/dnadesign/cruncher/src/analysis/trajectory_video.py
  src/dnadesign/cruncher/src/analysis/trajectory_video_contract.py
  src/dnadesign/cruncher/src/analysis/trajectory_video_timeline.py
  src/dnadesign/cruncher/tests/analysis/test_trajectory_video.py
  src/dnadesign/cruncher/tests/analysis/test_trajectory_video_boundaries.py
Due: core, external_integration, cruncher

docs(cruncher): document trajectory video outputs and module layout
  src/dnadesign/cruncher/docs/dev/journal.md
  src/dnadesign/cruncher/docs/guides/sampling_and_analysis.md
  src/dnadesign/cruncher/docs/reference/architecture.md
  src/dnadesign/cruncher/docs/reference/artifacts.md
  src/dnadesign/cruncher/docs/reference/cli.md
  src/dnadesign/cruncher/docs/reference/config.md
Due: core, external_integration, cruncher

Harden notify docs with prompt-to-command router contracts
  docs/notify/README.md
  src/dnadesign/notify/tests/test_notify_docs_progressive_disclosure_contracts.py
Due: core, external_integration, notify

Extract notify watch runner input resolution module
  src/dnadesign/notify/runtime/watch_runner.py
  src/dnadesign/notify/runtime/watch_runner_inputs.py
  src/dnadesign/notify/tests/test_cli_watch_runtime_layout.py
Due: core, external_integration, notify

Split notify CLI profile tests by command surface
  src/dnadesign/notify/tests/test_cli_profile_doctor.py
  src/dnadesign/notify/tests/test_cli_profile_init.py
  src/dnadesign/notify/tests/test_cli_profile_runtime_defaults.py
  src/dnadesign/notify/tests/test_cli_profile_wizard.py
  src/dnadesign/notify/tests/test_cli_profiles.py
  src/dnadesign/notify/tests/test_cli_setup.py
  src/dnadesign/notify/tests/test_test_suite_layout.py
Due: core, external_integration, notify

Split notify profile schema into contract reader and resolver
  src/dnadesign/notify/profiles/schema/__init__.py
  src/dnadesign/notify/profiles/schema/contract.py
  src/dnadesign/notify/profiles/schema/reader.py
  src/dnadesign/notify/profiles/schema/resolver.py
  src/dnadesign/notify/tests/test_package_layout.py
Due: core, external_integration, notify

refactor(cruncher): split analyze plotting and output publication
  src/dnadesign/cruncher/docs/reference/architecture.md
  src/dnadesign/cruncher/src/app/analyze/plotting.py
  src/dnadesign/cruncher/src/app/analyze/plotting_registry.py
  src/dnadesign/cruncher/src/app/analyze/plotting_static.py
  src/dnadesign/cruncher/src/app/analyze/plotting_trajectory.py
  src/dnadesign/cruncher/src/app/analyze/publish.py
  src/dnadesign/cruncher/src/app/analyze_workflow.py
  src/dnadesign/cruncher/tests/analysis/test_analysis_artifacts.py
  src/dnadesign/cruncher/tests/analysis/test_analyze_import_contract.py
Due: core, external_integration, cruncher

docs(cruncher): add progressive disclosure contract routing
  src/dnadesign/cruncher/README.md
  src/dnadesign/cruncher/docs/README.md
  src/dnadesign/cruncher/tests/docs/test_docs_path_contracts.py
Due: core, external_integration, cruncher

Split notify CLI deps by domain
  src/dnadesign/notify/cli/bindings/deps.py
  src/dnadesign/notify/cli/bindings/deps/__init__.py
  src/dnadesign/notify/cli/bindings/deps/profile.py
  src/dnadesign/notify/cli/bindings/deps/runtime.py
  src/dnadesign/notify/cli/bindings/deps/send.py
  src/dnadesign/notify/cli/bindings/deps/setup.py
  src/dnadesign/notify/tests/test_cli_module_layout.py
Due: core, external_integration, notify

Harden notify usr interface docs and infer watch coverage
  docs/notify/README.md
  src/dnadesign/notify/README.md
  src/dnadesign/notify/tests/test_cli_usr_events.py
  src/dnadesign/notify/tests/test_notify_docs_progressive_disclosure_contracts.py
Due: core, external_integration, notify

Retire in-repo SCC skill artifacts and update refs
  AGENTS.md
  ARCHITECTURE.md
  docs/bu-scc/README.md
  docs/bu-scc/sge-hpc-ops/SKILL.md
  docs/bu-scc/sge-hpc-ops/agents/openai.yaml
  docs/bu-scc/sge-hpc-ops/references/README.md
  docs/bu-scc/sge-hpc-ops/references/workload-dnadesign.md
  docs/hpc/skills/bu_scc_ops/SKILL.md
  docs/hpc/skills/bu_scc_ops/references/resource-profiles.md
Due: none

Add queue-fair submission pressure guidance to BU SCC docs
  docs/bu-scc/agent-cheatsheet.md
  docs/bu-scc/batch-notify.md
  docs/bu-scc/fixtures/qstat_high_pressure.fixture
  docs/bu-scc/quickstart.md
Due: none

Improve DenseGen SCC discoverability and docs contracts
  docs/README.md
  src/dnadesign/densegen/README.md
  src/dnadesign/densegen/docs/tutorials/study_stress_ethanol_cipro.md
  src/dnadesign/densegen/tests/docs/test_bu_scc_docs_contracts.py
Due: core, external_integration, densegen

Integrate wsl-installation security and install flow updates
  .github/workflows/ci.yaml
  .secrets.baseline
  SECURITY.md
  src/dnadesign/devtools/secrets_baseline_check.py
  src/dnadesign/devtools/tests/test_ci_workflow_contract.py
  src/dnadesign/devtools/tests/test_secrets_baseline_check.py
  src/dnadesign/notify/profiles/flow_webhook.py
  src/dnadesign/notify/tests/test_profile_flows_module.py
Due: core, external_integration, notify

Refactor analyze workflow into typed run context modules
  src/dnadesign/cruncher/docs/reference/architecture.md
  src/dnadesign/cruncher/src/app/analyze/computation.py
  src/dnadesign/cruncher/src/app/analyze/execution.py
  src/dnadesign/cruncher/src/app/analyze/metadata.py
  src/dnadesign/cruncher/src/app/analyze/plot_resolver.py
  src/dnadesign/cruncher/src/app/analyze/rendering.py
  src/dnadesign/cruncher/src/app/analyze/run_context.py
  src/dnadesign/cruncher/src/app/analyze_workflow.py
  src/dnadesign/cruncher/tests/analysis/test_analyze_import_contract.py
  src/dnadesign/cruncher/tests/app/test_analyze_execution.py
  src/dnadesign/cruncher/tests/app/test_analyze_run_context.py
  src/dnadesign/cruncher/tests/app/test_analyze_workflow_trajectory_pair.py
Due: core, external_integration, cruncher

Harden trajectory video selection and input validation
  src/dnadesign/cruncher/docs/reference/config.md
  src/dnadesign/cruncher/src/analysis/trajectory_video.py
  src/dnadesign/cruncher/src/analysis/trajectory_video_timeline.py
  src/dnadesign/cruncher/tests/analysis/test_trajectory_video.py
Due: core, external_integration, cruncher

Update project-all-TFs workspace defaults and study bounds
  src/dnadesign/cruncher/docs/demos/project_all_tfs.md
  src/dnadesign/cruncher/tests/config/test_demo_configs_optimizer_surface.py
  src/dnadesign/cruncher/tests/config/test_workspace_sequence_length_bounds.py
  src/dnadesign/cruncher/tests/config/test_workspace_study_specs_contracts.py
  src/dnadesign/cruncher/workspaces/project_tfs_lexa_cpxr_baer_rcda_lrp_fur_fnr_acrr_soxr_soxs/configs/studies/length_vs_score.study.yaml
Due: core, external_integration, cruncher

Align baserender cruncher demo palette with canonical showcase style
  src/dnadesign/baserender/workspaces/demo_cruncher_render/job.yaml
Due: core, external_integration, baserender

Fix DenseGen sigma70 paper citation links
  src/dnadesign/densegen/docs/tutorials/study_constitutive_sigma_panel.md
  src/dnadesign/densegen/docs/tutorials/study_stress_ethanol_cipro.md
  src/dnadesign/densegen/tests/docs/test_densegen_docs_ia_contracts.py
Due: core, external_integration, densegen

Enable longer default DenseGen showcase videos in workspaces
  src/dnadesign/densegen/docs/reference/config.md
  src/dnadesign/densegen/src/config/plots.py
  src/dnadesign/densegen/tests/config/test_config_strict.py
  src/dnadesign/densegen/workspaces/demo_sampling_baseline/config.yaml
  src/dnadesign/densegen/workspaces/demo_sampling_baseline/runbook.md
  src/dnadesign/densegen/workspaces/demo_tfbs_baseline/config.yaml
  src/dnadesign/densegen/workspaces/demo_tfbs_baseline/runbook.md
  src/dnadesign/densegen/workspaces/study_constitutive_sigma_panel/config.yaml
  src/dnadesign/densegen/workspaces/study_constitutive_sigma_panel/runbook.md
  src/dnadesign/densegen/workspaces/study_stress_ethanol_cipro/config.yaml
  src/dnadesign/densegen/workspaces/study_stress_ethanol_cipro/runbook.md
Due: core, external_integration, densegen

Add narrative centered titles to DenseGen showcase video frames
  src/dnadesign/densegen/src/viz/dense_array_video.py
  src/dnadesign/densegen/tests/plotting/test_dense_array_video.py
Due: core, external_integration, densegen

Add DenseGen showcase video asset to README
  src/dnadesign/densegen/README.md
  src/dnadesign/densegen/assets/videos/demo_tfbs_baseline_showcase.mp4
Due: core, external_integration, densegen

Path conditions:
  core: any of: src/dnadesign
  external_integration: any of: src/dnadesign
  usr: any of: src/dnadesign/usr/**
  notify: any of: src/dnadesign/notify/**
  densegen: any of: src/dnadesign/densegen/**
  infer: any of: src/dnadesign/infer/**
  opal: any of: src/dnadesign/opal/**
  cluster: any of: src/dnadesign/cluster/**
  billboard: any of: src/dnadesign/billboard/**
  libshuffle: any of: src/dnadesign/libshuffle/**
  nmf: any of: src/dnadesign/nmf/**
  latdna: any of: src/dnadesign/latdna/**
  cruncher: any of: src/dnadesign/cruncher/**
  tfkdanalysis: any of: src/dnadesign/tfkdanalysis/**
  aligner: any of: src/dnadesign/aligner/**
  baserender: any of: src/dnadesign/baserender/**
  permuter: any of: src/dnadesign/permuter/**
