Repository e-south/dnadesign: changes, and which Codecov flags are due for each by the changed paths.
All: core, external_integration, usr, notify, densegen, infer, opal, cluster, billboard, libshuffle, nmf, latdna, cruncher, tfkdanalysis, aligner, baserender, permuter

Clarify YIU docs ownership and visual system
  src/dnadesign/baserender/docs/integrations/yiu.md
  src/dnadesign/baserender/tests/test_docs_contracts.py
  src/dnadesign/cruncher/docs/README.md
  src/dnadesign/cruncher/docs/demos/demo_yiu_workspace.md
  src/dnadesign/cruncher/docs/guides/yiu_workflow.md
  src/dnadesign/cruncher/docs/index.md
  src/dnadesign/cruncher/docs/reference/yiu_artifacts.md
  src/dnadesign/cruncher/docs/reference/yiu_visual_system.md
  src/dnadesign/cruncher/tests/docs/test_yiu_docs_contracts.py
Due: core, external_integration, cruncher, baserender

Harden YIU bundle publication and CLI output
  src/dnadesign/cruncher/src/app/yiu_workflow/render.py
  src/dnadesign/cruncher/src/app/yiu_workflow/staging.py
  src/dnadesign/cruncher/src/cli/commands/yiu.py
  src/dnadesign/cruncher/src/cli/yiu_presenter.py
  src/dnadesign/cruncher/src/yiu/publish_io.py
  src/dnadesign/cruncher/src/yiu/view_io.py
  src/dnadesign/cruncher/tests/yiu/test_payload_rendering.py
Due: core, external_integration, cruncher

Refactor YIU visual-system style planning
  src/dnadesign/cruncher/src/yiu/view_styles.py
  src/dnadesign/cruncher/src/yiu/visual_system.py
Due: core, external_integration, cruncher

Clarify YIU workflow docs and references
  src/dnadesign/cruncher/README.md
  src/dnadesign/cruncher/docs/README.md
  src/dnadesign/cruncher/docs/demos/demo_yiu_workspace.md
  src/dnadesign/cruncher/docs/guides/yiu_workflow.md
  src/dnadesign/cruncher/docs/index.md
  src/dnadesign/cruncher/docs/reference/cli.md
  src/dnadesign/cruncher/docs/reference/yiu_artifacts.md
  src/dnadesign/cruncher/docs/reference/yiu_spec.md
  src/dnadesign/cruncher/docs/reference/yiu_visual_system.md
  src/dnadesign/cruncher/tests/docs/test_yiu_docs_contracts.py
Due: core, external_integration, cruncher

refactor(yiu): decouple visual policy from baserender
  src/dnadesign/baserender/docs/integrations/yiu.md
  src/dnadesign/baserender/docs/reference.md
  src/dnadesign/baserender/tests/test_docs_contracts.py
  src/dnadesign/cruncher/docs/reference/yiu_visual_system.md
  src/dnadesign/cruncher/src/app/yiu_workflow/render.py
  src/dnadesign/cruncher/src/app/yiu_workflow/show.py
  src/dnadesign/cruncher/src/app/yiu_workflow/validate.py
  src/dnadesign/cruncher/src/yiu/__init__.py
  src/dnadesign/cruncher/src/yiu/integrity.py
  src/dnadesign/cruncher/src/yiu/models/bundle.py
  src/dnadesign/cruncher/src/yiu/models/payload.py
  src/dnadesign/cruncher/src/yiu/normalize.py
  src/dnadesign/cruncher/src/yiu/publish.py
  src/dnadesign/cruncher/src/yiu/view_catalog.py
  src/dnadesign/cruncher/src/yiu/view_contracts.py
  src/dnadesign/cruncher/src/yiu/view_registry.py
  src/dnadesign/cruncher/src/yiu/visual_foundations.py
  src/dnadesign/cruncher/src/yiu/visual_system.py
  src/dnadesign/cruncher/tests/core/test_baserender_import_boundary.py
  src/dnadesign/cruncher/tests/yiu/test_payload_rendering.py
Due: core, external_integration, cruncher, baserender

refactor(yiu): split bundle render pipeline
  src/dnadesign/cruncher/docs/reference/architecture.md
  src/dnadesign/cruncher/src/yiu/render.py
  src/dnadesign/cruncher/src/yiu/render_execution.py
  src/dnadesign/cruncher/src/yiu/render_plan.py
  src/dnadesign/cruncher/src/yiu/render_state.py
  src/dnadesign/cruncher/tests/docs/test_yiu_docs_contracts.py
Due: core, external_integration, cruncher

Harden YIU baserender adapter seams
  src/dnadesign/baserender/docs/integrations/yiu.md
  src/dnadesign/baserender/src/adapters/yiu_payload_motif_overlay.py
  src/dnadesign/baserender/src/adapters/yiu_payload_sequence_projection.py
  src/dnadesign/baserender/src/adapters/yiu_payload_visual_v1.py
Due: core, external_integration, baserender

Split YIU spec and payload resolution seams
  src/dnadesign/cruncher/src/yiu/candidate_generation.py
  src/dnadesign/cruncher/src/yiu/domain_models.py
  src/dnadesign/cruncher/src/yiu/input_payload_models.py
  src/dnadesign/cruncher/src/yiu/models/__init__.py
  src/dnadesign/cruncher/src/yiu/models/payload.py
  src/dnadesign/cruncher/src/yiu/payload_resolution.py
  src/dnadesign/cruncher/src/yiu/pwm_context.py
  src/dnadesign/cruncher/src/yiu/sample_hit_sources.py
  src/dnadesign/cruncher/src/yiu/scoring.py
  src/dnadesign/cruncher/src/yiu/spec_common.py
  src/dnadesign/cruncher/src/yiu/spec_input_models.py
  src/dnadesign/cruncher/src/yiu/spec_models.py
  src/dnadesign/cruncher/src/yiu/spec_pwm_models.py
  src/dnadesign/cruncher/src/yiu/spec_rendering_models.py
  src/dnadesign/cruncher/tests/core/test_yiu_module_boundaries.py
Due: core, external_integration, cruncher

Clarify YIU docs and visual system boundaries
  src/dnadesign/cruncher/docs/guides/yiu_workflow.md
  src/dnadesign/cruncher/docs/reference/architecture.md
  src/dnadesign/cruncher/docs/reference/yiu_spec.md
  src/dnadesign/cruncher/docs/reference/yiu_visual_system.md
  src/dnadesign/cruncher/src/yiu/visual_foundations.py
  src/dnadesign/cruncher/src/yiu/visual_system.py
  src/dnadesign/cruncher/tests/docs/test_yiu_demo_workspace_contracts.py
  src/dnadesign/cruncher/tests/docs/test_yiu_docs_contracts.py
  src/dnadesign/cruncher/tests/docs/test_yiu_docs_routing.py
  src/dnadesign/cruncher/tests/docs/test_yiu_reference_docs.py
  src/dnadesign/cruncher/tests/yiu/test_payload_rendering.py
Due: core, external_integration, cruncher

Harden CLI output assertions and align Codecov gating
  codecov.yml
  docs/quality/README.md
  src/dnadesign/cruncher/tests/cli/test_catalog_assets_cli.py
  src/dnadesign/cruncher/tests/cli/test_yiu_cli.py
  src/dnadesign/cruncher/tests/cli_output.py
Due: core, external_integration, cruncher

Consolidate monotypic YIU plots under outputs/plots
  src/dnadesign/cruncher/docs/demos/demo_yiu_workspace.md
  src/dnadesign/cruncher/docs/reference/runbook_steps.md
  src/dnadesign/cruncher/docs/reference/yiu_artifacts.md
  src/dnadesign/cruncher/docs/reference/yiu_spec.md
  src/dnadesign/cruncher/src/app/yiu_workflow/render.py
  src/dnadesign/cruncher/tests/config/test_demo_configs_optimizer_surface.py
  src/dnadesign/cruncher/workspaces/README.md
  src/dnadesign/cruncher/workspaces/demo_monotypic_baer/configs/runbook.yaml
  src/dnadesign/cruncher/workspaces/demo_monotypic_baer/configs/yiu/baer_monotypic_hit.yiu.yaml
  src/dnadesign/cruncher/workspaces/demo_monotypic_baer/runbook.md
  src/dnadesign/cruncher/workspaces/demo_monotypic_cpxr/configs/runbook.yaml
  src/dnadesign/cruncher/workspaces/demo_monotypic_cpxr/configs/yiu/cpxr_monotypic_hit.yiu.yaml
  src/dnadesign/cruncher/workspaces/demo_monotypic_cpxr/runbook.md
  src/dnadesign/cruncher/workspaces/demo_monotypic_lexa/configs/runbook.yaml
  src/dnadesign/cruncher/workspaces/demo_monotypic_lexa/configs/yiu/lexa_monotypic_hit.yiu.yaml
  src/dnadesign/cruncher/workspaces/demo_monotypic_lexa/runbook.md
  src/dnadesign/cruncher/workspaces/demo_monotypic_soxr/configs/runbook.yaml
  src/dnadesign/cruncher/workspaces/demo_monotypic_soxr/configs/yiu/soxr_monotypic_hit.yiu.yaml
  src/dnadesign/cruncher/workspaces/demo_monotypic_soxr/runbook.md
  src/dnadesign/cruncher/workspaces/demo_monotypic_soxs/configs/runbook.yaml
  src/dnadesign/cruncher/workspaces/demo_monotypic_soxs/configs/yiu/soxs_monotypic_hit.yiu.yaml
  src/dnadesign/cruncher/workspaces/demo_monotypic_soxs/runbook.md
  src/dnadesign/cruncher/workspaces/demo_monotypic_tetr/configs/runbook.yaml
  src/dnadesign/cruncher/workspaces/demo_monotypic_tetr/configs/yiu/tetr_monotypic_hit.yiu.yaml
  src/dnadesign/cruncher/workspaces/demo_monotypic_tetr/runbook.md
Due: core, external_integration, cruncher

Tighten YIU operator strip rendering
  src/dnadesign/baserender/src/config/style_v1.py
  src/dnadesign/baserender/src/render/sequence_rows.py
  src/dnadesign/baserender/tests/test_motif_logo_alignment.py
  src/dnadesign/baserender/tests/test_yiu_contract_jobs.py
  src/dnadesign/contracts/visual/sequence_evidence_meta.py
  src/dnadesign/cruncher/src/yiu/view_sequence_metadata.py
  src/dnadesign/cruncher/src/yiu/visual_directions.py
  src/dnadesign/cruncher/tests/yiu/test_payload_rendering.py
Due: core, external_integration, cruncher, baserender

Publish YIU junction and mismatch evidence metadata
  src/dnadesign/cruncher/src/yiu/bsmbi.py
  src/dnadesign/cruncher/src/yiu/view_sequence_contracts.py
  src/dnadesign/cruncher/src/yiu/view_sequence_metadata.py
  src/dnadesign/cruncher/tests/yiu/test_payload_rendering.py
Due: core, external_integration, cruncher

Render YIU mismatches as red strand-local highlights
  src/dnadesign/baserender/src/adapters/sequence_evidence_map_v1.py
  src/dnadesign/baserender/src/adapters/yiu_payload_sequence_projection.py
  src/dnadesign/baserender/src/render/sequence_rows.py
  src/dnadesign/baserender/tests/test_adapter_registry.py
  src/dnadesign/baserender/tests/test_yiu_contract_jobs.py
Due: core, external_integration, baserender

Harden Cruncher docs integrity checks
  src/dnadesign/cruncher/docs/demos/demo_cassette_workspace.md
  src/dnadesign/cruncher/docs/guides/cassette_solve_workflow.md
  src/dnadesign/cruncher/docs/guides/cassette_workflow.md
  src/dnadesign/cruncher/docs/reference/cassette_artifacts.md
  src/dnadesign/cruncher/docs/reference/cassette_solve_spec.md
  src/dnadesign/cruncher/docs/reference/cassette_spec.md
  src/dnadesign/cruncher/docs/reference/nickase_catalog.md
  src/dnadesign/cruncher/docs/reference/runbook_steps.md
  src/dnadesign/cruncher/src/devtools/docs_lint.py
  src/dnadesign/cruncher/tests/docs/test_docs_integrity_tools.py
Due: core, external_integration, cruncher

Refine YIU render presentation and highlighting
  src/dnadesign/baserender/src/adapters/sequence_evidence_map_v1.py
  src/dnadesign/baserender/src/adapters/yiu_payload_sequence_projection.py
  src/dnadesign/baserender/src/config/style_v1.py
  src/dnadesign/baserender/src/render/sequence_rows.py
  src/dnadesign/baserender/tests/test_adapter_registry.py
  src/dnadesign/baserender/tests/test_yiu_contract_jobs.py
  src/dnadesign/contracts/visual/sequence_evidence_meta.py
  src/dnadesign/cruncher/src/yiu/bsmbi.py
  src/dnadesign/cruncher/src/yiu/render_panels.py
  src/dnadesign/cruncher/src/yiu/view_payload_content.py
  src/dnadesign/cruncher/src/yiu/view_sequence_contracts.py
  src/dnadesign/cruncher/src/yiu/view_sequence_metadata.py
  src/dnadesign/cruncher/src/yiu/view_styles.py
  src/dnadesign/cruncher/src/yiu/visual_directions.py
Due: core, external_integration, cruncher, baserender

Clarify YIU junction contracts and docs
  src/dnadesign/cruncher/README.md
  src/dnadesign/cruncher/docs/README.md
  src/dnadesign/cruncher/docs/demos/demo_yiu_workspace.md
  src/dnadesign/cruncher/docs/guides/yiu_workflow.md
  src/dnadesign/cruncher/docs/index.md
  src/dnadesign/cruncher/docs/reference/cli.md
  src/dnadesign/cruncher/docs/reference/runbook_steps.md
  src/dnadesign/cruncher/docs/reference/yiu_artifacts.md
  src/dnadesign/cruncher/docs/reference/yiu_spec.md
  src/dnadesign/cruncher/docs/reference/yiu_visual_system.md
  src/dnadesign/cruncher/src/yiu/candidate_generation.py
  src/dnadesign/cruncher/src/yiu/normalizer.py
  src/dnadesign/cruncher/src/yiu/spec_rendering_models.py
  src/dnadesign/cruncher/tests/docs/test_yiu_docs_routing.py
  src/dnadesign/cruncher/tests/docs/test_yiu_reference_docs.py
  src/dnadesign/cruncher/tests/yiu/test_payload_rendering.py
  src/dnadesign/cruncher/workspaces/demo_yiu_payload/configs/runbook.yaml
Due: core, external_integration, cruncher

Fix YIU CLI fixtures for explicit junction bounds
  src/dnadesign/cruncher/tests/cli/test_yiu_cli.py
Due: core, external_integration, cruncher

ci: bound FFmpeg install in core lane
  .github/workflows/ci.yaml
  src/dnadesign/devtools/tests/test_ci_workflow_contract.py
Due: core, external_integration

Clarify Cruncher and YIU docs routing
  src/dnadesign/cruncher/README.md
  src/dnadesign/cruncher/docs/README.md
  src/dnadesign/cruncher/docs/demos/demo_yiu_workspace.md
  src/dnadesign/cruncher/docs/guides/yiu_workflow.md
  src/dnadesign/cruncher/docs/index.md
  src/dnadesign/cruncher/docs/reference/yiu_artifacts.md
  src/dnadesign/cruncher/docs/reference/yiu_spec.md
  src/dnadesign/cruncher/tests/docs/test_yiu_demo_workspace_contracts.py
  src/dnadesign/cruncher/tests/docs/test_yiu_docs_routing.py
  src/dnadesign/cruncher/tests/docs/test_yiu_reference_docs.py
  src/dnadesign/cruncher/workspaces/demo_yiu_payload/configs/yiu/example_payload.advanced_pwm.example.yaml
Due: core, external_integration, cruncher

Fix Cruncher README docs contract tests
  src/dnadesign/cruncher/tests/docs/test_cassette_docs_contracts.py
  src/dnadesign/cruncher/tests/docs/test_docs_path_contracts.py
Due: core, external_integration, cruncher

Add strict ligation policy controls to YIU
  src/dnadesign/cruncher/docs/guides/yiu_workflow.md
  src/dnadesign/cruncher/docs/reference/yiu_spec.md
  src/dnadesign/cruncher/src/cli/yiu_presenter.py
  src/dnadesign/cruncher/src/yiu/bundle_models.py
  src/dnadesign/cruncher/src/yiu/bundle_summary.py
  src/dnadesign/cruncher/src/yiu/domain_models.py
  src/dnadesign/cruncher/src/yiu/integrity.py
  src/dnadesign/cruncher/src/yiu/ligation_scoring.py
  src/dnadesign/cruncher/src/yiu/normalizer.py
  src/dnadesign/cruncher/src/yiu/optimizer.py
  src/dnadesign/cruncher/src/yiu/spec_rendering_models.py
  src/dnadesign/cruncher/tests/cli/test_yiu_cli.py
  src/dnadesign/cruncher/tests/docs/test_yiu_docs_routing.py
  src/dnadesign/cruncher/tests/docs/test_yiu_reference_docs.py
  src/dnadesign/cruncher/tests/yiu/test_payload_rendering.py
Due: core, external_integration, cruncher

Tighten Cruncher docs routing and wording
  docs/runbooks/README.md
  src/dnadesign/cruncher/README.md
  src/dnadesign/cruncher/docs/README.md
  src/dnadesign/cruncher/docs/guides/yiu_workflow.md
  src/dnadesign/cruncher/docs/index.md
  src/dnadesign/cruncher/docs/reference/yiu_spec.md
  src/dnadesign/cruncher/tests/docs/test_cassette_docs_contracts.py
  src/dnadesign/cruncher/tests/docs/test_yiu_docs_routing.py
  src/dnadesign/cruncher/workspaces/README.md
Due: core, external_integration, cruncher

Refine Cruncher doc entrypoints
  src/dnadesign/cruncher/README.md
  src/dnadesign/cruncher/docs/index.md
  src/dnadesign/cruncher/tests/docs/test_cassette_docs_contracts.py
  src/dnadesign/cruncher/tests/docs/test_yiu_docs_routing.py
Due: core, external_integration, cruncher

Clarify offset multiplicity gap semantics
  src/dnadesign/cruncher/docs/reference/config.md
  src/dnadesign/cruncher/src/core/objectives/selectors.py
  src/dnadesign/cruncher/tests/core/test_objective_engine.py
Due: core, external_integration, cruncher

feat(usr): harden infer overlay write-back and notify events
  docs/bu-scc/jobs/notify-watch.qsub
  docs/notify/README.md
  docs/notify/usr-events.md
  src/dnadesign/infer/src/writers/usr.py
  src/dnadesign/infer/tests/contracts/test_usr_writeback_contract.py
  src/dnadesign/notify/profiles/policy.py
  src/dnadesign/notify/runtime/cursor/iteration.py
  src/dnadesign/notify/tests/test_cli_profile_init.py
  src/dnadesign/notify/tests/test_cli_usr_events.py
  src/dnadesign/notify/tests/test_hpc_notify_watch_qsub.py
  src/dnadesign/notify/tests/test_tool_events.py
  src/dnadesign/notify/tests/test_workflow_policy_module.py
  src/dnadesign/notify/tool_events/infer.py
  src/dnadesign/usr/src/dataset.py
  src/dnadesign/usr/src/dataset_overlay_ops.py
  src/dnadesign/usr/src/overlays.py
  src/dnadesign/usr/src/registry.py
  src/dnadesign/usr/tests/test_attach_strict.py
  src/dnadesign/usr/tests/test_dataset_overlay_ops_module.py
  src/dnadesign/usr/tests/test_events_schema.py
  src/dnadesign/usr/tests/test_overlays.py
  src/dnadesign/usr/tests/test_registry.py
Due: core, external_integration, usr, notify, infer

feat(infer): harden evo2 feature bundle contracts
  src/dnadesign/infer/docs/operations/evo2-promoter-features.md
  src/dnadesign/infer/docs/reference/evo2-provider.md
  src/dnadesign/infer/docs/reference/feature-schema.md
  src/dnadesign/infer/src/adapters/evo2.py
  src/dnadesign/infer/src/config.py
  src/dnadesign/infer/src/engine.py
  src/dnadesign/infer/src/features/context.py
  src/dnadesign/infer/src/features/execution.py
  src/dnadesign/infer/src/features/selectors.py
  src/dnadesign/infer/src/registry.py
  src/dnadesign/infer/src/runtime/extract_chunk_writeback.py
  src/dnadesign/infer/src/runtime/resume_planner.py
  src/dnadesign/infer/src/usr_registry.py
  src/dnadesign/infer/tests/cli/test_validate_command.py
  src/dnadesign/infer/tests/docs/test_scc_gpu_env_docs_contract.py
  src/dnadesign/infer/tests/runtime/test_evo2_adapter_pooling_contracts.py
  src/dnadesign/infer/tests/runtime/test_extract_params.py
  src/dnadesign/infer/tests/runtime/test_feature_bundle_execution.py
  src/dnadesign/infer/tests/runtime/test_resume_planner.py
  src/dnadesign/usr/datasets/registry.yaml
Due: core, external_integration, usr, infer

feat(ops): harden promoter study readiness and SCC runbooks
  .agents/skills/promoter-study-status/SKILL.md
  .agents/skills/sge-hpc-ops/SKILL.md
  docs/bu-scc/install.md
  docs/bu-scc/jobs/README.md
  docs/bu-scc/jobs/evo2-gpu-infer.qsub
  docs/bu-scc/quickstart.md
  docs/bu-scc/submission-reference.md
  docs/studies/stress_ethanol_cipro_growth/status.md
  src/dnadesign/construct/docs/dev/journal.md
  src/dnadesign/construct/workspaces/study_stress_ethanol_cipro_pdual10/README.md
  src/dnadesign/construct/workspaces/study_stress_ethanol_cipro_pdual10/config.forward_anchor.window.yaml
  src/dnadesign/construct/workspaces/study_stress_ethanol_cipro_pdual10/runbook.md
  src/dnadesign/infer/docs/operations/scc-evo2-gpu-uv-runbook.md
  src/dnadesign/infer/workspaces/study_stress_ethanol_cipro/README.md
  src/dnadesign/infer/workspaces/study_stress_ethanol_cipro/config.anchor_only.evo2_20b.yaml
  src/dnadesign/infer/workspaces/study_stress_ethanol_cipro/config.anchor_only.evo2_7b.yaml
  src/dnadesign/infer/workspaces/study_stress_ethanol_cipro/config.anchor_plus_template.evo2_20b.yaml
  src/dnadesign/infer/workspaces/study_stress_ethanol_cipro/config.anchor_plus_template.evo2_7b.yaml
  src/dnadesign/infer/workspaces/study_stress_ethanol_cipro/config.full_lane_set.evo2_20b.yaml
  src/dnadesign/infer/workspaces/study_stress_ethanol_cipro/config.full_lane_set.evo2_7b.yaml
  src/dnadesign/infer/workspaces/study_stress_ethanol_cipro/config.yaml
  src/dnadesign/ops/runbooks/templates/evo2-gpu-infer.qsub
  src/dnadesign/ops/tests/test_progress_cli.py
  src/dnadesign/ops/tests/test_runbook_orchestrator.py
  src/dnadesign/studies/families/promoter/preflight.py
  src/dnadesign/studies/families/promoter/record_normalizer.py
  src/dnadesign/studies/families/promoter/snapshot.py
  src/dnadesign/usr/docs/operations/promoter-evo2-journey.md
  src/dnadesign/usr/docs/operations/promoter-study-preflight.md
  src/dnadesign/usr/docs/operations/promoter-study-status-contract.md
  src/dnadesign/usr/tests/test_usr_docs_contract.py
Due: core, external_integration, usr, infer

fix(ops): resync packaged qsub templates
  src/dnadesign/ops/runbooks/templates/evo2-gpu-infer.qsub
  src/dnadesign/ops/runbooks/templates/notify-watch.qsub
Due: core, external_integration

fix(ops): harden SCC submit-host gating
  .agents/skills/promoter-study-status/SKILL.md
  .agents/skills/sge-hpc-ops/SKILL.md
  .agents/skills/sge-hpc-ops/scripts/sge-operator-brief.sh
  .agents/skills/sge-hpc-ops/scripts/sge-session-status.sh
  .agents/skills/sge-hpc-ops/scripts/sge-status-card.sh
  .agents/skills/sge-hpc-ops/scripts/sge-submit-shape-advisor.sh
  docs/bu-scc/install.md
  docs/bu-scc/jobs/evo2-gpu-infer.qsub
  docs/bu-scc/quickstart.md
  docs/bu-scc/submission-reference.md
  docs/studies/stress_ethanol_cipro_growth/status.md
  src/dnadesign/densegen/tests/docs/test_bu_scc_docs_contracts.py
  src/dnadesign/infer/docs/operations/scc-evo2-gpu-uv-runbook.md
  src/dnadesign/infer/workspaces/study_stress_ethanol_cipro/README.md
  src/dnadesign/ops/cli/commands/runbook.py
  src/dnadesign/ops/orchestrator/gates.py
  src/dnadesign/ops/orchestrator/plan_tools.py
  src/dnadesign/ops/orchestrator/state.py
  src/dnadesign/ops/preflight/checks/scheduler_queue.py
  src/dnadesign/ops/runbooks/presets/infer_stress_ethanol_cipro_anchor_only_20b_batch_with_notify.yaml
  src/dnadesign/ops/runbooks/presets/infer_stress_ethanol_cipro_anchor_only_7b_batch_with_notify.yaml
  src/dnadesign/ops/runbooks/presets/infer_stress_ethanol_cipro_anchor_plus_template_20b_batch_with_notify.yaml
  src/dnadesign/ops/runbooks/presets/infer_stress_ethanol_cipro_anchor_plus_template_7b_batch_with_notify.yaml
  src/dnadesign/ops/runbooks/schema.py
  src/dnadesign/ops/runbooks/templates/evo2-gpu-infer.qsub
  src/dnadesign/ops/runbooks/workflow_metadata.py
  src/dnadesign/ops/tests/test_progress_cli.py
  src/dnadesign/ops/tests/test_runbook_orchestrator.py
  src/dnadesign/ops/tests/test_sge_gates.py
  src/dnadesign/ops/tests/test_workflow_metadata.py
Due: core, external_integration, densegen, infer

fix(infer): harden pooled feature writeback
  docs/notify/usr-events.md
  src/dnadesign/infer/src/features/execution.py
  src/dnadesign/infer/src/runtime/adapter_runtime.py
  src/dnadesign/infer/src/writers/usr.py
  src/dnadesign/infer/tests/contracts/test_usr_writeback_contract.py
  src/dnadesign/infer/tests/docs/test_scc_gpu_env_docs_contract.py
  src/dnadesign/infer/tests/runtime/test_adapter_runtime.py
  src/dnadesign/infer/tests/runtime/test_feature_bundle_execution.py
  src/dnadesign/notify/tests/test_tool_events.py
  src/dnadesign/notify/tool_events/infer.py
  src/dnadesign/usr/docs/operations/promoter-study-preflight.md
  src/dnadesign/usr/docs/operations/promoter-study-status-contract.md
  src/dnadesign/usr/ops/status_providers.py
  src/dnadesign/usr/src/dataset_query.py
  src/dnadesign/usr/src/overlays.py
  src/dnadesign/usr/tests/test_overlays.py
  src/dnadesign/usr/tests/test_usr_docs_contract.py
Due: core, external_integration, usr, notify, infer

fix(infer): preserve evo2 default layer resolution
  src/dnadesign/infer/src/registry.py
Due: core, external_integration, infer

fix(test): ignore generated runtime artifacts in pytest
  pyproject.toml
  src/dnadesign/devtools/tests/test_pytest_collection_contract.py
Due: core, external_integration

Record SCC sync posture for promoter handoff datasets
  docs/studies/stress_ethanol_cipro_growth/audits/promoter_stress_ethanol_cipro_anchor_set--cluster-diff.json
  docs/studies/stress_ethanol_cipro_growth/audits/promoter_stress_ethanol_cipro_construct_contexts--cluster-diff.json
  docs/studies/stress_ethanol_cipro_growth/datasets.yaml
Due: none

Path conditions:
  core: any of: src/dnadesign
  external_integration: any of: src/dnadesign
  usr: any of: src/dnadesign/usr/**
  notify: any of: src/dnadesign/notify/**
  densegen: any of: src/dnadesign/densegen/**
  infer: any of: src/dnadesign/infer/**
  opal: any of: src/dnadesign/opal/**
  cluster: any of: src/dnadesign/cluster/**
  billboard: any of: src/dnadesign/billboard/**
  libshuffle: any of: src/dnadesign/libshuffle/**
  nmf: any of: src/dnadesign/nmf/**
  latdna: any of: src/dnadesign/latdna/**
  cruncher: any of: src/dnadesign/cruncher/**
  tfkdanalysis: any of: src/dnadesign/tfkdanalysis/**
  aligner: any of: src/dnadesign/aligner/**
  baserender: any of: src/dnadesign/baserender/**
  permuter: any of: src/dnadesign/permuter/**
