Repository e-south/dnadesign: changes, and which Codecov flags are due for each by the changed paths.
All: core, external_integration, usr, notify, densegen, infer, opal, cluster, billboard, libshuffle, nmf, latdna, cruncher, tfkdanalysis, aligner, baserender, permuter

fix(study): refresh MSRB source binding
  .secrets.baseline
  src/dnadesign/studies/units/stress_ethanol_cipro_growth/decision/opal/multistate_response_behavior/activation_audit.json
Due: core, external_integration

fix(study): repair LatentDNA workflow link
  src/dnadesign/studies/units/stress_ethanol_cipro_growth/README.md
Due: core, external_integration

feat(opal): define the MSRB objective contract
  src/dnadesign/opal/api/multistate_response_behavior.py
  src/dnadesign/opal/docs/plugins/objectives/README.md
  src/dnadesign/opal/docs/plugins/objectives/multistate-response-behavior.md
  src/dnadesign/opal/src/config/plugin_schemas.py
  src/dnadesign/opal/src/objectives/multistate_response_behavior_math.py
  src/dnadesign/opal/src/objectives/multistate_response_behavior_v1.py
  src/dnadesign/opal/tests/cli/test_cli_pressure_multistate_response_behavior.py
  src/dnadesign/opal/tests/config/test_config_selection_view_plugins.py
  src/dnadesign/opal/tests/objectives/test_objective_multistate_response_behavior_v1.py
Due: core, external_integration, opal

fix(opal): clarify acquisition and synthesis boundaries
  docs/studies/stress_ethanol_cipro_growth/contexts/opal/synthesis-handoff.md
  docs/studies/stress_ethanol_cipro_growth/operations/contract/surfaces/artifacts.yaml
  docs/studies/stress_ethanol_cipro_growth/operations/contract/surfaces/execution/commands/opal/synthesis-handoffs.yaml
  docs/studies/stress_ethanol_cipro_growth/operations/runtime/command-groups/pipeline.yaml
  src/dnadesign/opal/docs/plugins/selection/README.md
  src/dnadesign/opal/docs/plugins/selection/expected-improvement.md
  src/dnadesign/opal/src/cli/commands/campaign_reset.py
  src/dnadesign/opal/tests/cli/test_cli_campaign_reset.py
  src/dnadesign/studies/units/stress_ethanol_cipro_growth/decision/opal/synthesis_handoff/README.md
  src/dnadesign/studies/units/stress_ethanol_cipro_growth/tests/decision/opal/synthesis_handoff/test_synthesis_handoff_contracts.py
Due: core, external_integration, opal

fix(packaging): add canonical module headers
  src/dnadesign/opal/src/plots/candidate_annotation_layout.py
  src/dnadesign/studies/units/stress_ethanol_cipro_growth/decision/opal/response_metastudy/reporting/multistate_behavior_plot_labels.py
  src/dnadesign/studies/units/stress_ethanol_cipro_growth/decision/opal/response_metastudy/reporting/multistate_behavior_plot_style.py
  src/dnadesign/studies/units/stress_ethanol_cipro_growth/tests/decision/opal/response_metastudy/test_multistate_behavior_plot_typography.py
Due: core, external_integration, opal

refactor(opal): split Reader evidence discovery
  src/dnadesign/opal/src/analysis/notebook_components/reader_evidence.py
  src/dnadesign/opal/src/analysis/notebook_components/reader_evidence_discovery.py
Due: core, external_integration, opal

docs(study): state notebook generation side effect
  docs/studies/stress_ethanol_cipro_growth/routes/decision/opal/campaign-commands.md
Due: none

chore(study): refresh MSRB activation bindings
  .secrets.baseline
  src/dnadesign/studies/units/stress_ethanol_cipro_growth/decision/opal/multistate_response_behavior/activation_audit.json
Due: core, external_integration

fix(study): repair response comparator dataset path
  src/dnadesign/studies/units/stress_ethanol_cipro_growth/workbench/source_evidence/opal_response_window_round0/secg_rmf_greedy/configs/campaign.yaml
Due: core, external_integration

docs(study): tighten OPAL campaign runbook
  docs/studies/stress_ethanol_cipro_growth/routes/decision/opal/campaign-commands.md
Due: none

docs(opal): refresh plugin verification dates
  src/dnadesign/opal/docs/plugins/objectives/README.md
  src/dnadesign/opal/docs/plugins/selection/README.md
  src/dnadesign/opal/docs/plugins/selection/expected-improvement.md
Due: core, external_integration, opal

docs(study): avoid links to generated MSRB evidence
  .secrets.baseline
  docs/studies/stress_ethanol_cipro_growth/contexts/opal/multistate-response-behavior.md
  src/dnadesign/studies/units/stress_ethanol_cipro_growth/decision/opal/multistate_response_behavior/activation_audit.json
Due: core, external_integration

fix(opal): serialize round log lifecycle
  src/dnadesign/opal/src/cli/commands/run.py
  src/dnadesign/opal/src/runtime/run_round.py
  src/dnadesign/opal/src/storage/locks.py
  src/dnadesign/opal/tests/cli/test_cli_workflows.py
Due: core, external_integration, opal

refactor(study): align response evidence with active MSRB route
  docs/studies/stress_ethanol_cipro_growth/contexts/opal/README.md
  docs/studies/stress_ethanol_cipro_growth/contexts/opal/response-metastudy.md
  docs/studies/stress_ethanol_cipro_growth/routes/decision/opal/README.md
  src/dnadesign/studies/units/stress_ethanol_cipro_growth/decision/opal/campaign_navigation.py
  src/dnadesign/studies/units/stress_ethanol_cipro_growth/decision/opal/response_metastudy/README.md
  src/dnadesign/studies/units/stress_ethanol_cipro_growth/decision/opal/response_metastudy/reporting/notebook.py
  src/dnadesign/studies/units/stress_ethanol_cipro_growth/decision/opal/response_metastudy/reporting/notebook_copy.py
  src/dnadesign/studies/units/stress_ethanol_cipro_growth/decision/opal/response_metastudy/reporting/notebook_summary.py
  src/dnadesign/studies/units/stress_ethanol_cipro_growth/decision/opal/response_metastudy/reporting/plot_catalog.py
  src/dnadesign/studies/units/stress_ethanol_cipro_growth/decision/opal/response_metastudy/reporting/plot_contracts.py
  src/dnadesign/studies/units/stress_ethanol_cipro_growth/decision/opal/response_metastudy/reporting/plot_definitions.py
  src/dnadesign/studies/units/stress_ethanol_cipro_growth/decision/opal/response_metastudy/reporting/primary_plots.py
  src/dnadesign/studies/units/stress_ethanol_cipro_growth/decision/opal/response_metastudy/reporting/report.py
  src/dnadesign/studies/units/stress_ethanol_cipro_growth/decision/opal/response_metastudy/reporting/response_metric_report.py
  src/dnadesign/studies/units/stress_ethanol_cipro_growth/tests/decision/opal/response_metastudy/test_architecture.py
  src/dnadesign/studies/units/stress_ethanol_cipro_growth/tests/decision/opal/response_metastudy/test_plot_catalog.py
  src/dnadesign/studies/units/stress_ethanol_cipro_growth/tests/decision/opal/response_metastudy/test_report_structure.py
  src/dnadesign/studies/units/stress_ethanol_cipro_growth/tests/decision/opal/response_metastudy/test_review_notebook.py
  src/dnadesign/studies/units/stress_ethanol_cipro_growth/tests/decision/opal/test_campaign_navigation.py
Due: core, external_integration

feat(study): harden cumulative aliases and synthesis handoff
  docs/studies/stress_ethanol_cipro_growth/contexts/opal/synthesis-handoff.md
  docs/studies/stress_ethanol_cipro_growth/operations/runtime/command-groups/pipeline.yaml
  docs/studies/stress_ethanol_cipro_growth/record/README.md
  docs/studies/stress_ethanol_cipro_growth/record/promoter_aliases.yaml
  docs/studies/stress_ethanol_cipro_growth/record/promoter_candidate_binding_sources.yaml
  docs/studies/stress_ethanol_cipro_growth/record/synthesis_handoffs.yaml
  src/dnadesign/studies/units/stress_ethanol_cipro_growth/decision/opal/synthesis_handoff/README.md
  src/dnadesign/studies/units/stress_ethanol_cipro_growth/decision/opal/synthesis_handoff/campaigns.py
  src/dnadesign/studies/units/stress_ethanol_cipro_growth/decision/opal/synthesis_handoff/cli.py
  src/dnadesign/studies/units/stress_ethanol_cipro_growth/decision/opal/synthesis_handoff/contracts.py
  src/dnadesign/studies/units/stress_ethanol_cipro_growth/decision/opal/synthesis_handoff/exports.py
  src/dnadesign/studies/units/stress_ethanol_cipro_growth/decision/opal/synthesis_handoff/genbank.py
  src/dnadesign/studies/units/stress_ethanol_cipro_growth/decision/opal/synthesis_handoff/manifest.py
  src/dnadesign/studies/units/stress_ethanol_cipro_growth/decision/opal/synthesis_handoff/opal_round_source.py
  src/dnadesign/studies/units/stress_ethanol_cipro_growth/decision/opal/synthesis_handoff/records.py
  src/dnadesign/studies/units/stress_ethanol_cipro_growth/decision/opal/synthesis_handoff/strategy.py
  src/dnadesign/studies/units/stress_ethanol_cipro_growth/promoter_candidate_bindings/README.md
  src/dnadesign/studies/units/stress_ethanol_cipro_growth/promoter_candidate_bindings/__init__.py
  src/dnadesign/studies/units/stress_ethanol_cipro_growth/promoter_candidate_bindings/row_contract.py
  src/dnadesign/studies/units/stress_ethanol_cipro_growth/promoter_candidate_bindings/source_adapters.py
  src/dnadesign/studies/units/stress_ethanol_cipro_growth/promoter_candidate_bindings/study_alias_contracts.py
  src/dnadesign/studies/units/stress_ethanol_cipro_growth/promoter_candidate_bindings/study_alias_registry.py
  src/dnadesign/studies/units/stress_ethanol_cipro_growth/promoter_candidate_bindings/study_alias_validation.py
  src/dnadesign/studies/units/stress_ethanol_cipro_growth/tests/decision/opal/synthesis_handoff/test_synthesis_handoff_contracts.py
  src/dnadesign/studies/units/stress_ethanol_cipro_growth/tests/decision/opal/synthesis_handoff/test_synthesis_handoff_integer_contracts.py
  src/dnadesign/studies/units/stress_ethanol_cipro_growth/tests/promoter_candidate_bindings/test_resolution.py
  src/dnadesign/studies/units/stress_ethanol_cipro_growth/tests/promoter_candidate_bindings/test_study_alias_registry.py
Due: core, external_integration

feat(opal): freeze MSRB prospective evaluation baseline
  .secrets.baseline
  docs/studies/stress_ethanol_cipro_growth/contexts/opal/multistate-response-behavior.md
  src/dnadesign/opal/tests/objectives/test_objective_multistate_response_behavior_v1.py
  src/dnadesign/studies/units/stress_ethanol_cipro_growth/decision/opal/multistate_response_behavior/README.md
  src/dnadesign/studies/units/stress_ethanol_cipro_growth/decision/opal/multistate_response_behavior/activation_audit.json
  src/dnadesign/studies/units/stress_ethanol_cipro_growth/decision/opal/multistate_response_behavior/evaluation_baseline.py
  src/dnadesign/studies/units/stress_ethanol_cipro_growth/decision/opal/multistate_response_behavior/evaluation_baseline.yaml
  src/dnadesign/studies/units/stress_ethanol_cipro_growth/decision/opal/multistate_response_behavior/evaluation_baseline_artifacts.py
  src/dnadesign/studies/units/stress_ethanol_cipro_growth/decision/opal/multistate_response_behavior/evaluation_baseline_contracts.py
  src/dnadesign/studies/units/stress_ethanol_cipro_growth/decision/opal/multistate_response_behavior/evaluation_baseline_parser.py
  src/dnadesign/studies/units/stress_ethanol_cipro_growth/decision/opal/multistate_response_behavior/prospective_evaluation.py
  src/dnadesign/studies/units/stress_ethanol_cipro_growth/decision/opal/multistate_response_behavior/protocol.yaml
  src/dnadesign/studies/units/stress_ethanol_cipro_growth/tests/decision/opal/test_msrb_evaluation_baseline.py
  src/dnadesign/studies/units/stress_ethanol_cipro_growth/tests/decision/opal/test_msrb_evaluation_baseline_replay.py
  src/dnadesign/studies/units/stress_ethanol_cipro_growth/tests/decision/opal/test_source_tree_contracts.py
Due: core, external_integration, opal

fix(opal): preserve zero-hour reader evidence identity
  src/dnadesign/opal/src/analysis/notebook_components/reader_evidence_media.py
  src/dnadesign/opal/tests/analysis/test_reader_evidence.py
Due: core, external_integration, opal

fix(opal): recheck round artifacts under lock
  src/dnadesign/opal/src/cli/commands/run.py
  src/dnadesign/opal/tests/cli/test_cli_workflows.py
Due: core, external_integration, opal

fix(study): clarify active objective navigation
  src/dnadesign/studies/units/stress_ethanol_cipro_growth/decision/opal/campaign_navigation.py
  src/dnadesign/studies/units/stress_ethanol_cipro_growth/decision/opal/response_metastudy/reporting/notebook.py
  src/dnadesign/studies/units/stress_ethanol_cipro_growth/tests/decision/opal/response_metastudy/test_review_notebook.py
  src/dnadesign/studies/units/stress_ethanol_cipro_growth/tests/decision/opal/test_campaign_navigation.py
Due: core, external_integration

feat(study): bind synthesis handoff inputs and aliases
  docs/studies/stress_ethanol_cipro_growth/contexts/opal/synthesis-handoff.md
  docs/studies/stress_ethanol_cipro_growth/record/synthesis_handoffs.yaml
  src/dnadesign/studies/units/stress_ethanol_cipro_growth/decision/opal/synthesis_handoff/README.md
  src/dnadesign/studies/units/stress_ethanol_cipro_growth/decision/opal/synthesis_handoff/__init__.py
  src/dnadesign/studies/units/stress_ethanol_cipro_growth/decision/opal/synthesis_handoff/cli.py
  src/dnadesign/studies/units/stress_ethanol_cipro_growth/decision/opal/synthesis_handoff/opal_round_source.py
  src/dnadesign/studies/units/stress_ethanol_cipro_growth/decision/opal/synthesis_handoff/records.py
  src/dnadesign/studies/units/stress_ethanol_cipro_growth/tests/decision/opal/synthesis_handoff/test_synthesis_handoff_contracts.py
  src/dnadesign/studies/units/stress_ethanol_cipro_growth/tests/decision/opal/synthesis_handoff/test_synthesis_handoff_integer_contracts.py
Due: core, external_integration

fix(construct): clear disabled folding artifacts
  src/dnadesign/construct/src/composition/bundle.py
  src/dnadesign/construct/src/composition/folding_runtime.py
  src/dnadesign/construct/tests/runtime/test_composition_bundle.py
Due: core, external_integration

test(study): separate tracked handoff receipt from local dogfood
  src/dnadesign/studies/units/stress_ethanol_cipro_growth/tests/decision/opal/synthesis_handoff/test_synthesis_handoff_contracts.py
Due: core, external_integration

fix(construct): complement full IUPAC DNA alphabet
  src/dnadesign/construct/src/composition/visual.py
  src/dnadesign/construct/src/sequences/orientation.py
  src/dnadesign/construct/tests/runtime/test_orientation.py
Due: core, external_integration

fix(study): resolve generated notebook targets cleanly
  src/dnadesign/studies/units/stress_ethanol_cipro_growth/decision/opal/campaign_navigation.py
  src/dnadesign/studies/units/stress_ethanol_cipro_growth/decision/opal/response_metastudy/reporting/notebook.py
  src/dnadesign/studies/units/stress_ethanol_cipro_growth/tests/decision/opal/test_campaign_navigation.py
Due: core, external_integration

test(study): separate baseline receipts from local replay
  src/dnadesign/studies/units/stress_ethanol_cipro_growth/decision/opal/multistate_response_behavior/evaluation_baseline_artifacts.py
  src/dnadesign/studies/units/stress_ethanol_cipro_growth/decision/opal/multistate_response_behavior/evaluation_baseline_parser.py
  src/dnadesign/studies/units/stress_ethanol_cipro_growth/tests/decision/opal/test_msrb_evaluation_baseline.py
Due: core, external_integration

test(study): separate alias receipts from local bindings
  src/dnadesign/studies/units/stress_ethanol_cipro_growth/tests/promoter_candidate_bindings/test_study_alias_registry.py
Due: core, external_integration

Harden synthesis handoff readback
  src/dnadesign/studies/units/stress_ethanol_cipro_growth/decision/opal/synthesis_handoff/azenta.py
  src/dnadesign/studies/units/stress_ethanol_cipro_growth/decision/opal/synthesis_handoff/genbank.py
  src/dnadesign/studies/units/stress_ethanol_cipro_growth/decision/opal/synthesis_handoff/records.py
  src/dnadesign/studies/units/stress_ethanol_cipro_growth/tests/decision/opal/synthesis_handoff/test_synthesis_handoff_contracts.py
Due: core, external_integration

Authorize MSRB assay batch 1 materialization
  docs/studies/stress_ethanol_cipro_growth/record/synthesis_handoffs.yaml
Due: none

Accept literal retron descriptor design IDs
  src/dnadesign/studies/units/rt_lnrna_sponging_construct_triage/reader_spop_plan.py
  src/dnadesign/studies/units/rt_lnrna_sponging_construct_triage/tests/source/test_reader_spop_plan.py
Due: core, external_integration

Integrate retron 201-204 Reader evidence
  docs/studies/retron_hairpin_design/workbench/provenance/msd_region_records/reader_spop_msd_structure_panel_v1/compiler/reader_spop_msd_structure_panel_v1.spec.yaml
  docs/studies/retron_hairpin_design/workbench/provenance/msd_region_records/reader_spop_msd_structure_panel_v1/manifest.yaml
  docs/studies/retron_hairpin_design/workbench/provenance/msd_region_records/reader_spop_msd_structure_panel_v1/source_inputs/variant_sources.yaml
  docs/studies/retron_hairpin_design/workbench/provenance/msd_region_records/reader_spop_msd_structure_panel_v1/source_inputs/variants/pes-retron-201.gb
  docs/studies/retron_hairpin_design/workbench/provenance/msd_region_records/reader_spop_msd_structure_panel_v1/source_inputs/variants/pes-retron-202.gb
  docs/studies/retron_hairpin_design/workbench/provenance/msd_region_records/reader_spop_msd_structure_panel_v1/source_inputs/variants/pes-retron-203.gb
  docs/studies/retron_hairpin_design/workbench/provenance/msd_region_records/reader_spop_msd_structure_panel_v1/source_inputs/variants/pes-retron-204.gb
  docs/studies/retron_hairpin_design/workbench/provenance/msd_region_records/reader_spop_msd_structure_panel_v1/variants/pes-retron-201-msd-region.yaml
  docs/studies/retron_hairpin_design/workbench/provenance/msd_region_records/reader_spop_msd_structure_panel_v1/variants/pes-retron-202-msd-region.yaml
  docs/studies/retron_hairpin_design/workbench/provenance/msd_region_records/reader_spop_msd_structure_panel_v1/variants/pes-retron-203-msd-region.yaml
  docs/studies/retron_hairpin_design/workbench/provenance/msd_region_records/reader_spop_msd_structure_panel_v1/variants/pes-retron-204-msd-region.yaml
  docs/studies/rt_lnrna_sponging_construct_triage/contexts/construct-overview.md
  docs/studies/rt_lnrna_sponging_construct_triage/contexts/latentdna/review-surfaces.md
  docs/studies/rt_lnrna_sponging_construct_triage/contexts/latentdna/trait-axis-projection.md
  docs/studies/rt_lnrna_sponging_construct_triage/contexts/opal-handoff.md
  docs/studies/rt_lnrna_sponging_construct_triage/contexts/reader-spop-label-contract.md
  docs/studies/rt_lnrna_sponging_construct_triage/operations/contract/lifecycle/phases.yaml
  docs/studies/rt_lnrna_sponging_construct_triage/operations/runtime/command-groups/pipeline.yaml
  docs/studies/rt_lnrna_sponging_construct_triage/record/datasets.yaml
  docs/studies/rt_lnrna_sponging_construct_triage/record/status.md
  docs/studies/rt_lnrna_sponging_construct_triage/routes/README.md
  docs/studies/rt_lnrna_sponging_construct_triage/routes/reader-spop-condition-structure-matrix.md
  docs/studies/rt_lnrna_sponging_construct_triage/workbench/design_sets/v1-construct-subject-scope.md
  docs/studies/rt_lnrna_sponging_construct_triage/workbench/provenance/genbank/pes-retron-201-msd-tetr-r26-w02-17.gb
  docs/studies/rt_lnrna_sponging_construct_triage/workbench/provenance/genbank/pes-retron-202-msd-tetr-r26-w03-16.gb
  docs/studies/rt_lnrna_sponging_construct_triage/workbench/provenance/genbank/pes-retron-203-msd-tetr-r180-w02-17.gb
  docs/studies/rt_lnrna_sponging_construct_triage/workbench/provenance/genbank/pes-retron-204-msd-tetr-r180-w03-16.gb
  docs/studies/rt_lnrna_sponging_construct_triage/workbench/provenance/retron-variant-genbank-catalog.yaml
  docs/studies/rt_lnrna_sponging_construct_triage/workbench/provenance/retron-variant-genbank-metadata.yaml
  docs/studies/rt_lnrna_sponging_construct_triage/workbench/provenance/source-handoff-ledger.md
  src/dnadesign/latentdna/workspaces/rt_lnrna_sponging_construct_triage/study_inputs/reader_spop_candidate_summary.parquet
  src/dnadesign/latentdna/workspaces/rt_lnrna_sponging_construct_triage/study_inputs/reader_spop_observations.parquet
  src/dnadesign/studies/units/rt_lnrna_sponging_construct_triage/reader_spop_composite/row_categories.py
  src/dnadesign/studies/units/rt_lnrna_sponging_construct_triage/reader_spop_plan.py
  src/dnadesign/studies/units/rt_lnrna_sponging_construct_triage/tests/construct/test_materialization.py
  src/dnadesign/studies/units/rt_lnrna_sponging_construct_triage/tests/source/test_reader_spop_composite.py
  src/dnadesign/studies/units/rt_lnrna_sponging_construct_triage/tests/source/test_reader_spop_plan.py
  src/dnadesign/studies/units/rt_lnrna_sponging_construct_triage/tests/source/test_variant_genbank_catalog.py
Due: core, external_integration

Decouple LatentDNA docs test from study phase
  src/dnadesign/latentdna/tests/test_docs_contract.py
Due: core, external_integration

Align study status and route gates
  .agents/skills/stress-ethanol-cipro-growth-status/scripts/audit-stress-ethanol-cipro-growth-status-skill.sh
  docs/studies/rt_lnrna_sponging_construct_triage/operations/contract/lifecycle/phases.yaml
  docs/studies/rt_lnrna_sponging_construct_triage/operations/contract/status/snapshot.yaml
  docs/studies/rt_lnrna_sponging_construct_triage/record/status.md
  docs/studies/stress_ethanol_cipro_growth/routes/README.md
  docs/studies/stress_ethanol_cipro_growth/routes/decision/opal/README.md
Due: none

Run study tests for study documentation changes
  src/dnadesign/devtools/ci/changes.py
  src/dnadesign/devtools/ci/test_targets.py
  src/dnadesign/devtools/tests/ci/test_changes.py
  src/dnadesign/devtools/tests/ci/test_test_targets.py
Due: core, external_integration

fix(study): make metastudy review viewport first
  src/dnadesign/studies/units/stress_ethanol_cipro_growth/decision/opal/response_metastudy/reporting/notebook.py
  src/dnadesign/studies/units/stress_ethanol_cipro_growth/tests/decision/opal/response_metastudy/test_review_notebook.py
Due: core, external_integration

fix(study): keep metastudy notebook generator bounded
  src/dnadesign/studies/units/stress_ethanol_cipro_growth/decision/opal/response_metastudy/reporting/notebook.py
  src/dnadesign/studies/units/stress_ethanol_cipro_growth/decision/opal/response_metastudy/reporting/notebook_copy.py
Due: core, external_integration

ci: report the complete pytest failure set
  .github/workflows/ci.yaml
  src/dnadesign/devtools/tests/ci/test_workflow_contract.py
Due: core, external_integration

fix(aligner): unify pairwise max score normalization
  src/dnadesign/aligner/docs/pairwise.md
  src/dnadesign/aligner/pairwise/scoring.py
  src/dnadesign/aligner/tests/pairwise/test_public_api.py
Due: core, external_integration, aligner

Path conditions:
  core: any of: src/dnadesign
  external_integration: any of: src/dnadesign
  usr: any of: src/dnadesign/usr/**
  notify: any of: src/dnadesign/notify/**
  densegen: any of: src/dnadesign/densegen/**
  infer: any of: src/dnadesign/infer/**
  opal: any of: src/dnadesign/opal/**
  cluster: any of: src/dnadesign/cluster/**
  billboard: any of: src/dnadesign/billboard/**
  libshuffle: any of: src/dnadesign/libshuffle/**
  nmf: any of: src/dnadesign/nmf/**
  latdna: any of: src/dnadesign/latdna/**
  cruncher: any of: src/dnadesign/cruncher/**
  tfkdanalysis: any of: src/dnadesign/tfkdanalysis/**
  aligner: any of: src/dnadesign/aligner/**
  baserender: any of: src/dnadesign/baserender/**
  permuter: any of: src/dnadesign/permuter/**
