Repository e-south/dnadesign: changes, and which Codecov flags are due for each by the changed paths.
All: core, external_integration, usr, notify, densegen, infer, opal, cluster, billboard, libshuffle, nmf, latdna, cruncher, tfkdanalysis, aligner, baserender, permuter

codecov.yml:

codecov:
  require_ci_to_pass: true

coverage:
  precision: 2
  round: down
  range: "0...100"
  status:
    project:
      default:
        target: auto
        threshold: 0.5%
        if_ci_failed: error
        if_not_found: failure
    patch:
      default:
        target: auto
        threshold: 0.5%
        if_ci_failed: error
        if_not_found: failure

flags:
  core:
    paths:
      - src/dnadesign
    carryforward: false
  external_integration:
    paths:
      - src/dnadesign
    carryforward: false

component_management:
  default_rules:
    statuses:
      - type: project
        target: auto
        threshold: 0.5%
        if_ci_failed: error
        if_not_found: failure
  individual_components:
    - component_id: usr
      name: usr
      paths:
        - src/dnadesign/usr/**
    - component_id: notify
      name: notify
      paths:
        - src/dnadesign/notify/**
    - component_id: densegen
      name: densegen
      paths:
        - src/dnadesign/densegen/**
    - component_id: infer
      name: infer
      paths:
        - src/dnadesign/infer/**
    - component_id: opal
      name: opal
      paths:
        - src/dnadesign/opal/**
    - component_id: cluster
      name: cluster
      paths:
        - src/dnadesign/cluster/**
    - component_id: billboard
      name: billboard
      paths:
        - src/dnadesign/billboard/**
    - component_id: libshuffle
      name: libshuffle
      paths:
        - src/dnadesign/libshuffle/**
    - component_id: nmf
      name: nmf
      paths:
        - src/dnadesign/nmf/**
    - component_id: latdna
      name: latdna
      paths:
        - src/dnadesign/latdna/**
    - component_id: cruncher
      name: cruncher
      paths:
        - src/dnadesign/cruncher/**
    - component_id: tfkdanalysis
      name: tfkdanalysis
      paths:
        - src/dnadesign/tfkdanalysis/**
    - component_id: aligner
      name: aligner
      paths:
        - src/dnadesign/aligner/**
    - component_id: baserender
      name: baserender
      paths:
        - src/dnadesign/baserender/**
    - component_id: permuter
      name: permuter
      paths:
        - src/dnadesign/permuter/**

comment:
  require_changes: true
  layout: "reach,diff,flags,components,files"

github_checks:
  annotations: true

Decouple LatentDNA metadata derivations
  src/dnadesign/latentdna/src/contracts/workspace.py
  src/dnadesign/latentdna/src/metadata/derivations.py
  src/dnadesign/latentdna/src/scalars/build.py
  src/dnadesign/latentdna/src/services/validation_service.py
  src/dnadesign/latentdna/src/views/materialize.py
  src/dnadesign/latentdna/src/views/promoter_metadata.py
  src/dnadesign/latentdna/src/views/row_contracts.py
  src/dnadesign/latentdna/tests/contracts/test_metadata_derivation_contracts.py
  src/dnadesign/latentdna/tests/test_artifact_input_helpers.py
  src/dnadesign/latentdna/tests/test_regulondb_native_promoter_profile.py
  src/dnadesign/latentdna/tests/test_scalar_build.py
  src/dnadesign/latentdna/tests/test_validation_service.py
  src/dnadesign/latentdna/tests/views/test_materialization.py
  src/dnadesign/latentdna/workspaces/stress_ethanol_cipro_growth/config.yaml
  src/dnadesign/latentdna/workspaces/templates/promoter_reference_margin_benchmark/config.yaml
Due: core, external_integration

Consolidate LatentDNA notebook browser surface
  src/dnadesign/latentdna/src/notebooks/scaffold_pages.py
  src/dnadesign/latentdna/src/notebooks/scaffold_panels.py
  src/dnadesign/latentdna/src/notebooks/scaffold_selectors.py
  src/dnadesign/latentdna/src/services/notebook_geometry_controls.py
  src/dnadesign/latentdna/tests/integrations/test_notebook_generation_workflow.py
Due: core, external_integration

Refresh LatentDNA metadata and notebook docs
  src/dnadesign/latentdna/README.md
  src/dnadesign/latentdna/docs/reference/workspace-schema.md
  src/dnadesign/latentdna/docs/workflows/promoter-study-representation-comparison.md
Due: core, external_integration

latentdna: add generic metadata axis styling
  src/dnadesign/latentdna/src/contracts/plot.py
  src/dnadesign/latentdna/src/contracts/workspace.py
  src/dnadesign/latentdna/src/labels.py
  src/dnadesign/latentdna/src/metadata_axes.py
  src/dnadesign/latentdna/src/plots/recipes.py
  src/dnadesign/latentdna/src/plots/render.py
  src/dnadesign/latentdna/src/visual_style.py
  src/dnadesign/latentdna/src/workspaces/validation.py
  src/dnadesign/latentdna/tests/contracts/test_metadata_axis_contracts.py
  src/dnadesign/latentdna/tests/contracts/test_refactor_guardrails.py
  src/dnadesign/latentdna/tests/test_labels.py
  src/dnadesign/latentdna/tests/test_plot_render.py
Due: core, external_integration

latentdna: move stress scalar semantics to configured axes
  src/dnadesign/latentdna/src/scalars/build.py
  src/dnadesign/latentdna/src/scalars/common.py
  src/dnadesign/latentdna/src/scalars/preassay.py
  src/dnadesign/latentdna/tests/contracts/test_promoter_reference_margin_template.py
  src/dnadesign/latentdna/tests/contracts/test_study_workspace_contracts.py
  src/dnadesign/latentdna/tests/test_scalar_build.py
  src/dnadesign/latentdna/tests/test_scalar_preassay.py
  src/dnadesign/latentdna/workspaces/stress_ethanol_cipro_growth/config.yaml
  src/dnadesign/latentdna/workspaces/templates/promoter_reference_margin_benchmark/config.yaml
Due: core, external_integration

latentdna: harden notebook geometry runtime
  src/dnadesign/latentdna/src/contracts/notebook.py
  src/dnadesign/latentdna/src/notebooks/browser_runtime.py
  src/dnadesign/latentdna/src/notebooks/browser_runtime_plot_review.py
  src/dnadesign/latentdna/src/notebooks/browser_runtime_projection.py
  src/dnadesign/latentdna/src/notebooks/browser_runtime_support.py
  src/dnadesign/latentdna/src/notebooks/rendering.py
  src/dnadesign/latentdna/src/notebooks/scaffold_panels.py
  src/dnadesign/latentdna/src/services/notebook_geometry_controls.py
  src/dnadesign/latentdna/tests/integrations/test_notebook_generation_workflow.py
  src/dnadesign/latentdna/tests/test_browser_runtime_plot_review.py
  src/dnadesign/latentdna/tests/test_browser_runtime_projection.py
  src/dnadesign/latentdna/tests/test_browser_runtime_support.py
  src/dnadesign/latentdna/tests/test_notebook_controls_service.py
  src/dnadesign/latentdna/tests/test_notebook_scaffold_panels.py
  src/dnadesign/latentdna/workspaces/regulondb_native_promoter_panel/config.yaml
Due: core, external_integration

docs: refresh latentdna workspace semantics
  src/dnadesign/latentdna/docs/reference/workspace-schema.md
  src/dnadesign/latentdna/docs/workflows/promoter-study-representation-comparison.md
Due: core, external_integration

Improve LatentDNA notebook study surfaces
  src/dnadesign/latentdna/docs/reference/workspace-schema.md
  src/dnadesign/latentdna/docs/workflows/promoter-study-representation-comparison.md
  src/dnadesign/latentdna/src/contracts/plot.py
  src/dnadesign/latentdna/src/contracts/workspace.py
  src/dnadesign/latentdna/src/metrics/definitions.py
  src/dnadesign/latentdna/src/notebooks/browser_runtime_plot_review.py
  src/dnadesign/latentdna/src/notebooks/browser_runtime_projection.py
  src/dnadesign/latentdna/src/notebooks/browser_runtime_support.py
  src/dnadesign/latentdna/src/notebooks/raster_scatter.py
  src/dnadesign/latentdna/src/notebooks/rendering.py
  src/dnadesign/latentdna/src/notebooks/scaffold_panels.py
  src/dnadesign/latentdna/src/plots/render.py
  src/dnadesign/latentdna/src/scalars/build.py
  src/dnadesign/latentdna/src/scalars/common.py
  src/dnadesign/latentdna/src/scalars/preassay.py
  src/dnadesign/latentdna/src/services/freshness_service.py
  src/dnadesign/latentdna/src/services/notebook_service.py
  src/dnadesign/latentdna/src/services/scalar_service.py
  src/dnadesign/latentdna/tests/contracts/test_study_workspace_contracts.py
  src/dnadesign/latentdna/tests/integrations/test_notebook_generation_workflow.py
  src/dnadesign/latentdna/tests/test_artifact_input_helpers.py
  src/dnadesign/latentdna/tests/test_browser_runtime_plot_review.py
  src/dnadesign/latentdna/tests/test_browser_runtime_projection.py
  src/dnadesign/latentdna/tests/test_browser_runtime_support.py
  src/dnadesign/latentdna/tests/test_metric_definitions.py
  src/dnadesign/latentdna/tests/test_notebook_controls_service.py
  src/dnadesign/latentdna/tests/test_plot_render.py
  src/dnadesign/latentdna/tests/test_scalar_build.py
  src/dnadesign/latentdna/workspaces/regulondb_native_promoter_panel/config.yaml
  src/dnadesign/latentdna/workspaces/stress_ethanol_cipro_growth/config.yaml
  src/dnadesign/latentdna/workspaces/stress_ethanol_cipro_growth/outputs/status/workspace_snapshot.json
  src/dnadesign/latentdna/workspaces/stress_ethanol_cipro_growth/plot_semantics/representation_health_summary.yaml
  src/dnadesign/latentdna/workspaces/templates/promoter_reference_margin_benchmark/config.yaml
  src/dnadesign/studies/regulondb_native_promoter_panel/deliverables/native_core60_shift_summary.md
  src/dnadesign/studies/regulondb_native_promoter_panel/deliverables/representation_health_summary.md
  src/dnadesign/studies/regulondb_native_promoter_panel/deliverables/sigma_factor_structure_summary.md
  src/dnadesign/studies/regulondb_native_promoter_panel/deliverables/sigma_umap_panel.md
  src/dnadesign/studies/stress_ethanol_cipro_growth/deliverables/representation_health_summary.md
Due: core, external_integration

infer: harden Evo2 feature sidecar contracts
  src/dnadesign/infer/contracts.py
  src/dnadesign/infer/docs/operations/evo2-sequence-features.md
  src/dnadesign/infer/docs/operations/scc-evo2-gpu-uv-runbook.md
  src/dnadesign/infer/docs/reference/evo2-provider.md
  src/dnadesign/infer/docs/reference/feature-schema.md
  src/dnadesign/infer/src/adapters/evo2.py
  src/dnadesign/infer/src/engine.py
  src/dnadesign/infer/src/features/aliases.py
  src/dnadesign/infer/src/features/cache_keys.py
  src/dnadesign/infer/src/features/completion_planner.py
  src/dnadesign/infer/src/features/execution.py
  src/dnadesign/infer/src/features/shard_ledger.py
  src/dnadesign/infer/src/features/sidecar_io.py
  src/dnadesign/infer/src/ingest/validators.py
  src/dnadesign/infer/src/usr_registry.py
  src/dnadesign/infer/tests/contracts/test_usr_writeback_contract.py
  src/dnadesign/infer/tests/runtime/test_dna_case_contract.py
  src/dnadesign/infer/tests/runtime/test_evo2_adapter_pooling_contracts.py
  src/dnadesign/infer/tests/runtime/test_feature_alias_contracts.py
  src/dnadesign/infer/tests/runtime/test_feature_bundle_execution.py
  src/dnadesign/infer/tests/runtime/test_feature_shard_ledger.py
  src/dnadesign/infer/tests/runtime/test_sequence_view_completion_planner.py
Due: core, external_integration, infer

usr: canonicalize promoter DNA model inputs
  docs/studies/regulondb_native_promoter_panel/status.md
  docs/studies/stress_ethanol_cipro_growth/status.md
  src/dnadesign/construct/src/runtime.py
  src/dnadesign/construct/tests/runtime/test_run_construct.py
  src/dnadesign/usr/scripts/create_regulondb_native_promoters.py
  src/dnadesign/usr/scripts/port_mg1655_promoter_references.py
  src/dnadesign/usr/tests/scripts/test_create_regulondb_native_promoters.py
  src/dnadesign/usr/tests/scripts/test_port_mg1655_promoter_references.py
Due: core, external_integration, usr

ops: require shard-aware infer fill planning
  docs/operations/orchestration-runbooks.md
  docs/studies/regulondb_native_promoter_panel/ops.study.yaml
  src/dnadesign/ops/orchestrator/infer_fill.py
  src/dnadesign/ops/runbooks/presets/infer_regulondb_native_promoter_core60_tss_upstream_7b_batch_with_notify.yaml
  src/dnadesign/ops/tests/test_runbook_orchestrator.py
Due: core, external_integration

latentdna: reject stale infer sidecar schemas
  src/dnadesign/latentdna/src/sources/infer_feature_scalar_sidecar_source.py
  src/dnadesign/latentdna/src/sources/infer_feature_sidecar_source.py
  src/dnadesign/latentdna/src/sources/infer_sidecar_join.py
  src/dnadesign/latentdna/src/sources/provenance.py
  src/dnadesign/latentdna/tests/cli/test_workspace_command.py
  src/dnadesign/latentdna/tests/sources/test_infer_feature_sidecar_source.py
  src/dnadesign/latentdna/workspaces/regulondb_native_promoter_panel/config.yaml
  src/dnadesign/latentdna/workspaces/stress_ethanol_cipro_growth/config.yaml
Due: core, external_integration

densegen: use macOS open for notebook browser
  src/dnadesign/densegen/src/cli/notebook.py
Due: core, external_integration, densegen

usr: remove stale sync audit wrapper
  src/dnadesign/usr/scripts/run_usr_sync_audit_drill.py
Due: core, external_integration, usr

usr: stop tracking generated RegulonDB dataset
  src/dnadesign/usr/datasets/usr_regulondb_native_promoters/.events.log
  src/dnadesign/usr/datasets/usr_regulondb_native_promoters/_derived/regulondb.parquet
  src/dnadesign/usr/datasets/usr_regulondb_native_promoters/_registry/registry.bf9375ea090c989c9a0cea128e47c2a803dbbcb3c854c6d947278f7c4bd7bce1.yaml
  src/dnadesign/usr/datasets/usr_regulondb_native_promoters/_relations/coordinate_features.parquet
  src/dnadesign/usr/datasets/usr_regulondb_native_promoters/_relations/evidence_citations.parquet
  src/dnadesign/usr/datasets/usr_regulondb_native_promoters/_relations/excluded_source_rows.parquet
  src/dnadesign/usr/datasets/usr_regulondb_native_promoters/_relations/promoter_aliases.parquet
  src/dnadesign/usr/datasets/usr_regulondb_native_promoters/_relations/promoter_boxes.parquet
  src/dnadesign/usr/datasets/usr_regulondb_native_promoters/_relations/regulatory_interactions.parquet
  src/dnadesign/usr/datasets/usr_regulondb_native_promoters/_relations/sigma_affiliations.parquet
  src/dnadesign/usr/datasets/usr_regulondb_native_promoters/_relations/skipped_source_rows.parquet
  src/dnadesign/usr/datasets/usr_regulondb_native_promoters/_relations/source_conflicts.parquet
  src/dnadesign/usr/datasets/usr_regulondb_native_promoters/_relations/source_rows.parquet
  src/dnadesign/usr/datasets/usr_regulondb_native_promoters/_relations/tfbs_sites.parquet
  src/dnadesign/usr/datasets/usr_regulondb_native_promoters/_snapshots/records-20260429T142916877184.parquet
  src/dnadesign/usr/datasets/usr_regulondb_native_promoters/_snapshots/records-20260429T142916969932.parquet
  src/dnadesign/usr/datasets/usr_regulondb_native_promoters/_snapshots/records-20260429T142917755812.parquet
  src/dnadesign/usr/datasets/usr_regulondb_native_promoters/_views/sequence_views.parquet
  src/dnadesign/usr/datasets/usr_regulondb_native_promoters/_views/view_semantics.parquet
  src/dnadesign/usr/datasets/usr_regulondb_native_promoters/meta.md
  src/dnadesign/usr/datasets/usr_regulondb_native_promoters/records.parquet
Due: core, external_integration, usr

latentdna: refresh stress workspace snapshot
  src/dnadesign/latentdna/workspaces/stress_ethanol_cipro_growth/outputs/status/workspace_snapshot.json
Due: core, external_integration

Refresh promoter study status after SCC sync
  docs/studies/regulondb_native_promoter_panel/audits/usr_regulondb_native_promoter_core60--cluster-diff-after-pull.json
  docs/studies/regulondb_native_promoter_panel/audits/usr_regulondb_native_promoter_core60--cluster-diff.json
  docs/studies/regulondb_native_promoter_panel/audits/usr_regulondb_native_promoter_core60--cluster-pull.json
  docs/studies/regulondb_native_promoter_panel/audits/usr_regulondb_native_promoters--cluster-diff-after-pull.json
  docs/studies/regulondb_native_promoter_panel/audits/usr_regulondb_native_promoters--cluster-diff.json
  docs/studies/regulondb_native_promoter_panel/audits/usr_regulondb_native_promoters--cluster-pull.json
  docs/studies/stress_ethanol_cipro_growth/latentdna_binding.yaml
  docs/studies/stress_ethanol_cipro_growth/ops.study.yaml
  docs/studies/stress_ethanol_cipro_growth/pipeline.yaml
  docs/studies/stress_ethanol_cipro_growth/routes.md
  docs/studies/stress_ethanol_cipro_growth/status.md
  src/dnadesign/latentdna/workspaces/stress_ethanol_cipro_growth/outputs/status/workspace_snapshot.json
Due: core, external_integration

Add LatentDNA AnnData export
  src/dnadesign/latentdna/docs/reference/cli-contracts.md
  src/dnadesign/latentdna/docs/reference/export-contract.md
  src/dnadesign/latentdna/docs/reference/workspace-schema.md
  src/dnadesign/latentdna/src/cli/commands/export.py
  src/dnadesign/latentdna/src/contracts/recipe.py
  src/dnadesign/latentdna/src/exports/anndata.py
  src/dnadesign/latentdna/src/services/export_service.py
  src/dnadesign/latentdna/src/services/recipe_service.py
  src/dnadesign/latentdna/src/sources/provenance.py
  src/dnadesign/latentdna/tests/test_export_anndata.py
  src/dnadesign/usr/__init__.py
Due: core, external_integration, usr

Preserve custom DenseGen notebook browser
  src/dnadesign/densegen/src/cli/notebook.py
Due: core, external_integration, densegen

perf(latentdna): avoid sidecar payload scans for metadata reads
  src/dnadesign/latentdna/src/sources/infer_sidecar_join.py
  src/dnadesign/latentdna/tests/sources/test_infer_feature_sidecar_source.py
Due: core, external_integration

chore(latentdna): refresh stress workspace snapshot
  src/dnadesign/latentdna/workspaces/stress_ethanol_cipro_growth/outputs/status/workspace_snapshot.json
Due: core, external_integration

perf(latentdna): group infer sidecar materialization
  src/dnadesign/latentdna/src/io/hashing.py
  src/dnadesign/latentdna/src/services/memory_service.py
  src/dnadesign/latentdna/src/services/recipe_service.py
  src/dnadesign/latentdna/src/services/view_service.py
  src/dnadesign/latentdna/src/sources/infer_feature_sidecar_source.py
  src/dnadesign/latentdna/src/sources/infer_sidecar_join.py
  src/dnadesign/latentdna/src/views/materialize.py
  src/dnadesign/latentdna/tests/test_hashing.py
  src/dnadesign/latentdna/tests/test_recipe_grouped_materialize.py
Due: core, external_integration

fix(latentdna): align notebook projection controls
  src/dnadesign/latentdna/src/notebooks/scaffold_panels.py
  src/dnadesign/latentdna/tests/contracts/test_study_workspace_contracts.py
  src/dnadesign/latentdna/tests/test_notebook_scaffold_panels.py
  src/dnadesign/latentdna/workspaces/regulondb_native_promoter_panel/plot_semantics/sigma_umap_intermediate_embedding_7b_core60_tss_upstream.yaml
  src/dnadesign/latentdna/workspaces/regulondb_native_promoter_panel/plot_semantics/sigma_umap_intermediate_embedding_7b_native_source_record_seq_mean.yaml
  src/dnadesign/latentdna/workspaces/stress_ethanol_cipro_growth/plot_semantics/appendix_umap_gallery.yaml
  src/dnadesign/latentdna/workspaces/stress_ethanol_cipro_growth/plot_semantics/design_centroid_margin_gallery.yaml
Due: core, external_integration

fix(latentdna): preserve full clouds for sparse hues
  src/dnadesign/latentdna/src/notebooks/browser_runtime.py
  src/dnadesign/latentdna/src/notebooks/browser_runtime_plot_review.py
  src/dnadesign/latentdna/src/notebooks/browser_runtime_projection.py
  src/dnadesign/latentdna/src/notebooks/browser_runtime_support.py
  src/dnadesign/latentdna/src/notebooks/raster_scatter.py
  src/dnadesign/latentdna/tests/contracts/test_study_workspace_contracts.py
  src/dnadesign/latentdna/tests/test_browser_runtime.py
  src/dnadesign/latentdna/tests/test_browser_runtime_plot_review.py
  src/dnadesign/latentdna/tests/test_browser_runtime_projection.py
  src/dnadesign/studies/regulondb_native_promoter_panel/deliverables/sigma_umap_panel.md
Due: core, external_integration

fix(latentdna): constrain projection browser panels
  src/dnadesign/latentdna/src/notebooks/scaffold_panels.py
  src/dnadesign/latentdna/src/notebooks/scaffold_selectors.py
  src/dnadesign/latentdna/src/services/notebook_geometry_controls.py
  src/dnadesign/latentdna/tests/contracts/test_study_workspace_contracts.py
  src/dnadesign/latentdna/tests/test_notebook_controls_service.py
  src/dnadesign/latentdna/tests/test_notebook_scaffold_panels.py
  src/dnadesign/latentdna/workspaces/regulondb_native_promoter_panel/config.yaml
  src/dnadesign/latentdna/workspaces/stress_ethanol_cipro_growth/config.yaml
  src/dnadesign/latentdna/workspaces/stress_ethanol_cipro_growth/outputs/status/workspace_snapshot.json
Due: core, external_integration

fix(latentdna): harden projection plot layouts
  src/dnadesign/latentdna/src/notebooks/browser_runtime_projection.py
  src/dnadesign/latentdna/src/plots/render.py
  src/dnadesign/latentdna/tests/test_browser_runtime_projection.py
  src/dnadesign/latentdna/tests/test_plot_render.py
Due: core, external_integration

perf(latentdna): speed reference overlay rendering
  src/dnadesign/latentdna/src/notebooks/browser_runtime_projection.py
  src/dnadesign/latentdna/src/notebooks/browser_runtime_support.py
  src/dnadesign/latentdna/src/reference_sets.py
  src/dnadesign/latentdna/tests/test_browser_runtime_projection.py
  src/dnadesign/latentdna/tests/test_browser_runtime_support.py
  src/dnadesign/latentdna/tests/test_reference_sets.py
Due: core, external_integration

feat(latentdna): add gc content projection hues
  src/dnadesign/latentdna/src/notebooks/browser_runtime_support.py
  src/dnadesign/latentdna/src/scalars/build.py
  src/dnadesign/latentdna/src/services/_plot_payloads.py
  src/dnadesign/latentdna/src/services/freshness_service.py
  src/dnadesign/latentdna/src/services/notebook_geometry_controls.py
  src/dnadesign/latentdna/tests/contracts/test_study_workspace_contracts.py
  src/dnadesign/latentdna/tests/integrations/test_plot_gallery_rendering.py
  src/dnadesign/latentdna/tests/test_browser_runtime_support.py
  src/dnadesign/latentdna/tests/test_recipe_grouped_materialize.py
  src/dnadesign/latentdna/workspaces/regulondb_native_promoter_panel/config.yaml
  src/dnadesign/latentdna/workspaces/stress_ethanol_cipro_growth/config.yaml
Due: core, external_integration

perf(latentdna): reuse sidecar freshness scans
  src/dnadesign/latentdna/src/services/freshness_service.py
  src/dnadesign/latentdna/src/sources/infer_sidecar_join.py
  src/dnadesign/latentdna/tests/integrations/test_freshness_contracts.py
  src/dnadesign/latentdna/tests/sources/test_infer_feature_sidecar_source.py
Due: core, external_integration

fix(latentdna): harden notebook scatter overlays
  src/dnadesign/latentdna/src/notebooks/browser_runtime_plot_review.py
  src/dnadesign/latentdna/src/notebooks/browser_runtime_projection.py
  src/dnadesign/latentdna/src/notebooks/browser_runtime_support.py
  src/dnadesign/latentdna/src/notebooks/raster_scatter.py
  src/dnadesign/latentdna/src/notebooks/scaffold_panels.py
  src/dnadesign/latentdna/src/notebooks/scaffold_selectors.py
  src/dnadesign/latentdna/src/visual_style.py
  src/dnadesign/latentdna/tests/test_browser_runtime_plot_review.py
  src/dnadesign/latentdna/tests/test_browser_runtime_projection.py
  src/dnadesign/latentdna/tests/test_browser_runtime_support.py
  src/dnadesign/latentdna/tests/test_notebook_scaffold_panels.py
  src/dnadesign/latentdna/tests/test_raster_scatter.py
Due: core, external_integration

perf(latentdna): avoid duplicate reference overlay scans
  src/dnadesign/latentdna/src/notebooks/browser_runtime_plot_review.py
  src/dnadesign/latentdna/tests/test_browser_runtime_plot_review.py
Due: core, external_integration

docs(infer): clarify promoter pooling semantics
  docs/studies/stress_ethanol_cipro_growth/latentdna_binding.yaml
  docs/studies/stress_ethanol_cipro_growth/pipeline.yaml
  docs/studies/stress_ethanol_cipro_growth/routes.md
  docs/studies/stress_ethanol_cipro_growth/status.md
  src/dnadesign/construct/docs/reference/config.md
  src/dnadesign/construct/docs/reference/template-contexts.md
  src/dnadesign/construct/tests/test_docs_contract.py
  src/dnadesign/infer/docs/operations/scc-evo2-gpu-uv-runbook.md
  src/dnadesign/infer/docs/reference/evo2-provider.md
  src/dnadesign/infer/docs/reference/feature-schema.md
  src/dnadesign/infer/tests/docs/test_information_architecture_contracts.py
  src/dnadesign/infer/tests/docs/test_scc_gpu_env_docs_contract.py
  src/dnadesign/infer/workspaces/study_stress_ethanol_cipro/README.md
  src/dnadesign/latentdna/docs/workflows/promoter-study-representation-comparison.md
  src/dnadesign/latentdna/tests/test_docs_contract.py
  src/dnadesign/latentdna/workspaces/stress_ethanol_cipro_growth/README.md
  src/dnadesign/studies/stress_ethanol_cipro_growth/README.md
  src/dnadesign/studies/stress_ethanol_cipro_growth/deliverables/appendix_geometry_review.md
  src/dnadesign/studies/stress_ethanol_cipro_growth/deliverables/appendix_umap_gallery.md
  src/dnadesign/studies/stress_ethanol_cipro_growth/deliverables/candidate_decision_frontier.md
  src/dnadesign/studies/stress_ethanol_cipro_growth/deliverables/candidate_x_selection_scorecard.md
  src/dnadesign/studies/stress_ethanol_cipro_growth/deliverables/context_robustness_summary.md
  src/dnadesign/studies/stress_ethanol_cipro_growth/deliverables/dataset_overview.md
  src/dnadesign/studies/stress_ethanol_cipro_growth/deliverables/design_structure_summary.md
  src/dnadesign/studies/stress_ethanol_cipro_growth/deliverables/representation_health_summary.md
  src/dnadesign/studies/stress_ethanol_cipro_growth/deliverables/sigma35_ordinal_audit.md
  src/dnadesign/studies/stress_ethanol_cipro_growth/notes/2026-04-19-latentdna-preassay-triage.md
  src/dnadesign/studies/stress_ethanol_cipro_growth/notes/2026-05-09-bidirectional-context-anchor-mean-confidence-audit.md
  src/dnadesign/studies/stress_ethanol_cipro_growth/notes/2026-05-09-view-language-prose-audit.md
  src/dnadesign/studies/stress_ethanol_cipro_growth/notes/README.md
  src/dnadesign/usr/docs/operations/promoter-characterization-feature-matrix.md
Due: core, external_integration, usr, infer

docs(studies): route retron hairpin design effort
  .agents/skills/retron-hairpin-study/SKILL.md
  .agents/skills/retron-hairpin-study/references/external-sources.md
  .agents/skills/retron-hairpin-study/references/origin-033-hits.md
  .agents/skills/retron-hairpin-study/references/refresh-loop.md
  .agents/skills/retron-hairpin-study/references/route-matrix.md
  .agents/skills/retron-hairpin-study/references/study-surfaces.md
  .agents/skills/retron-hairpin-study/scripts/audit-retron-hairpin-study-skill.sh
  .agents/skills/snapback-hairpin-study/SKILL.md
  .agents/skills/snapback-hairpin-study/references/route-matrix.md
  .agents/skills/snapback-hairpin-study/references/study-surfaces.md
  AGENTS.md
  docs/README.md
  docs/dev/README.md
  docs/studies/README.md
  docs/studies/index.yaml
  docs/studies/retron_hairpin_design/campaign.yaml
  docs/studies/retron_hairpin_design/datasets.yaml
  docs/studies/retron_hairpin_design/ops.study.yaml
  docs/studies/retron_hairpin_design/pipeline.yaml
  docs/studies/retron_hairpin_design/routes.md
  docs/studies/retron_hairpin_design/scar-nick-base-junction.md
  docs/studies/retron_hairpin_design/snapback-phenomenology-dev-spec.md
  docs/studies/retron_hairpin_design/status.md
  src/dnadesign/cruncher/AGENTS.md
  src/dnadesign/cruncher/docs/README.md
  src/dnadesign/cruncher/docs/guides/intent_and_lifecycle.md
  src/dnadesign/cruncher/tests/docs/test_docs_ontology_contracts.py
  src/dnadesign/studies/retron_hairpin_design/README.md
  src/dnadesign/studies/retron_hairpin_design/study.yaml
  src/dnadesign/studies/snapback_shortening_effort/README.md
  src/dnadesign/studies/snapback_shortening_effort/study.yaml
  src/dnadesign/studies/tests/test_cruncher_study_docs_and_skill_contracts.py
Due: core, external_integration, cruncher

feat(baserender): support scar-nick terminal visuals
  src/dnadesign/baserender/src/adapters/scar_nick_visual_v1.py
  src/dnadesign/baserender/src/config/adapter_contracts.py
  src/dnadesign/baserender/src/outputs/images.py
  src/dnadesign/baserender/src/render/effects/boundary_marker.py
  src/dnadesign/baserender/src/render/layout.py
  src/dnadesign/baserender/src/render/sequence_rows.py
  src/dnadesign/baserender/tests/test_adapter_registry.py
  src/dnadesign/baserender/tests/test_runtime_and_public_api.py
  src/dnadesign/contracts/tests/test_visual_contracts.py
  src/dnadesign/contracts/visual/__init__.py
  src/dnadesign/contracts/visual/scar_nick_visual_v1.py
Due: core, external_integration, baserender

feat(cruncher): add ligation-aware scar-nick workflow
  src/dnadesign/cruncher/resources/cassette/catalogs/type_iis_release_v1.yaml
  src/dnadesign/cruncher/src/app/scar_nick_workflow.py
  src/dnadesign/cruncher/src/cli/app.py
  src/dnadesign/cruncher/src/cli/commands/scar_nick.py
  src/dnadesign/cruncher/src/scar_nick/__init__.py
  src/dnadesign/cruncher/src/scar_nick/artifacts.py
  src/dnadesign/cruncher/src/scar_nick/errors.py
  src/dnadesign/cruncher/src/scar_nick/geometry.py
  src/dnadesign/cruncher/src/scar_nick/load.py
  src/dnadesign/cruncher/src/scar_nick/models.py
  src/dnadesign/cruncher/src/scar_nick/planner.py
  src/dnadesign/cruncher/src/scar_nick/policy.py
  src/dnadesign/cruncher/src/scar_nick/profiles.py
  src/dnadesign/cruncher/src/scar_nick/ranking.py
  src/dnadesign/cruncher/src/scar_nick/view_contracts.py
  src/dnadesign/cruncher/src/scar_nick/view_models.py
  src/dnadesign/cruncher/tests/cli/test_scar_nick_cli.py
  src/dnadesign/cruncher/tests/release_enzymes/test_catalog.py
  src/dnadesign/cruncher/tests/scar_nick/test_planner.py
  src/dnadesign/cruncher/tests/scar_nick/test_policy.py
  src/dnadesign/cruncher/tests/scar_nick/test_profiles.py
  src/dnadesign/cruncher/workspaces/scar_nick_teto/configs/scar_nick/teto_upstream_processing.bbsI_hf.scar_nick.yaml
Due: core, external_integration, cruncher

Harden scar_nick planning and visual contracts
  src/dnadesign/baserender/src/adapters/scar_nick_visual_v1.py
  src/dnadesign/baserender/src/render/sequence_rows.py
  src/dnadesign/baserender/tests/test_adapter_registry.py
  src/dnadesign/contracts/tests/test_visual_contracts.py
  src/dnadesign/contracts/visual/scar_nick_visual_v1.py
  src/dnadesign/cruncher/src/app/scar_nick_workflow.py
  src/dnadesign/cruncher/src/scar_nick/README.md
  src/dnadesign/cruncher/src/scar_nick/artifacts.py
  src/dnadesign/cruncher/src/scar_nick/candidates.py
  src/dnadesign/cruncher/src/scar_nick/planner.py
  src/dnadesign/cruncher/src/scar_nick/reporting.py
  src/dnadesign/cruncher/src/scar_nick/tables.py
  src/dnadesign/cruncher/src/scar_nick/view_contracts.py
  src/dnadesign/cruncher/tests/cli/test_scar_nick_cli.py
  src/dnadesign/cruncher/tests/scar_nick/test_planner.py
  src/dnadesign/cruncher/workspaces/scar_nick_teto/configs/scar_nick/teto_upstream_processing.bbsI_hf.scar_nick.yaml
Due: core, external_integration, cruncher, baserender

Align retron scar_nick study docs
  .agents/skills/retron-hairpin-study/SKILL.md
  .agents/skills/retron-hairpin-study/references/refresh-loop.md
  .agents/skills/retron-hairpin-study/references/route-matrix.md
  .agents/skills/retron-hairpin-study/references/study-surfaces.md
  docs/studies/retron_hairpin_design/routes.md
  docs/studies/retron_hairpin_design/scar-nick-base-junction.md
  docs/studies/retron_hairpin_design/snapback-phenomenology-dev-spec.md
  docs/studies/retron_hairpin_design/status.md
  src/dnadesign/cruncher/docs/README.md
  src/dnadesign/cruncher/docs/operations/cruncher-study-status.md
  src/dnadesign/cruncher/docs/operations/cruncher-study-status.registry.yaml
Due: core, external_integration, cruncher
