Repository e-south/dnadesign: changes, and which Codecov flags are due for each by the changed paths.
All: core, external_integration, usr, notify, densegen, infer, opal, cluster, billboard, libshuffle, nmf, latdna, cruncher, tfkdanalysis, aligner, baserender, permuter

codecov.yml:

codecov:
  require_ci_to_pass: true

coverage:
  precision: 2
  round: down
  range: "0...100"
  status:
    project:
      default:
        target: auto
        threshold: 0.5%
        if_ci_failed: error
        if_not_found: failure
    patch:
      default:
        target: auto
        threshold: 0.5%
        if_ci_failed: error
        if_not_found: failure

flags:
  core:
    paths:
      - src/dnadesign
    carryforward: false
  external_integration:
    paths:
      - src/dnadesign
    carryforward: false

component_management:
  default_rules:
    statuses:
      - type: project
        target: auto
        threshold: 0.5%
        if_ci_failed: error
        if_not_found: failure
  individual_components:
    - component_id: usr
      name: usr
      paths:
        - src/dnadesign/usr/**
    - component_id: notify
      name: notify
      paths:
        - src/dnadesign/notify/**
    - component_id: densegen
      name: densegen
      paths:
        - src/dnadesign/densegen/**
    - component_id: infer
      name: infer
      paths:
        - src/dnadesign/infer/**
    - component_id: opal
      name: opal
      paths:
        - src/dnadesign/opal/**
    - component_id: cluster
      name: cluster
      paths:
        - src/dnadesign/cluster/**
    - component_id: billboard
      name: billboard
      paths:
        - src/dnadesign/billboard/**
    - component_id: libshuffle
      name: libshuffle
      paths:
        - src/dnadesign/libshuffle/**
    - component_id: nmf
      name: nmf
      paths:
        - src/dnadesign/nmf/**
    - component_id: latdna
      name: latdna
      paths:
        - src/dnadesign/latdna/**
    - component_id: cruncher
      name: cruncher
      paths:
        - src/dnadesign/cruncher/**
    - component_id: tfkdanalysis
      name: tfkdanalysis
      paths:
        - src/dnadesign/tfkdanalysis/**
    - component_id: aligner
      name: aligner
      paths:
        - src/dnadesign/aligner/**
    - component_id: baserender
      name: baserender
      paths:
        - src/dnadesign/baserender/**
    - component_id: permuter
      name: permuter
      paths:
        - src/dnadesign/permuter/**

comment:
  require_changes: true
  layout: "reach,diff,flags,components,files"

github_checks:
  annotations: true

Implement Cruncher YIU workflow family
  src/dnadesign/cruncher/src/app/yiu_workflow.py
  src/dnadesign/cruncher/src/app/yiu_workspace_service.py
  src/dnadesign/cruncher/src/bio/__init__.py
  src/dnadesign/cruncher/src/bio/enzymes.py
  src/dnadesign/cruncher/src/bio/iupac.py
  src/dnadesign/cruncher/src/cli/app.py
  src/dnadesign/cruncher/src/cli/commands/yiu.py
  src/dnadesign/cruncher/src/yiu/__init__.py
  src/dnadesign/cruncher/src/yiu/artifacts.py
  src/dnadesign/cruncher/src/yiu/load.py
  src/dnadesign/cruncher/src/yiu/models.py
  src/dnadesign/cruncher/tests/cli/test_yiu_cli.py
  src/dnadesign/cruncher/tests/workspaces/test_runbook_execution.py
  src/dnadesign/cruncher/tests/yiu/test_load.py
Due: core, external_integration, cruncher

Document Cruncher YIU workflow family
  src/dnadesign/cruncher/README.md
  src/dnadesign/cruncher/docs/README.md
  src/dnadesign/cruncher/docs/demos/demo_yiu_workspace.md
  src/dnadesign/cruncher/docs/guides/yiu_workflow.md
  src/dnadesign/cruncher/docs/index.md
  src/dnadesign/cruncher/docs/meta/docs_catalog.yaml
  src/dnadesign/cruncher/docs/reference/architecture.md
  src/dnadesign/cruncher/docs/reference/cli.md
  src/dnadesign/cruncher/docs/reference/glossary.md
  src/dnadesign/cruncher/docs/reference/runbook_steps.md
  src/dnadesign/cruncher/docs/reference/yiu_artifacts.md
  src/dnadesign/cruncher/docs/reference/yiu_spec.md
  src/dnadesign/cruncher/tests/docs/test_yiu_docs_contracts.py
Due: core, external_integration, cruncher

Implement YIU explicit workflow contracts
  src/dnadesign/cruncher/docs/demos/demo_yiu_workspace.md
  src/dnadesign/cruncher/docs/guides/yiu_workflow.md
  src/dnadesign/cruncher/docs/reference/yiu_artifacts.md
  src/dnadesign/cruncher/docs/reference/yiu_spec.md
  src/dnadesign/cruncher/src/app/yiu_workflow.py
  src/dnadesign/cruncher/src/yiu/catalog.py
  src/dnadesign/cruncher/src/yiu/models.py
  src/dnadesign/cruncher/tests/cli/test_yiu_cli.py
  src/dnadesign/cruncher/tests/yiu/test_load.py
Due: core, external_integration, cruncher

docs(ops): normalize study migration docs and guardrails
  .agents/skills/promoter-study-status/SKILL.md
  .agents/skills/sge-hpc-ops/SKILL.md
  .agents/skills/sge-hpc-ops/references/automation-qa-preflight.md
  .agents/skills/sge-hpc-ops/references/interactive-contract.md
  .agents/skills/sge-hpc-ops/references/probe-first-contract.md
  .agents/skills/sge-hpc-ops/references/route-load-matrix.md
  .agents/skills/sge-hpc-ops/references/runbook-entrypoints.md
  .agents/skills/sge-hpc-ops/references/test-matrix.md
  .agents/skills/sge-hpc-ops/references/workflow-router.md
  .agents/skills/sge-hpc-ops/references/workload-dnadesign.md
  .agents/skills/sge-hpc-ops/scripts/audit-sge-hpc-ops-skill.sh
  AGENTS.md
  ARCHITECTURE.md
  DESIGN.md
  RELIABILITY.md
  docs/README.md
  docs/operations/README.md
  docs/runbooks/README.md
  docs/studies/README.md
  docs/templates/promoter-study-datasets.yaml
  docs/templates/promoter-study-index.yaml
  docs/templates/promoter-study-ops.study.yaml
  src/dnadesign/construct/workspaces/study_stress_ethanol_cipro_pdual10/README.md
  src/dnadesign/devtools/docs_checks.py
  src/dnadesign/devtools/tests/test_docs_checks.py
  src/dnadesign/ops/README.md
  src/dnadesign/usr/AGENTS.md
  src/dnadesign/usr/docs/operations/promoter-study-preflight.md
  src/dnadesign/usr/docs/operations/promoter-study-status-contract.md
  src/dnadesign/usr/docs/operations/promoter-study-status-contract.registry.yaml
  src/dnadesign/usr/tests/test_usr_docs_contract.py
Due: core, external_integration, usr

feat(ops): complete generic study preflight contracts
  docs/studies/stress_ethanol_cipro_growth/ops.study.yaml
  docs/templates/promoter-study-ops.study.yaml
  src/dnadesign/ops/cli/commands/progress.py
  src/dnadesign/ops/preflight/__init__.py
  src/dnadesign/ops/preflight/check_protocols.py
  src/dnadesign/ops/preflight/checks/__init__.py
  src/dnadesign/ops/preflight/checks/command.py
  src/dnadesign/ops/preflight/checks/environment.py
  src/dnadesign/ops/preflight/checks/runbook.py
  src/dnadesign/ops/preflight/checks/scheduler_queue.py
  src/dnadesign/ops/preflight/contract_checks.py
  src/dnadesign/ops/preflight/coordinator.py
  src/dnadesign/ops/preflight/models.py
  src/dnadesign/ops/preflight/support.py
  src/dnadesign/ops/tests/test_preflight_contract_checks.py
  src/dnadesign/ops/tests/test_progress_cli.py
  src/dnadesign/studies/core/preflight_plan.py
  src/dnadesign/studies/core/record_loader.py
  src/dnadesign/studies/families/promoter/adapter.py
  src/dnadesign/studies/families/promoter/preflight.py
  src/dnadesign/studies/families/promoter/preflight_infer.py
  src/dnadesign/studies/families/promoter/preflight_orchestration.py
  src/dnadesign/studies/families/promoter/preflight_upstream.py
  src/dnadesign/studies/tests/test_promoter_preflight.py
  src/dnadesign/studies/tests/test_promoter_preflight_infer.py
  src/dnadesign/studies/tests/test_promoter_preflight_orchestration.py
  src/dnadesign/studies/tests/test_promoter_preflight_upstream.py
  src/dnadesign/studies/tests/test_record_loader.py
  src/dnadesign/studies/tests/test_study_preflight_plan.py
Due: core, external_integration

docs(ops): align operator docs, skills, and guardrails
  .agents/skills/promoter-study-status/SKILL.md
  .agents/skills/sge-hpc-ops/SKILL.md
  .agents/skills/sge-hpc-ops/scripts/audit-sge-hpc-ops-skill.sh
  AGENTS.md
  docs/dev/README.md
  docs/operations/README.md
  docs/studies/README.md
  docs/studies/stress_ethanol_cipro_growth/status.md
  src/dnadesign/devtools/architecture_boundaries.py
  src/dnadesign/devtools/docs_checks.py
  src/dnadesign/devtools/tests/test_docs_checks.py
  src/dnadesign/ops/README.md
  src/dnadesign/usr/docs/operations/promoter-study-preflight.md
Due: core, external_integration, usr

Expand YIU explicit workflow for v2 protocol templates
  src/dnadesign/cruncher/docs/guides/yiu_workflow.md
  src/dnadesign/cruncher/docs/reference/yiu_artifacts.md
  src/dnadesign/cruncher/docs/reference/yiu_spec.md
  src/dnadesign/cruncher/src/app/yiu_workflow.py
  src/dnadesign/cruncher/src/app/yiu_workspace_service.py
  src/dnadesign/cruncher/src/bio/__init__.py
  src/dnadesign/cruncher/src/bio/iupac.py
  src/dnadesign/cruncher/src/cli/commands/workspaces.py
  src/dnadesign/cruncher/src/cli/commands/yiu.py
  src/dnadesign/cruncher/src/workspaces/families.py
  src/dnadesign/cruncher/src/yiu/artifacts.py
  src/dnadesign/cruncher/src/yiu/catalog.py
  src/dnadesign/cruncher/src/yiu/load.py
  src/dnadesign/cruncher/src/yiu/models.py
  src/dnadesign/cruncher/tests/cli/test_yiu_cli.py
  src/dnadesign/cruncher/tests/docs/test_yiu_docs_contracts.py
  src/dnadesign/cruncher/tests/yiu/test_load.py
Due: core, external_integration, cruncher

docs(ops): normalize operator docs and skill packs
  .agents/skills/promoter-study-status/SKILL.md
  .agents/skills/promoter-study-status/scripts/audit-promoter-study-status-skill.sh
  .agents/skills/sge-hpc-ops/SKILL.md
  .agents/skills/sge-hpc-ops/references/operator-brief.md
  .agents/skills/sge-hpc-ops/references/runbook-entrypoints.md
  .agents/skills/sge-hpc-ops/references/submission-shape-advisor.md
  .agents/skills/sge-hpc-ops/references/workflow-router.md
  .agents/skills/sge-hpc-ops/references/workload-dnadesign.md
  .agents/skills/sge-hpc-ops/scripts/audit-sge-hpc-ops-skill.sh
  .agents/skills/sge-hpc-ops/scripts/sge-operator-brief.sh
  .agents/skills/sge-hpc-ops/scripts/sge-status-card.sh
  .agents/skills/sge-hpc-ops/scripts/sge-submit-shape-advisor.sh
  docs/README.md
  docs/dev/README.md
  docs/operations/README.md
  docs/operations/ops-failure-contract.md
  docs/operations/ops-mental-model.md
  docs/operations/ops-preflight-checks.md
  docs/operations/ops-runtime-visibility.md
  docs/operations/ops-status-kinds.md
  docs/operations/orchestration-runbooks.md
  src/dnadesign/infer/docs/dev/journal.md
  src/dnadesign/ops/README.md
  src/dnadesign/ops/docs/README.md
  src/dnadesign/ops/tests/test_ops_docs_progressive_disclosure_contracts.py
  src/dnadesign/usr/docs/operations/promoter-study-preflight.md
  src/dnadesign/usr/docs/operations/promoter-study-status-contract.md
  src/dnadesign/usr/tests/test_usr_docs_contract.py
Due: core, external_integration, usr, infer

chore(ci): add studies tool coverage baseline
  .github/tool-coverage-baseline.json
Due: none

docs(ops): remove trailing whitespace in operations docs
  docs/operations/ops-failure-contract.md
  docs/operations/ops-mental-model.md
  docs/operations/ops-preflight-checks.md
  docs/operations/ops-runtime-visibility.md
  docs/operations/ops-status-kinds.md
Due: none

test(ci): refresh package layout contracts
  src/dnadesign/cluster/tests/test_source_tree_contracts.py
  src/dnadesign/construct/tests/package/test_source_tree_contracts.py
Due: core, external_integration, cluster

style(ci): format cluster source tree contract test
  src/dnadesign/cluster/tests/test_source_tree_contracts.py
Due: core, external_integration, cluster

test(ci): fix infer and notify regression tests
  src/dnadesign/construct/__init__.py
  src/dnadesign/construct/contracts.py
  src/dnadesign/construct/src/__init__.py
  src/dnadesign/infer/tests/contracts/test_namespace_contracts.py
  src/dnadesign/infer/tests/package/test_source_tree_contracts.py
  src/dnadesign/infer/tests/runtime/test_extract_chunk_writeback.py
  src/dnadesign/usr/__init__.py
Due: core, external_integration, usr, infer

chore: satisfy pre-commit publish gate
  src/dnadesign/construct/src/config.py
  src/dnadesign/ops/runbooks/runbook_layout.py
  src/dnadesign/ops/tests/test_progress_cli.py
  src/dnadesign/studies/tests/test_promoter_preflight_orchestration.py
  src/dnadesign/studies/tests/test_promoter_preflight_upstream.py
  src/dnadesign/usr/src/dataset_ingest.py
  src/dnadesign/usr/src/dataset_overlay_ops.py
  src/dnadesign/usr/src/dataset_validate.py
Due: core, external_integration, usr

refactor(ops): reorganize progress providers and inputs
  docs/studies/promoter/stress_ethanol_cipro_growth/campaign.yaml
  pyproject.toml
  src/dnadesign/ops/cli/commands/progress.py
  src/dnadesign/ops/cli/dynamic_inputs.py
  src/dnadesign/ops/docs/how-to-use-ops.md
  src/dnadesign/ops/providers/__init__.py
  src/dnadesign/ops/providers/cluster/__init__.py
  src/dnadesign/ops/providers/cluster/provider.py
  src/dnadesign/ops/providers/cluster/status.registry.yaml
  src/dnadesign/ops/providers/opal/__init__.py
  src/dnadesign/ops/providers/opal/provider.py
  src/dnadesign/ops/providers/opal/status.registry.yaml
  src/dnadesign/ops/providers/ops/__init__.py
  src/dnadesign/ops/providers/ops/provider.py
  src/dnadesign/ops/providers/ops/status.registry.yaml
  src/dnadesign/ops/providers/usr/__init__.py
  src/dnadesign/ops/providers/usr/provider.py
  src/dnadesign/ops/providers/usr/status.registry.yaml
  src/dnadesign/ops/status/artifacts.py
  src/dnadesign/ops/status/parsing.py
  src/dnadesign/ops/status/path_ref.py
  src/dnadesign/ops/status/paths.py
  src/dnadesign/ops/tests/test_progress_builtin_registry.py
  src/dnadesign/ops/tests/test_status_path_ref.py
Due: core, external_integration

refactor(studies): move preflight planning into study core
  docs/studies/README.md
  docs/studies/promoter/stress_ethanol_cipro_growth/ops.study.yaml
  docs/templates/promoter-study-ops.study.yaml
  src/dnadesign/ops/progress_command_support.py
  src/dnadesign/ops/tests/test_progress_cli.py
  src/dnadesign/studies/core/__init__.py
  src/dnadesign/studies/core/models.py
  src/dnadesign/studies/core/preflight_plan.py
  src/dnadesign/studies/core/record_loader.py
  src/dnadesign/studies/stress_promoter_ethanol_cipro/family.py
  src/dnadesign/studies/stress_promoter_ethanol_cipro/preflight.py
  src/dnadesign/studies/stress_promoter_ethanol_cipro/preflight_infer.py
  src/dnadesign/studies/stress_promoter_ethanol_cipro/preflight_orchestration.py
  src/dnadesign/studies/stress_promoter_ethanol_cipro/preflight_scope.py
  src/dnadesign/studies/stress_promoter_ethanol_cipro/preflight_upstream.py
  src/dnadesign/studies/tests/test_stress_promoter_ethanol_cipro_preflight.py
  src/dnadesign/studies/tests/test_stress_promoter_ethanol_cipro_preflight_infer.py
  src/dnadesign/studies/tests/test_stress_promoter_ethanol_cipro_preflight_orchestration.py
  src/dnadesign/studies/tests/test_stress_promoter_ethanol_cipro_preflight_scope.py
  src/dnadesign/studies/tests/test_stress_promoter_ethanol_cipro_preflight_upstream.py
  src/dnadesign/studies/tests/test_study_preflight_plan.py
Due: core, external_integration

docs(studies): enforce promoter record parity
  .agents/skills/promoter-study-status/SKILL.md
  docs/studies/README.md
  docs/studies/promoter/README.md
  docs/studies/promoter/stress_ethanol_cipro_growth/pipeline.yaml
  src/dnadesign/devtools/docs_checks.py
  src/dnadesign/devtools/tests/test_docs_checks.py
  src/dnadesign/usr/docs/operations/promoter-study-preflight.md
  src/dnadesign/usr/docs/operations/promoter-study-status-contract.md
  src/dnadesign/usr/tests/test_usr_docs_contract.py
Due: core, external_integration, usr

usr: harden shared dataset writeback and infer progress events
  src/dnadesign/densegen/tests/runtime/test_output_sink_parity.py
  src/dnadesign/infer/docs/reference/evo2-provider.md
  src/dnadesign/infer/src/features/execution.py
  src/dnadesign/infer/src/runtime/extract_chunk_writeback.py
  src/dnadesign/infer/src/runtime/extract_execution.py
  src/dnadesign/infer/src/writers/usr.py
  src/dnadesign/infer/tests/contracts/test_usr_writeback_contract.py
  src/dnadesign/infer/tests/package/test_source_tree_contracts.py
  src/dnadesign/infer/tests/runtime/test_extract_execution.py
  src/dnadesign/infer/tests/runtime/test_feature_bundle_execution.py
  src/dnadesign/notify/tests/test_cli_setup.py
  src/dnadesign/notify/tests/test_cli_usr_events.py
  src/dnadesign/notify/tests/test_tool_events.py
  src/dnadesign/notify/tests/test_workspace_source.py
  src/dnadesign/notify/tool_events/infer.py
  src/dnadesign/usr/remotes.yaml
  src/dnadesign/usr/src/dataset.py
  src/dnadesign/usr/src/dataset_ingest.py
  src/dnadesign/usr/src/dataset_overlay_ops.py
  src/dnadesign/usr/src/dataset_validate.py
  src/dnadesign/usr/tests/test_overlays.py
  src/dnadesign/usr/tests/test_registry.py
Due: core, external_integration, usr, notify, densegen, infer

refactor(ops): isolate dynamic progress input parsing
  src/dnadesign/ops/cli/commands/catalog.py
  src/dnadesign/ops/cli/commands/progress.py
  src/dnadesign/ops/cli/dynamic_inputs.py
  src/dnadesign/ops/status/__init__.py
  src/dnadesign/ops/tests/test_dynamic_inputs.py
  src/dnadesign/ops/tests/test_progress_builtin_registry.py
Due: core, external_integration

refactor(studies): move preflight checks into ops
  src/dnadesign/ops/preflight/__init__.py
  src/dnadesign/ops/preflight/coordinator.py
  src/dnadesign/ops/preflight/models.py
  src/dnadesign/ops/preflight/support.py
  src/dnadesign/ops/progress_support.py
  src/dnadesign/ops/tests/test_progress_cli.py
  src/dnadesign/studies/core/__init__.py
  src/dnadesign/studies/core/preflight_plan.py
  src/dnadesign/studies/stress_promoter_ethanol_cipro/family.py
  src/dnadesign/studies/stress_promoter_ethanol_cipro/preflight.py
  src/dnadesign/studies/stress_promoter_ethanol_cipro/preflight_infer.py
  src/dnadesign/studies/stress_promoter_ethanol_cipro/preflight_orchestration.py
  src/dnadesign/studies/stress_promoter_ethanol_cipro/preflight_upstream.py
  src/dnadesign/studies/tests/test_stress_promoter_ethanol_cipro_preflight_infer.py
  src/dnadesign/studies/tests/test_stress_promoter_ethanol_cipro_preflight_orchestration.py
  src/dnadesign/studies/tests/test_stress_promoter_ethanol_cipro_preflight_upstream.py
  src/dnadesign/studies/tests/test_study_preflight_plan.py
Due: core, external_integration

Add YIU visual contract support to baserender
  src/dnadesign/baserender/README.md
  src/dnadesign/baserender/__init__.py
  src/dnadesign/baserender/docs/README.md
  src/dnadesign/baserender/docs/integrations/README.md
  src/dnadesign/baserender/docs/integrations/cruncher.md
  src/dnadesign/baserender/docs/integrations/yiu.md
  src/dnadesign/baserender/docs/reference.md
  src/dnadesign/baserender/src/__init__.py
  src/dnadesign/baserender/src/adapters/__init__.py
  src/dnadesign/baserender/src/adapters/registry.py
  src/dnadesign/baserender/src/adapters/yiu_hairpin_topology_v1.py
  src/dnadesign/baserender/src/adapters/yiu_linear_state_v1.py
  src/dnadesign/baserender/src/adapters/yiu_topology_cartoon_v1.py
  src/dnadesign/baserender/src/api.py
  src/dnadesign/baserender/src/cli_actions.py
  src/dnadesign/baserender/src/config/__init__.py
  src/dnadesign/baserender/src/config/adapter_contracts.py
  src/dnadesign/baserender/src/config/cruncher_showcase_job.py
  src/dnadesign/baserender/src/config/jobs/__init__.py
  src/dnadesign/baserender/src/config/jobs/sequence_rows_v3.py
  src/dnadesign/baserender/src/core/record.py
  src/dnadesign/baserender/src/core/types.py
  src/dnadesign/baserender/src/outputs.py
  src/dnadesign/baserender/src/render/layout.py
  src/dnadesign/baserender/src/render/renderer.py
  src/dnadesign/baserender/src/render/sequence_rows.py
  src/dnadesign/baserender/src/render/topology_cartoon.py
  src/dnadesign/baserender/src/runner.py
  src/dnadesign/baserender/tests/test_docs_contracts.py
  src/dnadesign/baserender/tests/test_runtime_and_public_api.py
  src/dnadesign/baserender/tests/test_yiu_contract_jobs.py
  src/dnadesign/contracts/README.md
  src/dnadesign/contracts/__init__.py
  src/dnadesign/contracts/tests/test_visual_contracts.py
  src/dnadesign/contracts/visual/__init__.py
  src/dnadesign/contracts/visual/yiu_hairpin_topology_v1.py
  src/dnadesign/contracts/visual/yiu_linear_state_v1.py
  src/dnadesign/contracts/visual/yiu_topology_cartoon_v1.py
Due: core, external_integration, baserender

Add YIU solve and visuals workflow to cruncher
  src/dnadesign/cruncher/docs/README.md
  src/dnadesign/cruncher/docs/demos/demo_yiu_workspace.md
  src/dnadesign/cruncher/docs/guides/yiu_workflow.md
  src/dnadesign/cruncher/docs/index.md
  src/dnadesign/cruncher/docs/reference/architecture.md
  src/dnadesign/cruncher/docs/reference/cli.md
  src/dnadesign/cruncher/docs/reference/yiu_artifacts.md
  src/dnadesign/cruncher/docs/reference/yiu_spec.md
  src/dnadesign/cruncher/src/app/yiu_solve_workflow.py
  src/dnadesign/cruncher/src/app/yiu_workflow.py
  src/dnadesign/cruncher/src/app/yiu_workspace_service.py
  src/dnadesign/cruncher/src/cli/app.py
  src/dnadesign/cruncher/src/cli/commands/visuals.py
  src/dnadesign/cruncher/src/cli/commands/workspaces.py
  src/dnadesign/cruncher/src/cli/commands/yiu.py
  src/dnadesign/cruncher/src/viz/mpl.py
  src/dnadesign/cruncher/src/workspaces/families.py
  src/dnadesign/cruncher/src/workspaces/runbook.py
  src/dnadesign/cruncher/src/yiu/artifacts.py
  src/dnadesign/cruncher/src/yiu/load.py
  src/dnadesign/cruncher/src/yiu/models.py
  src/dnadesign/cruncher/tests/cli/test_visuals_cli.py
  src/dnadesign/cruncher/tests/cli/test_workspaces_reset_cli.py
  src/dnadesign/cruncher/tests/cli/test_yiu_cli.py
  src/dnadesign/cruncher/tests/docs/test_master_orchestration_contracts.py
  src/dnadesign/cruncher/tests/docs/test_yiu_docs_contracts.py
  src/dnadesign/cruncher/tests/workspaces/test_family_registry.py
  src/dnadesign/cruncher/tests/workspaces/test_runbook_execution.py
  src/dnadesign/cruncher/tests/yiu/test_load.py
  src/dnadesign/cruncher/tests/yiu/test_solve.py
  src/dnadesign/cruncher/workspaces/README.md
  src/dnadesign/cruncher/workspaces/demo_yiu_circularized/catalogs/backbones.yaml
  src/dnadesign/cruncher/workspaces/demo_yiu_circularized/catalogs/enzymes.yaml
  src/dnadesign/cruncher/workspaces/demo_yiu_circularized/catalogs/oligo_parts.yaml
  src/dnadesign/cruncher/workspaces/demo_yiu_circularized/configs/runbook.yaml
  src/dnadesign/cruncher/workspaces/demo_yiu_circularized/configs/yiu/compat/example_adapter_hairpin.yiu.yaml
  src/dnadesign/cruncher/workspaces/demo_yiu_circularized/configs/yiu/compat/example_legacy_v1.yiu.yaml
  src/dnadesign/cruncher/workspaces/demo_yiu_circularized/configs/yiu/example_canonical_circularized.yiu.solve.yaml
  src/dnadesign/cruncher/workspaces/demo_yiu_circularized/configs/yiu/example_canonical_circularized.yiu.yaml
  src/dnadesign/cruncher/workspaces/demo_yiu_circularized/runbook.md
Due: core, external_integration, cruncher
