Repository e-south/dnadesign: changes, and which Codecov flags are due for each by the changed paths.
All: core, external_integration, usr, notify, densegen, infer, opal, cluster, billboard, libshuffle, nmf, latdna, cruncher, tfkdanalysis, aligner, baserender, permuter

densegen: enforce strict sampling/config contracts
  src/dnadesign/densegen/docs/reference/config.md
  src/dnadesign/densegen/src/adapters/sources/pwm_artifact.py
  src/dnadesign/densegen/src/adapters/sources/pwm_artifact_set.py
  src/dnadesign/densegen/src/adapters/sources/pwm_jaspar.py
  src/dnadesign/densegen/src/adapters/sources/pwm_matrix_csv.py
  src/dnadesign/densegen/src/adapters/sources/pwm_meme.py
  src/dnadesign/densegen/src/adapters/sources/pwm_meme_set.py
  src/dnadesign/densegen/src/adapters/sources/pwm_sampling.py
  src/dnadesign/densegen/src/config/inputs.py
  src/dnadesign/densegen/src/core/pipeline/attempts.py
  src/dnadesign/densegen/src/core/pipeline/resume_state.py
  src/dnadesign/densegen/src/core/stage_a/stage_a_pipeline.py
  src/dnadesign/densegen/tests/config/test_densegen_cli_module_layout.py
  src/dnadesign/densegen/tests/config/test_stage_a_namespace_layout.py
  src/dnadesign/densegen/tests/pwm/test_pwm_artifact_set_source.py
  src/dnadesign/densegen/tests/pwm/test_pwm_meme_set_source.py
  src/dnadesign/densegen/tests/pwm/test_pwm_meme_source.py
  src/dnadesign/densegen/tests/pwm/test_pwm_other_sources.py
  src/dnadesign/densegen/tests/pwm/test_pwm_sampling_config.py
  src/dnadesign/densegen/tests/runtime/test_resume_pool_reuse.py
  src/dnadesign/densegen/tests/stage_a/test_background_pool_config.py
Due: core, external_integration, densegen

densegen: harden notebook runtime and marimo UX
  docs/marimo-reference.md
  src/dnadesign/densegen/src/cli/notebook.py
  src/dnadesign/densegen/src/cli/notebook_template.py
  src/dnadesign/densegen/src/viz/plot_stage_b_placement.py
  src/dnadesign/densegen/tests/cli/test_cli_report_plots.py
  src/dnadesign/densegen/tests/runtime/test_run_diagnostics_plots.py
Due: core, external_integration, densegen

densegen: fail fast on runtime pipeline errors
  src/dnadesign/densegen/src/core/pipeline/run_finalization.py
  src/dnadesign/densegen/src/core/pipeline/stage_b_library_builder.py
  src/dnadesign/densegen/src/core/pipeline/stage_b_runtime_checks.py
  src/dnadesign/densegen/src/core/pipeline/usage_tracking.py
  src/dnadesign/densegen/tests/runtime/test_orchestrator_sequence_constraints.py
  src/dnadesign/densegen/tests/runtime/test_run_finalization.py
  src/dnadesign/densegen/tests/stage_b/test_stage_b_library_builder.py
  src/dnadesign/densegen/tests/stage_b/test_used_tfbs_offsets.py
Due: core, external_integration, densegen

densegen: harden lazy CLI command registration
  src/dnadesign/densegen/src/cli/main.py
  src/dnadesign/densegen/tests/cli/test_cli_main_lazy_registration.py
Due: core, external_integration, densegen

densegen: align packaged workspaces and sigma70 constitutive panel
  src/dnadesign/densegen/docs/concepts/workspace-templates.md
  src/dnadesign/densegen/docs/index.md
  src/dnadesign/densegen/docs/tutorials/study_constitutive_sigma_panel.md
  src/dnadesign/densegen/src/cli/workspace_sources.py
  src/dnadesign/densegen/tests/cli/test_cli_workspace_init.py
  src/dnadesign/densegen/tests/config/test_demo_config.py
  src/dnadesign/densegen/workspaces/README.md
  src/dnadesign/densegen/workspaces/demo_sampling_baseline/config.yaml
  src/dnadesign/densegen/workspaces/demo_tfbs_baseline/config.yaml
  src/dnadesign/densegen/workspaces/study_constitutive_sigma_panel/config.yaml
Due: core, external_integration, densegen

densegen docs: align demo flows with runtime workspace semantics
  docs/dev/journal.md
  docs/hpc/skills/bu_scc_ops/SKILL.md
  docs/hpc/skills/bu_scc_ops/references/resource-profiles.md
  src/dnadesign/densegen/README.md
  src/dnadesign/densegen/docs/concepts/generation.md
  src/dnadesign/densegen/docs/concepts/inputs.md
  src/dnadesign/densegen/docs/concepts/outputs-and-metadata.md
  src/dnadesign/densegen/docs/concepts/pipeline-lifecycle.md
  src/dnadesign/densegen/docs/concepts/postprocess.md
  src/dnadesign/densegen/docs/concepts/quick-checklist.md
  src/dnadesign/densegen/docs/concepts/sampling.md
  src/dnadesign/densegen/docs/concepts/workspace-templates.md
  src/dnadesign/densegen/docs/concepts/workspace.md
  src/dnadesign/densegen/docs/dev/architecture.md
  src/dnadesign/densegen/docs/dev/journal.md
  src/dnadesign/densegen/docs/howto/bu-scc.md
  src/dnadesign/densegen/docs/howto/bu_scc_end_to_end.md
  src/dnadesign/densegen/docs/howto/cruncher_pwm_pipeline.md
  src/dnadesign/densegen/docs/howto/hpc.md
  src/dnadesign/densegen/docs/howto/usr_notify_hpc.md
  src/dnadesign/densegen/docs/reference/cli.md
  src/dnadesign/densegen/docs/reference/motif_artifacts.md
  src/dnadesign/densegen/docs/reference/outputs.md
  src/dnadesign/densegen/docs/tutorials/demo_sampling_baseline.md
  src/dnadesign/densegen/docs/tutorials/demo_tfbs_baseline.md
  src/dnadesign/densegen/docs/tutorials/demo_usr_notify.md
  src/dnadesign/densegen/docs/tutorials/study_stress_ethanol_cipro.md
Due: core, external_integration, densegen

opal: restore EI normalization and gated analytical uncertainty
  src/dnadesign/opal/docs/plugins/objective-sfxi.md
  src/dnadesign/opal/docs/plugins/selection-expected-improvement.md
  src/dnadesign/opal/docs/workflows/gp-sfxi-ei.md
  src/dnadesign/opal/src/config/plugin_schemas.py
  src/dnadesign/opal/src/objectives/sfxi_v1.py
  src/dnadesign/opal/src/selection/expected_improvement.py
  src/dnadesign/opal/tests/test_config_objectives_v2.py
  src/dnadesign/opal/tests/test_expected_improvement_edge_cases.py
  src/dnadesign/opal/tests/test_objective_contract_v2.py
  src/dnadesign/opal/tests/test_objective_sfxi_v1.py
  src/dnadesign/opal/tests/test_run_round_integrity.py
Due: core, external_integration, opal

opal: harden sfxi uncertainty edge behavior and docs
  src/dnadesign/opal/docs/plugins/objective-sfxi.md
  src/dnadesign/opal/docs/plugins/selection.md
  src/dnadesign/opal/docs/workflows/gp-sfxi-ei.md
  src/dnadesign/opal/src/cli/guidance.py
  src/dnadesign/opal/src/objectives/sfxi_v1.py
  src/dnadesign/opal/tests/test_objective_sfxi_v1.py
Due: core, external_integration, opal

opal: align sfxi docs and add EI/SFXI hardening tests
  src/dnadesign/opal/docs/plugins/objective-sfxi.md
  src/dnadesign/opal/tests/test_objective_sfxi_v1.py
  src/dnadesign/opal/tests/test_run_round_integrity.py
Due: core, external_integration, opal

Harden CI gate and align dev docs
  .github/workflows/ci.yaml
  ARCHITECTURE.md
  DESIGN.md
  PLANS.md
  QUALITY_SCORE.md
  RELIABILITY.md
  SECURITY.md
  docs/README.md
  docs/dev/README.md
  src/dnadesign/devtools/architecture_boundaries.py
  src/dnadesign/devtools/ci_changed_files.py
  src/dnadesign/devtools/ci_changes.py
  src/dnadesign/devtools/tests/test_architecture_boundaries.py
  src/dnadesign/devtools/tests/test_ci_changed_files.py
  src/dnadesign/devtools/tests/test_ci_changes.py
  src/dnadesign/devtools/tests/test_ci_workflow_contract.py
Due: core, external_integration

Fixing analytical solution to scalar variance to reflect use of lognormal distribution and normal moments. Getting rid of value clipping.
  src/dnadesign/opal/src/objectives/sfxi_v1.py
Due: core, external_integration, opal

Fix SFXI uncertainty zeroing and enforce strict positivity
  src/dnadesign/opal/docs/plugins/objective-sfxi.md
  src/dnadesign/opal/src/objectives/sfxi_v1.py
  src/dnadesign/opal/tests/test_objective_sfxi_v1.py
Due: core, external_integration, opal

Align SFXI analytical moments with log2 semantics
  src/dnadesign/opal/docs/maintainers/journal.md
  src/dnadesign/opal/docs/plugins/objective-sfxi.md
  src/dnadesign/opal/src/objectives/sfxi_v1.py
  src/dnadesign/opal/tests/test_objective_sfxi_v1.py
Due: core, external_integration, opal

Add coverage for fractional SFXI uncertainty guards
  src/dnadesign/opal/docs/plugins/objective-sfxi.md
  src/dnadesign/opal/docs/reference/data-contracts.md
  src/dnadesign/opal/tests/test_objective_sfxi_v1.py
Due: core, external_integration, opal

opal: harden config parsing and SFXI analytical schema contracts
  src/dnadesign/opal/docs/plugins/objective-sfxi.md
  src/dnadesign/opal/docs/reference/cli.md
  src/dnadesign/opal/docs/reference/configuration.md
  src/dnadesign/opal/src/config/loader.py
  src/dnadesign/opal/src/config/plugin_schemas.py
  src/dnadesign/opal/tests/test_cli_workflows.py
  src/dnadesign/opal/tests/test_config_objectives_v2.py
Due: core, external_integration, opal

opal: stop duplicate OpalError echo in non-interactive CLI
  src/dnadesign/opal/src/cli/commands/_common.py
  src/dnadesign/opal/tests/test_cli_common.py
Due: core, external_integration, opal

opal: record hardening pass and adversarial validation in journal
  src/dnadesign/opal/docs/maintainers/journal.md
Due: core, external_integration, opal

opal: document domain-based test layout migration
  src/dnadesign/opal/docs/maintainers/journal.md
Due: core, external_integration, opal

opal-cli: require explicit recorded model artifact paths
  src/dnadesign/opal/docs/reference/cli.md
  src/dnadesign/opal/src/cli/commands/_common.py
  src/dnadesign/opal/src/cli/commands/model_show.py
  src/dnadesign/opal/src/cli/commands/predict.py
  src/dnadesign/opal/tests/cli/test_cli_model_show.py
  src/dnadesign/opal/tests/cli/test_cli_predict_yops_inversion.py
Due: core, external_integration, opal

opal: record no-fallback model artifact hardening pass
  src/dnadesign/opal/docs/maintainers/journal.md
Due: core, external_integration, opal

opal: clarify delta exact-setpoint uncertainty failure
  src/dnadesign/opal/docs/maintainers/journal.md
  src/dnadesign/opal/docs/plugins/objective-sfxi.md
  src/dnadesign/opal/src/objectives/sfxi_v1.py
  src/dnadesign/opal/tests/objectives/test_objective_sfxi_v1.py
Due: core, external_integration, opal

opal: restore EI sigma normalization in exploration term
  src/dnadesign/opal/docs/plugins/selection-expected-improvement.md
  src/dnadesign/opal/src/selection/expected_improvement.py
  src/dnadesign/opal/tests/selection/test_expected_improvement_edge_cases.py
Due: core, external_integration, opal

opal docs: clarify detached campaign run invocation and GP warning
  src/dnadesign/opal/docs/workflows/gp-sfxi-ei.md
Due: core, external_integration, opal

opal: tie-break EI ties by predicted score before id
  src/dnadesign/opal/docs/maintainers/journal.md
  src/dnadesign/opal/docs/plugins/selection-expected-improvement.md
  src/dnadesign/opal/docs/plugins/selection.md
  src/dnadesign/opal/docs/workflows/gp-sfxi-ei.md
  src/dnadesign/opal/src/selection/expected_improvement.py
  src/dnadesign/opal/tests/selection/test_expected_improvement_edge_cases.py
Due: core, external_integration, opal

repo-contracts: update top-level design and tooling metadata
  .gitignore
  DESIGN.md
  docs/dependencies.md
  pyproject.toml
Due: none

cruncher-docs: restructure IA and align docs with runbooks
  src/dnadesign/cruncher/README.md
  src/dnadesign/cruncher/docs/README.md
  src/dnadesign/cruncher/docs/demos/demo_basics_two_tf.md
  src/dnadesign/cruncher/docs/demos/demo_campaigns_multi_tf.md
  src/dnadesign/cruncher/docs/demos/demo_densegen_prep_three_tf.md
  src/dnadesign/cruncher/docs/demos/demo_multitf.md
  src/dnadesign/cruncher/docs/demos/demo_pairwise.md
  src/dnadesign/cruncher/docs/demos/project_all_tfs.md
  src/dnadesign/cruncher/docs/dev/journal.md
  src/dnadesign/cruncher/docs/guides/ingestion.md
  src/dnadesign/cruncher/docs/guides/intent_and_lifecycle.md
  src/dnadesign/cruncher/docs/guides/meme_suite.md
  src/dnadesign/cruncher/docs/guides/portfolio_aggregation.md
  src/dnadesign/cruncher/docs/guides/sampling_and_analysis.md
  src/dnadesign/cruncher/docs/guides/studies.md
  src/dnadesign/cruncher/docs/guides/study_diversity_vs_score.md
  src/dnadesign/cruncher/docs/guides/study_length_vs_score.md
  src/dnadesign/cruncher/docs/guides/troubleshooting.md
  src/dnadesign/cruncher/docs/index.md
  src/dnadesign/cruncher/docs/internals/optimizer_improvements_plan.md
  src/dnadesign/cruncher/docs/internals/spec.md
  src/dnadesign/cruncher/docs/meta/docs_catalog.yaml
  src/dnadesign/cruncher/docs/meta/style_guide.md
  src/dnadesign/cruncher/docs/meta/templates/dev_note.md
  src/dnadesign/cruncher/docs/meta/templates/guide_howto.md
  src/dnadesign/cruncher/docs/meta/templates/reference.md
  src/dnadesign/cruncher/docs/meta/templates/tutorial_demo.md
  src/dnadesign/cruncher/docs/reference/architecture.md
  src/dnadesign/cruncher/docs/reference/artifacts.md
  src/dnadesign/cruncher/docs/reference/cli.md
  src/dnadesign/cruncher/docs/reference/config.md
  src/dnadesign/cruncher/docs/reference/doc_conventions.md
  src/dnadesign/cruncher/docs/reference/glossary.md
  src/dnadesign/cruncher/docs/reference/runbook_steps.md
  src/dnadesign/cruncher/images/banner_elites_showcase_multitf.png
Due: core, external_integration, cruncher

cross-tool: enforce public CLI and docs boundary contracts
  src/dnadesign/devtools/docs_checks.py
  src/dnadesign/devtools/tests/test_docs_checks.py
  src/dnadesign/notify/cli.py
  src/dnadesign/notify/events_source_builtin.py
  src/dnadesign/notify/tests/test_notify_public_import_boundary.py
  src/dnadesign/opal/cli.py
  src/dnadesign/permuter/cli.py
  src/dnadesign/usr/cli.py
  src/dnadesign/usr/event_schema.py
Due: core, external_integration, usr, notify, opal, permuter

Fix CI test regressions in baserender/cruncher contracts
  src/dnadesign/baserender/workspaces/demo_cruncher_render/job.yaml
  src/dnadesign/cruncher/tests/analysis/test_overlap_plots.py
  src/dnadesign/cruncher/tests/cli/test_portfolio_cli.py
  src/dnadesign/cruncher/tests/cli/test_study_cli.py
Due: core, external_integration, cruncher, baserender

cruncher: portfolio layout, telemetry, and showcase consistency
  src/dnadesign/baserender/src/showcase_style.py
  src/dnadesign/baserender/workspaces/demo_cruncher_render/job.yaml
  src/dnadesign/cruncher/docs/guides/portfolio_aggregation.md
  src/dnadesign/cruncher/docs/reference/architecture.md
  src/dnadesign/cruncher/docs/reference/artifacts.md
  src/dnadesign/cruncher/docs/reference/cli.md
  src/dnadesign/cruncher/src/analysis/plots/elites_showcase.py
  src/dnadesign/cruncher/src/app/portfolio_materialization.py
  src/dnadesign/cruncher/src/app/portfolio_studies.py
  src/dnadesign/cruncher/src/app/portfolio_workflow.py
  src/dnadesign/cruncher/src/app/sample/elites_stage.py
  src/dnadesign/cruncher/src/app/study_workflow.py
  src/dnadesign/cruncher/src/cli/commands/portfolio.py
  src/dnadesign/cruncher/src/portfolio/layout.py
  src/dnadesign/cruncher/src/portfolio/plots/elite_showcase.py
  src/dnadesign/cruncher/tests/analysis/test_overlap_plots.py
  src/dnadesign/cruncher/tests/app/test_elite_selection.py
  src/dnadesign/cruncher/tests/cli/test_portfolio_cli.py
  src/dnadesign/cruncher/tests/docs/test_portfolio_docs_contracts.py
  src/dnadesign/cruncher/tests/portfolio/test_portfolio_load_and_layout.py
  src/dnadesign/cruncher/tests/portfolio/test_portfolio_run_smoke.py
  src/dnadesign/cruncher/tests/study/test_study_run_smoke.py
  src/dnadesign/cruncher/workspaces/portfolios/runbook.md
Due: core, external_integration, cruncher, baserender

usr: sync fidelity contracts, runbooks, and workflow chaining
  docs/README.md
  src/dnadesign/usr/docs/README.md
  src/dnadesign/usr/docs/operations/README.md
  src/dnadesign/usr/docs/operations/chained-densegen-infer-sync-demo.md
  src/dnadesign/usr/docs/operations/hpc-agent-sync-flow.md
  src/dnadesign/usr/docs/operations/sync-fidelity-drills.md
  src/dnadesign/usr/docs/operations/sync.md
  src/dnadesign/usr/src/cli.py
  src/dnadesign/usr/src/cli_commands/sync.py
  src/dnadesign/usr/src/cli_commands/sync_policy.py
  src/dnadesign/usr/src/diff.py
  src/dnadesign/usr/src/remote.py
  src/dnadesign/usr/src/sync.py
  src/dnadesign/usr/src/sync_sidecars.py
  src/dnadesign/usr/src/ui.py
  src/dnadesign/usr/tests/test_cli_typer.py
  src/dnadesign/usr/tests/test_sync_iterative_batch_flow.py
  src/dnadesign/usr/tests/test_sync_locking.py
  src/dnadesign/usr/tests/test_sync_remote_failures.py
  src/dnadesign/usr/tests/test_sync_schema_adversarial.py
  src/dnadesign/usr/tests/test_sync_target_modes.py
  src/dnadesign/usr/tests/test_usr_docs_contract.py
Due: core, external_integration, usr

usr cli: monolith split into registrars and sync command modules
  src/dnadesign/usr/src/cli.py
  src/dnadesign/usr/src/cli_commands/error_output.py
  src/dnadesign/usr/src/cli_commands/lifecycle_cli.py
  src/dnadesign/usr/src/cli_commands/maintenance.py
  src/dnadesign/usr/src/cli_commands/materialize.py
  src/dnadesign/usr/src/cli_commands/merge.py
  src/dnadesign/usr/src/cli_commands/namespace_cli.py
  src/dnadesign/usr/src/cli_commands/namespace_handlers.py
  src/dnadesign/usr/src/cli_commands/ops_cli.py
  src/dnadesign/usr/src/cli_commands/query_cli.py
  src/dnadesign/usr/src/cli_commands/read_views.py
  src/dnadesign/usr/src/cli_commands/remotes_cli.py
  src/dnadesign/usr/src/cli_commands/runtime.py
  src/dnadesign/usr/src/cli_commands/sync.py
  src/dnadesign/usr/src/cli_commands/sync_cli.py
  src/dnadesign/usr/src/cli_commands/sync_execution.py
  src/dnadesign/usr/src/cli_commands/sync_output.py
  src/dnadesign/usr/src/cli_commands/sync_targets.py
  src/dnadesign/usr/src/cli_commands/tooling.py
  src/dnadesign/usr/tests/test_cli_error_output_module_layout.py
  src/dnadesign/usr/tests/test_cli_lifecycle_module_layout.py
  src/dnadesign/usr/tests/test_cli_maintenance_module_layout.py
  src/dnadesign/usr/tests/test_cli_materialize_module_layout.py
  src/dnadesign/usr/tests/test_cli_merge_module_layout.py
  src/dnadesign/usr/tests/test_cli_namespace_handlers_module_layout.py
  src/dnadesign/usr/tests/test_cli_namespace_module_layout.py
  src/dnadesign/usr/tests/test_cli_ops_module_layout.py
  src/dnadesign/usr/tests/test_cli_query_module_layout.py
  src/dnadesign/usr/tests/test_cli_read_views_module_layout.py
  src/dnadesign/usr/tests/test_cli_remotes_module_layout.py
  src/dnadesign/usr/tests/test_cli_runtime_module_layout.py
  src/dnadesign/usr/tests/test_cli_sync_args_builder_layout.py
  src/dnadesign/usr/tests/test_cli_tooling_module_layout.py
  src/dnadesign/usr/tests/test_module_layout.py
  src/dnadesign/usr/tests/test_sync_execution_module_layout.py
  src/dnadesign/usr/tests/test_sync_output_module_layout.py
  src/dnadesign/usr/tests/test_sync_targets_module_layout.py
Due: core, external_integration, usr

usr harness: deterministic cycle/audit scripts and contract docs
  docs/README.md
  docs/start-here.md
  src/dnadesign/usr/docs/operations/README.md
  src/dnadesign/usr/docs/operations/workflow-map.md
  src/dnadesign/usr/scripts/run_usr_harness_cycle.sh
  src/dnadesign/usr/scripts/run_usr_sync_audit_drill.py
  src/dnadesign/usr/src/cli_commands/read_parquet_targets.py
  src/dnadesign/usr/src/cli_commands/read_views.py
  src/dnadesign/usr/src/cli_commands/sync.py
  src/dnadesign/usr/src/cli_commands/sync_cli.py
  src/dnadesign/usr/src/cli_commands/sync_output.py
  src/dnadesign/usr/src/dataset.py
  src/dnadesign/usr/src/dataset_state_facade.py
  src/dnadesign/usr/tests/test_cli_read_parquet_targets_module.py
  src/dnadesign/usr/tests/test_cli_typer.py
  src/dnadesign/usr/tests/test_dataset_state_facade_module.py
  src/dnadesign/usr/tests/test_module_layout.py
  src/dnadesign/usr/tests/test_sync_iterative_batch_flow.py
  src/dnadesign/usr/tests/test_sync_target_modes.py
  src/dnadesign/usr/tests/test_usr_docs_contract.py
  src/dnadesign/usr/tests/test_usr_harness_script.py
  src/dnadesign/usr/tests/test_usr_sync_audit_drill_script.py
Due: core, external_integration, usr

Path conditions:
  core: any of: src/dnadesign
  external_integration: any of: src/dnadesign
  usr: any of: src/dnadesign/usr/**
  notify: any of: src/dnadesign/notify/**
  densegen: any of: src/dnadesign/densegen/**
  infer: any of: src/dnadesign/infer/**
  opal: any of: src/dnadesign/opal/**
  cluster: any of: src/dnadesign/cluster/**
  billboard: any of: src/dnadesign/billboard/**
  libshuffle: any of: src/dnadesign/libshuffle/**
  nmf: any of: src/dnadesign/nmf/**
  latdna: any of: src/dnadesign/latdna/**
  cruncher: any of: src/dnadesign/cruncher/**
  tfkdanalysis: any of: src/dnadesign/tfkdanalysis/**
  aligner: any of: src/dnadesign/aligner/**
  baserender: any of: src/dnadesign/baserender/**
  permuter: any of: src/dnadesign/permuter/**
