Repository e-south/dnadesign: changes, and which Codecov flags are due for each by the changed paths.
All: core, external_integration, usr, notify, densegen, infer, opal, cluster, billboard, libshuffle, nmf, latdna, cruncher, tfkdanalysis, aligner, baserender, permuter

codecov.yml:

codecov:
  require_ci_to_pass: true

coverage:
  precision: 2
  round: down
  range: "0...100"
  status:
    project:
      default:
        target: auto
        threshold: 0.5%
        if_ci_failed: error
        if_not_found: failure
    patch:
      default:
        target: auto
        threshold: 0.5%
        if_ci_failed: error
        if_not_found: failure

flags:
  core:
    paths:
      - src/dnadesign
    carryforward: false
  external_integration:
    paths:
      - src/dnadesign
    carryforward: false

component_management:
  default_rules:
    statuses:
      - type: project
        target: auto
        threshold: 0.5%
        if_ci_failed: error
        if_not_found: failure
  individual_components:
    - component_id: usr
      name: usr
      paths:
        - src/dnadesign/usr/**
    - component_id: notify
      name: notify
      paths:
        - src/dnadesign/notify/**
    - component_id: densegen
      name: densegen
      paths:
        - src/dnadesign/densegen/**
    - component_id: infer
      name: infer
      paths:
        - src/dnadesign/infer/**
    - component_id: opal
      name: opal
      paths:
        - src/dnadesign/opal/**
    - component_id: cluster
      name: cluster
      paths:
        - src/dnadesign/cluster/**
    - component_id: billboard
      name: billboard
      paths:
        - src/dnadesign/billboard/**
    - component_id: libshuffle
      name: libshuffle
      paths:
        - src/dnadesign/libshuffle/**
    - component_id: nmf
      name: nmf
      paths:
        - src/dnadesign/nmf/**
    - component_id: latdna
      name: latdna
      paths:
        - src/dnadesign/latdna/**
    - component_id: cruncher
      name: cruncher
      paths:
        - src/dnadesign/cruncher/**
    - component_id: tfkdanalysis
      name: tfkdanalysis
      paths:
        - src/dnadesign/tfkdanalysis/**
    - component_id: aligner
      name: aligner
      paths:
        - src/dnadesign/aligner/**
    - component_id: baserender
      name: baserender
      paths:
        - src/dnadesign/baserender/**
    - component_id: permuter
      name: permuter
      paths:
        - src/dnadesign/permuter/**

comment:
  require_changes: true
  layout: "reach,diff,flags,components,files"

github_checks:
  annotations: true

fix(baserender): preserve symmetric centerline when extents are implicit
  src/dnadesign/baserender/src/render/layout.py
Due: core, external_integration, baserender

test(cruncher): align README docs contract with current top-level map
  src/dnadesign/cruncher/tests/docs/test_docs_path_contracts.py
Due: core, external_integration, cruncher

feat(cruncher): make elite IDs deterministic per workspace
  src/dnadesign/cruncher/src/app/sample/elites_mmr.py
  src/dnadesign/cruncher/src/app/sample/elites_stage.py
  src/dnadesign/cruncher/src/app/sample/run_set_execution.py
  src/dnadesign/cruncher/tests/app/test_elite_selection.py
Due: core, external_integration, cruncher

fix(cruncher): align trajectory panel with polished final frame
  src/dnadesign/cruncher/src/analysis/trajectory_video.py
  src/dnadesign/cruncher/tests/analysis/test_trajectory_video.py
Due: core, external_integration, cruncher

fix(baserender): avoid inline legend collisions in dense layouts
  src/dnadesign/baserender/src/render/sequence_rows.py
  src/dnadesign/baserender/tests/test_motif_logo_coloring.py
Due: core, external_integration, baserender

feat(cruncher): add portfolio consensus handoff outputs
  src/dnadesign/cruncher/docs/guides/portfolio_aggregation.md
  src/dnadesign/cruncher/docs/reference/cli.md
  src/dnadesign/cruncher/src/app/portfolio_materialization.py
  src/dnadesign/cruncher/src/app/portfolio_workflow.py
  src/dnadesign/cruncher/src/portfolio/schema_models.py
  src/dnadesign/cruncher/tests/portfolio/test_portfolio_run_smoke.py
  src/dnadesign/cruncher/tests/portfolio/test_portfolio_spec_strict_validation.py
  src/dnadesign/cruncher/workspaces/portfolios/configs/master_all_workspaces.portfolio.yaml
Due: core, external_integration, cruncher

ci: fix tool baseline and secret-scan false positive
  .github/tool-coverage-baseline.json
  src/dnadesign/notify/tests/test_profile_schema_module.py
Due: core, external_integration, notify

ci: apply pre-commit fixes and ruff line-length cleanups
  docs/operations/README.md
  docs/operations/orchestration-runbooks.md
  src/dnadesign/_contracts/densegen_usr_output.py
  src/dnadesign/_contracts/resume_readiness.py
  src/dnadesign/_contracts/tls_ca_bundle.py
  src/dnadesign/_contracts/usr_producer.py
  src/dnadesign/baserender/src/render/sequence_rows.py
  src/dnadesign/densegen/src/core/pipeline/resume_state.py
  src/dnadesign/densegen/tests/cli/test_cli_report_plots.py
  src/dnadesign/densegen/tests/docs/test_bu_scc_docs_contracts.py
  src/dnadesign/densegen/tests/runtime/test_run_diagnostics_plots.py
  src/dnadesign/devtools/docs_checks.py
  src/dnadesign/devtools/tests/test_docs_checks.py
  src/dnadesign/notify/cli/bindings/__init__.py
  src/dnadesign/notify/cli_bindings.py
  src/dnadesign/notify/cli_commands.py
  src/dnadesign/notify/cli_handlers.py
  src/dnadesign/notify/cli_resolve.py
  src/dnadesign/notify/runtime/watch_runner_inputs.py
  src/dnadesign/notify/tests/test_events_source.py
  src/dnadesign/ops/cli.py
  src/dnadesign/ops/orchestrator/execute.py
  src/dnadesign/ops/orchestrator/gates.py
  src/dnadesign/ops/orchestrator/plan.py
  src/dnadesign/ops/orchestrator/state.py
  src/dnadesign/ops/runbooks/path_policy.py
  src/dnadesign/ops/runbooks/schema.py
  src/dnadesign/ops/tests/test_ops_docs_progressive_disclosure_contracts.py
  src/dnadesign/ops/tests/test_runbook_orchestrator.py
  src/dnadesign/ops/tests/test_sge_gates.py
  src/dnadesign/ops/tests/test_tls_ca_bundle_contract.py
  src/dnadesign/usr/src/dataset_overlay_maintenance.py
  src/dnadesign/usr/src/dataset_query.py
  src/dnadesign/usr/tests/test_duckdb_session_contract.py
  src/dnadesign/usr/tests/test_overlays.py
Due: core, external_integration, usr, notify, densegen, baserender

tests: align notify smoke and docs contracts with file-backed webhook flow
  docs/bu-scc/jobs/notify-watch-local-smoke.sh
  src/dnadesign/notify/tests/test_notify_docs_progressive_disclosure_contracts.py
  src/dnadesign/usr/tests/test_usr_docs_contract.py
Due: core, external_integration, usr, notify

tests: make ops CLI repo-root checks environment-independent
  src/dnadesign/ops/tests/test_runbook_orchestrator.py
Due: core, external_integration

notify: harden watcher against stale file handles
  docs/bu-scc/jobs/README.md
  docs/bu-scc/jobs/notify-watch.qsub
  src/dnadesign/notify/runtime/cursor/iteration.py
  src/dnadesign/notify/tests/test_cli_usr_events.py
  src/dnadesign/notify/tests/test_hpc_notify_watch_qsub.py
Due: core, external_integration, notify

notify: fail fast on stale-read handle in error mode
  src/dnadesign/notify/runtime/cursor/iteration.py
  src/dnadesign/notify/tests/test_cli_usr_events.py
  src/dnadesign/notify/tests/test_hpc_notify_watch_qsub.py
Due: core, external_integration, notify

notify: run smoke harness with uv-managed python
  docs/bu-scc/jobs/notify-watch-local-smoke.sh
  src/dnadesign/notify/tests/test_hpc_notify_local_smoke_harness.py
Due: core, external_integration, notify

notify: fail fast when events file disappears in error mode
  src/dnadesign/notify/runtime/cursor/iteration.py
  src/dnadesign/notify/tests/test_cli_usr_events.py
Due: core, external_integration, notify

notify: align idle probe truncate policy with watcher contract
  docs/bu-scc/jobs/notify-watch.qsub
  src/dnadesign/notify/tests/test_hpc_notify_watch_qsub.py
Due: core, external_integration, notify

notify: align ops/usr docs and watcher contracts
  docs/bu-scc/agent-cheatsheet.md
  docs/bu-scc/batch-notify.md
  docs/bu-scc/jobs/README.md
  docs/bu-scc/quickstart.md
  docs/notify/README.md
  docs/notify/usr-events.md
  docs/operations/README.md
  src/dnadesign/densegen/tests/docs/test_bu_scc_docs_contracts.py
  src/dnadesign/notify/docs/reference/command-contracts.md
  src/dnadesign/notify/tests/test_hpc_notify_watch_qsub.py
  src/dnadesign/notify/tests/test_notify_docs_progressive_disclosure_contracts.py
Due: core, external_integration, notify, densegen

ops: decouple densegen postrun resources from batch sizing
  docs/operations/orchestration-runbooks.md
  src/dnadesign/ops/orchestrator/plan.py
  src/dnadesign/ops/runbooks/schema.py
  src/dnadesign/ops/tests/test_runbook_orchestrator.py
Due: core, external_integration

ops+densegen: shift default densegen cpu baseline from 16 to 12
  docs/bu-scc/agent-cheatsheet.md
  docs/bu-scc/batch-notify.md
  docs/bu-scc/jobs/README.md
  docs/bu-scc/jobs/densegen-cpu.qsub
  docs/bu-scc/quickstart.md
  docs/operations/orchestration-runbooks.md
  src/dnadesign/densegen/docs/tutorials/study_stress_ethanol_cipro.md
  src/dnadesign/densegen/workspaces/study_stress_ethanol_cipro/config.yaml
  src/dnadesign/densegen/workspaces/study_stress_ethanol_cipro/runbook.md
  src/dnadesign/ops/cli.py
  src/dnadesign/ops/runbooks/presets/densegen_stress_ethanol_cipro_batch.yaml
  src/dnadesign/ops/runbooks/presets/densegen_stress_ethanol_cipro_batch_with_notify.yaml
  src/dnadesign/ops/tests/test_runbook_orchestrator.py
Due: core, external_integration, densegen

densegen: harden min_total_sites contracts and shared promoter counting
  src/dnadesign/densegen/src/config/root.py
  src/dnadesign/densegen/src/core/parquet_parts.py
  src/dnadesign/densegen/src/core/pipeline/stage_b_runtime_callbacks.py
  src/dnadesign/densegen/src/core/pipeline/usage_tracking.py
  src/dnadesign/densegen/tests/config/test_config_strict.py
  src/dnadesign/densegen/tests/stage_b/test_used_tfbs_offsets.py
Due: core, external_integration, densegen

densegen: harden analysis preflight and table consolidation
  docs/bu-scc/jobs/README.md
  docs/bu-scc/jobs/densegen-analysis.qsub
  src/dnadesign/densegen/src/core/pipeline/outputs.py
  src/dnadesign/densegen/src/viz/plotting.py
  src/dnadesign/densegen/tests/docs/test_bu_scc_docs_contracts.py
  src/dnadesign/densegen/tests/plotting/test_plot_manifest.py
Due: core, external_integration, densegen

densegen: carry notebook style overrides through render contract
  src/dnadesign/densegen/src/cli/notebook_cells_template_base.py
  src/dnadesign/densegen/src/integrations/baserender/notebook_contract.py
  src/dnadesign/densegen/tests/cli/test_cli_report_plots.py
  src/dnadesign/densegen/tests/runtime/test_notebook_render_contract.py
Due: core, external_integration, densegen

densegen: improve diagnostics labels and workload scaling
  src/dnadesign/densegen/src/viz/plot_run.py
  src/dnadesign/densegen/src/viz/plot_run_helpers.py
  src/dnadesign/densegen/src/viz/plot_stage_a_diversity.py
  src/dnadesign/densegen/tests/runtime/test_run_diagnostics_plots.py
Due: core, external_integration, densegen

densegen: add solver min_total_sites infeasible-path regression test
  src/dnadesign/densegen/tests/stage_b/test_optimizer_wrapper.py
Due: core, external_integration, densegen

densegen: relax stage-a pool floor for stress workspace mmr selection
  src/dnadesign/densegen/tests/config/test_demo_config.py
  src/dnadesign/densegen/workspaces/study_stress_ethanol_cipro/config.yaml
Due: core, external_integration, densegen

densegen: fix import order for used_tfbs_offsets lint
  src/dnadesign/densegen/tests/stage_b/test_used_tfbs_offsets.py
Due: core, external_integration, densegen

style: apply ruff formatting for CI
  src/dnadesign/densegen/src/config/root.py
  src/dnadesign/ops/tests/test_runbook_orchestrator.py
Due: core, external_integration, densegen

densegen: resolve postrun tables path from config run.root
  docs/bu-scc/jobs/densegen-analysis.qsub
  src/dnadesign/densegen/tests/docs/test_bu_scc_docs_contracts.py
Due: core, external_integration, densegen

densegen: treat infeasible solver libraries as no-solution
  src/dnadesign/densegen/src/core/pipeline/stage_b_runtime_callbacks.py
  src/dnadesign/densegen/tests/runtime/test_round_robin_chunk_cap.py
Due: core, external_integration, densegen

style: format stage-b solver no-solution handling
  src/dnadesign/densegen/src/core/pipeline/stage_b_runtime_callbacks.py
Due: core, external_integration, densegen

densegen: harden reset contract and notebook plot metadata UX
  src/dnadesign/baserender/src/render/palette.py
  src/dnadesign/baserender/tests/test_densegen_adapter.py
  src/dnadesign/densegen/docs/concepts/pipeline-lifecycle.md
  src/dnadesign/densegen/docs/concepts/workspace.md
  src/dnadesign/densegen/docs/reference/cli.md
  src/dnadesign/densegen/docs/reference/outputs.md
  src/dnadesign/densegen/docs/tutorials/study_stress_ethanol_cipro.md
  src/dnadesign/densegen/src/cli/notebook_cells_template_base.py
  src/dnadesign/densegen/src/cli/run.py
  src/dnadesign/densegen/src/cli/run_intro_rendering.py
  src/dnadesign/densegen/src/core/metadata_schema.py
  src/dnadesign/densegen/src/integrations/baserender/notebook_contract.py
  src/dnadesign/densegen/src/viz/plot_run.py
  src/dnadesign/densegen/tests/cli/test_cli_report_plots.py
  src/dnadesign/densegen/tests/cli/test_cli_run_modes.py
  src/dnadesign/densegen/tests/cli/test_notebook_template_intro.py
  src/dnadesign/densegen/tests/config/test_demo_config.py
  src/dnadesign/densegen/tests/metadata/test_parts_detail_contract.py
  src/dnadesign/densegen/tests/runtime/test_notebook_render_contract.py
  src/dnadesign/densegen/tests/runtime/test_output_sink_parity.py
  src/dnadesign/densegen/tests/runtime/test_run_diagnostics_plots.py
  src/dnadesign/densegen/workspaces/study_stress_ethanol_cipro/config.yaml
Due: core, external_integration, densegen, baserender

ops: normalize active-job chaining and surface paste-ready hints
  docs/operations/README.md
  docs/operations/orchestration-runbooks.md
  src/dnadesign/ops/cli.py
  src/dnadesign/ops/orchestrator/state.py
  src/dnadesign/ops/tests/test_runbook_orchestrator.py
Due: core, external_integration

densegen: narrow solver no-solution catch boundary in Stage-B
  src/dnadesign/densegen/src/core/pipeline/stage_b_runtime_callbacks.py
  src/dnadesign/densegen/tests/runtime/test_round_robin_chunk_cap.py
Due: core, external_integration, densegen

ci: fix ruff format drift
  src/dnadesign/densegen/src/core/metadata_schema.py
  src/dnadesign/densegen/tests/cli/test_cli_report_plots.py
  src/dnadesign/ops/cli.py
Due: core, external_integration, densegen

densegen: treat min_total_sites shortfall as no-solution
  src/dnadesign/densegen/src/core/pipeline/stage_b_runtime_callbacks.py
  src/dnadesign/densegen/tests/runtime/test_round_robin_chunk_cap.py
Due: core, external_integration, densegen

densegen: keep notebook render tests on baserender public boundary
  src/dnadesign/densegen/tests/runtime/test_notebook_render_contract.py
Due: core, external_integration, densegen

densegen: keep plot reads non-mutating for parquet part artifacts
  docs/bu-scc/jobs/README.md
  src/dnadesign/densegen/src/viz/plotting.py
  src/dnadesign/densegen/tests/plotting/test_plot_manifest.py
Due: core, external_integration, densegen

densegen: make post-run plot set explicit and ffmpeg-gated
  docs/bu-scc/jobs/densegen-analysis.qsub
  src/dnadesign/densegen/tests/docs/test_bu_scc_docs_contracts.py
Due: core, external_integration, densegen

docs: align ops and BU SCC guidance with post-run plot contract
  docs/bu-scc/jobs/README.md
  docs/operations/orchestration-runbooks.md
Due: none

infer: scaffold docs and extract shared CLI input parsing
  src/dnadesign/infer/README.md
  src/dnadesign/infer/cli.py
  src/dnadesign/infer/docs/README.md
  src/dnadesign/infer/docs/architecture/README.md
  src/dnadesign/infer/docs/dev/README.md
  src/dnadesign/infer/docs/dev/journal.md
  src/dnadesign/infer/docs/operations/README.md
  src/dnadesign/infer/docs/reference/README.md
  src/dnadesign/infer/input_parsing.py
  src/dnadesign/infer/tests/test_input_parsing.py
Due: core, external_integration, infer
