Repository e-south/dnadesign: changes, and which Codecov flags are due for each by the changed paths.
All: core, external_integration, usr, notify, densegen, infer, opal, cluster, billboard, libshuffle, nmf, latdna, cruncher, tfkdanalysis, aligner, baserender, permuter

Add dataset architecture guardrails
  ARCHITECTURE.md
  DESIGN.md
  QUALITY_SCORE.md
  README.md
  codecov.yml
  docs/README.md
  src/dnadesign/devtools/architecture_boundaries.py
  src/dnadesign/devtools/docs_checks.py
  src/dnadesign/devtools/tests/test_architecture_boundaries.py
  src/dnadesign/devtools/tests/test_docs_checks.py
Due: core, external_integration

Format USR archived manager
  src/dnadesign/usr/scripts/archived_pytorch_manager.py
Due: core, external_integration, usr

Align USR tests with flat dataset IDs
  src/dnadesign/usr/tests/cli/commands/query/test_cli_export.py
  src/dnadesign/usr/tests/cli/sync/test_cli_sync_target_modes.py
  src/dnadesign/usr/tests/sync/test_sync_schema_adversarial.py
Due: core, external_integration, usr

Refresh CI metadata for USR reorg
  .github/tool-coverage-baseline.json
  .secrets.baseline
Due: none

Harden clean-checkout CI gates
  .secrets.baseline
  src/dnadesign/devtools/architecture_boundaries.py
  src/dnadesign/devtools/tests/test_architecture_boundaries.py
Due: core, external_integration

Stabilize full-core CI contracts
  .agents/skills/snapback-hairpin-study/SKILL.md
  .github/workflows/ci.yaml
  docs/studies/snapback_shortening_effort/routes.md
  docs/studies/snapback_shortening_effort/status.md
  src/dnadesign/construct/src/output_store.py
  src/dnadesign/cruncher/tests/docs/test_cassette_docs_contracts.py
  src/dnadesign/cruncher/tests/portfolio/test_portfolio_run_smoke.py
  src/dnadesign/densegen/tests/cli/test_cli_inspect_run_paths.py
  src/dnadesign/densegen/tests/runtime/test_output_sink_parity.py
  src/dnadesign/notify/events/source_builtin.py
  src/dnadesign/notify/profiles/profile_paths.py
  src/dnadesign/notify/profiles/workspace.py
  src/dnadesign/notify/runtime/watch_runner_resolution.py
Due: core, external_integration, notify, densegen, cruncher

Harden snapback CLI help assertion
  src/dnadesign/cruncher/tests/cli/test_released_snapback_cli.py
Due: core, external_integration, cruncher

Harden latentdna clean-checkout contract
  src/dnadesign/latentdna/tests/contracts/test_study_workspace_contracts.py
Due: core, external_integration

Tolerate tracked latentdna snapshot state
  src/dnadesign/latentdna/tests/contracts/test_study_workspace_contracts.py
Due: core, external_integration

Harden latentdna generated controls contract
  src/dnadesign/latentdna/tests/contracts/test_study_workspace_contracts.py
Due: core, external_integration

Track cruncher agent contract surface
  .gitignore
  src/dnadesign/cruncher/AGENTS.md
Due: core, external_integration, cruncher

Stop tracking generated LatentDNA outputs
  .gitignore
  src/dnadesign/latentdna/workspaces/stress_ethanol_cipro_growth/outputs/status/workspace_snapshot.json
Due: core, external_integration

Harden DenseGen showcase video rendering
  src/dnadesign/baserender/src/adapters/densegen_tfbs.py
  src/dnadesign/baserender/src/cli/actions.py
  src/dnadesign/baserender/src/config/cruncher_showcase_job.py
  src/dnadesign/baserender/src/config/style_v1.py
  src/dnadesign/baserender/src/outputs/__init__.py
  src/dnadesign/baserender/src/outputs/video.py
  src/dnadesign/baserender/src/render/layout.py
  src/dnadesign/baserender/src/render/sequence_rows.py
  src/dnadesign/baserender/tests/test_cruncher_showcase_job_schema.py
  src/dnadesign/baserender/tests/test_densegen_adapter.py
  src/dnadesign/baserender/tests/test_video_frame_sizing.py
  src/dnadesign/densegen/src/config/plots.py
  src/dnadesign/densegen/src/viz/dense_array_video.py
  src/dnadesign/densegen/src/viz/dense_array_video_source.py
  src/dnadesign/densegen/tests/plotting/test_dense_array_video.py
Due: core, external_integration, densegen, baserender

Add DenseGen dense-array showcase workspace
  .gitignore
  src/dnadesign/densegen/docs/README.md
  src/dnadesign/densegen/docs/concepts/generation.md
  src/dnadesign/densegen/docs/concepts/workspace-templates.md
  src/dnadesign/densegen/docs/index.md
  src/dnadesign/densegen/docs/tutorials/demo_dense_array_showcase.md
  src/dnadesign/densegen/src/cli/workspace_sources.py
  src/dnadesign/densegen/tests/cli/test_cli_workspace_init.py
  src/dnadesign/densegen/tests/config/test_demo_config.py
  src/dnadesign/densegen/workspaces/README.md
  src/dnadesign/densegen/workspaces/demo_dense_array_showcase/README.md
  src/dnadesign/densegen/workspaces/demo_dense_array_showcase/config.yaml
  src/dnadesign/densegen/workspaces/demo_dense_array_showcase/inputs/sites.csv
  src/dnadesign/densegen/workspaces/demo_dense_array_showcase/runbook.md
  src/dnadesign/densegen/workspaces/demo_dense_array_showcase/runbook.sh
Due: core, external_integration, densegen

Clarify shared contract package boundaries
  ARCHITECTURE.md
  DESIGN.md
  src/dnadesign/construct/src/output_store.py
  src/dnadesign/devtools/architecture_boundaries.py
  src/dnadesign/devtools/tests/test_architecture_boundaries.py
  src/dnadesign/usr/__init__.py
  src/dnadesign/usr/src/api/__init__.py
  src/dnadesign/usr/src/registry/__init__.py
Due: core, external_integration, usr

Harden BaseRender variable-length video rendering
  src/dnadesign/baserender/src/config/cruncher_showcase_job.py
  src/dnadesign/baserender/src/outputs/video.py
  src/dnadesign/baserender/tests/test_cruncher_showcase_job_schema.py
  src/dnadesign/baserender/tests/test_video_frame_sizing.py
Due: core, external_integration, baserender

Add BaseRender USR GenBank annotation contract
  src/dnadesign/baserender/docs/reference.md
  src/dnadesign/baserender/src/adapters/__init__.py
  src/dnadesign/baserender/src/adapters/usr_genbank_annotations_v1.py
  src/dnadesign/baserender/src/config/adapter_contracts.py
  src/dnadesign/baserender/src/config/job_contracts.py
  src/dnadesign/baserender/src/core/registry.py
  src/dnadesign/baserender/src/render/sequence_rows.py
  src/dnadesign/baserender/tests/test_runtime_and_public_api.py
  src/dnadesign/baserender/tests/test_usr_genbank_adapter.py
Due: core, external_integration, baserender

Add USR GenBank BaseRender projection helper
  src/dnadesign/usr/scripts/export_genbank_baserender_projection.py
  src/dnadesign/usr/tests/scripts/test_export_genbank_baserender_projection.py
Due: core, external_integration, usr

Add USR promoter references GenBank render workspace
  .gitignore
  src/dnadesign/baserender/tests/test_package_layout.py
  src/dnadesign/baserender/workspaces/usr_promoter_references_genbank/.baserender-workspace
  src/dnadesign/baserender/workspaces/usr_promoter_references_genbank/README.md
  src/dnadesign/baserender/workspaces/usr_promoter_references_genbank/inputs/README.md
  src/dnadesign/baserender/workspaces/usr_promoter_references_genbank/job.yaml
  src/dnadesign/baserender/workspaces/usr_promoter_references_genbank/outputs/.gitkeep
Due: core, external_integration, baserender

Add synthetic promoter standards to USR references
  docs/studies/stress_ethanol_cipro_growth/datasets.yaml
  docs/studies/stress_ethanol_cipro_growth/status.md
  src/dnadesign/baserender/workspaces/usr_promoter_references_genbank/README.md
  src/dnadesign/usr/datasets/README.md
  src/dnadesign/usr/datasets/registry.yaml
  src/dnadesign/usr/scripts/port_mg1655_promoter_references.py
  src/dnadesign/usr/src/registry/__init__.py
  src/dnadesign/usr/src/registry/models.py
  src/dnadesign/usr/tests/scripts/test_port_mg1655_promoter_references.py
Due: core, external_integration, usr, baserender

Harden BaseRender video frame updates
  src/dnadesign/baserender/src/execution/runner.py
  src/dnadesign/baserender/src/outputs/__init__.py
  src/dnadesign/baserender/src/outputs/video.py
  src/dnadesign/baserender/src/reporting/run_report.py
  src/dnadesign/baserender/tests/test_outputs_explicit.py
  src/dnadesign/baserender/tests/test_video_frame_sizing.py
Due: core, external_integration, baserender

Add RegulonDB promoter intake contracts
  src/dnadesign/cruncher/src/cli/commands/sources.py
  src/dnadesign/cruncher/src/ingest/adapters/base.py
  src/dnadesign/cruncher/src/ingest/adapters/regulondb.py
  src/dnadesign/cruncher/src/ingest/promoters.py
  src/dnadesign/cruncher/tests/cli/test_cli_help.py
  src/dnadesign/cruncher/tests/ingest/test_regulondb_adapter.py
  src/dnadesign/cruncher/tests/ingest/test_regulondb_promoters.py
Due: core, external_integration, cruncher

Add strict RegulonDB native promoter USR import
  .gitignore
  src/dnadesign/usr/datasets/registry.yaml
  src/dnadesign/usr/scripts/create_regulondb_native_promoters.py
  src/dnadesign/usr/tests/scripts/test_create_regulondb_native_promoters.py
Due: core, external_integration, usr

Add native RegulonDB LatentDNA profile
  src/dnadesign/latentdna/src/contracts/workspace.py
  src/dnadesign/latentdna/src/services/validation_service.py
  src/dnadesign/latentdna/src/views/materialize.py
  src/dnadesign/latentdna/src/views/row_contracts.py
  src/dnadesign/latentdna/tests/test_regulondb_native_promoter_profile.py
Due: core, external_integration

Register RegulonDB native promoter study
  docs/studies/index.yaml
  docs/studies/regulondb_native_promoter_panel/audits/.gitkeep
  docs/studies/regulondb_native_promoter_panel/campaign.yaml
  docs/studies/regulondb_native_promoter_panel/datasets.yaml
  docs/studies/regulondb_native_promoter_panel/ops.study.yaml
  docs/studies/regulondb_native_promoter_panel/pipeline.yaml
  docs/studies/regulondb_native_promoter_panel/routes.md
  docs/studies/regulondb_native_promoter_panel/status.md
Due: none

Fix RegulonDB promoter fixture assertions
  src/dnadesign/cruncher/tests/ingest/test_regulondb_promoters.py
Due: core, external_integration, cruncher

Add RegulonDB source-record sequence views
  docs/studies/regulondb_native_promoter_panel/datasets.yaml
  docs/studies/regulondb_native_promoter_panel/routes.md
  docs/studies/regulondb_native_promoter_panel/status.md
  src/dnadesign/usr/scripts/create_regulondb_native_promoters.py
  src/dnadesign/usr/tests/scripts/test_create_regulondb_native_promoters.py
Due: core, external_integration, usr

Add source-record sequence-view materializer
  src/dnadesign/usr/scripts/materialize_source_record_sequence_views.py
  src/dnadesign/usr/tests/scripts/test_materialize_source_record_sequence_views.py
Due: core, external_integration, usr

Hard-cut Infer completion to sequence-view sidecars
  docs/dev/plans/2026-04-28-sequence-view-ontology-and-infer-completion-hardening-spec.md
  docs/studies/stress_ethanol_cipro_growth/datasets.yaml
  docs/studies/stress_ethanol_cipro_growth/status.md
  src/dnadesign/infer/src/features/completion_planner.py
  src/dnadesign/infer/src/features/legacy_payload_retirement.py
  src/dnadesign/ops/preflight/contract_checks.py
  src/dnadesign/ops/tests/test_progress_cli.py
  src/dnadesign/studies/families/promoter/adapter.py
Due: core, external_integration, infer

Harden Infer sequence-view completion planning
  docs/operations/orchestration-runbooks.md
  src/dnadesign/infer/docs/reference/feature-schema.md
  src/dnadesign/infer/src/cli/commands/validate.py
  src/dnadesign/infer/src/features/aliases.py
  src/dnadesign/infer/src/features/completion_planner.py
  src/dnadesign/infer/src/features/execution.py
  src/dnadesign/infer/tests/cli/test_validate_command.py
  src/dnadesign/infer/tests/runtime/test_feature_bundle_execution.py
  src/dnadesign/infer/tests/runtime/test_sequence_view_completion_planner.py
  src/dnadesign/infer/workspaces/study_stress_ethanol_cipro/README.md
  src/dnadesign/infer/workspaces/study_stress_ethanol_cipro/config.sequence_views.anchor_construct_insert.evo2_7b.yaml
  src/dnadesign/infer/workspaces/study_stress_ethanol_cipro/config.sequence_views.context_forward_seq_and_anchor_mean.evo2_7b.yaml
  src/dnadesign/infer/workspaces/study_stress_ethanol_cipro/config.sequence_views.context_reverse_complement_seq_and_anchor_mean.evo2_7b.yaml
  src/dnadesign/infer/workspaces/study_stress_ethanol_cipro/config.sequence_views.main.evo2_7b.yaml
  src/dnadesign/infer/workspaces/study_stress_ethanol_cipro/config.sequence_views.reference.evo2_7b.yaml
  src/dnadesign/ops/orchestrator/plan_tools.py
  src/dnadesign/ops/preflight/contract_checks.py
  src/dnadesign/ops/runbooks/presets/infer_stress_ethanol_cipro_sequence_views_context_forward_anchor_mean_7b_batch_with_notify.yaml
  src/dnadesign/ops/runbooks/presets/infer_stress_ethanol_cipro_sequence_views_context_forward_seq_and_anchor_mean_7b_batch_with_notify.yaml
  src/dnadesign/ops/runbooks/presets/infer_stress_ethanol_cipro_sequence_views_context_reverse_complement_anchor_mean_7b_batch_with_notify.yaml
  src/dnadesign/ops/runbooks/presets/infer_stress_ethanol_cipro_sequence_views_context_reverse_complement_seq_and_anchor_mean_7b_batch_with_notify.yaml
  src/dnadesign/ops/tests/test_progress_cli.py
  src/dnadesign/ops/tests/test_runbook_orchestrator.py
Due: core, external_integration, infer

Teach LatentDNA to consume Infer sidecars
  src/dnadesign/latentdna/docs/reference/workspace-schema.md
  src/dnadesign/latentdna/docs/workflows/promoter-study-representation-comparison.md
  src/dnadesign/latentdna/src/contracts/workspace.py
  src/dnadesign/latentdna/src/scalars/build.py
  src/dnadesign/latentdna/src/scalars/preassay.py
  src/dnadesign/latentdna/src/services/inspection_service.py
  src/dnadesign/latentdna/src/services/notebook_geometry_controls.py
  src/dnadesign/latentdna/src/services/validation_service.py
  src/dnadesign/latentdna/src/services/workspace_snapshot_service.py
  src/dnadesign/latentdna/src/sources/infer_feature_scalar_sidecar_source.py
  src/dnadesign/latentdna/src/sources/infer_feature_sidecar_source.py
  src/dnadesign/latentdna/src/sources/resolver.py
  src/dnadesign/latentdna/src/views/materialize.py
  src/dnadesign/latentdna/src/views/row_contracts.py
  src/dnadesign/latentdna/tests/cli/test_workspace_command.py
  src/dnadesign/latentdna/tests/contracts/test_study_workspace_contracts.py
  src/dnadesign/latentdna/tests/test_docs_contract.py
  src/dnadesign/latentdna/tests/test_infer_feature_sidecar_source.py
  src/dnadesign/latentdna/tests/test_scalar_build.py
  src/dnadesign/latentdna/tests/test_validation_service.py
  src/dnadesign/latentdna/tests/test_view_materialization.py
  src/dnadesign/latentdna/workspaces/stress_ethanol_cipro_growth/README.md
  src/dnadesign/latentdna/workspaces/stress_ethanol_cipro_growth/config.yaml
  src/dnadesign/latentdna/workspaces/stress_ethanol_cipro_growth/outputs/status/workspace_snapshot.json
Due: core, external_integration

Align promoter study sequence-view status
  docs/dev/plans/2026-04-28-sequence-view-ontology-and-infer-completion-hardening-spec.md
  docs/studies/stress_ethanol_cipro_growth/latentdna_binding.yaml
  docs/studies/stress_ethanol_cipro_growth/ops.study.yaml
  docs/studies/stress_ethanol_cipro_growth/pipeline.yaml
  docs/studies/stress_ethanol_cipro_growth/routes.md
  docs/studies/stress_ethanol_cipro_growth/status.md
  src/dnadesign/construct/workspaces/study_stress_ethanol_cipro_pdual10/runbook.md
  src/dnadesign/studies/families/promoter/adapter.py
  src/dnadesign/studies/tests/test_promoter_snapshot.py
Due: core, external_integration

Path conditions:
  core: any of: src/dnadesign
  external_integration: any of: src/dnadesign
  usr: any of: src/dnadesign/usr/**
  notify: any of: src/dnadesign/notify/**
  densegen: any of: src/dnadesign/densegen/**
  infer: any of: src/dnadesign/infer/**
  opal: any of: src/dnadesign/opal/**
  cluster: any of: src/dnadesign/cluster/**
  billboard: any of: src/dnadesign/billboard/**
  libshuffle: any of: src/dnadesign/libshuffle/**
  nmf: any of: src/dnadesign/nmf/**
  latdna: any of: src/dnadesign/latdna/**
  cruncher: any of: src/dnadesign/cruncher/**
  tfkdanalysis: any of: src/dnadesign/tfkdanalysis/**
  aligner: any of: src/dnadesign/aligner/**
  baserender: any of: src/dnadesign/baserender/**
  permuter: any of: src/dnadesign/permuter/**
