Repository e-south/dnadesign: changes, and which Codecov flags are due for each by the changed paths.
All: core, external_integration, usr, notify, densegen, infer, opal, cluster, billboard, libshuffle, nmf, latdna, cruncher, tfkdanalysis, aligner, baserender, permuter

codecov.yml:

codecov:
  require_ci_to_pass: true

coverage:
  precision: 2
  round: down
  range: "0...100"
  status:
    project:
      default:
        target: auto
        threshold: 0.5%
        if_ci_failed: error
        if_not_found: failure
    patch:
      default:
        target: auto
        threshold: 0.5%
        if_ci_failed: error
        if_not_found: failure

flags:
  core:
    paths:
      - src/dnadesign
    carryforward: false
  external_integration:
    paths:
      - src/dnadesign
    carryforward: false

component_management:
  default_rules:
    statuses:
      - type: project
        target: auto
        threshold: 0.5%
        if_ci_failed: error
        if_not_found: failure
  individual_components:
    - component_id: usr
      name: usr
      paths:
        - src/dnadesign/usr/**
    - component_id: notify
      name: notify
      paths:
        - src/dnadesign/notify/**
    - component_id: densegen
      name: densegen
      paths:
        - src/dnadesign/densegen/**
    - component_id: infer
      name: infer
      paths:
        - src/dnadesign/infer/**
    - component_id: opal
      name: opal
      paths:
        - src/dnadesign/opal/**
    - component_id: cluster
      name: cluster
      paths:
        - src/dnadesign/cluster/**
    - component_id: billboard
      name: billboard
      paths:
        - src/dnadesign/billboard/**
    - component_id: libshuffle
      name: libshuffle
      paths:
        - src/dnadesign/libshuffle/**
    - component_id: nmf
      name: nmf
      paths:
        - src/dnadesign/nmf/**
    - component_id: latdna
      name: latdna
      paths:
        - src/dnadesign/latdna/**
    - component_id: cruncher
      name: cruncher
      paths:
        - src/dnadesign/cruncher/**
    - component_id: tfkdanalysis
      name: tfkdanalysis
      paths:
        - src/dnadesign/tfkdanalysis/**
    - component_id: aligner
      name: aligner
      paths:
        - src/dnadesign/aligner/**
    - component_id: baserender
      name: baserender
      paths:
        - src/dnadesign/baserender/**
    - component_id: permuter
      name: permuter
      paths:
        - src/dnadesign/permuter/**

comment:
  require_changes: true
  layout: "reach,diff,flags,components,files"

github_checks:
  annotations: true

Demote stale DenseGen source gate in promoter study status
  .agents/skills/promoter-study-status/SKILL.md
  .agents/skills/promoter-study-status/scripts/audit-promoter-study-status-skill.sh
  docs/operations/ops-mental-model.md
  docs/studies/stress_ethanol_cipro_growth/status.md
  docs/templates/promoter-study-status.md
  src/dnadesign/ops/tests/test_progress_cli.py
  src/dnadesign/studies/families/promoter/snapshot.py
  src/dnadesign/studies/tests/test_promoter_snapshot.py
  src/dnadesign/usr/docs/operations/promoter-study-status-contract.md
  src/dnadesign/usr/docs/operations/promoter-study-status-contract.registry.yaml
  src/dnadesign/usr/tests/test_usr_docs_contract.py
Due: core, external_integration, usr

Ignore generated promoter study audit JSONs
  docs/studies/stress_ethanol_cipro_growth/audits/.gitignore
  docs/studies/stress_ethanol_cipro_growth/audits/promoter_stress_ethanol_cipro_anchor_set--cluster-diff.json
  docs/studies/stress_ethanol_cipro_growth/audits/promoter_stress_ethanol_cipro_construct_contexts--cluster-diff.json
Due: none

Align densegen showcase video contracts
  src/dnadesign/baserender/src/adapters/densegen_tfbs.py
  src/dnadesign/baserender/src/config/adapter_contracts.py
  src/dnadesign/baserender/src/pipeline/selection.py
  src/dnadesign/baserender/tests/test_adapter_registry.py
  src/dnadesign/baserender/tests/test_densegen_adapter.py
  src/dnadesign/baserender/tests/test_selection_service.py
  src/dnadesign/densegen/src/integrations/baserender/notebook_contract.py
  src/dnadesign/densegen/src/viz/dense_array_video.py
  src/dnadesign/densegen/tests/plotting/test_dense_array_video.py
Due: core, external_integration, densegen, baserender

Harden densegen notebook and analysis contracts
  src/dnadesign/densegen/docs/tutorials/study_stress_ethanol_cipro.md
  src/dnadesign/densegen/src/cli/inspect.py
  src/dnadesign/densegen/src/cli/notebook_cells_template_base.py
  src/dnadesign/densegen/src/cli/notebook_cells_template_gallery.py
  src/dnadesign/densegen/src/cli/notebook_template.py
  src/dnadesign/densegen/src/cli/plots.py
  src/dnadesign/densegen/src/cli/run_intro.py
  src/dnadesign/densegen/src/cli/run_intro_rendering.py
  src/dnadesign/densegen/src/cli/run_outcome_sources.py
  src/dnadesign/densegen/src/core/pipeline/attempts.py
  src/dnadesign/densegen/src/core/reporting_data.py
  src/dnadesign/densegen/src/viz/plot_inventory.py
  src/dnadesign/densegen/src/viz/plot_registry.py
  src/dnadesign/densegen/src/viz/plot_run.py
  src/dnadesign/densegen/src/viz/plotting.py
  src/dnadesign/densegen/tests/cli/test_cli_inspect_run_library_summary.py
  src/dnadesign/densegen/tests/cli/test_cli_report_plots.py
  src/dnadesign/densegen/tests/cli/test_notebook_template_intro.py
  src/dnadesign/densegen/tests/cli/test_run_intro.py
  src/dnadesign/densegen/tests/docs/test_workspace_runbook_contracts.py
  src/dnadesign/densegen/tests/plotting/test_plot_inventory.py
  src/dnadesign/densegen/tests/plotting/test_plot_manifest.py
  src/dnadesign/densegen/tests/runtime/test_run_diagnostics_plots.py
  src/dnadesign/densegen/workspaces/_shared/workspace_runbook_flow.sh
  src/dnadesign/densegen/workspaces/study_stress_ethanol_cipro/config.yaml
  src/dnadesign/densegen/workspaces/study_stress_ethanol_cipro/runbook.md
Due: core, external_integration, densegen

Support legacy densegen records in notebook rendering
  src/dnadesign/baserender/src/adapters/densegen_tfbs.py
  src/dnadesign/densegen/src/adapters/outputs/loader.py
  src/dnadesign/densegen/src/adapters/outputs/parquet.py
  src/dnadesign/densegen/src/core/record_values.py
  src/dnadesign/densegen/src/integrations/baserender/notebook_contract.py
  src/dnadesign/densegen/src/viz/dense_array_video.py
  src/dnadesign/densegen/tests/plotting/test_dense_array_video.py
  src/dnadesign/densegen/tests/runtime/test_notebook_render_contract.py
  src/dnadesign/densegen/tests/runtime/test_records_loader_compat.py
Due: core, external_integration, densegen, baserender

Harden densegen reporting across partial artifacts
  src/dnadesign/densegen/src/core/reporting_data.py
  src/dnadesign/densegen/src/core/reporting_transforms.py
  src/dnadesign/densegen/src/core/run_metrics.py
  src/dnadesign/densegen/tests/reporting/test_reporting_library_summary_outputs.py
  src/dnadesign/densegen/tests/runtime/test_run_metrics.py
Due: core, external_integration, densegen

Sync CI tool coverage baseline for latentdna
  .github/tool-coverage-baseline.json
Due: none

Align promoter study status contract metadata
  src/dnadesign/usr/docs/operations/promoter-study-status-contract.registry.yaml
Due: core, external_integration, usr

Publish USR boundary-safe cross-tool surfaces
  src/dnadesign/devtools/architecture_boundaries.py
  src/dnadesign/devtools/tests/test_architecture_boundaries.py
  src/dnadesign/infer/src/runtime/resume_planner.py
  src/dnadesign/infer/src/writers/usr.py
  src/dnadesign/latentdna/src/sources/usr_source.py
  src/dnadesign/usr/dataset.py
  src/dnadesign/usr/dataset_overlay_catalog.py
  src/dnadesign/usr/dataset_overlay_ops.py
  src/dnadesign/usr/overlays.py
  src/dnadesign/usr/tests/test_module_layout.py
Due: core, external_integration, usr, infer

latentdna: make study-bound workspaces portable
  src/dnadesign/latentdna/src/services/validation_service.py
  src/dnadesign/latentdna/src/workspaces/loader.py
  src/dnadesign/latentdna/tests/cli/test_workspace_command.py
Due: core, external_integration

studies: expose latentdna readiness for promoter study
  docs/studies/stress_ethanol_cipro_growth/pipeline.yaml
  src/dnadesign/latentdna/workspaces/stress_ethanol_cipro_growth/README.md
  src/dnadesign/latentdna/workspaces/stress_ethanol_cipro_growth/config.yaml
  src/dnadesign/studies/families/promoter/adapter.py
  src/dnadesign/studies/families/promoter/latentdna_readiness.py
  src/dnadesign/studies/tests/test_promoter_snapshot_latentdna.py
Due: core, external_integration

Support git-common-root DenseGen USR workspaces
  src/dnadesign/densegen/src/adapters/outputs/factory.py
  src/dnadesign/densegen/src/adapters/outputs/loader.py
  src/dnadesign/densegen/src/cli/inspect.py
  src/dnadesign/densegen/src/cli/notebook.py
  src/dnadesign/densegen/src/cli/run.py
  src/dnadesign/densegen/src/config/base.py
  src/dnadesign/densegen/src/config/output.py
  src/dnadesign/densegen/src/config/root.py
  src/dnadesign/densegen/src/core/pipeline/orchestrator.py
  src/dnadesign/densegen/src/core/reporting_data.py
  src/dnadesign/densegen/tests/config/test_config_strict.py
  src/dnadesign/densegen/workspaces/_shared/workspace_runbook_flow.sh
Due: core, external_integration, densegen

Add dataset-native DenseGen analysis plots
  src/dnadesign/densegen/src/viz/plot_dataset.py
  src/dnadesign/densegen/src/viz/plot_inventory.py
  src/dnadesign/densegen/src/viz/plot_registry.py
  src/dnadesign/densegen/src/viz/plotting.py
  src/dnadesign/densegen/tests/config/test_demo_config.py
  src/dnadesign/densegen/tests/plotting/test_plot_manifest.py
  src/dnadesign/densegen/tests/plotting/test_plot_registry.py
  src/dnadesign/densegen/tests/runtime/test_run_diagnostics_plots.py
  src/dnadesign/densegen/workspaces/study_stress_ethanol_cipro/README.md
  src/dnadesign/densegen/workspaces/study_stress_ethanol_cipro/config.yaml
  src/dnadesign/densegen/workspaces/study_stress_ethanol_cipro/runbook.md
Due: core, external_integration, densegen

densegen: annotate stress workspace CLI snippets
  src/dnadesign/densegen/workspaces/study_stress_ethanol_cipro/README.md
Due: core, external_integration, densegen

studies: cover repo-relative latentdna bindings
  src/dnadesign/studies/tests/test_promoter_snapshot_latentdna.py
Due: core, external_integration

densegen: keep workspace init read-only for shared usr roots
  src/dnadesign/densegen/docs/reference/cli.md
  src/dnadesign/densegen/src/cli/workspace.py
  src/dnadesign/densegen/tests/cli/test_cli_workspace_init.py
Due: core, external_integration, densegen

densegen: preserve dataset plot siblings on rerun
  src/dnadesign/densegen/src/viz/plotting.py
  src/dnadesign/densegen/tests/plotting/test_plot_manifest.py
Due: core, external_integration, densegen

stability: fix promoter status and latentdna CI regressions
  src/dnadesign/baserender/src/adapters/densegen_tfbs.py
  src/dnadesign/densegen/src/core/pipeline/orchestrator.py
  src/dnadesign/latentdna/src/plots/recipes.py
  src/dnadesign/ops/tests/test_progress_cli.py
  src/dnadesign/studies/tests/test_promoter_infer_runtime.py
  src/dnadesign/studies/tests/test_promoter_preflight.py
Due: core, external_integration, densegen, baserender

densegen: split oversized run helper modules
  src/dnadesign/densegen/src/cli/run_intro.py
  src/dnadesign/densegen/src/cli/run_outcome_extract.py
  src/dnadesign/densegen/src/cli/run_outcome_sources.py
  src/dnadesign/densegen/src/viz/plot_run.py
  src/dnadesign/densegen/src/viz/plot_run_inputs.py
Due: core, external_integration, densegen

repo: retire stale latdna tool surface
  .github/tool-coverage-baseline.json
  README.md
  codecov.yml
  docs/README.md
  docs/dev/monorepo-organization-audit.md
  src/dnadesign/latdna/README.md
  src/dnadesign/latdna/__init__.py
  src/dnadesign/latdna/analysis.py
  src/dnadesign/latdna/assets/latdna-banner.svg
  src/dnadesign/latdna/config.yaml
  src/dnadesign/latdna/generation.py
  src/dnadesign/latdna/main.py
  src/dnadesign/latdna/metrics.py
  src/dnadesign/latdna/utils.py
  src/dnadesign/latdna/validation.py
Due: core, external_integration, latdna

Refactor promoter study status routing
  .agents/skills/promoter-study-status/SKILL.md
  .agents/skills/promoter-study-status/references/external-sources.md
  .agents/skills/promoter-study-status/references/refresh-loop.md
  .agents/skills/promoter-study-status/references/route-matrix.md
  .agents/skills/promoter-study-status/references/study-surfaces.md
  .agents/skills/promoter-study-status/scripts/audit-promoter-study-status-skill.sh
  docs/notify/README.tool-source.yaml
  docs/runbooks/README.md
  docs/studies/README.md
  docs/studies/stress_ethanol_cipro_growth/pipeline.yaml
  docs/studies/stress_ethanol_cipro_growth/routes.md
  docs/studies/stress_ethanol_cipro_growth/status.md
  docs/templates/promoter-study-status.md
  src/dnadesign/cruncher/docs/README.tool-source.yaml
  src/dnadesign/latentdna/docs/README.md
  src/dnadesign/latentdna/docs/README.tool-source.yaml
  src/dnadesign/latentdna/docs/workflows/promoter-study-latent-atlas.md
  src/dnadesign/latentdna/tests/test_docs_contract.py
  src/dnadesign/ops/docs/README.tool-source.yaml
  src/dnadesign/ops/tests/test_catalog_cli.py
  src/dnadesign/studies/families/promoter/adapter.py
  src/dnadesign/studies/families/promoter/downstream_surfaces.py
  src/dnadesign/studies/families/promoter/latentdna_readiness.py
  src/dnadesign/studies/families/promoter/snapshot.py
  src/dnadesign/studies/tests/test_promoter_snapshot.py
  src/dnadesign/studies/tests/test_promoter_snapshot_latentdna.py
  src/dnadesign/usr/docs/operations/promoter-evo2-journey.md
  src/dnadesign/usr/docs/operations/promoter-study-status-contract.md
  src/dnadesign/usr/docs/operations/promoter-study-status-contract.registry.yaml
  src/dnadesign/usr/tests/test_usr_docs_contract.py
Due: core, external_integration, usr, cruncher

Refresh promoter-study status routes and contracts
  .agents/skills/promoter-study-status/SKILL.md
  .agents/skills/promoter-study-status/references/refresh-loop.md
  .agents/skills/promoter-study-status/references/route-matrix.md
  .agents/skills/promoter-study-status/references/study-surfaces.md
  .agents/skills/promoter-study-status/scripts/audit-promoter-study-status-skill.sh
  docs/README.md
  docs/studies/README.md
  docs/studies/stress_ethanol_cipro_growth/pipeline.yaml
  docs/studies/stress_ethanol_cipro_growth/routes.md
  docs/studies/stress_ethanol_cipro_growth/status.md
  src/dnadesign/infer/tests/docs/test_information_architecture_contracts.py
  src/dnadesign/infer/workspaces/study_stress_ethanol_cipro/README.md
  src/dnadesign/ops/tests/test_catalog_cli.py
  src/dnadesign/studies/families/promoter/adapter.py
  src/dnadesign/studies/families/promoter/analysis_surfaces.py
  src/dnadesign/studies/families/promoter/latentdna_readiness.py
  src/dnadesign/studies/families/promoter/snapshot.py
  src/dnadesign/studies/stress_ethanol_cipro_growth/README.md
  src/dnadesign/studies/stress_ethanol_cipro_growth/deliverables/atlas_2x2_intermediate_main.md
  src/dnadesign/studies/stress_ethanol_cipro_growth/figures/atlas_2x2_intermediate_main.md
  src/dnadesign/studies/stress_ethanol_cipro_growth/reference_sets/promoter_wt_core.yaml
  src/dnadesign/studies/stress_ethanol_cipro_growth/study.yaml
  src/dnadesign/studies/tests/test_promoter_snapshot.py
  src/dnadesign/studies/tests/test_promoter_snapshot_latentdna.py
  src/dnadesign/usr/docs/README.md
  src/dnadesign/usr/docs/operations/README.md
  src/dnadesign/usr/docs/operations/promoter-study-preflight.md
  src/dnadesign/usr/docs/operations/promoter-study-status-contract.md
  src/dnadesign/usr/docs/operations/promoter-study-status-contract.registry.yaml
  src/dnadesign/usr/tests/test_usr_docs_contract.py
Due: core, external_integration, usr, infer

Remove latentdna execution-helper barrel
  src/dnadesign/latentdna/docs/README.md
  src/dnadesign/latentdna/docs/dev/journal.md
  src/dnadesign/latentdna/src/api.py
  src/dnadesign/latentdna/tests/package/test_public_api_contracts.py
  src/dnadesign/latentdna/tests/package/test_source_tree_contracts.py
Due: core, external_integration

Refocus latentdna on whole-sequence promoter-study workflow
  docs/studies/stress_ethanol_cipro_growth/pipeline.yaml
  docs/studies/stress_ethanol_cipro_growth/routes.md
  docs/studies/stress_ethanol_cipro_growth/status.md
  src/dnadesign/latentdna/docs/reference/export-contract.md
  src/dnadesign/latentdna/docs/workflows/promoter-study-latent-atlas.md
  src/dnadesign/latentdna/src/agreements/compare.py
  src/dnadesign/latentdna/src/cli/commands/distance.py
  src/dnadesign/latentdna/src/cli/previews.py
  src/dnadesign/latentdna/src/contracts/notebook.py
  src/dnadesign/latentdna/src/contracts/plot.py
  src/dnadesign/latentdna/src/distances/score.py
  src/dnadesign/latentdna/src/exports/matrix.py
  src/dnadesign/latentdna/src/notebooks/browser_runtime.py
  src/dnadesign/latentdna/src/notebooks/browser_runtime_projection.py
  src/dnadesign/latentdna/src/notebooks/browser_runtime_support.py
  src/dnadesign/latentdna/src/notebooks/scaffold_panels.py
  src/dnadesign/latentdna/src/notebooks/scaffold_selectors.py
  src/dnadesign/latentdna/src/plots/recipes.py
  src/dnadesign/latentdna/src/plots/render.py
  src/dnadesign/latentdna/src/services/distance_service.py
  src/dnadesign/latentdna/src/services/notebook_controls_service.py
  src/dnadesign/latentdna/src/services/recipe_service.py
  src/dnadesign/latentdna/src/services/validation_service.py
  src/dnadesign/latentdna/tests/contracts/test_promoter_atlas_addendum_template.py
  src/dnadesign/latentdna/tests/contracts/test_study_workspace_contracts.py
  src/dnadesign/latentdna/tests/integrations/test_phase18_promoter_atlas_addendum_workflow.py
  src/dnadesign/latentdna/tests/integrations/test_phase7_notebook_workflow.py
  src/dnadesign/latentdna/tests/integrations/test_phase9_export_alignment_workflow.py
  src/dnadesign/latentdna/tests/test_docs_contract.py
  src/dnadesign/latentdna/workspaces/stress_ethanol_cipro_growth/README.md
  src/dnadesign/latentdna/workspaces/stress_ethanol_cipro_growth/config.yaml
  src/dnadesign/latentdna/workspaces/templates/landmark_atlas_committee/config.yaml
  src/dnadesign/studies/stress_ethanol_cipro_growth/deliverables/context_audit_primary_20b.md
  src/dnadesign/studies/stress_ethanol_cipro_growth/deliverables/geometry_switchboard_20b.md
  src/dnadesign/studies/stress_ethanol_cipro_growth/deliverables/reference_alignment_primary_20b.md
  src/dnadesign/studies/stress_ethanol_cipro_growth/deliverables/x2_primary_20b.md
Due: core, external_integration

baserender: refine densegen preview framing
  src/dnadesign/baserender/src/adapters/densegen_tfbs.py
  src/dnadesign/baserender/src/config/style_v1.py
  src/dnadesign/baserender/src/outputs.py
  src/dnadesign/baserender/src/render/effects/boundary_marker.py
  src/dnadesign/baserender/src/render/effects/span_link.py
  src/dnadesign/baserender/src/render/sequence_rows.py
  src/dnadesign/baserender/tests/test_densegen_adapter.py
  src/dnadesign/baserender/tests/test_video_frame_sizing.py
Due: core, external_integration, baserender

densegen: refresh docs and operator runbooks
  docs/bu-scc/jobs/README.md
  docs/bu-scc/jobs/densegen-analysis.qsub
  docs/dev/journal.md
  docs/operations/ops-failure-contract.md
  docs/runbooks/README.md
  docs/studies/stress_ethanol_cipro_growth/audits/2026-04-17-densegen-plot-notebook-contract-audit.md
  docs/studies/stress_ethanol_cipro_growth/audits/2026-04-17-densegen-promoter-status-quality-audit.md
  src/dnadesign/cruncher/tests/docs/test_workspace_runbook_contracts.py
  src/dnadesign/densegen/docs/concepts/workspace.md
  src/dnadesign/densegen/docs/dev/journal.md
  src/dnadesign/densegen/docs/howto/cruncher_pwm_pipeline.md
  src/dnadesign/densegen/docs/howto/hpc.md
  src/dnadesign/densegen/docs/reference/cli.md
  src/dnadesign/densegen/docs/reference/config.md
  src/dnadesign/densegen/docs/reference/outputs.md
  src/dnadesign/densegen/docs/tutorials/demo_sampling_baseline.md
  src/dnadesign/densegen/docs/tutorials/demo_tfbs_baseline.md
  src/dnadesign/densegen/docs/tutorials/study_constitutive_sigma_panel.md
  src/dnadesign/densegen/docs/tutorials/study_stress_ethanol_cipro.md
  src/dnadesign/densegen/tests/docs/test_bu_scc_docs_contracts.py
  src/dnadesign/densegen/tests/docs/test_densegen_docs_ia_contracts.py
  src/dnadesign/densegen/workspaces/README.md
  src/dnadesign/densegen/workspaces/demo_sampling_baseline/runbook.md
  src/dnadesign/densegen/workspaces/demo_tfbs_baseline/runbook.md
  src/dnadesign/densegen/workspaces/study_constitutive_sigma_panel/runbook.md
  src/dnadesign/densegen/workspaces/study_stress_ethanol_cipro/README.md
  src/dnadesign/densegen/workspaces/study_stress_ethanol_cipro/runbook.md
Due: core, external_integration, densegen, cruncher

latentdna: serialize projection fits and reuse full-population views
  src/dnadesign/latentdna/src/contracts/errors.py
  src/dnadesign/latentdna/src/projections/fit.py
  src/dnadesign/latentdna/src/services/memory_service.py
  src/dnadesign/latentdna/src/services/operation_lock_service.py
  src/dnadesign/latentdna/src/services/projection_service.py
  src/dnadesign/latentdna/tests/integrations/test_memory_preflight.py
  src/dnadesign/latentdna/tests/integrations/test_source_projection_plot_workflow.py
  src/dnadesign/latentdna/tests/test_projection_fit_contracts.py
Due: core, external_integration

latentdna: add hue-aware plot specs and humanized labels
  src/dnadesign/latentdna/src/contracts/plot.py
  src/dnadesign/latentdna/src/labels.py
  src/dnadesign/latentdna/src/plots/recipes.py
  src/dnadesign/latentdna/src/services/_plot_payloads.py
  src/dnadesign/latentdna/src/services/notebook_geometry_controls.py
  src/dnadesign/latentdna/tests/contracts/test_plot_gallery_contracts.py
  src/dnadesign/latentdna/tests/contracts/test_plot_shape_contract.py
  src/dnadesign/latentdna/tests/contracts/test_promoter_reference_margin_template.py
  src/dnadesign/latentdna/tests/contracts/test_study_workspace_contracts.py
  src/dnadesign/latentdna/tests/test_labels.py
  src/dnadesign/latentdna/workspaces/stress_ethanol_cipro_growth/config.yaml
  src/dnadesign/latentdna/workspaces/stress_ethanol_cipro_growth/plot_semantics/appendix_umap_gallery.yaml
  src/dnadesign/latentdna/workspaces/stress_ethanol_cipro_growth/plot_semantics/context_shift_reference_plane.yaml
  src/dnadesign/latentdna/workspaces/stress_ethanol_cipro_growth/plot_semantics/dataset_overview.yaml
  src/dnadesign/latentdna/workspaces/stress_ethanol_cipro_growth/plot_semantics/reference_margin_gallery_synthetic_centroids.yaml
  src/dnadesign/latentdna/workspaces/stress_ethanol_cipro_growth/plot_semantics/reference_margin_gallery_wildtype.yaml
  src/dnadesign/latentdna/workspaces/templates/promoter_reference_margin_benchmark/config.yaml
  src/dnadesign/latentdna/workspaces/templates/promoter_reference_margin_benchmark/plot_semantics/appendix_umap_gallery.yaml
  src/dnadesign/latentdna/workspaces/templates/promoter_reference_margin_benchmark/plot_semantics/context_shift_reference_plane.yaml
  src/dnadesign/latentdna/workspaces/templates/promoter_reference_margin_benchmark/plot_semantics/dataset_overview.yaml
  src/dnadesign/latentdna/workspaces/templates/promoter_reference_margin_benchmark/plot_semantics/reference_margin_gallery_synthetic_centroids.yaml
  src/dnadesign/latentdna/workspaces/templates/promoter_reference_margin_benchmark/plot_semantics/reference_margin_gallery_wildtype.yaml
Due: core, external_integration

latentdna: harden notebook plot rendering and layout
  src/dnadesign/latentdna/src/notebooks/browser_runtime.py
  src/dnadesign/latentdna/src/notebooks/browser_runtime_compare.py
  src/dnadesign/latentdna/src/notebooks/browser_runtime_plot_review.py
  src/dnadesign/latentdna/src/notebooks/browser_runtime_projection.py
  src/dnadesign/latentdna/src/notebooks/browser_runtime_support.py
  src/dnadesign/latentdna/src/notebooks/scaffold.py
  src/dnadesign/latentdna/src/notebooks/scaffold_panels.py
  src/dnadesign/latentdna/src/notebooks/scaffold_selectors.py
  src/dnadesign/latentdna/src/plots/render.py
  src/dnadesign/latentdna/src/scalars/build.py
  src/dnadesign/latentdna/src/visual_style.py
  src/dnadesign/latentdna/tests/integrations/test_notebook_generation_workflow.py
  src/dnadesign/latentdna/tests/integrations/test_plot_gallery_rendering.py
  src/dnadesign/latentdna/tests/test_browser_runtime.py
  src/dnadesign/latentdna/tests/test_browser_runtime_plot_review.py
  src/dnadesign/latentdna/tests/test_browser_runtime_support.py
  src/dnadesign/latentdna/tests/test_scalar_build.py
Due: core, external_integration

opal: rename human output surfaces to text
  src/dnadesign/opal/docs/maintainers/journal.md
  src/dnadesign/opal/src/cli/commands/_common.py
  src/dnadesign/opal/src/cli/commands/campaign_reset.py
  src/dnadesign/opal/src/cli/commands/ctx.py
  src/dnadesign/opal/src/cli/commands/demo_matrix.py
  src/dnadesign/opal/src/cli/commands/explain.py
  src/dnadesign/opal/src/cli/commands/guide.py
  src/dnadesign/opal/src/cli/commands/ingest_y.py
  src/dnadesign/opal/src/cli/commands/init.py
  src/dnadesign/opal/src/cli/commands/label_hist.py
  src/dnadesign/opal/src/cli/commands/ledger_compact.py
  src/dnadesign/opal/src/cli/commands/log.py
  src/dnadesign/opal/src/cli/commands/model_show.py
  src/dnadesign/opal/src/cli/commands/objective_meta.py
  src/dnadesign/opal/src/cli/commands/prune_source.py
  src/dnadesign/opal/src/cli/commands/record_show.py
  src/dnadesign/opal/src/cli/commands/run.py
  src/dnadesign/opal/src/cli/commands/runs.py
  src/dnadesign/opal/src/cli/commands/status.py
  src/dnadesign/opal/src/cli/commands/validate.py
  src/dnadesign/opal/src/cli/commands/verify_outputs.py
  src/dnadesign/opal/src/cli/formatting/__init__.py
  src/dnadesign/opal/src/cli/formatting/renderers/explain.py
  src/dnadesign/opal/src/cli/formatting/renderers/guide.py
  src/dnadesign/opal/src/cli/formatting/renderers/ingest.py
  src/dnadesign/opal/src/cli/formatting/renderers/init.py
  src/dnadesign/opal/src/cli/formatting/renderers/log.py
  src/dnadesign/opal/src/cli/formatting/renderers/model.py
  src/dnadesign/opal/src/cli/formatting/renderers/record.py
  src/dnadesign/opal/src/cli/formatting/renderers/run.py
  src/dnadesign/opal/src/cli/formatting/renderers/runs.py
  src/dnadesign/opal/src/cli/formatting/renderers/status.py
  src/dnadesign/opal/src/cli/guidance_hints.py
  src/dnadesign/opal/src/plots/_param_utils.py
  src/dnadesign/opal/src/storage/parquet_io.py
  src/dnadesign/opal/tests/cli/test_cli_run_renderer.py
  src/dnadesign/opal/tests/ingest/test_ingest_preview_counts.py
Due: core, external_integration, opal

studies: rewrite latentdna deliverable plot details
  src/dnadesign/studies/stress_ethanol_cipro_growth/deliverables/appendix_umap_gallery.md
  src/dnadesign/studies/stress_ethanol_cipro_growth/deliverables/context_geometry_audit.md
  src/dnadesign/studies/stress_ethanol_cipro_growth/deliverables/dataset_overview.md
  src/dnadesign/studies/stress_ethanol_cipro_growth/deliverables/reference_margin_analysis.md
  src/dnadesign/studies/stress_ethanol_cipro_growth/deliverables/representation_comparison.md
  src/dnadesign/studies/stress_ethanol_cipro_growth/deliverables/representation_health_diagnostic.md
Due: core, external_integration

usr: tighten promoter-study status route contracts
  src/dnadesign/ops/tests/test_catalog_cli.py
  src/dnadesign/ops/tests/test_status_registry_lazy_loading.py
  src/dnadesign/ops/tests/test_status_service_inputs.py
  src/dnadesign/usr/docs/operations/promoter-evo2-journey.md
  src/dnadesign/usr/docs/operations/promoter-study-status-contract.md
  src/dnadesign/usr/docs/operations/promoter-study-status-contract.registry.yaml
  src/dnadesign/usr/tests/test_usr_docs_contract.py
Due: core, external_integration, usr
